[2020-05-20 18:46] lyzadanger commented on #1108
I think we can do this, but is the suggestion to replace the current `aria-label` value with this (i.e. Instead of "Annotations", the `aria-label` would be "Annotations (quantity 1)" or...somewhere else in _addition_ to the `aria-label` value?

[2020-05-20 18:55] lyzadanger commented on #1110
It confuses me as to why the "Help" toggle should have an `aria-expanded` attribute, but not the "Share annotations" toggle, which has identical functionality (show/hide a panel in the sidebar). Help?

[2020-05-20 19:02] klemay commented on #1108
I will confirm with the auditor- but I believe as long as VoiceOver and NVDA communicate "quantity 1" we are good!

[2020-05-20 19:04] klemay commented on #1110
Sounds like we need `aria-expanded` attribute on both - I will confirm with the auditor and update the issue text if needed!

[2020-05-21 12:30] #1107 closed, assigned to lyzadanger

[2020-05-21 14:24] lyzadanger commented on #1111
@klemay The `aria-pressed` cited here for the Help toggle is changing to `aria-expanded` as of https://github.com/hypothesis/client/pull/2189

Do you know what the "annotation panel toggle" is? Is that the entire sidebar?

It sounds like the desire is to use `aria-expanded` in these instances...maybe? At least that seems to be the thrust of the other concrete issues. Let's say we merge https://git

[2020-05-21 14:49] klemay commented on #1111
@lyzadanger yes, the "annotation panel toggle" is the button that opens and closes the sidebar. so if we merge https://github.com/hypothesis/client/pull/2189 and add `aria-expanded` to the button that opens and closes the sidebar, we'll have a consistent experience for all 3 items and can close this issue

[2020-05-21 21:28] #1110 closed, assigned to lyzadanger

[2020-05-21 21:42] #1108 closed, assigned to lyzadanger

[2020-05-21 21:47] #1109 closed, assigned to lyzadanger

[2020-05-25 14:05] mkdir-washington-edu commented on #878
This user has provided better steps for reproducing the error: https://hypothesis.zendesk.com/agent/tickets/10230

The uncontrolled scrolling seems to happen when the text selection passes over the Hypothesis Adder.

[2020-05-25 20:34] hubgit opened #1113 ""Cookies required" pages when viewing journal articles in via"
### Steps to reproduce
1. Open https://via.hypothes.is/https://linkinghub.elsevier.com/retrieve/pii/S0720-048X(20)30250-3
2. Observe redirection to a page with message "This site requires Cookies to be enabled to function".

### Expected behaviour
I'd like to be able to view pages that require cookies to be enabled.

### Actual behaviour
It's not possible to view pages that require cookies to be e

[2020-05-26 09:19] robertknight commented on #1113
Hello @hubgit 👋

Thanks for the report. Via currently blocks cookies to prevent them from being shared between different sites proxied through via.hypothes.is. This is important from a security perspective and we'd need to resolve that before we could consider enabling cookies at all.

[2020-05-26 12:50] lyzadanger commented on #1111
@klemay I believe our merged a11y fixes from last week should settle this issue. Can you confirm and we can close?

[2020-05-27 15:56] #1112 closed, assigned to nobody

[2020-05-27 16:09] klemay opened #1114 "EPIC: Full support for WCAG AA 2.1 Compliance"
We had the IDRC assess us against WCAG 2.1 AA standards, and we received a "Supports" rating for all but 2 criteria. We received a "Partially Supports" for 2 criteria, and I've created Github issues to address them:

- [x] 2.5.3 Label in Name: #1127
- [x] 1.4.13 Content on Hover or Focus: #1128

[2020-05-27 16:44] #1111 closed, assigned to lyzadanger

[2020-05-27 16:49] klemay commented on #878
@mkdir-washington-edu is it possible to copy and paste the steps for repro-ing + any screenshots provided without giving away any of the user's personal info?

[2020-05-28 14:57] lyzadanger commented on #1103
Likely, this is good news. This seems to be widely reported against the dependency we use (`redoc`) to build these docs, and it appears to have been fixed in a newer version: https://github.com/Redocly/redoc/issues/1170

We "manage" the version of this dependency in an unusual way, see, e.g. https://github.com/hypothesis/h/blob/master/docs/_extra/api-reference/index.html

It may be as easy as upda

[2020-05-29 11:34] #1103 closed, assigned to lyzadanger

[2020-05-29 15:57] klemay commented on #1114
NOTE: [one of our Summer 2020 pilots](https://hypothes-is.slack.com/archives/C8TPC8XMK/p1590704888106200) will need concrete plans for getting to 2.1 in order to continue using Hypothesis in the fall.

[2020-06-01 00:08] ritobruno commented on #823
Hello, I'm new here and I noticed that this issue has been inactive for some time.
I agree that it's hard to notice the instruction while typing, so my question is, are they necessary? The user can search and get results without using the suggestions.

[2020-06-01 12:12] mkdir-washington-edu commented on #198
https://hypothesis.zendesk.com/agent/tickets/10395

[2020-06-01 17:15] klemay commented on #823
Hi @ritobruno! Yes, this issue has been inactive because this part of our code will need to be refactored before we can make meaningful improvements.

The user can indeed continue to type and perform a search even though the instructions disappear - this issue is asking for a usability/accessibility improvement.

[2020-06-01 20:09] ritobruno commented on #823
Thanks @klemay.
I'll wait for the code refactor and meanwhile, I will think and maybe design some usability improvements for this component. Is it the right time for this, or should I wait for green light of someone?

[2020-06-01 21:50] klemay commented on #823
@ritobruno we're a small team currently focused on other areas of the code, so unfortunately I wouldn't be able to guarantee that we'd be able to do a code review for something like this - however we welcome suggestions for usability improvements in the form of user stories / feature requests! those could be shared at any time as a comment on this issue.

[2020-06-01 21:56] ritobruno commented on #823
Okay @klemay, as a new user of Hypothesis and designer I'm searching for something to start my collaboration with you.
Any advice?

[2020-06-02 16:38] klemay commented on #823
@ritobruno since we're such a small org we're not really set up to manage a collaboration like this. if you're looking for ways to contribute to open source projects more generally, I'd suggest searching github for tags like "help wanted" to find open source projects that can review and include outside contributions. As we continue to grow we may be able to do something like this in the future - w

[2020-06-03 17:30] dwhly opened #1115 "Old H logo visible on iMessage unfurl"
## Bug report form
### Steps to reproduce
1. Go to iMessage
2. Paste a group link, for instance: https://hypothes.is/groups/igRizgwB/

### Expected behaviour
Group link should unfurl w/ current H logos

### Actual behaviour
Group link unfurls w/ old H logo

### Browser/system information
iMessage, any version

![Screen Shot 2020-06-03 at 10 29 19 AM](https://user-images.githubusercontent.com/14130

[2020-06-04 09:46] hubgit commented on #1113
Thanks @robertknight, that's reasonable.

If there are only a few sites that suffer from this problem maybe it's better that they support reading without cookies enabled.

[2020-06-04 09:46] #1113 closed, assigned to nobody

[2020-06-04 19:35] mkdir-washington-edu commented on #878
@klemay Sure! I don't think the user's info is in any of this. Here's their explanation:

Screenshot:
![screen](https://user-images.githubusercontent.com/22603275/83802123-35602080-a678-11ea-9b99-4339b3dd05c7.jpg)

Can't upload the vid to GitHub, find it here: https://drive.google.com/file/d/13RPufs9ZrDXRZ2AAEEx4zDPVyZgUXqEK/view?usp=sharing

---

In the video, you can see the issue happens when t

[2020-06-08 19:02] dwhly opened #1116 "Keyboard shortcut to close sidebar"
## Feature Request Form
### Problem you are trying to address with this feature
There's currently no direct keyboard shortcut to close the sidebar.  You *can* tab to the chevron in the UX and enter to activate it, which will close the sidebar if opened, but it would be helpful to have a specific shortcut to do this.

### Your solution
Map [ESC] to closing the sidebar.

### Add tags - did you add l

[2020-06-10 15:20] maciejmotyka commented on #1116
Yes, please. I use Vimium to select the text and annotate it - all done via keyboard. Closing the sidebar and giving focus back to the page is the only activity that needs a mouse intervention.

[2020-06-10 16:23] klemay commented on #1106
First step: see whether deleted messages (and their replies) are filtered on the frontend or backend - will determine how complex the fix is

[2020-06-17 17:42] sean-fitzpatrick commented on #918
I just came across this after discovering that highlighting mathematics doesn't work.
Hypothes.is is new to me: it was suggested as a tool by our Teaching Centre, so I tried adding it to one of my books:
[http://www.cs.uleth.ca/~fitzpat/apex-hypothesis/sec_continuity.html](http://www.cs.uleth.ca/~fitzpat/apex-hypothesis/sec_continuity.html)

If I try to highlight any MathJax-rendered text, I get a

[2020-06-17 19:54] judell commented on #918
Thanks for pointing this out, @sean-fitzpatrick.

I'm curious how one selects anything at all in the latest v3 of MathJax. I tried their sample page and couldn't.

[code]

Here is the DOM:

![image](https://user-images.githubusercontent.com/46509/84942915-70ab1800-b098-11ea-9255-6332416bf9a2.png)

The a in 2a is in the content attribute of an element targeted by a ::before selector. That seems not

[2020-06-17 20:00] sean-fitzpatrick commented on #918
Books built with PreTeXt (like mine) are not yet using MathJax 3. (There are some things at risk of breaking that need to be addressed before PreTeXt can upgrade.)
The reason things look so complicated when you inspect MathJax is that there is a lot of accessibility support built in. In particular, there are navigation tools that work with screen readers so that a blind reader can parse that conte

[2020-06-17 20:48] judell commented on #918
Huh. Live and learn. It's a tricky challenge to be sure, I'm not sure what's the right answer, maybe LaTeX mode for selection?

[2020-06-17 21:03] sean-fitzpatrick commented on #918
OK -- some success.
- useless success: change display mode to plain source. (but now you're reading LaTeX instead of math)
- partial useful success: change math renderer from common HTML to HTML-CSS. You can now highlight an equation. But if you try to highlight a paragraph with multiple equations, the highlighting doesn't get past the first equation.

[2020-06-18 19:31] sean-fitzpatrick commented on #918
Follow-up. I asked Davide Cervone of MathJax about this on their [Google group](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!topic/mathjax-users/Mm_pw4_cZgA). Here is his response:

Using HTML-CSS isn't an option: it's deprecated in MathJax v2, and gone in v3.
For typical student use with things as they are now, I think we just tell them that they can't highlight math.

[2020-06-19 15:38] klemay opened #1117 "Fix the Hypothesis Blackboard instance"
Our license for our developer instance of Blackboard has expired.

 I took care of payment + membership renewal; next step is to get our Bb instance back up and running. I have forwarded the following to our eng email list [you can search your email for the terms in **bold** to find the subject lines]:

- **Blackboard Developer Network Membership Package**: contains 2 developer licenses. These hav

[2020-06-22 02:43] thesofakillers commented on #110
Hi Guys, is this still in the works? I love hypothesis but often I find that I would much rather only see my annotations on a given page, and that annotations from other users can cause clutter.

[2020-06-22 20:57] klemay commented on #110
Hi @thesofakillers, thanks for asking about this! We currently don't have plans to work on this, as we're primarily focused on our LMS app at the moment.

I've added this issue to the agenda for our next backlog review meeting, scheduled to take place in three weeks. If this ends up getting placed into a higher priority position, I'll let you know.

[2020-06-23 15:42] seanh commented on #1046
_On small screens, or at small widths, the sidebar may have to cover the PDF so the PDF remains readable_ <- This will apply in LMS

[2020-06-23 16:15] robertknight commented on #1046
We discussed this on a sprint planning call just now. One of the things I think we should try to identify in this coming sprint is should we:

1. Always shrink/shift the page when the sidebar is open
2. Shrink/shift it conditionally using some smart logic (ala. [the comment above](https://github.com/hypothesis/product-backlog/issues/1046#issuecomment-530798369))
3. Provide some kind of control or

[2020-06-23 16:35] klemay commented on #1117
Closing in favor of https://github.com/hypothesis/lms/issues/1668

[2020-06-23 16:35] #1117 closed, assigned to nobody

[2020-06-24 17:24] dwhly opened #1118 "Reimplement Show Differences"
## Feature Request Form
### Problem you are trying to address with this feature

We used to have a feature called "Show differences" that would let a user see the difference between the stored selection and the matched anchor in the DOM.

### Your solution

Reimplement it.

![68747470733a2f2f662e636c6f75642e6769746875622e636f6d2f6173736574732f323039333739322f313736343439312f38383834383334632d36373

[2020-06-24 19:23] judell commented on #1046
See Slack discussion here, https://hypothes-is.slack.com/archives/C2BLQDKHA/p1593012739226700:

This is what I'm referring to above.

[2020-06-24 21:06] klemay opened #1119 "Submit browser extension to Microsoft Partner Center"
Now that Edge is Chromium-based and supports browser extensions, we can package and submit our browser extension to the Microsoft Partner Center. This would involve:

- [ ] [Create a developer account](https://partner.microsoft.com/dashboard/microsoftedge/public/login?ref=dd) for the Microsoft Partner center; store credentials in 1Password
- [ ] [Follow the instructions here to submit the extensio

[2020-06-29 20:52] klemay commented on #395
This came up today in our public Slack channel - logging [that conversation](https://hypothesis-open.slack.com/archives/C6Y375TT3/p1593443542133700) here.

[2020-06-29 21:12] dwhly commented on #395
There are a couple options.
- We might make the visibility of highlights in private groups, based on a config.
- We might possibly default all highlights to "only me" but make it possible to override that-- even in public.
- We could keep the current behaviour, but make even Only Me highlights shareable by a direct link.
- We could make a new permission type which is a "personal but shareable" opt

[2020-06-30 20:42] mkdir-washington-edu commented on #944
Possibly the same issue: https://github.com/hypothesis/support/issues/122

[2020-07-01 09:53] indigobravo commented on #1082
First point that is going to need addressing here is our access to the Analytics server. It was initially deployed with David's ssh key. Luckily we do have access via AWS Session Manager, but that is painful and not something we want to be using in the case of an emergency.

I am almost tempted to say we deploy another environment and migrate the whole service over. That way we can use terraform a

[2020-07-01 14:00] indigobravo commented on #1082
Meeting has been arranged with Rob 2020-07-02. Based on that a production readiness plan will be devised, which can be prioritized and scheduled accordingly.

[2020-07-01 17:24] klemay commented on #944
Closing in favor of https://github.com/hypothesis/support/issues/122

[2020-07-01 17:24] #944 closed, assigned to nobody

[2020-07-01 19:14] dmfine commented on #1082
I'll send that key if you want

On July 1, 2020 2:53:46 AM PDT, indigobravo <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2020-07-02 13:35] indigobravo commented on #1082
Hi @dmfine,

It would be great if you could send over the key.

Could you please encrypt the SSH key with my public that can be found [here](http://www.indigobravo.com/keys/ian.burden@indigobravo.com.public.gpg.key) and email it to ian.burden@hypothes.is?

Best regards,

Ian

[2020-07-02 17:05] dmfine commented on #1082
Sure thing, I'll be home tonight to do that.

On July 2, 2020 6:36:02 AM PDT, indigobravo <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2020-07-02 18:16] mkdir-washington-edu commented on #466
Other tickets:
https://hypothesis.zendesk.com/agent/tickets/10997 - Leaving students 1:1 feedback on annotations.

[2020-07-05 12:01] cjnchk commented on #447
This shortcuts conflict with vimium, It would be perfect if can customize.

[2020-07-05 12:39] maciejmotyka commented on #447
@cjnchk You can use vimium's `passNextKey` command to tell vimium that the next key you press should not be intercepted and should go to the website (or hypothes.is). Alternatively you can use vimium's `insert mode` to disable vimium until the `<Esc>` is pressed. The only difference here is that `passNextKey` will pass only one key to the website, whereas `insert mode` will pass all the keys press

[2020-07-05 14:43] aerobio opened #1120 "Highlight all annotations, regardless of group"
## Feature Request

As a user who creates public, personal and group annotations
I would like to have any of them highlighted when I visit a page
In order to avoid cycling through the "my groups" drop down list to check each one of them.

### Problem you are trying to address with this feature

When I open a page and activate Hypothesis I can never be sure whether there is an annotation on that pa

[2020-07-07 16:06] amirhhz commented on #111
Hi, just popping in here to ask if any progress can be made on *any* ability to move annotations between groups, individually or in groups? Even if limited to those without any social interactions attached to them?

[2020-07-07 18:24] klemay commented on #111
Hi @amirhhz, we haven't worked on this and don't have plans to in the immediate future. Our Director of Integrations created a tool that enables _copying_ annotations from one group to another via the API which might be helpful in the meantime: https://jonudell.info/h/CopyAnnotations/

Note that this tool will only take your own annotations (so it won't grab replies left by other users).

[2020-07-07 19:23] amirhhz commented on #111
Thanks, @klemay - will try that out :D

[2020-07-08 16:46] klemay commented on #110
Related to https://github.com/hypothesis/product-backlog/issues/111

[2020-07-08 16:46] klemay commented on #111
Related to https://github.com/hypothesis/product-backlog/issues/110

[2020-07-09 09:49] Faris999 commented on #1098
I would also like to have this feature.

[2020-07-09 10:56] a3nm opened #1137 "Cannot undo "Report this annotation to moderators""
### Steps to reproduce
1. On an annotation, click the "Report this annotation to moderators" button by mistake
2. The flag icon becomes red and says "Annotation has been reported to the moderators"
3. Click on the flag or try otherwise try to undo the report

### Expected behaviour
There should be a way to undo the report (probably by clicking on the flag)

### Actual behaviour
There does not seem

[2020-07-09 23:57] iron4548 opened #1121 "Ability to give user permission to 'close/archive/delete' other person's annotation"
We have a person that does all documentation for our software and this documentation is on the web on staging / development server behind the company firewall.

This documentation was given to us to review, and we found this plugin (hypothesis.io) and it's prefect for our needs because it allows us to add comments within context, and keeps it all in one place.

But it fell short of one important t

[2020-07-10 16:57] dwhly opened #1122 "If tags aren not "entered" they don't save"
## Feature Request Form
### Problem you are trying to address with this feature

Currently, if you begin typing a tag, but do not press enter, it will not save it.  I've been caught by this many times, and over the last two weeks have personally observed it in the wild w/ other users.

![Kapture 2020-07-10 at 9 54 34](https://user-images.githubusercontent.com/1413074/87179326-67762b00-c293-11ea-8c

[2020-07-12 22:41] papatistos commented on #395
Not sure what "based on a config" means, but if that config setting would allow the user to override the default of highlights being "only me" (as in option 2 below), then I'm all for it in combination with option 2, i.e. if the default setting can still be overwritten in each annotation.

I think this is a good option. Intuitive to understand, easy to use (and easy to implement?)

While it seems

[2020-07-14 14:56] jon-betts opened #1123 "Consider changing our documentation tools and practices"
## Background

I think there are some missing characteristics from our documentation solutions that can't be fixed in the individual tools we use. At the moment it's hard to articulate those exact issues for lack of an example. As a very quick stab at those, I'd say they revolve around:

 * Effort barriers that render tools ineffective
 * A lack of intra-document linking (table of contents, easy j

[2020-07-14 14:57] lyzadanger commented on #1123
PEANUT GALLERY COMMENT COMING UP: Really dislike Basecamp's editor (have used much, and recently tried to use BC for organizing a community event).

[2020-07-15 00:07] dwhly commented on #1123
Here's a philosophical data point:

A few years back we were evaluating knowledge base solutions-- i.e. a store of knowledge about the product and service that tends to surface and be needed within a customer support context.  For us, our kb started early on as a FAQ and then became more.  We soon outgrew our clumsy FAQ page.

Zendesk had a KB offering, and it was one of the solutions that we look

[2020-07-15 00:20] dwhly commented on #1123
I'm not sure I agree w/ this one.  I think we have a preference for high quality solutions that look like the code base or service isn't disappearing anytime soon.  We want something likely to be around in 10 years and probably 20.  A smaller / independent company might provide this, but a larger one could too.  I'm very happy we're on (self-hosted) Wordpress for our website for instance.  Not lik

[2020-07-15 03:50] akuckartz commented on #1123
Please use Open Source. And please consider [Semantic MediaWiki](https://www.semantic-mediawiki.org/).

[2020-07-15 14:25] dwhly commented on #1123
I'd definitely add this as a factor in our comparison matrix.

[2020-07-15 15:51] dwhly opened #1124 "Sidebar magnified on docdrop"
## Bug report form
### Steps to reproduce
1. Go here: https://docdrop.org/pdf/1Vsd26C0KuMw4Mj1WEBjBz1T8G75vIhWx-gaQEE.pdf/
2. Open sidebar

### Expected behaviour
Sidebar should be normal size

### Actual behaviour
Sidebar is magnified.  Why?

### Additional details

[2020-07-15 16:01] robertknight commented on #1124
Hi @dwhly - Can you post a screenshot of what you are seeing? Nothing jumped out at me as unusual when I had a quick look in Chrome and Safari just now.

[2020-07-15 23:14] mkdir-washington-edu opened #1261 ""Malformed LTI outcome response" in the LMS app when trying add grades to the grading bar in Blackbaud"
**Describe the bug**
In a user's Blackbaud instance (and in two Moodle instances) the grading bar isn't working. There is only a swirling icon in the field where you would enter a grade. If you add a number to that field and try to submit, you get an error saying there's a malformed LTI outcome response:
<img width="760" alt="Screen Shot 2020-07-15 at 2 36 56 PM" src="https://user-images.githubuse

[2020-07-16 17:12] jon-betts commented on #1123
Honestly I think this whole conversation has moved some distance from where I initially envisaged it, which was:

* I think there's a gap
* As it's not something we have, we don't rely on it
* So it's not perceived of as a gap
* So our solutions all consist of remixing things we have
* The gap remains

As it's very hard to get people to see why it might be beneficial to add a capability, I think a

[2020-07-21 16:45] klemay opened #1125 "Look into adding Flipgrid to list of supported video embeds"
This feature request comes from [a Twitter thread](https://twitter.com/dwhly/status/1284934280204873728) with a user who teaches with both Hypothesis and Flipgrid, an increasingly popular ed tech tool.

Flipgrid has a feature called [Private Share links](https://help.flipgrid.com/hc/en-us/articles/360003498733-Share-a-single-video-with-Private-Share-Links) which work much like a Youtube or Vimeo l

[2020-07-22 18:13] klemay opened #1126 "Remove flag icon from annotation cards for LMS users"
As part of our Sections work, we needed to temporarily remove moderation capabilities for LMS users. We removed the functionality but did not actually remove the icon. Now we have a flag icon that doesn't do anything, which is confusing for students and faculty:

<img width="1368" alt="Screen Shot 2020-07-22 at 2 03 26 PM" src="https://user-images.githubusercontent.com/12087705/88212533-6941d600-c

[2020-07-24 13:14] #1125 closed, assigned to nobody

[2020-07-29 16:18] klemay commented on #1104
notes from backlog review mtng: Rob: there are customizations we've applied to pdf.js for our projects that would need to be configured for pdf.js. might be easier to remove unused functionality from dropdoc and then reimplement from scratch (can ping Rob with tech questions). current repo has script to keep pdf.js up to date. use that repo as/is or view history of commits.

[2020-07-29 16:20] #1104 closed, assigned to robertknight

[2020-07-30 05:30] cjnchk commented on #447
@maciejmotyka I use the visual mode to highlight,  but the highlight disappeared after I pressed \<Enter\>,  instead it performed a copy operation, which prevents me from performing subsequent operations.

Is there any other way to exit the visual mode without making the highlight disappear?

My inner thought is that these methods are too circumstantial, not good, changing the shortcut keys is the

[2020-07-31 21:12] klemay opened #1127 "Change button title and input placeholder in client to meet WCAG 2.1 criterion: 2.5.3 Label in Name"
[2.5.3 Label in Name ](https://www.w3.org/TR/WCAG21/#label-in-name) stipulates that:

In two cases, the label and name of elements in our sidebar are slightly different.

- The accessible name for the "Post to Only Me" button is "Publish this annotation to Only Me":
![image](https://user-images.githubusercontent.com/12087705/89077680-b540f900-d350-11ea-9162-82245abc6b0a.png)

- The accessible name

[2020-07-31 21:18] klemay opened #1128 "Allow users to dismiss annotation adder without moving pointer or keyboard focus (WCAG 2.1 criterion 1.4.13)"
[1.4.13 Content on Hover or Focus](https://www.w3.org/TR/WCAG21/#content-on-hover-or-focus) stipulates that content that appears on hover or focus must be dismissable without moving pointer hover or keyboard focus, unless the additional content communicates an input error or does not obscure or replace other content

We received a "partially supports" for this because the annotation adder can't be

[2020-07-31 21:19] klemay commented on #1114
We had the IDRC assess us against WCAG 2.1 AA standards, and we received a "Supports" rating for all but 2 criteria. We received a "Partially Supports" for 2 criteria, and I've created Github issues to address them:

2.5.3 Label in Name: https://github.com/hypothesis/product-backlog/issues/1127
1.4.13 Content on Hover or Focus: https://github.com/hypothesis/product-backlog/issues/1128

[2020-08-05 16:02] xolotl commented on #1086
Sorry for the delay in reviewing this. It all still looks good from my POV, with one added thing about how to handle the status of accounts that exist before this goes live. I think we need to differentiate between people that had the chance to opt in and didn't take it versus previously existing accounts that were never presented with the choice.

I think we will want to message all the  "legacy"

[2020-08-05 16:09] klemay commented on #1086
@xolotl agreed that we should specify who checked "No" vs who never had a chance to opt in. That's now reflected in the requirements.

In terms of recording the date of opting in— wouldn't that be the same as the signup date/time?

In the future when we create the ability to change one's designation via profile pages/account settings, it would certainly make sense to record the date of those chang

[2020-08-05 16:12] xolotl commented on #1086
Oops, sorry, I misread that the opt in field would record a date. Yes, I agree yes/no/empty values would be fine until it becomes directly user configurable.

[2020-08-06 13:45] bpow commented on #386
I was bitten recently by expecting that, since there is a permissions structure that looks like this, that I would be able to modify it for granular access control.

Sending a PATCH request to the API to replace the permissions with different data (e.g., changing 'update' to the relevant group to allow other group members to update the annotation) gave me a 200 response, so it looked like it worke

[2020-08-06 17:10] jon-betts commented on #1086
There are two PR's in to achieve this.

* For existing users the value is `NULL` (no value at all)
* For new users, it would be `True` or `False` depending on whether they check the box.

As of these changes:

 * Nothing happens to the value, it's just stored as `user.comms_opt_in` in the DB
 * There is no way to view, or opt in or out once this has been set on sign-up

[2020-08-07 15:04] xolotl commented on #1086
For everyone's information, https://web.hypothes.is/unsubscribe/ is in place and redirects to the current path to unsubscribe from HubSpot emails. If and when someone takes this path, we can thus make sure they don't receive any more marketing emails, but we don't yet have a pathway to flip their opt in value in the app. Would it be possible to either learn an API call to do this or include it in

[2020-08-07 15:05] xolotl commented on #1086
We might also identify all the email addresses currently unsubscribed to marketing emails in HubSpot and make sure their app opt in value is FALSE.

[2020-08-07 15:25] klemay opened #1129 "Enable changes to user comms preferences"
We made it possible for new users to opt into receive email communications from Hypothesis in https://github.com/hypothesis/product-backlog/issues/1086. This puts new users on our Marketing email list in Hubspot.

Marketing has set up a URL where users can unsubscribe from these emails: https://web.hypothes.is/unsubscribe/ but unsubscribing does not change the preference setting in the User table.

[2020-08-07 15:29] klemay commented on #1086
@xolotl it's possible to change the opt-in value in h, but outside the scope of this ticket as it would be a not-insignificant amount of work. I've written up https://github.com/hypothesis/product-backlog/issues/1129 to capture this - it'll be up for review at our next backlog meeting.

[2020-08-07 17:01] staypuffinpc commented on #111
I tried this, but every time it checked the settings, it came up with 0 annotations. I think the problem is with the sourceReference.  I used a .pdf file that I used on my desktop too annotate an article that I have access to through my institution.  How would you reference such a file properly to make this tool correctly copy the annotations from one group to another?

[2020-08-07 17:48] klemay opened #1130 "Enable Voicethread embeds in annotations"
[Voicethread](https://voicethread.com/) is a popular ed tech tool that allows users to create videos that can be shared with a link or embedded via iframe. Anyone can create a free account and test out the tool.

VT doesn't have a nice and easy way to embed video links - you're required to use an iframe (adding `?embed=true` to a video link doesn't work). It might make sense to tackle this after w

[2020-08-08 22:15] tmabraham commented on #566
@klemay I see you have removed this from the hypothesis public roadmap... Is this a feature that isn't being worked on anymore?

[2020-08-09 07:34] Jeevesh8 opened #1131 "Add the ability to make all annotations of a group public"
## Feature Request Form
### Problem you are trying to address with this feature
 Many people want to make groups so that, they can get a clear view of a group and their thoughts/interpretations of the material they annotate, this doesn't mean they don't want to share their annotations with the rest of the world. They just want to be able to see their own only, when they wish to.
### Your solution

[2020-08-09 15:53] klemay commented on #566
Hi Tanishq - this feature will be part of a larger project we’re working on
rather than its own project

On Sat, Aug 8, 2020 at 6:15 PM Tanishq Abraham <notifications@github.com>
wrote:

--
Katelyn Lemay (pronouns: she/her <https://www.mypronouns.org/she-her>)
Product Manager, Hypothesis <https://web.hypothes.is/>
*Black Lives Matter <https://blacklivesmatters.carrd.co/>. *

[2020-08-10 00:41] tmabraham commented on #566
@klemay What do you mean by "larger project"? Is there a separate project from the Hypothesis annotation client?

[2020-08-10 23:48] ajpeddakotla opened #1132 "Create a one-time email to users who did not have the option to opt-in on sign up"
Related to #1086

Now that we're addressing the issue to provide users a way to opt-in to email communications on signup, we need to send a message to users to that did not have the option to opt-in and see if they want to.

We need to determine the following:
- [ ] Get a list of users who signed up for H without the opt-in option present. (this will require dev work)
- [ ] Figure out the best way

[2020-08-11 16:34] jon-betts commented on #1132
This brings a couple of things to mind for me. The first logical the second technological and the third practical.

I'm not sure on the wisdom of emailing people to ask if they like receiving emails. Presumably for many the answer is no, and it would be annoying. We also, as of this moment, do not have consent to contact them by definition, so is it ok to? So long as it's been considered...

The s

[2020-08-11 17:56] xolotl commented on #1132
Mass email providers like mailchimp/mandrill recommend a one-time email like this to ask lists made before opt-in to make a choice.

I agree that it would be ideal if the email itself could provide UX for people to assign their choice.

Given that this will be 1000s of users, the most practical way to send this email would probably be programmatically via mandrill using methods like H. currently u

[2020-08-12 08:36] seanh commented on #1086
As I mentioned over in [the PR](https://github.com/hypothesis/h/pull/6136#discussion_r469097288) I think we should change this to:

so that it's clear what they're consenting to (that we're going to email them).

It also doesn't say who they're consenting to receive email _from_, only what about. Are we going to give their email to third-parties who're going to email from about annotation? So mayb

[2020-08-12 08:38] seanh commented on #1086
Just a note that when someone checks this box and submits the registration form **we have not verified that the email address belongs to them** and we shouldn't use it. We should only send marketing email to users who have activated their accounts

[2020-08-13 16:37] jon-betts commented on #1132
@sean had a pretty solid point in https://github.com/hypothesis/product-backlog/issues/1086:

I think this applies equally to sending out this email.

[2020-08-13 16:38] jon-betts commented on #1086
This is live now. The point about emailing people is valid and I'll add it to this: https://github.com/hypothesis/product-backlog/issues/1132.

This is live now.

[2020-08-13 16:38] #1086 closed, assigned to jon-betts

[2020-08-18 15:25] lyzadanger commented on #1046
@judell I was doing a little bit of information-gathering on this project. The branch you referenced on your fork of the client (`pdf-pagefit`) in [this comment](https://github.com/hypothesis/product-backlog/issues/1046#issuecomment-531820881) doesn't appear to exist anymore, even if I dig through GitHub's archive of older branches. Do you have that POC work somewhere accessible? Thanks!

[2020-08-20 19:26] klemay commented on #566
@tmabraham By "project" I mean "a new set of features that we are developing as one larger piece of work" - sorry for the confusion there!

[2020-08-21 18:42] klemay commented on #1098
an experimental tool that allows for annotating YouTube video transcripts: https://docdrop.org/

[2020-08-21 18:44] klemay opened #1133 "Move user preferences from frontend to backend"
Migrate user preferences from frontend to backend to ensure they are available wherever the user goes - this was an Engineering DO for Q3-2020 but the team will likely not get to this in addition to our other planned work. This issue is a stub that can be elaborated on by developers.

[2020-08-25 17:16] klemay opened #1134 "EPIC: Handle Canvas authorization errors more gracefully"
## Summary

Students using our Canvas application sometimes get caught in a loop where they are asked to repeatedly authorize Hypothesis. The support team has identified 5 common issues that lead to this auth loop happening. We should look into whether there is a way to handle these issues more gracefully. **The desired outcome is making Canvas authorization errors easier for our support team to d

[2020-08-25 22:23] klemay commented on #1081
There are some UX considerations to make before developers can work on this - [I have posed those questions in Slack](https://hypothes-is.slack.com/archives/C07NXBDNW/p1598394175006000) and will update here when we work this out.

[2020-09-09 13:01] #1122 closed, assigned to lyzadanger

[2020-09-09 16:25] mkdir-washington-edu commented on #1134
Per our discussion today, I was asked to give which of the 5 causes I think is the most frequent for Devs. I think the most frequent cause is #1, the student browser error. The hardest to diagnose is #4, when there are multiple Hypothesis installs in the course. Either would be helpful, so whichever is easier to implement would be great.

[2020-09-09 21:11] mkdir-washington-edu commented on #846
https://hypothesis.zendesk.com/agent/tickets/13360

[2020-09-13 20:19] mkdir-washington-edu commented on #669
https://hypothesis.zendesk.com/agent/tickets/13514

User wants to have students annotate a comic.

[2020-09-15 12:53] lyzadanger opened #1139 "Ship first version of PDF Side-by-side feature"
We now have an "experimental" implementation of the PDF side-by-side feature that is available behind a URL parameter (`via.client.experimental.pdfSideBySide`) in `via` and `via3`. We need to determine how we'd like to ship this to our users, and which users we'd like to ship it to.

If we continued along the path of "leave it disabled by default and selectively enable it for targeted subsets of u

[2020-09-17 22:17] gwmatthews commented on #689
Is there any chance that this issue might be given higher priority? I use Hypothes.is with two sections of a course and 50-60 students at a time and am honesty considering finding another commenting solution because the chore of having to manually find all student replies to other student annotations to give them credit is making it unusable.
Thanks!

[2020-09-18 21:30] klemay commented on #689
Hi @gwmatthews - this issue has been put in the long-term section of our roadmap because we are currently working on two projects that will likely replace the need for this:

- a course dashboard for instructors (LMS and non-LMS)
- a new-and-improved version of activity views for our LMS users (which will show replies)

The most likely scenario is that these features for our LMS users will replace

[2020-09-18 21:33] klemay commented on #689
Oh! and in the meantime @gwmatthews - we have some experimental tools built with our API that may help with your grading process:
- [Contributor Focus](https://jonudell.info/h/ContributorFocus/): see all annotations from a single student (including replies) on a given URL
- [Export](https://jonudell.info/h/facet/) - Download all annotations made in a group (including replies) in HTML, CSV, or JSON

[2020-09-19 14:06] gwmatthews commented on #689
Thanks for the response. I will look into the tools you mention. They seem like a good stopgap while we are awaiting an instructor dashboard.

As for the LMS app, I am the only person using Hypothes.is at the school where I teach, so that is out of reach unfortunately!

[2020-09-23 14:46] mkdir-washington-edu commented on #324
Request for Japanese: https://hypothesis.zendesk.com/agent/tickets/13906

[2020-09-24 02:02] caasi commented on #324
@mkdir-washington-edu I can't access this page. Is it a private link?
<img width="628" alt="截圖 2020-09-24 上午10 00 56" src="https://user-images.githubusercontent.com/1164470/94092281-ea4b6280-fe4c-11ea-83c0-147a18c6f68f.png">

[2020-09-24 03:48] mkdir-washington-edu commented on #324
@caasi If you mean the zendesk link, yes.

[2020-09-24 14:53] fikriauliya opened #1140 "Not active by default"
I use Chrome extension. Every time I want to see the annotations, I have to click Hypothes.is Chrome's button first:

<img width="41" alt="screen shot 2017-08-07 at 5 52 44 pm" src="https://user-images.githubusercontent.com/341555/29023775-487a9658-7b99-11e7-8d72-1adaa9af2497.png">

Only after clicking that, the annotations and the sidebar appear.

Is it intended behavior (why?) or bug?

[2020-09-28 18:00] #1139 closed, assigned to lyzadanger

[2020-09-29 20:45] klemay opened #1141 "Warn users of unsupported browsers"
We have [a KB article](https://web.hypothes.is/help/which-browsers-are-supported-by-hypothesis/) stating:

A common issue we've seen in the support inbox, specifically for LMS users, is that students on old browsers like IE11 will see the Hypothesis sidebar load normally, but the PDF shows up as blank (screenshot below). When the student tries a different browser, it works the way it should. We do

[2020-09-30 15:15] carmolim commented on #774
Another related topic about tag management is to add the option to batch add a tag. When I'm reading an article or a PDF the process to add a tag to each highlight is very time consuming:

1. I need to click the marker to open de sidebar
2. Click on the edit button
3. Type the tag
4. Click the post button

Would be nice to select the notes and then add tags to all of them. Would be great to do the

[2020-09-30 16:27] #1046 closed, assigned to nobody

[2020-09-30 18:32] klemay opened #1142 "SPIKE: LOE for integrating Youtube transcript annotation into LMS"
Related to https://github.com/hypothesis/product-backlog/issues/1098.

At https://docdrop.org/ you can see a proof-of-concept that pulls Youtube transcripts from the Youtube API, ties the transcript to playback in the video, and allows for annotation of the transcript. Here's an example:

https://docdrop.org/video/J80J4oaGVnY/

<img width="1868" alt="Screen Shot 2020-09-30 at 2 30 29 PM" src="http

[2020-09-30 18:33] klemay commented on #1098
Related: https://github.com/hypothesis/product-backlog/issues/1142

[2020-10-01 18:15] judell commented on #25
Closed by https://github.com/hypothesis/client/pull/2573.

[2020-10-01 18:15] #25 closed

[2020-10-01 20:50] williamgunn commented on #878
Same issue here & it's probably the biggest barrier to me making H part of my workflow.

[2020-10-01 21:01] dwhly commented on #878
@williamgunn iOS or Android?  Can you reliably repro?  Possible screencapture?  We're having trouble w/ repro internally here.  Would be helpful to have a closer friend who can demo this.

[2020-10-02 00:23] williamgunn commented on #878
Sure, let me see what I can do.

[2020-10-02 07:38] robertknight commented on #1136
Implementing a highlighter that doesn't wrap content has become more complex now because we have a requirement that highlights are visible to assistive technologies. For highlight elements we leverage [hidden text](https://github.com/hypothesis/client/blob/310b5ad15f05989198447f3ed4be218fc1267ba4/src/styles/annotator/highlights.scss#L32) to make screen reader users aware of highlights. In future w

[2020-10-02 07:38] #1136 closed, assigned to nobody

[2020-10-02 16:49] williamgunn commented on #878
See screen recording here. https://www.dropbox.com/s/ah405hyyy8mfbm1/1601598649-video.mp4?dl=0

Android 10
Brave Browser
Versions & build numbers in screenshot.
![Screenshot_20201001-174425](https://user-images.githubusercontent.com/746636/94876940-f2d40800-040d-11eb-90a9-794892d2b09e.png)

Happy to jump on Zoom & share my screen or let one of the devs take control for a bit to try things. I'd rea

[2020-10-02 18:34] klemay commented on #878
Thank you @williamgunn, especially for the offer to get on a call with our devs! This is near the top of our "bugs to fix" queue, with just 1 or 2 small things ahead of this. I'll be in touch if we need further help with repro, and/or when this is fixed!

[2020-10-02 19:32] mkdir-washington-edu commented on #198
https://hypothesis.zendesk.com/agent/tickets/14160

[2020-10-03 16:06] williamgunn commented on #878
I have some good news on a potential workaround! This bug does not appear to happen in Firefox Beta for Android, at least not yet. 🙂

[2020-10-06 07:12] AnabasisXu commented on #111
still troubled by this problem, 4 years later....
https://jonudell.info/h/CopyAnnotations/  this solution would not allow you to choose the note you want to move.

[2020-10-06 15:51] klemay commented on #695
Update on this one:

- When I visit the previously problematic articles in Chrome, with my Ad Blocker turned off, the extension now works (it does take a few seconds to load, but it loads!)
- When I visit the problematic articles in Chrome with my Ad Blocker ON, the extension loads instantly

...this is pretty typical for news sites with lots of embedded ads.

@dwhly I think we can close this one

[2020-10-06 19:41] klemay commented on #695
Dan and I are both no longer able to replicate this issue, so I will close this one.

[2020-10-06 19:41] #695 closed, assigned to nobody

[2020-10-07 15:28] williamgunn commented on #878
Hmm... Seeing inconsistent behavior on sites using via proxy with mobile Firefox, so this isn't a workaround after all. I'll file a new issue for these, if there's not one already.

[2020-10-07 15:36] klemay commented on #878
@williamgunn we've just pulled this issue into our sprint. if you want to email me (katelyn@hypothes.is) re: what you're seeing I have a creepily detailed memory of our open issues and may be able to save you some effort in searching

[2020-10-07 15:53] williamgunn opened #1143 "Inconsistent behavior using the via proxy with Firefox for Android"
## Bug report form
### Steps to reproduce
1. Go to https://via.hypothes.is/https%3A%2F%2Fwww.codyh.com%2Fwriting%2Ftracking.html in Firefox for Android
2. Press to highlight text and annotate
3. Open sidebar

### Expected behaviour
Text should become highlighted and annotation sidebar should display annotation.

### Actual behaviour
Annotation sidebar opens, loading spinner shows in sidebar, text

[2020-10-08 14:46] klemay commented on #1006
Looks like I never closed this one!

[2020-10-08 14:46] #1006 closed, assigned to LMS007, klemay

[2020-10-09 15:20] dwhly opened #1145 "Can't annotate PDFs in Safari w/ bookmarklet"
### Steps to reproduce
1. In safari, go here: https://wac.colostate.edu/books/inoue/intro.pdf
2. Click our bookmarklet

### Expected behaviour
PDFjs should be activated
Client should deploy

### Actual behaviour
Nothing happens.

Did this ever work?  I would have assumed so.  But honestly I can't recall.

### Browser/system information

This was taken from a via proxied version of the same documen

[2020-10-09 15:31] nickstenning opened #1147 "Tag input field adds tag on comma, regardless of where the comma is"
### Steps to reproduce
1. Create a new annotation
2. Start typing a tag name (e.g. "TCP/IP Networking")
3. Use arrow keys or mouse to insert the caret in the middle of the tag (e.g. "TCP/IP^ Networking")
4. Type a comma
### Expected behaviour

Either a literal comma should be allowed in the tag name (?) or the comma should submit "TCP/IP" as a tag, leaving "Networking" to be edited.
### Actual beh

[2020-10-09 17:27] klemay opened #1148 "SPIKE: Improve experience for creating annotations/highlights with NVDA (and JAWS)"
## Overview
When using VoiceOver for Mac to annotate, VoiceOver will read out the text that is being selected, whether that's character-by-character, or word-by-word. You can see this in action here:

https://www.youtube.com/watch?v=AOyVt1w_MUU

I have worked extensively with two users who are blind and experienced with NVDA and JAWS, and they have worked with each other to try and replicate this

[2020-10-09 23:38] LMS007 commented on #878
Quick update. This happens when you select text quicky, and inadvertently highlight text in the adder itself [Annotate, "Highlight | Show [#]". Because the adder is at the bottom of the dom (last node in body) it selects all the text from where you started the range to the end of the page and causes the page to scroll all the way to the bottom. I also found it happens more often (maybe?) when tran

[2020-10-12 12:38] robertknight commented on #878
A partial solution for this has been implemented (see https://github.com/hypothesis/client/pull/2625). The "Annotate"/"Highlight" toolbar has been modified so that the browser will no longer try to select text in it, which typically results in the rest of the page being selected as well. The toolbar can still get in the way of making a multi-line selection to varying degrees. We're looking into fu

[2020-10-12 13:25] mkdir-washington-edu opened #1157 "In the LMS app in Moodle, once the Sidebar is fill, new annotations go past the bottom of the Sidebar and can not be reached by scrolling"
**Describe the bug**
In Moodle and in the LMS app, once the Sidebar has more annotations than can be shown on the screen, new annotations that appear last in the Sidebar will have the bottom of the annotation Card hanging below the edge of the screen, and the scroll bar doesn't update to allow further scrolling down. This means that  you could not, for example, delete the bottommost annotation.

T

[2020-10-12 15:44] LMS007 commented on #878
Closing this out now as the primary issue has been fixed. Opened a related UX issue
https://github.com/hypothesis/client/issues/2626

[2020-10-12 15:45] LMS007 commented on #878
Closing this out now as the primary issue is resolved. Opened a related UX issue for further improvements.
https://github.com/hypothesis/client/issues/2626

[2020-10-12 15:45] #878 closed, assigned to LMS007

[2020-10-13 13:59] mkdir-washington-edu commented on #1157
Can not reproduce in Chrome or Safari.

[2020-10-16 14:54] #1081 closed, assigned to robertknight

[2020-10-16 15:41] gwmatthews opened #1149 "Feature Request: New Group Type "Class Group""
## Feature Request: NEW GROUP TYPE: Class Group

### Problem you are trying to address with this feature

Too many students fail to follow requests to post in a particular group created for use by a class, and post in public by default.

### My solution

Create a new type of group which changes the default post group from "public" to "This Class Group".

When students join the group, they no longe

[2020-10-16 16:35] esanzgar opened #1150 "Europe PMC document equivalence issue"
## Bug report form
### Steps to reproduce
1. Go to https://europepmc.org/article/MED/24806729
2. Click on 'PubMed Commons archived comments (3)' under the article main title

### Expected behaviour
It should open the hypothesis sidebar and show 3 notes for the group 'Europe PMC'.

These are the three annotations that should be displayed: https://hypothes.is/groups/NMb8iAjd/europe-pmc?q=PMID%3A2480

[2020-10-16 16:49] klemay opened #1151 "Enable small group annotations for Canvas"
We know from [previous research](https://community.canvaslms.com/t5/Idea-Conversations/External-Tool-Submissions-for-Group-Assignments/idi-p/368454) that Canvas does not allow for assignments created with External Tools (like Hypothesis) to be used with [Canvas' native groups feature](https://community.canvaslms.com/t5/Canvas-Basics-Guide/What-are-Groups/ta-p/16). We built a Sections integration t

[2020-10-16 18:28] klemay opened #1152 "SPIKE: Enable annotation on multiple copies of a PDF in a Course/Section"
In the web app, we use PDF fingerprints to show annotations across multiple copies of the same document.

Example: My colleagues and I want to collaboratively annotate article1.pdf. I email article1.pdf to all of my colleagues. We each download the PDF and follow [these instructions](https://web.hypothes.is/help/annotating-locally-saved-pdfs/) to annotate our respective copies of the PDF. My colle

[2020-10-19 15:36] dwhly commented on #1150
Is this as simple as them listing "/abstract/MED" as rel=alternate in their page metadata?

[2020-10-20 10:23] esanzgar commented on #1150
@dwhly your idea was tested by Europe PMC but apparently it didn't work.

[2020-10-20 13:28] dwhly commented on #1150
@judell could you take a look

[2020-10-20 16:36] judell commented on #1150
Prior context is here:

https://hypothes-is.slack.com/archives/C2BLQDKHA/p1602181081214300?thread_ts=1602161751.190300&cid=C2BLQDKHA

[2020-10-20 16:59] mkdir-washington-edu opened #1355 "Determine what to do if rel="canonical" is used without pointing to a URL"

[2020-10-22 15:59] robertknight commented on #1141
The screenshot shown in the description here looks like legacy Edge to me.

[2020-10-22 16:03] klemay commented on #1141
Very possible the user mis-reported their browser. Will dig through support
tickets to find a true IE11 one.

On Thu, Oct 22, 2020 at 12:00 PM Robert Knight <notifications@github.com>
wrote:

--
Katelyn Lemay (pronouns: she/her <https://www.mypronouns.org/she-her>)
Product Manager, Hypothesis <https://web.hypothes.is/>
*Black Lives Matter <https://blacklivesmatters.carrd.co/>. *

[2020-10-22 16:59] klemay commented on #1141
Here's an IE11 screenshot (taken before the changes implemented this sprint)

![image (1)](https://user-images.githubusercontent.com/12087705/96905373-5cbc5c00-1466-11eb-8c3c-051c1e565529.png)

[2020-10-27 13:25] lyzadanger commented on #77
@klemay Recommend closing as we no longer support IE11.

[2020-10-27 13:50] #77 closed

[2020-10-27 14:58] robertknight commented on #1141
Hi @klemay - That screenshot looks a lot like Microsoft Edge (Legacy) to me. IE 11 looks like this: https://en.wikipedia.org/wiki/Internet_Explorer_11#/media/File:Internet_Explorer_11_screenshot.png

The current expectation for Edge Legacy is that versions 17 and 18 are supported, and if there are any problems that is a bug that we'll fix, but earlier versions (16 and below) are not.

It is still

[2020-10-27 15:19] robertknight commented on #1141
Related to this, I posted in Slack earlier some statistics about which browser engines were used in LTI launches over 24 hours yesterday: https://hypothes-is.slack.com/archives/C4K6M7P5E/p1603801318245200. As expected the vast majority of users are using one of the 3 most recent versions of a Chrome (Blink), Safari (WebKit) or Firefox-based browser. There is a tail of older versions though.

[2020-10-28 13:55] lyzadanger opened #1153 "Implement clickable, rough prototype for project Notebook"
Implement a prototype to serve as a rough skeleton/POC for project Notebook.

* This prototype will live in the `client` codebase at present
* This prototype should be available in the embedded client, but we may opt to use a feature flag or similar to selectively allow access to the prototype
* The prototype should demonstrate the approximate UI footprint of the notebook
* The prototype should lo

[2020-10-28 13:57] lyzadanger opened #1154 "Provide high-level UI wireframes for project Notebook"
This goes hand-in-hand with #1153

Provide some wireframes for the basic "container" and high-level UI for project Notebook.

[2020-10-28 15:12] gwmatthews opened #1155 "UX design: group selection problem"
Not sure if this is a bug or a feature request.

Students are having a hard time noticing the little downward pointing arrow at the very top of the UI and instead leave the default publishing location as "Public" then look for the group they should be publishing to in the dropdown connected to the Post button at the bottom. They only see "Post to Public" and "Only to Me" and then send me an email

[2020-10-29 07:28] #1141 closed, assigned to robertknight

[2020-10-29 08:15] robertknight commented on #1141
The main part of this is done now. In unsupported browsers an advisory notice will be displayed on startup:

<img width="709" alt="lms-warning-banner" src="https://user-images.githubusercontent.com/2458/97542189-3cd4ed00-19be-11eb-84aa-876da3f96251.png">

The presence of this banner does not prevent the application from attempting to start, but it tells the user that Hypothesis will probably not w

[2020-10-29 12:19] robertknight commented on #954
The issue doesn't occur at present with these two annotations any more:

<img width="600" alt="networks-not-human" src="https://user-images.githubusercontent.com/2458/97565752-2048ad00-19de-11eb-827a-6d3d1b8028ef.png">

Note the stronger highlight for the phrase "networks are not human". If you click on either of them, you'll see both annotations in the sidebar. I tested in Safari 14 and Chrome 88

[2020-10-29 12:26] robertknight commented on #954
This article is unfortunately now behind a subscription-wall.

This page has a spectacular number of orphans, but the same that I looked at appeared valid - the quoted text did not appear on the page.

<img width="517" alt="lots-of-orphans" src="https://user-images.githubusercontent.com/2458/97573541-d792f300-19e1-11eb-88e9-35ab355e5b2b.png">

To be a useful bug report we need an example of a docu

[2020-10-29 12:30] robertknight commented on #954
@judell - Do you want to try re-running your tool and see if you can find an example of this problem that occurs with the current client in a document that is publicly accessible?

My suspicion of what may have happened here historically is that the result of wrapping the anchored text of one annotation with highlights may have invalidated the anchored ranges associated with another annotation. I

[2020-10-29 13:46] mkdir-washington-edu commented on #1157
Replicated in Blackboard on Firefox as well, after testing due to this ticket: https://hypothesis.zendesk.com/agent/tickets/14953. Like in Moodle, I could not replicate this in Chrome or Safari.

[2020-10-29 14:47] mkdir-washington-edu commented on #1157
Moodle examples
- https://hypothesisuniversity.moodlecloud.com/mod/lti/view.php?id=328
- https://hypothesisuniversity.moodlecloud.com/mod/lti/view.php?id=329

[2020-10-30 16:27] robertknight commented on #1157
I was able to reproduce in Moodle. It looks like the issue is that we are specifying the height of the content iframe incorrectly when the grading bar is being used. The DOM structure ends up looking like this:

[code]

The `LMSGrader` element has `display: flex; flex-direction: column` but the iframe is using `height=100%` to size itself, instead of `flex-grow: 1`, which would cause it to fill an

[2020-10-30 16:40] klemay opened #1156 "Suppress "Edited" date when it's the same as the creation date"
Right now when an annotation is edited, we show the date of both the edit and the date of creation of the annotation-- but the result is that in many cases, these are the same.  So, when we show edited, we’re often repeating the date twice:

<img width="411" alt="Screen Shot 2020-10-30 at 12 39 07 PM" src="https://user-images.githubusercontent.com/12087705/97732456-f0b4a600-1aac-11eb-963b-24713187

[2020-11-02 16:31] robertknight commented on #1157
This issue should have been resolved in https://github.com/hypothesis/lms/pull/2210. I think it would be a good idea for @mkdir-washington-edu or someone else on the support team to re-test in case they can find any related issues.

[2020-11-04 15:54] AJamesPhillips opened #1158 "Possible to annotate archive.org PDFs?"
## Bug report form
### Steps to reproduce
1. Go to https://web.archive.org/web/20201101001702/https://www.fda.gov/media/134922/download
2. Activate hypothes.is chrome extension
3. Try to annotate the PDF

### Expected behaviour
Should be able to annotate the PDF.

### Actual behaviour
Selecting text does not produce the annotation popup / context menu.

### Browser/system information
Chrome Versio

[2020-11-04 19:47] judell commented on #954
Indeed it does not. That's encouraging!

I could rerun the tool but it's slow, clumsy, and only covers a small
universe of documents. It would sure be nice to have telemetry that can
capture a much wider and clearer view of anchoring outcomes.

On Thu, Oct 29, 2020 at 5:31 AM Robert Knight <notifications@github.com>
wrote:

[2020-11-06 14:04] robertknight opened #1159 "Investigate options for scanning key repositories for security vulnerabilities"
As part of the process of signing contracts with various educational institutions we get asked to fill in security self-assessment forms such as the [HECVAT](https://library.educause.edu/resources/2020/4/higher-education-community-vendor-assessment-toolkit). One of the questions often asked on these forms is whether we have any kind of automated scanning in place for security vulnerabilities.

###

[2020-11-06 14:05] robertknight commented on #1159
Here is a previous PR that I started, but did not finish, to enable CodeQL scanning for h: https://github.com/hypothesis/h/pull/6123

[2020-11-06 20:10] mkdir-washington-edu commented on #689
https://app.hubspot.com/contacts/6291320/ticket/235754323/

[2020-11-09 16:15] klemay commented on #877
Hey @dwhly I think this may be fixed - can you confirm? the link to the annotation in your original description no longer exists, so I re-created to try and reproduce. Looks like it's working properly now:

<img width="410" alt="Screen Shot 2020-11-09 at 11 15 10 AM" src="https://user-images.githubusercontent.com/12087705/98566544-de8cf180-227c-11eb-880f-04ef886dbdbb.png">

[2020-11-09 16:34] klemay commented on #858
I am now able to copy to clipboard from iOS, but the behavior is a bit unexpected.

I am trying this using https://via.hypothes.is/https://web.hypothes.is/.

In Safari for iOS, tapping on the share icon for an annotation works as expected:
![IMG_6F0BC79BF1F0-1](https://user-images.githubusercontent.com/12087705/98568253-e352a500-227e-11eb-87b1-50de693505cf.jpeg)

...but when you hit the "copy" tar

[2020-11-09 19:38] #877 closed, assigned to nobody

[2020-11-09 20:03] klemay commented on #649
Annotations on these pages aren't orphaned anymore - closing!

[2020-11-09 20:03] #649 closed, assigned to nobody

[2020-11-09 20:19] #650 closed, assigned to nobody

[2020-11-10 19:36] klemay commented on #1157
We can no longer reproduce this issue after a fix put forward by Rob. The user who reported it has not gotten back to us, but we have no other reports of users running into the problem. Closing as fixed.

[2020-11-10 19:36] #1157 closed, assigned to nobody

[2020-11-10 21:51] klemay opened #1160 "Renew LTI 1.1 certification"
LTI certification must be renewed every calendar year. .

To renew certification:

1. Go to https://site.imsglobal.org/user/login (credentials are in LMS Vault of 1Password, under "IMS")
2. Go to https://www.imsglobal.org/lti-advantage-certification-suite
3. Choose the 3rd option ("For earlier versions of LTI (v1.0, v1.1, etc.) Certification Test Suite: https://www.imsglobal.org/lti-v1-certificati

[2020-11-11 20:32] #1156 closed, assigned to nobody

[2020-11-13 13:36] #1153 closed, assigned to lyzadanger

[2020-11-15 03:05] ScottMcNay commented on #198
@malcook ,

How about an option for a set of default accessibility alternatives, which people which specific issues can select, such as the cividis colormap, or "highlights" of differents quiggly lines.

[2020-11-15 04:26] ScottMcNay commented on #395
Take a look at Kindle; it allows users to highlight sections in books/documents, and other users can see which sections are popular (an implicit crowd-sourced highlight). You could even have an option for users to allow their private highlights to be included in this crowd-sourced highlight; since it's crowd-sourced, no user userIDs would be available.

[2020-11-15 04:51] ScottMcNay commented on #31
There is one issue with a banner: on mobile devices, it can take up valuable screen real-estate, which is often already wasted by site banners and ads. I agree that a pop-up is extra friction, but in some cases, extra friction is good, to ensure that people pay attention; it's entirely possible the banner will cause problems or not be noticed. Suggested text: "You are about to view this page with

[2020-11-15 05:12] ScottMcNay commented on #7
It would be nice to be able to VIEW annotations by pointing/etc, after which a popup appears with the info. If there are multiple annotations for the item, have a list to pick from, which, depending on the annotation type, might have a short summary which is adequate. On mobile devices, you don't usually want an entire sidebar showing up.

For adding an annotation without highlighting, have it ask

[2020-11-16 17:13] #954 closed, assigned to nobody

[2020-11-17 13:53] lyzadanger commented on #78
I believe this to have been fixed by some other work we did in the past to deal with overflow and wrapping. In any case: we no longer provide support for IE11, so I'm going to close this one.

[2020-11-17 13:53] #78 closed

[2020-11-17 13:55] lyzadanger commented on #1154
This is a moving target because we're working iteratively, but enough work has happened on this objective that I feel comfortable calling it "achieved."

[2020-11-17 13:55] #1154 closed, assigned to lyzadanger

[2020-11-19 20:51] mattdricker commented on #535
Issue reported by user in https://app.hubspot.com/contacts/6291320/ticket/244887417/

[2020-11-20 12:07] matthiaskoenig commented on #198
Highly requested, very important and very simple to implement feature.
Is there any plan on implementing this very simple feature?
There is 3.5 years of discussion and 20-30 user requests for this issue.

Only requires mapping tags to colors and using this colors for the highlight.

[2020-11-20 19:49] klemay commented on #198
@matthiaskoenig we want to enable this eventually but have no immediate plans to do so.

As you can tell from the discussion, it's not as simple as it sounds. There are myriad ways this could be implemented and configured, so significant design thinking and research will be needed.

The complexity of this issue combined with the need to prioritize other features, particularly for our education use

[2020-11-22 20:45] matthiaskoenig commented on #198
Hi all,
no problem, I understand.

Has anybody else here found another tool which solves the issue. The mentioned use cases look very similar to my use case: I want to do have a labeling/annotation tool for PDF where I can pre-define tags/classes and then highlight these in the pdf. Required features:
- PDF support
- collaborative annotation/tagging
- export of annotations in standard open format

[2020-11-22 20:49] matthiaskoenig commented on #198
Just have to mention this in addition: A good way of prioritizing is based on your user feedback. Just sorting by most discussed issues gives a good feeling of what is requested (with this issue being the most discussed issue of 422 issues)
https://github.com/hypothesis/product-backlog/issues?q=is%3Aissue+is%3Aopen+sort%3Acomments-desc

[2020-11-23 22:36] malcook commented on #198
FYI: The reference manager SciWheel (formerly F1000), except for not being open-source, provides a treatment for all your bullet points, and much more in the context of scientific literature, including a small (unconfigurable) palette of colors that could be used by convention within a group.
From: Matthias König <notifications@github.com>
Sent: Sunday, November 22, 2020 2:46 PM
To: hypothesis/pro

[2020-11-23 23:08] matthiaskoenig commented on #198
@malcook Thanks. SciWheel looks great. But I would need an export of the annotation and the possibility to predefine tags. Sciwheel only allows tags on references but not tags for annotations of PDF. Also the annotations do not seem to be accessible., i.e. there is no export of the annotation nor is it possible to query them via the API. I want to work programatically with tags/annotations. (But h

[2020-11-23 23:11] malcook commented on #198
I think SciWheel does support export of annotation via API but not predefine tags.  Good luck – and keep my apprised of your efforts/successes if possible (e.g. what RSS can I follow)?

[2020-11-24 02:44] nicolae-stroncea commented on #669
On my end what i wanted to do was to be able to highlight images so that they would show on the side in the summary and on hypothes.is when I look through my highlights and annotations. I was able to achieve that by just copying the link to the image through a right click and then adding it into the summary through the markdown notation for linking an image. While not an ideal workflow, it helped

[2020-11-24 17:53] lyzadanger opened #1161 "Epic: Allow LMS users to see activity in course, filter by user"
Part of #932

This epic is done when the user stories are satisfied. In summary: LMS instructors and students are able to view Hypothesis activity for a single course (or section, for courses that have sections enabled), and to filter that activity by user. This work pertains to showing the right set of things. What the users can do with those "things", what they look like, and how they behave wil

[2020-11-25 20:09] klemay commented on #1148
From one of our partners:

...might be worth a try!

[2020-11-26 19:19] mkdir-washington-edu commented on #198
@matthiaskoenig Our Director of Integrations, Jon Udell, has created a prototype for exporting Hypothesis data that allows you to easily download your annotations in a variety of formats. [Note: Since this tool is a prototype, we are unable to provide troubleshooting or support beyond these basic instructions. We plan to add a fully-supported export feature to Hypothesis in the future.]

To export

[2020-11-29 21:13] nicolae-stroncea opened #1167 "Unintuitive "Show all" UX"
### Steps to reproduce
1. Annotate multiple examples
2. Click on one
3. Output in the sidebar:
![image](https://user-images.githubusercontent.com/39338488/100553673-188a5b80-325d-11eb-8216-b895b6d5f4fe.png)

This is unintuitive, and more than once I clicked on an annotation and was not sure how to get back to viewing all annotations. The wording of *X | Show all (2)* is contradictory: the X implie

[2020-11-30 18:25] klemay opened #1162 "Collection and reporting of user-facing problems"
We would like to track and allow the support team to easily see when customers run into user-facing errors, so that we can proactively find and address problems.

Examples of things we may want to track:

In the LMS...
- Launching an HTML page fails (with the ability to distinguish whether it's because Via cannot proxy the page because it's blocked by checkmate, because it's behind a login/paywall

[2020-12-02 17:21] mattdricker commented on #1261
Another Blackbaud LMS user with this same issue: https://app.hubspot.com/contacts/6291320/ticket/252589809/

Recording of Zoom call and HAR export attached to ticket.

Interestingly, the grade **does** get saved to Blackbaud! But the spinner does not stop, and the error shows when the submit button is clicked.

[2020-12-04 15:04] #858 closed, assigned to esanzgar

[2020-12-04 20:02] LMS007 commented on #1261
Its hard for me to pinpoint this issue, but I do not understand the 503 response from via from this POST request. I'm not clear what http://resources/d54c6cd782rn2305a9c7266d9eeacab0 is supposed to be.

I have trimmed the 1lms text down to one of the failures to show its request/response in a bit more concentrated detail here:

[edited]

[2020-12-07 20:13] LMS007 commented on #1261
Quick update. I checked the test site here on via and I'm not sure it would even work in the first place.

https://via.hypothes.is/https://www.barnesandnoble.com/blog/should-you-be-embarrassed-to-read-ya-the-best-debate-on-the-internet/

 discovered when you click anywhere on the page there is an event listener that is making a post request to resources/*
The specific resource is dynamic and seems

[2020-12-08 12:08] jon-betts commented on #1261
Via is not used in LMS any more, so this page will be handled by ViaHTML:

https://viahtml3.hypothes.is/proxy/https://www.barnesandnoble.com/blog/should-you-be-embarrassed-to-read-ya-the-best-debate-on-the-internet/

A quick look at this looks ok-ish? But seeing as we have an issue, clearly there's still a problem.

In general we need to have a think about our approach to trying to fix individual

[2020-12-11 20:07] robertknight commented on #1022
Fixed by https://github.com/hypothesis/client/pull/2814. When there are multiple matches for a given `TextQuoteSelector` they are now ranked by a weighted score based on quote similarity, suffix similarity, prefix similarity and distance from expected text position.

[2020-12-11 20:07] #1022 closed, assigned to nobody

[2020-12-12 20:19] klemay opened #1163 "Layout problems when threaded discussions are 3 levels deep"
One of the most crucial features for our users is the ability to have threaded discussions. [A user pointed out to us on Twitter](https://twitter.com/thecorkboard/status/1337446123787718656) that once a discussion gets to be 3 levels deep, the interface gets crowded:

![ezgif-7-c6b258259516](https://user-images.githubusercontent.com/12087705/101993915-2f34a780-3c8c-11eb-924c-69d28e799b90.gif)

On

[2020-12-15 18:28] mattdricker commented on #1261
Another Blackbaud school with same UX behavior: https://app.hubspot.com/contacts/6291320/ticket/262940528/
HAR file available in that ticket.

[2020-12-15 23:29] LMS007 commented on #1261
I don't see any 5xx or 4xx error sin that HAR file. In any case, I added client side error handling today for fetch errors that fail. That should at least give a a better understand if the fetch request fails.

[2020-12-16 19:05] robertknight commented on #949
These fragments are an artefact of PDF.js's rendering. What I would prefer to do is to capture selectors in terms of the native PDF coordinate system (PDF page index, bounding box in page coordinates). This is then usable in other PDF renderers and also if PDF.js changes their DOM structure in future.

[2020-12-17 16:42] lyzadanger commented on #1037
Note that the UI has changed since this issue was opened:

![image](https://user-images.githubusercontent.com/439947/102516547-f7977800-405c-11eb-8508-5be3efcdba77.png)

[2020-12-18 11:43] robertknight opened #1164 "Overhaul the extension's "Welcome" page"
After users install the extension they are greeted with a "Getting started" page (URL is https://hypothes.is/welcome/some-random-id) which is a variant of the Help page at https://hypothes.is/docs/help.

These pages have not been updated in a long time and so the icons, links and instructions are out of date:

- The "Annotation Types" section uses the term "Notes" rather than "Annotations" for ann

[2020-12-18 13:42] mkdir-washington-edu commented on #1164
@mattdricker I've added this GH issue to our sitemap list of KB articles.

[2020-12-23 22:46] LMS007 commented on #918
Much of this involves how we do text anchoring and selection. On the page discussed in this ticket, we can see that MathJax creates a `<script>` element next to each expression. Inside that element lives the clean (original) expressions that can be used to reconstruct a math expression. -- in theory. But in addition to that expression(s), there is also styled unicode chars/text nested in html (pri

[2020-12-28 16:16] LMS007 commented on #918
One more small fact worth mentioning there. `type="math/tex"` is ignored by the browser and assumed to be just a "data block" which simply means it does not get executed as js (as far as I know). Our annotator also captures js types such as `type="text/javascript"` and will highlight them just the same. This means that our sidebar annotation blockquotes will _always_ contain the text inside of a s

[2021-01-04 13:21] #1037 closed, assigned to esanzgar

[2021-01-04 13:24] esanzgar commented on #1037
I wonder if an additional source of confusion could be that some people don't associate the flag icon to the 'report an annotation', but to a highlight action.

[2021-01-04 15:32] #862 closed, assigned to nobody

[2021-01-04 15:37] klemay commented on #1037
@esanzgar definitely - we know that our users accidentally flag annotations all the time because they don't know what the flag icon does. We have plans to [bring moderation to the LMS app](https://github.com/hypothesis/lms/issues/1388), which will bring improvements to moderation in the client overall.

[2021-01-04 18:20] klemay commented on #1165
Transferring this issue to our product backlog repo!

[2021-01-04 18:21] klemay commented on #1166
Moving to product backlog

[2021-01-04 19:03] mattdricker commented on #1261
Nick Marchese at Emma Willard school went through steps to reproduce the error this morning. Let me know if you need more info to track logs.

LMS URL: https://emmawillard.myschoolapp.com
LMS GUID: blackbaudk12_1098
Date/Time: Jan 4, 2021, appx 10am EST

https://app.hubspot.com/contacts/6291320/ticket/252589809/

[2021-01-04 20:06] klemay commented on #1147
Since `,` is a tag delimiter we likely don't want to allow a comma inside of a tag.

We need some design thinking re: desired behavior here. The proposed workflow in the original issue is:

1. Create a new annotation
2. Type a tag name (e.g. "TCP/IP Networking")
3. Use arrow keys or mouse to move the cursor to the middle of the tag (e.g. after "TCP/IP")
4. Type a comma
5. "TCP/IP" is submitted as

[2021-01-04 20:42] klemay commented on #18
@judell and @dwhly is this issue still valid?

Isn't it true that the DOI can be added in a common tag to the `<head>` of each syndicated version [as outlined in our KB article](https://web.hypothes.is/help/how-hypothesis-interacts-with-document-metadata/)?

[2021-01-04 20:55] klemay commented on #20
We are working through many of these questions and problems as we build a capability for LMS users to see and filter annotations made in a course (See: https://github.com/hypothesis/product-backlog/issues/1161).

The plan is to replace our activity pages with the work that comes out of the LMS project. I'm going to close this issue and propose that further discussion on how we display annotations

[2021-01-04 20:55] #20 closed

[2021-01-04 20:59] klemay commented on #23
Hey @ajpeddakotla, what is meant by:

?

I can create highlights with the bookmarklet. I'm not sure what "scroll to annotate" means.

I can click on an annotation in the Hypothesis sidebar and the page will scroll to that section— was that not always true? If that's what we're referring to here I think we can close this issue.

[2021-01-04 22:13] judell commented on #1261
We are truly between a rock and a hard place here. Proxying should be avoided if possible.
The extension obviates the need to proxy. But school policies forbid the extension. I hope that policy gets revisited at some point.

[2021-01-04 22:47] klemay commented on #28
When I am annotating in a group and I click the Share link in the sidebar, I see:

<img width="407" alt="Screen Shot 2021-01-04 at 5 26 41 PM" src="https://user-images.githubusercontent.com/12087705/103585965-1d70a980-4eb2-11eb-8964-fd091d821f89.png">

If someone who is not logged in to Hypothesis follows that link, they see:

<img width="476" alt="Screen Shot 2021-01-04 at 5 41 43 PM" src="https:

[2021-01-04 22:47] #28 closed

[2021-01-05 02:15] judell commented on #18
@klemay yeah this issue predates DOI support, please close.

[2021-01-05 03:05] makerjackie commented on #566
I hope this feature could be implemented soon!  It would be wonderful if it looks like this
![image](https://user-images.githubusercontent.com/18050469/103601980-e5b34180-4f45-11eb-9642-3a53e608c36b.png)

[2021-01-05 15:27] lyzadanger commented on #1168
@klemay This request spans the client and `h`. Do you want to track it against product?

[2021-01-05 21:26] LMS007 commented on #1261
XML response from canvas, clearly missing the `imsx_POXEnvelopeResponse` tag.

`GET https://lms.hypothes.is/api/lti/result?lis_result_sourcedid=....`

[code]

The UNAUTHENTICATED USER log is interesting and perhaps at the root of the issue?

https://my.papertrailapp.com/events?focus=1282762060345774090&q=program%3Aeb-ad905c1d9304-stdouterr.log&selected=1282762060345774090

[2021-01-05 21:50] klemay commented on #1167
Hi @nicolae-stroncea, thanks for this feedback! The screenshot you have shared is from a filtered view of the client: clicking on an annotation will show just that annotation and its replies. The [X Show all (2)] button is how you exit or "cancel" that filtered view and return to seeing all of the annotations, so the button describes the action that will be taken when you click it.

[2021-01-05 21:50] #1167 closed, assigned to nobody

[2021-01-06 15:29] #18 closed

[2021-01-06 15:32] klemay commented on #1168
@lyzadanger yes, that makes sense - transferring to product backlog repo!

[2021-01-07 21:05] lyzadanger opened #1169 "Update content of blocklist/not-allowlist errors on proxy services"
Depends on https://github.com/hypothesis/checkmate/issues/15

Once this class of (HTML-served) error messages are centralized in Checkmate, we should do an editorial pass on them and improve some long-standing wording quirks.

Slack thread: https://hypothes-is.slack.com/archives/C2BLQDKHA/p1610031801136700 (requires Hypothesis team access)

[2021-01-07 21:07] lyzadanger commented on #1169
From the Slack thread cited in the description, some suggested edits from @dwhly

Content cannot be shown

Unfortunately the contents of this page cannot be shown through this Hypothesis proxy. Learn more about the proxy service.
To annotate this page:

Use our browser extension:
1. Follow the instructions on our homepage to install the browser extension (or use the bookmarklet).
2. Visit the page

[2021-01-07 21:10] lyzadanger opened #1170 "Apply shared and consistent layout and styling to Proxy blocklist error pages"
Related to #1169
Related to https://github.com/hypothesis/checkmate/issues/15

Depends on https://github.com/hypothesis/checkmate/issues/15
Depends on https://github.com/hypothesis/client/issues/2181

The CSS and HTML for the blocklist error pages currently used on our various proxy services is rando and wonky. We're working on packaging up some shared CSS and patterns and, once that's ready, we s

[2021-01-10 00:07] koppor commented on #158
This is also documented at https://scholar.google.com/intl/de/scholar/inclusion.html#indexing:

[2021-01-11 17:30] klemay commented on #158
@dwhly [we now have support for DC identifiers](https://web.hypothes.is/help/how-hypothesis-interacts-with-document-metadata/) - can we close this issue?

@koppor thanks for chiming in here!

[2021-01-13 16:54] lyzadanger commented on #1106
I can answer this immediately: it's all the front-end. The backend is delivering everything.

[2021-01-15 16:56] mattdricker commented on #1261
Just had this reported again by another user in Moodle: https://app.hubspot.com/contacts/6291320/ticket/283347545/

I've asked them to run through the steps to reproduce and let us know date/time to match with logs.

[2021-01-15 18:27] mattdricker commented on #1261
Above user has run through the steps to reproduce. Log info below.

Different from Blackbaud behavior, they are not able to get the grade to record.

LMS URL: https://moodle.drew.edu/3
LMS GUID: moodle.drew.edu
Date/time:  Jan 15, 2021 12:55pm & 12:57pm

[2021-01-18 16:55] mattdricker commented on #1126
Confusion from an LMS user about flagging: https://app.hubspot.com/contacts/6291320/ticket/284962510/

[2021-01-25 12:21] ankostis commented on #637
FYI, on Android you may switch to [Firefox-nightly("fenix)](https://play.google.com/store/apps/details?id=org.mozilla.fenix) which permits the installation of ANY add-on, when following [the official procedure](http://blog.mozilla.org/addons/2020/09/29/expanded-extension-support-in-firefox-for-android-nightly/), including the [the "unofficial bookmarklet" from Hernawan](https://addons.mozilla.org/

[2021-01-25 18:57] ankostis commented on #1155
Also a massive group (or-any-other-prop)-update in the hypothesis-site would be handy for similar situations, that side quite often (e.g. #1131 or massive rename of a tag).

[2021-01-26 15:56] mattdricker commented on #1261
One customer is holding off on rollout until we can figure this out. He is happy to meet with us and help in any way that is useful.
https://app.hubspot.com/contacts/6291320/ticket/252589809/

[2021-02-01 15:42] mattdricker commented on #1261
Another user report, seeing error in Moodle
![1dfa6ebc-a549-45b6-be63-837b50ca51be-hs_file_upload-submit-grade-error](https://user-images.githubusercontent.com/71603629/106480510-7e6fab00-6479-11eb-9fc2-4431c6ea3c56.jpg)

Have asked them to report date and time for tracking.
https://app.hubspot.com/contacts/6291320/ticket/294689362/

[2021-02-02 15:08] lyzadanger commented on #1106
This should satisfy the spike of this issue:

In the Annotations tab of the sidebar, what you see by default is a list of _top-level thread trees_ ordered by _location_ in the document. A thread tree’s document _location_ is based on some metadata within the thread’s topmost annotation—that annotation contains “selectors” that anchor the annotation to a location in the document. Replies do not hav

[2021-02-02 15:53] mattdricker commented on #1261
Another Moodle user with grading error. Date and time requested.
![Screen Shot 2021-02-02 at 1 09 33 PM](https://user-images.githubusercontent.com/71603629/106625563-c576a280-6544-11eb-8fa6-e3a1d72cc0a6.png)
https://app.hubspot.com/contacts/6291320/ticket/295880016/

[2021-02-02 16:57] klemay opened #1171 "Top of superscript text overlaps with previous line in annotation cards"
### Steps to reproduce
1. Create an annotation that contains superscript text (in Markdown, you can do this with `<sup></sup>` tags - so to write 2<sup>3</sup> you'd type `2<sup>3</sup>`)

### Expected behaviour
The superscript text properly renders.

### Actual behaviour
There is overlap between the superscript text and the previous line. If this happens in the first line of annotation text, the

[2021-02-02 17:23] klemay commented on #1106
@lyzadanger this does indeed satisfy the spike, thank you! I have changed the title of this issue to a problem statement ("Headless" threads do not show in client sidebar) and will pull this back into the To Review column for next backlog meeting. Now that we know this is not a straightforward/small bit of work, we should reassess priority.

[2021-02-02 17:57] klemay commented on #1164
We should include instructions for pinning the extension to the toolbar as well, as pointed out in https://github.com/hypothesis/browser-extension/issues/487

[2021-02-02 18:26] klemay opened #1172 "Automatic grading for LMS"
For instructors teaching large courses, it's tedious (and sometimes impossible) to manually grade each student's annotations. An automatic grading capability would be helpful in these cases.

Some notes:

- There are some instructors who do not like the idea of automatic grading. We shouldn't force them into using such a feature.
- There is lots of research to be done on how we would want this to

[2021-02-02 18:58] klemay commented on #466
We get this request fairly often and our Edu team says this will be critical for capturing the K-12 market. [This message from a K-12 contact sums it up nicely](https://hypothes-is.slack.com/archives/C01B9TRVATZ/p1612197588001100) (requires access to Hypothesis Slack). An excerpt:

[2021-02-02 19:10] mattdricker commented on #1261
Date and time from above report:

LMS URL: https://moodle.aua.am/
LMG GUID: 30d3871b7bd7c0f41343b5b88c98ff4e
Date and time: Feb 2, 2021 8:07 PM Armenian time (Yerevan) (GMT+4)
https://app.hubspot.com/contacts/6291320/ticket/295880016/

[2021-02-03 14:20] mattdricker commented on #1261
Another report from Moodle user:
LMS URL: https://uts.fishersnet.net
LMS GUID: bab877ee339ac5453136a8969b22aea0
Date and time: Feb 2, 2021, 17:25 EST

https://app.hubspot.com/contacts/6291320/ticket/294689362/

[2021-02-03 14:49] robertknight commented on #1172
I'd like to throw out a possibly related / alternative idea here, which is that instead of actually assigning a grade automatically, we instead provide a convenient summary of a student's contributions in terms of statistics, visualizations etc. This would leave the policy of how to determine a grade up to the instructors, but would provide information that could be used for a quick assessment if

[2021-02-03 18:40] klemay commented on #1172
@robertknight I think this is a "both/and" rather than "either/or" scenario. Consider, for example, a large lecture course with over 2000 students enrolled (that is the use case that prompted me to open up this issue). Even if we surface information like volume and type of contributions, that is still 2000 grades that the instructor has to enter manually.

One of our competitors has automatic grad

[2021-02-05 20:52] klemay opened #1173 "Allow instructors to share annotation sets / assignments"
Teachers need to be able to share approaches to teaching a particular reading, or even sets of readings for a course. We would like for teachers to be able to share assignments they've created and annotation sets associated with a particular reading.

([See discussion in Slack](https://hypothes-is.slack.com/archives/CLQUUEVMY/p1611541421010600))

[2021-02-05 20:58] dwhly commented on #1173
Teachers should be able to take an annotation set they discover and copy it into a new course over another copy of the document.  An obvious question is:  What if the document is not available, or private, or copy-protected, etc?  You should be able to point to *another* version of the same document that you control and have fuzzy anchoring see if it can just "make the original annotations stick t

[2021-02-08 18:59] esanzgar opened #1174 "API searches of DOI should be case insensitive"
## General explanation

API searches to DOIs should return same number of annotations independently to its casing.

This issue is related with:
- [Hypothesis Help Center] Re: 14180
- https://docs.google.com/document/d/1M7qmacmkV62VWLZcoGH61slr0cnPeIRbcNFJflieBIU/edit
- https://github.com/hypothesis/support/issues/154
- https://hypothes-is.slack.com/archives/C2BLQDKHA/p1602161751190300

### Steps t

[2021-02-09 10:57] esanzgar opened #1175 "Redesigned Europe PMC site uses new URL patterns"
## Bug report form

In Oct 2019, Europe PMC redesigned their website and decided to retire `http:/europepmce.org/abstract/MED/`, redirecting the traffic to this new URL pattern `http:/europepmce.org/article/MED/`.

All annotation from the Europe PMC group (`NMb8iAjd`) were associated to the old URL pattern.

There are 282 articles that don't show annotations because they are not associated to DOIs

[2021-02-09 11:03] ankostis opened #1176 "Search for tags hierarchically"
## Feature Request Form
### Problem you are trying to address with this feature
Accustomed to gmail's hierarchical labels, i annotate pages with nested H tags, delimited with dots (temporary convention), like `tag.foo` & `tag.bar`.  But when searching for tag `some`, i would love to get also those hierarchical tags, not just results explicitly tagged with `some`.

### Your solution
When clicking o

[2021-02-09 22:37] klemay commented on #1158
Hi @AJamesPhillips - annotation isn't working at the first URL you provide because the PDF is inside of an iframe. This is a [known issue](https://github.com/hypothesis/product-backlog/issues/1084) with the workaround being to open the PDF directly in your browser (either by using the link you provide in the Additional Details section or by downloading & [annotating locally](https://web.hypothes.i

[2021-02-09 22:37] #1158 closed, assigned to nobody

[2021-02-10 16:21] klemay commented on #1124
@dwhly can we close this issue? the original link you provided no longer works, but I tried a few different PDFs in Chrome, Safari, and FF, and I am not seeing the sidebar magnified.

Chrome:
<img width="1460" alt="chrome-docdrop-pdf" src="https://user-images.githubusercontent.com/12087705/107538539-15cbb100-6b92-11eb-83ec-e794e644709e.png">

Safari:
<img width="1430" alt="safari-dropdoc-pdf" src=

[2021-02-10 16:28] dwhly commented on #1124
Yes, most def!

[2021-02-10 16:28] #1124 closed, assigned to nobody

[2021-02-10 16:54] dwhly commented on #1176
Also, related to https://github.com/hypothesis/product-backlog/issues/763.

And... partial string matching on tag search would help.

[2021-02-12 20:35] klemay opened #1177 "Removing filter in sidebar brings user back to top"
## Steps to reproduce:
1. Open a web page or document that has a lot of annotations - you could even try this on [the Hypothesis website home page](https://web.hypothes.is/).
2. Scroll down a ways and click on a highlight. The sidebar will be filtered to only show annotations associated with that text selection:
<img width="1154" alt="Screen Shot 2021-02-12 at 3 30 58 PM" src="https://user-images.

[2021-02-16 13:12] seanh opened #1178 "EPIC: Secure Via"
See https://github.com/hypothesis/checkmate/projects/2

[2021-02-16 16:43] seanh commented on #1261
I've renamed this to clarify that it's about Blackbaud only.

I've heard that people might have seen this _error message_ in other LMS's as well but that doesn't necessarily mean those LMS's have the same problem ("Malformed LTI outcome response" is a generic error message that LMS app throws). I this error message is seen in other LMS's, can people open separate issues for each LMS?

[2021-02-16 16:58] klemay commented on #1261
Thanks, @seanh - we have a separate issue for grading bar errors Moodle, which we have learned are separate from this Blackbaud issue: https://github.com/hypothesis/support/issues/169

[2021-02-17 17:39] klemay commented on #1177
Notes from [a conversation in Slack](https://hypothes-is.slack.com/archives/C07NXBDNW/p1613161649003400):
This gets tricky when a user is filtering by search term rather than by document location. For example, [visit this PDF](https://via.hypothes.is/https://arxiv.org/pdf/1606.02960.pdf) and search the sidebar for the term "sequence". The sidebar looks like this:
<img width="478" alt="Screenshot 2

[2021-02-19 18:07] klemay commented on #1148
Notes from a call with our friends at Benetech and an accessibility developer they introduced us to:
- The virtual buffer is an established practice/workflow that has been a part of screen readers for 18+ years. It is unlikely that we would convince the makers of screen readers to change the way this works
- An approach that could work for HTML and EPUB: allow user to use a keystroke that would pu

[2021-02-24 06:44] kitaev-chen commented on #566
it's too slow... I saw other product has this export function now only lack of pdf annotation function
https://pagenote.cn/

[2021-02-24 23:41] klemay commented on #1148
Dan and Katelyn met with the founder and general manager of NVAccess - this meeting suggests the accessibility developer we spoke to was pessimistic re: NVAccess' willingness to implement changes on their end. [Notes from the call in Slack](https://hypothes-is.slack.com/archives/C8TPC8XMK/p1614210026001500).

[2021-02-25 12:32] FredrikStenstrom commented on #669
Hello and thx for making such an awesome tool. Me and my collegues are collaborating a lot with PDF documents containing drawings and images and Hypothesis has everything we need except from the ability to mark on images in PDF´s.
I understand that the annotations in Hypothesis is textbased and that its hard to code something that recognizez images but isnt i possible to work with some kind of ann

[2021-02-25 12:50] robertknight commented on #669
Thanks for the feedback @FredrikStenstrom!

In the case of PDFs there is a standard coordinate system that we could use to specify what parts of a page an annotation refers to. Something we would have to figure out is what to display in the sidebar in the place where the annotated text is normally displayed as a quote. I guess the simplest option would be to show something like `(WIDTH x HEIGHT im

[2021-02-25 13:11] FredrikStenstrom commented on #669
Wow Robert that was the quickest reply ever in these kind of forums. Thanks for takin time and response and also explain your ideas around a solution. I thought I just send out a cry for help and that it would be forgotten but Im amazed of the fast response :)
Your suggestion sounds good and the important thing is that you want to mark out clearly and be able to jump to the markup point by clickin

[2021-02-25 18:36] klemay opened #1179 "Update Via homepage at via.hypothes.is"
Now that Via is a closed proxy, we should update https://via.hypothes.is/ to indicate this. That would accomplish:

- Signaling to blocklists/security orgs that we are good actors
- Informing users who are used to Via being an open proxy

That language should read:
This service is a closed proxy, which is limited to a small number of known domains for news, content and other well established web p

[2021-02-25 18:42] klemay commented on #1179
I suggested some language here (requires Hypothesis login): https://docs.google.com/document/d/1FrMlAbxHVbpnm_IIde1Akx9DRhpmx_fjgGEQMPMVPsE/edit

[2021-02-25 19:28] klemay commented on #669
@FredrikStenstrom hello from the Hypothesis product manager! In terms of priority and time frames - this is something we very much want to do. Our biggest customer base right now is in education and this is a popular request. It's not currently scheduled as a near-term item because we have some other education-specific workflows to take care of first, and we are a small (but growing!) team.

[2021-02-26 16:52] #1179 closed, assigned to seanh

[2021-02-26 21:29] mkdir-washington-edu commented on #86
Came up today. https://app.hubspot.com/contacts/6291320/ticket/309936759/
I think the user's behavior (selecting text over a page break) is definitely possible to run in to. Also somewhat typical is the user's reaction: "this is broken, I'm not going to try a different part of the text".

[2021-03-02 16:32] dwhly opened #1180 "Copy version details is reversed with no line breaks"
### Steps to reproduce
1. Open sidebar, go to help, click about this version
2. Click "Copy version details"
3. Paste somewhere

### Expected behaviour
Pasted text should look approximately like what's shown

### Actual behaviour
Text is instead reversed in order, with no line breaks / all smushed together.

### Additional details
It looks like this:
timestamp: Tue Mar 02 2021 08:18:59 GMT-0800 (P

[2021-03-02 19:21] klemay commented on #1180
added to bug backlog for review and will let eng know about this regression

[2021-03-09 19:24] klemay opened #1181 "Small group annotations for Blackboard"
TO DO

[2021-03-09 19:25] klemay opened #1182 "Small group annotation for Moodle"
TO DO

[2021-03-09 19:26] klemay opened #1183 "Small group annotation for D2L"
TO DO

[2021-03-09 19:26] klemay opened #1184 "Small group annotation for Sakai"
TO DO

[2021-03-09 19:38] klemay opened #1185 "Blackboard Learn files integration"
See Milestone being tracked in LMS repo: https://github.com/hypothesis/lms/milestone/19

[2021-03-09 19:38] klemay opened #1186 "Moodle files integration"
See Milestone being tracked in LMS repo: https://github.com/hypothesis/lms/milestone/9

[2021-03-09 19:39] klemay opened #1187 "Sakai files integration"
TO DO

[2021-03-09 19:39] klemay opened #1188 "D2L file integration"
TO DO

[2021-03-09 19:42] klemay opened #1189 "Enable use of privately shared files in Microsoft OneDrive in LMS assignments"
**As an instructor, I want to keep my OneDrive and Sharepoint files private while I share then with students as assignments, so that I comply with my institution's rules for distribution and duplication copyrights.**

## Constraints

- Comply with licensing/copyrights for distribution (no public sharing)
- Comply with licensing/copyrights for duplication (no hosting)

## Flow

:shrug:

## Notes

-

[2021-03-10 16:54] mattdricker commented on #404
Reported and confirmed as still happening: https://app.hubspot.com/contacts/6291320/ticket/325176101/

[2021-03-10 16:56] mattdricker commented on #404
Also reported in https://github.com/hypothesis/client/issues/2042

[2021-03-10 17:41] klemay opened #1190 "Notebook: Known issues"
As we iteratively build the [Notebook](https://github.com/hypothesis/product-backlog/issues/1161), let's keep track of known issues here, so that we don't overwhelm the engineering team with feedback about problems we already plan to fix.

## Known issues
- **Large numbers of annotations:** Notebook works for courses/groups with < 5000 annotations. This will be fixed with upcoming changes to the A

[2021-03-11 19:31] mattdricker commented on #198
User request: https://app.hubspot.com/contacts/6291320/ticket/331904780/

[2021-03-11 20:33] jorgebr commented on #1116
Yes, please!  Would be so good.

[2021-03-13 12:52] flancian commented on #576
Ahoy! I have not been able to make this work in my site; I notice documentation still calls externalContainerSelector "experimental". Is it expected to work?

What I see is that hypothes.is mostly ignores the div I designate and

1. dumps its divs *after* the div in question, instead of within it.
2. still draws the "hypothesis-adder" with style="display: block; position: absolute; top: 0px;", whi

[2021-03-13 21:14] robertknight commented on #576
This selector affects where the sidebar frame that shows annotation contents is created. There are some other UI elements (eg. `<hypothesis-adder>`, `<hypothesis-notebook>`) which are initially hidden elements that show up elsewhere under certain conditions. Those are not affected by `externalContainerSelector`.

The `<hypothesis-adder>` element is the toolbar which appears when you select text. I

[2021-03-15 18:42] klemay opened #1191 "Finish support for LMS course copy"
Remaining work is outlined in this milestone:
https://github.com/hypothesis/lms/milestone/20

[2021-03-15 19:24] klemay opened #1192 "Notifications for LMS users"
As a teacher, I want to be notified when:

- Students make annotations on assignments so that I can keep up with overall course activity, and answer student questions in a timely manner
- Someone replies to my annotation so that I can facilitate conversations with my students

As a teacher, I would like Hypothesis to send a notification when:
- I want a particular student to know about or reply to

[2021-03-15 19:33] klemay opened #1193 "Multiple backend support"
Part of long-term vision for Hypothesis

[2021-03-15 19:46] klemay opened #1194 "Expanded support for other browsers and mobile devices"
https://github.com/hypothesis/product-backlog/projects/6#card-12350943

[2021-03-15 19:49] klemay opened #1195 "Moderation improvements:"
- https://github.com/hypothesis/product-backlog/issues/1089

- https://github.com/hypothesis/product-backlog/issues/846

- https://github.com/hypothesis/product-backlog/issues/409

[2021-03-16 13:40] #1180 closed, assigned to lyzadanger

[2021-03-17 15:29] mkdir-washington-edu commented on #1173
https://app.hubspot.com/contacts/6291320/ticket/339879951/

[2021-03-22 02:53] peterdm opened #1196 "TagEditor loses tag-service ordering while removing existing tags from tag suggestions."
## Bug report form
### Steps to reproduce
1.  Create 2 annotations
2. Tag both annotations with `abcd`
3. Tag 1 annotation with `abc` as well.
4. Create a new annotation, and open tag editor (type: `abc`)

### Expected behaviour
The tags.js code for `filter` orders the results in descending order of frequency (`[abcd, abc]`)

### Actual behaviour
The `removeDuplicates` function in the client TagEd

[2021-03-22 13:08] peterdm opened #1197 "Tagging ergonomics (summary of issues)"
Hello.  Looking back through old issues, I found a lot of mentions about tagging activities.
While planning for some customization work in this area, I wanted to catalog past issues
to better understand collective needs.

(If this is the wrong place for this, please feel free to move, comment with link and close)

### Tagging Ergonomics

- Suggest tags from `h`: https://github.com/hypothesis/produ

[2021-03-24 16:46] mattdricker commented on #86
User asked about this in Twitter: https://twitter.com/pivic/status/1373895420271812608

[2021-03-26 12:22] seanh opened #1198 "Don't cache /_status endpoints (all apps)"
All `/_status` endpoints should send a `Cache-Control: no-store` header to prevent responses from being cached (e.g. by Cloudflare). Otherwise alarms set on these endpoints (such as ones we have in New Relic) won't work.

See: https://hypothes-is.slack.com/archives/CR3E3S7K8/p1616760276070900?thread_ts=1616581242.031600&cid=CR3E3S7K8

For some reason h, bouncer, lms, and via's `/_status` responses

[2021-03-29 12:38] seanh opened #1199 "Get our apps off of Python 3.6"
# Background

* [Python 3.6 support ends on 23 Dec 2021](https://endoflife.date/python)
* We are likely to start seeing certain libraries move on and possibly stop supporting Python 3.6
* We are missing out on speed benefits and new features of later versions of Python
* We have undergone one large scale upgrade before (2.7 -> 3.6) but the process was not documented (and likely wouldn't apply dire

[2021-03-29 15:12] klemay commented on #1151
The Backend team is organizing the work for this feature here: https://github.com/orgs/hypothesis/projects/39

[2021-03-31 14:01] esanzgar commented on #1174
The 'uri`  property in the elasticsearch schema:

https://github.com/hypothesis/h/blob/e92e7f23c117326b8fdc866555c456944528e65b/h/search/config.py#L56-L60

is associated with a custom `uri` analyzer:

https://github.com/hypothesis/h/blob/e92e7f23c117326b8fdc866555c456944528e65b/h/search/config.py#L67-L104

I don't know enough about elasticsearch, but it seems plausible that the analyzer could modi

[2021-03-31 14:53] klemay opened #1200 "VitalSource PoC: Show booklist"
Dave Campbell, who works on integrations, wants to see the PoC working with other VS books before moving forward with the UI work we’ve asked for on their end.

They’ve given us access to another book, ISBN 9781400847402 (The vbid for this book is the same as the ISBN)

He’s asking for this because he initially hard-coded the Hypothesis config into the book we’ve been using and he wants to confirm

[2021-04-05 16:42] lyzadanger commented on #1161
Epic complete!

[2021-04-05 16:42] #1161 closed, assigned to nobody

[2021-04-06 13:11] jon-betts commented on #1198
Done! Phew

[2021-04-06 13:11] #1198 closed, assigned to jon-betts

[2021-04-06 16:34] dwhly opened #1201 "EPUB demo no longer working"
## Bug report form
### Steps to reproduce
1. Go to https://web.hypothes.is/demos/epubjs/
2. Try to view existing annotations
3. Try to create a new annotation

### Expected behaviour
You should see highlights from existing annotations
You should be able to make an annotation
Clicking the book text should close the sidebar

[2021-04-06 16:36] dwhly commented on #1201
@markjohngraham at IA is inquiring about this wrt to their own Hypothesis implementation.

[2021-04-06 16:57] robertknight commented on #1201
From a quick look:

- At least some of the highlights exist in the document, but are invisible. It looks like the logic that handles toggling the highlight visibility is not working in the context of a child iframe
- The logic related to support for multiple iframes doesn't seem to be working correctly. The sidebar is only aware of one frame and that is for the EPUB viewer rather than the document

[2021-04-09 16:52] klemay opened #1202 "Improve, expand, and document keyboard shortcuts"
Currently, users can annotate selected text by typing `a` to create an annotation or `h` to create a highlight. This meets WCAG guidelines but could use some improvement and new additions. For example:

- Enabling/disabling the browser extension
- Opening and closing the sidebar
- Moving from document to sidebar & vice versa
- Interacting with an annotation: Editing, Replying, Flagging, and Deleti

[2021-04-12 11:21] thelazyoxymoron commented on #566
Although this would be just another user's request, this feature would be a huge boost to my workflow (and I'm sure for countless others as well). I routinely highlight any interesting thing I read over the web (articles,books,pdfs etc) and need to go through them later. Having a pdf/csv export of all my annotations would be extremely useful.

Can we expect any deadline/projected timeframe for thi

[2021-04-12 14:40] klemay commented on #566
@thelazyoxymoron no projected timeframe at the moment. In the meantime you can get a csv export of your annotations using this tool: https://jonudell.info/h/facet/

[2021-04-12 17:37] kitaev-chen commented on #566
The best format to export I guess is markdown file

[2021-04-13 14:03] mkdir-washington-edu commented on #324
Request for Spanish: https://app.hubspot.com/contacts/6291320/ticket/371939850/

[2021-04-13 19:52] klemay opened #1203 "SPIKE: Can we do anything about Speedgrader + multiple installs issue?"
There is [a bug in Canvas](https://github.com/hypothesis/lms/issues/915) that causes confusion for teachers when there are multiple installs of Canvas in their LMS.

While we can't do anything on our end to fix the bug, is there anything we can do to lessen confusion for users?

Ideally, we'd be able to know when there are multiple installs of our app in a Canvas instance so we could reach out pro

[2021-04-13 20:12] klemay commented on #443
@robertknight when you get a moment: is this bug still valid? In your Flipgrid example,

https://flipboard.com/article/why-this-award-winning-psychologist-says-you-should-throw-out-everything-you-kno/f-2af8d2b1ed/inc.com

now redirects to

https://flipboard.com/article/why-this-award-winning-psychologist-says-you-should-throw-out-everything-you-kno/f-2af8d2b1ed%2Finc.com

so there is no longer a p

[2021-04-17 17:39] ykessler commented on #1140
I'd like to add my vote for this feature!

Couple notes on this:
- While optimal default behaviors are always good, if the behaviors are not configurable then they're not _'default'_ behaviors, they're the _only_ behavior. Moreover adding some basic configuration options in no way detracts from the default user experience- it  just enables particular users to get more out of the tool.
- Please con

[2021-04-19 17:35] LMS007 commented on #1261
It may not be entirely clear from this discussion, but the reasons we get the malformed error on the `POST`  request is because the XML returns with

[code]

Notice that the outer tag is `imsx_POXEnvelopeRequest` is should be `imsx_POXEnvelopeResponse`. This might be a bug in blackbaud itself. This is also the case for the `GET` request when fetching a grade, but unlike the `POST`, the `GET` respo

[2021-05-04 15:16] jon-betts opened #1204 "Review 3rd party PRs and update our records about compatibility"
There are a number of 3rd party PRs on the go. We should keep an eye on them.

As a related task we should collect all we've learned about what's compatible with what and record it.

This originated from work for: https://github.com/hypothesis/product-backlog/issues/1199

These don't have to be done, but I want to keep an eye on them in case they require our input:

 * [x] https://github.com/webre

[2021-05-06 18:49] beckygeorge03 commented on #669
![Screen Shot 2021-05-04 at 10 56 38 AM (2) (1)](https://user-images.githubusercontent.com/72111083/117350152-11e1bf00-ae61-11eb-8b07-18471a2e9b1c.png)

[2021-05-07 14:49] dwhly opened #1205 "Clicking annotate no longer opens sidebar on PDFs (in old PDF.js versions)"
## Bug report form
### Steps to reproduce
1. Select text, for instance on the embedded PDF here https://paleorxiv.org/3auze  (Also, same issue happens on a PDF dragged to docdrop.org)
2. Click annotate

### Expected behaviour
Sidebar should open

### Actual behaviour
It doesn't.
Also, note that clicking on the text to close the sidebar doesn't work either-- related?

### Browser/system information

[2021-05-07 14:57] klemay commented on #1205
-  I cannot reproduce if I open a PDF in my browser and activate the extension
- Dan can repro in docdrop
- We cannot repro in LMS

[2021-05-07 14:58] robertknight commented on #1205
I can reproduce the issue on https://paleorxiv.org/3auze. There is an error in the terminal:

<img width="897" alt="pdfContainer error" src="https://user-images.githubusercontent.com/2458/117468863-07045880-af4d-11eb-9d40-23625794c44a.png">

[2021-05-07 15:00] robertknight commented on #1205
The `this.pdfContainer` element is initialized with:

[code]

On this page `PDFViewerApplication` exists, but the `appConfig` property does not. The issue might relate to the version of PDF.js in use.

[2021-05-07 15:04] dwhly commented on #1205
I believe docdrop (https://github.com/dwhly-proj/droppdf) has just been updated to recent PDFjs? cc @genuinebuildmonkey?

[2021-05-07 15:06] robertknight commented on #1205
In Via's version of PDF.js:

<img width="755" alt="pdfContainer Via" src="https://user-images.githubusercontent.com/2458/117469467-ac1f3100-af4d-11eb-8582-4e0ea004ab01.png">

The version of PDF.js can be checked by evaluating `window.PDFJS.version` in the console. PaleoarXiv is using a much older version, 1.0.1145. This might be an old version of https://github.com/hypothesis/pdf.js-hypothes.is.

[2021-05-07 15:08] dwhly commented on #1205
I will let the OSF team know to check the version of PDFjs.  Also, will doublecheck docdrop.  ty!

[2021-05-07 16:51] robertknight commented on #1205
From what I've been able to determine from the PDF.js project history, this issue affects PDF.js versions before v1.5.188 that was released on 2016-04-21. All of the PDF.js viewers that we ship are newer (various 2.x versions) but there may still be some publisher sites using older releases of https://github.com/hypothesis/pdf.js-hypothes.is.

There are some general related issues about figuring o

[2021-05-10 13:15] jon-betts opened #1206 "Raise the minimum version of Python in our libraries"
For: https://github.com/hypothesis/product-backlog/issues/1199

Now that all of our products are off of Python 3.6, we should:

 * Work out a reasonable amount of time to leave our products running the new version
 * When this time has expired, remove cross testing for Python 3.6 and 3.7

Todo:

 * [x] `h-cookiecutter-pypackage` - https://github.com/hypothesis/h-cookiecutter-pypackage/pull/60
 * [

[2021-05-10 13:25] jon-betts opened #1207 "Remove `pkg_resources` now that we no longer use Python 3.6"
`pkg_resources` is now deprecated. We should find out where it's used and remove it if we can. It's also apparently slow, so we might get some performance increases where it's used, but it's not the main motivation.

`importlib_resources` https://importlib-resources.readthedocs.io/en/latest/ is a backport of the Python 3.9 built in `importlib.resources`, according to the docs, but the actual `impo

[2021-05-10 13:27] jon-betts opened #1208 "Add stack overflow questions for results of the Python upgrade"
For: https://github.com/hypothesis/product-backlog/issues/1199

 * [ ] How to pick a library - https://stackoverflow.com/c/hypothesis/questions/469/470
 * [x] How to review a dependency for Python compatbility - https://stackoverflow.com/c/hypothesis/questions/461
 * [ ] How to make a PR to a third party library - https://stackoverflow.com/c/hypothesis/questions/463
 * [ ] How to update an app - h

[2021-05-10 13:53] jon-betts opened #1209 "Work out a mechanism to monitor Docker file updates (for Python at least)"
Dependabot doesn't do a good job of managing our docker file updates for a few reasons:

 * There are two version numbers going on at the same time, one for Alpine and one for Python
 * It doesn't work well with us wanting not to go to 3.9, but still wanting Python 3.8 versions
 * It's possible for upstream maintainers to change the dockerfile without changing the name - so we should be hash based

[2021-05-10 15:13] mattdricker commented on #1202
Example of potential for conflict between shortcut keys: [Using keyboard shortcut 'h' with PDF changes pointer to Hand Tool](https://github.com/hypothesis/support/issues/201)

[2021-05-14 05:58] #1205 closed, assigned to nobody

[2021-05-15 22:40] DavidGP commented on #198
What a pity that this is still not available. I'll have to stick with Diigo and Marker.to then for the time being

[2021-05-18 14:57] dwhly opened #1210 "Highlight is not over the selected text"
## Bug report form
### Steps to reproduce
1. Go here: https://hyp.is/JpVxqrUDEeudHSeeMuaPOQ/asapbio.org/shared-technology-needs-for-preprints
2. Ensure that you're using via, NOT the chrome extension

### Expected behaviour
"Jessica Polka, Carly Strasser, and Dario Taraborelli" should be highlighted.

### Actual behaviour
"rio Taraborelli (2021). Shared technology needs for " is highlighted.

<img

[2021-05-18 15:06] dwhly commented on #1210
This is a highly visible document from the preprint community, the authors of which have chosen to use Hypothesis.  This obv showcases this to a wider group of folks that might choose to also use us.

[2021-05-18 15:07] esanzgar commented on #1210
I can reproduce in Safari and Firefox but not in Chrome (using the extension):

![image](https://user-images.githubusercontent.com/8555781/118675910-465b6080-b7fb-11eb-81d6-e6800e65ebe9.png)

[2021-05-18 15:13] dwhly commented on #1210
Per @mattdricker: Seeing the error in via but not in the extension.

[2021-05-18 15:24] mattdricker commented on #94
User feedback: https://app.hubspot.com/contacts/6291320/ticket/417672585/

[2021-05-18 16:07] robertknight commented on #1210
In Safari I see the issue in Via but not when using the bookmarklet. From stepping through anchoring code for the first annotation (with text quote "positions") in the debugger it looks like anchoring using the range and position is failing. `matchQuote` finds the correct quote in the page but it seems that when those positions are mapped to a `Range` the result is not correct. Might be something

[2021-05-19 15:22] #1206 closed, assigned to jon-betts

[2021-05-19 15:50] robertknight commented on #1126
What I would suggest doing for the implementation is to follow the example of the `allowLeavingGroups` option in the service configuration. See https://github.com/hypothesis/client/blob/8dacfeadbe916e7fcea9deb62246eff4460db8f7/src/types/config.js#L18 and `AnnotationActionBar` in the client and https://github.com/hypothesis/lms/blob/a795659f22ff554e4c4039228741f613b08f0039/lms/resources/_js_config.

[2021-05-19 18:28] jon-betts commented on #1204
I think we're coming to the end of the road with this one. Only one left on an unmaintained project. I've added a comment on the mailing list, but we'll see

[2021-05-20 09:38] esanzgar commented on #1126
Thanks @robertknight  for the hint.

[2021-05-20 10:14] #1126 closed, assigned to esanzgar

[2021-05-20 12:56] jon-betts commented on #1204
I'm going to call this. We got 10/11, and the last one is a dead project.

[2021-05-20 12:56] #1204 closed, assigned to jon-betts

[2021-05-20 13:14] dwhly opened #1211 "SPIKE: Location sort is not functioning"
## Bug report form
### Steps to reproduce
1. Go here: https://github.com/bokand/web-annotations/
2. View annotations w/ extension

### Expected behaviour
The first annotation on the page, at the top of the page, which was made first-- should be sorted to the top of the sidebar.

### Actual behaviour
Notice that the first annotation (by David Bokan) does *not* show first, but is oddly about a third

[2021-05-20 13:22] dwhly opened #1212 "Saving a new annotation should clear any current filter"
## Feature Request Form
### Problem you are trying to address with this feature
When you create an annotation while a filter (for instance the client is filtered to show a single annotation) is in place, then when you save an annotation that annotation often disappears from view (if there are enough annotations on the page that it's not automatically visible).

One of the reasons I find this annoy

[2021-05-20 13:35] mkdir-washington-edu commented on #1106
https://app.hubspot.com/contacts/6291320/ticket/420487232/

[2021-05-24 19:18] #1207 closed, assigned to jon-betts

[2021-05-26 15:23] #1208 closed, assigned to jon-betts

[2021-05-26 20:37] mattdricker commented on #1202
**Proposed list of actions to trigger with a keyboard shortcut:**

- Activate Hypothesis extension
- Open/close sidebar
- Navigate to next/previous annotation card
- Navigate to next/previous selected document text
- Search

In Editor:
- Toggle between write & preview
- Post to group
- Post to Only Me
- Cancel

[DONE]
* ~~Annotate~~ `a`
* ~~Highlight~~ `h`

[2021-05-26 20:43] mattdricker commented on #1202
Some additional notes:

It may make sense for these to use same KB shortcut, with the difference being whether sidebar is open or shut.

Also, if a user has navigated to a selected text in the document, opening the sidebar should transfer that focus to the related annotation card. Vice versa with an annotation card selected when the sidebar is closed.

[2021-05-27 14:31] jeremydean commented on #1202
Adding a detail I noted during the OSU call.

The "h" shortcut for "Highlight" conflicts with the common use of "h" as a shortcut to navigate "Headers."

While there is a "pass through mode" in screen readers to avoid this conflict, not all screen reader users will be that sophisticated.

@mattdricker you had mentioned something about work we had planned on "modifier keys" that might address this.

[2021-05-27 14:41] mattdricker opened #1389 "Via unable to successfully load PDF"
Per user report https://app.hubspot.com/contacts/6291320/ticket/427633584/

Attempting to open a certain PDF through Via, the loading bar stops part way and Hypothesis sidebar never appears.

Example: https://via.hypothes.is/https://bleakhouse.wordpress.ncsu.edu/files/2020/01/Bleak-House-Working-Notes-Transcriptions.pdf

Opening the PDF without Via and activating Hypothesis extension manually work

[2021-05-27 14:45] mattdricker commented on #1389
@robertknight has investigated as documented here https://hypothes-is.slack.com/archives/C2BLQDKHA/p1622042949086500

[2021-05-27 15:41] mattdricker opened #1357 "User unable to set notification preference"

[2021-05-27 15:51] mattdricker commented on #1202
@jeremydean yes, we will plan on using modifier keys (e.g. ctrl + alt) with all of our kb shortcuts to avoid these conflicts. Modifier keys currently TBA.

[2021-05-31 17:36] alepulver opened #1213 "Maintain paragraphs when highlighting"
When highlighting multiple paragraphs (for instance an itemized list), the generated note doesn't have newlines and all the content is shown in a single line in the dashboard.

It would be nice if these could be shown with line breaks as the original highlighted content.

[2021-06-01 16:36] mkdir-washington-edu commented on #466
Once Canvas Groups feature is working test this to see if we have the capability to have 1:1 annotations there.
- Do groups have names that make sense?
- Is it easy to find the students you're looking for?

[2021-06-01 16:39] mkdir-washington-edu commented on #1211
Possible: the text we've collected includes hidden text that the user doesn't see.

[2021-06-01 16:51] mkdir-washington-edu commented on #1389
Of the two bullet points, Rob says hypothesis/support-legacy#2 is easier and we should do that now.

[2021-06-01 19:10] mkdir-washington-edu commented on #1202
Discussion on this topic will likely solve https://github.com/hypothesis/support/issues/201.

[2021-06-02 14:44] mkdir-washington-edu opened #1214 "Create direct links from Annotation Cards in Notebook back to LMS assignments"
## Feature Request Form
### Problem you are trying to address with this feature
Users in Notebook want to be able to click on a document title on an Annotation Card and get back to the LMS assignment associated with that annotation.

Reasons for doing so include seeing the full context of the annotation, grading, and replying to students (even though this is possible in Notebook, users felt they n

[2021-06-02 22:04] mattdricker commented on #1389
Another PDF example, superficially similar: https://via.hypothes.is/https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4370913/pdf/ndt-11-715.pdf

Reported by user at https://app.hubspot.com/contacts/6291320/ticket/437006428/

[2021-06-03 07:37] woodgear commented on #1140
vote +1

[2021-06-03 08:51] robertknight commented on #1389
@mattdricker found another example of a site rejecting requests that come from the python/requests library:

[code]

[2021-06-03 14:36] robertknight commented on #1389
Legacy Via used to forward the `User-Agent` of the end-user's browser and append a `Hypothesis-Via` token. See https://github.com/hypothesis/legacyvia/blob/285a00676f9ec7deb64e9a91ea0c1d008ad86ee8/via/app.py#L34. Since this is a proven approach it might be wise to do the same.

[2021-06-03 16:27] ajpeddakotla commented on #1209
removing this from the product/bug backlog as its a tech issue

[2021-06-03 16:55] seanh commented on #1209
Adding this to the [Engineering Backlog](https://github.com/orgs/hypothesis/projects/8).

I think Dependabot can handle this for us, see: https://hypothes-is.slack.com/archives/C1MA4E9B9/p1621938886140300

For clarification: there aren't actually two version numbers going on at the same time. It's a single semantic version number. For example  `python:3.8.9-alpine3.13` is a semantic version number

[2021-06-03 18:00] mkdir-washington-edu commented on #324
Request and offer for help translating to Turkish: https://app.hubspot.com/contacts/6291320/company/2820123802?engagement=13691581615

[2021-06-04 16:38] mkdir-washington-edu commented on #1189
Talking with a school in Quebec, their stringent rules (which they felt would be similar in all schools in QC and BC) won't allow them to host PDFs using a method where the sharing settings are changed to "everyone with a link can view". This is true for copyrighted journal articles and for student work they want to use in the LMS app.

This is currently how our GDrive integration works, but Rober

[2021-06-04 16:43] mkdir-washington-edu opened #1215 "Investigate GDrive integration that does not need to change sharing settings to work"
## Feature Request Form
### Problem you are trying to address with this feature
Currently our GDrive integration changes the sharing settings on a PDF so the Hypothesis LMS app can access the PDF. This can be problematic for schools that are strict about copyright and for PDFs of student work instructors want to use in the LMS app.

Robert, [in this Slack thread](https://hypothes-is.slack.com/arch

[2021-06-06 13:10] mkdir-washington-edu commented on #198
https://app.hubspot.com/contacts/6291320/ticket/440063152/

This user wants to change colors b/c they're on a site that automatically adds yellow highlighting to concepts covered previously, and they want to distinguish their Hypothesis annotations.

[2021-06-06 13:49] DavidGP commented on #198
...and with GetLiner :(

[2021-06-16 21:30] mkdir-washington-edu opened #1216 "Only show Hypothesis groups associated with Canvas Sections to instructors who are in those Sections"
### Problem you are trying to address with this feature
In the Canvas Sections integration we allow someone with the Teacher role to access Hypothesis groups associated with all Sections in the Course.

We worked with a school recently where a course had multiple instructors, and certain instructors were only allowed to see the students and their work that corresponded to the Sections they were te

[2021-06-17 18:57] mkdir-washington-edu opened #1217 "SPIKE: Add .gov, .mil, .edu TLD to Via allowlist"
## Feature Request Form
Currently when a web domain is not already on Via's allowlist users can fill out a form, we inspect the domain and, if it doesn't run afoul of certain rules we add it to the allowlist (https://stackoverflow.com/c/hypothesis/questions/444). If we're reasonably certain that all .gov, .mil, .edu TLDs will be allowed we should just allow them all instead of forcing users to req

[2021-06-18 14:24] robertknight commented on #1200
As of https://github.com/hypothesis/lms/pull/2728 it is now possible to create a Hypothesis assignment that uses the book mentioned in the issue description (ISBN 9781400847402). In the process we discovered that recent changes on the VitalSource side appear to have broken the Hypothesis integration, so we need to chase that up with the VS developers.

Meanwhile on our side, the current VitalSourc

[2021-06-21 15:48] lyzadanger commented on #1100
Based on discussion with the team, we are removing the following TODO from this Epic's list of tasks:

The reason is that there is nothing LMS-specific about this integration.

[2021-06-21 15:59] #1199 closed, assigned to jon-betts

[2021-06-21 16:23] peterdm commented on #970
I'm seeing this with PDFs outside of LMS context.  The behavior is not consistent.  Possibly a race between content load and anchoring timeout?

[2021-06-22 04:16] boscorona commented on #994
There's https://quizme.ai doing something similar

[2021-06-22 14:15] lyzadanger commented on #1200
The prototype requirements here have been satisfied. Please see https://github.com/hypothesis/product-backlog/issues/1100 (the original epic) and https://github.com/hypothesis/lms/issues/2861 (the next epic we're working on here).

[2021-06-22 14:15] #1200 closed, assigned to robertknight

[2021-06-30 16:49] xolotl commented on #1115
Not sure how easy this is to address, but it seems like anywhere we see {"property": "og:image", "content": "/assets/images/logo.png"}, the old Hypothesis logo shows up. Could we change to be the current Hypothesis logo?

[2021-07-01 13:37] jon-betts commented on #1209
Done!

[2021-07-01 13:37] #1209 closed, assigned to jon-betts

[2021-07-06 17:50] #1128 closed, assigned to LMS007

[2021-07-12 17:30] #1127 closed, assigned to LMS007

[2021-07-13 09:18] robertknight commented on #1115
I had a look at how the new logo actually gets displayed in iMessage. If small (eg. 200x200px) it looks blurry. If the resolution is increased it gets cropped in an unfortunate way ([screenshot](https://github.com/hypothesis/h/pull/6783#issuecomment-878919037)). The problem is that the logo is fundamentally a slightly-taller-than-square image whereas `og:image` consumers (eg. Facebook, iMessage) s

[2021-07-13 19:34] mattdricker opened #1272 "Via unable to serve pages from https://cvc.cervantes.es/"
Reported by user https://app.hubspot.com/contacts/6291320/ticket/477078696/

Attempting to use Via to annotate pages at **cvc.cervantes.es** returns an error.

For example, attempting to visit https://via.hypothes.is/https://cvc.cervantes.es/ produces:

<img width="647" alt="Screen Shot 2021-07-13 at 3 26 58 PM" src="https://user-images.githubusercontent.com/71603629/125513356-a3db8224-e246-407d-9

[2021-07-21 20:56] hochbergg commented on #1145
Some additional information: I was able to make the hypothesis chrome appear by adding a <head> tag to the PDF viewer html page via the developer tools (the page didn't have one), however I still could not annotate text in the PDF.

[2021-07-22 14:59] mkdir-washington-edu opened #1218 "Automatically fix course-copied Blackboard Files assignments whenever possible"
**Problem**
Now that we've enabled use of the BB File picker in the LMS app it looks like we're running into similar or the same issue we had with the interaction between Canvas course copy and Canvas Files assignments. Namely that the launch URL when copied into a new course continues to reference a file in the old course.

**Steps to reproduce**
1. Create a BB Files assignment (e.g. "course copy

[2021-07-22 14:59] mkdir-washington-edu commented on #1218
May be similar to https://github.com/hypothesis/lms/issues/2764

[2021-07-22 19:51] mkdir-washington-edu opened #1219 "Automatically fix course-copied Canvas Groups assignments whenever possible"
This seems to be the same issue as https://github.com/hypothesis/lms/issues/2764

When we create a launch URL for a Groups assignment we include data about the Group Set the teacher chose (e.g. “group_set=135”). Like Files, Canvas seems to assignment a number to each Group Set across the whole Canvas instance, and a copied assignment has a launch URL that references a group set in the old course.

[2021-07-26 21:23] mkdir-washington-edu opened #1273 "OpenStax book used in Canvas URL assignment does not open in a new window when links are clicked inside the assignment"
**Describe the bug**
When clicking on a link in a URL assignment in Canvas the expectation is that the new page will open in a new window to help the user understand that they are leaving the LMS context. The URLs do not open in Via so users don't think the web app is the LMS app.

When creating a Canvas assignment out of https://openstax.org/details/books/chemistry-2e and and clicking the "View o

[2021-07-28 12:41] Khushir474 opened #1220 "Provision to change colour and opacity of highight"
## Feature Request Form
### Problem you are trying to address with this feature
1. Allow users to change the colour of the highlight
2. Allow users to vary the opacity of the highlight
3. These settings are very private, and in groups, various users will see highlights in accordance with their settings

### Your solution
There should be a provision conveniently located to change the colour and opa

[2021-07-29 09:20] robertknight commented on #1201
These demos are now working again as a result of https://github.com/hypothesis/client/pull/3599 and https://github.com/hypothesis/client/pull/3611. These are steps in an ongoing overhaul of how different frames in the client communicate. There are remaining issues with what happens when multiple frames have annotation enabled at once - annotations can sometimes show up as orphans even if they aren

[2021-07-29 17:42] mkdir-washington-edu opened #1221 "Turn on Canvas Groups for all Canvas Dev Key installations"
As a final step for the Canvas Groups introduction we need to turn Groups on for all Canvas Dev Key installs.

We should do this for all existing installs from Jan 2019 (my understanding of the start date for Consumer Keys that are viable in the current LMS app).

If this isn't possible it would be good to know this earlier rather than later so Support can come up with a manual intervention.

[2021-07-30 12:50] lyzadanger commented on #1115
This should be fixed as of https://github.com/hypothesis/h/issues/6803

[2021-07-30 12:50] #1115 closed, assigned to nobody

[2021-07-30 13:46] mkdir-washington-edu commented on #1220
See https://github.com/hypothesis/product-backlog/issues/198

[2021-07-30 13:49] mkdir-washington-edu commented on #198
Another request here: https://github.com/hypothesis/product-backlog/issues/1220

[2021-08-03 14:39] #1151 closed, assigned to nobody

[2021-08-03 17:24] #1221 closed, assigned to nobody

[2021-08-05 12:14] mkdir-washington-edu commented on #86
Another report of this: https://app.hubspot.com/contacts/6291320/ticket/508528409/

[2021-08-05 13:45] mkdir-washington-edu opened #1222 "Spike: Provide ways in the Hypothesis client for a publisher to override document metadata"
### Problem you are trying to address with this feature
See Slack conversation here: https://hypothes-is.slack.com/archives/C4K6M7P5E/p1628089045073400.

OSF (and presumably other folks) currently has a need to override document metadata on PDFs that appear with the Hypothesis Sidebar over them. These preprints get annotated by a scholarly community and the documents go through multiple revisions.

[2021-08-05 13:55] mkdir-washington-edu opened #1223 "Spike: Create Hypothesis admin tools that will allow us to fix incorrect annotation URLs or document equivalence issues"
**Give tools to support to handle incorrectly equated documents.**

Now that OSF [has](https://hypothes-is.slack.com/archives/C2BLQDKHA/p1653413017541999?thread_ts=1653412895.883549&cid=C2BLQDKHA) [fixed](https://hypothes-is.slack.com/archives/C2BLQDKHA/p1654089069904339) the Hypothesis integration on their end, we still need a way to correct the documents equated before the fix.

Per [these](http

[2021-08-05 14:31] mkdir-washington-edu commented on #1223
When prioritized reach out to the folks in https://app.hubspot.com/contacts/6291320/ticket/503397519/

[2021-08-05 14:31] mkdir-washington-edu commented on #1222
When prioritized reach out to the folks in https://app.hubspot.com/contacts/6291320/ticket/503397519/

[2021-08-09 02:01] luchaoqi commented on #1140
vote +1

[2021-08-10 19:01] mkdir-washington-edu opened #1224 "Put Via on a new domain (in the future)"
### Problem you are trying to address with this feature
As part of our internal discussions about Spam at the company, we're looking to address that fact that emails containing via3html.hypothes.is seem to go directly into Spam in Gmail. This includes emails coming in to support@hypothes.is and hitting our users as well. Google seems to associate this domain with phishing attempts.

### Your solut

[2021-08-12 13:02] mkdir-washington-edu commented on #1222
Maybe a similar request: https://app.hubspot.com/contacts/6291320/ticket/516310865/

[2021-08-17 17:03] NightMachinery commented on #566
Adding a link to the exports that opens the webpage at the highlighted place (context) would be great. This should be possible using Chrome's text fragment links, ala [this](https://en.wikipedia.org/wiki/Field_(mathematics)#:~:text=a%20field%20has%20two%20operations%2C%20called%20addition%20and%20multiplication%3B%20it%20is%20an%20abelian%20group%20under%20addition%20with%200%20as%20the%20additive

[2021-08-19 09:47] desiringsubjects commented on #1140
Vote++ (it pains me that such an option- isn't available.) This off by default issue has kept me from truly using the app for years. I've tried setting complicated keyboard maestro shortcuts to fix this myself. Is there anything else I can do about it?

[2021-08-20 13:56] mkdir-washington-edu opened #1225 "SPIKE - Detect whether or not a PDF has a digital text layer prior to the first LMS app launch"
In many LMSs learning your PDF has no digital text after you've created an assignment is frustrating as you have to OCR the text and recreate the whole assignment. A better solution would be to detect whether the PDF needs digital text as you choose it and either serve you up an OCRed replacement or start working on it so it's ready by the time you launch.

### Your solution
I'm not sure what the

[2021-08-22 00:54] mkdir-washington-edu opened #1226 "Spike - LTI 1.3"
Filling this out in the morning. Sorry.

## Bug report form
### Steps to reproduce
1.
2.
3.

### Expected behaviour
Tell us what should happen.

### Actual behaviour
Tell us what happens instead.

### Browser/system information
Tell us which browser, browser version, and operating system you were using when
you encountered this issue.

### Additional details

## Feature Request Form
### Problem yo

[2021-08-27 23:02] mkdir-washington-edu commented on #324
Spanish: https://app.hubspot.com/contacts/6291320/ticket/538683522/

[2021-08-31 15:08] peterdm commented on #669
Hi @klemay.  We'd also like to add support for image annotation.

And if at all possible, image reference information via the API as well:

- **web content**: image link or minimally raw html in the anchor which captures the image tag.
- **pdf**: minimally coordinates, but if you create a clipped image for the sidebar, a link to that would be amazing!

Do you anticipate movement on this feature re

[2021-08-31 16:16] mkdir-washington-edu commented on #669
Hi @peterdm. Katelyn has moved on to a new opportunity.

You can see our public roadmap here: https://github.com/hypothesis/product-backlog/projects/6. We're a small team with big goals and at this time it's difficult to say when we're be able to work on image annotation.

[2021-09-01 14:16] MartinSemmann commented on #1036
@judell Is the tool still on your roadmap? The PoC works but without synchronizing the actual references, but rather proposing how many annotations could be synchronized.

It would be great if such addition would come to h!!!

Cheers, Martin

[2021-09-08 13:49] mattdricker commented on #127
Additional request: https://app.hubspot.com/contacts/6291320/ticket/553435476/

[2021-09-13 10:24] NightMachinery commented on #198
How can one know distinguish mere highlights from annotations that have some notes? Without this feature, the whole annotating thing is pretty useless.

[2021-09-16 19:12] mkdir-washington-edu commented on #1142
https://app.hubspot.com/contacts/6291320/ticket/564974706/

[2021-09-21 17:22] mattdricker opened #1271 "Create user-friendly error window for Canvas error {"error":"invalid_client","error_description":"unknown client"}"
The LMS app error message generated in Canvas when a developer key has been deleted does not display to the user in the typical user-friendly view:

<img width="777" alt="Screen Shot 2021-09-21 at 12 37 46 PM" src="https://user-images.githubusercontent.com/71603629/134213476-0930179d-b698-448b-835f-3ccce371e627.png">

Error text: `{"error":"invalid_client","error_description":"unknown client"}`

I

[2021-09-21 17:29] robertknight commented on #1271
The HTML page shown in the screenshot is rendered by Canvas, not us, and we have to redirect the user's browser to it as part of the authentication process.

As a result I think this will need to be fixed in Canvas, not in our application. I can't remember if the OAuth 2 spec defines a way for the authorization server (Canvas in this context) to redirect back to the client with error details. If i

[2021-09-22 19:24] jussihuotari commented on #1140
Curious why the security/privacy is not mentioned on this issue? Perhaps I'm missing something?

Anyway, from security perspective it sounds very good that the extension is off by default. Like you know, it says on install: The extension "can read and change all your data on the websites that you visit"

That's a strong authorization for any piece of software, especially for a browser extension wh

[2021-09-22 21:57] rlueder opened #1229 "Annotate Physical Books/Magazines/Journals w/ Hypothesis"
## Feature Request Form

As a reader I'd want to unlock the potential of Hypothesis when reading physical artifacts (books, magazines, journals, etc.) so my annotations can be made available outside the physical boundaries of the text I'm reading and I can also access other reader's thoughts/comments.

### User Story

As a reader at my local library I find this book from [year] with a lot of inter

[2021-09-23 13:24] mattdricker opened #1274 "User confusion when following "visit annotations in context" link for local files"
As reported by user https://app.hubspot.com/contacts/6291320/ticket/572455774/

For annotations made on local PDFs, following the activity page link to "visit annotations in context" will always result in an error "Sorry, but it looks like this annotation was made on a document that is not publicly available."

<img width="971" alt="Screen Shot 2021-09-23 at 8 48 30 AM" src="https://user-images.gi

[2021-09-23 13:42] mattdricker opened #1275 "Activity page share icon generates invalid hyp.is / bouncer links for local PDF files"
Very similar to issue solved in https://github.com/hypothesis/client/issues/2786

Clicking the share icon on an annotation card from the activity page generates a URL that provides an error "Sorry, but it looks like this annotation was made on a document that is not publicly available."

<img width="963" alt="Screen Shot 2021-09-23 at 9 33 13 AM" src="https://user-images.githubusercontent.com/7160

[2021-09-23 13:48] mattdricker commented on #1274
For context, there was a Slack thread around hypothesis/client#2786 about UX considerations WRT keeping/removing/changing UI elements and behavior: https://hypothes-is.slack.com/archives/C07NXBDNW/p1608223971151900

The context of the potential UI change for this issue is somewhat different (embedded link rather than generated URL for sharing), but many of the same concerns may apply.

[2021-09-23 14:53] mattdricker opened #1276 "Change default LMS app install configuration in Canvas to disable Sections integration"
This is a request to change the default install configuration for new Hypothesis LMS app installs in Canvas using a developer key to **not enable** Sections integration. Current behavior is to install with Section integration enabled by default.

Note that this change will be for new installs moving forward, not for any existing installs.

**Context**

Before Hypothesis integrated with Canvas Grou

[2021-09-23 18:48] mkdir-washington-edu opened #1230 "Confirm that "Canvas is asking users to authorize frequently" is a bug"
## Bug report form
### Steps to reproduce
Can't reproduce reliably, but users have been reporting that they are getting Canvas' usual challenge to authorize API usage multiple times a day. I'm able to reproduce this in our Canvas accounts (professor and students), but I can't force it to happen.

I have the [HAR of a session where I was challenged](https://drive.google.com/file/d/1ZXyzt7gsbKByv6K5

[2021-09-24 14:54] mattdricker opened #1277 "PDF text layer garbled in PDF.js"
From user ticket: https://app.hubspot.com/contacts/6291320/ticket/573368454/

User reported garbled text quoted when selecting content from a specific to annotate.

<img width="1282" alt="Screen Shot 2021-09-24 at 10 55 19 AM" src="https://user-images.githubusercontent.com/71603629/134695979-252cf2d7-d61b-4c30-acb3-27ca7ebc7d87.png">

Confirmed that using PDF.js to select text in document -- both

[2021-09-24 15:11] mkdir-washington-edu opened #1278 "Investigate resolving issues with high-resolution PDFs on iPads"
**Describe the bug**
In the past we've cataloged PDFs that don't seem to work on the iPad (https://github.com/hypothesis/support/issues/178). We hoped that using the new PDF.js version would solve this problem for iPad users, but it appears that it does not ([Slack conversation here](https://hypothes-is.slack.com/archives/C2BLQDKHA/p1632490309066300)).

This is a continuous issue for us because by

[2021-09-24 16:56] mkdir-washington-edu opened #1279 "SPIKE: investigate feasibility of asking for a percentage in the grading bar and converting to the 0-10 scale LTI requires"
**Describe the bug**
We've had a few tickets ([see this issue](https://github.com/hypothesis/support/issues/187) for some of them) about instructor confusion with our grading bar. Since our grading bar declares that you're entering a "Grade (out of 10)" users will think their assignment is **worth** 10 points, even when they set it up to be worth a different amount of points, or when their LMS doe

[2021-09-24 17:00] mkdir-washington-edu commented on #1279
The first linked issue above, https://github.com/hypothesis/support/issues/187, maybe wasn't specific enough for prioritization, so I've attempted to be more specific here without losing what was in that issue.

[2021-09-24 21:53] rlueder commented on #1229
After spending a few days thinking through this idea here's where I am currently:

1. Implementing OCR from a basic web app is def. possible using web APIs and existing libraries (e.g. [ImageCapture](https://developer.mozilla.org/en-US/docs/Web/API/ImageCapture), [Tesseract.js](https://github.com/naptha/tesseract.js)) I was able to capture image from both a laptop camera as well as my iPhone (on C

[2021-09-25 02:47] rlueder commented on #1229
I'm happy to report I've found a system supported by both DOI and ISBN called "ISBN-A". The specification is described here: [DOI System and the ISBN System](https://www.doi.org/factsheets/ISBN-A.html)

The syntax section of the document doesn't make it very clear how the assignment of prefix/suffix divider is done so I'm assuming this is a valid ISBN-A for the Neumorancer example used above: `10.

[2021-09-28 11:22] mkdir-washington-edu opened #1280 "Via gives the same error message for local files that it does for websites not on the allow list"
**Description**
Based on [this Via allow list request](https://app.hubspot.com/contacts/6291320/ticket/578980010/) users can put local file addresses into Via and, if they do, they get an error saying (emphasis mine) "Content cannot be annotated **yet**".

**To Reproduce**
Steps to reproduce the behavior:
1. Go to via.hypothes.is
2. Copy/paste "file:///C:/Users/NIS.LAP-15/Desktop/2021-2023/2021-20

[2021-09-29 07:43] rlueder commented on #1229
The layout is still a bit rough around the edges but it works as a proof of concept:

1. user can enter ISBN-10 or ISBN-13 in the search input;
2. app queries Google Books API for details of the book;
3. in the background it generates a valid ISBN-A that can be used as a doi uri when creating an annotation with hypothesis; (thanks to @iwazaru for [helping with the ISBN syntax](https://github.com/b

[2021-09-29 11:59] #1229 closed, assigned to nobody

[2021-09-29 20:45] mkdir-washington-edu opened #1281 "SPIKE: explore additional Blackboard API permissions to allow Hypothesis to add student read permissions to files instructors select in the assignment creation process"
**Describe the issue**
By default, Students do not have Read permissions on new files uploaded to a Blackboard instructor's course content area. Instructor's may not realize this when they create and test new assignments, but only discover the problem when students report that they cannot access the reading.

Our current recommended workflow for instructors to appropriately adjust the permissions

[2021-10-01 11:53] mkdir-washington-edu opened #1282 "Support Markdown's new Footnotes feature"
**Describe**
[Slack convo here](https://hypothes-is.slack.com/archives/C4K6M7P5E/p1633026010056900) and github blog [here](https://github.blog/changelog/2021-09-30-footnotes-now-supported-in-markdown-fields/).

As we consider additions to our Markdown functionality ([here](https://github.com/hypothesis/h/issues/6982), [here](https://github.com/hypothesis/product-backlog/issues/895), [here](https:/

[2021-10-01 14:19] mkdir-washington-edu commented on #1282
Note: we would have to see if our Markdown library supports this since we might not use the same library as GitHub.

[2021-10-01 14:27] mkdir-washington-edu commented on #1279
Needs product research on what users in different LMSs are used to. Percentage might not be the best solution.

[2021-10-02 18:58] mkdir-washington-edu opened #1283 "Last line of PDF text on a page not selectable in the new PDF.js"
**Describe the bug**
From user ticket: https://app.hubspot.com/contacts/6291320/ticket/583626067/

User reports two PDFs that have issues selecting the last line of certain pages in the LMS app that don't have this problem in Firefox.

[PDF 1](https://drive.google.com/file/d/1uIX9xnlXbF9trlNa7pNsjG3GaqTrPnrp/view?usp=sharing) aka "Jess" had a problem at the last line of page 74.

[PDF 2](https://d

[2021-10-02 18:59] mkdir-washington-edu commented on #1283
Unsure, but maybe related to https://github.com/hypothesis/support/issues/226.

[2021-10-04 19:54] mattdricker opened #1284 "Add folder support for Canvas Files picker"
Currently, the Canvas Files picker displays a single scrollable list of all available PDFs available within the entire course's file repository, regardless of location in subfolders.

We should allow for navigating and displaying content of subfolders in the Canvas Files picker UI.

**Why this matters**
Instructors who have organized the content of their Canvas Files repository into subfolders are

[2021-10-04 20:27] mkdir-washington-edu opened #1285 "Hypothesis plugin not working with the newest version of OJS"
**Describe the bug**
A user [in this ticket](https://app.hubspot.com/contacts/6291320/ticket/586426398) reported:

[OJS is a large open-source scholarly publishing ecosystem.](https://hypothes-is.slack.com/archives/C2BLQDKHA/p1633368340239700) we decided to support them. The integration is linked on our [Tools, plugins, and integrations page](https://web.hypothes.is/tools-plug-ins-and-integrations

[2021-10-05 11:43] anohni commented on #1285
I still think the ideal solution would be a plugin. However, I'm wondering if it wouldn't be possible to include a code in the system that would automatically open any pdf in Hypothesis by default. That would be a perfect temporary solution.

[2021-10-05 16:34] mkdir-washington-edu commented on #1285
Notes from the user:

The steps for the Hypothesis plugin integration is described here:  https://youtu.be/Xm4_tkIy9QI. The plugin is still available in the list of plugins of OJS. In the case of our journal, it is enabled, as the print below indicate:

![image](https://user-images.githubusercontent.com/22603275/136065019-dd3f4dcc-699f-436c-8347-0d2db49c5623.png)

However, when users open the PDF

[2021-10-06 19:59] mattdricker opened #1286 "Remove Google Plus share option from activity page"
Clicking the share icon from an annotation on the activity page displays an option to post to Google Plus. Google Plus is no longer an active platform, and this option should be removed.
![Screen Shot 2021-10-06 at 3 53 05 PM](https://user-images.githubusercontent.com/71603629/136274240-f89007f2-51ea-42dd-996b-50ea821e4cea.png)

[2021-10-07 20:09] mattdricker commented on #1277
Here is a one-page excerpt PDF of the problem text:

[Freakonomics_page10.pdf](https://github.com/hypothesis/support/files/7306671/Freakonomics_page10.pdf)

[2021-10-13 14:55] mattdricker commented on #127
Additional request: https://app.hubspot.com/contacts/6291320/ticket/605050157/

[2021-10-13 19:16] mkdir-washington-edu commented on #1281
Not possible at this time: https://hypothes-is.slack.com/archives/C4K6M7P5E/p1634059549215400

[2021-10-13 19:26] mkdir-washington-edu opened #1287 "Remove "Print" and "Download" buttons from PDF.js in LMS"
We've had requests from LMS partners to remove the print and download buttons from the PDF.js version we use. This is because they need to control access to copyrighted texts. Even though this solution only makes it more difficult, not impossible, to retrieve these texts, it is an important step for some partners.

Could be done alongside https://github.com/hypothesis/support/issues/202.

[2021-10-13 19:27] mattdricker commented on #1287
User request: https://app.hubspot.com/contacts/6291320/ticket/606864169/

[2021-10-14 13:39] mattdricker commented on #127
Additional request: https://app.hubspot.com/contacts/6291320/ticket/605050157/

[2021-10-16 16:22] krillin666 commented on #45
Hey,

I had this problem and none of the solutions provided here worked.
I managed to get it working by setting: `privacy.firstparty.isolate = true` to **false**. Now hypothesis works in firefox **but** in detriment of better security and privacy.

If anyone knows how to keep First Party Isolation (FPI) on but still having Hypothes.is working please document it here !

Thank you so much for all th

[2021-10-17 17:58] robertknight commented on #45
What you'd need here is probably a way to whitelist the https://hypothes.is domain so that it is not subject to First Party Isolation. From a quick reading of https://bugzilla.mozilla.org/show_bug.cgi?id=1556212 it seems that is not currently possible. [This comment](https://bugzilla.mozilla.org/show_bug.cgi?id=1556212#c52) suggests that it may not get resolved any time soon either as FPI is appar

[2021-10-18 17:09] mkdir-washington-edu opened #1288 "Handle sites (eg. YouTube, Reddit) that do not update the rel=canonical link after a client-side navigation"
Some sites that use client-side navigation and have a `<link rel="canonical" ...>` in the `<head>` element, do not update this element after a client-side navigation. Instead the `href` attribute of the `<link rel="canonical">` element remains at the URL of the page that was initially loaded. This causes several problems:

1. If a `<link rel="canonical">` element exists on the page, it is used as

[2021-10-20 17:45] mattdricker commented on #1389
User who original reported recently pinged us to see if there had been any update https://app.hubspot.com/contacts/6291320/ticket/427633584/

[2021-10-20 17:50] robertknight commented on #1389
I don't think the status has changed here. It might be a fairly easy thing to implement original Via's behavior as described in https://github.com/hypothesis/support/issues/207#issuecomment-853919231.

[2021-10-22 20:39] mkdir-washington-edu opened #1289 "Add student to LMS grading bar on "submission""
**Describe the issue**
Currently in non-Canvas LMSs students get added to the grading bar on (as far as I can tell) Hypothesis launch, but it's only after launch that we check to see if the student can access the file we're trying to load for them. When students can not access the file they still end up in the grading bar drop down, leaving instructors thinking the student has accessed the file.

[2021-10-23 11:31] phgn0 commented on #111
I just want to note that the CopyAnnotations tool worked perfectly for my use case (copying public notes to a private group). Thanks for creating this!

[2021-10-23 14:54] dwhly commented on #111
Great!

+1 650 274 7647 m

On Sat, Oct 23 2021 at 4:31 AM, Peter Hagen ***@***.***>
wrote:

[2021-10-27 15:31] mkdir-washington-edu opened #1231 "VitalSource integration gives an error in non-Canvas LMSs"
## Bug report form
### Steps to reproduce
1. Enter course https://aunltd-test.blackboard.com/ultra/courses/_38_1/cl/outline (use "professor" login)
2. Try to launch any "test VS" assignment
3. See error

In Firefox I get this error:
![image](https://user-images.githubusercontent.com/22603275/139097750-41ef33e0-0d02-4870-87d9-c7630cc3329e.png)

In Chrome I get a blank page.

### Expected behaviour

[2021-10-27 15:34] mkdir-washington-edu opened #1232 "VitalSource integration in Canvas does not trigger submission"
## Bug report form
### Steps to reproduce
1. Go to https://hypothesis.instructure.com/courses/258/assignments/2103 (login as jeremydean+teacher@hypothes.is for teacher and jeremydean+student2@hypothes.is as student)
2. Access assignment as a student
3. Access assignment as a teacher and launch SpeedGrader
4. Note that there is no submission

### Expected behaviour
Trigger a Canvas submission when

[2021-10-28 21:13] chrisshaw opened #1233 "[PDF] Create a demo of VitalSource on PDF"
We'll be done when:

- The developer of the feature can complete the scenario laid out below
- A "laundry list" of next steps exists to capture the remaining tasks required to get PDF ready for launch.

#### Scenario / story

I'm the person who wrote the code. We're in a meeting giving VS the update that we're ready to roll this out in a limited pilot for the Spring. We've already learned from pro

[2021-10-28 21:14] chrisshaw opened #1234 "Update the bucket bar for annotations present in the guest frame, not just the host frame"
The bucket bar currently only presents annotations from the host frame. It should be able to indicate the location of annotations from other frames. The main initial use case is for ebook readers where the host frame [is not a guest frame](https://github.com/hypothesis/product-backlog/issues/1235) and the main guest is instead an iframe in the page.

See https://hypothes-is.slack.com/archives/C1M8

[2021-10-28 21:15] chrisshaw opened #1235 "Do not require the host to be a guest frame to better separate functionality between host and guest frames"
The client currently requires that the host frame is also a guest frame. However a common scenario in ebook readers, including VitalSource, is that the host frame is a container and the current chapter content is presented in a guest frame.

In this scenario the host frame should not be annotatable, the sidebar should not try to fetch or display annotations in it, and it's URL shouldn't appear in

[2021-10-28 22:01] chrisshaw opened #1236 "Make "New page note" button work when host frame is not the main guest frame"
The toggle between create `New page note` and `New annotation` button always creates an annotation for the document in the host frame. In scenarios where the host frame [is not a guest frame](https://github.com/hypothesis/product-backlog/issues/1235) it should create an annotation for the frame where the main content is present.

From: https://hypothes-is.slack.com/archives/C1M8NH76X/p163542699102

[2021-10-29 09:56] robertknight commented on #1233
There are some initial technical notes from me on how PDF-based books work in VitalSource here: https://hypothes-is.slack.com/archives/C1M8NH76X/p1633947326099500.

Quoting from that thread:

[2021-10-29 10:52] chrisshaw opened #1240 "Integrate with Blackboard Groups"
### Support groups in Blackboard like we do in Canvas

If possible, do it via LTI, so we can reuse the app for D2L and friends. If not possible, just do it however you want. **The most important thing to ship is Blackboard Groups support.**

#### We'll be done when

- [x] Users can accomplish the scenario below, in a flow that mimics that of Canvas Groups
- [x] We have answers to the questions

[2021-10-29 12:43] chrisshaw opened #1241 "Add feature flag for Blackboard Groups"
#### We'll be done when

- [ ] We can hide the new Blackboard Groups feature during and after implementation
- [ ] We can turn on the new Blackboard Groups feature for an individual user
  - :information_source: _The existing feature flag infrastructure may suffice for this, assuming we are walking a test user through it. A problem this won't solve, however, is the ability_
- [ ] We can turn off t

[2021-10-29 14:18] mkdir-washington-edu commented on #1283
From backlog meeting: In PDF.js - in FF dev tools you can find version of PDF.js. Get versions of FF and LMS app.

Firefox 94 uses PDF.js: 2.11.298
The LMS app uses PDF.js 2.11.249

[2021-11-01 17:49] seanh opened #1242 "Implement a working proof-of-concept for Blackboard Groups"

[2021-11-02 15:52] mkdir-washington-edu commented on #1288
From the backlog meeting:

This seems to be due to client side navigation and not reloading the Sidebar when said navigation occurs.

[2021-11-02 15:54] mkdir-washington-edu commented on #1289
From our backlog meeting:
This issue came about b/c an instructor wants an automated way of verifying whether or not a document has launched for a student rather than relying on a student reporting whether or not the document launched.

[2021-11-02 16:01] mkdir-washington-edu commented on #1230
How often has this occurred?
At the beginning of the semester it seemed to occur every few hours. Now it seems to occur one every several days or so, so something on instructure's end may have changed. That probably makes this lower-pri.

Email conversation with Instructor rep:

**Instructure**

**Us**

**I**

**Us**

**I**

**Us**

**I**

[2021-11-02 16:57] boehs commented on #447
One issue, my browser seems to be blocking vimium from running on extension pages, has anyone run into this? Perhaps native bindings are proper?

[2021-11-03 12:36] citydelver commented on #637
Hello. This request exists since 2018 (or perhaps longer). Did any development happen?

[2021-11-03 12:43] robertknight commented on #637
We still have a Firefox extension "in development" (as in, you can check out this repository and build one) but we've never gotten to the point of actually shipping it as something you can download from our website or addons.mozilla.org for various reasons. I'm afraid I can't make any promises about when that will happen, except to say that it is something we would still like to do.

[2021-11-03 13:22] citydelver commented on #637
Got it. We still miss it, though. So instead of asking "when", may we ask you "who" (who could do/is doing this), so that we can positively encourage him/her? :)

[2021-11-10 22:06] chrisshaw opened #1243 "[VitalSource] Odd page scroll behavior in VitalSource"
## Issue

When I click on an annotation card, the epub scrolls a fixed amount down **away** from the highlighted text.

## Expected

Clicking on the card will scroll me to the highlight.

## Steps to reproduce:

1. Open [the following VitalSource item](https://lms.hypothes.is/lti_launches?vitalsource_book=true&book_id=L-999-70461&cfi=%2F6%2F6%5Bidloc_002.xhtml-itemref%5D)
  - User chris.shaw@hypot

[2021-11-11 01:50] chrisshaw opened #1244 "Enable use of privately shared fields in Google Drive in LMS assignments"
/todo Write reqs

- See https://github.com/hypothesis/product-backlog/issues/1189
- Google Drive is not as important and will require different APIs

[2021-11-11 01:52] chrisshaw opened #1245 "Add helpful errors when OneDrive files may be blocked by permission"
**As an instructor creating a OneDrive assignment, I want the error message to tell me why it didn't work, so I know what step to take next**

With the launch of OneDrive, many users may not be able to use the feature due to admin sharing restrictions. We have knowledge base articles describing this but users have no way to find this information in the middle of a flow when this breaks. This gives

[2021-11-11 07:48] robertknight commented on #1243
The video above loads in Chrome but not Safari. I believe this is because it is actually WebM video but has been given a `.webm.mp4` extension and thus gets treated by Safari as an MP4 file. Can you re-upload with just the `.webm` extension?

[2021-11-11 11:11] chrisshaw commented on #1243
@robertknight GitHub doesn't support webm. This is a community hack for WEBM videos. So... no.

[2021-11-11 11:24] chrisshaw opened #1246 "Add helpful error when Google Drive files may be blocked by permission"
See https://github.com/hypothesis/product-backlog/issues/1245. This is the same story but for Google Drive. I've slightly modified the current state of that story here for convenience, but treat OneDrive as the source of truth, as it's more important.

[2021-11-11 11:24] robertknight commented on #1243
Ah, that's unfortunate. It seems this hack works in Firefox and Chrome on macOS but not Safari. I guess GitHub's video support started with MOV and MP4 because those were the most ubiquitous, albeit patent-encumbered, formats.

[2021-11-12 02:17] chrisshaw commented on #1244
Duplicate of https://github.com/hypothesis/lms/issues/928

[2021-11-12 02:17] #1244 closed, assigned to nobody

[2021-11-12 13:53] marcospri commented on #1242
PR on https://github.com/hypothesis/lms/pull/3351

[2021-11-12 13:53] #1242 closed, assigned to marcospri

[2021-11-15 22:51] phoenixeliot commented on #493
Just adding a note that Youtube has this problem quite severely — almost all youtube annotations I create are associated with the wrong youtube URL. I'm not sure exactly the pattern, but it's always a different earlier youtube page I had open, sometimes even from a different tab.

[2021-11-16 10:09] mraxilus commented on #493
As a temporary workaround, I've found that it disambiguates the pages better if you open every video in a new tab; and refresh for good measure. I think it has something to do with YouTube pages dynamically updating pages rather than loading a whole new page.

You can still get the merging highlights issue, but a lot less frequently.

[2021-11-16 10:41] robertknight commented on #493
Yes, this is the problem. The client does use the current URL (as shown in the browser) and metadata (embedded in the page) whenever you create an annotation. However it does not currently refresh annotations when you navigate around a website which does client-side navigation (ie. changing the URL and content using JavaScript rather than loading an entire new HTML page from the server). Additiona

[2021-11-16 16:38] mattdricker opened #1290 "Ignore empty DOI metadata"
From support ticket https://app.hubspot.com/contacts/6291320/ticket/656565264/

User reports that annotations for unrelated documents had begun showing up on several new documents that had not even been made publicly available yet. As these documents were behind login, they could not provide us with direct access to the pages, but provided several screenshots to show the issue.

User then reported

[2021-11-19 12:30] chrisshaw opened #1247 "Add product analytics for the extension"
This would help us

1. figure out what we need to do to comply with privacy requirements
2. what custom setup we desire
2. get used to the tool

## Flow

As the product manager

- I launch the app by enabling the extension
- Using the PostHog [toolbar](https://posthog.com/docs/tutorials/toolbar/#creating-actions#creating-actions), I create an action for when someone adds an annotation (before save

[2021-11-19 14:37] chrisshaw opened #1248 "[EPUB] Expand and contract reader view in EPUBs (instead of overlaying it)"
**As an assignment user, I want to read the text and the discussion side by side in VitalSource, so annotating doesn't get in the way of my reading and my experience mirrors the one I get from VitalSource directly.**

## Flow

As a user

- I open the H+VS assignment
- When I land in the viewer, the sidebar is **open** and the VS reader is "squished" between the TOC and the sidebar.
- When I toggle

[2021-11-19 14:37] chrisshaw opened #1249 "[VitalSource] Default the table of contents as closed"
Nick from VS has directly asked us to default this to close because it improves the user experience.

## Scenario

:bust_in_silhouette: As a Student

- logged into Canvas
- logged into VS

I can do the following:

- I launch a Hypothesis Vitalsource assignment
- When I land on the vitalsource reader, the TOC is closed
- Everything else **still works**
  - When I hit the TOC menu, the TOC toggles o

[2021-11-19 14:37] chrisshaw opened #1250 "[VitalSource] Enable customers to create their own VitalSource assignments"
In our demos, we'd like to let teachers go through the assignment creation flow. This will also be absolutely necessary to use in Spring pilots.

Questions:

- [x] Why can't a teacher go into Hypothesis today and use their own account to create an assignment? I get the sense we need to ask VS about this?

## Scenario

:bust_in_silhouette: As an instructor

- logged into my LMS
- logged into a VS a

[2021-11-19 14:37] chrisshaw opened #1251 "[PDF][Nav] Navigate to annotation in different PDF page"
We currently don't have a way to move throughout the book, if someone were to select a note on another page. Based on conversations with Nick in the last meeting, there is a public API used for this, so this should be doable. This card is simply about the ability to navigate to that on selection--say, in Notebook, or perhaps if we showed them in the sidebar (because we may want to treat multiple p

[2021-11-19 14:37] chrisshaw opened #1252 "[EPUB][Nav] Navigate to annotation in different EPUB segments"
We currently don't have a way to move throughout the book, if someone were to select a note on another "chapter". Based on conversations with Nick in the last meeting, there is a public API used for this, so this should be doable. This card is simply about the ability to navigate to that on selection--say, in Notebook, or perhaps if we showed them in the sidebar (because we may want to treat multi

[2021-11-19 14:37] chrisshaw opened #1253 "[Discovery] Show all annotations in an EPUB book"
**As a student, I want to view annotations outside of the current chapter, so I can view conversations that span multiple chapters, like personal notes and non-chapter assignments.**

Teachers and students expect Hypothesis to work like it does in other tools. That means we show all the annotations for the "document," in this case the book. We currently don't have a way to pull from notes across m

[2021-11-19 14:37] chrisshaw opened #1254 "[PDF] Have highlights span gaps between words in PDFs"
The demo Rob put together is great! The only thing left on the UI is to close the gap between words.

[2021-11-19 14:51] chrisshaw opened #1255 "[VitalSource] Toggle on the VitalSource feature for a customer"
Give us internally the ability to switch VitalSource assignments on and off at the app instance level (like normal)

## Scenario

:bust_in_silhouette: As a H LMS admin

- On the admin page of the "school"

I can do the following:

- I see a flag for turning on and off VitalSource
- When I turn it on and save, the feature is enabled for users at that school
- When I turn it off and save, the featur

[2021-11-19 15:16] chrisshaw opened #1256 "[VitalSource] Discovery: Constrain annotation to assignment"
Restricting user access to the content is a common theme when talking with instructors. But this limits some of the potential engagement of the students. We'd like to thread the needle between those needs.

We also have multiple possible implementation ideas that have various trade-offs

- Allow the user to annotate the whole thing and do nothing
- Only show the content for the assignment
- Automa

[2021-11-22 03:06] chrisshaw opened #1257 "Customers sometimes get "pure" VitalSource"
Per [this discussion in Slack](https://hypothes-is.slack.com/archives/C4K6M7P5E/p1637263484304600).

The different flows one can take into the assignment after landing on vitalsource are:

- Opt out of all cookies (which should kick you out and put you into a loop)
- Accept cookies, then,
  - Bypass the login (already logged in)
  - Skip this step
  - Sign in (existing account)
  - Sign in with em

[2021-11-22 15:52] chrisshaw commented on #1250
The only restriction should be #1255 .

[2021-11-22 15:55] chrisshaw commented on #1256
Candidate for Lyza

[2021-11-22 16:01] chrisshaw opened #1258 "[PDF] Expand and contract reader view in PDFs (instead of overlay)"
**See #1248. This is the same card, except for PDFs.**

[2021-11-22 17:34] dwhly commented on #1256
A few potential issues w/ this:
1- It adds a UX complexity. Having to define an "assignment", from one place in a text to another.
2- It has the potential to create "hidden" and unexplained behaviors (why does the group control mysteriously change when I go from here to there.)
3- It removes agency from students.  For instance, why can I not ask a question of my peers in a different place in the t

[2021-11-22 21:54] mkdir-washington-edu opened #1291 "OSF pages showing incorrect annotations"
## Related

Depends on #1148

## Bug report
Using Brave 1.32 we've had reports of incorrect annotations showing up on both https://osf.io/y4nep/ and https://osf.io/preprints/metaarxiv/juwck. I am not able to replicate with current versions of Chrome, Firefox, or Safari. The annotations appearing on those two pages belong to other documents. Most likely they are the showing the annotations which, t

[2021-11-22 22:33] mkdir-washington-edu commented on #1223
Annotations associated with document equivalence issues [are found here](https://docs.google.com/spreadsheets/d/1QhyPHQ3HcVa7-ZlSi6K0KUIbRJh5q354/edit?usp=sharing&ouid=115179870536287860206&rtpof=true&sd=true).

[2021-11-23 15:26] mkdir-washington-edu commented on #1291
A user also reports seeing this issue in Chrome 95.0.4638.69 using the extension. Also Firefox 94.0.1. Extension version 1.910.0.

I can not replicate in my Chrome 96.0.4664.45, extension version 1.910.0.

[2021-11-23 15:52] mattdricker opened #1292 "Group creator should cease receiving moderation notices after leaving group"
The creator of a private group is also the moderator, and receives notifications when an annotations are flagged as inappropriate.

If the group creator/owner later leaves the group there is no mechanism for transferring ownership to another user. As such, the original owner still receives moderation notifications when annotations are flagged even after they are no longer a member.

These notifica

[2021-11-23 16:39] #1232 closed, assigned to marcospri

[2021-11-24 16:40] mkdir-washington-edu opened #1293 "Bug - Canvas assignment Files is giving an API error"
**Describe the bug**
We've seen this intermittently. I'm not convinced this is the whole issue, but this is one reproducible issue. Perhaps investigating it will help us fine the other issues (see comment for other issues).

There is a PDF we put in the courses Support501 and Support501copied. Despite the name the PDF was uploaded separately in each course and the assignment was created separately

[2021-11-24 16:41] mkdir-washington-edu commented on #1293
Please note that at this time we can't reproduce the problems from the initial ticket. The information below is additional context and will be investigated by Support after this bug is solved.

Problems from the initial issue we're having trouble tracking down:
- Creating an assignment with a Canvas File worked, but making it a Groups assignment caused the student to get the Canvas Files error. Th

[2021-11-25 07:46] kael commented on #1288
Regarding YouTube discrepancy between page location and `<link rel="canonical"/>`, there is a bug on YouTube pages when navigating on client side: only the` <title/> `element is updated, whereas others metadata like `<link rel="canonical"/>` or `<meta property="og:*"/>` are not updated.

I've written a [Greasemonkey script to display metadata discrepancy](https://gist.github.com/kael/3f9acb87f57e2

[2021-11-25 09:05] robertknight commented on #1288
That's an interesting idea. If we can do this without running into permissions issues then it might be the most robust way to handle the problem of sites not updating metadata after a client-side navigation.

[2021-11-25 09:16] kael commented on #1288
That could be an issue, indeed.

For example, `fetch`'ing a _Biorxiv.org_ page requires to use a set of specific headers, otherwise the server returns a captcha.

I have to use these headers (otherwise my script get captcha'ed):

[code]

[2021-11-25 16:34] mkdir-washington-edu commented on #1288
Also from the support ticket:

[2021-11-30 13:23] mkdir-washington-edu opened #1294 "Activity Page doesn't allow users to differentiate between their "Only Me" vs shared annotations"
**Describe the bug**
We've had several recent tickets with users being confused about their Annotations privacy. Part of the reason for this is that the indicators that an annotation is private (the lock symbol next to the username and, for Highlights, the highlighter symbol) do not appear on the Activity Page.

Annotations on example.com:
![image](https://user-images.githubusercontent.com/2260327

[2021-12-02 09:28] marcospri commented on #1241
This has been done as other setting as setting per "ApplicationInstance" so it's possible to enable/disable it by installation but not individual users.

[2021-12-02 09:28] #1241 closed, assigned to marcospri

[2021-12-03 11:40] chrisshaw commented on #1240
### Preview user experience is a bit odd

I imagine instructors testing a feature for the first time may use the built-in student preview to see how the groups assignment works. An odd experience happens:

- I can view different groups than the ones I join. (I think because when I logged in, I was still the teacher?)
  - I would expect a preview student user experience to reflect the group members

[2021-12-08 02:43] #1250 closed, assigned to nobody

[2021-12-08 03:37] chrisshaw opened #1259 "[VitalSource] Search long tables of contents"

[2021-12-08 03:55] chrisshaw commented on #1289
@mkdir-washington-edu am I right in understanding that doing https://github.com/hypothesis/lms/issues/924 would solve this?

[2021-12-08 04:09] chrisshaw opened #1260 "Highlight across adjacent PDF pages"
**As a general user, I want to highlight across PDF pages, so that I can capture an entire thought in my annotation and avoid the frustration of the tooltip not working.**

For a real example, see the [comment below](https://github.com/hypothesis/product-backlog/issues/1260#issuecomment-988924566).

## Flow

I'm a user in a multi-page PDF with a paragraph that breaks across pages:

- When I highli

[2021-12-08 08:38] robertknight commented on #1260
The incorrect behavior here is actually in Firefox. The client doesn't support creating annotations that span multiple pages and anchoring them later. What is happening in Chrome is the expected behavior.

[2021-12-08 14:12] mkdir-washington-edu commented on #1289
@chrisshaw I think #924 is for Canvas submissions only, whereas this issue is for non-Canvas users. Only non-Canvas users get the Hypothesis grading bar; Canvas users use our Canvas Speedgrader integration.

[2021-12-08 15:15] #1236 closed, assigned to esanzgar

[2021-12-08 15:39] chrisshaw commented on #1260
@robertknight Somehow I just _knew_ that was going to be true :laughing:

This was reported by an instructor using it in her class. What would it take to support cross-page annotations?

![image](https://user-images.githubusercontent.com/2966918/145237429-73233c33-75d1-4772-82c2-28e3fa8dfb8a.png)

[2021-12-08 15:53] robertknight commented on #1260
There is a fair amount of work involved. Various aspects of annotation creation and anchoring assume that each annotation refers only to text on a single page.

It will probably help to limit the scope to only selection across up to two adjacent pages rather than an arbitrary number of pages.

[2021-12-08 16:15] chrisshaw commented on #1233
@robertknight are we keeping this around for something or should we consider this closed? I don't see a linked commit or PR but we did the demo so... :slightly_smiling_face:

[2021-12-13 20:01] mkdir-washington-edu opened #1262 "Malformed LTI response when grading in Blackbaud"
## Bug report form
Possibly the same issue as https://github.com/hypothesis/support/issues/124, though we have more data now and can ask someone to reproduce for a developer if needed. We have also been given access to a Blackbaud instance, but we are still trying to get the **admin** access we think we'll need for testing.

[Here's the video of a Blackbaud admin accessing grades](https://drive.go

[2021-12-13 20:02] mkdir-washington-edu commented on #1262
I'm also attempting to get in touch with someone at Blackbaud who has been owning LTI issues in their system and will post details once I am able to get in touch with them

@mattdricker Please leave a note in this issue once we have admin access to the Blackbaud instance you acquired.

[2021-12-13 20:02] mkdir-washington-edu commented on #1261
Possibly the same issue: https://github.com/hypothesis/product-backlog/issues/1262

[2021-12-13 20:11] mkdir-washington-edu commented on #1262
Ticket here: https://app.hubspot.com/contacts/6291320/ticket/698375268

[2021-12-14 17:32] chrisshaw opened #1263 "VitalSource next"
## Docs

## Stories

[Search query](https://github.com/orgs/hypothesis/projects/51/views/21?filterQuery=project%3AVitalSource+%5Bnext%5D) :point_left:

[2021-12-14 17:57] chrisshaw opened #1264 "[PDF] Show all annotations in a PDF book chapter"
**As a student, I want to view the annotations for the chapter I'm working on, so I don't get confused and lose points because I respond to a post that wasn't part of the assignment outside the chapter.**

Assignments are sometimes a single chapter. VitalSource also will navigate by chapter in books that have them. As a proxy to an assigned area, we can limit the annotations to only that chapter.

[2021-12-14 17:57] chrisshaw opened #1265 "[PDF] Show all annotations for the assigned ranges of PDFs"
**As an instructor, I want to pick my own assignment start and stop for a PDF ebook, so I can flexibly set up the assignment that fits my syllabus.**

Teachers commonly assign only part of a chapter, multiple chapters, or different "ranges" across a book. The work we do here would make is so teachers and students only see annotations for the set range of the assignment. (It does not include the wo

[2021-12-14 18:39] chrisshaw opened #1266 "Show instructors the TOC hierarchy when selecting an assignment"
As an instructor creating an assignment, I want to see the same table of contents hierarchy I see in VitalSource in Hypothesis, so I can more quickly find and select the exact book segment I want to use as my assignment.

## Why

The table of contents VitalSource provides nesting for publishers:

![image](https://user-images.githubusercontent.com/2966918/146059718-d89e0e41-bd61-4abd-b0d7-683d21529

[2021-12-14 19:40] chrisshaw opened #1267 "[EPUB] Show all annotations in an EPUB book chapter"
This is the same story as https://github.com/hypothesis/product-backlog/issues/1264 but for EPUBs. Treat https://github.com/hypothesis/product-backlog/issues/1264 as the source of truth for the customer experience. This is here to track the nuances of the implementation.

## Notes

- Unlike PDFs, we won't really have dependable page numbers.
  - We could rely solely on TOC.

---

### [Guidance fro

[2021-12-14 19:47] chrisshaw commented on #1264
Instructor's experience grading is...

[2021-12-14 19:48] chrisshaw opened #1268 "[PDF] Show all annotations in a PDF book chapter when grading"
**As an instructor, I want to view annotations related only to the assigned portion of the reading, so I can review only the assigned annotations and know students didn't navigate away from the assignment on accident and get confused.**

This is the instructor/grading experience for the same functionality as https://github.com/hypothesis/product-backlog/issues/1264.

## Dependencies

- Relates to

[2021-12-14 21:58] chrisshaw commented on #1255
@marcospri Flag works for turning on and off the option in assignments. :+1:

It looks like previously created assignments are still available to students. Is that expected? (I'm thinking yes, otherwise there would have been work to gate assignments on launch.) If so, that's fine, just a gotcha I need to note down, and likely a separate ticket.

[2021-12-15 01:46] chrisshaw commented on #1260
@robertknight I'm going to convert this into a story for exactly that.

(P.S. these seem awfully separate, but in case it benefits from/fits into the work that needs to be done for #1253, it may be worth having this story in the back of your mind.)

[2021-12-15 13:37] marcospri commented on #1255
Yes, it doesn't affect existing assignments by design (at the moment).

I think keeping existing assignments working is the rationale here but if we were to disable those we need to decide what happens then, we show some talk-to-your-admin type of modal?

[2021-12-15 13:55] chrisshaw commented on #1255
Thanks @marcospri. I was wrongly thinking about this from the perspective of being able to turn on features for customers as a pricing issue rather than as a set of toggles we would turn around and offer to LMS admins. Given we don't have different pricing plans and it's actually closer to the latter, this makes total sense.

[2021-12-15 13:55] #1255 closed, assigned to marcospri

[2021-12-15 19:00] mkdir-washington-edu commented on #1262
Met with a Blackbaud PM today. It sounds like Blackbaud receives grades from LTI but intentionally doesn't send anything back, which may be the source of the error. A solution here might involve some custom work for Blackbaud where we don't try to retrieve a grade from them.

[2021-12-16 08:38] kael opened #1295 "[Bug] Markdown table not rendered correctly"
**Describe the bug**
Markdown tables are not rendered correctly on the website.

* On [web pages](https://hypothes.is/users/kael?q=https://github.com/ldodds/schema-icons), markdown tables are rendered as non-parsed HTML.
![Screenshot 2021-12-16 at 09-23-04 Hypothesis](https://user-images.githubusercontent.com/2463/146336220-e5f60f49-d3b2-4d2f-bdb3-677b3982aec5.png)

* On [annotation pages](https:/

[2021-12-16 23:22] kael opened #1296 "<code/> content overflows outside of annotation text container"
**Describe the bug**
On web pages, long lines contained in`<code/>` elements in annotations texts make them overflow over the annotation container.

**To Reproduce**
![Screenshot 2021-12-16 at 23-59-56 Hypothesis](https://user-images.githubusercontent.com/2463/146462185-ac9d370d-2d45-49b3-ac75-67da9c9f3ff5.png)

**Expected behavior**
Tweaking the CSS with `<code style="overflow:auto"/>` contained

[2021-12-29 06:14] ReessKennedy commented on #111
+1 on this. Important feature for me.

[2022-01-04 23:18] chrisshaw opened #1269 "Change "Select a Chapter" to "Pick where to start reading""
**As a teacher, I want the picker to direct me to pick an entrypoint, so I don't get confused by it.**

Some teachers aren't looking to assign a chapter. They may be looking to assign multiple chapters, or they may be looking to assign only a small segment of a chapter.

The table of contents that show up in the picker show all of these segments but calls them all "chapters." This has confused a f

[2022-01-04 23:19] chrisshaw commented on #1257
This was due to changes made by VitalSource at the time. We don't see it anymore.

[2022-01-04 23:19] #1257 closed, assigned to nobody

[2022-01-05 09:19] esanzgar commented on #1269
Maybe a page picker feels more natural: 'Pick the page to start reading'.

[2022-01-05 11:02] robertknight commented on #1269
Changing the current "chapter" terminology to something more abstract, eg. "location", should be straightforward. For EPUB books I would suggest using _location_ rather than _page_ because EPUBs don't have a pre-defined partitioning of the content into the pages. That depends on the viewer settings (eg. larger font => more pages). For PDF books we could offer page number selection. I'd hope it sho

[2022-01-12 15:03] nise commented on #918
Are there any plans to fix this problems?

[2022-01-12 17:19] robertknight commented on #918
A lot of code in potentially relevant areas has changed since the issue was filed, so it will need re-evaluating to figure out which problems still exist and make sure the steps to reproduce are still valid. Nobody has been planning to do that as far as I know.

[2022-01-14 15:58] mkdir-washington-edu opened #1270 "URLs that do not work correctly in Via or the LMS app"
## Bug report form
See: https://hypothes-is.slack.com/archives/C2BLQDKHA/p1642175183152600?thread_ts=1641839979.048300&cid=C2BLQDKHA

tl;dr We see Via users (especially instructors using the LMS app) not always anticipating the issues they may get on URLs they want to annotate. Since this is largely about LMS users the chrome extension and bookmarklet are not viable options.

This issue will be to

[2022-01-14 16:07] mkdir-washington-edu commented on #1270
URL: https://www.thelancet.com/journals/lancet/article/PIIS0140-6736(21)02870-1/fulltext

Support ticket: https://app.hubspot.com/contacts/6291320/ticket/732776255/

Via behavior: Reported by the user:

[2022-01-14 16:12] mkdir-washington-edu commented on #1270
URL: https://design-justice.pubpub.org/pub/ap8rgw5e/release/1

Support ticket: https://app.hubspot.com/contacts/6291320/ticket/733849931/

Via behavior: After creating an annotation the page gives the error:

Related: https://github.com/hypothesis/support/issues/210

[2022-01-14 19:00] mkdir-washington-edu commented on #1270
URL: https://www.independent.co.uk/life-style/aren-t-you-happy-me-1621301.html

Support ticket: https://app.hubspot.com/contacts/6291320/ticket/667004825/

Via behavior: The site automatically forwards to **https://www.independent.co.uk/life-style/aren-t-you-happy**-for**-me-1621301.html,** but annotations created **before** the forwarding and new URL were set up are associated with the first URL,

[2022-01-14 19:03] mkdir-washington-edu commented on #1270
URL: https://www.nydailynews.com/opinion/ny-oped-teach-public-school-kids-the-classics-20220104-kuynjw2alvdnvlatmv3tnvfjie-story.html

Support ticket: https://app.hubspot.com/contacts/6291320/ticket/725595995/

Via behavior: "page unresponsive" - site often fails to load.

[2022-01-14 19:05] mkdir-washington-edu commented on #1270
URL: not specific, not New York Times websites

Support ticket: https://app.hubspot.com/contacts/6291320/ticket/728305781/

Via behavior: User reports:

[2022-01-14 19:09] mkdir-washington-edu commented on #1270
URL: http://rhetoric.byu.edu/

Support ticket: none

Via behavior: Adder doesn't appear when selecting text

Slack convo: https://hypothes-is.slack.com/archives/C2BLQDKHA/p1641947154097300

[2022-01-14 19:16] mkdir-washington-edu commented on #1270
URL: https://via.hypothes.is/https://journal.transformativeworks.org/index.php/twc/article/view/518/428

Support ticket: https://app.hubspot.com/contacts/6291320/ticket/732623429/

Via behavior: Adder doesn't appear when selecting text

Slack convo: https://hypothes-is.slack.com/archives/C2BLQDKHA/p1641839979048300

[2022-01-14 21:39] mattdricker commented on #1270
URL: https://via.hypothes.is/https://cvc.cervantes.es/

Support ticket: https://app.hubspot.com/contacts/6291320/ticket/477078696/

Via behavior:

<img width="647" alt="125513356-a3db8224-e246-407d-92bd-266ed470d39d" src="https://user-images.githubusercontent.com/71603629/149588687-f22c97fc-6302-498c-851e-6bfb2ef8d3be.png">

Related: https://github.com/hypothesis/support/issues/215#issue-943763801

[2022-01-14 21:49] mattdricker commented on #1276
Jeremy has given his OK to this.

[2022-01-14 22:12] mkdir-washington-edu commented on #1295
@chrisshaw In our discussion of what is a bug and what is "user feedback" this may be an edge case. However Matt and I are electing to make it a bug because the text renders differently depending on the Hypothesis environment, as @kael has helpfully shown and linked to.

[2022-01-16 22:55] mkdir-washington-edu opened #1297 "What differentiates embeddable YT videos from non-embeddable YT videos that say they are embeddable?"
## Bug report form
### Steps to reproduce
1. Embed a YT video in an annotation.
2. Now embed https://www.youtube.com/watch?v=gJLIiF15wjQ, note that it is embeddable
3. See error

### Expected behaviour
Embeddable videos should embed in annotations.

### Additional details
Slack: https://hypothes-is.slack.com/archives/C2BLQDKHA/p1640961903389000
User video showing this not working: https://www.yout

[2022-01-16 22:56] mkdir-washington-edu opened #1298 "Certain YT videos are not working in the docdrop YT annotator"
## Bug report form
### Steps to reproduce
1. Visit https://docdrop.org/
2. Paste https://www.youtube.com/watch?v=8rBfWe58zy8
3. See error.

From @bumper314:

### Expected behaviour
For embeddable videos (and others?) the video should appear in docdrop, with annotations enabled over the visible text.

### Additional details
Slack: https://hypothes-is.slack.com/archives/C2BLQDKHA/p1642272492165400
E

[2022-01-17 02:25] chrisshaw opened #1299 "Spike: JSTOR Technical POC"
## :warning: MUST BE DONE BY 3/15 :warning:

**As JSTOR Labs, I want a prototype I can show off internally that helps us start to answer the questions we need to prior to a Fall pilot.**

While we won't need a pilot-ready product until Fall, the JSTOR Labs folks has several questions they need to run by internal stakeholders (see below) that they hope to use this technical POC for. We also need to

[2022-01-17 03:53] chrisshaw opened #1300 "Enable Blackboard Groups for all application instances that have Blackboard Files enabled"
**As an admin, I don't want to have to reach out to support to get new features.**

Bulk turn on Blackboard Groups for all app instances that already have Blackboard Files on.

So far we've only had ~30 schools turn on Groups, with the largest group set being 10 groups. We've heard not complaints from users about errors from the feature. This makes sense as so few are using it. Given nothing has e

[2022-01-17 08:14] robertknight commented on #1285
We don't maintain [the plugin](https://github.com/asmecher/hypothesis), as it belongs to a third party.

If we think the plugin is liable to get out of date with current OJS releases and not work as a result, I suggest we remove it from https://web.hypothes.is/tools-plug-ins-and-integrations/.

[2022-01-17 16:08] chrisshaw commented on #1233
Done

[2022-01-17 16:08] #1233 closed, assigned to robertknight

[2022-01-17 18:09] seanh commented on #1300
I think this probably doesn't require any code changes. It probably involves looking in the LMS production DB in Metabase to find all the application instances that have Blackboard Files enabled and then using the LMS app's admin pages to manually enabled Blackboard Groups for each one of these application instances.

[2022-01-17 20:29] chrisshaw commented on #1300
@seanh The idea was to avoid having to do this from the frontend given how tedious it is.

But there are only 33 of these schools by my query, so (assuming I'm right) I'll just do this as you said.

Check my query will you?

[code]

[2022-01-18 10:54] seanh commented on #1300
Query looks good to me

[2022-01-18 12:46] robertknight commented on #1297
I tried embedding https://www.youtube.com/watch?v=gJLIiF15wjQ in an annotation and it worked for me in Safari, Chrome and Firefox. If the issue is related to monetization then it is possible the user's location matters.

[2022-01-18 12:55] robertknight commented on #1297
I just tried all three videos mentioned in https://etherpad.wikimedia.org/p/Annotation_links_for_YT_video_unavailable and was not able to reproduce the issue. I tested in Chrome 99, Safari 15 and Firefox 95.

[2022-01-18 13:52] robertknight commented on #1297
Slack thread investigating the issue here: https://hypothes-is.slack.com/archives/C2BLQDKHA/p1642510579173500

@mkdir-washington-edu and @lyzadanger were able to reproduce it, but there were inconsistencies in outcomes. I was not able to reproduce. For example Lyza reported a case where a video embedded in a single-annotation page worked but on the same annotation in-context it did not. This seems

[2022-01-18 14:40] robertknight commented on #1297
Correction to my previous comment. It seems the issue relates to whether the annotation is viewed in the embedded client or the browser extension. In all my tests I'd been viewing the annotation in the embedded client. When I tried in the browser extension I saw this error:

<img width="475" alt="Embed error in extension" src="https://user-images.githubusercontent.com/2458/149958207-d64816a8-ca68-

[2022-01-18 14:49] robertknight commented on #1297
The issue can be reproduced by saving the following HTML and viewing it using a local server.

1. Save the below as `player-test.html`

[code]

2. Run `python3 -m http.server 8006`
3. Access http://localhost:8006/player-test.html and see the error
4. Delete the `referrerpolicy` attribute from the iframe and reload the page. The video will now load.