[2022-01-18 23:21] chrisshaw opened #1301 "Can we fit it into our picker flow?"

[2022-01-18 23:22] chrisshaw commented on #1301
Whoops, opened this for no reason, thanks GitHub checklists.

[2022-01-18 23:22] #1301 closed, assigned to nobody

[2022-01-19 07:51] robertknight commented on #1297
Possibly related upstream issue: https://bugs.chromium.org/p/chromium/issues/detail?id=992700

[2022-01-19 08:07] robertknight commented on #1297
Various [threads](https://groups.google.com/a/chromium.org/g/chromium-extensions/search?q=referer) in the Chrome extensions development mailing list suggest that it is expected behavior that no `Referer` header is included on resource requests from HTML pages served from a Chrome extension. eg. from [this thread](https://groups.google.com/a/chromium.org/g/chromium-extensions/c/X0KVPisLjjk/m/2HueKX

[2022-01-19 11:44] robertknight commented on #1297
I have a proof of concept for an ugly workaround that does not require additional extension permissions and should work equally well with Manifest V2 and Manifest V3. See https://github.com/hypothesis/client/pull/4125. It would probably be wise to file an issue with Chrome in case anyone has a better suggestion.

[2022-01-19 19:20] mkdir-washington-edu commented on #1285
In the Slack thread linked above @dwhly had specifically asked us to support this. @chrisshaw FYI.

[2022-01-20 02:09] smitar opened #1302 "Feature to enable/disable Hypothesis client on client side routed websites"
## Feature Request Form
### Problem you are trying to address with this feature
We would like to enable the Hypothesis embedded client on certain pages of our client side routed single page website www.semanticscholar.org. Currently we have to unload and re-load the client after each navigation. Requesting for a feature to suppress and enable the client on certain pages.

### Current workaround

O

[2022-01-20 07:57] robertknight commented on #1302
Hello @smitar,

Can you provide some examples of the URLs where you'd like to use this? (eg. a URL that a user might visit where Hypothesis is embedded, a URL that they could navigate to from this page which should not show the client, and another URL they could navigate to from the initial page which should show the client).

We've started doing some work to support client-side routed application

[2022-01-20 17:07] robertknight commented on #1297
Additional related issues:

https://bugs.chromium.org/p/chromium/issues/detail?id=429556
https://bugs.chromium.org/p/chromium/issues/detail?id=81923

[2022-01-20 17:12] #1294 closed, assigned to nobody

[2022-01-21 01:14] smitar commented on #1302
We would like to enable the hypothesis client on PDF like preview pages. An example of such a page would be https://www.semanticscholar.org/reader/f11b22e64bef2cccd1efc128b7f5b61ad6611765

[2022-01-21 18:29] #1300 closed, assigned to mkdir-washington-edu

[2022-01-22 13:55] mkdir-washington-edu opened #1304 "Changing sections_enabled status via the LMS admin portal does not affect whether section groups are available in the canvas course"
## Bug report form
### Steps to reproduce
1. Create a Canvas assignment in a course that uses a consumer key with sections_enabled=true
2. Verify multiple groups show up matching Canvas sections
3. Use the LMS admin portal to disable Sections for that consumer key
4. Refresh assignment and see if available group has changed

I ended up replicating this with assignment https://hypothesis.instructur

[2022-01-24 10:19] seanh commented on #1304
I think this may be the intended behaviour: when you disable the `sections_enabled` feature flag for an application instance that just means that the application instance won't have the sections feature **for any new courses** that start after `sections_enabled` was turned off. Any pre-existing courses will still use sections.

The reason is because users might have created annotations in the sect

[2022-01-25 00:26] martinszy commented on #1146
This is still happening.

[2022-01-25 12:27] esanzgar commented on #1146
@martinszy, could you provide the link to an example where the style of the host page affects the look and feel of the Hypothesis client?

[2022-01-25 13:17] esanzgar commented on #1146
All the Hypothesis elements currently use Shadow DOM. Styles from the host should not have any effect on any Hypothesis element.

Example of converting to Shadow DOM element:
https://github.com/hypothesis/client/pull/2904

If anybody continues to experience these issue, please file a new ticket.

[2022-01-25 13:17] #1146 closed

[2022-01-25 14:05] martinszy commented on #1146
Yes, I meant slashdot.org the same that was reported a few comments above.

El mar., 25 ene. 2022 07:18, Eduardo ***@***.***> escribió:

[2022-01-25 14:19] robertknight commented on #1146
The client looks correct on Slashdot for me:

<img width="822" alt="Slashdot" src="https://user-images.githubusercontent.com/2458/150993833-e3dffd19-05e9-404f-8e09-d62161eadb99.png">

The problem diegodlh referred to from 2+ years ago is definitely fixed in the current client releases.

If you are seeing something different, can you post details of the URL where you see the problem and a screensho

[2022-01-25 15:28] martinszy commented on #1146
![Captura de pantalla de 2022-01-25 09-26-21](https://user-images.githubusercontent.com/997732/151006284-a4296b87-4368-494e-aacb-eb5145d4efbd.png)

This is on Firefox Linux, using the Unofficial extension.
https://github.com/diegodlh/unofficial-hypothesis-extension

[2022-01-25 15:33] robertknight commented on #1146
That's the problem. This extension is shipping an old version of the client. It looks like it was last updated in late 2020.

[2022-01-25 16:22] martinszy commented on #1146
Ok, I've created an issue in their repo, I think this one should remain closed.

[2022-01-25 18:36] #1286 closed, assigned to nobody

[2022-01-26 02:19] chrisshaw commented on #1192
**Issue was linked to Harvestr Discovery:**  [[Notifications] Know when activity occurs](https://app.harvestr.io/components/0/list/ZdN9eN54r)

[2022-01-26 02:30] chrisshaw commented on #1276
**Issue was linked to Harvestr Discovery:**  [Fix how canvas sections works](https://app.harvestr.io/components/0/list/LAoRP9S--)

[2022-01-26 02:30] chrisshaw commented on #1304
**Issue was linked to Harvestr Discovery:**  [Fix how canvas sections works](https://app.harvestr.io/components/0/list/LAoRP9S--)

[2022-01-26 15:43] chrisshaw commented on #1249
The team at VitalSource added support on their end to configure TOC starting state and then set ours to default off.

[2022-01-26 15:43] #1249 closed, assigned to nobody

[2022-01-27 10:56] robertknight commented on #1267
To add to the above, the TOC data is accessible to the client without making an API call, by using the `getTOC()` method of the `<mosaic-book>` element in the book's container frame.

[2022-01-27 14:18] robertknight commented on #1249
I've confirmed this works as expected.

[2022-01-27 14:20] robertknight commented on #1249
A clarification for future readers. VitalSource assignments in the LMS use a Hypothesis "branded" version of the VitalSource book reader. The configuration to turn the TOC off by default is part of the configuration for our branded version.

[2022-01-27 20:54] mattdricker opened #1305 "Error message while grading: "Unable to fetch grade: LTI outcome request failed.""
## Bug report form

Reported by user https://app.hubspot.com/contacts/6291320/ticket/755053866/

Instructor at College of Western Idaho reports intermittent but regular error message when grading student annotations:

`Unable to fetch grade: LTI outcome request failed.`

With the following error details:
[code]

Course details are:

- College of Western Idaho https://blackboard.cwi.edu
- Happens i

[2022-01-28 08:58] robertknight commented on #1297
I filed a Chrome issue about the general issue with subresources and Referer headers on the off-chance I can persuade the Chrome extensions team to consider a solution: https://bugs.chromium.org/p/chromium/issues/detail?id=1291898.

[2022-01-28 10:08] marcospri commented on #1231
This should work now, tested on blackboard.

Created a  "Prod VitalSource assignment" assignment on the test course.

[2022-01-28 10:08] #1231 closed, assigned to nobody

[2022-01-28 13:51] mkdir-washington-edu opened #1306 "Fix regression on hide/unhide moderation buttons"
## Bug report form
### Steps to reproduce
1. As a group moderator, flag an annotation
2. See hide/unhide buttons

### Expected behaviour
Make them more [button-y](https://hypothes-is.slack.com/archives/C2BLQDKHA/p1643377103570649?thread_ts=1643376620.437289&cid=C2BLQDKHA).

### Actual behaviour
![image](https://user-images.githubusercontent.com/22603275/151558393-4f4e2ec2-0c98-44d5-b77b-b7dc770bd2

[2022-01-28 15:04] robertknight commented on #1258
I'm not sure if introducing side-by-side mode for fixed layout/PDF-based books will work well, at least if done in the obvious way. The problem is that the content of the page won't automatically reflow if we shrink it, when the sidebar is open, as it does for EPUBs. As a result the text is going to get smaller and may not be comfortably readable. We might be able to try and reserve more space for

[2022-01-28 18:23] mattdricker commented on #1245
Details on `There was a problem choosing a file from OneDrive: e.value is undefined` and `There was a problem choosing a file from OneDrive: Cannot read properties of undefined (reading '0').`

These errors are actually from the same underlying event. The former is shown in Firefox browser, the latter in Chrome.

They occur if a Microsoft 365 admin has implemented a policy forbidding sharing of fi

[2022-01-28 18:31] mattdricker commented on #1245
UX note: Ideally, Hypothesis would detect that sharing is restricted for the OneDrive account after the instructor logs on but _before_ the instructor selects their PDF to use, allowing a message to be displayed before the OneDrive picker loads.

[2022-01-28 21:12] mattdricker commented on #1270
URL: https://www.dhm.de/lemo/kapitel/weimarer-republik/alltagsleben.html

Support ticket: https://app.hubspot.com/contacts/6291320/ticket/757452373/

Via behavior:

<img width="644" alt="Screen Shot 2022-01-28 at 4 11 35 PM" src="https://user-images.githubusercontent.com/71603629/151622033-b152160a-9d0c-4099-8d1e-1566859cd24a.png">

[2022-01-31 17:35] mkdir-washington-edu commented on #1305
Also https://app.hubspot.com/contacts/6291320/ticket/760212330, George Mason U.
![image](https://user-images.githubusercontent.com/22603275/151843963-b5ed1ce5-dbc4-4a55-ad7a-cac9045c9f40.png)

[2022-02-01 15:08] lyzadanger commented on #1306
What do you think about updating the interface to look like this?

![image](https://user-images.githubusercontent.com/439947/151993364-32b9da81-846d-4bd6-87e5-701ed5abe901.png)

![image](https://user-images.githubusercontent.com/439947/151993408-2aadf316-c628-4649-8e30-9841c22233b6.png)

![image](https://user-images.githubusercontent.com/439947/151993477-5c969629-be8a-41dc-a3ce-bb4e9701047a.png)

[2022-02-01 15:51] jon-betts commented on #1295
We don't support tables at the moment, but we certainly shouldn't be mangling them or be inconsistent.

The mangled HTML is a consequence of the Markdown library we are using `mistune`. We are in the process of removing it, and when it's gone I don't think this is going to happen. The tables won't be rendered, but at least they will be somewhat readable unlike now, and should be the same in all pl

[2022-02-01 19:06] mkdir-washington-edu opened #1307 "Allow "link fragments" in the LMS app"
## Feature Request Form
### Problem you are trying to address with this feature
We've had users report that when they use a page with "link fragments" (links to an anchor on the same page, just farther down the page) the LMS app will open that link in a new window as we would for normal links instead of just scrolling the page down like they'd expect.

I don't have a specific URL, but I can try to

[2022-02-01 19:09] robertknight commented on #1307
Fragment links are supposed to work already ([relevant code](https://github.com/hypothesis/viahtml/blob/35058390e0ca91b0964d8b871ea310378cc95d23/viahtml/templates/banner.html#L88)). If there are cases where they don't scroll the page but open a new tab that's a bug. Can you collect details of pages and links where this happens and add them to the issue.

[2022-02-01 19:11] mkdir-washington-edu commented on #1307
I'll do my best to have the user send me the page they were talking about. Thanks!

[2022-02-01 19:39] mkdir-washington-edu commented on #1307
@robertknight That was quick! Here's an example: https://jeffreycwitt.com/pl339/docs/02-the-medium-is-the-message.html

I put it into this Canvas assignment and can repro the behavior: https://hypothesis.instructure.com/courses/266/assignments/2764

Note that I've clicking the embedded ToC ("Overview", "McLuhan: The Medium is the Message", "Consider the Objections"), **not** the  left-hand menu th

[2022-02-01 20:30] chrisshaw opened #1308 "VitalSource EPUBs"
[Use this link to view cards related to this feature](https://github.com/orgs/hypothesis/projects/51/views/21?filterQuery=-status%3ADone+-is%3Aclosed+-type%3AFeature+feature%3A%22VitalSource+EPUBs%22)

[2022-02-01 21:52] chrisshaw commented on #1306
@lyzadanger I appreciate the move to a cleaner (dare I say more modern) design language. A couple comments:

- I think my eyes are just playing tricks on me but: is there a border around that red block that's pushing it out of alignment with the edge of the annotation card?
- Is that an acceptably accessible contrast for those gray text, gray button, on the gray background buttons?

[2022-02-02 06:38] chrisshaw commented on #1293
@mattdricker @mkdir-washington-edu I'd like to get this fixed if we can figure out what the issue is. It seems like there's actually two issues mentioned: one where a student enrolled in two courses with the same file can't access one, and the other where groups is interfering somehow.

Which are we ultimately trying to fix? Did this issue go away on its own or is it still an outstanding issue for

[2022-02-02 07:02] chrisshaw opened #1309 "Choose whether assignment is course, section, or group"
**As a teacher creating an assignment, I want to control the kind of grouping that occurs for assignments, so I don't get confused but hidden defaults that don't work with my course.**

## Flow

(Proposed experience. Just a quick mock-up.)

_Sections and Groups are exclusive options for the same setting. The following communicates what is happening_

- If I have Sections enabled, I see the section

[2022-02-02 07:02] chrisshaw commented on #1309
**Issue was linked to Harvestr Discovery:**  [Choose whether this assignment is course, section, or group](https://app.harvestr.io/components/0/list/AvtOoLpki)

[2022-02-02 07:09] robertknight commented on #1307
I can reproduce the issue with the ToC at the top of the content page. The problem is that DOM APIs monkey-patched by Via are not behaving as they do normally.

There is [some code](https://github.com/hypothesis/viahtml/blob/35058390e0ca91b0964d8b871ea310378cc95d23/viahtml/templates/banner.html#L65) that tries to determine if an anchor link refers to the same URL as the current page, except for th

[2022-02-02 07:13] chrisshaw commented on #1309
@seanh @marcospri What are the implications on student submissions and Speedgrader for this? Let's say we've completed #1276 so now you have grouping at the course level. Now let's say I turn on Sections in the instance.

I as a teacher then configure an assignment for the course. I go to grade. What groups do I see? Ideally, I'd see the course group selected.

Now I create an assignment for secti

[2022-02-02 07:37] chrisshaw opened #1310 "Disable the extension when the LMS app is launched in a new window"
**As a public web user also using the LMS app, don't open both the extension and the LMS sidebar, so I don't annotate in the wrong account.**

[Inspired by this Slack conversation](https://hypothes-is.slack.com/archives/C01B9TRVATZ/p1641853219005700)

We have LMS users who have used the public app extensively in the past for their classes. This is one of our primary acquisition strategies (inbound

[2022-02-02 08:17] chrisshaw commented on #1226
Duplicate of https://github.com/hypothesis/lms/issues/877

[2022-02-02 08:17] #1226 closed, assigned to nobody

[2022-02-02 09:35] robertknight commented on #1307
In testing I found that once the above issue is fixed, there is another issue. When you visit [the page](https://jeffreycwitt.com/pl339/docs/02-the-medium-is-the-message.html) directly, the HTML for the Table of Contents links above the content look like this:

[code]

When rendered [through Via](https://via.hypothes.is/https://jeffreycwitt.com/pl339/docs/02-the-medium-is-the-message.html), the co

[2022-02-02 09:40] robertknight commented on #1307
The same behavior can be observed for fragment links on other pages, eg. https://reactjs.org/docs/react-api.html.

[2022-02-02 13:02] lyzadanger commented on #1306
@chrisshaw Thanks for the feedback!

* On contrast, we're good: 5.46:1 in that case.
* I see what's bugging you about that alignment. It's technically perfectly aligned but, zoomed in like we are in these screen grabs, it looks a little misaligned with the adjacent border. I'll see if there is a way to alleviate the optical oddity.

[2022-02-02 13:05] #1296 closed, assigned to lyzadanger

[2022-02-02 15:26] robertknight commented on #1307
See https://github.com/hypothesis/viahtml/issues/297 for a proposal that would fix this.

[2022-02-02 15:26] lyzadanger commented on #1307
If the linked proposal is satisfactory, @chrisshaw , this is ready to go into "Ready" state.

[2022-02-02 15:28] jon-betts commented on #1295
The above replacement has gone through, so are rendering should at least be the same now. This should show the raw text for tables, as they aren't part of the core Markdown spec (they're an extension).

To "fix" the annotation you can edit and save it again. This will remove the encoded HTML from the presented string.

[2022-02-02 15:28] #1295 closed, assigned to jon-betts

[2022-02-02 16:41] chrisshaw commented on #1309
Some notes while talking with @seanh :

- What do we do about _old_ assignments?
  - In general this is a one-way from course to sections, so we don't need to try to handle when it goes from sections to courses in this story. (If we decide we want to handle it, we can handle it separately)
  - We can even try to get rid of all the special sections enablement logic, which will break old assignments

[2022-02-02 18:59] mkdir-washington-edu commented on #1305
Steps to reproduce:
1. As an instructor, create assignment in Blackboard
2. As a student, access assignment
3. As an instructor, drop student from the course
4. As an instructor, open assignment and select student from the grading bar
5. See error

Already set up:
1. In https://aunltd-test.blackboard.com/ultra/courses/_23_1/cl/outline
2. access course "MD test course"
3. Student "classclown" has a

[2022-02-02 19:25] mkdir-washington-edu opened #1311 "Possible issue with embedded web app embed"
## Bug report form
### Steps to reproduce
1. visit https://rupress.org/jcb/article/221/3/e202102144/212957/Active-RB-causes-visible-changes-in-nuclear
2. Note that (most likely) the cookie banner at the bottom of the page allows text to flow behind it:
![image](https://user-images.githubusercontent.com/22603275/152221894-a9f2df70-6118-4c0e-8465-d851bf37e2cf.png)

3. Refresh until there is a white

[2022-02-02 19:27] mkdir-washington-edu commented on #1311
Ticket if in fact this is us: https://app.hubspot.com/contacts/6291320/ticket/760639030/

[2022-02-02 21:31] robertknight commented on #1311
The white box is not related to Hypothesis. It is related to whatever code sets the `ad-loaded` or `ad-not-loaded` classes on the `#main` element. When this element has `ad-loaded` set, the height is set differently than when it has `ad-not-loaded` set.

When the white box obscures the text:

<img width="1108" alt="White box obscuring text" src="https://user-images.githubusercontent.com/2458/15224

[2022-02-02 22:07] mkdir-washington-edu commented on #1293
@chrisshaw Coincidentally I think the school experiencing this issue wrote again at EOD today saying they're seeing it again.

I can try to divide this into two different repros, or even divide this into two issues if you prefer. I'll work on it tomorrow.

[2022-02-03 12:05] kael commented on #1288
I'd be interested in trying to tweak the bookmarklet/sidebar, but I don't know where to start.

How I can run my own modified version of the sidebar ? I'd like to tweak around with the `MutationObserver` and canonical URLs, and make some fix proposals.

[2022-02-03 15:24] #1306 closed, assigned to lyzadanger

[2022-02-03 16:51] mkdir-washington-edu commented on #1311
@robertknight thanks so much for taking a look at this. I tried to diff the different versions of the page but completely missed this. I appreciate you taking the time on it. I'll close this ticket.

[2022-02-03 16:51] #1311 closed, assigned to nobody

[2022-02-03 17:50] chrisshaw commented on #1269
@lyzadanger Let's use ""Pick where to start reading"

This
- is abstract to the TOC
- takes up less space with fewer characters
- scores best on readability

[2022-02-03 17:56] lyzadanger commented on #1269
What should the submit button say? Right now it says “Select chapter”.

[2022-02-03 18:09] lyzadanger commented on #1269
Might I suggest just "Select" for the confirm button without a modifier?

[2022-02-03 18:13] lyzadanger commented on #1269
@chrisshaw

Screenshot from my current working branch. Just looking for direction on that submit button, if this otherwise looks about right? Note change from "Page" -> "Location" in column header as well, per Rob's good suggestion.

![image](https://user-images.githubusercontent.com/439947/152403415-c73b0347-9d56-473f-a32b-6904bfd0d22f.png)

[2022-02-03 18:20] seanh commented on #1305
Previously: https://github.com/hypothesis/support-legacy/issues/169

[2022-02-03 18:33] seanh commented on #1305
You can see these if you [search for "LTI outcome request failed" in Sentry](https://sentry.io/organizations/hypothesis/issues/?project=259908&query=is%3Aunresolved+%22LTI+outcome+request+failed%22&statsPeriod=14d): 91 events in the last few months.

[2022-02-03 23:38] chrisshaw commented on #1269
Good catch on the location, I wasn't looking at that. I think the Select works just fine for the submit button. LGTM.

[2022-02-04 03:48] chrisshaw commented on #1258
@robertknight I would suggest that we make **this** card about giving a vanilla experience. That (2) you mention seems like the largest risk. Let's use this ticket to determine whether (2) forces us to pull the plug on side-by-side mode with PDFs.

(Even if it does work, this will, to your point, likely shrink the text beyond usability. But we can at least let the user make that decision, which ma

[2022-02-04 03:50] chrisshaw opened #1312 "Discovery: choose a view mode"
De-risk the usability and maximize the user experience for allowing users to choose between overlay and new modes: in this case, side-by-side.

_Originally posted by @chrisshaw in https://github.com/hypothesis/product-backlog/issues/1258#issuecomment-1029610196_

[2022-02-04 03:52] chrisshaw opened #1313 "Discovery: Use extra empty space in VitalSource PDFs in side-by-side mode"
(which we may end up discarding, depening on what we learn from risk 2)

_Originally posted by @chrisshaw in https://github.com/hypothesis/product-backlog/issues/1258#issuecomment-1029610196_

[2022-02-04 04:20] chrisshaw opened #1314 "Feature: JSTOR Demo"
[View list of issues dedicated to this feature](https://github.com/orgs/hypothesis/projects/51/views/21?filterQuery=-status%3ADone+-is%3Aclosed+-type%3AFeature+feature%3A%22JSTOR+Demo%22)

---

**As a teacher, I want to assign JSTOR articles, so that I can legally and easily use more of my syllabus for social annotation**

This is v0 for JSTOR integration, which will involve the most basic functio

[2022-02-04 07:01] robertknight commented on #1258
I agree. Let's use this ticket to make a simple prototype that works similarly to how side-by-side mode works with PDF.js and see how that fares.

[2022-02-04 13:32] #1235 closed, assigned to esanzgar

[2022-02-04 13:35] #1269 closed, assigned to lyzadanger

[2022-02-04 15:04] #1234 closed, assigned to esanzgar

[2022-02-04 15:36] chrisshaw commented on #1253
- [x] How would we adapt the UI for loading _so many_ annotations?
  - Now has draft issues
- [x] How do we incorporate logical location (and can we wait on that)?
  - Now has draft issues

Other notes

- We should handle performance later

- [x] @robertknight and @chrisshaw will talk about this early next week.

[2022-02-04 15:41] chrisshaw commented on #1309
Questions to answer next

- [x] Is this something that only works for assignments going forward
  - Answered in the [comment above](https://github.com/hypothesis/product-backlog/issues/1309#issuecomment-1028132588). We can break these and ask teachers to re-enable them via the built-in setting.

[2022-02-04 15:48] chrisshaw commented on #1304
This is as expected and we have better solutions, so we'll close this issue.

[2022-02-04 15:48] #1304 closed, assigned to nobody

[2022-02-04 20:25] mkdir-washington-edu commented on #1293
@chrisshaw Ok, so there are two issues; the one the partner school is experiencing I haven't been able to reproduce. I can write it up in a different GH issue, but all I'll be able to do is articulate what the school is reporting to us.

The issue on this page **is** reproducible. I've spelled out the steps above and linked to assignments where you can see the error in action. It is still happenin

[2022-02-07 15:39] lyzadanger commented on #1297
To move this forward, the next step is to make a decision:

* Do we want to land the workaround in the extension to address this issue (which has limitations/downsides), or
* Document why we're not going to immediately address this

[2022-02-07 15:48] mkdir-washington-edu commented on #1297
of course @chrisshaw should weigh in, but from a Support angle I'd be happy with documenting why this doesn't work and seeing if Chrome addresses the issue down the line.

[2022-02-07 17:21] mattdricker opened #1315 "Markdown-styled scrollable code blocks do not render properly in annotation card"
## Bug report form
As reported by user: https://app.hubspot.com/contacts/6291320/ticket/766559332/
### Steps to reproduce
1. Select text to annotate
2. In editor, type 4 (or more) leading spaces before long-winded note
3. Click the Preview to see rendering

### Expected behaviour
Scrollable code block should render in a way that doesn't interfere with existing styling constraints. Note following e

[2022-02-07 18:16] chrisshaw commented on #1297
@lyzadanger @robertknight can you explain the trade-offs? Seems like:

- Maintenance implications obviously
- This is sure to raise questions among some power users
- Could come off as antithetical to being open (But not really, as if they're using the extension already then we already have this in our DB)

What else?

Let's wait for the Chromium team to triage it, at least. Assuming they aren't g

[2022-02-07 19:11] chrisshaw commented on #1315
We just closed a similar but not the same bug https://github.com/hypothesis/product-backlog/issues/1296

[2022-02-08 03:30] chrisshaw commented on #1262
@seanh in planning today you'd mentioned that you think there are likely multiple ways to get the grading error. I think this may be another one.

If so, perhaps it's worth tackling these together?

[2022-02-08 08:03] robertknight commented on #1297
My main concern is workaround implementation complexity / maintenance costs for something that has inconvenienced very few users in practice. This issue:

- Only affects the browser extension
- Only affects certain YouTube videos containing copyrighted content
- Has existed forever, and this is the first time I can recall in my 6+ years with Hypothesis that I've seen a report about it.
- Has an ob

[2022-02-08 08:44] robertknight commented on #1253
As an aside, the experience if you follow this link and are not already a member of the group is really bad. It just gives you a "couldn't fetch group" message with no indication as to how to join the group (or whether it can be joined).

[2022-02-08 16:56] chrisshaw commented on #1253
Agreed @robertknight, I ran into this too. I've captured it as another UX tweak we should make some day.

[2022-02-08 18:10] seanh commented on #1230
# How to trigger a refresh token request in dev

Normally our app will automatically do a refresh token request with Canvas the next time the user launches an assignment after their Canvas access token has expired. This makes it inconvenient to test refresh requests because you'd have to wait for your access token to expire (which takes one hour, looks like).

You can force a refresh request to ha

[2022-02-08 18:16] seanh commented on #1230
# How to have multiple web workers in dev

The sequence described by the Instructure rep above won't happen in dev because the app only has one web worker in dev so it'll only send one request to Canvas at a time. In production however we do have more than one worker. You can make dev have multiple web workers by making this change:

[code]

When you run `make dev` you should then see the `web` pr

[2022-02-08 18:22] seanh commented on #1230
# How to reproduce this issue in dev

After changing my development environment to have multiple web workers (as described above) I can reproduce the issue by triggering a refresh token as described above:

1. Change your dev env to have multiple web workers as described above and restart `make dev`

2. Break all the access tokens in your DB so that the next assignment launch will trigger a refres

[2022-02-08 18:22] seanh commented on #1230
I have to say the comments above from the Instructure rep were incredibly helpful

[2022-02-08 18:38] chrisshaw commented on #1297
I would suggest we close as Will Not Fix for the reason described (bug filed with Chrome team). And then write up an article explaining why you may get these errors (Browser extension on copyrighted content). @mkdir-washington-edu want to take point?

In case it's convenient: [the relevant Slack thread for the KB](https://hypothes-is.slack.com/archives/C2BLQDKHA/p1642510579173500)

[2022-02-09 10:57] #1276 closed, assigned to seanh

[2022-02-09 12:41] esanzgar commented on #1245
I see you point, but unfortunately that's not possible. The reason is that the login to OneDrive is driven by a the OneDrive picker. We can't add an intermediate step after login to verify the permissions.

[2022-02-09 14:21] seanh commented on #1230
I'm gonna close this issue as I've confirmed that it is a bug. I've opened an LMS issue to get the bug fixed: https://github.com/hypothesis/lms/issues/3667

[2022-02-09 14:21] #1230 closed, assigned to nobody

[2022-02-09 16:02] #1290 closed, assigned to nobody

[2022-02-11 18:38] mkdir-washington-edu commented on #1270
URL: https://data-feminism.mitpress.mit.edu/pub/frfa9szd/release/6

Support ticket: https://app.hubspot.com/contacts/6291320/ticket/776285282/

Via behavior: The problem is with PubPub's behavior in Via:
![image](https://user-images.githubusercontent.com/22603275/153650005-3917c336-ec41-4a45-8021-9f5b8af2f857.png)

[2022-02-12 01:08] chrisshaw commented on #1293
@mkdir-washington-edu thanks. I do think we should keep this focused. How about we move the unreproducible school issue to a Q&A Discussion with a bug label for now. That way we can use the voting to track incidents and collect additional data about it should it come up again. Then we can refer to that Discussion here in a comment. But otherwise let's keep this focused on solving the reproducible

[2022-02-14 22:43] mkdir-washington-edu commented on #1270
Ignore this. See Rob's comment below.

URL: https://musicbrainz.org/

Support ticket: https://app.hubspot.com/contacts/6291320/ticket/778913126/

Via behavior: Page font gets larger. Happens with Bookmarklet as well.

[2022-02-15 01:59] chrisshaw commented on #94
**Issue was linked to Harvestr Discovery:**  [View annotations side by side with the content](https://app.harvestr.io/components/0/list/T0uNp5flr)

[2022-02-15 08:36] robertknight commented on #1270
Can you pull this one out into a separate issue. It looks like this relates to some PDF.js-specific changes that happen to be loaded in normal web pages as well. Two things we need to do here:

1. Not load the `pdfjs-overrides.css` file outside of PDF.js (see https://github.com/hypothesis/client/pull/4224)
2. Continue looking for solutions to the adder REM-sizing issue that don't affect the host p

[2022-02-15 16:49] #1310 closed, assigned to esanzgar

[2022-02-15 17:04] mkdir-washington-edu opened #1317 "PDF.js changes affecting HTML page in Bookmarklet/Via"
See: https://github.com/hypothesis/product-backlog/issues/1270#issuecomment-1040000118

## Bug report form
### Steps to reproduce
1. Visit https://musicbrainz.org/
2. enable bookmarklet
3. see font size increase

Also happens in Via.

Rob says:

### Additional details
Support ticket: https://app.hubspot.com/contacts/6291320/ticket/778913126/

[2022-02-15 17:05] mkdir-washington-edu commented on #1270
@robertknight Thank you! https://github.com/hypothesis/product-backlog/issues/1317

[2022-02-15 17:38] robertknight commented on #1317
This was fixed by https://github.com/hypothesis/client/pull/4224. The second of the two solutions I mentioned above is something we still need to look into:

[2022-02-15 17:38] #1317 closed, assigned to nobody

[2022-02-16 20:24] mkdir-washington-edu commented on #1270
URL: https://opentext.uleth.ca/apex-video/sec_disk.html

Support ticket: https://app.hubspot.com/contacts/6291320/ticket/781988657

Via behavior: embedded javascript in the page doesn't work in Via. From the user:

[2022-02-17 01:27] #1292 closed, assigned to nobody

[2022-02-17 01:33] chrisshaw commented on #1114
We [achieved this milestone](https://web.hypothes.is/blog/everyone-included-hypothesis-accessibility-reaches-wcag-2-1/) in our last audit.

[2022-02-17 01:33] #1114 closed, assigned to nobody

[2022-02-17 01:34] chrisshaw commented on #1181
Duplicate of #1240

[2022-02-17 01:34] #1181 closed, assigned to nobody

[2022-02-17 01:35] #1240 closed, assigned to marcospri

[2022-02-17 07:04] robertknight commented on #1307
Fixed via the merged PRs mentioned in this issue.

[2022-02-17 07:04] #1307 closed, assigned to nobody

[2022-02-17 11:17] robertknight commented on #1283
Testing the "Jess" PDF from the issue description with PDF.js v2.13.153 in Chrome:

<img width="615" alt="Jess 5 1 - PDFjs 2 13 153" src="https://user-images.githubusercontent.com/2458/154460330-955cd3dd-9f90-4c9f-ae6e-382772a56e0d.png">

In the cases where the selection doesn't cover the whole line, it still includes the correct text. However the position of text in the hidden text layer doesn't

[2022-02-17 11:35] robertknight commented on #1283
It occurs to me it would be quite useful to add a hidden "visualize PDF text layer" feature to the client for debugging purposes. What would be the best way to enable it? Keyboard shortcut?

[2022-02-17 12:30] robertknight commented on #1283
Here is the example from the "Tatum" PDF in 2.13.153. The main issue is fixed, although there are now some lines where the text layer doesn't align correctly with the content underneath. Similar to the issue with the other PDF it does have all of the content, but the horizontal sizing doesn't match.

<img width="591" alt="Tatum text layer - PDFjs 2 13 153 - Chrome" src="https://user-images.githubu

[2022-02-17 13:22] vasudev-sharma commented on #1116
Likewise, that feature would be really great as it gets distracting to only use mouse for closing sidebar

[2022-02-17 14:30] mattdricker commented on #1287
Another strong request to remove these buttons, as well the upload button, due to user confusion.
https://app.hubspot.com/contacts/6291320/ticket/782129006/

[2022-02-17 15:23] mkdir-washington-edu commented on #1297
Matt and I updated the documentation. See: https://hypothes-is.slack.com/archives/C2BLQDKHA/p1644600837390399.

Ok to close @chrisshaw @robertknight ?

[2022-02-17 15:48] robertknight commented on #1297
Good with me.

[2022-02-17 15:55] #1297 closed, assigned to robertknight, mkdir-washington-edu

[2022-02-21 15:02] mattdricker commented on #1270
URL: https://quod.lib.umich.edu/f/frag/9772151.0006.001/--black-death-bodies?rgn=main;view=fulltext

Support ticket: https://app.hubspot.com/contacts/6291320/ticket/787255475/

Via behavior: Variable when creating LMS assignment. Most often the page will stop loading with a Chrome error `viahtml3.hypothes.is has redirected you too many times`

<img width="390" alt="Screen Shot 2022-02-21 at 9 33 1

[2022-02-22 17:35] mkdir-washington-edu opened #1319 "Hypothesis LMS app saving annotations on URL with a Hypothesis-made URL parameter"
## Bug report form
### Steps to reproduce
1. Create an LSM app assignment using the URL www.ascd.org/el/articles/6-intrinsic-motivators-to-power-up-your-teaching
2. Create an annotation in that assignment
3. Refresh the page and note the annotation is missing
4. The annotation is saved to:
`https://www.ascd.org/el/articles/6-intrinsic-motivators-to-power-up-your-teaching?via.client.ignoreOtherConf

[2022-02-22 17:35] mkdir-washington-edu commented on #1319
Ticket: https://app.hubspot.com/contacts/6291320/ticket/788879261/

[2022-02-22 18:24] chrisshaw commented on #1248
**Issue was linked to Harvestr Discovery:**  [View annotations side-by-side in VitalSource ebooks ](https://app.harvestr.io/components/0/list/ROQJT_zcS)

[2022-02-22 18:25] chrisshaw commented on #1258
**Issue was linked to Harvestr Discovery:**  [View annotations side-by-side in VitalSource ebooks ](https://app.harvestr.io/components/0/list/ROQJT_zcS)

[2022-02-22 18:41] mattdricker commented on #1270
URL: https://support.digication.com/hc/en-us/articles/235440448-Digication-Catalyst-For-Social-Learning

Support ticket: https://app.hubspot.com/contacts/6291320/ticket/789050521/

Via behavior: Visiting any article on that site through Via triggers a CAPTCHA challenge.
<img width="327" alt="Screen Shot 2022-02-22 at 1 34 27 PM" src="https://user-images.githubusercontent.com/71603629/155197636-62b

[2022-02-22 20:37] mkdir-washington-edu commented on #1319
Additional note: some screenshots from the user's students show that at one point the students could see each others' annotations.

It looks like this is document_id = 1985147, and it looks like the URL with the parameters is equivalent to the URL without parameters.

It looks like a similar problem happened with doc 2005153 and [several other docs](https://metabase.hypothes.is/question#eyJkYXRhc2

[2022-02-23 12:38] chrisshaw opened #1320 "Track all groupings in one place"
**Consolidate LMS groups to make reporting easier.**

As I understand it, we currently store "groups" in the LMS context in 2 places: `courses` and `groupings`. We keep `courses` around because it still holds information on some groups. We want to combine them into the modern `groupings` table, at the very least to make it easier to query historical data.

## Constraints

- We can count on `groupi

[2022-02-23 12:53] chrisshaw opened #1321 "Let Canvas teachers grade faster with speedgrader"
**As a grader, I want Canvas Speedgrader to work like it does in other LMSs, without refreshing when I swtich students, so that I don't have to wait for it to load every time.**

Speedgrader reloads the document every time a grader switches students. Loading VitalSource is especially painful in Speedgrader because of how long it takes to load the reader every time. We've had both pilot teachers me

[2022-02-23 12:56] chrisshaw opened #1322 "Automatically sync the student in Notebook with the student in Speedgrader"
**As a teacher, I want to flip through students in speedgrader while keeping Notebook open, so I can quickly grade students from the gradebook.**

## Related

Depends on https://github.com/hypothesis/product-backlog/issues/1321

[2022-02-23 15:08] seanh commented on #1321
Unfortunately the control for switching between users in SpeedGrader is part of Canvas, not part of Hypothesis, and it's Canvas not Hypothesis that does a full page reload of Hypothesis's iframe when you switch students. I'm not sure whether there's anything we can do about this one

[2022-02-23 17:58] chrisshaw commented on #1321
That does change things.

The alternative @robertknight brought up would be to give Canvas users access to our LMS grader as an alternative. This seems likely to send a bunch of users to support with a confusing user experience, as they're used to clicking on Speedgrader (unless we did something like a new placement with a grading "app" for teachers). But it's worth a user test.

To start with, I'

[2022-02-23 20:17] robertknight commented on #1321
Reloading is crude but has the benefit of being the easiest thing for Canvas and the LTI tool (eg. us) to implement. If the document viewer is simple and effective caching is used, it could be good enough.

For web pages and PDFs there probably are things we could to speed up repeated launches of the same content in the same browser. PDFs being easier and web pages being, probably, a lot more comp

[2022-02-23 21:00] mattdricker opened #1323 "Change Canvas error message for canvas_api_permission_error"
The current user-facing error shown when a student attempts to open a Canvas Files assignment and Hypothesis receives at `canvas_api_permission_error` is as follows:

[code]
<img width="582" alt="Screen Shot 2022-02-23 at 2 50 20 PM" src="https://user-images.githubusercontent.com/71603629/155406175-bb49d575-63d5-47c9-a6b1-26fbecc09b8a.png">

### The Problem
This error can only be resolved by the i

[2022-02-23 21:01] #1323 closed, assigned to nobody

[2022-02-24 03:53] chrisshaw commented on #1322
Closing for now. See #1321 .

[2022-02-24 03:53] #1322 closed, assigned to nobody

[2022-02-25 14:16] #1258 closed, assigned to nobody

[2022-02-28 04:45] chrisshaw opened #1325 "Hide new sections behavior behind feature flag"
**As a teacher, I don't want my assignments to break in the middle of using them.**

We want to divorce code delivery and the launch dates, so we can launch and announce the sections behavior without disrupting ongoing courses. That way, only mainly old courses will break and we can save support from migrating a bunch of teachers in the middle of the year.

## Constraints

- We can deploy the new

[2022-02-28 05:10] chrisshaw opened #1326 "Launch new Canvas Sections behavior to everyone"
**As a teacher, I want to see the new Canvas Sections feature after my class is over, so I can test it out before my next set of assignments go live.**

Turn on the Canvas Sections feature for everyone. This is the final ticket.

## Related

### Depends on

- [ ] #1325
- [ ] #1309

[2022-02-28 05:24] chrisshaw commented on #1248
I think this is done, per @lyzadanger [here](https://github.com/hypothesis/client/pull/4245#pullrequestreview-893612907):

[2022-02-28 10:48] robertknight commented on #1247
Hi @chrisshaw - Can you confirm that this request is just about the browser extension and not for the embedded client (ie. when publishers embed Hypothesis on their website) or the client in the LMS app?

[2022-02-28 13:27] chrisshaw commented on #1247
@robertknight Open to suggestions; the intent is reporting on the client. With that said:

- definitely not LMS yet
- my thought with focusing on the client in the extension was that it would make it easier to avoid listening from clients who didn't want to send us reporting.

[2022-02-28 13:51] robertknight commented on #1247
A general comment I have regarding any kind of data collection that might require user approval, is that we could only use it in scenarios where we have a way to persist these preferences. This means either the extension or logged-in users (for whom we can store account-level preferences). The embedded client does not have reliable access to persistent storage when the user is not logged in. This

[2022-03-01 18:27] robertknight commented on #1243
The issue turns out to be a more general problem with the [scroll-into-view package](https://github.com/KoryNunn/scroll-into-view/) that affects all XHTML documents. As far as I understand, all EPUBs are either XHTML or SVG documents. Solutions I am evaluating include:

1. Resolve the issue in scroll-into-view (https://github.com/KoryNunn/scroll-into-view/issues/101)
2. Replace scroll-into-view wi

[2022-03-01 21:00] mkdir-washington-edu commented on #1293
1. Log in as jeremydean+teacher@hypothes.is
2. Go to course https://hypothesis.instructure.com/courses/258
3. Go to course files and click on Bradstreet_Verses upon the Burning of our House.pdf
4. Confirm this is file # 795 and that it is published. You can also see file at https://hypothesis.instructure.com/courses/258/files?preview=795
5. Create a new assignment using this file, note in the laun

[2022-03-02 01:42] isaactpetersen commented on #196
Any update on this? I'm very interested in receiving notifications when someone adds a annotation on my website.

[2022-03-02 05:07] mkdir-washington-edu commented on #1293
This was bothering me and I wanted to look at it again. I can reliably reproduce it, but only in the linked course and only with that file.

It turns out that PDF, while set to Published in Canvas Files, is also referenced in an unpublished Module, which somehow then blocks us from using it (I'm like 99% sure). You can see it if you log in with the student account in step 6, and then view the file

[2022-03-02 09:47] robertknight commented on #196
There are no updates on this issue specifically. For advanced users our search API now has a `wildcard_uri` option that you can use to find all annotation on a specific domain. The search API can also be accessed as RSS feed - eg. `https://hypothes.is/stream.rss?wildcard_uri=https://www.bbc.co.uk/*`. This can be used to get a list of recent annotations on a particular domain.

[2022-03-02 13:54] #1243 closed, assigned to nobody

[2022-03-02 15:45] chrisshaw opened #1327 "Create test suite for LTI 1.3 Core"
This is what we do today for 1.1. So we'll do the same for 1.3 and that way we'll know we can pass come running it in the validator.

[2022-03-02 15:46] chrisshaw opened #1328 "Run IMS Certification Tests for LTI 1.3 Core"
Based on the test suite, we can't be certified for Core only. But we can at least run the tests for 1.3 Core and set up a test suite to ensure when it's time to actually get certified, we know 1.3 works.

[2022-03-02 16:24] robertknight opened #1329 "JSTOR prototype: Add JSTOR content selection option to LMS app"
Add a new option to the assignment configuration form in the LMS app which allows users to pick content from JSTOR. The assignment creation flow should be similar to VitalSource, except that there is no chapter selection step:

1. User creates a new Hypothesis assignment
2. In the content configuration screen, there should be an option to use a JSTOR article
3. When the JSTOR option is selected, t

[2022-03-02 16:29] robertknight opened #1330 "JSTOR prototype: Serve PDF assignments using JSTOR articles"
When launching an assignment that has been [configured to use a JSTOR article](https://github.com/hypothesis/product-backlog/issues/1329) the PDF needs to be fetched and served to the user in PDF.js. We think it will make sense to serve the PDF using Via, but this is a detail that needs to be confirmed.

Eventually this process will involve some kind of authentication process to check that the use

[2022-03-02 21:50] mattdricker opened #1331 "Glitches in Blackboard Learn while in "Student Preview" mode"
Reported by user: https://app.hubspot.com/contacts/6291320/ticket/800442012/

## To reproduce
The behavior can be reproduced logging on to Hypothesis' Blackboard SaaS instance as "professor" and opening the course: Hypothesis 501.

Confirmed in Chrome 98 and Firefox 97.0.1

## Behavior

In Blackboard Learn Original (not Ultra), when an instructor enter Student Preview mode:
<img width="318" alt="S

[2022-03-07 08:41] robertknight commented on #1201
The Epub.js demo at https://web.hypothes.is/demos/epubjs/ is no longer working. The main issue is to do with how the client is configured in the different frames of the viewer and how that affects the first chapter. The Epub.js viewer has two frames - an outer "container" frame and an inner "content" frame. What needs to happen is for the client to load into the outer "container" frame in "host" m

[2022-03-07 15:21] mattdricker opened #1332 "Typo in sidebar Getting Started tutorial text"
Reported by user: https://app.hubspot.com/contacts/6291320/ticket/803706719/

## Issue
There is an unmatched parenthesis in the sidebar's Getting Started tutorial. [Code located here](https://github.com/hypothesis/client/blob/c9d839493695911c0f4abbcd7b7d3baf2ab671e1/src/sidebar/components/Tutorial.js).

Step 3 currently reads:

`To annotate in a private group, select the group from the groups drop

[2022-03-07 18:28] mattdricker opened #1333 "Unable to log in to Hypothesis from USA Today pages"
## Bug report form
### Steps to reproduce
1. Make sure you are logged out Hypothesis
2. Open any page at USA Today e.g. https://www.usatoday.com/story/news/politics/2022/03/07/ukraine-russia-invasion-live-updates/9404740002/
3. Activate Hypothesis extension or bookmarklet, and click the sidebar link to Log In

### Expected behaviour
The Hypothesis login pop-up window should appear with appropriate

[2022-03-07 18:33] robertknight commented on #1333
Interestingly when I visit that URL I get redirected to https://eu.usatoday.com/story/news/politics/2022/03/07/ukraine-russia-invasion-live-updates/9404740002/ and I can't reproduce there in Chrome 101.

[2022-03-07 18:51] chrisshaw commented on #1333
To make this more annoying, when I try to go to eu. I get redirected to www where I can reproduce it :upside_down_face:

_The following is actually a WEBM file (my OS's screen recorder outputs WEBM). It won't play in browsers without WEBM support._

https://user-images.githubusercontent.com/2966918/157098682-0a300e4f-0134-4bfa-ac33-d54b3484e7d8.mp4

[2022-03-07 20:18] mkdir-washington-edu opened #1334 "Instructor faces error when replying to annotations that are replies to deleted annotations"
## Bug report form
### Steps to reproduce
Instructor reproduced for me, I can not reproduce on our end.
1. Instructor opened a reading in BB
2. Replied to a student and it posted successfully
3. Identified a student they can no reply to
4. When trying to post to that student they receive the red "cannot save annotation" banner
5. Check internet connection, re-load the assignment
6. Still receive b

[2022-03-07 21:17] robertknight commented on #1334
From the HAR file, the `POST /api/annotations` request body:

[code]

And the response:

[code]

Using h's tools locally the annotation IDs can be converted from the format shown above into the UUIDs that are used in the `annotation.id` column in h:

[code]

Querying the H-Read02 DB in Metabase, I find that an annotation with `id` 8d577e0e-9588-11ec-ba3e-47d67fdec6ff exists, but 90e17fec-862f-11ec

[2022-03-08 17:29] robertknight commented on #94
The HTML document integration (`HTMLIntegration`) in the client now has support for this, but it is behind a feature flag (`HTMLIntegration.sideBySideEnabled`) that is currently only enabled for VitalSource EPUBs. Shipping this for HTML documents is a matter of testing the current implementation with a variety of websites and tuning/tweaking it until we get it to a point where we are happy to ship

[2022-03-08 19:18] #1329 closed, assigned to lyzadanger

[2022-03-09 16:10] #1315 closed, assigned to lyzadanger

[2022-03-09 16:13] robertknight commented on #1330
Implemented by https://github.com/hypothesis/lms/pull/3763 and https://github.com/hypothesis/via/pull/701. To recap:

1. The LMS frontend creates assignments with URLs of the form `jstor://<article_id_or_doi>`
2. The LMS backend handles such assignments by generating signed PDF URLs to pass to Via
3. Via receives the augmented `jstor://...` URL and fetches the PDF from JSTOR. Via will check the si

[2022-03-09 16:14] #1330 closed, assigned to nobody

[2022-03-09 16:14] robertknight commented on #1299
The initial demo is now implemented. See https://github.com/hypothesis/product-backlog/issues/1330 and https://github.com/hypothesis/product-backlog/issues/1329.

[2022-03-09 16:14] #1299 closed, assigned to nobody

[2022-03-09 17:36] mkdir-washington-edu commented on #1334
We saw the issue again in Firefox, which he hadn't used before to replicate the issue. He was replying to annotation id = 4d4bbfec-950f-11ec-a86e-2f9a5cfe1298, which does exist, but which itself is a reply to 90e17fec-862f-11ec-b2c3-cb436e9c684a, which has been deleted.

He replicated the issue by trying to reply to 8d577e0e-9588-11ec-ba3e-47d67fdec6ff, which is also a reply to 90e17fec-862f-11ec-

[2022-03-09 17:40] mkdir-washington-edu commented on #1334
@robertknight Please see comment above. Matt and I think there may be an issue with the fact that the professor is reply to student annotations which themselves are replies to a deleted annotation, but we are **not** able to replicate this ourselves in our BB instance.

****

It occurs to me that when replicating I didn't leave enough time for the row to be **actually** deleted for the top level a

[2022-03-09 18:24] mkdir-washington-edu commented on #1334
Successfully replicated error:
![image](https://user-images.githubusercontent.com/22603275/157503449-8739d37a-31da-4559-8a78-848152c42ef8.png)

Tried to reply to annotation 4b82adee-9fd0-11ec-81f2-f3128fbd2068, which itself is a reply to 39b69be8-9fd0-11ec-8470-5bccf108dd2a, which no longer exists.

[2022-03-09 20:14] mkdir-washington-edu commented on #1270
URL: https://www.theoi.com/Text/OvidMetamorphoses1.html

Support ticket: https://app.hubspot.com/contacts/6291320/ticket/809101584/

Via behavior: Gets to a cloudflare page that asks you to enable cookies
<img width="1088" alt="image" src="https://user-images.githubusercontent.com/22603275/157526547-33cc4b41-5e3e-4c61-9d3b-8fdc1204aab2.png">

[2022-03-10 15:29] mkdir-washington-edu commented on #1270
URL: https://riojournal.com/articles.php?id=8812

Support ticket: https://app.hubspot.com/contacts/6291320/ticket/810022493/

Via behavior: It looks like the page keeps trying to load an iframe over and over when loaded in Via:
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/22603275/157695184-71c61e74-4d66-457d-94d4-e2fee9e7ae08.png">

(optional) Slack convo: https://

[2022-03-10 16:02] robertknight commented on #1270
I don't see this when visiting https://via.hypothes.is/https://riojournal.com/articles.php?id=8812. However there is an issue that there is an embedded copy of Hypothesis on the page, and an iframe with `enable-annotation` set, and some combination of those prevents the client from working.

When trying to annotate the page in Via, I see this error:

<img width="871" alt="Guest RPC connection erro

[2022-03-10 16:15] robertknight commented on #1270
https://github.com/hypothesis/product-backlog/issues/1270#issuecomment-1046968858 looks like a URL encoding issue. The first request below is the original URL, the second request is the URL that viahtml ends up requesting, the note percent-encoding of some characters in the query string.

[code]

[2022-03-11 18:29] natkuhn commented on #1195
In addition, when a reader clicks on the flag (maybe wondering what it does), there is no way for the user to un-flag. Clicking again does nothing.

[2022-03-15 15:15] #1254 closed, assigned to robertknight

[2022-03-16 10:27] chrisshaw opened #1335 "Fix Rio Journal URL in Via"
URL: https://riojournal.com/articles.php?id=8812

Support ticket: https://app.hubspot.com/contacts/6291320/ticket/810022493/

Via behavior: It looks like the page keeps trying to load an iframe over and over when loaded in Via:
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/22603275/157695184-71c61e74-4d66-457d-94d4-e2fee9e7ae08.png">

Per @robertknight 's [reply](htt

[2022-03-16 11:53] chrisshaw commented on #1328
Duplicate of hypothesis/lms#3850, can't do that without doing this, and this doesn't add any value.

[2022-03-16 11:53] #1328 closed, assigned to nobody

[2022-03-16 16:08] robertknight commented on #1333
The `cross-origin-opener-policy` header in particular is a new thing that may be relevant. From this related Chrome issue: https://bugs.chromium.org/p/chromium/issues/detail?id=1221127:

I'm not clear how this interacts with iframes yet.

This feature request in this issue is written with the assumption that the target audience is a web developer who can change the headers that web pages are serve

[2022-03-16 16:27] chrisshaw commented on #1333
Based on @robertknight 's investigation. We really have 2 issues here:

- [ ] Log in on USA Today when loading in Via
- [ ] Log in on USA Today when loading in extension

We'll treat this issue as a solution for Via.

[2022-03-16 17:30] lyzadanger commented on #1331
The styling and positioning of the student-preview banner and the (cut-off) modal dialog are within `iframe` elements that are outside of anything that we "touch". This interface, that is, lives fully outside of any Hypothesis integration/content.

That doesn't mean that _something_ we're doing isn't a catalyst here, but it leads me to cast a thoughtful eye. One thing that would be quite helpful:

[2022-03-16 22:25] chrisshaw commented on #1202
**Issue was linked to Harvestr Discovery:**  [Use only my keyboard](https://app.harvestr.io/components/0/list/V0ecSWmJl)

[2022-03-17 09:24] robertknight commented on #1314
I had a question about [whether this is the right issue](https://hypothes-is.slack.com/archives/C2C2U40LW/p1647508628662109) but I have a list of things we will need to do to graduate the demo that we've shown to VitalSource this week into something that we could ship to actual users:

- [ ] Implement a real authentication solution in which Hypothesis securely identifies the current institution to

[2022-03-17 12:05] lyzadanger commented on #1248
We tackled a few other items related to this feature this sprint, which are now deployed:

* https://github.com/hypothesis/client/issues/4300
* https://github.com/hypothesis/client/issues/4280

Those were the last items we wanted to address before calling this stage of work complete.

[2022-03-17 12:05] #1248 closed, assigned to robertknight

[2022-03-18 14:12] robertknight commented on #1283
I started looking at this in the browser extension. See https://github.com/hypothesis/browser-extension/pull/799. In the process I filed a client issue which we'll need to resolve first - https://github.com/hypothesis/client/issues/4331.

[2022-03-21 13:50] chrisshaw commented on #1314
I've captured this in a [working doc we'll use going forward](https://www.notion.so/JSTOR-Pilot-efc5238740be48e6a6c4430c3da1751c) so we can call this closed.

[2022-03-21 13:50] #1314 closed, assigned to nobody

[2022-03-21 21:05] chrisshaw commented on #1293
@mkdir-washington-edu any news on this one?

[2022-03-23 16:36] chrisshaw commented on #1331
This is not a problem with Hypothesis. It is a problem with Blackboard Learn's handling of LTI tools. I've tried with both the dummy LTI app and a third-party test app (Piazza) and both have the same problem.

https://user-images.githubusercontent.com/2966918/159750220-d96f948b-377c-480c-a04d-e9d6663ac09c.mp4

https://user-images.githubusercontent.com/2966918/159750222-f526c220-169d-400f-9b05-7195

[2022-03-23 16:36] #1331 closed, assigned to lyzadanger

[2022-03-30 15:30] robertknight commented on #1283
I'm currently working on a PDF.js update here: https://github.com/hypothesis/browser-extension/pull/799.

[2022-03-30 19:59] mkdir-washington-edu commented on #324
For help with French: https://app.hubspot.com/contacts/6291320/contact/33257951

[2022-03-31 07:17] robertknight commented on #1333
This issue only affects new login attempts, existing logins can still work. A workaround is to first login when visiting another page, and then visit USA Today. When using the Chrome extension, this will work in browsers that allow Hypothesis to access its previous login state across different sites.

[2022-03-31 07:35] robertknight commented on #1333
For the case of the embedded client, an alternative same-origin messaging system may work. I got a proof of concept working in Chrome and Firefox using [`BroadcastChannel`](https://developer.mozilla.org/en-US/docs/Web/API/BroadcastChannel/BroadcastChannel). Unfortunately this API is not supported in Safari. In Firefox I encountered an issue in this test where the popup window, after successfully r

[2022-03-31 14:23] mkdir-washington-edu commented on #1270
URL: https://time.com/5494404/tressie-mcmillan-cottom-thick-pregnancy-competent/

Support ticket: https://app.hubspot.com/contacts/6291320/ticket/841784359/

Via behavior: The header of thew page appears but there's no page context.

[2022-03-31 20:50] mattdricker commented on #1270
URL: https://www.npr.org/2021/06/24/1009578809/cops-say-low-morale-and-department-scrutiny-are-driving-them-away-from-the-job (though this same effect can be seen with any page on NPR's site)

No support ticket.

Via behavior: Odd sizing difference in the annotate/highlight modal between via and direct site URL. Also subtle sizing/spacing diffs on the bucket bar.

Via:
<img width="730" alt="Screen

[2022-04-04 16:59] chrisshaw commented on #235
**Issue was linked to Harvestr Discovery:**  [Mention group members directly (e.g., @mention)](https://app.harvestr.io/components/0/list/LW5zAVQIp)

[2022-04-04 19:38] mattdricker commented on #1270
URL: https://www.vox.com (issue occurs on any page at vox.com)

Support ticket: https://app.hubspot.com/contacts/6291320/ticket/847941229/

Via behavior: Page gets stuck in a loop of continually reloading.

[2022-04-05 10:20] robertknight commented on #1333
If we are unable to rely on `window.opener` access in the popup window, then a general-purpose solution for the login process might look something like:

1. Client opens popup window at h authorization URL
2. After authorization completes, h redirects the popup window to a pre-registered client-specific redirect URL, following the standard OAuth protocol for returning an access code to the client

[2022-04-05 12:13] robertknight commented on #1335
I see different results when testing in Chrome vs Safari/Firefox. In Safari and Firefox I see the nested frames as in the screenshot in the issue description. In Chrome I don't see this but the page has an inner iframe which fails to connect to the sidebar. The issue with the iframe not connecting to the sidebar is related to a `window.postMessage` override that pywb/wombat installs. There is a co

[2022-04-05 18:07] mattdricker commented on #1270
URL: https://reason.com/2022/04/03/against-scientific-gatekeeping/

Support ticket: https://app.hubspot.com/contacts/6291320/ticket/288798322/

Via behavior: Continual reload loop, as above vox.com issue.

Additional notes: Seems to be localized to Chrome (v100.0.4896.75). Can not reproduce in FF or Safari.

Each reload of the page adds an `/[object%20Object]` to the end of the URL

[2022-04-06 10:11] robertknight commented on #1283
Open PRs that will close this:

https://github.com/hypothesis/browser-extension/pull/799
https://github.com/hypothesis/pdf.js-hypothes.is/pull/26
https://github.com/hypothesis/via/pull/720

[2022-04-07 13:11] robertknight commented on #1283
The new PDF.js version will bump the minimum supported browser version for the PDF viewer as described at https://github.com/mozilla/pdf.js/pull/14538 to versions that are ~3 years old, which conveniently aligns approximately with our typical cut-off point for older browsers:

- Chrome 73
- Firefox ESR
- Safari 12.1

[2022-04-07 13:18] #1283 closed, assigned to robertknight

[2022-04-07 21:08] chrisshaw opened #1338 "Via gets stuck on pages in Chrome v100.0.4896.75"
URL: https://reason.com/2022/04/03/against-scientific-gatekeeping/

Support ticket: https://app.hubspot.com/contacts/6291320/ticket/288798322/

Via behavior: Continual reload loop, as above vox.com issue.

Additional notes: Seems to be localized to Chrome (v100.0.4896.75). Can not reproduce in FF or Safari.

Each reload of the page adds an `/[object%20Object]` to the end of the URL

_Originally po

[2022-04-08 18:32] mkdir-washington-edu commented on #1338
Saw two more examples come through the Support channel yesterday/today.

1)
https://app.hubspot.com/contacts/6291320/ticket/854081025
In this instance a prof made a Canvas page public: https://pierce.instructure.com/courses/2224068/assignments/syllabus

It is accessible in via in Safari 15, FF99, and Chrome 99, but it constantly refreshes in Via in Chrome 100.

2)
https://app.hubspot.com/contacts/

[2022-04-11 16:59] ikreymer commented on #1338
This seems likely related to webrecorder/pywb#707, hoping to have a new pywb release that will fix this soon.

[2022-04-11 20:46] mattdricker commented on #1338
User report: https://app.hubspot.com/contacts/6291320/ticket/859718493/

[2022-04-11 22:57] ikreymer commented on #1338
Just released pywb 2.6.6, which fixes issues related to Chrome >=100 rewriting. Hopefully that fixes this issue as well.

[2022-04-12 12:23] robertknight commented on #1338
Thanks @ikreymer! We're just testing it out now. If that works, this PR will close this issue: https://github.com/hypothesis/viahtml/pull/330.

[2022-04-14 10:44] jonathan-kosgei commented on #198
I don't understand why this requires significant design thinking. Wouldn't the simplest solution simply be to provide 4 or 5 different colored boxes to choose from when the user highlights some text similar to Kindle or Zotero's new PDF reader. Instead of looking at the myriad of ways this could be implemented why not adopt the simplest possible solution and improve it incrementally.

[2022-04-16 16:54] Bruno-366 opened #1339 "Feature Request: move existing annotations to a group"
## Feature Request Form
Is it possible to move annotations already made (they are public by default) to a group?

### Problem you are trying to address with this feature
Categorizing annotations that were by mistake made in the wrong "group" (public)

### Your solution
Redoing it all the annotations (+50) by hand in the new group

### Add tags - did you add labels?
If this a customer requested fea

[2022-04-19 21:06] matthiaskoenig commented on #198
Moved on to zotero. Not seeing this being fixed ever after 5 years open. This is one of the highest (if not highest) commented and ranked issues on this repository. You should listen to feature requests of users.

I have to agree with @jonathan-kosgei. If someone wanted this implemented it should be pretty easy to do in a simple first version.

[2022-04-27 23:34] mkdir-washington-edu opened #1340 "PDF ToC appears broken when Viewed in Safari (12-15 at least)"
## Bug report form
### Steps to reproduce
1. In Safari, open https://arxiv.org/pdf/1606.02960.pdf
2. In Safari, open https://via.hypothes.is/https://arxiv.org/pdf/1606.02960.pdf (see error)
3. For comparison, do the same in other browsers.

### Expected behaviour
We would expect to see the PDF ToC look like it does in Chrome and FF when served up in Via:
https://hypothes-is.slack.com/archives/C2BL

[2022-04-28 04:30] chrisshaw opened #1341 "[client] Accessibility: Identify the current annotation"
**Improve annotation navigation by uniquely identifying each annotation.**

From our WCAG 2.1 Audit. This was also identified by a student user in a accessibility call.

[2022-04-28 04:30] chrisshaw commented on #1341
**Issue was linked to Harvestr Discovery:**  [Know what annotation I'm modifying via screen readers](https://app.harvestr.io/components/0/list/2ccn8e85P)

[2022-04-28 04:39] chrisshaw opened #1342 "[client] Accessibility: Announce the annotation I'm deleting"
**As a user using assistive technologies like NVDA, JAWS, or VoiceOver, I want to be notified of the steps as I delete an annotation, so that I can more quickly make and remove annotations as I engage in discussions.**

In an accessibility review, the reviewer considered it a critical defect that the user using JAWS did not know what annotation they were deleting or that they had deleted it. We al

[2022-04-28 04:39] chrisshaw commented on #1342
**Issue was linked to Harvestr Discovery:**  [Know what annotation I'm deleting](https://app.harvestr.io/components/0/list/uqU1y0sSH)

[2022-04-28 04:49] chrisshaw opened #1343 "[client] Accessibility: Announce when I delete annotations"
**As a user using assistive technologies like NVDA, JAWS, or VoiceOver, I want to be notified when I delete an annotation, so that I can move on confidently to engage in discussions more quickly.**

A reviewer in an accessibility review considered it a major defect that, upon deleting an annotation, the user would not know anything actually happened:

This fits a theme of missing announcements as

[2022-04-28 04:49] chrisshaw commented on #1343
**Issue was linked to Harvestr Discovery:**  [Hear announcements when I delete annotations via screen readers](https://app.harvestr.io/components/0/list/I4lgxgB-f)

[2022-04-28 05:13] chrisshaw opened #1344 "[client] Accessibility: Announce the content I'm annotating"
**As a user using assistive technologies like NVDA, JAWS, or VoiceOver, I want to be notified of the content related to the annotation I'm editing, so that I  can move on confidently to engage in discussions more quickly.**

This showed up as a major defect in a recent accessbility review:

Our WCAG auditor mention recommended we label the highlighted content so users know what they are annotating

[2022-04-28 05:19] chrisshaw commented on #1344
**Issue was linked to Harvestr Discovery:**  [Know what annotation I'm editing](https://app.harvestr.io/components/0/list/ddEYBCOeN)

[2022-04-28 05:22] chrisshaw opened #1345 "[client] Accessibility: Announce when I save an annotation"
**As a user using assistive technologies like NVDA, JAWS, or VoiceOver, I want to be notified when I save an annotation, so that I can move on confidently to engage in discussions more quickly.**

A reviewer in an accessibility review considered it a major defect that, upon saving an annotation, the user would not know anything actually happened:

## Related

Related to https://github.com/hypothes

[2022-04-28 05:23] chrisshaw commented on #1345
**Issue was linked to Harvestr Discovery:**  [Hear announcements when I save annotations](https://app.harvestr.io/components/0/list/9VBzYJ1OT)

[2022-04-28 05:25] chrisshaw opened #1346 "[client] Accessibility: Announce when I save a highlight"
**As a user using assistive technologies like NVDA, JAWS, or VoiceOver, I want to be notified when I save a highlight, so I can move on confidently to engage in discussions more quickly.**

From our recent WCAG audit:

<details>
<summary>This also came up in a recent accessibility review</summary>

</details>

[2022-04-28 05:27] chrisshaw commented on #1346
**Issue was linked to Harvestr Discovery:**  [Hear announcements when I save highlights](https://app.harvestr.io/components/0/list/iLPUZYpyL)

[2022-04-28 05:34] chrisshaw opened #1347 "[client] Accessibility: Announce the annotation I'm replying to"
**As a user using assistive technologies like NVDA, JAWS, or VoiceOver, I want to be notified of the annotation I'm replying to, so that I can add a reply more quickly while engaging in discussions.**

https://github.com/hypothesis/product-backlog/issues/1341, https://github.com/hypothesis/product-backlog/issues/1344, and #1351  recommend describing the content of the _document_ a user is commenti

[2022-04-28 05:35] chrisshaw opened #1348 "[client] Accessibility: Announce when I save a reply"
**As a user using assistive technologies like NVDA, JAWS, or VoiceOver, I want to be notified when I save a reply, so I can move on confidently to engage in discussions more quickly.**

A reviewer in an accessibility review considered it a major defect that, upon saving an reply, the user would not know anything actually happened:

## Related

Related to https://github.com/hypothesis/product-backl

[2022-04-28 05:36] chrisshaw commented on #1348
**Issue was linked to Harvestr Discovery:**  [Hear announcement when I save a reply](https://app.harvestr.io/components/0/list/F0PyPexGW)

[2022-04-28 05:36] chrisshaw commented on #1347
**Issue was linked to Harvestr Discovery:**  [Hear announcement when I save a reply](https://app.harvestr.io/components/0/list/F0PyPexGW)

[2022-04-28 05:42] chrisshaw opened #1349 "[client] Accessibility: Announce the status of search results"
**As a user using assistive technologies like NVDA, JAWS, or VoiceOver, I want to be notified of the status of search results, so I know to scan the results to engage in discussions more quickly.**

A reviewer in an accessibility review considered it a major defect that, upon searching for annotations, the user would not know anything actually happened:

From our WCAG audit, the recommended soluti

[2022-04-28 05:43] chrisshaw commented on #1349
**Issue was linked to Harvestr Discovery:**  [Hear announcements for search results via screen reader](https://app.harvestr.io/components/0/list/b76ssZEdg)

[2022-04-28 05:47] chrisshaw opened #1350 "Accessible interactions"
## Docs

[Project doc](#)

## Stories

[Query for all stories](https://github.com/orgs/hypothesis/projects/51/views/21?filterQuery=-status%3ADone+-is%3Aclosed+type%3AStory%2CDiscovery+feature%3A%22Accessible+interactions%22+)

[2022-04-28 07:17] robertknight commented on #1340
Looks correct to me in Safari 15.4. Which Safari 15.x release were you testing in @mkdir-washington-edu?

[2022-04-28 11:46] lyzadanger commented on #1341
Reviewed: Need to add `aria-` attribute(s) to `Annotation` `article` element.

[2022-04-28 11:47] lyzadanger commented on #1342
Reviewed: Sounds like we need to add `aria-` attributes as delineated here to action buttons in the `Annotation` card's footer.

[2022-04-28 11:52] lyzadanger commented on #1343
I _believe_ we may be able to address this by extending our current "toast messages" UI to support visually-hidden toast messages. In that approach, a sighted user would not see a toast message on deleting an annotation but a visually-hidden toast message would be added and screen readers should pick that up.

I've read that elements with `display: none` do not always work with `aria-live`(which i

[2022-04-28 11:54] lyzadanger commented on #1346
I'd initially suggest trying the same approach proposed for #1343 (visually-hidden toast message using `aria-live`). If that is not successful, we can try something else.

[2022-04-28 11:56] lyzadanger commented on #1342
Oh, I don't think the dependency cited in the description is accurate.

[2022-04-28 12:01] lyzadanger commented on #1344
Am I understanding this correctly: A user has highlighted some text  in the "host page" and either clicked "Annotate" or typed "A" to create an annotation. They are taken to the edit interface in the sidebar and the annotation-content textarea input is focused. But they are unable to tell what the selected/highlighted text is that they are annotating?

The suggested approach of `aria-labelledby` m

[2022-04-28 12:01] lyzadanger commented on #1345
See proposed approach for #1343

[2022-04-28 12:01] lyzadanger commented on #1344
Note: Dependency is inaccurate.

[2022-04-28 12:07] lyzadanger commented on #1347
@chrisshaw Sorry, I don't understand this one. What does "I want to be notified of the comment I'm replying to" mean? When?

[2022-04-28 12:07] lyzadanger commented on #1348
This is actually a dupe of #1345 — replies are just another kind of annotation.

[2022-04-28 12:08] lyzadanger commented on #1349
Cool. ARIA roles are doing and more and more heavy lifting these days.

[2022-04-29 03:41] chrisshaw commented on #1348
My only thought here was whether we want the message to be different for each type of annotation. E.g., "Posted annotation" vs "Posted reply." If so, I wasn't sure if the knowledge of a parent was readily accessible (and so may involve additional feature work).

[2022-04-29 03:47] chrisshaw commented on #1343
@lyzadanger Confirming we don't want to add status messages for this.

<details>
<summary>How I was thinking about it</summary>

I do think deletion status messages could be useful, but they become more valuable when there is an action that can be taken on that status message (e.g., undo). I also got to thinking that, should we want to introduce undo, we could likely do better than an undo button

[2022-04-29 04:04] chrisshaw commented on #1344
@lyzadanger I updated all the dependency statements to related as you're right.

And yes, you're grokking it correctly. That's the complaint as described.

[2022-04-29 04:20] chrisshaw commented on #1347
@lyzadanger I tried updating the description to be a little more clear. I was trying to make a distinction between the flow for a root annotation and a reply. This boils down to:

- Make the button do what all the other action buttons do
- Unlike what happens with the edit button, rather than use the highlighted content in the editor, use the parent annotation content

[2022-04-29 04:23] chrisshaw opened #1351 "[client] Accessibility: Announce the annotation I'm editing"
**As a user using assistive technologies like NVDA, JAWS, or VoiceOver, I want to be notified of the steps as I edit an annotation, so that I can more quickly make and remove annotations as I engage in discussions.**

In an accessibility review, the reviewer considered it a major defect that the user using JAWS did not know what annotation they were editing. We also received similar feedback from

[2022-04-29 04:25] MercanAda commented on #1351
I have a problem with all type accounts. Someone controlling all my mobile and pc accounts.

[2022-04-29 04:29] chrisshaw commented on #1351
**Issue was linked to Harvestr Discovery:**  [Know what annotation I'm editing](https://app.harvestr.io/components/0/list/ddEYBCOeN)

[2022-04-29 18:49] chrisshaw opened #1352 "Only submit on public annotation activity in Canvas"
**As an instructor, I only want to see submissions when they occur with meaningful activity, so that I am not confused when I go into check the submission.**

After completing https://github.com/hypothesis/lms/issues/3647 (:tada:) we send submissions for highlights and private annotations. We should only send them for new annotations (or replies) and edited annotations (or replies).

## Flow

Afte

[2022-05-02 13:32] lyzadanger commented on #1347
I grok the core gist of this now: content associated with a reply is the parent annotation's content, not the annotation target (highlighted/selected text). As with the "edit" variant of this, I'm a little uncertain of exactly what a user would want their screen reader to read for them: the entire associated content? That could be long...I'll have to look at this in more depth...

[2022-05-02 16:32] chrisshaw commented on #1347
I was thinking just straight dumb entire content, but yeah, I'm worried about the UX. My thought, though, was that users can cut that off themselves. Additionally, we could clean it up in a future iteration and meanwhile the full content would be "right" and better than what we give now. But open to ideas.

[2022-05-02 16:53] mkdir-washington-edu commented on #1270
URL: https://www.accreditedschoolsonline.org/resources/successful-online-student-characteristics/

Support ticket: https://app.hubspot.com/contacts/6291320/ticket/892690993/

Via behavior: Sidebar loses the open/close button and the Adder doesn't appear when text is selected.

Additional notes: Same behavior with the Chrome extension

[2022-05-02 18:12] mattdricker opened #1353 "In-context URLs don't work on Simplecast transcript pages"
## Bug report form
Reported by user: https://app.hubspot.com/contacts/6291320/ticket/891020862/
### Steps to reproduce
1. Create an annotation on a podcast transcript page hosted at simplecast.com. E.g. https://complexity.simplecast.com/episodes/82/transcript
2. Generate share link to that annotation, and open share link in new tab. E.g. https://hyp.is/Q9iQIspBEeyGZ2fwKw1OOw/complexity.simplecast.

[2022-05-03 01:08] chrisshaw commented on #1353
I think the answer is going to be, we don't support all web apps, but we'll have someone confirm it.

From my glance, I would guess that our URL fragment for the annotation id mangling the Simplecast API's `/search` endpoint. This could be a red herring, though. Curiously, it calls this endpoint twice, and the first one works with a 200. The second one then truncates (?) the annotation ID and fail

[2022-05-03 14:23] lyzadanger commented on #1341
I appreciate the level of detail in the issue description; it has helped me find good resources to figure out good approaches to this.

The requestor has suggested using the author's name as a "label" and the "highlighted text" (in some of the front-end code, we call this a "quote", which is a useful term, as "highlight" is overloaded) to "describe" the annotation `article` element. I used this as

[2022-05-03 16:09] chrisshaw opened #1354 "Show JSTOR document metadata when teachers configure assignments"
We have new APIs from JSTOR. Let's use them now for creating assignments.

## Flow

As an instructor...

- I grab a stable URL and open the assignment creation form
- [x] When I submit the JSTOR url, I view the thumbnail
- [x] Instead of "a JSTOR article," I see the title, author, publication title, issue, and publisher. This is meant to align with the metadata that JSTOR shows.
  - _Update 2022-0

[2022-05-03 16:45] chrisshaw commented on #1308
Dupe of #1263

[2022-05-03 16:45] #1308 closed, assigned to nobody

[2022-05-03 17:00] mkdir-washington-edu commented on #1223
Related ideas captured originally here: https://github.com/hypothesis/product-backlog/issues/827

[2022-05-03 17:19] mkdir-washington-edu commented on #1340
@robertknight I've checked again, using two different computers.
I can **not** replicate on:
- macOS Big Sur 11.6.5
- Safari 15.4

I **can** replicate on:
- mac OS Big Sur 11.6.3
- Safari 15.0

I don't see other obvious differences between the two (no extensions installed in either version of Safari, for example).

[2022-05-06 19:49] mattdricker opened #1356 "In-context and share links made on EPUBs do not work as expected"
## Related

### EPUBS

Related to https://github.com/hypothesis/product-backlog/issues/1356

Related to https://github.com/hypothesis/product-backlog/issues/709

### PDFs

Related to #1358

Related to https://github.com/hypothesis/product-backlog/issues/1360

## Bug report form

Reported by user https://app.hubspot.com/contacts/6291320/ticket/899698951/

Note that I haven't made an exhaustive surv

[2022-05-09 17:49] chrisshaw commented on #1357
@michael-rowe Hypothesis product manager here. I could be wrong, but I don't think we we'll be able to pull up your prior reply notifications.

If you're handy with a scripting language and our API, I think you may be able to backtrack them. V2 of the API lets you [search annotations by reference](https://h.readthedocs.io/en/latest/api-reference/v2/#tag/annotations/paths/~1search/get). This is lik

[2022-05-11 17:50] mkdir-washington-edu opened #1358 "Hypothesis recording URLs for www.lifescied.org that don't work when visiting in context (extension or Via)"
## Related

### EPUBS

Related to https://github.com/hypothesis/product-backlog/issues/1356

Related to https://github.com/hypothesis/product-backlog/issues/709

### PDFs

Related to #1358

Related to https://github.com/hypothesis/product-backlog/issues/1360

## Bug report form
### Steps to reproduce
1. Visit https://www.lifescied.org/doi/epdf/10.1187/cbe.16-03-0125
2. Create annotation
3. From th

[2022-05-12 16:59] betamigo98 commented on #566
Here a template-based solution coming from memex and obsidian, proposed [in this reddit post](https://www.reddit.com/r/ObsidianMD/comments/ohfow6/memex_export_to_obsidian_template/).

Re-taken as-is from the post, it looks like the block below.
I am new to github, please forgive me if I did something wrong.
Thank you

[2022-05-13 18:14] mkdir-washington-edu opened #1360 "PDFs uploaded to docdrop are saving wrong URL, but rel=canonical seems to be correct"
## Related

### EPUBS

Related to https://github.com/hypothesis/product-backlog/issues/1356

Related to https://github.com/hypothesis/product-backlog/issues/709

### PDFs

Related to #1358

Related to https://github.com/hypothesis/product-backlog/issues/1360

## Bug report form
### Steps to reproduce
1. Upload a PDF to https://docdrop.org
2. Create an annotation
3. Note the unexpected URL. It appe

[2022-05-15 18:09] chrisshaw opened #1361 "Enable Noodle's social app"
## Docs

[Related initiative](https://www.notion.so/Noodle-Partnership-80a6ffbe7a13416ab663dd81533a60f2) with [external link](https://docs.google.com/document/d/15inDXUPA6SUbRd0N_1B95B244q-KDLG_HTzC-fEbBXo/edit)

[Launch doc](https://www.notion.so/Enable-Noodle-s-social-app-96c27e9582504991be1b990ef22a0d14) (mainly placeholder for launch tasks)

## Stories

[Search query](https://github.com/orgs/h

[2022-05-16 07:58] robertknight commented on #1360
@mkdir-washington-edu - It looks like the PDF URLs in the issue got mangled.

`<link rel=canonical>` is not used in PDFs. The URL that is used with annotations is the one reported by `PDFViewerApplication.url`, which in turn comes from the `originalUrl` parameter passed to `app.open` in the code that loads the client. See https://github.com/hypothesis/via/blob/a108568001254028d5335efa89c3d1c866296

[2022-05-16 08:11] robertknight commented on #1360
I had a quick look at an old version of the client code from 2017 to see if `<link rel=canonical>` had been used in PDFs in the past, but it looks like we've always had entirely separate code paths for getting the URL and metadata in HTML vs PDF documents. Certainly nothing has changed recently.

[2022-05-16 14:27] mkdir-washington-edu commented on #1270
URL: https://writingspaces.org/

Support ticket: https://app.hubspot.com/contacts/6291320/ticket/911404893/

Via behavior: gives the following error:

(optional) Slack convo: https://hypothes-is.slack.com/archives/C2BLQDKHA/p1652709309801049

added note: later on that day the site started working again for the user and for us. I'm wondering if the site was testing some new code and pulled it back.

[2022-05-16 17:54] chrisshaw opened #1362 "Via errors on previously working assignment URL"
_Originally posted by @mkdir-washington-edu in https://github.com/hypothesis/product-backlog/issues/1270#issuecomment-1127747325_

URL: https://writingspaces.org/

The user reports that the URL worked as of April 4, but now (as of May 16) Via gives the following error:

![image](https://user-images.githubusercontent.com/2966918/168653710-778479f2-9ee1-4049-a74e-cdc99640ed37.png)

## Notes

This co

[2022-05-17 13:06] #1352 closed, assigned to lyzadanger

[2022-05-18 12:10] #1345 closed, assigned to lyzadanger

[2022-05-18 12:10] #1348 closed, assigned to lyzadanger

[2022-05-18 12:11] #1343 closed, assigned to mattdricker

[2022-05-18 12:11] #1346 closed, assigned to nobody

[2022-05-18 17:55] mkdir-washington-edu commented on #1362
Note that the site works correctly in Via now. I'm wondering if the site made some changes to their code and then pulled those changes back.

[2022-05-18 17:55] mkdir-washington-edu commented on #1270
URL: https://www.evernote.com/shard/s44/sh/cae6dc0b-a201-48a7-98da-1cf160b0194d/77a44581fa7bc271981aa48eff17569a

Support ticket: https://app.hubspot.com/contacts/6291320/ticket/903995914/

Via behavior: In Android 10 on Chrome 101 and Duck Duck Go 5.124 the above link loads the Hypothesis Sidebar but does not load the underlying page. I replicated this problem on my device but can **not** replica

[2022-05-19 00:12] #1362 closed, assigned to nobody

[2022-05-19 03:14] chrisshaw opened #1363 "Self-serve pages for new LTI registrations"
Today, creating new LTI registrations works like:

[code]

We're worried there will be too many migrations happening at once to LTI 1.3, and support will be swamped by manual migrations.  Before we want to broadcast migrations, we want to give customers an automated migration path.

## Flow

Ideas

- (Token-basd link) We sign a new install, we generate a new org, we create a secure link to a priva

[2022-05-19 15:12] chrisshaw opened #1364 "VitalSource: onboarding"
## Docs

[Launch doc](https://www.notion.so/VitalSource-onboarding-fka-v1-production-integration-3823fac422804ed3b2aa1db1b4279a36)

[Initiative](https://www.notion.so/VitalSource-partnership-bbfccaa376d64a95b4e5c8f40325e2b4)

## Stories

[Search query](https://github.com/orgs/hypothesis/projects/51/views/21?filterQuery=-status%3ADone+-is%3Aclosed+feature%3A%22VitalSource%3A+onboarding%22)

- [x] h

[2022-05-20 15:22] robertknight commented on #1354
See links in https://hypothes-is.slack.com/archives/C02T75RKBTK/p1651073373706719 for details of API endpoints for metadata and thumbnails, including links to an API directory.

[2022-05-24 01:59] chrisshaw opened #1365 "Send users who can't get content to support"
**As a student, I want to learn how to fix it when I can't access concent, so that I can use the new JSTOR integration.**

When users don't have access to content, we want to be able to help them (1) understand what went wrong and (2) help them troubleshoot if necessary. That way, students don't pepper teachers with complaints. Instead, when relevant, they may push teachers to push libraries to ex

[2022-05-28 17:56] rateldajer commented on #127
I guess this is never going to happen? It's a really critical feature for hypothes.is to become something actually useful and viral. Many many papers I want to discuss with students in class or research are on arkiv with meaningless numeric names that become the title. So if I share a tag page of papers on hypothes.is for a course or lecture there is no way to know what each one is. I've resorted

[2022-05-30 15:28] mattdricker commented on #127
Additional request: https://app.hubspot.com/contacts/6291320/ticket/928464735

[2022-06-08 13:10] #1349 closed, assigned to lyzadanger

[2022-06-09 18:53] chrisshaw commented on #1350
Closed in favor of Notion feature docs

[2022-06-09 18:53] #1350 closed, assigned to nobody

[2022-06-09 20:19] mattdricker commented on #1357
Another user report of same issue: https://app.hubspot.com/contacts/6291320/ticket/946398891

This user also does not have a row in the `subscriptions` table. And also, account creation date quite old from 2015.

[2022-06-10 18:04] mattdricker opened #1366 "Activity Page search shows same results on page 50 and higher"
## Bug report form
Reported by user: https://app.hubspot.com/contacts/6291320/ticket/925726335
### Steps to reproduce

1. Perform a search that generates more that 50 pages of results, such as an unfiltered search in the public group: https://hypothes.is/search
2. Jump to page 50: https://hypothes.is/search?page=50
3. Visit page 51, 52, 53, etc., and compare the results of each page

<img width="9

[2022-06-11 18:17] #1263 closed, assigned to nobody

[2022-06-11 18:33] #1361 closed, assigned to nobody

[2022-06-12 17:54] #1364 closed, assigned to nobody

[2022-06-13 01:00] chrisshaw commented on #1340
The investigation seems to reveal this is a browser regression that they fix in later updates. I would recommend we tell this user to upgrade their Safari browser (or request and wait for the update, if this is controlled by their IT department). < 0.25% of users are on this browser.

[2022-06-13 01:00] #1340 closed, assigned to nobody

[2022-06-13 01:27] chrisshaw commented on #1293
Can't reproduce. We'll close this until we encounter it again.

[2022-06-13 01:27] #1293 closed, assigned to mkdir-washington-edu

[2022-06-13 14:51] robertknight commented on #1354
The initial fetch and display of the title and thumbnail is done. Not all of the other information mentioned ("I see the title, author, publication title, issue, and publisher.") was available. We'll need to revisit this. See https://github.com/hypothesis/lms/issues/4049.

There are some in-flight pull requests to deal with issues that were encountered along the way:

- https://github.com/hypothes

[2022-06-14 07:13] robertknight commented on #1135
I revised the description of the issue to make it easier to find and clarify the general problem and current status. A relevant recent development is that there is a new [Navigation API](https://wicg.github.io/navigation-api/) in browsers which we can use to detect client-side navigations without having to eg. monkey-patch the history API.

[2022-06-14 15:20] chrisshaw opened #1367 "Fix the gaps between words"
![Image](https://user-images.githubusercontent.com/2966918/173268527-943aea81-35e5-4512-acc4-99be5fbe5297.png)

## Related

Related to [this Slack conversation](https://hypothes-is.slack.com/archives/C02T75RKBTK/p1654098782768389)

[2022-06-14 17:04] jon-betts commented on #1357
There are ~32,000 entries for LMS users, which I suspect are a result of the way users used to be added which would have triggered the full work flow. Now we do a more efficient bulk update this isn't true any more.

I think this is a nice win, as it's one less thing to do should you ever want that to work for LMS users.

[2022-06-15 18:13] seanh commented on #1044
Closing this in favour of https://github.com/orgs/hypothesis/projects/61/

[2022-06-15 18:13] #1044 closed, assigned to nobody

[2022-06-16 19:05] mattdricker opened #1368 "Students no longer see a friendly error message when PDF is unaccessible in Canvas"
## Bug report form
### Steps to reproduce
1. Create an assignment in Canvas using a PDF stored in Canvas Files.
2. Make that PDF unavailable, e.g. unpublish, set availability date to the past, etc. (Do not delete, that generates a different error.)
 * See: https://hypothesis.instructure.com/courses/125/assignments/1371
4. Log on a student and open the assignment.

### Expected behaviour
Student sh

[2022-06-16 19:11] mattdricker commented on #1368
See also [this discussion about improving the text of the friendly message](https://github.com/hypothesis/product-backlog/discussions/1324).

[2022-06-17 13:48] mattdricker commented on #1270
URL: https://lorishyba.pbworks.com/f/salen_ecology.pdf

Support ticket: https://app.hubspot.com/contacts/6291320/ticket/956175998

Via behavior: User receives via error message:
[code]
<img width="647" alt="Screen Shot 2022-06-17 at 9 48 07 AM" src="https://user-images.githubusercontent.com/71603629/174311171-88538b44-a8a9-4bf7-bd82-48709884a9e9.png">

[2022-06-22 12:57] lyzadanger commented on #1341
Given the original intent of this issue:

I believe we have satisfied this by providing a contextual `aria-label` to each annotation `article` element. That context should apply to the entire annotation.

[2022-06-22 12:57] #1341 closed, assigned to lyzadanger

[2022-06-23 00:05] millerh1 commented on #391
Big +1 for this

Am a researcher -- want to share annotations on specific paper with two hypothes.is groups I'm a part of (one is for the lab I'm in, another is for an online community I'm a part of) but currently cannot.

Would love to see this feature implemented as I currently have to choose which group I will get to share with.

[2022-06-28 13:03] lyzadanger commented on #1344
### “Before”

Before we set out on any recent accessibility enhancements in the sidebar, Voiceover on Mac OS would read out the following after pressing “A” to annotate on some selected text (once the user has been moved to the associated `textarea`:

![449D2B5A-D9E9-4C1A-9359-7C6B06B70EB3](https://user-images.githubusercontent.com/439947/176184980-d93cf55b-27af-423a-90bf-fd96b257546d.png)

If a u

[2022-06-28 13:03] #1344 closed, assigned to lyzadanger

[2022-06-28 13:17] lyzadanger commented on #1351
Please see https://github.com/hypothesis/product-backlog/issues/1344#issuecomment-1168694871 for recent contextual improvements in this area.

[2022-06-28 13:17] #1351 closed, assigned to nobody

[2022-06-28 13:17] lyzadanger commented on #1347
Please see https://github.com/hypothesis/product-backlog/issues/1344#issuecomment-1168694871 for recent contextual improvements to this area.

[2022-06-28 13:17] #1347 closed, assigned to nobody

[2022-06-28 13:18] lyzadanger commented on #1342
Please see https://github.com/hypothesis/product-backlog/issues/1344#issuecomment-1168694871 for recent contextual improvements to this area.

[2022-06-28 13:18] #1342 closed, assigned to nobody

[2022-06-30 15:42] izzues commented on #45
Hey, thanks for the great work!

I'm still having this issue, and I don't think this is solved yet, at least not properly. Correct me if I'm wrong, but it seems the extension communicates with the Hypothes.is server using an injected script, and this context is what causes all the issues above.

As far as I know, the proper way to architect WebExtensions that need to communicate with a server is t

[2022-06-30 17:39] robertknight commented on #45
The specific issue that was originally reported was solved, as we no longer use cookies at all for authentication. Since then however some browsers have introduced new tracking protection measures which are intended to target ads, but also affect Hypothesis in a similar way. Safari and Firefox for example segregate data storage in iframes depending on the top-level site.

Usually communication wit

[2022-07-01 11:16] krillin666 commented on #45
I experience exactly this on Firerfox

[2022-07-01 19:26] mattdricker opened #1369 "Annotation missing from sidebar but visible in activity page"
## Bug report form
Reported by user: https://app.hubspot.com/contacts/6291320/ticket/977370790

Note: because the document in question is behind a subscription I am unable to independently troubleshoot. However, this has all been confirmed over Zoom with the user.

### Description
Annotation `id` of missing annotation : `f5f2d9b0-f7d3-11ec-a117-8b88b68f5183`

When viewing the activity page for the

[2022-07-04 03:00] chrisshaw opened #1370 "Preserve LTI registration and deployment form inputs"
[Per:](https://hypothes-is.slack.com/archives/D02H9UDEL01/p1656540551555489)

Sometimes Matt gets busy while inputting data into the form and then comes back and the admin app has logged him out.

[2022-07-04 03:00] chrisshaw opened #1371 "Show deployments and parent registrations with their customer"
[Per:](https://hypothes-is.slack.com/archives/D02H9UDEL01/p1656540551555489)

When using the admin, they are often interested in the contextual information on the institution while they are working on these installations

[2022-07-04 03:00] chrisshaw opened #1372 "Make it faster to collect and input registrations"
[Per:](https://hypothes-is.slack.com/archives/D02H9UDEL01/p1656540551555489)

Matt noticed that the URLs are by and large the same. THe [Hubspot form](https://web.hypothes.is/register-lti/) they're using now only asks for LMS URL and the URLs can then be built by hand.

[2022-07-04 20:44] chrisshaw commented on #1371
@mattdricker the primary problem is with Blackboard, but once you get to an app instance, things are normal. What we really want is a "customer" record that lists all of this stuff for that customer. Let's wait until org work is done and revisit this then.

[2022-07-05 13:52] #1371 closed, assigned to nobody

[2022-07-07 10:38] robertknight commented on #1288
I've been doing an investigation/write-up into how Hypothesis uses canonical links and how the information flows from the page, through the client and ultimately into the h DB. See https://gist.github.com/robertknight/4afaabbb35d4126c2705251febb55847.

[2022-07-07 21:56] ht55ght55 commented on #45
Thank you for explaining this.

Looking forward to a fix or workaround!

Thanks for all the work so far.  Great utility!

[2022-07-08 17:20] robertknight commented on #1288
Some potential avenues for solving this:

**1. Create a hard-coded list of sites that are known to be affected, and ignore canonical URLs and metadata**

Pro: Simple, easy to implement and test
Cons: List will be incomplete. May get out of date.

**2. Re-fetch the page's HTML on the client side, and extract links from there.**

This was suggested by @kael above. It works on YouTube and Reddit. I h

[2022-07-10 16:47] mkdir-washington-edu commented on #1288
@robertknight You had asked internally for sites known to have the above issues, like YouTube and Reddit. Others (that I can recollect) include:
- Pinterest
- Twitter

I've also seen issues
- nytimes (probably not due to client-side navigation, but rather just wrong rel-canonical links
- npr.org (similar issue to nytimes)

Also we have a number of outline.com sites that have doc equivalence issues

[2022-07-13 20:48] #493 closed, assigned to nobody

[2022-07-13 20:48] #1135 closed

[2022-07-13 21:14] robertknight commented on #1135
Initial support for handling client-side navigation has landed. There a handful of notable websites (YouTube, Reddit) where this doesn't work because the site doesn't update its canonical URL after a navigation. This has been deferred to a separate issue: https://github.com/hypothesis/product-backlog/issues/1288.

[2022-07-21 16:02] jon-betts commented on #1369
Umm not at all sure what's happening here. I've made a few more observations which may or may not help:

 * The annotation is not flagged, or moderated
 * It's not deleted
 * It is "shared" not private

As the annotation shows up on at least one page, it's not an issue with syncing between Postgres and Elastic search.

There are some wacky things that happen with replies to deleted annotations, bu

[2022-07-21 16:22] jon-betts commented on #1368
The 401 to 403 change seems very likely. This would break this location:

 * https://github.com/hypothesis/lms/blob/main/lms/services/exceptions.py#L214

I'm not sure if there are other places. We might have to do some digging to make sure we don't enable this message when it's not appropriate.

[2022-07-25 17:39] mkdir-washington-edu opened #1373 "LMS app Google Drive integration only working in Chrome"
## Bug report form
### Steps to reproduce
1. In Firefox (102) or Safari (15) open Canvas and create an Assignment
2. Choose the Google Drive option
3. The connection seems to hang, see errors in Console:
Examples:

![image](https://user-images.githubusercontent.com/22603275/180839645-c89f1477-62b6-4896-83f5-b5e193c21452.png)

![image](https://user-images.githubusercontent.com/22603275/180839687-a7

[2022-07-25 19:10] darylhedley opened #1374 "Ohio keyboard shortcuts"
We have a contractual commitment to meet some demands for Ohio State University. The release date for these items is end of Q3 - which means we need to coordinate this release early enough to get time in for testing. These are related to 5 key items listed below:

- [x] Keyboard shortcuts for highlighting and annotating are not conveyed to the user via instruction. (https://github.com/hypothesis/c

[2022-07-25 19:21] darylhedley commented on #1374
There are questions around whether we should (or are going to via a side effect) tackle these two other outstanding items from a previous ticket:

2.1.1-keyboard-access. While I can access the hypothesis content using the keyboard, I had to tab through the entire webpage before accessing the hypothesis content. Cannot annotate using keyboard only. Cannot access annotations within content page usin

[2022-07-26 15:26] mattdricker commented on #1374
Important to note that this ^ is not an issue specific to Hypothesis, but to any web app requiring text selection. Solving this is dependent on completion of upstream work currently in process:

- We've partnered with Mick Curran at NVDA, who shepherded in a change to the  IAccessible2 framework providing for a new text selection container
- Next step is code changes to Chromium and Firefox to rec

[2022-07-29 20:06] mattdricker opened #1375 "Multiple annotations erroneously anchored to https://successful.company/"
As reported by user: https://app.hubspot.com/contacts/6291320/ticket/1024912249

This issue can be clearly seen by visiting https://successful.company/ and noting the annotations anchored at the page. Most are orphaned and [only one annotation](https://hyp.is/cG9fNEi0EeiOq-tun-WfRQ/successful.company/) is obviously connected to the specific document text.

The `document_id` for this URL is `48302`

[2022-08-01 19:23] mkdir-washington-edu opened #1376 "Using extension or bookmarklet while navigating on SPA makes text on page unselectable"
## Bug report form
### Steps to reproduce
1. Go to https://templates.agorize.com/en/challenges/etudiant/pages/themes?lang=fr
2. Activate Hypothesis (extension or Bookmarklet)
3. Select text -> note Adder appears and text is annotatable
4. Navigate to a new section of the site
5. Note that Hypothesis starts to load but Sidebar never appears
6. Select text -> text is selectable but Adder never appea

[2022-08-03 11:47] robertknight commented on #1354
The 500 errors in the previous comment have been fixed. The only remaining issue is to make a decision on whether to show fields other than the title in the picker. We may not want to do this because we are quite space constrained:

<img width="826" alt="Canvas JSTOR picker" src="https://user-images.githubusercontent.com/2458/182600219-4c60b351-cecc-4e0b-8cf8-4fbdafbcffc9.png">

The limited space

[2022-08-09 18:23] mkdir-washington-edu opened #1377 "Document equivalence causing issues on https://pubmed.ncbi.nlm.nih.gov/35319541/ and other sites"
Document ID = 2211609

User reported site: https://pubmed.ncbi.nlm.nih.gov/35319541/
User report:

Ticket: https://app.hubspot.com/contacts/6291320/ticket/1036837013

[2022-08-11 11:37] #1321 closed, assigned to nobody

[2022-08-11 17:10] kael commented on #1288
Two notes about canonical URLs, but not about deduplication:

- There are some content that get multi-published on dev.to and medium.com for instance, but the canonical URL points to another page with another domain and a different HTML page structure, and I'm not sure that the annotations would match on both pages (haven't checked), at least with the CSS selector - perhaps, anchoring still works

[2022-08-15 21:51] MercanAda commented on #1351
Could you please block this client  migration or audit. And does it possible to choose to assignments for authorization?

[2022-08-17 15:41] mkdir-washington-edu opened #1378 "Instructors with both the instructor and student roles (in Canvas) using the Groups integration end up viewing a single group instead of all groups"
## Bug report form
### Steps to reproduce
1. Log in to Canvas as an instructor, go to a course where you're an instructor
2. In the People tab click "+People" and add yourself again with Role=student
3. Confirm in the people tab that you now have two roles, instructor and student
4. Add yourself to a group in a Group Set (you'll see that you now appear in unassigned users whereas before you did no

[2022-08-22 14:03] psyguy commented on #198
Oh boy, this issue has been open for **five and a half years**! I would really love this feature—at least if it comes with a few conventional colors commonly used in other PDF readers—as lacking it has prevented me from using Hypothesis more often.

[2022-08-22 14:27] psyguy opened #1379 "Colored highlights based on tags"
## Feature Request Form

### Problem you are trying to address with this feature

In line with the much-requested (and long-longed-for) feature of highlights in different colors (an exhaustive list given in #198), I would like to suggest allowing (automatic) coloring of highlights based on tags with designated patterns (like `code:critiques`, `code:non-ergodicity in psychology`, etc.), or alternat

[2022-08-23 13:07] mkdir-washington-edu opened #1380 "Expose error details to Support more frequently"
## Feature Request Form
### Problem you are trying to address with this feature
Users will often screenshot an error message without exposing error details, or without using/seeing the links to create support tickets from the error message (which automatically includes error details). Instead we get screenshots like this:
<img width="748" alt="image" src="https://user-images.githubusercontent.com/

[2022-08-23 13:21] seanh commented on #1380
We actually used to have a support email link in this error dialog but were asked to remove it. I can't find the issue but here's the PR: https://github.com/hypothesis/lms/pull/3361. I'd think that putting the email link back won't _guarantee_ that people will actually use the link to email us.

I'd vote for always having the error details visible. It's easy to implement. It'll make it impossible

[2022-08-23 16:23] jon-betts commented on #1368
I think this is done now

[2022-08-23 16:23] #1368 closed, assigned to nobody

[2022-08-23 18:38] marcospri commented on #1378
@chrisshaw @darylhedley We need to decide what to do here when having both roles.

If we want to the behavior of the teacher (and that's sensible) this should be an easy fix.

[2022-08-23 18:59] chrisshaw commented on #1378
Yep, if a user has 2 roles in the same group, elevate to the most
permissible role.

(I'm a little confused how this happens, given we still aren't storing role
on grouping_memberships. but ignoring implementation details...)

I imagine, this will cause all students in non-Canvas LMSs to always see
the grading bar, but that seems more right and we should solve that
differently anyway.

On Tue, Aug

[2022-08-23 19:21] lyzadanger commented on #1374
@darylhedley So...are these requirements for this project?

[2022-08-24 07:15] robertknight commented on #1354
We're going to stick with just displaying the title for the time being, for the reasons mentioned in the previous comment. If we find situations where the current thumbnail + title combination is not enough to be useful, we might have to revisit this.

[2022-08-24 07:15] #1354 closed, assigned to robertknight

[2022-08-26 11:02] marcospri opened #1381 "Change Canvas error message for canvas_api_permission_error"
### Discussed in https://github.com/hypothesis/product-backlog/discussions/1324

<div type='discussions-op-text'>

<sup>Originally posted by **mattdricker** February 23, 2022</sup>
The current user-facing error shown when a student attempts to open a Canvas Files assignment and Hypothesis receives at `canvas_api_permission_error` is as follows:

[code]
<img width="582" alt="Screen Shot 2022-02-23

[2022-08-26 13:08] #1381 closed, assigned to marcospri

[2022-08-26 17:33] mkdir-washington-edu commented on #1380
+1 to Sentry
+1 to exposing error details all the time
+1 to adding the email support link back in, even if it doesn't guarantee anything.

Thanks!

[2022-08-26 20:51] mattdricker opened #1382 "LMS app and Via produce odd rendering on web page"
## Bug report form
As reported by user: https://app.hubspot.com/contacts/6291320/ticket/1078298951

This is an instructor using LMS, but I've confirmed the same behavior in Via.

### Steps to reproduce
1. Visit https://unewhavendh.org/seminar-in-academic-inquiry-and-writing/f2022syllabus/ Note the contents of the **Activities** menu
<img width="1183" alt="Screen Shot 2022-08-26 at 4 20 45 PM" src=

[2022-08-30 13:30] mkdir-washington-edu commented on #1373
Also this ticket: https://app.hubspot.com/contacts/6291320/ticket/1074526300

[2022-09-02 15:37] iamqiz commented on #198
the feature is very very very useful !
hope it to be implemented !

[2022-09-02 20:25] mattdricker commented on #1373
See also: https://app.hubspot.com/contacts/6291320/ticket/1089348760

[2022-09-05 00:24] malcook commented on #198
How about the design team amend [my proposal ](https://github.com/hypothesis/product-backlog/issues/198#issuecomment-622082745) to their liking and offer it back to the followers of this issue for comment?

[2022-09-05 03:03] yevanterrien commented on #1192
Has there been any update on notification for LMS users? It would really help if students could get notified when they get feedback so it does not go to waste.

[2022-09-06 18:59] mattdricker opened #1383 "Unable to annotate or highlight on HTML-format articles at firstmonday.org"
## Bug report form
Reported by user: https://app.hubspot.com/contacts/6291320/ticket/1093060515
### Steps to reproduce
1. Visit firstmonday.org and click on the HTML view of any journal article. E.g. https://firstmonday.org/ojs/index.php/fm/article/view/3316/2764
2. Activate Hypothesis
3. Select any text in the article to annotate.

### Expected behaviour
The annotate and highlight tool should pop

[2022-09-08 11:50] dennis-zyska commented on #86
We invested some time there as well and came to the conclusion that the browser function [document.getSelection().getRangeAt(0)](https://developer.mozilla.org/en-US/docs/Web/API/Selection/getRangeAt) returns as an endContainer the CanvasWrapper instead of a text node. The function resolveOffsets in [text-range.js](https://github.com/hypothesis/client/blob/main/src/annotator/anchoring/text-range.js

[2022-09-08 11:56] robertknight commented on #86
The problem is bigger than a minor bug as this comment suggests. The code that finds ("anchors") text within PDFs currently assumes that all the text for a single annotation occurs on a single page. This assumption also touches other aspects of how PDF annotations work, eg. handling of pages that are off-screen and not rendered. Somehow it would need to be reworked to allow parts of the quote to s

[2022-09-08 12:15] #1370 closed, assigned to nobody

[2022-09-08 12:15] #1372 closed, assigned to nobody

[2022-09-09 12:58] mkdir-washington-edu opened #1384 "Getting what looks to be timeouts in Canvas course in SpeedGrader"
## Bug report form
Can't reproduce without making 1000s of annotations in our instance.

This is a Canvas course with over a thousand students in it in 42 Sections (and also 42 Canvas Groups, leading us to have 84 Hypothesis groups for them).

[This folder contains](https://drive.google.com/drive/folders/1s8OuaOO_fg4CiDLpjjQSsjEWz4w_FNKh?usp=sharing):
- CSV of Annotation data from the course
- CSV

[2022-09-09 20:11] mkdir-washington-edu opened #1385 "The first time users open Hypothesis prompt users to contribute "public good" annotations to Public, create a private group for other annotations"
From a conversation with Dan:

## Feature Request Form
### Problem you are trying to address with this feature
The Public group is full of annotations that, even if they don't violate the community guidelines, don't contribute in a meaningful way to public discourse.

### Your solution
Before you annotate the first time in the Public channel you should see an interstitial that advises:
- This is n

[2022-09-11 20:27] WHiZSTA commented on #198
please take a look at how [glasp.co](https://chrome.google.com/webstore/detail/glasp-social-web-highligh/blillmbchncajnhkjfdnincfndboieik) does this for an example. they have 4 preset colors. when u choose to highlight you pick the color right there in the popup. it's fast and intuative. i actually use it daily, but wanted to swap over to hypothes.is as you offer some other more advanced features

[2022-09-12 14:59] mkdir-washington-edu opened #1386 "Canvas 403 error (seems to be for lack of access to Canvas Files) doesn't send error details when user clicks "open a support ticket" email link"
## Bug report form
The current 403 error for Canvas Files, as it faces the user, is:
<img width="635" alt="image" src="https://user-images.githubusercontent.com/22603275/189687183-304bb931-ab94-4760-90a8-44fc880c4d82.png">

But when the user clicks "open a support ticket" the error message in the ticket is just:

Since not all users include error messages or screenshots a more verbose error messag

[2022-09-16 13:47] robertknight commented on #1148
A couple of Slack threads with some recent updates on this:

1. Work has been done on NVDA towards making it possible to set the DOM selection to match what is currently selected in the virtual buffer. Once the DOM selection has been updated, a user can then use the various shortcuts ("a", "h", "s") to create or view annotations for that selection. See https://hypothes-is.slack.com/archives/C8TPC8

[2022-09-19 15:03] mattdricker commented on #1375
Update to support ticket: https://app.hubspot.com/contacts/6291320/ticket/1024912249

User is removing embedded Hypothesis from his site due to this issue.

[2022-09-19 21:40] mkdir-washington-edu opened #1387 "Help move annotations from the old Pressbooks site to the new one"
Slack thread here: https://hypothes-is.slack.com/archives/C2BLQDKHA/p1661196628793239

Pressbooks is migrating all their URLs and want existing annotations to appear on the new URLs for books. This will be for about 100 books or so, but they're aware of [known document equivalence methods](https://web.hypothes.is/help/how-to-establish-or-avoid-document-equivalence-in-the-hypothesis-system/) and do

[2022-09-19 22:43] SteelWagstaff commented on #1387
Thanks for filing @mkdir-washington-edu. Yes, this is essentially accurate, though I'm not certain what the precise number of books will be. I expect it may be less than 100 in the end, since many of the affected books do not have annotations. Our announced timeline for the move has us migrating books on or after September 29, so pretty soon here. We would be happy to run the CLI command ourselves

[2022-09-21 07:08] SimonXIX commented on #111
+1 for this though Jon's tool above looks like it will do the job for our use case.

[2022-09-21 13:04] robertknight commented on #1025
This issue is no longer relevant since deployments have been moved over to GitHub Actions.

[2022-09-21 13:04] #1025 closed, assigned to dmfine

[2022-09-21 19:54] chrisdaaz commented on #1270
URL: https://www.smithsonianmag.com/science-nature/what-math-180975882/

Support ticket: https://app.hubspot.com/contacts/6291320/ticket/1116443825

Via behavior: User receives via error message:

![image](https://user-images.githubusercontent.com/24395592/191598149-5f672a9f-0d34-42b8-990c-4bdd28aa5163.png)

[2022-09-22 20:05] mattdricker opened #1388 "New grade item is not created in D2L when LTI 1.3 LMS assignment is launched"
In the LTI 1.1 version of Hypothesis, when an instructor creates and launches a new Hypothesis assignment in D2L a grade item for that assignment is created automatically. This allows Hypothesis to integrate with the D2L gradebook and enables the Hypothesis grading bar.

With our LTI 1.3 version, however, this grade item must be created and added manually by the instructor to each new assignment b

[2022-09-22 20:09] mattdricker commented on #1388
This Slack thread is a relevant example of a school where instructors may not have the option to turn off New Content Experience: https://hypothes-is.slack.com/archives/C2BLQDKHA/p1663873215461109

[2022-09-26 06:47] hftf commented on #94
How goes the testing/tuning/tweaking? 😶‍🌫️

[2022-09-26 14:38] mattdricker commented on #1389
Original user is asking again if this can be looked at: https://app.hubspot.com/contacts/6291320/ticket/1125544356

[2022-09-27 20:03] mattdricker commented on #1277
Investigating this again a year later I find that PDF.js no longer garbles the text layer. Likely fixed with an updated version.

Closing issue.

[2022-09-27 20:03] #1277 closed, assigned to nobody

[2022-09-30 14:07] mattdricker opened #1390 "Automatically fix course-copied Blackboard Groups assignments whenever possible"
When we create a launch URL for a Blackboard Groups assignment we include data about the Group Set the teacher chose (e.g. “group_set=135”). Like Files, Blackboard seems to assignment a number to each Group Set across the whole Canvas instance, and a copied assignment has a launch URL that references a group set in the old course.

We should look for a way to make sure that copied Groups assignmen

[2022-09-30 14:16] mattdricker opened #1391 "Improve user experience around course copied LMS app assignments"
This is an intentionally generalized issue because it highlights an uncomfortable concern that instructors using Hypothesis in LMSes where we have groups and files integrations _have a significantly worse experience when their courses are copied to a new term_ than instructors using Hypothesis for the first time.

### Background
Hypothesis provides API integration with Blackboard and Canvas LMSes

[2022-10-03 20:43] mkdir-washington-edu opened #1392 "Text written on new line immediately after ordered list ends up appended to last list element"
## Bug report form

Bug:

In Github, ordered lists are made and display like this:

![image](https://user-images.githubusercontent.com/22603275/193678426-8a2d0a25-616b-4679-94e4-c55e6ac08db2.png)

![image](https://user-images.githubusercontent.com/22603275/193678451-b657c854-d8e3-4e85-9d12-11597c21e826.png)

In Hypothesis, the text after the end of the list appends to the end of the list:

![image

[2022-10-05 08:43] ar-jan commented on #86
Do you have some idea of what approach to take for solving this, and how much work this might take?

[2022-10-05 10:32] robertknight commented on #86
No, it hasn't been explored in detail yet. There are some challenges which make it non-trivial. Some notes on these:

- Annotations created on PDFs currently record which part of the document they reference via a text quote and the surrounding text. There are no PDF page numbers or PDF page coordinates in the annotation data. This is a source of challenges in supporting annotations that span multi

[2022-10-05 11:01] robertknight commented on #1259
I'm closing this as it isn't clear exactly what the scope / goal of this issue was.

[2022-10-05 11:01] #1259 closed, assigned to nobody

[2022-10-05 11:04] robertknight commented on #1266
There is some missing context here on how the proposal relates to the current status. When a user configures a VitalSource assignment, we currently display a flat list of table-of-contents entries for them to choose from. This worked OK in our initial tests, but I guess there are books where not having the full hierarchical structure is a problem. See https://github.com/hypothesis/lms/pull/3098 fo

[2022-10-06 16:36] mattdricker commented on #1284
We've seen this confusion come up again several times this Fall. Hoping to raise this issue again.

[2022-10-06 18:55] mkdir-washington-edu opened #1393 "Additions to the Sparky sync from Org ID to HubSpot company"
## Feature Request Form
### Problem you are trying to address with this feature
There are fields that used to sync with GUID that one or more teams (Sales, Success, and/or Support) use in HubSpot companies. These fields weren't part of the original specification for the Org ID / Sparky task, but have since come up with the above teams ([example in this Slack thread](https://hypothes-is.slack.com/a

[2022-10-10 14:22] mattdricker opened #1394 "LTI 1.3 LMS admin user unable to create new assignment"
## Bug report form
This was discovered during new customer LTI 1.3 installation https://app.hubspot.com/contacts/6291320/ticket/1141169715
### Steps to reproduce
1. Log on to an LMS with a global LMS admin account
2. Create a new course, or visit and existing course where the admin account is NOT enrolled as a teacher
3. Create a new LTI 1.3 Hypothesis assignment, and launch. You will be presented

[2022-10-10 14:58] marcospri commented on #1394
In canvas:

1.1 roles:

[code]

1.3 roles

[code]

This is likely a result of fixing https://github.com/hypothesis/lms/issues/4411 in 1.3 (so institutional roles don't interfere with course level ones) but admin should be special cased as is always a institutional one.

[2022-10-11 14:45] mkdir-washington-edu opened #1395 "Indicate when an application instance is using the VitalSource institution key vs the fallback key"
## Feature Request Form
### Problem you are trying to address with this feature
When VitalSource is enabled at a school there are three scenarios for using API keys:
1. There is an institutional key available, we've set it up **correctly**, and thus we use it when a user requests a VS text
2. There is an institutional key available, we've set it up **incorrectly**, and thus we use the **fallback k

[2022-10-11 18:03] mattdricker opened #1396 "PDF text selection on iPad difficult and visually confusing"
## Bug report form
Reported by user: https://app.hubspot.com/contacts/6291320/ticket/1126006850
### Steps to reproduce
1. Using an iPad, open a PDF Hypothesis reading assignment. Example here: https://hypothesis.instructure.com/courses/258/assignments/3609
2. Touch screen to start selecting text
3. Drag the text selector over the text and note how the iPad indicates the selected text in the UI (fi

[2022-10-12 17:25] chrisdaaz commented on #1394
email the creator of this ticket once fixed: https://app.hubspot.com/contacts/6291320/ticket/1155111311

[2022-10-13 19:02] mattdricker commented on #1260
This issue referenced by user: https://app.hubspot.com/contacts/6291320/ticket/1157100967

[2022-10-13 19:07] mkdir-washington-edu opened #1397 "Some Open Access JSTOR texts are not loading in the LMS app"
## Bug report form
Links that don't work in the LMS app:
- Open Access book chapter: https://www.jstor.org/stable/j.ctt24h9fn.14
- Open Access Serial: https://www.jstor.org/stable/community.28034010

Slack convo: https://hypothes-is.slack.com/archives/C02T75RKBTK/p1665682025299599

It's not clear if we think Serials and book chapters **should** work in the Hypothesis/JSTOR integration. For compari

[2022-10-13 22:23] almereyda commented on #324
A common pattern for this case is to fall back to the primary language (English) for the strings only which have not yet been translated.

At some point support for CJK languages might also become useful. These also involve changes to search for supporting a suitable tokenizer.

[2022-10-14 14:43] mkdir-washington-edu commented on #1397
Ticket once this is resolved: https://app.hubspot.com/contacts/6291320/ticket/1148202006

[2022-10-14 20:15] mattdricker opened #1398 "Moving an application instance to a new org in LMS admin wipes configured settings"
## Bug report form
### Steps to reproduce
1. Open an application instance in LMS admin. This is one of ours, so it's relatively safe to test with: https://lms.hypothes.is/admin/instance/id/4817/
2. Note any configured settings, such as Canvas groups, JSTOR site code, etc.
3. Paste in a new Org ID, and click the button to move
4. Note that any settings previously configured are now reset

In the `a

[2022-10-17 06:09] user30535 commented on #952
Frequently, users only care about annotations in their private group. It would be nice if users can set the extension badge to only count annotations in their private group.

[2022-10-18 14:21] #1398 closed

[2022-10-18 15:20] robertknight commented on #1397
For the two cases in the description that don't work JSTOR `/metadata/{doi}` ([docs](https://labs.jstor.org/api/anno/docs#/default/metadata_metadata__doi__get)) is returning a response that contains:

[code]

The LMS instance I am using for testing is associated with the JSTOR site code "hypothes.is".

I started a Slack thread with the JSTOR devs to discuss: https://hypothes-is.slack.com/archives/

[2022-10-18 17:51] robertknight commented on #1397
This has been resolved on JSTOR's side. See https://hypothes-is.slack.com/archives/C02T75RKBTK/p1666113938922479?thread_ts=1666105218.319929&cid=C02T75RKBTK.

[2022-10-18 17:51] #1397 closed, assigned to nobody

[2022-10-21 15:27] mkdir-washington-edu opened #1399 "change nomenclature for "Canvas Settings" in LMS admin application instance form"
## Feature Request Form

<img width="1353" alt="Screen Shot 2022-10-21 at 11 18 39 AM" src="https://user-images.githubusercontent.com/22603275/197231045-42cbca35-ca0c-4595-84b9-6f26980600aa.png">

There's a nomenclature issue on the Application instance pages that is fine for experienced admins but confusing for new team members.

On the application instance form now -> what it should say
"Develop

[2022-10-25 10:16] robertknight commented on #1366
Activity pages displays [200 annotations per page](https://github.com/hypothesis/h/blob/15e73655d47e8688f3311973eaa4245fa970f65a/h/views/activity.py#L22). The page number and count of annotations per page are translated to "offset" and "limit" options in h's search system. The value of "offset" [is capped at 9800](https://github.com/hypothesis/h/blob/15e73655d47e8688f3311973eaa4245fa970f65a/h/sear

[2022-10-25 10:44] robertknight commented on #1355
If a `<link rel="canonical">` tag is invalid, we should ideally ignore it. The value can be a relative URL however, so determining whether it is valid may be tricky. If for example https://example.com/foo contained the HTML `<link rel="canonical" href="[unknown]">`, this would mean a relative link of `https://example.com/[unknown]`. One way we might be able to identify likely-invalid URIs is if yo

[2022-10-25 11:04] robertknight commented on #1373
I was able to reproduce in Safari 16.1. In addition to the file picker not appearing, there is a warning about use of deprecated authentication libraries:

<img width="963" alt="Safari Google Drive integration not working" src="https://user-images.githubusercontent.com/2458/197756613-43a5ea93-da74-4de2-8d0d-b4e9fa5eea72.png">

The linked page is https://developers.google.com/identity/gsi/web/guide

[2022-10-25 11:23] robertknight commented on #1373
In Firefox, I see warnings about cookie storage access when the assignment configuration form is initially loaded:

<img width="1277" alt="Firefox cookie storage warning" src="https://user-images.githubusercontent.com/2458/197757956-9d662a47-1900-4d80-9d4f-da315ac54eca.png">

Clicking the "Select PDF from Google Drive" button shows a further batch of warnings:

<img width="1397" alt="Google Drive

[2022-10-25 11:26] robertknight commented on #1373
Since the issue in Firefox and Safari has something to do with their tracking protection, there are a few options we can try:

1. See if there are any newer / alternative APIs for interacting with the file picker, which don't run into the cookie issues
2. See if loading the assignment picker in a new window or tab resolves the issue. This might help because then Hypothesis would no longer be a in

[2022-10-25 11:29] darylhedley commented on #1366
Here's more detail on the issue from the current user who reported it:

_I have observed a bug that exists consistently in the search function, through various interfaces over several months. If you go back a certain number of pages in the search results, it will start repeating the previous page for all of the following pages. For example, if page 50 had results H, J and T, pages 51, 52, 53 will

[2022-10-25 11:33] robertknight commented on #1366
This is a useful insight. Something we could implement efficiently in a search interface is support date queries like "created:>2022-10-24" (taken from GitHub's corresponding search syntax), which we can then map to `search_after` in Elasticsearch. This would have no restrictions on how far back you go. The thing that gets slow in Elasticsearch (or any database really) is going be a fixed number o

[2022-10-25 11:48] darylhedley commented on #1366
So I'm going to suggest that we keep track of this and improve the search functionality when we work on the Notebook Project. @mattdricker are you able to get back to the customer and let them know that we have some planned work around improving this activity page and will let them know once we start the work.

[2022-10-25 14:11] marcospri commented on #1388
This is now pending integration with the D2L API.

We'll first integrate with D2L to enable groupings and from that, we can fix this issue (assuming we can create the equivalent grade item using the API).

[2022-10-25 15:12] mkdir-washington-edu commented on #1355
@robertknight It was actually reported October 20th, **2020**. But I appreciate the point about capturing the plain text; I'll make sure to do so in the future. The page now has a properly formatted canonical link, so we won't be able to reproduce on this page, although you you can see the effects on document.id = 603779.

I don't have another site at this time with the same behavior where we can

[2022-10-25 17:49] mattdricker opened #1400 "LMS URL assignments using bookdown-created site remain in Via context when following links"
## Bug report form
Reported in Slack https://hypothes-is.slack.com/archives/C2BLQDKHA/p1666653046795529
### Steps to reproduce
1. Create LMS URL assignment pointing to a page created using [bookdown](https://bookdown.org/) e.g. https://danawanzer.github.io/stats-with-jamovi/
Example assignments:
   - https://hypothesis.instructure.com/courses/258/assignments/3661
   - https://hypothesis.instructur

[2022-10-27 20:56] chrisdaaz opened #1401 "Clicking to view an LTI registration in LMS Admin opens unrelated Application Instance"
## Bug report form
### Steps to reproduce
1. Search for Registrations by Issuer (e.g. `https://blackboard.com`): https://lms.hypothes.is/admin/registrations/
2. Click on the "View" button next to a result

![image](https://user-images.githubusercontent.com/24395592/198395306-d914e723-ad38-406c-a193-31a972115903.png)

### Expected behaviour

The View button should link to the appropriate Registrati

[2022-11-02 15:58] mattdricker commented on #1357
I'm not sure where this ticket ended up after the investigations above, but we have had another report from another user with the same issue: https://app.hubspot.com/contacts/6291320/ticket/1191733059

Bumping this to our new bug workflow for triage.

[2022-11-03 18:53] mkdir-washington-edu commented on #1260
Seems to be the same issue, or a similar issue, to https://github.com/hypothesis/product-backlog/issues/86.

[2022-11-03 19:07] mattdricker opened #1403 "Test new D2L LTI 1.1 to LTI 1.3 migration path"
D2L has begun automatically migrating existing LTI 1.1 tool link to LTI 1.3 if there is a matching LTI 1.3 tool installed. See this doc for additional info: https://community.brightspace.com/s/article/Brightspace-Legacy-LTI-to-LTI-Advantage-Migration-Plan

Our [current guidance on upgrading Hypothesis](https://web.hypothes.is/help/installing-hypothesis-in-d2l-lti-1-3-worldwide/) to LTI 1.3 in D2l

[2022-11-03 19:11] mattdricker opened #1404 "Add note field to LMS application instances"
## Feature Request Form
### Problem you are trying to address with this feature
Often we want to track down which application instance of many in a given LMS is being actively used and by whom. Currently this involves a combination of queries and guesswork to attach specific app usage over a specific date range to a given AI.

Additionally, some schools will make multiple deployments for different

[2022-11-03 19:12] mattdricker commented on #1403
Issue raised by user: https://app.hubspot.com/contacts/6291320/ticket/1193568333

[2022-11-04 20:29] mkdir-washington-edu opened #1405 "Selecting the last character of a PDF in the LMS app doesn't allow annotation"
## Bug report form
### Steps to reproduce
Replicated in two assignments:
- https://hypothesis.instructure.com/courses/258/assignments/3732
- https://hypothesis.instructure.com/courses/258/assignments/3733

1. Open assignment
2. Select text in the middle of a page and confirm the Adder appears
3. Select text to include the last character on a page and confirm the Adder does **not** appear.

### Exp

[2022-11-04 20:31] mkdir-washington-edu commented on #1405
Ticket: https://app.hubspot.com/contacts/6291320/ticket/1193868856

[2022-11-11 15:18] mkdir-washington-edu commented on #1394
new ticket: https://app.hubspot.com/contacts/6291320/ticket/1258803272

[2022-11-11 21:52] mkdir-washington-edu opened #1406 "lms-viahtml.hypothes.is and NPR website giving error"
## Bug report form
### Steps to reproduce
1. In **Chrome**, log in as teacher or student here https://hypothesis.instructure.com/courses/326/assignments/3747 (jeremydean+teacher@hypothes.is, jeremydean+student2@hypothes.is)
2. See error
3. In another browser (we've seen Success in Safari, Firefox, Edge) do Step 1 again
4. See successful launch.

### Expected behaviour
The non-Chrome behavior is ex

[2022-11-11 21:59] mkdir-washington-edu commented on #1406
Tickets:
https://app.hubspot.com/contacts/6291320/ticket/1259787671
https://app.hubspot.com/contacts/6291320/ticket/1258916441
https://app.hubspot.com/contacts/6291320/ticket/1259841325

[2022-11-14 13:41] cryptoved commented on #198
Please add this function, so many people request it. It will be very useful.

[2022-11-16 09:22] marcospri commented on #1404
Yeah this makes sense, we could also add it to orgs in one go.

[2022-11-17 12:25] marcospri commented on #1394
Should be fixed now that https://github.com/hypothesis/lms/pull/4658 is deployed

[2022-11-17 14:42] mattdricker commented on #1394
Original user emailed: https://app.hubspot.com/contacts/6291320/ticket/1141169715

[2022-11-17 14:54] chrisdaaz commented on #1394
Another user interested in this bug has been emailed: https://app.hubspot.com/contacts/6291320/ticket/1155111311

[2022-11-22 17:11] chrisdaaz commented on #1394
Thank you!

[2022-11-22 17:11] #1394 closed

[2022-11-22 17:19] chrisdaaz commented on #1401
thanks!

[2022-11-22 17:19] #1401 closed

[2022-11-22 17:22] chrisdaaz commented on #1399
looks good, thanks!

[2022-11-22 20:44] mattdricker commented on #1366
[Original reporter checked in about progress on this](https://app.hubspot.com/contacts/6291320/ticket/925726335). I've let them know that work is being planned and I will keep them apprised of progress.

[2022-11-30 17:36] lyzadanger commented on #1260
I'm going to close this as a dupe of https://github.com/hypothesis/product-backlog/issues/86

[2022-11-30 17:36] #1260 closed, assigned to nobody

[2022-11-30 17:45] lyzadanger commented on #1171
The styled text from markdown/markup for annotation bodies has been re-implemented since this issue was opened. Superscript no longer gets cut off on top or other lines. yay!

[2022-11-30 17:45] #1171 closed, assigned to nobody

[2022-11-30 17:48] lyzadanger commented on #1163
While I don't want to assert that we've solved or nailed this UI, the problems reported in this issue have been mitigated, in two ways:

* The amount of horizontal room required per nesting level has been greatly diminished. Even at six levels deep, you don't have to "resize the sidebar" on the desktop to have enough room:

<img width="455" alt="image" src="https://user-images.githubusercontent.co

[2022-11-30 17:48] #1163 closed, assigned to nobody

[2022-11-30 17:51] lyzadanger commented on #1088
Hi @dwhly I believe this has since been rectified in some manner or other. I'm not able to reproduce in my current set of browsers. Link is copying for me without any formatting. Please reopen if there are any further issues!

[2022-11-30 17:51] #1088 closed, assigned to nobody

[2022-11-30 17:53] #636 closed, assigned to nobody

[2022-11-30 18:21] mattdricker opened #1408 "Error when using Canvas Speedgrader with JSTOR docs"
## Bug report form
### Steps to reproduce
1. In Canvas, create a JSTOR assignment
   - Example assignment: https://hypothesis.instructure.com/courses/258/assignments/3847
3. Logged in (or masquerading) as a student, add at least one annotation
4. Back as the instructor, open the assignment in Speedgrader and attempt to filter on the student
    - Example: https://hypothesis.instructure.com/courses

[2022-11-30 19:29] jon-betts commented on #1408
From what I can tell, this should be a "deep_linking" configured URL and pass through as `jstor://` here:

 * https://github.com/hypothesis/lms/blob/main/lms/services/document_url.py#L38

Which should result in a configured Launch here:

 * https://github.com/hypothesis/lms/blob/main/lms/views/lti/basic_launch.py#L61

Which ends up translating the URL here:

 * https://github.com/hypothesis/lms/bl