[2017-07-17 08:47] seanh opened #340 "Canvas app isn't production code quality"
## See also

* [Canvas][canvas] is an LMS (Learning Management System) used by schools to deliver courses. (Similar to Blackboard, Moodle, Sakai...)
* [Canvas source code on GitHub][canvas_source]
* The Hypothesis Canvas app:
  * [Production deployment][canvas_app]
  * [Source code][canvas_app_github]
  * Canvas app Google Docs from @judell:
    * [Canvas Architecture Notes][canvas_architecture_no

[2017-07-17 09:05] seanh opened #341 "Canvas users have to manually create and join Hypothesis groups"
## See also

* [Canvas][canvas] is an LMS (Learning Management System) used by schools to deliver courses. (Similar to Blackboard, Moodle, Sakai...)
* [Canvas source code on GitHub][canvas_source]
* The Hypothesis Canvas app:
  * [Production deployment][canvas_app]
  * [Source code][canvas_app_github]
  * Canvas app Google Docs from @judell:
    * [Canvas Architecture Notes][canvas_architecture_no

[2017-07-17 09:06] seanh opened #342 "Canvas users have to manually create and activate Hypothesis accounts"
## See also

* [Canvas][canvas] is an LMS (Learning Management System) used by schools to deliver courses. (Similar to Blackboard, Moodle, Sakai...)
* [Canvas source code on GitHub][canvas_source]
* The Hypothesis Canvas app:
  * [Production deployment][canvas_app]
  * [Source code][canvas_app_github]
  * Canvas app Google Docs from @judell:
    * [Canvas Architecture Notes][canvas_architecture_no

[2017-07-17 09:07] seanh commented on #308
Closing this spike as finished. I created four issues as a result of this spike:

1. https://github.com/hypothesis/product-backlog/issues/340
2. https://github.com/hypothesis/product-backlog/issues/339
3. https://github.com/hypothesis/product-backlog/issues/342
4. https://github.com/hypothesis/product-backlog/issues/341

[2017-07-17 09:07] #308 closed, assigned to seanh, sheetaluk

[2017-07-17 13:56] judell commented on #340
Sounds good, Sean, thank you. Note that while I did put up a local install of Canvas in the early going, and used it a few times to insert debugging statements into Canvas while working out the OAuth and assignment submission flows, it wasn't really necessary and I haven't needed to use it in a long time, I do all testing against an instance that Instructure provided for us at hypothesis.instructu

[2017-07-17 14:00] judell commented on #339
Thanks Sean, I look forward to having this happen. Regarding migration to the new URL, perhaps we can just let the old one age out naturally as courses end.

[2017-07-17 14:28] judell commented on #339
Re: splitting up lti.py, note that it also contains all the JS and CSS and templates, it was always my assumption you'd arrange those assets according to your own conventions.

[2017-07-18 13:01] chdorner commented on #311
Todo:

* [x] Support authorization code exchange in token endpoint
* [x] Support `web_message` authorization code delivery mechanism
* [x] Fix 500 error when using `/oauth/authorize?client_id=...&response_type=token` (just fail with error message, fix: hypothesis/h#4612.
* [x] Fix 500 error when `authclient.response_type` is `None` and `OAuthValidator.validate_response_type` explodes (hypothesis/h

[2017-07-18 17:24] seanh commented on #339
Yeah, that sounds good @judell

[2017-07-18 17:45] jeremydean commented on #341
I really like the suggested solution. Thanks for you thoughtful exploration here, @seanh.

[2017-07-19 02:15] judell commented on #341
+1. A members-read-write group in an authority is what I was hoping for. We do know, on the LTI launch, the user's real name, with Canvas institution and user id as disambiguators.

[2017-07-27 18:03] judell opened #343 "https://github.com/hypothesis/h/pull/3970 did not completely fix the long-line-doesn't-wrap problem it addressed"
Example:

![image](https://user-images.githubusercontent.com/46509/28682985-c4d4ec74-72b3-11e7-8cb4-c1c525b332e2.png)

See https://hypothes.is/users/chunnan?q=uri%3Ahttps%3A%2F%2Fcommonfund.nih.gov%2Fsites%2Fdefault%2Ffiles%2FRM-17-026_CommonsPilotPhase.pdf.

The problem is that the class attribute annotation-card__text, which has the overflow styling, is only applied to the first p element in the

[2017-08-01 09:33] seanh commented on #327
Update: the view switcher solution to this issue that was in progress [has been rolled back](https://github.com/hypothesis/client/pull/513). I'll leave this issue open to track the problems with the existing tabs, but unassigning Dawa and myself from it and removing it from the sprint. Also deleting the todo-list comment above as it refers to the rolled back solution.

[2017-08-01 09:38] robertknight opened #344 "Feature cohort deletion"
## Feature Request Form
### Problem you are trying to address with this feature

The admin interface for managing feature cohorts at `/admin/features/cohorts` provides forms to create and edit cohorts but no views to delete cohorts.

### Your solution

Add a "Delete Cohort" button at the bottom of the edit form (at `https://hypothes.is/admin/features/cohorts/{id}`)

[2017-08-01 09:39] robertknight commented on #344
https://github.com/hypothesis/h/pull/4615 adds a bunch of useful infrastructure for implementing CRUD forms in the admin view, so I'm going to leave this until at least after that is done.

[2017-08-01 17:35] dhwthompson opened #345 "Smarter CI notification filtering"
# The problem

We run our continuous integration (CI) builds through Travis. Travis runs builds whenever a pull request is opened or changed, and whenever the `master` branch is updated. We have Travis configured (at least for some of our repos) to send notifications to Slack when a build completes, letting us know whether it succeeded or failed. Unfortunately, it only appears to be able to send n

[2017-08-02 10:33] robertknight opened #346 "Hide highlight visibility toggle when display mode set to "when sidebar is open""
The client has an option to only show highlights [when the sidebar is open](https://h.readthedocs.io/projects/client/en/latest/publishers/config/#cmdoption-arg-showhighlights). In this mode, the behavior of the show/hide highlights toolbar button does not really make sense.

The solution @dawariley and I discussed yesterday and which I've run by eLife is to hide this toolbar button when the highli

[2017-08-02 13:05] robertknight commented on #316
Done in https://github.com/hypothesis/h/pull/4620

[2017-08-02 15:38] robertknight commented on #317
This is now mostly done. It was needed in order to make adding and managing the official OAuth clients easier.

[2017-08-02 15:39] #313 closed, assigned to nobody

[2017-08-02 15:39] #311 closed, assigned to chdorner

[2017-08-02 15:39] #310 closed, assigned to robertknight

[2017-08-02 15:39] #314 closed, assigned to nobody

[2017-08-02 15:40] #316 closed, assigned to nobody

[2017-08-02 15:40] #317 closed, assigned to nobody

[2017-08-02 17:12] chdorner commented on #339
Like with every new service: we need monitoring :)

* Grafana dashboard (based on statsd/graphite data from at least gunicorn and collectd)
* Sentry integration
* Maybe new relic?

[2017-08-03 06:11] robertknight opened #347 "Gracefully handle expired refresh tokens in the client"
When the client is using OAuth for first party accounts, if it attempts to refresh an access token using a refresh token which has expired then it shows a red "Hypothesis login lost" message in the top-right corner of the screen. This obscures the "Sign up / Log In" buttons and prevents the user from logging in.

Instead the user should simply be logged out if this happens, so that they can log in

[2017-08-03 10:13] chdorner commented on #329
The backend part of this is done and deployed to production. I'll assign this to @robertknight so he can track the changes in the client.

[2017-08-03 10:31] seanh commented on #339
@chdorner Can you comment on this [caching of HTML pages to the filesystem](https://github.com/hypothesis/lti/issues/24), with regards to getting the app onto production infrastructure?

[2017-08-03 10:33] seanh commented on #339
I've added Grafana, Sentry and New Relic to the task list above

[2017-08-03 11:58] ajpeddakotla commented on #285
In conversations with Nathan, we've decided to have this link to the eLife user profile page.

[2017-08-03 11:59] #284 closed, assigned to seanh

[2017-08-03 12:00] #278 closed

[2017-08-03 12:00] #214 closed

[2017-08-03 16:02] dawachan opened #348 "Update design of Log In and Authorize screens for OAuth authorization pop-up"
Log In screen (updated with mocks from [Slack discussion](https://hypothes-is.slack.com/archives/C07NXBDNW/p1505297663000021))

<img src="https://user-images.githubusercontent.com/2458/30539629-43c39e78-9c6b-11e7-93f9-23a5cbf53ca2.png" width="532">

Authorize screen (ignore the "Don't have a Hypothesis account?" part at the bottom, this should not be included as only users with an account will eve

[2017-08-04 10:51] dawachan commented on #189
plus 1 to "If the user has the sidebar open and makes a new selection, don’t close the sidebar."

[2017-08-04 13:44] ajpeddakotla opened #349 "Import Disqus comments as page notes and replies"
### Original comment

Problem: eLife would like to migrate the Disqus comments they have to a single user annotation in Hypothesis. One of the main issues with this is that we don't allow the setting of timestamps on annotations. ~~This ticket simply addresses the need to add timestamps to be set through the API.~~

### Updated by seanh 20th Nov 2017

I just read through this entire discussion bel

[2017-08-04 13:54] ajpeddakotla opened #350 "<Final> eLife UI changes"
In talks with eLife there are some final UI changes that need to be made for launch. The changes are listed below and will be tracked in this one ticket. @dawariley will attach the final designs to this ticket. These changes will be made for eLife only

- [x] substituting the chevron for a close button (in the sidebar open/close toggle)
- [x] allowing re-positioning of the sidebar open/close toggl

[2017-08-04 14:34] ajpeddakotla commented on #349
- We need to determine if we'll allow this for eLife, or for everyone.
- Reminder that imported annotations will affect metrics measurements for annotations created.

[2017-08-07 12:57] dawachan commented on #350
In response to your question @ajpeddakotla: "These changes will be made for eLife only (customized) with the exception of removing the drop shadow ( @dawariley is this still correct)"? The changes are part of moving our client towards being more universally customizable for publishers and our partners/clients. For now I think the best thing would be to push them out for eLife and then use this con

[2017-08-07 13:01] dawachan commented on #350
I've finally managed to see the current state of the eLife config (thanks to rob) - attaching a screenshot for reference. What this means is that we will need to make the following minor 3-4 additional configs in addition to those listed above, order for the design not to visually break and the UX to be poor.  These designs are proposed so that the sidebar remains unobstrusive for the brands and r

[2017-08-07 13:30] dawachan commented on #350
Revised UI which includes the 4 additional changes:

1. Annotations Tab selected
@ajpeddakotla @robertknight

![elife annotations](https://user-images.githubusercontent.com/5212631/29182774-023389e6-7df8-11e7-9976-b82c37d9de69.png)

[2017-08-07 13:48] robertknight commented on #336
Perhaps the simplest solution would be to open the "Sign up" form in a new window. Then the flow would be something like this:

1. User clicks "Sign up" in authorize form
2. User populates form that appears in new window and clicks "Sign up"
3. User sees checks email and clicks activation link
4. User returns to "Log in" popup and signs in

In future we could use federated login to eliminate most

[2017-08-07 13:53] robertknight commented on #320
There are basically only two solutions to this:

- We implement seamless login via cookies, in which case this is handled automatically.
- We do not implement seamless login, in which case users will be logged out in the first release after we enable OAuth and they will have to click "Log in" again

[2017-08-07 13:53] robertknight commented on #332
This is implemented.

[2017-08-07 13:53] #332 closed, assigned to robertknight

[2017-08-07 14:53] robertknight commented on #336
It turns out that triggering opening of the "Sign up" form in a new window using `target="_blank"` doesn't reliably work in at least Safari because the directive is ignored if the popup window is above a certain size.

In Chrome and Firefox, the Sign Up window is opened as a new tab in the parent window, which is good. In Firefox however things can get confusing because clicking the "Log in" link

[2017-08-07 14:59] robertknight commented on #229
Yes it @seanh, thanks for flagging this up.

[2017-08-07 15:05] dawachan commented on #348
Additional screen: when the field are populated the login button is enabled. Although I think this is the design pattern that we support currently with respect to form field entry + button enablement.

![screen shot 2017-08-07 at 16 04 41](https://user-images.githubusercontent.com/5212631/29032674-2f7a70f6-7b8a-11e7-84cd-d4dc2cbb74d1.png)

[2017-08-07 15:10] dawachan commented on #348
I think we decided not to show this screen and show a blank pop up instead. But here it is for completeness. I think it will depend on how long the pop up will the onscreen for, whether it makes sense to show the logo and logging in status message or not.

![screen shot 2017-08-07 at 16 06 47](https://user-images.githubusercontent.com/5212631/29032866-f5c963b6-7b8a-11e7-8ee2-f3a5f7f43ea8.png)

[2017-08-08 09:46] dawariley commented on #350
![elife annotations](https://user-images.githubusercontent.com/5212631/29066335-d0320b20-7c26-11e7-96da-f6291a033e2f.png)

[2017-08-08 09:46] dawachan commented on #350
2. Notes Tab selected

![elife notes](https://user-images.githubusercontent.com/5212631/29066358-e1a492ce-7c26-11e7-940c-9e5a8c7a75f2.png)

[2017-08-08 09:50] dawachan commented on #350
@ajpeddakotla can you confirm the extra modifications are acceptable to you so they can be a) added to the checklist against this issue and b) I can share with Nick @ eLife.

[2017-08-08 10:40] dawachan opened #351 "Final onboarding/getting started"
The need to address this was highlighted in Nick @ eLife's recent user study:

"All of our study participants after signing in were unsure what they should do next. We suggested a small visual cue to get started."

[2017-08-08 11:01] dawachan commented on #350
As requested by Rob - working on a mock of how the revised design looks with threaded conversations (ie. an annotation with replies visible).

[2017-08-08 12:53] dhwthompson commented on #229
Closing as a duplicate of #157.

[2017-08-08 12:53] #229 closed

[2017-08-08 16:10] ajpeddakotla commented on #350
@dawariley these changes LGTM, and rolling them out for eLife makes sense, in terms of using this as a springboard for our design work. Thank you!

[2017-08-09 09:41] dawachan commented on #350
I have reviewed the replies/threaded replies for the new eLife config and it looks identical to the current client - both on the same white background so no changes needed at present. We might want to optimize the icon size and check the grey colours for consistency with the rest of the UI. Will add a separate checklist for icon colours/size if needed. Any further design changes for annotation rep

[2017-08-09 10:01] dawachan commented on #350
@ajpeddakotla added the 3 additional design fixes to the issue checklist above. thx

@robertknight you might want to review the checklist and confirm that it's an acceptable list. cheers!

[2017-08-09 10:46] robertknight commented on #348
Usually no more than a fraction of a second. The only time it will take any longer is if the post-authorization page (ie. after clicking the "Log In" button) takes some time to fetch. In that case we can't show anything else until the page is returned anyway.

[2017-08-09 10:47] robertknight commented on #348
I think the use of Hypothesis in this context doesn't constitute a wordmark so it shouldn't have a period in the title (ie. "Hypothesis" not "Hypothes.is"). @xolotl can you confirm?

[2017-08-09 12:46] chdorner commented on #349
I've had a chat with @fatbusinessman and @robertknight yesterday and we came up with the following:

* We should add a new field `timestamp` to the annotation
* This new `timestamp` field can be set through the API (and edited)
* The only validation is that the `timestamp` field isn't allowed to be too far into the future (clock skew)
* If the `timestamp` field is not set through the API when crea

[2017-08-09 13:38] dawachan commented on #351
**What we currently have:**

![getting started - getting started](https://user-images.githubusercontent.com/5212631/29356318-ca4a210c-826b-11e7-82e8-fd66e4759621.png)

[2017-08-09 13:42] dawachan commented on #351
**Proposals for revised Getting Started:**

- Proposal A
![getting started - a](https://user-images.githubusercontent.com/5212631/29124759-bf9a6be0-7d11-11e7-8c3b-f4c4b26e30e7.png)

- Proposal B
![getting started - b](https://user-images.githubusercontent.com/5212631/29124765-c44b9c86-7d11-11e7-84b4-cd946d91d863.png)

![getting started - b1](https://user-images.githubusercontent.com/5212631/291247

[2017-08-09 17:08] segdeha commented on #350
@dawariley Minor question: In the case where they substitute an `X` for the chevron, what does it look like when it's closed? Seems unintuitive to click an `X` to open the sidebar.

[2017-08-09 19:08] dhwthompson commented on #349
Hmm. This feels like it’s getting messy. Particularly given that the W3C spec only allows for `created` and `updated` timestamps.

I think the model that makes the most sense in my head is to treat this timestamp as a way to override `created`, having nothing to do with `updated` at all. This new field then becomes “when the author **says** the annotation was created”, as opposed to our own intern

[2017-08-10 10:54] dawachan commented on #350
@segdeha for the eLife implementation there won't be a minimized sidebar state - it's either fully open or closed, so the problem of what to display in the collapsed sidebar goes away.

[2017-08-10 15:58] robertknight commented on #350
This list looks fine to me @dawariley . There are some implementation questions around whether we expose each of these changes as its own configuration option, or group multiple of these changes into one or more new config options or feature flags. We'll figure that out as we work on it.

[2017-08-11 14:18] chdorner commented on #349
Okay, @segdeha, @robertknight, and I have been talking about this again yesterday and came to the conclusion that this is not a viable strategy for now. We don't want API clients to be able to write to the `created` and `updated` timestamps because we don't want to give that amount of power to API clients.
The solution of adding a third timestamp that the client can set sounds great in theory, but

[2017-08-11 14:24] robertknight commented on #349
@chdorner - So to recap, the main decision here is to sidestep the issue of how to give publishers the power to set arbitrary `updated` and `created` timestamps on annotations by having someone at Hypothesis use an admin-only tool to run the import.

This seems fine as a starting point. We should check whether we are likely to need to do continual imports or additional batches after Hypothesis-pow

[2017-08-11 15:26] chdorner commented on #349
I will check this with Nathan next week, I still want them to give us their comment ids, at least then we could enable re-import functionality later down the road.

[2017-08-11 17:03] judell opened #352 "https://www.theatlantic.com/magazine/archive/1945/07/as-we-may-think/303881/ crashes the client"
### Steps to reproduce
1. Load the URL
2. Wait for the crash

### Notes
That article is a) a heavily-annotated, and b) one of our long-time showcases, which could mean that annotations made by much earlier incarnations of the client are a factor.

To scope a wider set of examples, I made https://metabase.hypothes.is/question/169 which takes a wildcard like `atlantic` or `nytimes` and shows heavily

[2017-08-11 23:43] judell commented on #352
I've speculated that it's mainly RPC traffic between page and sidebar. I can't get the profiler to run on that page, but here's a profile on another page where we struggle, http://science.sciencemag.org/content/349/6251/aac4716

![image](https://user-images.githubusercontent.com/46509/29235460-dccf2522-7eb3-11e7-8c15-f87160005c32.png)

That same page anchors lots of annotations quickly this way: h

[2017-08-15 14:56] ajpeddakotla commented on #350
The email we're going to send to eLife. @dwhly please review.

Hi Nick and Giuliano,
First of all thanks for bearing with us whilst we addressed your design/UX feedback. Below is the list of additional properties we have identified that we need to support on our side in order to get closer to the revised UI, and attached is a mockup of how the side bar will look once we allow for these custom conf

[2017-08-15 16:39] dwhly commented on #350
This sounds fine @ajpeddakotla.  Thank you.

By the way, I would prefer if at all possible that they use "Annotate" instead of "Comment".  Any chance of that?  A bit of branding in a way.

[2017-08-15 22:11] dawachan commented on #350
Thanks for approving my email draft @dwhly. I'll send it out tomorrow first thing. I'm going to check with Nick how they're branding the feature in terms of their end-to-end user journey. It might be that users click on a comment CTA but I can word the email differently to recommend keeping consistency by using 'Annotate'. Will find out more and feedback.

[2017-08-16 09:20] dawachan commented on #351
As mentioned in our review meeting we need to define the rules around the display of the 'Getting Started' box. Proposal: It displays onLaunch of the sidebar for the first time and persists until a user makes their first annotation and then goes away. Users can also close it before they make their first annotation by manually clicking the 'x'. note: this doesn't affect the 'There are no annotation

[2017-08-17 09:32] chdorner commented on #349
This is on pause for now until Nathan is back from his vacation, which should be around the 28th.

[2017-08-17 12:00] chdorner commented on #339
The app is now running on qa and production, has a grafana dashboard, and has new relic set up.

According to @seanh this isn't ready to test yet because the code doesn't play well with our infrastructure, but everything is set up so that as soon as the code is fixed it'll all work.

* https://lti.hypothes.is
* https://qa-lti.hypothes.is
* https://mon.hypothes.is/grafana/dashboard/db/lti
* New Rel

[2017-08-17 12:18] seanh commented on #339
Thanks @chdorner ! Leaving this issue open until I get Sentry going, and also fix the app to use the DB properly, update the public docs, but we're close to closing this

[2017-08-17 15:42] chdorner commented on #339
Sentry is now done, see hypothesis/lti#73.

[2017-08-17 16:47] seanh commented on #339
The app's using the DB properly as well. Needs some testing, and the public google docs need updated. Almost there

[2017-08-17 23:00] xolotl opened #353 "AAK page/site redirect doesn't work without trailing slash"
## Bug report form
### Steps to reproduce
1. Navigate to the AAK webpage without a trailing slash: https://hypothes.is/annotating-all-knowledge
2. Request times out but redirects to this URL: https://hypothes.is:5000/annotating-all-knowledge/

### Expected behaviour
Navigating to https://hypothes.is/annotating-all-knowledge/ should return the site/page with or without trailing slash.

### Browser/

[2017-08-18 13:27] seanh commented on #340
Update: we've made good progress on this but I think we're still working on it. [The remaining functions in `app.py`](https://github.com/hypothesis/lti/blob/master/lti/app.py) still need to be split out into separate files and to have unit tests written for them. The biggest of these is the `lti_setup()` function that needs to broken up into several separate functions. It looks to me like probably

[2017-08-18 13:30] seanh commented on #339
Update: I need to test that the app is basically working in production but I can't do so because I don't have an admin account on <https://hypothesis.instructure.com/>. Once I've done that then I can ask others (hopefully Jeremy and Jon) to end-to-end test it. Assuming no problems we'll then just need to update the [Hypothes.is Canvas Alpha: Installing the App](https://docs.google.com/document/d/1

[2017-08-18 15:11] ajpeddakotla commented on #353
@xolotl this page is still hosted on github pages. Can we move this over to wordpress? If you do that, then the redirect will work.

[2017-08-18 15:14] judell commented on #339
Excellent. You have the credentials in PassPack.

On Fri, Aug 18, 2017 at 6:30 AM, Sean Hammond <notifications@github.com>
wrote:

[2017-08-18 15:15] chdorner commented on #353
Here's the code: https://github.com/hypothesis/annotating-all-knowledge

[2017-08-18 15:15] chdorner commented on #353
We would still need to remove the redirect. But it's just a static page at the moment. So why not host it on WordPress?

[2017-08-18 15:29] dwhly commented on #307
Re the requirements:

- I don't think we need to rewrite anchor links so that users "stay in via".  From discussions, we know that whether publishers will be resistant to probably is related to just how much control and information they're losing through the process.  Since a primary goal of publishers is to keep people reading and clicking once they've arrived at a story, then rewriting anchor li

[2017-08-18 15:34] dwhly commented on #307
A stretch goal for this spike might be to deploy a prototype from one of the several examples that folks have created in order to be able to test various questions about what needs to be rewritten in order to have a sufficiently complete user experience.

[2017-08-18 15:52] xolotl commented on #348
Confirmed. There is a dot in Hypothesis only when it is the graphical
wordmark or our domain (e.g., in an email address or URL).
https://docs.google.com/presentation/d/1r2GzkFc0FZr2HISpFDJLnVCJoYT_hxQzV5eSFUBIsRw

On Wed, Aug 9, 2017 at 3:47 AM Robert Knight <notifications@github.com>
wrote:

--
= Nate Angell
+1.503.927.1162 mobile
nate@xolotl.org email, chat
ixmati = skype
@xolotl <http://twitter

[2017-08-18 16:07] xolotl commented on #353
Given that the page doesn't fit the normal styles of our WP theme, it will take some work to host it there (we investigated this preliminarily before we went live with the new WP site). The ultimate goal of the page is to move it to it's own, independent site, which will take some additional work.

If it's a complex matter to enable a redirect without a trailing slash to fix the current site/page,

[2017-08-18 20:35] xolotl opened #354 "enable double opt in for communication during H. account sign up"
Hypothesis uses Mailchimp to send information about our organization to a large list of email addresses, most of which are on the list because they are attached to Hypothesis accounts. Mailchimp has indicated that Hypothesis is in danger of having its service suspended because of high rates of reports of "unsolicited email" from our recipients.

Hypothesis would like to continue to email organizat

[2017-08-20 22:11] lidel commented on #45
I've just stumbled upon `Session is invalid. Please try again.` error while using the bookmarklet under Firefox 55.

FYI it may not be caused by any extension:
**Firefox itself gives user an option to opt-out from 3rd party cookies.**

I was able to to make it work by going to _Preferences_ → _Privacy_ and  changing 3rd party cookie policy from "Never":

to "From visited":

A better alternative is

[2017-08-21 14:29] #347 closed, assigned to robertknight

[2017-08-21 14:35] dawachan commented on #350
sketch file: https://drive.google.com/open?id=0Bww2MCTPhg08dkc0cTl1a3V2aEU

[2017-08-21 14:36] dawachan commented on #350
@ajpeddakotla eLife is waiting for timelines on this SOW. placeholder reminder to follow up with @robertknight

[2017-08-22 06:25] robertknight commented on #45
The OAuth implementation should fix this. Depending on the browser and privacy extensions being used it may or may not enable the browser to maintain the login between sessions, depending on whether the sidebar iframe can access localStorage or not. However, in cases where the login cannot be persisted between pages, the user will at least be able to login with a single click and it should put an

[2017-08-22 07:01] robertknight opened #355 "Enable users to change their username"
### Problem you are trying to address with this feature

One of our most common support requests is from users wanting to change their username. In my inbox I count ~140 emails for "label:support change username" since Jan 2016. This doesn't count many more who may have found workarounds such as registering additional accounts or wanting to change their username but giving up.

Currently only site

[2017-08-22 09:53] seanh commented on #355
This looks great!

On your branch, do you have it reindexing the user's annotations in Elasticsearch after the username change? I think it might need to do that. We do of course have a way of doing it already, because we change people's usernames for them, but I can't remember how it works.

I wonder if it's worth a confirmation dialog box, even after they click save, along the lines of "Are you s

[2017-08-22 13:04] dawachan commented on #348
Because the word Hypothes.is occurs in close proximity to the logo, I was treating it as logotype and spelling it with the '.'

I think at the moment there's only the domain and 'wordmark', I'm feeling that a stronger brand would be created by preserving the '.' in certain contexts such as this.

[2017-08-22 13:05] dawachan commented on #348
@robertknight Arti is there anything I can look at with these screens implemented. No worries as I know you've been out, but just wanted to follow up in case I can review it. Cheers

[2017-08-22 14:10] dwhly commented on #355
Thank you Robert.

This definitely meets the standard of "automate your most frequent user requests". :)

We should probably maintain the history of username changes and timestamps, so at least *we* have some trail we can audit.

Acceptable.

Yep.

For sure, *our* NIPSA list shouldn't be able to be avoided by someone changing their username.

Totally.  Though it's interesting how some of the syste

[2017-08-22 15:17] dawachan opened #356 "[DESIGN] Scoping and design work for Public groups"
Initial UI work needed:

**v1**
- [x] Publishers: Publisher Groups (Restricted Membership Groups made up of experts, Authorised can write, world can read)
- [x] Hypothes.is: Open Groups (Anyone can join + read, members can write), Public Groups (Invite only, anyone can read, members can write) + Private Groups (Invite only, members can read + write)
- [x] Showing one group as authoritative over th

[2017-08-23 10:07] dawachan commented on #356
**Background Reading:**

- Artis group solutions doc: https://docs.google.com/document/u/1/d/1z71q5FYofor8kSNcKBN2QJK6QJfS2KafD_OOQwEXHZo/edit#heading=h.penjuck3zeso

- Dan decision tree - pitch doc to help potential partners decide whether to choose H or 3rd party namespace:
https://docs.google.com/presentation/d/1ERquYEUJdH6yfwj6hlRbSoQvP79n7KC3UyRCe7whVJs/edit

- Jon U simplest group implementa

[2017-08-24 06:57] robertknight opened #357 "Make it easy to create & host custom builds of the Hypothesis client"
Now that we have implemented OAuth, it is possible to create customized versions of the Hypothesis client which are not hosted on the hypothes.is domain, but which do use the production h service. This should enable people to customize the client for niches outside the domains we focus on, prototype features, or just hack on a cool idea they have.

The workflow I envision for devs wanting to host

[2017-08-24 11:13] seanh commented on #306
This is a Google doc from Jeremy, containing some research he did into how other Canvas apps are installed: https://docs.google.com/document/d/1lsMOibPj1fm20eu4n5hs4lm10-UV7E4n_21VurXuPEI/edit

I also did some research and there was some discussion on Slack, see for example

* <https://hypothes-is.slack.com/archives/C643EDCP2/p1503504970000281>
* <https://hypothes-is.slack.com/archives/C643EDCP2/p

[2017-08-24 13:29] jeremydean commented on #306
This is great, @seanh -- Thanks!

What are your thoughts about expediting the process you describe below? If possible I'd like to be involved so that I can bear the burden of attending to the form and making the appropriate change in our system. But perhaps it's too much work to create an interface for me to do that.

[2017-08-24 14:39] robertknight commented on #170
I think this is irrelevant now since we fixed the original issue (that access & refresh tokens have the same lifetime) that prompted this ticket. Technically the token could still expire after a week, but that's long enough that we can worry about that later.

[2017-08-24 14:39] #170 closed

[2017-08-24 14:58] seanh commented on #306
The problem with making the process of activating a submitted developer token user friendly enough for non-devs to do, is that the Canvas app doesn't currently have any concept of user accounts or login. Not talking about Hypothesis logins here, or about Canvas<->Hypothesis accounts integration. You would have to login _to the Canvas app_ in order to see some sort of Canvas app admin form that let

[2017-08-25 10:17] chdorner commented on #307
Most of this is a summary of various messages over the last days in #eng-sensible-via on Slack.

We currently have a prototype of injecture (see the [`develop` branch](https://github.com/hypothesis/injecture/tree/develop)) running on our own infrastructure:

* https://qa-injecture.hypothes.is
* https://injecture.hypothes.is

Note: Since the new code I was writing was all extremely hacky, I've deci

[2017-08-25 11:14] robertknight commented on #329
This is done and shipped.

[2017-08-25 11:14] #329 closed, assigned to robertknight

[2017-08-25 14:32] robertknight commented on #348
Dawa and me just did a review of my work in progress for this. Some notes from that:

- The title for the authorize form should be a command ("Authorize access") for consistency with other forms
- We'll use the same button style for OK/Cancel for both inline editing and the forms shown here, but the style will be a hybrid of the two: `{ < space to right align buttons > [Cancel] [ OK ] }`
- Text in

[2017-08-25 14:43] dwhly commented on #307
Thanks for this writeup @chdorner.

Seems sensible.

[2017-08-25 14:49] seanh commented on #307
Great write up @chdorner

[2017-08-25 16:49] seanh commented on #306
This is possible, admin goes to `Admin` -> `<ACCOUNT_NAME>` -> `Settings` -> `Apps`. The process of adding the app is the same, except that you do it on the account page instead of on the course page. App is the installed in all courses in that account. (The terminology is a little confusing here, Canvas seems to use the word "account" to refer to two different concepts.)

[2017-08-25 16:53] seanh commented on #306
I think it _might_ be possible for us to use [LTI Variable Substitutions](https://canvas.instructure.com/doc/api/file.tools_variable_substitutions.html) to do what we need to do, instead of using the Canvas API. I think that would remove the need for us to get a developer key from an admin. It's a long shot but worth investigating when there's time.

[2017-09-04 09:08] robertknight commented on #230
This was done a while back IIRC but is now obsolete as there is an API method to leave a group.

[2017-09-04 09:08] #230 closed

[2017-09-04 09:09] robertknight commented on #157
The service and client-side aspects of this have been done now. Just a bit of clean up to do to remove the old way of leaving a group.

[2017-09-04 09:09] #157 closed

[2017-09-05 09:36] dawachan commented on #355
I think it will be of great benefit to the user (given all the support requests we receive for this issue). Also agree with Sean - well written and thought through!

I might try adding the copy warning users that 'links to the {old username} will no longer work' below the save button so that it has some white space and will stand out more than above, and give it the same space from top of save but

[2017-09-05 09:40] robertknight commented on #355
We haven't discussed it, although I'm in favor. I personally always think better of a service if it gives me automated tools to delete my data.

One thing I would suggest that any "delete my account" feature should do is provide a way for users to , optionally, give us some written feedback when they use it. I think this aspect of the current manual deletion system is valuable.

[2017-09-05 09:43] robertknight commented on #355
I did, but I figure that a) we can solve that problem if and when we learn about what is required and b) there appear to be some battle-tested approaches to dealing with this (limiting username change frequency). In the worst case scenario, we could always just push a deploy that turned the feature off if there really was a problem with it.

[2017-09-05 10:46] dhwthompson commented on #349
Having caught up with Nathan, there's one new issue that's cropped up: the existing comments are threaded, and it would be useful to preserve that threading.

Disqus supports replies to replies (possibly to an arbitrary depth). I don't know what depth of replies eLife has in their existing comments, but it seems likely we're going to need to accommodate more than two levels (top-level comments and

[2017-09-05 10:48] dawachan opened #358 "Enable users to delete their accounts"
Related issue: https://github.com/hypothesis/product-backlog/issues/355

**Problem you are trying to address with this feature**

In addition to changing username, we receive a number of requests from users to delete their accounts. The ability to delete an account, should go hand-in-hand with the ability to create an account, allowing users to feel in control of their data, which includes the abi

[2017-09-05 10:49] dawachan commented on #355
"One thing I would suggest that any "delete my account" feature should do is provide a way for users to , optionally, give us some written feedback when they use it. I think this aspect of the current manual deletion system is valuable."

I agree, and I noticed that support@ sometimes asks users why they are deleting their accounts.

I've created an issue for deleting an account:
https://github.co

[2017-09-06 10:03] robertknight commented on #45
Hypothesis (as of v1.39) now detects when the browser is preventing it from storing cookies and falls back to using OAuth rather than cookies for authentication in this context. You may find that you need to click the "Log in" button each time the client loads, but as long as you are signed in to the website you won't have to re-enter your login details each time.

[2017-09-06 10:03] #45 closed

[2017-09-06 10:04] robertknight commented on #72
Hypothesis (as of v1.39) now detects when the browser is preventing it from storing cookies and falls back to using OAuth rather than cookies for authentication in this context. You may find that you need to click the "Log in" button each time the client loads, but as long as you are signed in to the website you won't have to re-enter your login details each time.

[2017-09-06 10:04] #72 closed

[2017-09-06 10:08] robertknight commented on #337
I'm going to defer this for now given that I think it will be quite fiddly to fix and I think most users are unlikely to notice on the assumption that browser windows usually occupy most of the screen.

[2017-09-06 10:08] #337 closed, assigned to nobody

[2017-09-06 10:09] robertknight commented on #336
The login form design has been changed in the context of the OAuth popup to make the "Sign up" link open in a separate window. See https://github.com/hypothesis/h/pull/4637

[2017-09-06 10:09] #336 closed, assigned to nobody

[2017-09-06 10:20] robertknight opened #359 "Stop adding Hypothesis domain to cookie whitelist when installing Chrome / Firefox extensions"
The Chrome extension currently adds the h domain (hypothes.is) to the cookie whitelist upon installation to enable it to work if the browser is blocking third-party cookies. See https://github.com/hypothesis/h/issues/634 for the original context.

This results in the extension asking for [scary permissions](https://github.com/hypothesis/browser-extension/issues/46) at install time. Now that we hav

[2017-09-06 10:52] robertknight opened #360 "Use API token to authenticate requests to badge endpoint"
The browser extension currently relies on cookie authentication to authenticate requests to the badge endpoint. When the client is using OAuth, it should instead use the current OAuth access token to authenticate requests to the badge endpoint. One complication here is that the access token may have expired and the client may not be running to refresh it.

- [ ] Provide an API-token authenticated

[2017-09-06 10:53] robertknight commented on #360
@chdorner points out that the current badge endpoint does not support API token auth: https://github.com/hypothesis/h/blob/master/h/auth/policy.py#L100

[2017-09-06 20:29] jeremydean opened #361 "Annotations on static page being rendered as orphans"
## Bug report form
### Steps to reproduce
1. Join this group:

https://hypothes.is/groups/KggbKjaG/f2017-p0-us-history

2. Open this page:

http://www.bbc.com/news/world-asia-41158281

3. Activate extension, toggle to group

### Expected behaviour
I should see the group's annotations.

### Actual behaviour
Sometimes for a second, sometimes for much longer, the groups annotations are rendered as or

[2017-09-07 12:04] dawachan opened #362 "Redirecting admin page to login screen when logged out"
Currently when I try to access https://hypothes.is/admin/ when logged out, I get a 'page not found' error. A better UX would be to redirect to: https://hypothes.is/login, then post login re-direct back to https://hypothes.is/admin/.

Steps to reproduce:
1. Log out of http://hypothes.is
2. Go to https://hypothes.is/admin/
3. You will see the page not found page (attached screenshot)

Suggested solu

[2017-09-07 12:35] dawachan commented on #356
Current WIP design explorations deck can be found: https://docs.google.com/presentation/d/1gUJ-kOHipJ6FcoDfqFAAKfjyrSSyt8VuvCrgHmDnPWg/edit#slide=id.g1ee5cfaab5_0_6

In the process of iterating upon this with feedback from the Groups feature team (Arti, Dan, Heather, Rob, David).

Will post designs when they are more locked down.

[2017-09-08 08:16] chdorner commented on #323
As discussed and summarised [here](https://gist.github.com/robertknight/8a8e85e90c2bb34e4934544e0f61fbc4), the necessary steps are:

* [x] Render `"user_info": {"display_name": "John Doe"}` in annotation JSON response (important: eager load for `/api/search` endpoint).
* [x] Add support for setting display name in `POST /api/users`
* [x] Add `PATCH /api/users/{username}` endpoint, allowing a third

[2017-09-08 11:35] #359 closed, assigned to nobody

[2017-09-08 13:43] jeremydean opened #363 "New annotation notification not showing up"
## Bug report form
### Steps to reproduce
1. Got to this page in two separate windows:

https://oncomouse.github.io/loy/songs.html

2. Login and create a test annotation in one of the two.

### Expected behaviour
In the second window, see the red notification icon in the sidebar.

### Actual behaviour
Red notification icon not showing. Manually refreshing page displays new annotation.

### Browser

[2017-09-08 13:49] jeremydean opened #364 "H not activating on a specific page"
## Bug report form
### Steps to reproduce
1. Go to this site:

http://utc.iath.virginia.edu/uncletom/uthp.html

2. Try to activate h via extension or via proxy.

### Expected behaviour
Nothing happens.

### Actual behaviour
H sidebar should appear, I should be able to select text and see annotate/highlight button.

### Browser/system information
Updated Chrome quite and via proxy.

### Additional

[2017-09-13 10:57] seanh commented on #307
I've added a couple of "For the Canvas/LTI app" requirements to the task list above

[2017-09-13 11:12] dawachan commented on #351
Based on review with Nick and iteration here's what I'm proposing to replace the current 'Getting Started' box. e-Life button and annotate icon would be blue accent colour, default for Hypothesis client would be grey.

Configurable options:

- [ ] + Add note button colour
- [ ] Annotate icon colour

![getting started - revised](https://user-images.githubusercontent.com/5212631/30374915-7892b0e4-98

[2017-09-13 11:18] robertknight commented on #351
@dawariley - Where is the "New note" button referenced in the onboarding card?

[2017-09-13 11:25] dawachan commented on #351
It's not currently but we are adding a New note button to the client universally.

[2017-09-13 11:31] dawachan commented on #351
eLife will only have the 'New note' button, H client will have the existing bucket bar button plus the additional 'New note' button. It was Dan's request to have them both present. We might also want to add the additional steps of Reply, Share and Groups (#4,5,6) to the 'Getting Started' box. eLife seem to want just the 3 steps, so it might be that the steps end up needing to configurable or at le

[2017-09-13 11:42] robertknight commented on #351
When the client is using a third party account, the functionality to create private groups is disabled.

eLife users do not use the H namespace. They use accounts created by eLife under an eLife namespace.

When the client is using a third party account, the user cannot currently use their normal H account (if they have one) on the same page. The plan is that will change in future, at which point

[2017-09-13 11:49] dawachan commented on #351
thanks

[2017-09-13 13:49] dawachan commented on #351
Proposed design for 'Getting Started' H with additional Reply, Share, Groups onboarding info.

![getting started - hypothesis](https://user-images.githubusercontent.com/5212631/30380936-dde1f392-9892-11e7-9a98-8f25a927a8a4.png)

[2017-09-13 15:14] dwhly commented on #351
I'd like to request an "Ok, got it" (or something) button at the bottom of the card in our typical style.  Even if there's fancy logic to not show this card again the next time, people want a way to get the instructions out of their face in the current moment.  The X at upper right is something that many people simply don't see or understand as a close function.  Can't tell you how many times we'v

[2017-09-13 15:14] dwhly commented on #351
Also, would be great to see how this would be styled on the current H sidebar, separate from eLife, if it's something that will completely replace our current get started card.

[2017-09-14 07:47] dawachan commented on #351
sure, i'll mock something up! thanks for the feedback @dwhly

[2017-09-14 11:35] dawachan commented on #351
Here are the 2 variations for eLife and Hypothesis. The difference between the 2 versions is eLife have requested to hide the 'Reply/Share' and 'Groups' blocks.

Updated as per feedback @dwhly, (although I felt that the 'Ok, got it' button looked better centre aligned in this context, since it isn't a traditional login/dialog box and there is only one primary action to take, I feel the design look

[2017-09-15 10:38] dawachan commented on #351
@robertknight has reviewed and provide feedback re: grammar - have taken on board in final version and will send to eLife now for final sign-off. Rob also confirmed that all configurations proposed + logic around display rules are doable.

[2017-09-15 13:43] dawachan commented on #356
The latest in Groups Control thinking where 4 key publisher scenarios are designed out in terms of their impact on the groups control.

![revised groups model](https://user-images.githubusercontent.com/5212631/30485016-089ce58c-9a24-11e7-8b15-f8a8670f35dc.png)

Publisher scenario matrix can be found here: https://docs.google.com/spreadsheets/d/1t0s2z_m-u3kLNqjgigTzpjvZ9Nha2TUuHZA2Hv9YoG4/edit#gid=

[2017-09-15 15:10] ajpeddakotla opened #365 "Knowledge transfer"
Given that @chdorner is leaving, we'll need to make sure we scope out the work for the following projects:
1. [x] Via rewrite: https://github.com/hypothesis/product-backlog/issues/307
2. [ ] Groups backend work - David isn't here, and won't be back until after Christof leaves. So we'll need to scope out the work on the backend here.
3. [x] Site reliability/scaling work - Knowledge transfer

[2017-09-15 15:23] judell commented on #365
Suggestion: When these transfers occur, try (if appropriate/helpful) to capture narrated screen recordings along with written notes.

[2017-09-18 13:46] dawachan commented on #350
![elife notes](https://user-images.githubusercontent.com/5212631/30544939-0c93a23a-9c80-11e7-8785-b897cdea63fa.png)
 @sheetaluk - showing updated '+ New note' button

[2017-09-18 13:49] dawachan commented on #350
![add_note](https://user-images.githubusercontent.com/5212631/30545080-81c97b42-9c80-11e7-818c-a20d16d6b41d.png)

[2017-09-18 15:13] robertknight commented on #1135
Some examples of sites affected by this:

- GitHub (mentioned in the description)
- YouTube
- Anything that uses [Turbolinks](https://github.com/turbolinks/turbolinks)
- Any single page application (SPA) that properly uses the URL to represent what content is currently displayed

[2017-09-19 06:49] robertknight opened #366 "Upgrade PDF.js in Via and the browser extension"
We are currently shipping PDF.js [v1.1.215](https://github.com/mozilla/pdf.js/releases/tag/v1.1.215) (June 2015) with the browser extension and v1.1.24 (~ March 2015) with Via. This means that we are missing out on 2+ years worth of PDF compatibility improvements, bug fixes and performance improvements.

I did try upgrading PDF.js not long ago but ran into issues anchoring existing annotations des

[2017-09-19 06:55] robertknight commented on #366
https://hypothesis.zendesk.com/agent/tickets/1495

[2017-09-19 09:43] dawachan commented on #351
Based on confirmation from Giuliano received today the final rules for the Getting Started panel should be implemented as follows:

**1. Display Rules:**

The 'Getting Started' box persists on a page until these conditions are met:

A user manually dismisses it by clicking/tapping the 'x' or 'Ok, got it' which results in the 'Getting Started' box hidden globally.

Once the user makes an annotation

[2017-09-20 10:35] seanh commented on #307
My vote is we shouldn't do that (not even just for links to other pages on the same domain):

- It would mean that the proxy would have to scan the entire HTML file looking for anchor links to rewrite, which adds complexity to the proxy and slowness to its performance. As soon as we start moving in this direction (the proxy scanning the web pages that it proxies and modifying them) we start to mov

[2017-09-25 10:02] dawachan commented on #350
@sheetaluk Nick has confirmed that the position of the close button from the top should be set to **106px** which places it around **10px below the header**.

[2017-09-25 22:47] judell commented on #27
Follow-up with Marty:

Hi folks,

According to https://via.hypothes.is/https://httpbin.org/user-agent, the string "Hypothesis-Via" is included in the User-Agent header, as per https://github.com/hypothesis/via/commit/46e84af472249ca84e01f1fd09baa9a4c1e9e5fa#diff-d7a39c0d6fdaa37450167e35b2dbec97.

Note that we do not transmit cookies or auth headers, though: https://github.com/hypothesis/via/blob/8

[2017-09-26 09:02] chdorner commented on #27
We strip the `Cookie` header from the request to the origin, and then the `Set-Cookie` from the response back to the browser. This is done for security reasons, as the cookies would all be shared between the websites a user would visit through via.
I'm guessing that `journals.uchicago.edu` requires cookies for some reason? Unfortunately, I don't think there is much we can do about that.

[2017-09-26 15:49] judell commented on #27
They do. More from Marty today:

I guess we should just encourage them to embed H, eh?

[2017-09-29 14:44] ajpeddakotla commented on #365
Google Doc where we can ask questions: https://docs.google.com/document/d/1u4GFoT3MAzAmZWc2RVIhZfc3Vj8MDdqxj4U2lELr9Yk/edit#

[2017-09-29 14:48] #340 closed, assigned to seanh, sheetaluk

[2017-09-29 14:59] #307 closed, assigned to nobody

[2017-09-29 15:01] ajpeddakotla commented on #353
@xolotl  is this still an issue?

[2017-09-29 15:15] xolotl commented on #353
Yes

On Fri, Sep 29, 2017 at 8:01 AM Arti Walker-Peddakotla <
notifications@github.com> wrote:

--
= Nate Angell
+1.503.927.1162 mobile
nate@xolotl.org email, chat
ixmati = skype
@xolotl <http://twitter.com/xolotl>
xolotl.org

[2017-09-29 16:16] #339 closed, assigned to seanh, sheetaluk

[2017-10-03 20:30] ajpeddakotla commented on #351
So @sheetaluk 2 changes that need to be made (to summarize this card):

1. The universal change to the getting started card
2. The eLife specific changes to new getting started card
- blue buttons instead of gray
- remove share and groups text

[2017-10-03 20:34] ajpeddakotla commented on #350
@sheetaluk include the change to the username (allowing it to link to an eLife site) in this work as well please: https://github.com/hypothesis/product-backlog/issues/285

[2017-10-05 22:47] judell opened #367 "Another reason to never store temporarily-redirected URLs: They break moderation"
In https://hypothesis.zendesk.com/agent/tickets/1513, a group creator received the following notice:

An annotation has been flagged. Please visithttps://hyp.is/dJqbHJ1xEeeLpqNskwWkqg/instructure-uploads.s3.amazonaws.com/account_17700000000000001/attachments/2110683/Patnaik-Becker%20-%20needfinding.pdf?response-content-disposition=attachment%3B%20filename%3D%22Patnaik-Becker%20-%20needfinding.pdf%

[2017-10-06 14:07] seanh commented on #306
Update on this:

The app's current installation process is wrong and most of the notes above are confused as a result. I have a good handle on this now and verified my understanding with Bracken and with a couple of devs at Instructure. The way it should work is this:

1. User generates a **developer key** in Canvas (probably needs to get an admin to do this)

2. User goes to a registration page o

[2017-10-12 12:40] dawachan opened #368 "Asynchronicity issues between client and web"
**## Bug report form**

Originally reported on Slack - #eng-general channel.

There are 2 **points of asynchronicity** I noticed when I was loading the client/website:

1. Not sure if this is a known issue, but it seems that web hypothes.is can fetch the hypothesis-reading group annotations (left side of screenshot) whereas the client can't - (n.b. I'm logged in).

![screen shot 2017-10-10 at 08 3

[2017-10-12 15:09] #323 closed, assigned to nobody

[2017-10-12 21:08] #348 closed, assigned to robertknight, dawachan

[2017-10-12 21:08] #6 closed

[2017-10-13 10:23] dawachan commented on #351
I'd like to add that there is a current H version of 'Getting Started' where we talk about accessing the profile (as it is represented currently) and the creating a private group, and there is a future H version which will need to be rolled out when we push the new groups work out and revise the login control. Please find attached below:

![getting started hypothesis - current](https://user-images

[2017-10-13 13:21] ajpeddakotla opened #369 "Extend groups backend to include public and open groups"
### Background
We have a backend model that we created for publisher groups detailed here: https://github.com/hypothesis/product-backlog/issues/39#issuecomment-262810123. In this work, we'll extend the model to create two new group structures:

**Public groups:** A group which allows for all annotations to be read by everyone, but only written by Hypothesis group members that have been added by gr

[2017-10-13 13:26] ajpeddakotla opened #370 "Create groups admin interface that allows Hypothesis team members to create and invite members to groups"
### Background
Currently the only way to create "publisher only" groups is for a Hypothesis developer to create the group on the backend.

We want to open this ability up to all Hypothesis team members so that H team members will be able to:

- [ ] Choose group type they wish to create (publisher, open, public)
- [ ] Create group (group title, group icon)
- [ ] Invite group members (add emails for

[2017-10-13 13:30] ajpeddakotla opened #371 "Verify that annotations made in public and open groups are visible user's profile and search pages (activity pages)"
### Background
Annotations made in Public and Open groups should be viewable on a user's search and profile page. We will need to design out what this looks like and @dawariley will add the designs to this ticket.

### Users will have the ability to view:

- [ ] All annotations made within the group
- [ ] All members that have been added to the group
- [ ] Group information (creation date, who con

[2017-10-13 13:33] ajpeddakotla opened #372 "As a publisher, I’d like to designate a group as authoritative over my domain or by page"
### Background
Currently we don't offer a way to designate a group as authoritative over a publisher's domain unless the publisher decides to implement a restrictive publisher group that excludes the ability for non-publisher group members to annotate.

**Publishers would like to designate a group as authoritative by:**
- [ ] Domain
- [ ] Page
- [ ] The authoritative group will show first in the l

[2017-10-13 13:37] ajpeddakotla opened #373 "Groups Front End/UI/UX work"
As a part of the groups work, we will be redoing the top menu and adding new features that allow for new group navigation. @dawariley and others, we may want to break up this card, but I'm adding everything we have here to start.
- [ ] Move sort and share icons down from top menu to the line below (so the icons share the same line as annotations/notes tabs)
- [ ] Create domain group scope structur

[2017-10-13 14:38] ajpeddakotla commented on #356
Google Drive link: https://drive.google.com/drive/folders/0Bww2MCTPhg08ODQxZ212Mmc0bEk

[2017-10-13 16:52] ajpeddakotla commented on #350
Tagging this issue that we'll be addressing in this work as well: https://github.com/hypothesis/product-backlog/issues/346

[2017-10-18 16:43] gobengo commented on #370
This is next up for me. Code is here for now: https://github.com/hypothesis/h/compare/master...gobengo:groups

Will tag this issue once there's a real PR

[2017-10-23 17:59] judell commented on #352
I checked this to see if https://github.com/hypothesis/client/pull/559 would fix it, and found that it was fixed before that, I think by https://github.com/hypothesis/client/pull/533.

[2017-10-23 17:59] #352 closed, assigned to nobody

[2017-10-27 03:35] xolotl opened #374 "Proposal: Allow to hide a specific user's post or arbitrary posts using thresholds"
## Feature Request Form
from https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!topic/hypothesis-forum/5lyO8q6-jLQ

On Sunday, October 15, 2017 at 5:08:26 PM UTC-7, Mathieu Beliveau wrote:
Hi,

I quick search unfortunately returned no result regarding this post's title, forgive me if this feature might have been requested times and times again.

One thing I'm noticing while using

[2017-10-30 18:36] judell opened #375 "Proposal: When the annotations tab is empty and the pagenotes tab is nonempty, focus the latter"
I've fielded two different support requests recently that boil down to this:

![image](https://user-images.githubusercontent.com/46509/32189018-b67d35fc-bd66-11e7-8fad-49af36571998.png)

The message says "There are no annotations" when in fact there are pagenotes. In this case perhaps we can focus the pagenotes tab?

[2017-10-31 15:25] dwhly commented on #375
YES.  Actually as this was the originally designed functionality (trying to find our original design notes to prove it), this might actually be more appropriate as a bug report?  @ajpeddakotla?

[2017-10-31 15:31] dwhly commented on #334
Related to this: https://github.com/hypothesis/product-backlog/issues/375

[2017-11-01 14:52] gobengo commented on #370
@ajpeddakotla I think my linked PR implements most of the checkmarks in this issue, with the exception of choosing a 'group icon'. I don't believe the current schema stores an icon, nor can I see where it would be necessary.

The group creation form I made lets you pick the group title, description, type, and authority. @ajpeddakotla will you clarify the requiremenst around icon? Or if that was ju

[2017-11-01 15:23] gobengo commented on #371
@ajpeddakotla something I think it makes sense to do in while checking existing pages to make sure they work well with the new group types: On all 'group search' pages, there is an "Invite new Members" section in the lower right, that lets you copypasta a link that others can use to join the group.

But for 3/4 group types where JoinableBy is falsy, this link will result in a 404 for users who are

[2017-11-01 16:29] gobengo commented on #372
I'm going to try to implement this first such that publishers can provide this information in their web page, and the h client will render it based on that. So the source of truth is the customer's page. There will not be a h database record for this info.

Is there an existing pattern for how a customer developer might provide this sort of metadata on their page? I'd recommend something in HTML v

[2017-11-01 19:41] #365 closed, assigned to nobody

[2017-11-01 19:57] ajpeddakotla commented on #285
Closing this card out as it is part of the previous card of work: https://github.com/hypothesis/product-backlog/issues/350

[2017-11-01 19:57] #285 closed, assigned to sheetaluk, ajpeddakotla

[2017-11-06 15:17] robertknight opened #376 "Enable users of the Hypothesis service to register OAuth clients themselves"
### Problem you are trying to address with this feature

Currently only Hypothesis admins can register OAuth clients. This means that third-party developers who would like to build their own custom versions of the embed or browser extensions, even for purely personal use, need to either run their own version of the service or contact us in order to register an OAuth client. This is a barrier to pe

[2017-11-07 19:06] dawachan commented on #356
## **Groups Design Deliverables**

**Groups Design files directory:**
https://drive.google.com/drive/folders/0Bww2MCTPhg08ZHY5blY5anZqOVE?usp=sharing

- _Design specs - google slides_
https://drive.google.com/open?id=1ESiIotb91xJnUj9v6M2R2qW0o7akT1MbwsIMPjab6Ho

- _PDF of groups demo_
https://drive.google.com/a/hypothes.is/file/d/0Bww2MCTPhg08ZG5CVFhjR3Vtblk/view?usp=sharing

- _Pngs of groups dem

[2017-11-09 14:40] slrichard commented on #363
Any news on this bug?

[2017-11-09 14:52] robertknight commented on #363
I was able to reproduce the problem just now using the production Hypothesis service (via the bookmarklet) but not my local development install (also via the bookmarklet).

I haven't confirmed whether it is just this page that is affected or whether the whole real time update service isn't working properly.

[2017-11-09 14:55] slrichard commented on #363
I've annotated multiple websites/pages since first asked about this and I still have not had the red notification show up. If that helps.

[2017-11-09 15:24] robertknight opened #377 "Finalize configuration options exposed for new "clean" look"
https://github.com/hypothesis/client/pull/555 implements a new set of configuration options for the client that enables a new "clean" look for the client:

![](https://user-images.githubusercontent.com/2458/32611823-8b2c9366-c55e-11e7-9f46-629ccbb81dd5.png)

That PR implements a configuration option per toolbar feature, which allows many combinations that don't currently make sense. We can get fee

[2017-11-09 15:33] robertknight commented on #377
My personal preference would be to expose the _minimum_ number of configuration options. Why? For two reasons:

1. It reduces the matrix of configuration options that have to play nicely with each other.
2. We get direct feedback from users when they want something we don't yet support.

In this case we initially could boil it down to a single "theme" setting which is either "clean" or "classic".

[2017-11-09 20:18] slrichard commented on #363
The red notification icon has resurfaced!

[2017-11-13 20:19] ajpeddakotla commented on #351
@dawariley @sheetaluk @robertknight given the time crunch we are under, we will not be making these changes to Hypothesis. We will only be implementing these changes for eLife. We can revisit these changes for Hypothesis when we have more space on the roadmap.

[2017-11-14 16:50] judell opened #378 "Show replies in activity pages, and link to stream"
Problem: Users are frequently confused when viewing search results, and user/group pages, because cards only display toplevel annotations, not replies.

Ultimate solution: Complete the rewrite of the client-side thread display for the server-side-based activity pages module.

Interim solution: Leverage the stream.

It's easy for the server to know if replies exist (and how many), to make that know

[2017-11-14 18:42] robertknight commented on #378
Hi @judell

Do you have links to some of the support requests that this relates to? I know the need seems quite obvious but it is very useful to collect the wider context if available.

The feature as shown in the video looks like it might be a pragmatic solution if we only had a short time to work on this.

The implementation is quite short but I see a couple of potential problems, which are conn

[2017-11-14 19:52] judell commented on #378
Excellent point. I did notice that our current AP leaves _separate_replies turned off.  I'll take a look at the implications of turning it on, and see how that goes. Might cause a different problem, but easy to check, and worth checking.

Thanks!

[2017-11-14 22:02] judell commented on #378
I've asked @jeremydean to chime in with anecdotal reports, of which there are many.

It comes down to very simple thing, though. If you are participating in a conversation on a document, and then search for that conversation on the H website, or look for it on a group page, or your user page, you will not find it. And you will worry that data has been lost. Which in a sense it has been, since we a

[2017-11-15 09:27] robertknight commented on #220
Done for the browser extension repo too now in c3cf775abb4a828426e9ce1122877b1c03aa2cf6

[2017-11-15 09:27] #220 closed

[2017-11-15 09:28] robertknight commented on #222
For the record, the supported browsers are now IE 11 and up. We dropped IE <= 10 support due to minimal actual & attempted usage.

[2017-11-15 09:29] robertknight commented on #258
We did this for the client already. We haven't bothered changing the other repos and there is less urgency now that npm v5 improved the situation significantly.

[2017-11-15 09:29] #258 closed

[2017-11-15 09:32] robertknight opened #379 "Remove obsolete client feature flags"
We have a number of feature flags for the client that have been turned on for a long time and so the alternate code paths are obsolete. We should remove the flag checks and also the flags from the h service:

- orphans_tab (https://github.com/hypothesis/client/pull/578)
- flag_action
- client_oauth
- defer_realtime_updates
- search_for_doi

**Checklist:**

- [x] orphans_tab client flag removed
- [

[2017-11-15 10:47] seanh commented on #220
Sweet! So I guess we can use ES6 everywhere now, which is awesome

[2017-11-15 11:02] robertknight commented on #220
In the case of the browser extensions, all browsers we support now have pretty much full support for ES6 aside from ES6 modules, so we could actually get ES6+ support and consider skipping the transpilation step or using [babel-preset-env](https://github.com/babel/babel/tree/master/experimental/babel-preset-env) to transpile only stuff which is not natively supported.

[2017-11-15 21:05] judell commented on #378
For the implementation shown above, on a test server with the search `page_size` limited to 20, we have this result:

![image](https://user-images.githubusercontent.com/46509/32857958-8e535080-c9fe-11e7-818e-39870f47b59d.png)

And if `page_size` is 10, this result:

![image](https://user-images.githubusercontent.com/46509/32860109-7a0bb322-ca05-11e7-9f05-e254a7793e7b.png)

Because the 10 replies t

[2017-11-15 21:44] jeremydean commented on #378
Here's some of the "wilder context" you asked for @robertknight:

https://docs.google.com/a/hypothes.is/document/d/1AP5jdmp4TTENTPiAS7TI4iLTofzAx9VgjBzyCDLLZXU/edit?usp=sharing

[2017-11-16 10:45] robertknight opened #380 "Finalize and document new sidebar UI customization options"
We recently implement a batch of new sidebar UI customization options in order to enable publishers to configure a client with a "cleaner" look, specifically with eLife in mind:

<img src="https://user-images.githubusercontent.com/2458/32885925-f228a64c-cab6-11e7-878c-9b593e667a97.png" width="400">

The new options currently implemented are:

**disableToolbarCloseBtn** _bool_. - Disables the "X" b

[2017-11-16 13:55] katrinleinweber commented on #94
If hypothes.is would be injected like CTRL+H or +B in Firefox open the History or Bookmarks bar, could that circumvent this issue of covering content and debating a default? [This seems to be the Fx57-compatible guide](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/user_interface/Sidebars), but I'm not sure about Chrome.

[2017-11-16 16:11] segdeha opened #381 "Team user research survey"

[2017-11-16 16:49] #351 closed, assigned to dawachan

[2017-11-16 16:52] dhwthompson commented on #328
Now that https://github.com/hypothesis/h/pull/4683 has been merged and is [up on the interwebs](http://h.readthedocs.io/en/latest/api/using-oauth/), everything in this issue is now finished.

🎉

[2017-11-16 16:52] #328 closed, assigned to robertknight, dhwthompson

[2017-11-17 20:33] nlisgo opened #382 "Absence of error codes in 400 response makes it fragile for client code"
## Bug report form
### Steps to reproduce
1. Create a user in the a publisher group:
[code]
2. Assuming that the request was successful then repeat the request:
[code]
You should get the following response message:
[code]

### Expected behaviour
When preparing an upsert client method that first tries to `POST` a user and then `PATCH` if the user is already known it makes it quite fragile to put a

[2017-11-20 11:05] seanh opened #383 "Write GitHub issues for the via, client and h changes that are needed to enable user and group integration in the Canvas app"

[2017-11-20 11:06] seanh opened #384 "Deploy AJ's app to https://lms.hypothes.is and https://qa-lms.hypothes.is when we get it from them"
The app: https://github.com/hypothesis/lms

WIP pull request documenting the steps for deploying an app: https://github.com/hypothesis/playbook/pull/154/files?diff=unified

[2017-11-20 12:04] seanh commented on #349
Couple comments:

1. Christof said that certain fields from the JSON file that can only contain one value, e.g. `"type": "Annotation"`, should be dismissed by the importer. I agree that these fields shouldn't get imported and end up in the DB anywhere. But I think we should _validate_ them all, so if `"type"` is anything other than `"Annotation"` we reject the entire annotation.

2. I know we've d

[2017-11-20 12:06] seanh commented on #349
I've updated the issue description at the top of the page with a summary of what we're intending to do, based on the discussion in the comments above.

[2017-11-20 15:42] robertknight commented on #382
Original context from Slack: https://elifesciences.slack.com/archives/C1WAPMBV1/p1510846802000668

[2017-11-20 15:54] robertknight commented on #382
Paraphrasing the above report for when we come to discuss it internally:

When a user logs into the website of a publisher who is using Hypothesis + 3rd party accounts, the publisher needs to create an account on Hypothesis that corresponds to the one on the publisher's website, if none already exists. If an account does already exist, it needs to be updated to reflect the user's current email add

[2017-11-20 18:50] xolotl opened #385 "ensure Google Analytics is properly wired to H."
## Bug report form
### Steps to reproduce
1. Log in to Google Analytics for H.
2. See this message:

The default URL https://hypothes.is, for property UA-26026798-5 has no tracking code for this property, although it does have tracking codes for other properties:

   UA-26026798-8

If your Tracking ID and your Default URL setting are out of sync, you don’t get valid data in your Analytics account

[2017-11-21 09:49] robertknight commented on #197
We implemented a really basic moderation capability in Hypothesis v1.11 - v1.15 earlier this year. Anyone can flag an annotation and the creator of a group can see which annotations have been flagged and choose to hide them from non-moderators.

It ticks the boxes above but IMO there is still a lot to do to make it really convenient to use. We can track that work in separate issues.

[2017-11-21 09:49] #197 closed

[2017-11-21 12:51] dhwthompson opened #386 "Eliminate the permissions data structure from the API"
## Problem you are trying to address with this feature

In the current API, one of the fields we expect clients to pass in is the `permissions` field. This structure takes the form:

[code]

Or, for an annotation only visible to its author:

[code]

Internally, we throw the vast majority of this away and reduce it to a single `shared` Boolean, then recreate this data structure to pass the annotati

[2017-11-21 12:55] seanh commented on #386
Also relevant: <https://github.com/hypothesis/product-backlog/issues/200>

[2017-11-21 13:04] robertknight commented on #386
I think there is probably quite a bit of work to do to fully remove the concept of private annotations from the API and instead migrate to groups, plus we'd have to agree that we want to go that route. Replacing the current permissions field with a simple `shared` boolean that defaults to "true", or conversely a `private` boolean that defaults to false may be a simple and uncontroversial change th

[2017-11-24 10:48] robertknight commented on #298
I'm going to remove the "eLife" label from this since this clearly isn't in scope any longer for this particular project.

[2017-11-24 10:50] robertknight commented on #350
The work on this is substantially done modulo some follow-up bugs which have been opened and tagged with the eLife label.

[2017-11-24 10:50] #350 closed, assigned to robertknight, sheetaluk, dawachan

[2017-11-24 10:52] robertknight commented on #290
I removed the eLife label because this isn't in scope for the initial integration. The issue is still valid though.

[2017-11-24 10:56] robertknight commented on #288
This was fixed in https://github.com/hypothesis/client/commit/30215e8d882468559850760a08210f6779512e1e

[2017-11-24 10:56] #288 closed, assigned to nobody

[2017-11-24 13:00] seanh opened #387 "Remove old Elasticsearch indexes"
When we [do a search engine reindex](https://github.com/hypothesis/playbook/blob/master/docs/running-tasks-on-qa-and-prod.md) it creates a new index and changes over to it (zero-downtime reindexing) but it looks like it doesn't delete the old indexes. This will be wasting some storage space.

Task: figure out whether we're deleting old search indexes in production or not (probably not) and if not

[2017-11-24 14:35] dhwthompson commented on #387
From a quick initial poke around, it looks like we’re *not* deleting old search indexes in production automatically. There are currently two old ones hanging around, wasting 2–3 GB of storage each out of the 40GB we appear to have allocated for our search cluster.

[2017-11-24 17:30] seanh commented on #349
DB migration we need to run after the import is finished: https://github.com/hypothesis/h/pull/4698

[2017-11-24 19:44] segdeha commented on #53
User Christoph Haug (via this support ticket: https://hypothesis.zendesk.com/agent/tickets/1819) contributed this screencast of the bug when the tags are separated by a space: https://www.screencast.com/t/gyIU0xfx2

Not sure why the bug was closed before, but it seems still to exist.

[2017-11-27 16:42] judell commented on #53
Christoph's issue is unrelated to this one.

His is yet another case where a user is confounded by the failure to surface replies in activity pages. The annotation he was searching for is in a reply.

cf https://github.com/hypothesis/product-backlog/issues/378

[2017-11-28 15:07] dawachan opened #388 "User research planning"

[2017-11-29 15:46] dwhly commented on #203
Agree w/ this.  How about something that just allowed a trusted insider to submit a URL substring to map for another URL substring (since most URL changes preserve at least part of the original path) without needing to fetch the original page at all (since often pages will be behind firewalls, either in school systems or in paywalled journals, media).

[2017-11-30 12:34] seanh commented on #333
Here this is on eLife's site:

![screenshot from 2017-11-30 12-26-16](https://user-images.githubusercontent.com/22498/33430983-728b97c2-d5ca-11e7-885d-763d585af44f.png)

[2017-11-30 15:49] robertknight opened #389 "Redirect from Via to original URL if original URL embeds client"
## Feature Request Form
### Problem you are trying to address with this feature

Proxying a page through Via has many disadvantages compared to visiting the original page directly, if the original page already embeds the client. Some of these are inherent to using a proxy service, others are due to the current implementation. These include:

- A slower loading page due to proxying the page plus re

[2017-12-01 09:50] robertknight commented on #380
Recapping a discussion between Sheetal, Arti, Sean H and myself yesterday:

For the initial release, we are going to bundle the following into a single `theme` option:

- The options to remove individual toolbar buttons
- The option to remove the bucket bar
- The new "New note" button
- The new onboarding look
- The cosmetic changes to the sidebar and drop shadow

The main colors and fonts used in

[2017-12-01 17:07] dhwthompson commented on #349
As this currently stands, we’ve successfully run a version of this migration against comments in a test environment. I’ve added placeholders for further work we’re expecting to crop up, but for now we’ve done everything that’s available for us to do on this, and we’ve shown that our current solution is feasible.

Given that, I’m marking this as done and leaving the future placeholders. We’ll add m

[2017-12-01 17:07] #349 closed, assigned to nobody

[2017-12-02 01:08] xolotl opened #390 "status of public replies on public annotatons later made private"
## Feature Request Form
### Problem you are trying to address with this feature
A user asked what happens to public replies on public annotations when those "parent" annotations are later made private.

Testing shows that when a "parent" annotation is made private ("only me"/shared=false), replies to that "parent" annotation are no longer visible publicly on the page (eg, as orphans), in a user's

[2017-12-02 01:20] xolotl opened #391 "enable annotations to be posted to multiple groups"
## Feature Request Form
From a user: One thing I really like is that you can move annotations from one group into another (or into public). But it would be even better, if annotations could be shared with multiple groups. Because if I move the note from group A to group B, users who are a member of group A but not of group B will no longer see the annotation.

[2017-12-03 01:00] papatistos opened #392 "Display annotation count in group selection menu"
## Feature Request Form
### Problem you are trying to address with this feature

**This is more a UX improvement that a feature**

Lets assume you have a document that has annotations in a group in which you are a member. To keep things simple, let's also assume that the document has no public annotations.

If you open a document with the chrome extension installed (but currently not active), the

[2017-12-03 01:21] papatistos commented on #390
That would be the least, I'd say. It seems very problematic to me that a user can make a whole discussion thread vanish. But if they simply become orphans, things might become confusing because it is not evident that the orphaned annotation was not a comment on the main document but on another annotation. So this status should somehow be visible (though experienced users will be able to tell becau

[2017-12-04 11:52] maz123 opened #393 "Positioning of buttons from top (.annotator-frame div)"
## Bug report form
### Steps to reproduce

I'd like the functionality to be able to edit the position of the .annotator-frame div from the top. I'm able to do it with CSS just now, but it woudl be good to have this built in (I've been chatting to Robert Knight on Slack and he told me to put this forward, even though I've managed ot hack it. He says that the CSS classes could change at any time).

[2017-12-04 13:43] seanh opened #394 "Remove the hypothes.is/stream page"
The legacy "stream" page at <https://hypothes.is/stream> should be removed. This page hasn't been used since we introduced the new <https://hypothes.is/search> page a long time ago (I don't think there are any links to `/stream` anywhere anymore).

The `/stream` page, even at its peak when we were actually using it as on of the primary pages of Hypothesis, always had a lot of bugs.

Because of the

[2017-12-04 15:15] robertknight commented on #394
As you've noted, this is a longstanding known bug.

I can reproduce this for annotations that are added _after_ the page is loaded in response to Web Socket notifications. From some brief debugging I see that what is happening is:

1. Annotation notifications from the web socket are missing a "user_info" field.
2. The client dispatches an `ADD_ANNOTATIONS` action with the annotation received from

[2017-12-04 23:32] papatistos opened #395 "Allow "pure" highlights to be used as pointers in public"
## Feature Request Form
### Problem you are trying to address with this feature
I believe I understand why highlights cannot be shared publicly (I wrote about it somewhere, but I can't find that any more): a highlight by itself is not useful the general public and it would just add noise to a page when public annotations are shown.

However, there is one important use case where public highlights

[2017-12-05 12:57] dhwthompson commented on #392
Hi @tophee; thanks for the detailed feature request.

We’ve actually got an issue open for this very problem: #260. As far as I can tell, our proposed fix is exactly the fix you’ve suggested. As such, I’m going to close this issue as a duplicate, and you’re very welcome to follow along with the progress on #260.

If I’ve missed something and there’s more to this than we’ve already got covered, fee

[2017-12-05 12:57] #392 closed, assigned to nobody

[2017-12-05 14:04] papatistos commented on #391
except that annotations _cannot_ be moved from one group to another. I don't know where I got that from. I think some teacher mentioned how they move annotations between groups, but I must have misunderstood. So I'd like to add this as a necessary part of this feature request: please make it possible to move annotations between groups.

[2017-12-05 17:38] xolotl commented on #111
Possibly related: #241 and #391.

[2017-12-05 20:49] dwhly commented on #391
Can you explain the situations in which you need this capability?  Obviously there are circumstances (like when someone has already replied to an annotation) where actually moving the annotation is either not practical, desirable or logical.  We certainly know that others have asked for this.  Having more background detail to work with will help us understand better.

[2017-12-05 21:39] papatistos commented on #391
Well, it's pretty simple. Just think of circles in Google+, for example: if I want to share an annotation with more than one group, the only way to do this currently is to share it with the world or to create the same annotation in multiple groups manually. Do you need a more concrete example?

The whole sharing and access rights logic in hypothesis is already quite difficult to wrap your head aro

[2017-12-05 23:36] dwhly commented on #391
So the goal here wouldn't be actually moving it from one group to another, but either copying it to another group or broadcasting it to multiple groups simultaneously.

[2017-12-06 06:17] papatistos commented on #391
Oh, your question was about the secon request? About being able to move annotations between groups? In that case, I have a concrete use case in teaching: If students work in small groups, each group would use their own hypothesis group When it's time to share their results with the class, they would move selected annotations to the class'es group. - Well, I realize they could also just share it wi

[2017-12-08 10:48] seanh commented on #380
@sheetaluk This is done right? This issue can be closed?

[2017-12-08 10:56] seanh commented on #377
@robertknight This looks like a dup of https://github.com/hypothesis/product-backlog/issues/380 (and I think it's done)

[2017-12-08 12:57] robertknight commented on #380
The options have been finalised but not yet documented, so that's one last thing to do.

[2017-12-11 14:47] robertknight opened #396 "Setup routine removal of old Graphite databases"
On [2017-12-08](https://docs.google.com/document/d/1NDTlVxqvyJiDfoSsku0VjijVrILqtzMZYc70tp6vFWg/edit#heading=h.585d998hhxlg) our production database backup failed due to the server on which the backup task runs running out of disk space. Disk space on the "mon" server was exhausted due to a proliferation of [Whisper databases](http://graphite.readthedocs.io/en/latest/whisper.html) from EC2 instanc

[2017-12-11 16:05] #380 closed, assigned to sheetaluk

[2017-12-12 14:15] seanh commented on #384
AFAICT so far, I think the environment variables that we'll need to set are:

* `JWT_SECRET`
* `VIA_URL` (app needs to be fixed to use this instead of hard-coding)
* `GOOGLE_CLIENT_ID`
* `GOOGLE_DEVELOPER_KEY`
* `GOOGLE_APP_ID`
* `DATABASE_URL`
* `LMS_SECRET` (code needs to be fixed to add support for reading this environment variable)
* `HASHED_PW` (code needs to be fixed to add support for readi

[2017-12-12 14:22] seanh commented on #384
There's already [a bunch of database migration scripts](https://github.com/hypothesis/lms/tree/master/lms/migrations/versions). We'll need to stamp the prod and qa dbs with the latest version. We won't need to run pre-existing migrations on qa or prod.

[2017-12-12 14:44] seanh commented on #384
Looks like [`lms/util/get_password_hash.py`](https://github.com/hypothesis/lms/blob/f60e162b185a29462f359afa72d1cc1fee80269e/lms/util/get_password_hash.py#L20) can also be run as a command-line script to generate a hashed password and salt, presumably for use in the `hashed_pw` setting (which needs to become the `HASHED_PW` env var).

(In fact I think running from the command-line may be the _only

[2017-12-12 17:18] robertknight opened #397 "Decide on the role of usernames and display names for first party accounts"
We added "display names" to user profiles so that the presentation of third party users' on annotation cards is not subject to the limitations or uniqueness constraints of our usernames.

We later added a form to the website (at https://hypothes.is/account/profile) to allow first party users to configure their display name and we use it in _some_ places: user profile pages and soon reply notificat

[2017-12-15 13:44] dhwthompson commented on #384
As summarised by @seanh, here are the remaining tasks to get this all set up in QA:

- [x] Setup a subdomain in CloudFlare
- [x] Create a Google OAuth client and API key in some Google account (_which_ account remains undecided), and use them to set the app's three `GOOGLE_*` environment variables
- [x] Generate values for and set the `USERNAME`, `HASHED_PW` and `SALT` env vars and set those
- [x]

[2017-12-15 16:24] dhwthompson commented on #396
Here‘s [a script I put together](https://gist.github.com/fatbusinessman/3c3c832774035b961e4b0b6f7216b524) to remove Whisper directories that haven’t had any files modified in the last *n* days. It might be a useful basis for something we run regularly.

[2017-12-15 18:19] seanh opened #398 "Setup Grafana dashboard for lms app"
This was split out of <https://github.com/hypothesis/product-backlog/issues/384>. Setup a Grafana dashboard for the lms app, the same as the one we have for the lti app: <https://mon.hypothes.is/grafana/dashboard/db/lti>.

It looks like we have these dashboards for the production apps only, not the qa ones.

The app should already be reporting data to Graphite, so I think only setting up the dashb

[2017-12-15 18:47] #384 closed, assigned to robertknight, seanh, dhwthompson, sheetaluk

[2017-12-15 18:47] seanh commented on #384
I'll add a separate card for writing up the docs for this, too

[2017-12-15 18:49] seanh opened #399 "Write docs for how to deploy a new app to production"
This was split out from <https://github.com/hypothesis/product-backlog/issues/384>. Also see <https://github.com/hypothesis/playbook/pull/159/>

[2017-12-18 23:43] shalabhc commented on #127
The ability to customize the title would be very useful. For instance, many PDFs do not have good metadata and we end up with meaningless titles like "ngc98.pdf" (https://hypothes.is/a/_8XCnOHJEeeAXlc1u38s-A). The problem extends to web pages too - titles may be unclear.

It would be great if the displayed title is customizable and user specific (i.e. similar to annotations and highlights, could b

[2017-12-19 13:59] dawachan commented on #381
Completed.

Team Survey findings here:
https://drive.google.com/open?id=1ISoi1Vl19z7jI_UcmCtrAmVJmpAp_bFPqTY9JO2LWes

Survey:
https://drive.google.com/open?id=1eigahdGGVODh0H5ZakV5_s1Vw4IA2cQp1GgeI7d1ErM

Anonymised answers:
https://drive.google.com/open?id=1HvpPU2BhQVNVH0bba_Qz6-BCWEHLcvOGlutsSRm62rc

[2017-12-19 13:59] #381 closed, assigned to dawachan

[2017-12-19 17:51] seanh opened #400 "_Should_ you run the Ansible bootstrap playbook manually? If so, how? On bastion? What am I doing?"
Need more information here @seanh @robertknight

[2017-12-19 23:10] malcook opened #401 "provide "nested" groups piggy-backing on DNS"
### Problem you are trying to address with this feature

 - As an H user, I might like to see all annotations by my members of my lab.
 - On another occasion I might want to see all annotations by members of any lab at my research institute.
 - As an H group administrator, I would like to create groups that can be discovered (via a naming convention) by other members of my institute.
 - As an adhe

[2017-12-20 11:29] robertknight opened #402 "Set up Pingdom for the lms app"

[2017-12-20 11:38] robertknight commented on #402
We currently have one login for Pingdom. The credentials are in Passpack.

The process for adding a new entry to monitor an app in Pingdom appears to be:

1. Go to https://pingdom.com and login with the credentials from Passpack
2. Create a new entry for the app which polls the `/_status` endpoint of the service (eg. https://lms.hypothes.is/_status)
3. Set the importance to "Low" or "High" as appr

[2017-12-20 11:40] robertknight commented on #402
I have added a new Pingdom check which monitors https://lms.hypothes.is/_status . The priority is currently set to Low, which means we'll get the same kind of alerts as we do for Via.

[2017-12-20 12:13] robertknight commented on #398
Initial dashboard is here: https://mon.hypothes.is/grafana/dashboard/db/lms

I created this as follows:

1. Go to https://mon.hypothes.is and login to Grafana
2. Selected an existing app dashboard (I chose “LTI”) and made a copy via {Gear icon} => Save As... => "LMS"
3. Edited the `$instance` template var in the new LMS dashboard via {Gear} => Templating and changed the reference to “lti-env” to “

[2017-12-20 12:52] robertknight commented on #398
Update: I also found that the data sources for the "Request rate" and "Response time" panels had to be edited directly to replace hard-coded references to "lti" with "lms". Notes on Slack here: https://hypothes-is.slack.com/archives/C4K6M7P5E/p1513771698000056

The basic metrics now all appear to be there.

[2017-12-20 12:52] #398 closed, assigned to robertknight

[2017-12-20 13:03] robertknight opened #403 "Set up database backups for the lms app."
From @seanh's notes: It doesn't have any! Except what RDS provides out of the box. (The lti app also never had any.)

[2017-12-20 13:09] robertknight commented on #403
As explained at https://github.com/hypothesis/playbook/blob/master/docs/backups.md we have two types of PG backup:

1. 30 days worth of RDS snapshots. These backup the entire DB _instance_ [according to the docs](http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_WorkingWithAutomatedBackups.html), so that would include the lms QA & prod DBs and whatever new DBs we add in future.
2. Logical

[2017-12-20 14:45] robertknight commented on #402
This is tested and working now.

[2017-12-20 14:45] #402 closed, assigned to robertknight

[2017-12-20 16:33] dwhly commented on #401
I just want to drop a note of appreciation here for your suggestions.  There's a bunch of good thinking here.  We'll digest.

[2017-12-20 20:57] shalabhc opened #404 "Whitespace not captured correctly from some PDFs"
## Bug report form
### Steps to reproduce
1. Open https://via.hypothes.is/http://www.ps.uni-saarland.de/PapersOz/ProgrammingSysLab/ngc98.pdf#annotations:_8XCnOHJEeeAXlc1u38s-A
2. Select some text from the abstract
3. Click the highlight icon

### Expected behaviour
The text shown in the hypothesis panel on the right should match the text highlighted.

### Actual behaviour
The text shown in hypothe

[2017-12-20 21:17] heatherstaines opened #405 "Annotation card not staying inline with selection"
## Bug report form
### Steps to reproduce
1. I'm annotating on this article: https://www.justinobeirne.com/google-maps-moat
2. I can highlight text and make the annotation, but when I post it to "only me" the page scrolls back up to the top.
3. When I click on the card, it does not take me back to the selection.

### Expected behaviour
Tell us what should happen.
Annotation card should stay next t

[2017-12-21 00:46] shalabhc commented on #404
In 'view source' for the above example `"Thereisnoglobalinformationnorglobaltime"`, I noticed that each word is wrapped in its own `<hypothesis-highlight>`. E.g.

[code]

etc.

I noticed the same pattern in another PDF were a single space was missing. The space was missing specifically between two `<hypothesis-highlight>` elements.

[2017-12-21 07:05] robertknight commented on #404
The situation here would likely be improved by upgrading PDF.js since text extraction has improved since the version we are using: https://github.com/hypothesis/product-backlog/issues/366

[2017-12-21 13:22] heatherstaines opened #406 "Not able to login to client"
## Bug report form
### Steps to reproduce
1. I'm annotating on: https://scholarlykitchen.sspnet.org/2017/12/21/wakeup-call-looking-back-2017-factors-affecting-2018/?informz=1
2. Highlights were working fine, but when I tried to make an annotation the client opened but not the annotation box.
3. When I tried to log in, I briefly get a blank pop up window which then disappears. So no way to login.

[2017-12-21 13:32] heatherstaines opened #407 "Annotation and Highlight Buttons do not appear--Page note button changed to annotation button"
## Bug report form
### Steps to reproduce
1. Annotating on this article: https://www.flyertalk.com/articles/londons-heathrow-airport-to-improve-services-for-disabled-passengers.html?utm_medium=Email&utm_campaign=
2. I select text but no buttons appear.
3. Button that is usually "page note" shows as annotation button instead. If I click it, then the client opens and I can create an annotation. When

[2017-12-21 13:39] robertknight commented on #406
Hello @heatherstaines - I think I have seen an issue in the past where the login fails initially as you describe but succeeds when trying a second time (or perhaps third...). I've not reproduced it yet though. Can you check if that is what is happening here?

[2017-12-21 14:40] heatherstaines commented on #406
When it was happening, I tried it several times and could not get it to
work.
When I later went back and refreshed the page and tried again, I showed as
already logged in when the client launched. I lost all my previous
highlights though...

On Thu, Dec 21, 2017 at 8:39 AM, Robert Knight <notifications@github.com>
wrote:

--
Heather Ruland Staines
Director, Partnerships
Hypothes.is
M: 203-400-1716

[2017-12-21 16:00] dawachan opened #408 "Survey launch proposal"
Working on a delivery brief for upcoming survey launch:

https://docs.google.com/document/d/1lg7W3obnXA94YgLOZmwMy2ZoOq3j6_8g1JM4CcdesjE/edit

Done:

- [x] Completed launch brief and shared with team members for comments and identified action items for Nate.

[2017-12-21 17:52] malcook commented on #30
Such capability could also be used to search hierarchically organized groups, as suggested in  #401

[2017-12-21 18:30] heatherstaines commented on #406
Just happened to me again on Chrome on a different article:
http://blog.scienceopen.com/2017/12/leaving-scienceopen-time-say-goodbye/
Again, refreshing the article seemed to make it go away. But that's twice
in one day...

On Thu, Dec 21, 2017 at 8:39 AM, Robert Knight <notifications@github.com>
wrote:

--
Heather Ruland Staines
Director, Partnerships
Hypothes.is
M: 203-400-1716
Skype: heather.sta

[2017-12-28 23:21] #377 closed, assigned to nobody

[2017-12-28 23:22] ajpeddakotla commented on #346
Closing this as we've completed the work.

[2017-12-28 23:22] #346 closed, assigned to nobody

[2017-12-30 15:23] heatherstaines commented on #407
Behavior happening again on this url: https://www.dailyedge.ie/black-mirror-trailer-released-3772964-Dec2017/
This time there is a blank button that appears, but clicking on it doesn't do anything. Clicking on the page note turned annotate button does enable you to do an annotation.
![screen shot 2017-12-30 at 10 19 21 am](https://user-images.githubusercontent.com/24781335/34455355-7c3cde96-ed4b-1

[2017-12-30 20:11] heatherstaines commented on #407
I was annotating on FF 57.0.1 (64-bit)

[2018-01-02 11:42] robertknight opened #409 "We don't have good tools to manage flagged annotations across multiple pages or at scale"
Hypothesis ostensibly has tools for moderating annotations. Users can flag annotations, which results in an email notification to group creators. Group creators can then hide flagged annotations. However, we really don't have useful tools for group creators to see and action flagged annotations across multiple pages or handle moderation at any sort of scale.

Every time an annotation is flagged, w

[2018-01-03 13:15] robertknight commented on #218
This was done in https://github.com/hypothesis/client/pull/632

[2018-01-03 13:15] #218 closed

[2018-01-05 15:58] heatherstaines opened #410 "Client not loading/Many errors/Not able to use "view annotation in context link""
![screen shot 2018-01-04 at 11 56 35 am](https://user-images.githubusercontent.com/24781335/34616768-2dac91d4-f207-11e7-842d-c70e43250d0e.png)
## Bug report form
### Steps to reproduce
1. I'm using Chrome Version 63.0.3239.132
2. Client won't launch on several articles.
3. Using option+command+J shows many errors. Clearing them does not enable the client to load. (Also discovered during demo to ne

[2018-01-08 13:53] dawachan opened #411 "Implement the revised onBoarding/Getting Started work"
**Background:**

As part of the eLife work, the 'Getting Started' card was revised to be more clear and user friendly.

It was decided that the 'Getting Started' card should be universally implemented across the client.

However, the design was only implemented for eLife due to time constraints, so the outstanding work is to push out the revised getting started card to all Hypothesis users.

The p

[2018-01-08 15:14] #267 closed

[2018-01-09 11:44] dawachan opened #412 "Groups - Prework"
Let's read over and familiarize ourselves with this project before Dawa's design call on Thursday
I'm adding some links here for more reading/info. The docs are in order from high level -> deep dive:

Groups Problem Statement: https://docs.google.com/document/d/1bgPTrlHvlCDGhUVqRLfWbRcO9Gtaiidlf3JLwKhwwp8/edit#
Triage of groups work: https://docs.google.com/document/d/1B1mEyZMAM7--bV-HPyIKRTnRnROV

[2018-01-09 11:45] dawachan commented on #412
Sorry @ajpeddakotla had to convert from a note -> issue to be able to add more characters!

[2018-01-09 19:42] klemay opened #413 "Need ability to edit/delete items on group activity pages"
## Bug report form

### Steps to reproduce
1. Visit [group activity page](https://hypothes.is/groups/aZGqLdkz/miim-545s-20) to view annotations.
2. Notice the document referenced is titled "MIIM-545-20_Syllabus_Spring_Edited_2018.pdf"

### Expected behaviour
Document should be titled "Annotate me for the Hypothes.is Activity.pdf." You should be able to click on annotations to see them in context.

[2018-01-10 16:48] klemay commented on #234
[Received request](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/hypothesis-forum/XR5vZFq96c0/nA4qj18KAAAJ) for Google Classroom integration - SSO for Google would be a good first step toward this

[2018-01-10 17:09] klemay opened #414 "Full support for MathJAX"
## Feature Request Form
### Problem you are trying to address with this feature
Currently, users must escape out $ for LaTeX commands (as noted in [this support ticket](https://hypothesis.zendesk.com/agent/tickets/1915)). Additionally, there are certain LaTeX math mode commands, which are not recognized (like "\iff", or "\implies", but also "\begin{align} .. \end{align}" etc.

### Your solution
Im

[2018-01-10 17:28] robertknight commented on #414
Some of the limitations of the KaTeX-based math rendering can be resolved simply by updating KaTeX to a newer version, so we should evaluate as we get specific feedback about certain math features.

Whatever we do with math rendering in future, it is important not to regress loading/rendering performance for the majority of users not making use of the feature in their annotations.

[2018-01-11 16:26] dawachan commented on #388
User Research Roadmap and Kick off Deck:

https://docs.google.com/presentation/u/1/d/1qWR_L28_mr65_BuYjPVQtjYoCe5DO-md5bGaDVmJTyA/edit#slide=id.g2a55259f3c_0_101

[2018-01-12 18:51] klemay commented on #397
This is presenting a problem for education users as well. It's hard for instructors and classmates to figure out who they're interacting with if a student's username does not match their real name. [See recent ticket](https://hypothesis.zendesk.com/agent/tickets/1949) for more info.

[2018-01-12 20:19] klemay commented on #235
Received [new user request](https://hypothesis.zendesk.com/agent/tickets/1950) to subscribe to groups and/or receive notifications when annotations are made to a specific page (& ideally subpages within that domain as well).

[2018-01-12 20:54] judell commented on #235
Some context and backstory for @klemay:

https://github.com/judell/h_notify/blob/master/examples.py is a DIY workaround for now. It can watch these facets: url, group, user, tag. It can notify on these channels: RSS, Slack, email.

What it can't do is watch wildcarded domains. If you subscribe to #notifications in our Slack (which uses the DIY solution) you'll think domain query might be happening

[2018-01-12 21:25] klemay commented on #235
Thanks! I did point the user toward your workaround & he said he'll implement that for now!

[2018-01-13 13:33] heatherstaines opened #416 "Annotation shows on card but not on article."
## Bug report form
### Steps to reproduce
1. Annotating in Firefox on: https://www.inverse.com/article/40174-viper-dogfish-are-not-cats-im-sorry?utm_source=newsletter&utm_medium=inverse&utm_campaign=photo
2. I created an annotation, that shows in the sidebar, but is not highlighted on the article.
3. The highlight I created next does show.

### Expected behaviour
Tell us what should happen.
The se

[2018-01-13 13:36] heatherstaines commented on #416
The annotation does show up on my activity page as normal.

[2018-01-13 19:26] judell commented on #235
Here's one more piece of the puzzle. You can use an `any` query to find annotations for a domain. For example I was just looking for annotations on https://webliteracy.pressbooks.com/. This works: https://jonudell.info/h/facet.html?facet=any&mode=documents&search="webliteracy.pressbooks.com"

It seems like it should work in the regular search as well, modulo replies which wouldn't appear, but it d

[2018-01-16 15:56] #383 closed, assigned to nobody

[2018-01-16 18:10] judell commented on #30
See https://github.com/hypothesis/product-backlog/issues/235#issuecomment-357459601 !!!

[2018-01-17 00:52] judell commented on #397
See also https://hypothesis.zendesk.com/agent/tickets/1959, a request to see the display name in API results.

[2018-01-17 11:51] seanh opened #417 "Minimal open groups on publisher sites"
Done when:

- [x] There's a documented process for a Hypothesis developer to create an open
      group for a publisher

- [x] The developer must give the group a name

- [x] The developer will specify the domain  (e.g. cnn.com) or list of domains of the publisher that the group belongs to

 - [x] A single domain can have more than one open group

- [x] The group doesn't appear on any other sites

[2018-01-17 11:54] seanh opened #418 "Grouping groups by publisher"
As a publisher I want my open groups to be **grouped under my publisher name** in the groups menu (so that...?)

Done when:

- [ ] A Hypothesis developer can specify a named publisher when creating an open
      group
- [ ] Publisher is a required field. All open groups must belong to a publisher.
- [ ] Multiple open groups can belong to the same publisher.
- [ ] Any previously existing open group

[2018-01-17 11:55] seanh opened #419 "Publisher group icons"
As a publisher I want my **icon** to appear next to my groups (so that...?)

Done when:

- [ ] A Hypothesis developer can specify an icon image for a publisher when they
      create one. (How do we upload the image files? For example we may need a URL
      for each publisher icon. We may need to upload the icon somewhere somehow so
      that we have a URL for it.)
- [ ] The icon is shown next t

[2018-01-17 11:58] seanh opened #420 "Moderation for open groups"
As a publisher I want to **moderate** the open groups on my site (so that? I can prevent abuse?)

Done when:

- [ ] A Hypothesis developer can specify which Hypothesis user or users can
      moderate the group, when creating an open group. (Currently only the creator
      of a group can moderate it, so maybe the developer needs to specify a user
      as the group's creator. Or maybe we need to

[2018-01-17 11:59] seanh opened #421 "Admin tool of some sort for creating open and restricted (scoped) groups"
As a Hypothesis admin I want to be able to **quickly and easily create an open and restricted group** for a publisher.

Done when:
* [x] There's a quick and easy way for a Hypothesis admin who isn't a technical
user to create an open **or restricted** group that a publisher has requested
* [x] The admin can specify a name for the group
* [x] The admin can specify the  **origin or origins** (multip

[2018-01-17 12:00] seanh opened #422 "Activity pages (for the open-groups-for-publishers use case only)"
As a publisher I want to have an activity page for my open group so that people can view all annotations created by the group in one place.

Notes:

* This might actually just work for open groups. I'm not sure.

Out of scope:

- Replies don't show on activity pages yet. Separate issue.

##### Emergency Glossary - Activity Pages

<dl>
  <dt>Activity pages</dt>
  <dd>The pages under
  <a href="http

[2018-01-17 12:03] seanh opened #423 "Groups menu display and sort order rules"
This needs to be written up as a clear and concise user story (or perhaps multiple stories) with clear acceptance criteria, but for now: there is a [google doc about sort ordering and display rules for groups in the groups menu](https://docs.google.com/document/d/1-7y_7rJmcHX5etGPpcBq33DCcveeuZ6sx1LvBVJvu64/edit) and this is just a placeholder card for that it needs to be turned into a user story

[2018-01-17 12:05] seanh opened #424 "Restricted groups for publishers"
As a publisher I want to control the membership of a group that anyone can read, but that only members can write to, so that I can limit annotations to my staff, authors, invited experts, etc and not need to moderate the annotations.

**Note**: this is an **Epic** - a big user story that's too big to go into a sprint, it'll need to be fleshed out and split up into smaller stories before we can sta

[2018-01-17 12:08] seanh opened #425 "Open groups for communities"
As a community I want to have a group or groups that anyone can read or write but that I can moderate, so that I can separate my community's distinct conversations into their own spaces and prevent abuse.

**Note**: this is an **Epic** - a big user story that's too big to go into a sprint, it'll need to be fleshed out and split up into smaller stories before we can start working on it.

Problems:

[2018-01-17 12:10] seanh opened #426 "Restricted groups for communities"
As a community I want to have a community controlled and branded group that anyone can read, but that only invited members can write to, so that I can limit annotations to my community members and not need to moderate the annotations.

**Note**: this is an **Epic** - a big user story that's too big to go into a sprint, it'll need to be fleshed out and split up into smaller stories before we can st

[2018-01-17 12:11] seanh opened #427 "Open groups for publishers"
As a publisher I want to have authoritative, open, named groups that show on my site, that anyone can read or write but that I can moderate, so that I can separate distinct conversations into their own spaces and prevent abuse.

[2018-01-17 12:14] seanh commented on #427
I've split this epic up into several smaller stories so far (some of these will need splitting up further):

* [Minimal open groups on publisher sites](https://github.com/hypothesis/product-backlog/issues/417)
* [Grouping groups by publisher](https://github.com/hypothesis/product-backlog/issues/418)
* [Publisher group icons](https://github.com/hypothesis/product-backlog/issues/419)
* [Moderation](

[2018-01-17 12:37] dawachan commented on #408
Obtained feedback from Nate on the proposal and on the back of this Nate has added the website CTA to an overall brief/SOW document which he is intending to work on with a WP developer.

- Web Alerts
https://docs.google.com/document/d/1Auuq6fji21jPib_Wzu4ggDdhxNrQnTHBQwcqpAYhGc0/edit

Other areas Nate has agreed to help with I have assigned action items in this document to him:

- @Twitter
- Maili

[2018-01-17 12:42] seanh commented on #373
@ajpeddakotla @dawariley I wonder if we can close this? I think we need github issues as individual user stories, I'd be worried that a "bag of UX changes" issue like this one will be difficult to get done in an iterative / sprint-based fashion.

* Move sort and share icons down from top menu to the line below (so the icons share the same line as  annotations/notes tabs) - sounds like we should ma

[2018-01-17 12:45] seanh commented on #372
@ajpeddakotla Can we close this issue? The way Dawa and I split this one up:

* At first, publisher open groups appear at the top of the groups menu: https://github.com/hypothesis/product-backlog/issues/417
* Later (separate user story) groups are grouped under the publisher's name in the groups menu (and the publisher's groups still appear tat the top): https://github.com/hypothesis/product-backl

[2018-01-17 12:47] seanh commented on #371
I'm gonna close this. I've created a [separate issue for activity pages for open groups](https://github.com/hypothesis/product-backlog/issues/422). For restricted groups (formerly called "public groups"), there are problems with activity pages that will need to be solved before activity pages will work for restricted / public groups, see https://github.com/hypothesis/product-backlog/issues/424

[2018-01-17 12:47] #371 closed, assigned to nobody

[2018-01-17 12:48] seanh commented on #370
Oops, I created a separate user story for admin page for open groups: <https://github.com/hypothesis/product-backlog/issues/421>. I'm gonna close this one

[2018-01-17 12:48] #370 closed, assigned to nobody

[2018-01-17 12:51] seanh commented on #369
I'm gonna close this, we want to change how we work to work in terms of user stories not in "Implement the backend, then implement the frontend" sort of terms like we did in the past/

[2018-01-17 12:51] #369 closed, assigned to nobody

[2018-01-17 12:52] seanh commented on #333
@ajpeddakotla This only applies to "third-party groups" (i.e. eLife) and won't apply to the new first-party open and restricted groups. In this case, should we remove the groups label from this? (Maybe we need a separate 3rd-party groups label or just use the eLife label.)

[2018-01-17 12:53] seanh commented on #330
@ajpeddakotla This only applies to "third-party groups" (i.e. eLife) and won't apply to the new first-party open and restricted groups. In this case, should we remove the groups label from this? (Maybe we need a separate 3rd-party groups label or just use the eLife label.)

[2018-01-17 12:54] seanh commented on #298
@ajpeddakotla I wonder if we need a separate label for multiple accounts support? And remove the groups label from this. Multi account seems like a whole separate (big) project from groups to me

[2018-01-17 12:56] seanh commented on #269
@ajpeddakotla Can we close this one? I think this is covered by user stories like <https://github.com/hypothesis/product-backlog/issues/418> and <https://github.com/hypothesis/product-backlog/issues/419>. (Although I think the way this one is written up is a really excellent user story, maybe we should copy-paste some of the text into <https://github.com/hypothesis/product-backlog/issues/418>)

[2018-01-17 12:57] seanh commented on #169
@ajpeddakotla This only applies to "third-party groups" (i.e. eLife) and won't apply to the new first-party open and restricted groups. In this case, should we remove the groups label from this? (Maybe we need a separate 3rd-party groups label or just use the eLife label.)

[2018-01-17 13:07] seanh commented on #427
There was already an existing issue for [adding annotation counts next to groups](https://github.com/hypothesis/product-backlog/issues/260).

[2018-01-17 15:13] dwhly commented on #417
@seanh the images are broken (for me) ^

[2018-01-17 16:30] dwhly opened #428 "Self-serve groups"
This is part of our publisher and community user stories.

- Users can currently create private groups.
- We're imagining new groups which give new capabilities to publishers (page owners) and communities (groups of users).
- Currently we've imagined that initially Hypothesis admins would create these groups.

This story simply suggests that the groups may have been already created, and our admins

[2018-01-17 16:33] dwhly commented on #421
Possibly groups could have been created already, i.e. "self-serve":  https://github.com/hypothesis/product-backlog/issues/428

[2018-01-17 17:11] seanh commented on #417
@dwhly Images fixed in this one

[2018-01-17 19:55] judell commented on #427
What's the relationship (if any) of the 3rd-party machinery to this proposed machinery?

For example, could CNN (using 1st-party tech) and eLife (using 3rd-party tech) both implement open groups?

[2018-01-17 20:26] robertknight commented on #417
This afternoon in NY we had a discussion about one aspect of the requirements, which is whether an open group created by/for a specific publisher can be a) shown in the client on pages outside the publisher's domain and b) used to store annotations associated with URLs outside the publisher's domain.

Some people had assumed that open groups would be restricted to showing on certain domain(s) asso

[2018-01-17 23:55] dwhly commented on #417
I think when publishers create groups primarily for use over their domains, they probably expect that they will be used only for discussion of that content, and would be surprised/dismayed to find their group leveraged elsewhere.  And of course the group "PLOS discussions" would be a strange thing to take to content at eLife (for instance) for any legitimate purpose.

I suppose it's possible the a

[2018-01-18 11:13] seanh commented on #427
I'm thinking we'll make it work for first-party accounts and first-party groups first, and not worry about the case of third-party yet.

[2018-01-18 11:26] seanh commented on #417
I think the answer to this is no, we (and the publishers) don't want it to be.

Also no.

However, open and restricted groups for **communities** will have to be able to do both (a) and (b) (or rather, they just aren't restricted to a particular domain at all) so it's something we should design for being able to enable in the future.

My understanding is that both open and restricted groups **for

[2018-01-18 19:56] klemay commented on #198
Another user request came in today (#1969, added to Nick's original comment). Would also like to point out that this is an accessibility issue for those with low vision and/or who are colorblind.

[2018-01-18 20:07] klemay commented on #198
And yet another user request (#1968), added to Nick's card

[2018-01-18 22:28] klemay commented on #378
Another user request for this feature: https://hypothesis.zendesk.com/agent/tickets/1961

[2018-01-19 14:43] dawachan opened #429 "As Hypothesis we want to message our users so that we can gain feedback and make important announcements."
**Justification:**

Reaching out to users in-app for messaging, to gain feedback or to make important announcements is very common and employed by companies such as Slack or Trello.

We have the email addresses of our users but because of privacy restrictions we don’t currently have a reliable way to contact our users for product messaging, user research recruitment or marketing purposes. The foll

[2018-01-19 15:03] dawachan opened #430 "As Hypothesis I want to be able to contact our user base via in-app messaging."
Acceptance criteria:

**Done when:**

- [ ]  There is a documented procedure for showing an in-app message.
- [ ] The button is implemented according to the design specs as outlined below in terms of button style (background colour,  positioning).
- [ ] The message contains an icon (such as the speech bubble icon in the
mockup below).
- [ ] The message links to a web page, such as a Google doc or

[2018-01-19 15:20] dawachan opened #431 "As Hypothesis I want to be able to capture users comms opt-in consent on signup."
_Justification:_ We are unable at present to email our users for marketing, product or user research purposes and it is proposed that we introduce a form field on sign up to capture this opt-in preference which will unblock us from being able to contact our user base for research/testing, marketing and product improvements.

**High level SOW**

Add a checkbox with to the login screen to: https://h

[2018-01-19 15:22] dawachan opened #432 "As a User I want to be able to opt-in or out of my Hypothesis contact preferences in: https://hypothes.is/account/settings"
Acceptance criteria:

**Done when:**

- [ ]  TBD

**Details**

_Current settings form_
![current_settings form](https://user-images.githubusercontent.com/5212631/35157775-e63d370a-fd2c-11e7-8e5e-2f0fa65828d4.png)

_Revised settings form_
<Insert updated screen>

[2018-01-19 15:32] dawachan opened #433 "As Hypothesis I want to be able to email users a link to opt-in to being contacted."
_Justification:_

In our database we currently have over 70,000 registered users but no way to contact them directly via email as they didn’t opt-in explicitly to being contacted via email. In addition to the user story 1.2 to be able to capture opt-in preferences during the sign up form, we need to find a way to gather and up-date the opt-in preferences of existing users.

**Acceptance criteria:*

[2018-01-19 15:44] patmigliaccio opened #434 "As a Developer I want to be able to interact with an exposed public API for the client."
## Feature Request Form
### Problem you are trying to address with this feature
The ability to implement functionality within an external web application to interact with the Hypothesis client application.

A few examples of desired functionality:
1. Trigger a new annotation at a specific DOM range.
2. Destroy the client application removing all added DOM elements, events, etc.
3. Trigger the side

[2018-01-19 16:32] klemay opened #435 "Expand accepted characters for username syntax"
## Feature Request Form
### Problem you are trying to address with this feature
Currently, characters such as é are not accepted in usernames - as we expand our user base, people will want to use characters from their real names (and from various words in their native languages) as part of their usernames.

### Your solution
Consider expanding the charset to accept all Unicode characters. This won

[2018-01-19 17:46] robertknight commented on #435
IIRC the reason why usernames have a very limited character set and limited length is because that makes them "safe" to use in a wide variety of contexts where we might otherwise have to be somewhat more careful. These include URL paths.

Display names don't have these limitations, but we don't have a clear policy about we use them yet. See https://github.com/hypothesis/product-backlog/issues/397

[2018-01-19 18:37] klemay commented on #94
this also presents an issue when annotating video - see: https://twitter.com/threexco/status/954418362544676864

[2018-01-19 18:49] judell commented on #94
This is the experience I want, and am enjoying: http://jonudell.net/h/pdf-experience-in-experimental-extension.mp4

I've been using this code in the experimental extension for a while: http://jonudell.net/h/pagefit.js

A few days ago I realized it wasn't working for PDFs, so I put it directly into the pdfjs kit. And it works beautifully there, better than for random web pages because the HTML stru

[2018-01-22 00:54] judell opened #436 "allow media fragments"
One approach to AV annotation using Hypothesis, https://blog.jonudell.net/2018/01/06/annotating-web-audio/, relies on H page notes that refer to web resources that define AV segments of interest.

A weakness of the approach is that H swallows fragment identifiers, so syntax like `{url}.mp3#t=23,47` only makes it into the system as `{url}.mp3`. I think it's only possible to annotate a separate reso

[2018-01-22 12:27] dhwthompson commented on #412
Since this was background reading for a meeting that's now happened, along with the subsequent work to tease out the different use cases, I'm happy calling this complete.

[2018-01-22 12:27] #412 closed, assigned to sheetaluk

[2018-01-22 16:30] robertknight commented on #403
A thought that came up from a hangouts chat. Using RDS's tools AFAIK we can currently only restore the entire DB instance from a previous point, not individual DBs or tables. _However_, if we can restore a DB instance snapshot to a separate RDS instance then we can always get a logical backup by first restoring the snapshot to a new RDS instance, then dumping the table/DB of interest and finally r

[2018-01-22 16:34] segdeha commented on #403
Logical backups of the `lms` DB are still necessary at some point, I think. But from a risk management perspective, we can probably put it off if we're mitigating risk to `h` using the procedure above.

[2018-01-22 17:25] seanh commented on #417
- Rob: We need a group (at the domain level) that anyone can read or write (may already be supported?)
  Lyza: Need to determine what the domain model already supports
- We need a way to associate a group (or multiple groups) with a domain (or multiple domains!) that they should appear on
- It shouldn't **preclude** groups that are visible on multiple domains (e.g. community groups will need this

[2018-01-22 19:13] lyzadanger opened #437 "Upgrade or remove Bootstrap dependency on `h`"
## Feature Request Form
### Problem you are trying to address with this feature

`h` currently uses an out-of-date version of bootstrap on the admin pages. There are a few complexities to simply upgrading the package:

1. There's an odd peer dependency on `popper.js`; `popper.js` dependency also has to be introduced in order to get `4.0.0` to install and work.
2. Even when install "works", it brea

[2018-01-22 19:36] klemay commented on #232
An issue related to this came in via Zendesk today: https://hypothesis.zendesk.com/agent/tickets/1990

(the user thought replies weren't showing up because she changed the email address associated with her account, but Jeremy explained that this is expected behavior)

[2018-01-22 19:40] jeremydean commented on #232
I get this email all too often--this one 1/22/18:

[2018-01-22 19:47] judell commented on #232
Related to https://github.com/hypothesis/product-backlog/issues/378, these should probably coalesce.

[2018-01-22 20:02] klemay opened #438 "Use H in different languages"
## Feature Request Form
Request from user to offer Hypothesis in other languages (in this case, FR-CA) [came in via Zendesk
](https://hypothesis.zendesk.com/agent/tickets/1992) today. Logging this here in case similar requests come in the future; if that's the case we may revisit this.

[2018-01-22 21:49] klemay commented on #232
User-submitted issue: https://github.com/hypothesis/h/issues/4747

[2018-01-22 22:08] robertknight commented on #378
The technical approach taken here has a bunch of problems I described in the [second comment](https://github.com/hypothesis/product-backlog/issues/378#issuecomment-344356439). However we do index the IDs of all replies along with other metadata when indexing annotations for search which could be used instead.

For future reference, I have a proof of concept using this at https://github.com/hypothe

[2018-01-22 22:49] judell commented on #378
Much nicer, thanks!

[2018-01-23 13:55] dawachan opened #439 "Configuring the Hypothesis Client - Partner Guide"
I've started work on this document:

https://docs.google.com/document/d/1HGpOn3K2Rb89wNW7kX4-2vC_6CjBLOb4_tLjr4aiSPc/edit#

Goals:

To communicate to our partners what elements of the UI/UX are currently configurable in the Hypothesis client in layperson's teams.

Obtain developer input and answers to my outstanding questions in order to make sure I'm well equipped to present the options available

[2018-01-23 14:41] robertknight commented on #400
I had a brief stab at this at the end of December and learned a little but not a lot before breaking for the holidays. My notes are at https://hypothes-is.slack.com/archives/C074BUPEG/p1516718414000801

I leave figure the rest out as an exercise for the reader 😛

[2018-01-23 14:41] #400 closed, assigned to robertknight

[2018-01-23 17:15] klemay opened #440 "Activating Chrome extension over PDF causes page to refresh and jump to title page of PDF"
## Bug report form
### Steps to reproduce
1. Open a PDF (either saved locally or hosted elsewhere) in the browser (for example, [this one from MIT Press](https://mitpress.mit.edu/sites/default/files/titles/content/9780262018470_Open_Access_Edition.pdf))
2. Use one of the hyperlinks in the Table of Contents to scroll to a specific page (i.e., the start of Chapter 4)
3. Activate the Hypothesis Chrom

[2018-01-23 17:25] klemay commented on #198
A new review on the Chrome web store mentions this as well. Unfortunately, I don't see a way to link to reviews, so I am adding a screenshot:
<img width="613" alt="screen shot 2018-01-23 at 12 24 06 pm" src="https://user-images.githubusercontent.com/12087705/35290493-6ec50086-0038-11e8-87c5-7d1743bd52a2.png">

[2018-01-23 17:27] judell commented on #440
I'm not sure we can consider this a bug. When you are reading with H turned off, you are using Chrome's native PDF reader. When you activate H it reloads the PDF into a different PDF reader, namely the instance of pdf.js that the extension runs.

Perhaps we should consider this as a feature request: "Please retain the native reader's context when switching to annotation mode." I don't know whether

[2018-01-23 20:20] klemay commented on #130
I added the accessibility tag because this affects the experience of users who use screen readers.

[2018-01-23 22:26] klemay commented on #235
Another mention of notifications from Twitter today: ["As a site owner how can I interact if I don't know the annotations exist?"](https://twitter.com/ChrisAldrich/status/955928959136432130)

[2018-01-24 14:46] klemay commented on #111
Another user request from Zendesk today: https://hypothesis.zendesk.com/agent/tickets/2108

[2018-01-24 15:13] klemay commented on #406
[Client is reporting a similar error](https://hypothesis.zendesk.com/agent/tickets/2109) on newest version of Firefox.

I get the same error - I have to enable pop-ups for via.hypothes.is but then I'm able to log in. Not the end of the world, but pretty clunky for users. Not sure if there's anything we can do on our end, though, since this is a Firefox setting.

[2018-01-24 18:38] judell opened #441 "Recent Tags as an alternative to Top Tags in activity pages"
A user request:

I can confirm the problem. Here are mine:

![image](https://user-images.githubusercontent.com/46509/35350331-731aab80-00f2-11e8-82b6-9135c01ad530.png)

The top tags are no longer of interest. They pertain to once-active investigations that I've long since finished.  I'd much prefer Recent Tags, perhaps with Top Tags as a non-default option.

[2018-01-24 20:24] dhwthompson commented on #441
Another potential solution to this issue: change our definition of “top” from “most used ever” to something a little craftier, based on a combination of how frequently and how recently the tag was used. That would likely take more initial effort, but could save the extra complexity of supporting multiple modes.

Some prior art: [Mozilla](https://developer.mozilla.org/en-US/docs/Mozilla/Tech/Places

[2018-01-24 21:54] klemay commented on #441
[Linking to Zendesk ticket for tracking purposes](https://hypothesis.zendesk.com/agent/tickets/2112)

[2018-01-24 22:13] judell commented on #441
"frecency" ->yep, that'd be nice.

[2018-01-24 22:16] klemay commented on #198
Another user request: https://hypothesis.zendesk.com/agent/tickets/2116

[2018-01-24 22:28] lyzadanger commented on #417
I have written a [very long gist](https://gist.github.com/lyzadanger/7943a9484cfa2e2899916ff81959863c) that synthesizes various requirements docs and matrices combined with how groups are currently implemented in `h` and high-level model design considerations.

The tl;dr of that gist is:

1. **For open groups, I think the Group resource (i.e. the model) needs an additional constraint that defines

[2018-01-25 13:18] katrinleinweber opened #442 "option to set default tags"
## Feature Request Form
### Problem you are trying to address with this feature

Some conference websites offer one page/URL per presentation, session or panel, on which one can conveniently capture notes with hypothes.is. Usually, there is an official tag for the conference.

### Your solution

Upgrade tag elements that have been set with a `pin` button or long-press action. Activating this funct

[2018-01-25 14:32] robertknight commented on #442
Did the person asking about this say what they ultimately wanted to do with the tags?

If they are trying to find all the annotations associated with a particular conference, and if all the documents are on a particular domain or URL prefix (eg. https://organizer.org/conference-name/year) then perhaps being able to search on that basis would also solve the problem?

[2018-01-25 16:51] dhwthompson commented on #417
Here’s a first suggestion on the development areas we know of so far, along with provisional suggestions of who’s doing them. As our knowledge of these gets changed and refined, people should feel free to edit this list.

* [ ] changes in the client UI (and, slightly lower priority, activity pages UI) to accommodate these new groups (@sheetaluk with @robertknight )
* [ ] new/modified APIs to list

[2018-01-25 16:55] seanh commented on #417
Task breakdown from standup meeting:

- [ ] Spec API design @lyzadanger
- [ ] Client and h (activity pages) UI changes @sheetaluk and @robertknight
- [ ] Model @seanh with @fatbusinessman rubber ducking for the next 24 hours only
- [ ] We will need some sort of way for developers to create these new groups in dev environments (and soon enough devs may need to create them in prod at least for testi

[2018-01-25 17:17] klemay commented on #25
Related request, asking for sidebar on the left: https://hypothesis.zendesk.com/agent/tickets/2111

This user's needs would be met if the sidebar did not cover the window at all, but the option to anchor the sidebar on the left would also (I imagine) be useful for languages written/typed right-to-left.

[2018-01-25 19:53] katrinleinweber commented on #442
Well, I'm asking ;-)

The same as with all tags, I guess. Allowing easy aggregating of annotations regardless of domain.

Your hint about searching for the domain solves the problem for now though, thanks :-)

[2018-01-25 19:53] #442 closed, assigned to nobody

[2018-01-26 00:28] robertknight commented on #442
Ah, sorry about that. I wasn't thinking and mixed you up with someone who works at Hypothesis!

[2018-01-26 10:42] #399 closed, assigned to seanh

[2018-01-26 12:43] katrinleinweber commented on #442
No problem :-) With FLOSS projects, everyone is a co-worker.

[2018-01-26 15:16] robertknight commented on #422
I had a quick look at this today, a few things I encountered in testing while following up a related discussion:

- The Public group, which is an open group in the sense that it has no explicit list of members, does in fact have a URL: https://hypothes.is/groups/__world__/public . I'm not sure if this just happened or was explicitly designed.
- Groups pages are not shown to logged-out users, they

[2018-01-26 16:02] lpmarceau commented on #438
See Issue https://github.com/hypothesis/product-backlog/issues/324

[2018-01-26 16:40] klemay opened #443 "Issue with handling of percent-encoded characters in URL (?)"
_(robertknight's edit - 2018-01-27): I don't think the issue has anything to do with username changes. See https://github.com/hypothesis/product-backlog/issues/443#issuecomment-360946665 below_:

I got example links back that do and do not work - they were on different URLs. The example link that did not work was on this URL: https://flipboard.com/article/why-this-award-winning-psychologist-says-y

[2018-01-26 17:18] robertknight commented on #443
I was not able to reproduce locally following the steps above. Following some discussion with Arti, I looked at the actual annotations involved here and discovered that they were associated with a Slack URL which changed between the time the page was originally annotated (last August) and now, with a redirect in place.

This redirect would explain why the old annotation does not appear when visiti

[2018-01-26 17:35] robertknight commented on #443
After some local testing I don't currently have any reason to believe that there is a problem with username changes. The original author of the Zendesk ticket notes that all annotations show up _if he visits the original page directly_ but _not if he goes via the "View annotation in context" links_.

This suggests that the problem could be related to bouncer going to a different URL (eg. Via) rath

[2018-01-26 17:49] klemay opened #444 "Ability to see more than 50 tags associated with a group"
## Feature Request Form
### Problem you are trying to address with this feature
As a user, I want to be able to see all tags that have been used by a group, rather than just the top 50. From this Zendesk request: https://hypothesis.zendesk.com/agent/tickets/2113

For users who use many tags, would be useful on user activity page as well.

### Your solution
As of now, this can be done using the API

[2018-01-26 18:05] klemay commented on #443
Now I'm wondering - there was a similar issue that came up a few weeks ago that I thought was a fingerprinting issue with PDFs, but maybe it's actually related? https://github.com/hypothesis/product-backlog/issues/413

[2018-01-26 18:27] klemay opened #445 "H client doesn't work properly with NYT comments"
From Zendesk ticket: https://hypothesis.zendesk.com/agent/tickets/1996

## Feature Request Form
### Problem you are trying to address with this feature
When annotating comments on the New York Times website, the H client doesn't work as expected. If you highlight text within a comment, the "highlight" and "annotate" prompts don't appear (though you can still manually highlight/annotate in the side

[2018-01-26 18:32] klemay commented on #364
@jeremydean  - I was looking through related issues and came across this one. I'm able to activate the h chrome extension and make annotations (see: https://hyp.is/HZAdwgLHEeiyRuPB8CI25A/utc.iath.virginia.edu/uncletom/uthp.html)

It looks like they rebuilt the page without frames. Should we close this issue?

[2018-01-27 01:09] robertknight commented on #443
I got example links back that do and do not work - they were on different URLs. The example link that did not work was on this URL: https://flipboard.com/article/why-this-award-winning-psychologist-says-you-should-throw-out-everything-you-kno/f-2af8d2b1ed%2Finc.com . Note the "%2F" at the end and from an initial look, it appears that the problem may relate to this.

When the client fetched annotat

[2018-01-27 11:11] katrinleinweber commented on #442
No problem :-) With FLOSS projects, everyone is be a co-worker.

[2018-01-27 21:40] ajpeddakotla commented on #417
These edits were mostly undone, I've struck out this copy to avoid any confusion about which checklist we're using - @seanh

<del>After talking w/ Dan and walking through each of these acceptance criteria, I edited the acceptance criteria at the top, and have included the edits/original acceptance criteria here for record:

<del>Done when:

<del>- [ ] There's a documented process for a Hypothesis

[2018-01-29 16:32] judell commented on #203
An example we heard about today.

http://viatourism.revues.org/{id} redirects to http://journals.openedition.org/viatourism/{id}

For example:

http://viatourism.revues.org/1339 -> http://journals.openedition.org/viatourism/1339

Several batches of annotations on several openedition.org journals are now stranded.

[2018-01-29 16:33] klemay commented on #83
As we start to think about moderation and abuse prevention, "who created this group?" will be a helpful bit of information to surface.

[2018-01-29 23:00] malcook opened #446 "usability/UX suggestions"
A few suggestions:

Reinforce conception that a **highlight** is simply an **annotation** without any attached text!  Many things flow from this.

Use color to distinguish annotation from highlight.

Make the side-bar less intrusive.

Display it less!

Make the side-bar background (optionally?) be semi-transparent when you display it at all.

On click raise/lower of annotation sidebar is annoying

[2018-01-30 07:06] robertknight commented on #400
See also this documentation in the playbook: https://github.com/hypothesis/playbook/blob/master/docs/setting-up-ansible.md

It was written a couple of years ago so parts may be out of date, but this is probably still a useful reference.

[2018-01-30 13:10] seanh commented on #422
Worth noting that the Public group is not literally one of the new (not yet implemented) open groups. The results will likely be the same but we should re-test with open groups when we have them.

[2018-01-30 13:10] seanh commented on #422
The "N Matching Annotations" text that normally appears at the top of a group page is also missing from the public group:

![screenshot from 2018-01-30 13-08-26](https://user-images.githubusercontent.com/22498/35567959-d7c65f68-05be-11e8-945f-0829f418c2f1.png)

[2018-01-30 13:14] seanh commented on #422
We probably need to make sure that open groups don't appear in these search filter suggestions (there could be a lot of open groups that could constantly fill up the search suggestions, and no way to get them out of there):

![screenshot from 2018-01-30 13-11-46](https://user-images.githubusercontent.com/22498/35568071-6e17e50e-05bf-11e8-82e7-7fa46d7172d4.png)

[2018-01-30 13:15] seanh commented on #422
Same for this dropdown:

![screenshot from 2018-01-30 13-14-18](https://user-images.githubusercontent.com/22498/35568100-9228acc6-05bf-11e8-98cb-43429b4c05c0.png)

[2018-01-30 16:56] klemay commented on #444
As a way to get familiar with our API, I'm working on a really simple utility. This won't take up a ton of my time and definitely won't be an official part of the product, but it'll be a useful exercise for me as I get to know h better!

[2018-01-30 17:02] klemay commented on #446
Hi there,

Thanks for reaching out - feature requests and UX/UI suggestions from the community are always welcome. Some of these are already outlined in existing issues, so I'm going to link to them here. For the others, I'm going to create discrete cards and will link back here. Once that's done I'll close this issue, but you'll be able to follow your requests via their individual cards.

[2018-01-30 17:42] klemay opened #447 "Create annotations using only keyboard"
## Feature Request Form
### Problem you are trying to address with this feature
We need to enable users who don't/can't use a mouse to use our product. This is an accessibility issue for users with disabilities, and a productivity issue for other users who prefer to work from their keyboard as much as possible.

### Your solution
From user-created issue: https://github.com/hypothesis/product-backl

[2018-01-30 17:47] klemay commented on #446
## Sidebar
### Your requests
- Make the side-bar less intrusive.
- Display it less!
- Make the side-bar background (optionally?) be semi-transparent when you display it at all. (combining with "Make single annotation display be semi-transparent. Let user adjust where it pops up.")
- On click raise/lower of annotation sidebar is annoying to me. Too distracting!
- If you must keep the sidebar: it ap

[2018-01-30 17:47] #446 closed, assigned to nobody

[2018-01-30 18:51] klemay commented on #357
Request for this came in yesterday: https://hypothesis.zendesk.com/agent/tickets/2132

There was [discussion in Slack](https://hypothes-is.slack.com/archives/C2BLQDKHA/p1517251634000275) regarding whether we need to vet people who want to register OAuth clients.

The main questions are:
- Is our API secure enough to register anyone who asks?
- If yes, what information do we want to collect from pe

[2018-01-30 19:19] ajpeddakotla opened #448 "Declare open groups as authoritative over content"
## Problem:
Currently, there is no way for a publisher or website owner to declare an open group as the group that Hypothesis users should annotate in over their site (authoritative over their content).

## User Story:
* As a website owner or a publisher, I want to mark open groups that either I created, or that others created, as authoritative groups over my content, so that I can determine where

[2018-01-30 19:28] ajpeddakotla opened #449 "Groups should only show up on specific parts of a publisher's website"
## Problem:
Publishers need a way to specific that a group should only appear on part of their website instead of appearing on part of their domain.

## User Story:
As a website owner or a publisher, I want to mark an open or restricted group as authoritative over *part* of my website, or parts of my website.

## Acceptance Criteria:
- [ ] Publishers can identify a group as authoritative over thei

[2018-01-30 21:28] lyzadanger opened #450 "Establish API services for retrieving all applicable groups for a user"
As a Hypothesis user using a client (e.g. the Hypothesis client) to annotate documents, I want to be able to see a list of all groups pertaining to me in my current context.

This story supports #417

That is, the groups feature requirements complicate the question of "what groups should show up?" or "what groups does this user belong to?" Now there is also a notion of "What groups should show up

[2018-01-31 08:40] robertknight opened #451 "Provide more guidance in API authorization documentation about receiving the authorization code"
The documentation on how to use h's OAuth support at https://h.readthedocs.io/en/latest/api/using-oauth/ says:

1. We should provide an example of what this callback would look like for both a normal web application
2. We should include links to relevant documentation and links regarding how to use this in a Chrome extension, since this is non-obvious. For Google Chrome extensions the relevant doc

[2018-01-31 12:58] seanh commented on #422
Because the sidebar and "N Matching Annotations" text don't show on an open group's page (as noted) if the group has no annotations the page looks exactly the same as if you'd searched for a group that doesn't exist:

![screenshot from 2018-01-31 12-53-52](https://user-images.githubusercontent.com/22498/35624127-f4f6a81e-0685-11e8-9e44-3359dc77def4.png)

[2018-01-31 13:02] seanh commented on #422
If you search for an open group using the search bar (<kbd>group:Foobar<kbd>Space</kbd><kbd>Enter</kbd></kbd>) it doesn't redirect you, as it would if Foobar were a private group, to `/groups/<PUBID>/foobar?q=`. Instead you find yourself at a **very** similar looking but confusingly different page: `/search?q=group%3AFoobar` (this is not the group's home page and won't contain things like the grou

[2018-01-31 13:25] seanh commented on #449
I'd be interested to know what a **so that** clause in this user story would be? As a website owner or a publisher, I want to mark an open or restricted group as authoritative over part of my website, or parts of my website, **so that....**? I.e. _why_ do users want to do this? Can often be enlightening in figuring out what the solution should be.

I guess it might have something to do with certai

[2018-01-31 13:27] seanh commented on #449
I wonder if this user story is related to this existing card? <https://github.com/hypothesis/product-backlog/issues/423>. #423 is a stub about a whole slew of features where a publisher can control when different groups do and don't appear on what pages, and in what order. #423 would certainly need to be broken up into multiple smaller cards to implement, maybe this card is one of those. We'd prob

[2018-01-31 13:56] dawachan commented on #449
It depends which 'user' you're defining the story for:

For publishers - it allows them to determine where annotations show up in order to have greater control over the discussion around their content, thus improving the relevance and quality of discussion around articles in order to provide greater value to the end user.

For end users - it provides a better and more targeted experience, since an

[2018-01-31 14:03] heatherstaines commented on #449
Publishers are very concerned about where annotation happens and who can
create annotations.
We should develop a list of questions for them to determine precisely where
they want the publisher groups to appear.
For example, a group appearing on page with constantly changing content
(akin to a news website) will quickly result in orphaned annotations if
folks use a group there. Publishers may also

[2018-01-31 16:02] klemay commented on #232
Another request from zendesk: https://hypothesis.zendesk.com/agent/tickets/2137

[2018-01-31 16:15] robertknight opened #452 "Enable publishers to customize the user interface font in the Hypothesis client"
We currently enable publishers to customize the font family used to render annotation text and quotes in the sidebar via the `annotationFontFamily` and `selectionFontFamily` config params, in order to make the client better fit the look and feel of their site.

This accounts for most of the visible text in the sidebar, but not other elements of the UI such as the top bar. We have had a request for

[2018-01-31 16:31] robertknight opened #453 "Enable publishers to use custom fonts in the client"
Publishers can configure which fonts are used for certain parts of the sidebar, however those fonts currently have to be system font families which the browser already knows about.

Some (many?) publishers use custom fonts on their sites, using `@font-family` CSS declarations, and would like the client to use the same font in order to fit in with the look and feel of their pages. These fonts may b

[2018-01-31 17:13] klemay opened #454 "K-12 users not receiving activation emails"
### Problem you are trying to address with this feature
In many school districts, children under the age of 16 are not allowed to send or receive email outside of the school or district’s domain. This presents a problem for K-12 students who sign up for our service, as our activation email will be blocked. Sometimes, we receive emails from teachers or school/district officials asking about this. I

[2018-01-31 17:22] robertknight commented on #454
Hi @klemay - In addition to activation emails we also send emails for other purposes, such as notifying users about replies to annotations. Do these matter at all for these users or could we just live with these users not receiving these notifications?

If communication via email is not important then alternatively we could look at other ways to sign users up for accounts that don't rely on having

[2018-01-31 18:01] klemay commented on #454
Good point @robertknight. From a support perspective, I don't personally have a need to communicate with users via email, but I don't know if I'm qualified to say whether it's important in general for the company.

[2018-01-31 21:08] klemay opened #455 "Confusing UI on Notifications page"
### Problem you are trying to address with this feature
The UI for turning email notifications on and off is confusing. This comes out of a ticket sent to zendesk today: https://hypothesis.zendesk.com/agent/tickets/2142. To sum it up: " the fact that there is no "Save" button (or indication of the change being successful) makes for a confusing UI. The page should automatically save and refresh whe

[2018-02-01 10:54] seanh commented on #449
OK, this is awesome:

<table>
<tr>
<th>As as...</th>
<th>I want...</th>
<th>So that...</th>
</tr>

<tr>
<td>Website owner or publisher</td>
<td>to mark different open groups as authoritative over different part(s) of my site</td>
<td>I can determine where annotations show up in order to have greater control over the discussion around their content, thus improving the relevance and quality of discu

[2018-02-01 10:55] seanh commented on #449
@heatherstaines would a publisher want the Hypothesis sidebar to appear on a constantly changing page at all? That is, wouldn't they want to remove Hypothesis from that page entirely, rather than just remove a publisher group?

[2018-02-01 10:56] seanh commented on #449
@heatherstaines In this case would the publisher just want to remove their publisher group(s) from the page or would they want to remove Hypothesis from the page entirely?

[2018-02-01 11:01] heatherstaines commented on #449
That's a good question, and one for the publishers. We need to document the
pros and cons. I was very upset myself to find that a blog I was annotating
on was a page like this, causing all my annotations to be orphaned. My vote
would be to remove it, but it is situation dependent. Users might expect it
there. Any way we can detect such pages and issue a warning?

On Thu, Feb 1, 2018 at 5:55 AM, Se

[2018-02-01 11:01] seanh commented on #449
This is interesting. @heatherstaines do you think that publishers want to tell us what pages they want their groups to appear and not appear on (e.g. by answering a list of email questions, or by using a web form that we provide) and then we make it happen? Or would publishers be happy to have their own web admins or developers insert some simple code into their website pages, that would turn diff

[2018-02-01 11:02] heatherstaines commented on #449
In this case, I believe they would want it removed entirely. Again, a
question for them.
If they are a publisher allowing authors to annotate their own work, they
might only want the read only/restricted layer to be visible.
I think these questions should be part of the onboarding process for
publishers.
Thanks,
Heather

On Thu, Feb 1, 2018 at 5:56 AM, Sean Hammond <notifications@github.com>
wrote

[2018-02-01 11:03] heatherstaines commented on #449
I think it is highly likely that the people doing the implementing will not
completely understand the thinking of editorial when it comes to these
things, so it may be a combination of both approaches. Editorial/Bus Dev
and the tech teams at publishers don't always have the best internal
communications.

On Thu, Feb 1, 2018 at 6:01 AM, Sean Hammond <notifications@github.com>
wrote:

--
Heather Rul

[2018-02-01 11:34] seanh commented on #449
completely understand the thinking of editorial when it comes to these
things, so it may be a combination of both approaches. Editorial/Bus Dev
and the tech teams at publishers don't always have the best internal
communications.

_That's_ very good to know.

Will have to leave this discussion for now to concentrate on the features we're implementing first, but we'll come back to this, it seems lik

[2018-02-01 22:35] klemay commented on #111
User request from an education user: https://hypothesis.zendesk.com/agent/tickets/2145

[2018-02-01 22:39] klemay commented on #232
Another user requests this: https://hypothesis.zendesk.com/agent/tickets/2145

[2018-02-01 22:55] klemay opened #456 "Provide more options for sorting groups activity"
### Problem you are trying to address with this feature
As requested here: https://hypothesis.zendesk.com/agent/tickets/2145

Currently, annotations on groups pages are sorted by document and then by the order in which they were made. For education users, it's sometimes more useful to see group annotations by date rather than by document.

### Your solution
Jon's export utility allows for this, bu

[2018-02-02 11:09] dawachan commented on #408
All items on the 'to-do' list for this card have been completed and additionally followed up with Nate yesterday to get his input and status update for #1, 3, 4 in the list below:

1. Hypothesis Mailing List - **eta next week in the upcoming newsletter**'.
2. In-client
3. In-website https://web.hypothes.is/ - **pending work on inline messaging banner implementation - underway**
4. Social Media: Tw

[2018-02-02 11:16] dawachan opened #457 "Survey Launch - Phase 1"
Original Survey launch proposal card:
https://github.com/hypothesis/product-backlog/issues/408
(completed)

[2018-02-02 11:32] dawachan commented on #457
The survey is ready for launch when:
- [x]  Piloting is completed
- [x]  Final edits based on feedback included

**Launch Phases**

First phase launch:
- [x]  Copy is finalised for newsletter and social media channels.
- [x]  Copy is finalised for support enquiry users
- [ ]  New web.hypothes.is announcement banner is in place.

Copy can be found in original launch proposal doc: https://docs.googl

[2018-02-02 11:42] dawachan commented on #388
Almost ready to close this off since the UR roadmap and kick off deck was completed.
Final presentation of deck to new hires in calendar for next Thursday: 02/08

Needs to be broken down into new user stories to cover:

- Planning In-depth interviews
- Planning Usability testing
- Growing participant database
- Scheduling in participants for interview and/or testing.

[2018-02-02 14:14] klemay commented on #235
Another request from Twitter: ["Right now, I'm annotating as part of a group, and I'm wondering if there is a way for me to tag one of my group members in an original comment (so, I'm not replying to one of her comments)."](https://twitter.com/heymissk_/status/959235289133674497)

[2018-02-02 19:24] klemay commented on #236
Another user request via annotation on our developer docs: https://hyp.is/_UTaZgfCEeioDvt9-bhidw/h.readthedocs.io/en/latest/api-reference/

[2018-02-02 19:45] klemay commented on #283
This also happens with New York Times comments: https://github.com/hypothesis/product-backlog/issues/445 - could these be related?

[2018-02-02 19:59] ajpeddakotla commented on #417
Status Update based on today's demo - please feel free to correct I've got any of this wrong. We can discuss the state of this in sprint planning on Monday.

**Demo'ed today and in process of completing:**
- There's a documented process for a Hypothesis developer to create an open
group for a publisher
 - The developer must give the group a name
- The developer will specify the domain (e.g. cnn.co

[2018-02-02 20:03] lyzadanger commented on #417
Hi @ajpeddakotla  Your update doesn't include anything about the back end. Is that because the backend isn't relevant to the acceptance criteria here?

[2018-02-02 20:14] ajpeddakotla commented on #449
Closing this as it is a slight dupe of another ticket and will expand thoughts in #448

[2018-02-02 20:14] #449 closed, assigned to nobody

[2018-02-03 08:11] hmstepanek commented on #422
@seanh This confuses me because as a user I think I would find it confusing if I were trying to search for/filter by an open group and it wasn't in the list. Are you not supposed to be able to filter annotations by an open group?

[2018-02-03 13:54] heatherstaines opened #458 "Double "tall" selections when trying to annotate"
![screen shot 2018-02-03 at 8 52 36 am](https://user-images.githubusercontent.com/24781335/35767730-bdcdb95e-08bf-11e8-8d4e-1f129183726f.png)
## Bug report form
### Steps to reproduce
1.I'm annotating on a Climate Feedback article: https://climatefeedback.org/most-popular-climate-change-stories-2017-reviewed-scientists/
2. Using Chrome Version 63.0.3239.132
3. When I select text to annotate, it ap

[2018-02-05 12:34] seanh opened #459 "Deployed test publisher site for scoped (publisher) open groups"
We want to have a demo site for open groups which we can use to demonstrate the feature internally and potentially also to publishers in future.

The demo site should:

- [x] Consist of an "article page" for an imaginary publisher using styling as per the mocks below (@dawariley has attached design specs for header, footer, logo, icon and view annotation button)
- [x] Embed Hypothesis on the artic

[2018-02-05 14:02] dawachan commented on #459
Sean and I had a discussion about this card and we thought it would be good idea to make the publisher site be a 'realistic' publisher site and as we already have a 'BioPub' style with header and logo, title font and CTA to annotate.

![3 the user logs in to biopub](https://user-images.githubusercontent.com/5212631/35807505-e7fc5ffc-0a7a-11e8-963e-554a4266e2e2.png)
![6 the user expands the groups

[2018-02-05 14:11] dawachan commented on #459
- A minimal implementation could include a flat bitmap header of the BioPub site.

**Header**

![scipub header](https://user-images.githubusercontent.com/5212631/35808809-f606c99e-0a7e-11e8-9e23-619c054ca566.png)

**Background with header and populated body**

![scipub bground populated](https://user-images.githubusercontent.com/5212631/35808636-59f2f5fa-0a7e-11e8-9321-b2c89f458add.png)

- I can a

[2018-02-05 16:00] #364 closed, assigned to nobody

[2018-02-05 16:13] ajpeddakotla commented on #417
Sprint Planning:

- Currently, you can't specify the domains that are associated w/ the group
- At the moment, if you create a group and it doesn't have a domain associated, it shows up in the client on all sites.
-- (One solution) The API endpoint needs to not return open groups that don't have a domain restriction.
- Take the param and query and return the correct set of groups

[2018-02-05 17:26] lyzadanger commented on #422
As I mentioned in a call, the ability to show any open groups in the groups menu on activity pages needs to wait for now—we don't have a way to address this yet (and there could be hundreds, thousands, who knows, of open groups). This isn't the ultimate end point for this, but we need to address it separately.

[2018-02-05 19:07] klemay opened #460 "Allow for collaboratively edited Page Notes/Annotations within groups"
## Feature Request Form
[From Zendesk Ticket 2157 ](https://hypothesis.zendesk.com/agent/tickets/2157)

### Problem you are trying to address with this feature
"it would be great if group members could collaborate on a page note together (similar to how Google Docs allows multiple people to collaborate on one document). Some of my classmates and I are using Hypothes.is to annotate a document toget

[2018-02-05 19:17] klemay commented on #111
[Zendesk ticket 2155](https://hypothesis.zendesk.com/agent/tickets/2155):

[2018-02-05 19:18] klemay commented on #426
Request from education user in [Zendesk ticket 2155](https://hypothesis.zendesk.com/agent/tickets/2155):

[2018-02-05 19:20] dwhly commented on #111
Presumably with open groups we might also be able to reconfigure an existing group vs move the existing annotations over to a new group.

[2018-02-05 21:07] klemay commented on #198
## Summary
As a user, I want to be able to highlight in colors other than yellow so that:
- I can categorize annotations by type, topic, or importance (see Zendesk tickets #992, #1968)
-  I can differentiate between text that is highlighted vs text that is highlighted and annotated (Zendesk ticket #2116)
- I can easily see highlights, even if I am low/no-vision and/or colorblind

## User requests

[2018-02-05 22:26] #450 closed, assigned to lyzadanger

[2018-02-06 00:14] dwhly commented on #198
Great question.  My instinct suggests the same direction, namely private + within groups.  I don't think we want folks annotating in the public channel this way.  Or if they do, that their personal color choices aren't necessarily visible to all.  Private groups are different matter.

[2018-02-06 07:20] hmstepanek commented on #422
This is when I run the backend after creating an open group. No side bar is present.
<img width="1169" alt="opengroupsearchpage" src="https://user-images.githubusercontent.com/30059933/35846307-fb8bb590-0aca-11e8-968c-787465cccbce.png">

This is when I run the backend and I search for a group that doesn't exist. (This seems very wrong and like a separate issue/bug.) This behaves the same on prod.

[2018-02-06 15:32] lyzadanger opened #461 "Make `groups` API return scoped, open groups"
As a user, when using the client to annotate documents, I want to be confident that I am presented with the correct list of relevant groups for me—private _and_ open—in the correct order.

----

This issue is part of #417

As of #450, we have a new API endpoint for returning groups. This new endpoint contains several properties that may be necessary for the client to work with open groups and sepa

[2018-02-06 16:06] dwhly commented on #460
Old vision repo stub for this: https://github.com/hypothesis/vision/issues/83  We sometimes call this "Wiki-style" annotations.  Wouldn't necessarily have to just be a page note.

[2018-02-06 16:08] dwhly commented on #198
Old vision issue for reference: https://github.com/hypothesis/vision/issues/123

[2018-02-06 16:22] hmstepanek commented on #422
Open groups don't show up in the drop down.
<img width="1307" alt="opengroupsnotpresentingroupsdropdown" src="https://user-images.githubusercontent.com/30059933/35870593-e91267be-0b16-11e8-9bb7-5199d5a9cfd9.png">

[2018-02-06 16:24] lyzadanger commented on #422
Regarding

See https://github.com/hypothesis/product-backlog/issues/422#issuecomment-363157059

[2018-02-06 16:27] lyzadanger commented on #422
It's important to note—so I'll add it here!—that the groups that show up in the drop-down here are not obtained from the API. The activity pages do not make use of the API. This is a pattern for most (all?) web application elements that live in `h` itself (versus client). I think in an ideal future world the views here would make use of the APIs, or at least the same services as the APIs.

Instead

[2018-02-06 17:05] ajpeddakotla commented on #422
After discussing this w/ @hmstepanek @lyzadanger @dawariley here are the agreed upon acceptance criteria for this card:

Activity pages should show the following when it comes to open groups:
- [x] # of public annotations made in that group

- [x] Name of the group admins (so that H users know who created and controls that group)

- [x] Share link for group (so that H users can share the group)

-

[2018-02-06 18:13] robertknight commented on #459
Description & acceptance criteria updated following a call with @dawariley.

[2018-02-06 18:19] seanh commented on #459
"that group should be the default group selected when an anonymous or logged-in Hypothesis user visits the site" <- This isn't a feature that we've discussed for open groups yet. Currently the default group selected is, I believe, the group that you used last (if you're logged in, anyway). Do we want to override that? If we do I think that should be a separate card, not part of this one.

[2018-02-07 00:22] hmstepanek opened #462 "Non-existant group search returns all annotations rather than error message"
## Bug report form
### Steps to reproduce
1. In the search filter, search for: group: DoesNotExist (while logged in)
2. You will see the following:
<img width="1242" alt="searchfornonexistantgroupissue" src="https://user-images.githubusercontent.com/30059933/35891441-30509546-0b59-11e8-9c22-34b4156ef0a1.png">

### Expected behaviour
Should indicate that the group does not exist.

### Actual behavi

[2018-02-08 01:24] hmstepanek commented on #422
Update:
User is not logged in.
<img width="1277" alt="opengrouplandinguserloggedout" src="https://user-images.githubusercontent.com/30059933/35950226-616fdd7c-0c2a-11e8-9f75-722bea2f2c57.png">
Admin user/group creator is logged in.
<img width="1242" alt="opengrouplandingadminuserloggedin" src="https://user-images.githubusercontent.com/30059933/35950229-6532ba4c-0c2a-11e8-8967-1a9e3dc07296.png">
Un

[2018-02-08 03:53] judell commented on #375
Here's the simplest solution I can find:

https://github.com/judell/client/commit/0fc4efdbe824046b6ec941423c5347e9f4b2fc2f

Having some solution matters particularly when importing page-level comments, as from PubMedCommons. When a corpus like that is unannotated except for page notes,  you'd like those notes to show on page load.

And you'd like to not see `There are no annotations in this group

[2018-02-08 13:40] heatherstaines opened #463 "Hypothesis seems to crash my tab (Chrome and FF)"
## Bug report form
### Steps to reproduce
1. Trying to annotate on: https://emed.folger.edu/view/1644/AShrew in preparation for a demo in 90 minutes.
2. Page loads. Client loads. But when I select text, the whole thing freezes up. No buttons appear. Can't click to unselect. Nothing.
3. Same behavior in both Chrome and Firefox.

### Expected behaviour
Tell us what should happen.
Selecting text shou

[2018-02-08 13:58] robertknight commented on #463
Thanks for the bug report @heatherstaines , I was able to reproduce in Chrome 65 using the Hypothesis extension v1.62 on that specific URL.

With Chrome's profiler active while making a text selection, I see some pathological behaviour in the code which handles the selection event and tries to figure out where to show the annotation toolbar. The following is a _Bottom Up_ profile (innermost call a

[2018-02-08 14:06] heatherstaines commented on #463
Jeremy has let me know that the Folger folks won't need a demo, so I can show them other content. It would be good to find out what's happening on this page though. Thanks.

[2018-02-08 14:56] dawachan commented on #457
Updates:

Surveys now live
General Survey: https://goo.gl/forms/W0LiUZN5SaVAaLHk2
Exit Survey: https://goo.gl/forms/zHIbFE0QJ0HyK1Yg1

@klemay has incorporated user survey in support macros.
@heatherstaines shared link to survey on LinkedIn

Still to do: follow up with Nate about FB/Twitter social media channels, link on web.hypothes.is is pending revisions to WP site.

[2018-02-08 15:00] dawachan commented on #459
"Currently the default group selected is, I believe, the group that you used last (if you're logged in, anyway)." I believe this is the correct behaviour but without speaking with publishers and their users I wouldn't know the answer to this. But off the top of my head, as a user I imagine it would be helpful to default the active/selected group to the one you last selected. I would double check t

[2018-02-08 16:48] dawachan opened #464 "Hiding 'low-value' 'test' annotations from the client"
**Issue:**
In an effort to improve the relevance and quality of our content it is proposed that we investigate and implement a solution to hide the plethora of annotations that feature only the word 'test'.

Below is a comment made by @robertknight and @lyzadanger with respect to this issue:

@robertknight: To answer your Q @dawa we don’t have any automated filtering of annotations in the public c

[2018-02-08 16:53] xolotl opened #465 "confirm Tweets before posting"
## Bug report form
### Steps to reproduce
1. Share an annotation using the H. "Share" button.
2. Choose to share to Twitter.
3. On first tweet confirmation view, realize one wants to post from a different Twitter account.
4. Log out of the first Twitter account and log in to another.
5. The tweet is sent without another chance to modify its contents!!!

### Expected behaviour
Users should ALWAYS g

[2018-02-08 18:01] ajpeddakotla commented on #375
### Problem:
When there aren't any annotations, but there are page notes, the user is shown the annotations tab. They cannot see that there are page notes, unless they click over to the page notes.

### Current Behavior:
User sees this screen even if there are page notes on that page.
<img width="292" alt="screen shot 2018-02-08 at 11 59 52 am" src="https://user-images.githubusercontent.com/746352

[2018-02-08 18:47] klemay commented on #198
Another user request: https://hypothesis.zendesk.com/agent/tickets/2168

[2018-02-08 19:20] klemay commented on #413
Education user who would like to change the titles of documents on activity pages: https://hypothesis.zendesk.com/agent/tickets/2167

[2018-02-08 19:28] klemay commented on #127
Education user who would like to change the titles of documents on activity pages: https://hypothesis.zendesk.com/agent/tickets/2167

[2018-02-08 19:55] klemay opened #466 "Annotate 1:1 with another user"
### Problem you are trying to address with this feature

Two of the most common use cases for groups among educators are:
- Creating a group for a class to collaboratively annotate in
- Creating a 1:1 channel to annotate with individual students (usually for the purposes of grading & assignment feedback)

The second use case requires a laborious workflow for educators - they are required to create

[2018-02-08 20:19] jeremydean commented on #466
This is a super interesting idea for solving the problem--one I honestly hadn't thought of.

I had always imagined an @-like option in order to create a 1:1 annotation with a user.

The only problem I foresee with actually creating multiple groups is the UX issue of a teacher having n groups in their dropdown, which might be ok for a class of 20 but become burdensome in a larger class and from sem

[2018-02-09 14:26] dawachan commented on #422
After working with Hannah yesterday on the activity page, here's a mockup for the Open Group page. Note: the main changes (compared to private group which is included below for reference)

- The authority/domain name plus logo is featured at the top of the right side bar.
- Instead of a list of members, we have moderators.
- There is no link to 'Leave this group' only 'Edit group'.
- Instead of 'I

[2018-02-09 14:27] dawachan commented on #422
Note: adding the domain facet is also beyond the scope of this card, but in order for the mockup and UX to make more sense I added it for completeness and as a suggestion/point for future consideration.

[2018-02-09 15:28] robertknight opened #467 "Migrate h to Python 3"
Python 2 is gradually starting to reach end of life [1] and various libraries are starting to drop support for it. We are not under any immediate pressure to finish a migration but our codebase is mostly compatible [2] and AFAIK we no longer have any dependencies that are Python 2 only. Additionally Python 3 provides various functional and performance improvements across the language, runtime and

[2018-02-09 15:36] robertknight commented on #422
In the mockup above the group has a custom icon. There are a number of implementation issues around adding this [1] which means that I would suggest making adding the icon a separate task. Is that OK @dawariley?

[1] Off the top of my head we need to think about what format(s) we accept, where the icon is stored and how it gets uploaded.

[2018-02-09 17:04] dawachan commented on #422
@robertknight Absolutely - adding a custom logo should be a separate task, and agreed about the format, resolution, where and upload mechanism. In the first instance, I would say that until we move towards the self serve model they can email heather or me a logo and we manually check it's in the right format, resize and upload it to where it needs to go - thus limiting the implementation scope of

[2018-02-09 21:27] ajpeddakotla commented on #424
After discussing this w/ various team members, here's what I think a first iteration at restricted groups for publishers looks like:

1. Group creation: Groups are created by Hypothesis developers or Hypothesis team members using the admin panel (to start)

2. Group members: Are added by Hypothesis developers or Hypothesis team members (to start). Eventually, we want to give group creators the abi

[2018-02-12 15:43] klemay opened #468 "Ability to select groups from adder"
From Zendesk ticket: https://hypothesis.zendesk.com/agent/tickets/2190
### Problem you are trying to address with this feature
This user separates annotations into two private groups ("Things I don't understand" and "Things to ponder"). They would like to be able to select a group from the adder so they can easily switch between groups while annotating a single page/document.

This user's case cou

[2018-02-13 16:42] seanh commented on #424
I wonder whether we can have open group links like `hypothes.is/groups/xyz123/my-group` that are safe for users to share without giving out membership to the group, while at the same time still having our private groups have the exact same link `hypothes.is/groups/xyz123/my-group` shown in the same place in our UI, but if you share _that_ link then it irrevocably enables everyone to join and write

[2018-02-13 16:43] seanh commented on #424
@dawariley I think UX input needed on the UX problem with creating new annotations and private groups, noted in [this comment](https://github.com/hypothesis/product-backlog/issues/424#issue-289242739) above

[2018-02-13 19:12] klemay commented on #32
Related Zendesk ticket - a textbook website has been designed as a SPA and is causing issues: https://hypothesis.zendesk.com/agent/tickets/2203

[2018-02-14 08:52] dawachan commented on #424
Thanks @ajpeddakotla @seanh will be picking this up today! I proposed/presented a user flow for this in the original groups demo mocks/prototype I created awhile back. I will dig these up, and review in the light of this current card and attach/modify as necessary. Cheers!

[2018-02-14 13:23] dawachan commented on #422
Design specs to make the sidebar clusters make sense. As we introduce additional activity pages it is important not to carry/propagate inconsistencies forward in the UI. Have discussed/walked @hmstepanek through them.

![activity page - stylesheet](https://user-images.githubusercontent.com/5212631/36206373-08db533e-118a-11e8-9447-9174cb39368f.png)

![comparison_prod with design](https://user-image

[2018-02-14 13:40] dawachan commented on #424
**Scenario:**
When a group is selected where the group type is **restricted** there are several problems we need to solve pertaining to users inability to create/write annotations to:

**1. Disabling the adder functionality:**
Adder features 'Annotate' and 'Highlight' - since a highlight is technically an 'annotation without text' if the user does not have write permissions on a group we should di

[2018-02-14 14:05] nlisgo opened #469 "Indicate that annotation is created by author of content in publisher groups"
## Feature Request Form
### Problem you are trying to address with this feature
It would be fantastic if we could configure the client in such a way to indicate the hypothesis username of authors of the content being annotated on. It would also be useful to indicate which hypothesis usernames were recognised as staff of the publisher.

### Your solution
[code]

If the `usernameIcons` array is pres

[2018-02-14 14:11] dawachan commented on #424
**3. Hide the add note button**

The add note button is displayed in the bucket bar (classic theme) and in-line (eLife clean theme). Since a note is an unanchored annotation, and the user is in a restricted group we should hide the ability to add notes when the user does not have write permissions.

[2018-02-14 14:20] dawachan commented on #424
**Activity Pages for Restricted groups:** related to activity pages for Open groups card: #422 @hmstepanek is working on. This will need to be moved to a separate card but adding here for completeness.

![activity page - restricted group](https://user-images.githubusercontent.com/5212631/36210599-bcab1924-1196-11e8-8706-7aa27740941a.png)

The only difference between this screen mock and the Open g

[2018-02-14 14:37] nlisgo commented on #469
The size of the icon could be similar to the group list label icon.

[2018-02-14 15:00] jeremydean commented on #203
Here's another example:

digitalpedagogylab.com/hybridped/.* --> hybridpedagogy.org.*

for example:

http://www.digitalpedagogylab.com/hybridped/teaching-in-our-right-minds/

-->

http://hybridpedagogy.org/teaching-in-our-right-minds/

this is the second time that the publisher has changed their domain. previously, christof created this PR to help annotations re-anchor:

https://github.com/hypothe

[2018-02-14 15:06] dawachan commented on #422
@hmstepanek I made a comment in: #424 against the activity page for restricted groups design and I wanted to relay it here: the 'Edit Group' link only appears if you are the admin/creator of the group and you are looking at a group you have edit permissions against, otherwise this link will be hidden.

[2018-02-14 17:10] klemay commented on #324
Request for French via Zendesk: https://hypothesis.zendesk.com/agent/tickets/2208

[2018-02-14 17:20] dwhly commented on #469
Agree w/ this general concept.  Many have asked for this before.  Though @nlisgo, can I suggest that you drop the "In publisher groups" bit in the title?   It's a general thing that presumably should work inside a group or not.

Presumably we would need a way to signal an author or author, their username and which namespace / authority the username is with.

(Not sure the styling belongs here as a

[2018-02-14 17:22] hmstepanek commented on #462
There appears to be a test for the current behavior in tests/h/views/activity_test.py:
`def test_search_just_returns_search_result_if_group_does_not_exist`

[2018-02-14 18:36] dawachan commented on #422
@hmstepanek has confirmed this is the way the 'edit group' link exposed/hidden currently works.

[2018-02-14 20:01] dawachan opened #470 "EPIC: Search - Adding New Group Types"
As a USER I want to be able to find annotations and groups that are of particular interest to me.

Note: This needs to be broken down into individual cards for the current/upcoming sprints:

#510 Search - Adding open and restricted groups to Group: facet

**Justifications:**
The primary justifications for including open (and restricted non writeable groups) in the web view of the search tool and t

[2018-02-14 20:53] nlisgo commented on #469
Here is an example of what it might look like in the client.

<img width="1535" alt="mock-up-hypothesis-author" src="https://user-images.githubusercontent.com/383397/36227449-05c49252-11c9-11e8-8497-6f12199bb053.png">

[2018-02-14 20:56] nlisgo commented on #469
Maybe the configuration belongs in the `services` so that the usernames can be assumed to be in the authority set there.

[2018-02-14 23:26] dwhly opened #471 "Allow activity pages to render same HTML tags as sidebar"
## Feature Request Form
### Problem you are trying to address with this feature

Currently the activity pages don't support some of the HTML tags that the sidebar does.  For instance, the `<br>` tag is not supported in activity pages.  Some partners (e.g. QDR) have noticed and were relying on it for formatting.

### Your solution
Add limited HTML support. Harmonize w/ sidebar.

### Add tags - did

[2018-02-15 14:09] dawariley commented on #470
As a USER I want to be able to find annotations and groups that are of particular interest to me.

**Justifications:**
The primary justifications for including open (and restricted non writeable groups) in the web view of the search tool and the search results are:

To improve discoverability of annotations associated with groups.

Surfacing groups in the search results pages is a useful way for u

[2018-02-15 14:20] dawachan opened #472 "Search - Adding Organizations"
As a USER I want to be able to find annotations and groups belonging to organizations that are of particular interest to me.

**Current Search Facet**
The current faceted search does not include organization.
![screen shot 2018-02-15 at 14 14 08](https://user-images.githubusercontent.com/5212631/36260874-96c02244-125a-11e8-9846-beee255226de.png)

**Proposed Revised Faceted Search**
Includes organi

[2018-02-15 14:24] dawachan opened #473 "Improving the 'My Groups' control"
### User Story
As a USER I want an easy way to see all groups that are associated with me on my activity page, so that I can find and view annotations within particular groups.

### Background
At the moment the current groups control inside the search https://hypothes.is/search, user or activity page on web view contains the groups that I am a member or creator of. I am proposing that we extend th

[2018-02-15 16:12] dwhly commented on #459
At some point I think it would be great to have a PDF version of the test article available w/ H wrapped around that, and HTML <> PDF cross-format annotation available.  Obviously not MVP.  Wondering if we should use an actual article?  Perhaps from biorxiv?  We could ping them about whether they'd be ok w/ that... and they could perhaps suggest one from a friend of theirs that would be appropriat

[2018-02-15 16:13] dwhly commented on #459
@heatherstaines Probably should take a look at this since she's presumably going to use it too.

[2018-02-15 17:31] seanh opened #474 "Eng/SR Issue: PostgreSQL daily backup is missing"

[2018-02-15 17:34] seanh commented on #474
[David's incident report from when he temporarily cleared this problem previously](https://docs.google.com/document/d/1NDTlVxqvyJiDfoSsku0VjijVrILqtzMZYc70tp6vFWg/edit#heading=h.3de8xgxrwmfo)

[2018-02-15 20:33] heatherstaines commented on #459
Last used would be great. Would need to test it out to see if it is
annoying or not...

On Thu, Feb 8, 2018 at 10:00 AM, Dawa Riley <notifications@github.com>
wrote:

--
Heather Ruland Staines
Director, Partnerships
Hypothes.is
M: 203-400-1716
Skype: heather.staines

[2018-02-15 21:24] dwhly commented on #459
Yep.

When publishers have more than one publisher group, there should be a way to set the default. If there's a (default) publisher group in place, my gut is that we should probably switch the control to that group the first time the user arrives at the site.  Obviously if they then switch it to another group, we shouldn't keep changing it back.

Reactions?

[2018-02-15 22:21] lyzadanger commented on #461
https://github.com/hypothesis/h/pull/4815 satisfies all of these requirements but I hesitate to tick actual boxes until it's merged.

[2018-02-16 10:34] seanh commented on #459
Folks, this card (which is live in the current sprint) is just about deploying a simple-as-possible (but at least somewhat realistic looking) fake publisher site to a URL somewhere so that we have somewhere to test and demo our first iteration on open groups. We're talking about a single-page static HTML site here, showing an academic article and with Hypothesis embedded (the demo site may need mo

[2018-02-16 10:39] seanh commented on #459
I've deleted this acceptance criteria from the card. To remind everyone: our aim is to keep each sprint card as small as we can possibly make it, splitting it into multiple cards as much as we can, so we can deliver and ship each sprint card inside of one sprint. The acceptance criteria on this card are the acceptance criteria that define when this card is done. Since this card is in the current s

[2018-02-16 11:50] dawachan commented on #459
Design specs for the header showing sizing, spacing and colours.
![biopub_header_specs](https://user-images.githubusercontent.com/5212631/36306408-81b51d68-130f-11e8-93b7-80ce0760db89.png)

[2018-02-16 11:52] dawachan commented on #459
@robertknight Will slack you the BioPub logo and magnifying glass icon in white because GH doesn't support .svg files attached to comments.

[2018-02-16 12:16] dawachan commented on #459
Specs for the inline view annotations button

![annotate button specs](https://user-images.githubusercontent.com/5212631/36307226-185ecb6c-1313-11e8-820b-0fc915de1bef.png)

[2018-02-16 13:02] dawachan commented on #459
Footer Design specs
![footer_specs](https://user-images.githubusercontent.com/5212631/36308707-b3e543da-1319-11e8-9f57-e5016b18c2f2.png)

[2018-02-16 13:03] dawachan commented on #459
@robertknight can you let me know how I can see the initial commit? thanks!

[2018-02-16 13:05] seanh commented on #474
See also https://github.com/hypothesis/product-backlog/issues/396

[2018-02-16 13:06] dawachan commented on #459
Slacked SVG icons for FB, Twitter and LinkedIn directly to Rob as cannot attach inline.

[2018-02-16 13:09] dawachan commented on #459
Mock of BioPub showing Header, Footer and Sidebar with classic theme.

![biopub with sidebar and footer](https://user-images.githubusercontent.com/5212631/36308893-603397e0-131a-11e8-8f2c-3a0ca0e9215b.png)

[2018-02-16 14:03] dawachan commented on #457
Marking this as closed pending @xolotl pushing the CTA live on FB/Twitter/LinkedIn channels.

Will create another GH issue for the Phase 1 web.hyptothes.is banner link. Pending marketing/web redesign efforts.

[2018-02-16 15:00] robertknight commented on #459
An initial version of the site is now live at https://biopub.hypothes.is . The styling still needs to be refined to conform to @dawariley's detailed specs above.

[2018-02-16 17:30] robertknight opened #475 "Figure out how single annotation pages / the stream are going to work for open and restricted groups"
Timestamps on annotation cards link to a "single annotation page" at `/a/:id` which shows just the annotation on its own plus any replies. We haven't considered how this is going to work for annotations made in open and restricted groups.

There is also a thing called "the stream" at `/stream` which is less important and perhaps we can avoid worrying about that.

[2018-02-16 18:50] dwhly commented on #459
Looking great folks!

One thing that would be nice is if we could have a small treatment to address the overlap of the chevron/bucketbar w/ the header at upper right to keep it looking like an afterthought.

![screen shot 2018-02-16 at 10 43 51 am](https://user-images.githubusercontent.com/1413074/36323704-aa4f111a-1306-11e8-8612-38d5ca41322c.png)

One solution might be a little CSS to terminate t

[2018-02-16 21:13] dwhly commented on #424
Hmm. Here's the problem as I see it.

1. Clearly if a user comes to a page, with the sidebar closed (but sees that H is loaded on the page) and tries to select and nothing happens, that's bad.  Something obviously needs to happen.

2. One of the most frequent behaviors that we observed early on, was that a surprising number of people read documents by highlighting w/ their mouse.  Also, people sel

[2018-02-19 11:26] seanh opened #476 "Several client UX issues related to the inline nature of the annotation editor"
This is just a mega-issue to collect together in one place a list of UX issues to do with creating and editing annotations to consider.

I think there's actually several closely related issues with creating annotations in Hypothesis right now. I don't think any of these are necessarily problems with **the adder** per se, rather they're problems with the whole UX flow of creating annotations, for e

[2018-02-19 11:26] seanh commented on #424
In case it's useful context: I think there's actually several closely related issues with creating annotations in Hypothesis right now. I don't think any of these are necessarily problems with **the adder** per se, rather they're problems with the whole UX flow of creating annotations, for example I think the **annotation editor** in the sidebar is implicated in many of these. Here's just some off

[2018-02-19 11:33] dawachan commented on #424
If we are going to support annotation behaviour even if only 'Post to me' functionality within the sidebar, then I'm not sure we need to change the current adder behaviour. I see your point @dwhly about introducing 'an adder which explains that they're in X group, which is read-only.' But this could equally be handled by the sidebar messaging and not in the adder itself since the basic functionali

[2018-02-19 11:38] dawachan commented on #424
@dwhly I like the suggestion to make an "adder which is more properly responsive to context, and can shortcut you to what you need to do (login for instance) straightaway" or view read-only annotations (in the logged out context).

[2018-02-19 11:42] dawachan commented on #476
Thanks for collating these issues @seanh. It's a massive undertaking and agree that it needs to be a separate albeit related effort to Restricted groups. I would like to sync with @ajpeddakotla when she is back in with respect to the prioritisation of fixing some of the more pressing UX issues with respect to annotation behaviour vs. the groups work we are currently tasked with.

[2018-02-19 11:54] seanh commented on #424
I think we should avoid doing things where the UI doesn't work so we display a message telling the user why it doesn't work, e.g. an adder or sidebar messaging that explains they're in X group which is read-only. This doesn't best enable the user to do what they're trying to do (create an annotation). So I think the adder (or more generally create annotation flow) that is responsive to context and

[2018-02-19 12:02] dawachan commented on #459
I agree that we need to make the way the sidebar sits on top of underlying content look visually more appealing and that it belongs together. We can do this with our test publisher site and make them sit 'side by side' and fix it in this one instance. However, I'd like to explore a solution that makes our sidebar appear more seamless across *any* page we look at and not just one where we need to t

[2018-02-19 12:08] dawariley commented on #424
I think we're all agreed on this @seanh.

[2018-02-19 12:09] dawachan commented on #424
Hypothetical question: if there was no possibility to annotate (i.e. post to me) was disabled in a read-only groups context a) would the adder still exist and b) where would it 'short cut' users to?

[2018-02-19 12:16] dawachan commented on #424
In such a scenario, would it be legitimate to include a CTA which opens the sidebar in read-only mode and would it be helpful to message users either before they click the link or after.. that they are unable to annotate and why?

[2018-02-19 12:30] dawachan opened #477 "Fixing the design of the left side toolbar to work better with underlying page content"
**Justification:**

Depending on the underlying page content, background and header colour the current design of the sidebar does not work so well and appears 'broken' and is visually distracting.

This issue has been highlighted in separate card in relation to the publisher's test site: #459. A quick fix to make the sidebar work better with the underlying page elements is to modify the CSS/HTML a

[2018-02-19 12:34] dawachan commented on #459
As referenced above. A new issue exists for fixing this issue more globally #477, but as per @dwhly's request I'm happy to proceed with modifying CSS/HTML in this one instance to make the sidebar visually align better with the underlying header/page content.

[2018-02-19 14:29] dawachan opened #478 "Improve access to 'All My Annotations' from the sidebar"
**Justification:**

At the moment, the only way for users to view all their annotations is to click the profile icon within the sidebar to expand it, and then click their username to go to web view and see all their annotations.

A tool tip appears 'View all your annotations' on rollover.

![screen shot 2018-02-19 at 14 26 11](https://user-images.githubusercontent.com/5212631/36382457-da84fd96-158

[2018-02-19 14:33] dawachan commented on #424
I'd rather not design for a hypothetical scenario, until we decide which use case(s) with respect to annotation behaviour within a restricted/read-only group will be supported. Thanks!

[2018-02-19 17:52] robertknight commented on #459
The [biopub.hypothes.is](https://biopub.hypothes.is) has been updated based on the designs above, plus I have made it responsive. The only thing I haven't yet implemented is the search bar on the right-hand side.

[2018-02-19 19:19] dawachan commented on #424
@dwhly and I sync'd about annotation behaviour for Restricted groups functionality. Here's what was figured out:

- Users should still be able to 'Post to only me' within a Restricted group.
- 'Only me' annotations should live outside of the group context and be readily accessible through the scope control e.g introducing 'Only me' as an option to filter sidebar annotations by annotations made onl

[2018-02-19 19:26] dawachan commented on #422
@hmstepanek Please see the issue referenced in https://github.com/hypothesis/client/issues/644 - show actual date vs month, year.

Instead of February, 2018 becomes: January 3, 2018.

n.b. This assumes that we are storing the date stamp in addition to month + year.
Also we might want to factor in regional differences e.g.

UK date format: 3 January, 2018
US date format: January, 3, 2018

Let's fol

[2018-02-19 19:29] dawachan commented on #422
Also since we don't yet have a truly responsive web implementation, the spacing on mobile increases significantly with the new spacing/positioning of elements for the web specs. This might cause an issue on a smaller device so let's follow up tomorrow @hmstepanek on this as well.

[2018-02-19 19:40] dawachan commented on #424
Note: the revised implementation of 'Only Me' assumes that private annotations will be stored on the  same namespace for the account the user is currently authenticated against.

e.g. Hypothesis is implemented for a publisher on a third party namespace, and a user is logged into that publisher's annotation service 'Only me' annotations will be stored against the third party namespace user account.

[2018-02-20 12:22] dawachan commented on #424
I've spoken at length with @seanh this morning and it might make sense for v1 to switch the scope of the groups menu to 'Only me' when the user clicks 'Annotate'. I think this is worth exploring, but I need a little more time to think this through as we might need to introduce a short cut to view the Restricted group annotations associated with the current page/content within the Adder or a shortc

[2018-02-20 12:26] dawachan commented on #424
The alternative is to persist the user on the group they currently have selected or the default group scoped for the page (e.g Restricted Publisher group) and have the 'Post to Me' annotation editor create an annotation which doesn't persist on the screen after the submit button is pressed. A user would then have to navigate to 'Only me' to view the annotation they just created. I need some time t

[2018-02-20 12:39] dawachan commented on #459
Thanks @robertknight. I've reviewed and looking good. Couple of points:

- Can we make the logo be the favicon for this particular page albeit the black version. I'll slack it you :)

- Increase the spacing between the topbar navigational elements by half again. I think it could benefit from a bit more space.

- Can we reverse the onHover state of the View Annotation button so that the brighter, m

[2018-02-20 15:01] #461 closed, assigned to lyzadanger

[2018-02-20 15:19] lyzadanger opened #479 "Design model for permissions, capabilities for group resources (API)"
As a client making requests against the Hypothesis API services, I need to know some additional things about a group resource, for example (but not limited to):

* Can this user join this group?
* Can this user put an annotation in this group?
* Does this group have an activity page?
* Can this user leave this group?
* Can this user moderate or administrate this group?

----

We're marching toward

[2018-02-20 15:46] lyzadanger commented on #479
Note: The permissions (ACL) configuration for group models does treat `join` as a permission, so it is likely consistent to model it as such.

[2018-02-20 16:05] #474 closed, assigned to seanh

[2018-02-20 16:28] dawachan opened #480 "Rapid Iterative Testing for Open Groups"
Done When:
- [ ] Write testing script
- [ ] Dependent on integration timelines, book testing sessions

[2018-02-20 16:42] ajpeddakotla opened #481 "SPIKE: Research how we can group "groups" by publishers"
To be filled out by Arti

Issues tagged in this Spike: <del>https://github.com/hypothesis/product-backlog/issues/418</del> https://github.com/hypothesis/product-backlog/issues/497

[2018-02-21 15:59] lyzadanger opened #482 "Convert `GET /api/profile` groups to match those returned by `GET /api/groups`"
Right now, `GET /api/profile` returns a list of `group` objects. These are no longer used by new versions of the client, which uses `GET /groups`, but there are a few issues to consider.

The list of groups returned by `GET /api/profile` _does not match_ that of `GET /groups`—specifically, `GET /api/profile` will return _unscoped_ open groups (and does not accept the `document_uri` parameter to ma