[2019-03-25 16:05] hmstepanek commented on #978
https://stackoverflow.com/c/hypothesis/questions/177/178#178

[2019-03-25 16:10] dmfine commented on #968
Looks like the best way forward is adding a syslog handler to the log config of each application. Bouncer does not have a config file so it will be a separate challenge. https://help.papertrailapp.com/kb/configuration/configuring-centralized-logging-from-python-apps/#send-events-using-pythons-sysloghandler

[2019-03-25 16:11] dmfine opened #979 "Setup log filtering on Papertrail"
After logs are going to Papertrail, setup filtering on there for logs we don't want.

[2019-03-25 16:13] dmfine opened #980 "Transition builds to new Jenkins with Blue Ocean"
Replace old jenkins with new one. Build and deploy our apps.

[2019-03-25 19:50] lyzadanger opened #981 "Via: Convert Cloudflare exclusion list into Via (code) blacklist"
We've got a few custom Cloudflare exclusions set up for Via—it's a fast method for blocking things. However, some cleanup is needed: we should convert these into the via blacklist (maintained in code) _or_ we should change/codify the process.

[2019-03-25 19:52] lyzadanger commented on #978
Thanks!

[2019-03-25 19:52] #978 closed, assigned to nobody

[2019-03-25 19:59] #963 closed, assigned to dmfine

[2019-03-25 20:18] #928 closed, assigned to dmfine

[2019-03-26 09:36] pivic commented on #899
Hi, @judell! Thank you so much for posting a workaround for Brave.

I'm actually both a fervent user of Brave and Hypothesis. However, I'm not tech savvy enough to use your suggested workaround to be able to annotate PDFs in Brave.

Could you please provide me with information on how to apply your resolution to make things work? I'd be very grateful.

Thanks!

[2019-03-26 12:13] robertknight commented on #882
We didn't get to this in the last sprint as other work took priority. This is assigned to me still to resolve one way or another.

[2019-03-26 12:42] dwhly commented on #882
I think there are three steps here:

1. Whitelist elifesciences as having H embedded. (embed_detector.py?)
2. Remove the particular bit of code that says "if this site is elifesciences, then don't show the share box."
3. Then, perhaps later as you suggest, a fancier next step so that our code passes on when it's embedded through the bouncer link (though of course that would suffer from a time lag

[2019-03-26 16:30] judell commented on #899
Hi @pivic,

The patch shown above can be applied to a build of the Hypothesis client, that's how I tested the workaround. To apply the patch requires the procedures outlined here,  https://h.readthedocs.io/projects/client/en/latest/developers/, and then here, https://github.com/hypothesis/browser-extension. It's nontrivial to perform those steps, and the result is an extension that -- while it can

[2019-03-26 20:35] ajpeddakotla commented on #971
closing this as issues have been resolved

[2019-03-26 20:35] #971 closed, assigned to dmfine

[2019-03-27 00:07] hmstepanek commented on #975
So based on our discussion earlier today,
When a group in Currently Viewing is no longer the selected group, it should remain in the Currently Viewing section. My concern is the name Currently Viewing sounds like the user has that group currently selected which is not the case in this scenario.

We also said that the group should remain as the focused group the next time the user visits the page e

[2019-03-27 00:54] hmstepanek opened #982 "Cleanup outstanding user registrations"
We currently have 26,014 user's with activation id's. Meaning they created an account but did not complete the confirmation process. 14,346 of these are more than a year old. I wonder if we should clean these up? Having a bunch of unused data can affect query times not to mention I think we have to pay for the space. Perhaps this could be a lambda job or something. Send them an email if they don't

[2019-03-27 13:14] #908 closed, assigned to nobody

[2019-03-27 13:44] seanh commented on #982
Would it be possible to do this using a Celery periodic task? I'd prefer not to add Lambda to our stack, if we can avoid it

[2019-03-27 13:45] lyzadanger commented on #982
I had a question about what the user experience would be for this if they do attempt to use an activation link for a registration that we delete. I presume we have sensible error handling for that, but it seems worthwhile to verify!

[2019-03-27 15:06] hmstepanek commented on #982
^ Good question @lyzadanger. @seanh Yes that's fine too.

[2019-03-27 17:02] dmfine opened #983 "Add bandit to CI pipeline"
Bandit is automated code security analysis, which will check off a box for HECVAT
https://github.com/PyCQA/bandit
Have make lint run it for h and lms

[2019-03-28 14:46] klemay opened #984 "Provide more information on signup confirmation page"
Our signup flow has changed since I opened https://github.com/hypothesis/product-backlog/issues/654, so I'm closing that in favor of this issue.

Now, when someone creates an account, they remain at https://hypothes.is/signup, and they see this:

<img width="529" alt="Screen Shot 2019-03-28 at 10 40 02 AM" src="https://user-images.githubusercontent.com/12087705/55166797-27df0a80-5146-11e9-95a1-9a3

[2019-03-28 14:46] klemay commented on #654
Closing in favor of https://github.com/hypothesis/product-backlog/issues/984 now that the signup flow has changed

[2019-03-28 14:46] #654 closed, assigned to nobody

[2019-03-28 15:27] hmstepanek commented on #975
The settings live in src/annotator/config/index.js. A new url fragment parser would be introduced into src/annotator/config/settings.js. Note the settings that are available to the sidebar part of the client are filtered with a whitelist in src/sidebar/host-config.js so the new setting must be added to the whitelist. The groups are loaded in src/sidebar/services/groups.js. This is currently where

[2019-03-28 15:48] hmstepanek opened #985 "Write SLOs to align with identified SLAs"
Make a list of SLO's that are measurable ways of making sure we are meeting our SLA's.
The SLA's are here: https://github.com/hypothesis/product-backlog/issues/978.

[2019-03-28 16:31] hmstepanek commented on #975
Note if we enable linking to a particular group it follows that we would be able to link to particular annotations in that group. This of course would require fetching groups for the annotations as well. The alternative would be to disable sharing of annotations via the #annotations url in a group that is out of scope.  To simplify things at the moment it would probably be easier to disable sharin

[2019-03-28 16:37] lyzadanger commented on #975
I don't entirely understand this...but it sounds related to something that Rob was talking about regarding the URL query syntax. Can you check in with @robertknight ?

[2019-03-28 16:44] hmstepanek commented on #975
Possible error states: It's possible that the requested group was deleted (aka: the link is outdated) or the user doesn't have permission to view it (since nothing is stoping a user from constructing their own url of a private group that they aren't a member of)-prob want to show a 404 here?

[2019-03-28 16:48] lyzadanger commented on #975
All of these cases would result in a 404 from the API. I don't know the best way, if any, to present this to the user, as a literal 404 could indicate any number of actual problems. @robertknight any UI-level thoughts on this?

[2019-03-28 17:11] dwhly commented on #984
@klemay the fact that an email takes 5 minutes is a real problem.  Can we create an issue for this / a spike to investigate our average turnaround times for activation emails & standard deviation?  What is the longest time it takes, what is the shortest time when working well, etc. If mailchimp/mandrill is not reliable then perhaps we need to investigate options. We should prioritize that spike.

[2019-03-28 17:30] hmstepanek commented on #975
Possible legal/illegal states of requesting a group:

Restricted Groups:
1. The group is a restricted group, the user is not a member, the group is not scoped to the page, the group scope is enforced. The api request gives us back the group and the client would have to be responsible for filtering out the group since it should not be visible to the user.

1. The group is a restricted group, the us

[2019-03-28 17:37] hmstepanek opened #986 "Linking to #annotations in groups that don't normally show up on the page"
With the introduction of community groups or the ability to link to a group that wouldn't normally show up on a page, there is the possibility that a user may also link to an annotation made in a group that wouldn't normally show up on the page.

The current assumption in the client implementation is that a user would never link to an annotation outside of the usual groups list so this case is not

[2019-03-28 17:40] hmstepanek opened #987 "Support new groups link in bouncer"
As part of https://github.com/hypothesis/product-backlog/issues/975, we need to support the new group url in bouncer. Bouncer acts as a "middle man" between the link the user has and routing the user to the page and displaying the group (whether it's displayed via the browser extension or via).

[2019-03-28 17:46] hmstepanek commented on #975
We need to agree on an "api" for this new group url. The api we currently have is:
`#annotations:ANNOTATION_ID`
`#annotations:query:QUERY`

@robertknight suggested adding:
`#annotations:group:GROUP_ID`

Note the `#annotations` is a trigger name for the browser-extension to open. There is a possible refactor to make here in that, since we are expanding this api and anticipating that it may be expan

[2019-03-28 20:11] klemay opened #988 "Spike: How long do activation emails take?"
As mentioned in #984, users are getting stuck at the account creation process. This came up from a conversation Dan had with a potential partner, and I get up to 10 emails/month from users who say they haven't received their activation emails.

Users expect to get the activation email instantaneously, and they can't start annotating until they click the link in the activation email. When I tested

[2019-03-28 20:14] klemay commented on #984
@dwhly I agree. Created https://github.com/hypothesis/product-backlog/issues/988 (now in the To Review column of Product backlog) and https://github.com/hypothesis/support/issues/62 (will be picked up as I prepare the March support summary in a few days).

[2019-03-28 20:31] dwhly commented on #986
Can you explain this?  Don't understand.

[2019-03-28 20:33] dwhly commented on #988
I wonder:  For every person that complains, how many don't?  1 to 10?  to 100?  Curious if there's a rule of thumb here.

[2019-03-28 22:44] hmstepanek commented on #986
We currently allow a user to link to a particular annotation (for example: https://www.griffinbenefits.com/employeebenefitsblog/history_of_healthcare#annotations:MnV6mlEbEemiPsPkhIokMw). In the case of community groups this means a member of a restricted group not scoped to the page may chose to share the annotation with a non member user by clicking the share link on that annotation. In this scen

[2019-03-29 15:26] hmstepanek commented on #975
Annotations are requested here: https://github.com/hypothesis/client/blob/a3c6dd465b7cc5fbf749d9fbf74b962f972468f8/src/sidebar/components/sidebar-content.js#L114. It grabs anns from all the groups if a specific ann is requested or anns for a the focused group if there isn't a specific ann requested.

[2019-03-29 16:03] hmstepanek commented on #975
The selected annotation is filtered here: https://github.com/hypothesis/client/blob/2b4ded56c181e32a9f859006c3254864e581acce/src/sidebar/components/sidebar-content.js#L234

[2019-03-30 21:58] dwhly commented on #975
I get the reasoning behind why we might want a trigger that is more specific to H than "annotations", (Genius used the same #annotations fragment, and both their sidebar and ours would trigger if both our chrome extensions were present).  But there's also an argument to standards here that we should consider.  If we're going to potentially have these links embedded at scale around the web, what is

[2019-04-01 07:16] robertknight commented on #975
I'm happy for us to explore ideas around a documented syntax which can be used by multiple clients but I don't want to let those discussions delay us from delivering Community Groups to users. We can always implement support for alternative syntaxes in future. My understanding is that we do not expect users to generate these `#annotations:group:...` links themselves, but they will use the bouncer

[2019-04-01 07:32] robertknight commented on #975
I have a bunch of thoughts around potential interoperability / standardisation of `#annotations` fragments, but I'd like to propose that we continue that discussion in a separate issue.

[2019-04-01 14:18] dwhly commented on #975
Yep. Apologies if my comment came off as suggesting that. :)

Yes-- though unfortunately, the flow is such that what ends up visible in user's address bars, and thus most liable to be copied and pasted after the fact, is the resulting fragment.  We see quite a few of these in the wild, and I imagine that trend will only continue.

Yep.

[2019-04-01 14:38] dwhly opened #989 "Consider interoperability in our #annotations fragment syntax"
## Feature Request Form
### Problem you are trying to address with this feature

Right now our bouncer links resolve to an #annotations fragment that passes the necessary annotations and search facets to our client.  This syntax is a likely point of intersection with the broader movement towards an ecosystem of interoperable clients and services, and the links that use these fragments are likely t

[2019-04-03 19:49] BigBlueHat commented on #989
What if we used the `rel` attribute terminology and a more generic fragment identifier to support other similar use cases of a primary resource + related content (and it's relationship). For instance, using the [Web Annotation Protocol's discovery mechanism](https://www.w3.org/TR/annotation-protocol/#h-discovery-of-annotation-containers) as a foundation, the examples [from #975](https://github.com

[2019-04-03 21:38] judell commented on #989
A couple of questions about fragment-related interop:

1. Early SPAs relied on fragments. Now, thanks to the history API, they don't have to. Should interop with frag-dependent SPAs be a non-goal?

2. Other fragment-oriented syntaxes are not namespaced:

http://example.com/data.csv#row=4 (not #data:row)
http://example.com/foo.mp4#t=10,20 (not #media:t)
http://example.com.pdf#page=35 (not pdf:page)

[2019-04-03 23:51] BigBlueHat commented on #989
Some SPAs still use fragment identifiers to support full-screen display or simply to avoid potential server hits at more than one URL. Additionally, Google Analytics (etc) sometimes use fragments for tracking codes, so being able to mix these new fragment identifiers seems like an important feature for developers.

Those aren't name spaced because they are the only fragment systems supported by th

[2019-04-04 00:51] hmstepanek commented on #975
TODO's:

- [ ] add documentation for new group setting/fragment.

[2019-04-04 17:05] hmstepanek commented on #975
How to filter out groups in cases where both a linked to annotation and a linked to group are provided and the linked to group is not normally in the list of groups: https://hypothes-is.slack.com/archives/C1M8NH76X/p1554397519016100

[2019-04-05 11:54] gakonst commented on #899
That worked.

I saved the patch as `brave.patch`.

Then:
[code]

Finally, I loaded the `build` directory as an unpacked extension and everything works as advertised.

[2019-04-05 11:57] pivic commented on #899
Hi, Georgios!

Thank you so much; however, I'm a far less brave and tech-savvy person than
yourself. I understand that one has to get that code into a Chrome
extension that one sideloads into Brave, but I don't even know where to
start with that, so I'll leave this for more knowledgable people to handle.

Thanks again, though! I'm sure that your help will aid others!

Cheers,
Niklas

On Fri, Apr 5

[2019-04-08 15:21] hmstepanek opened #990 "Handle legal/illegal linking to a group"
Possible legal/illegal states of requesting a group:

Restricted Groups:
1. The group is a restricted group, the user is not a member, the group is not scoped to the page, the group scope is enforced. The api request gives us back the group and the client would have to be responsible for filtering out the group since it should not be visible to the user.

1. The group is a restricted group, the us

[2019-04-08 15:23] hmstepanek opened #991 "Document `/go?group={id}` query param in bouncer"
Add documentation for new fragment: #annotations/groups/GROUP_ID.
Partial fix for https://github.com/hypothesis/product-backlog/issues/975.

[2019-04-08 16:45] #976 closed, assigned to nobody

[2019-04-08 17:31] lyzadanger commented on #940
Done!

[2019-04-08 17:31] #940 closed, assigned to nobody

[2019-04-10 10:54] maciejmotyka commented on #447
There are also users that can use mouse but prefer not to.

[2019-04-11 05:45] robertknight commented on #987
https://github.com/hypothesis/bouncer/pull/223

[2019-04-11 05:45] #987 closed, assigned to nobody

[2019-04-11 05:50] robertknight opened #992 "Direct link to a group should cause sidebar to open automatically"
### Steps to reproduce

Go to https://hyp.is/go?url=https://example.org&group=__world__

### Expected behaviour

User should be taken to https://example.org, the sidebar should open and the "Public" group should be selected.

### Actual behaviour

User is taken to https://example.org, the "Public" group is selected but the sidebar is not opened.

## Notes

I tested this using the embed.

This code

[2019-04-11 15:18] robertknight commented on #991
Discussed on a call today. The #annotations fragment syntax is not considered a public API, but the bouncer URL syntax is. We should update any documentation for the bouncer URL syntax but don't need to document the fragment syntax as public API.

[2019-04-11 15:22] robertknight commented on #990
A related issue I ran into this morning is simply what happens if the group doesn't exist.

[2019-04-11 15:24] #975 closed, assigned to nobody

[2019-04-11 15:26] robertknight commented on #973
After some discussion, we're planning to explore an alternate design where the actions are presented in the groups menu, but in a different way: https://github.com/hypothesis/product-backlog/issues/974

[2019-04-11 15:28] robertknight commented on #938
The first iteration of this is done. I'm currently working on re-introducing groups actions (leaving a group, going to the activity page) to the menu in a way that avoids the UX problems of the current one.

[2019-04-11 15:28] #938 closed, assigned to nobody

[2019-04-11 15:29] robertknight commented on #867
See also notes on private groups in https://github.com/hypothesis/product-backlog/issues/990

[2019-04-11 15:38] lyzadanger commented on #865
Yay!

[2019-04-11 15:38] #865 closed, assigned to lyzadanger

[2019-04-11 15:43] lyzadanger commented on #864
Yay!

[2019-04-11 15:43] #864 closed, assigned to nobody

[2019-04-11 15:45] lyzadanger commented on #866
Yay!

[2019-04-11 15:45] #866 closed, assigned to nobody

[2019-04-11 15:57] lyzadanger commented on #986
Put another way: the Community Groups project has an explicit requirement that we be able to generate and handle share links for a given URL (i.e. document_uri), in the context of a specific group. So, multiple annotations, but viewed through the lens of a particular group. And that group may not be one that would normally "show up" on that page for the given user, due to scoping.

Now, consider a

[2019-04-11 15:59] lyzadanger commented on #973
Closing, not out of disregard, but because we are implementing the functionality referenced in this issue in #974.

[2019-04-11 15:59] #973 closed, assigned to nobody

[2019-04-11 16:07] klemay commented on #934
We've been treating this as an epic so it's been renamed as such. A demo of our final low-fi mockup was completed last sprint, and now we have a designer on board to start prototyping.

[2019-04-11 16:21] adam3smith commented on #866
This is amazing! Is this already live (if not, roughly when can we expect it to be)? Any documentation (which can be super-rough; I'll work through it) I could find?

[2019-04-11 16:42] robertknight commented on #866
Hi @adam3smith - It is live in the embedded version of the client with one notable issue, that the sidebar doesn't open automatically yet if you direct-link to a group, as well as some rough edges that we'll be polishing over the next few weeks. To use it, create a link of the form https://hyp.is/go?url={url}&group={group_id}. We also still need to ship the updated browser extension. That should h

[2019-04-11 16:42] robertknight commented on #866
Hi @adam3smith - It is live in the embedded version of the client with one notable issue, that the sidebar doesn't open automatically yet if you direct-link to a group, as well as some rough edges that we'll be polishing over the next few weeks. To use it, create a link of the form https://hyp.is/go?url={url}&group={group_id}. We also still need to ship the updated browser extension. That should h

[2019-04-11 16:48] adam3smith commented on #866
Perfect, got it to work in the embedded version (we use `#annotations:group:<groupid>` ).

[2019-04-11 16:50] adam3smith commented on #865
Sorry to bother everyone -- this will be the last one I think: How can we designate a group as community group?

[2019-04-11 17:23] klemay commented on #865
Hi @adam3smith! This feature is still in development— this issue was closed out as _part_ of the necessary work to get it working.

[2019-04-11 17:39] #992 closed, assigned to hmstepanek

[2019-04-11 20:04] jeremydean commented on #94
@judell does this workaround allow the user to resize the underlying text and have the h sidebar snap into position in response?

michelle sprouse who presented at i anntotate last year has recently switched to perusall. the reason she cites is that students can resize text in a document and not have that resizing interfere with reading and annotating the document--ie. the annotations are not cove

[2019-04-11 22:23] judell commented on #94
@jeremydean not sure what you mean by "resize the underlying text and have the h sidebar snap into position in response".

What the code does currently, as shown in http://jonudell.net/h/pdf-experience-in-experimental-extension.mp4, is make the HTML in the rendered PDF page narrower by the width of the sidebar. Zooming in and out within the PDF viewer doesn't affect that rearrangement.

Yep, it's

[2019-04-11 22:37] jeremydean commented on #94
Right, I meant zoom in and out on the pdf or web page. The use case I’m
trying to accommodate is for
someone needing to resize text for accessibility.

On Thu, Apr 11, 2019 at 5:23 PM Jon Udell <notifications@github.com> wrote:

--
Dr. Jeremy Dean
Director of Education

[2019-04-12 07:10] robertknight opened #993 "Support direct links to groups in the browser extension"
If the new direct linking syntaxes are added, the browser extension currently needs to be updated. This means the extension needs to be modified to support `#annotations:group:<ID>` queries.

See https://github.com/hypothesis/browser-extension/pull/141

As part of this, we could consider reworking the flow to avoid the extension needing to know the details of the direct-linking syntax. Bouncer cou

[2019-04-12 18:22] dewongway opened #994 "Flashcards support"
Would love to see a new feature that would allow users to create flashcards from the highlighted texts. Something that can be exported and imported into a flash card system like Anki or Quizlet.

[2019-04-15 12:50] lyzadanger opened #995 "Spike: Determine how to (feasibly) build document API services"
Part of https://github.com/hypothesis/product-backlog/issues/932

Related to https://github.com/hypothesis/product-backlog/issues/935

To support LMS activity and grading views, it is likely we will need some document-resource API services. That means being able to answer questions like "given this group, what are all the documents that have been annotated within it?" taking into consideration the

[2019-04-15 16:26] seanh commented on #543
We should consider New Relic Infrastructure for taking over a big chunk of what we currently use an ill-maintained self-hosted Grafana instance for: https://docs.newrelic.com/docs/infrastructure  It has builtin integrations for Elastic Beanstalk, NGINX, etc.

[2019-04-15 17:25] lyzadanger opened #996 "Spike: Investigate and Document issue with developer controller in `h`"
We're seeing reports of the developer controller (used by the "Developer" page of account settings) taking upwards of 20 seconds (!) to do its job.

We need to investigate and write up an incident report. If the root cause is straightforward, this task should also include fixing the problem.

[2019-04-17 12:01] seanh commented on #996
Completed: https://docs.google.com/document/d/1CFPykb5U5_CZTri7g-KhDTn7Dy_SBe_KvDTXwhMFBrE/

One follow-up issue was opened: https://github.com/hypothesis/h/issues/5608

[2019-04-17 12:01] #996 closed, assigned to nobody

[2019-04-18 17:10] dwhly opened #997 "Spike: Group control doesn't load until PDF loads"
## Feature Request Form
### Problem you are trying to address with this feature

For long PDFs, the document must finish loading before the URL is sent to the service (for annotations to be fetched).  If the document is long and/or slow, this could mean that for a minute or more the interface a) appears broken, and b) no annotations are showing (let alone anchored), and c) no new annotations can b

[2019-04-18 17:12] klemay commented on #997
I'll also add that this happens quite a bit for LMS users - while I don't have any support tickets to link to, I've been asked about this several times while on install calls.

[2019-04-18 17:22] robertknight opened #998 "Make sure that new groups list menu is accessible"
As part of the community groups menu we are re-designing the groups menu in the client to separate groups into categories depending on why they are showing up and also fixing some long-standing UX issues.

I think this would be a good time to make sure we start on the right foot wrt. accessibility for new UI. Specifically, we need to make sure:

- Keyboard navigation works
- The menu is presented

[2019-04-18 20:13] malcook commented on #144
USER STORY: feedback to author on community discussion of authored articles

Dr. X publishes 10 papers a year and would like one-stop-shopping for "who is annotating / discussing my research".  Their university already manages a web-site which lists all their publications by doi:.  Dr. X asks their IT team to draw on this list of doi:s and create a weekly dump of any such activity.  This issue mak

[2019-04-23 05:27] robertknight commented on #993
Resolved by https://github.com/hypothesis/browser-extension/pull/141

[2019-04-23 05:27] #993 closed, assigned to nobody

[2019-04-23 17:14] klemay opened #999 "Improved admin tool for adding members to publisher groups"
Currently, to add members to a publisher group, we go to https://hypothes.is/admin/groups/new and:

- At the bottom of the page, click "Add Member"
- Enter the Hypothesis username of the member
- Click "Add Member" again to add the next member ... etc

It gets a bit onerous when you're adding a lot of members to a group:
![screencast-hypothes is-2019 04 23-13-09-49](https://user-images.githubuserc

[2019-04-24 11:06] seanh commented on #927
Thoughts on what to do with this card:

1. We should create a new to **Replace Via for the LMS app** card (but leave via.hypothes.is as-is for the public) and do that first. Because that's gonna be much easier than wholesale replacement of Via. The LMS app's new proxy could then expand to replace via.hypothes.is as well, later.

1. We first need to do a spike to figure out exactly what the require

[2019-04-24 11:23] seanh commented on #890
Removed the `Operations` label -- since this refers to a change to the development environment I think it's a developer thing not an `Operations` thing.

Also re-titled the card -- We have four Python apps (h, bouncer, via and lms), much work has gone into making the development setup of these four apps the same (and as far as possible making client and browser-extension consistent as well), so an

[2019-04-24 11:23] seanh commented on #890
I don't think we should do this.

If we do decide to do it I think we'd have to explain in more detail what the problems and limitations with our current development environment set up is that this card aims to solve, and list what the requirements for a Docker-based dev env would be.

We currently get a lot of features and functionality from Make and tox-managed development environments (and they

[2019-04-24 11:38] seanh commented on #886
I don't think we should do this.

We already have a way of deploying an older version of an app:

![Screenshot from 2019-04-24 12-29-41](https://user-images.githubusercontent.com/22498/56656161-a7e88980-668c-11e9-9a6a-a24971d6d3c1.png)

1. Go to the ["deployment" Jenkins project](https://jenkins.hypothes.is/job/deployment/) and manually invoke a new build ("Build with Parameters" in the sidebar).

[2019-04-24 12:08] seanh commented on #927
I'm gonna remove the **Operations** label from this because I don't think this is just an ops task (though I'd love to be proven wrong)

[2019-04-25 15:11] hmstepanek opened #1000 "The login flow for direct-linking to a private group is broken"
When a user is logged out and they direct-link to a private group they should see an error message however, when they login (assuming they are a member of the group), the private group annotations should show up and the error message should disappear.

[2019-04-25 15:15] dmfine opened #1001 "Terraform for AWS SGs"
1. Create new security groups in terraform to replace all handmade ones.
2. Configure the access policies on each group.
3. Attach them to the correct resources.
4. Then remove the un-managed security groups.
5. Documentation

[2019-04-25 16:44] #715 closed, assigned to nobody

[2019-04-25 16:45] lyzadanger commented on #817
This is a perfectly-valid task but does not need to be tracked as GH issue (general refactoring).

[2019-04-25 16:45] #817 closed, assigned to lyzadanger

[2019-04-25 16:46] lyzadanger commented on #31
This issue has been around for a long time...is there any direct action that can be taken in the short term?

[2019-04-25 16:46] lyzadanger commented on #467
Closing in favor of https://github.com/hypothesis/h/issues/5384

[2019-04-25 16:46] #467 closed, assigned to nobody

[2019-04-25 16:48] lyzadanger commented on #717
This work has been broken down into constituent parts, e.g.

https://github.com/hypothesis/product-backlog/issues/926

[2019-04-25 16:48] #717 closed, assigned to nobody

[2019-04-25 16:48] lyzadanger commented on #716
Not an invalid task, but we have no product/user-facing need to embark on this at this time.

[2019-04-25 16:48] #716 closed, assigned to nobody

[2019-04-25 16:49] lyzadanger commented on #264
Closing in favor of https://github.com/hypothesis/h/issues/5487 which includes this task.

[2019-04-25 16:49] #264 closed

[2019-04-25 16:50] lyzadanger commented on #835
Fixed by https://github.com/hypothesis/h/issues/5608 (the slowness was in the user-select query, BTW, less so in the group-scope query).

[2019-04-25 16:50] #835 closed, assigned to nobody

[2019-04-25 16:50] lyzadanger commented on #762
This specific work is part and parcel of other scoped operations tasks.

[2019-04-25 16:50] #762 closed, assigned to robertknight

[2019-04-25 16:51] #257 closed

[2019-04-25 16:51] lyzadanger commented on #538
We're getting much more on top of this and are down to a limited number of known/open Sentry issues.

[2019-04-25 16:51] #538 closed, assigned to nobody

[2019-04-25 16:53] #546 closed, assigned to nobody

[2019-04-25 18:32] hmstepanek commented on #886
What I am proposing here is a quick way to rollback production to a previous release if it's broken and can be rolled back. I'm not proposing a button, nor am I saying that it has to work in all cases, nor should it be our always use this solution when something breaks, nor should it be a substitute for rolling forward. It is simply a quick way to bring back production when it is down by releasing

[2019-04-26 01:55] hmstepanek commented on #886
I'd also add here that if the health check fails on AWS during the deploy of the new version, AWS automatically kills the newly deployed instances and keeps the instances running the previous version up. So we already have an automated roll back built into our deployment process. What I'm suggesting here is simply have a forced rollback in cases where the built in health check/auto rollback on AWS

[2019-04-26 15:11] leonoverweel commented on #426
Hi, just checking back on this. From #864, it looks like what I was looking for in my December 23rd comment has been implemented. I'm wondering now how (if?) I can make a group I have "world-readable" so that I can generate and share these kinds of links. On the edit page, I see options for renaming my group and changing its description, and I see a link I can use to invite people to contribute, b

[2019-04-26 18:38] hmstepanek opened #1005 "The uri used to create an annotation conflicts with the uri used to determine group scope"
The annotator portion of the client and the sidebar portion of the client use different uri's when the page contains metadata that overrides the uri in the url bar.

The annotator uses  https://github.com/hypothesis/client/blob/823ce81666bfb77de91cb739f2030a2d3773c476/src/annotator/guest.coffee#L113 to get the uri, while the sidebar in group services uses https://github.com/hypothesis/client/blob/

[2019-04-26 23:20] ajpeddakotla commented on #566
Something I came across perusing the web: Data Transfer Project - a data transfer service we could integrate with.

Website: https://datatransferproject.dev/
Github: https://github.com/google/data-transfer-project/blob/master/Documentation/Integration.md

[2019-04-26 23:21] ajpeddakotla commented on #754
closing in favor of #566

[2019-04-26 23:21] #754 closed, assigned to nobody

[2019-04-29 14:22] klemay commented on #426
Hi @leonoverweel it's not possible to convert a private group into world-readable group (known at Hypothesis as a "restricted group"). You can use the direct linking feature with members of your private group, but would need a restricted group to share links to annotations with non-members.

Currently restricted groups are experimental and available to a few early partners. If you're interested in

[2019-04-30 12:49] robertknight commented on #320
The switch to OAuth was released long ago, and we decided not to migrate existing client sessions.

[2019-04-30 12:49] #320 closed, assigned to nobody

[2019-04-30 12:49] #159 closed

[2019-04-30 15:15] robertknight commented on #1005
Assigned to me for review / discussion. I might need to loop in Lyza.

[2019-04-30 15:47] #911 closed, assigned to dmfine

[2019-04-30 15:48] #926 closed, assigned to dmfine

[2019-04-30 15:49] #927 closed, assigned to nobody

[2019-04-30 15:51] #890 closed, assigned to nobody

[2019-04-30 16:01] #820 closed, assigned to nobody

[2019-04-30 16:13] #824 closed, assigned to nobody

[2019-04-30 16:16] #345 closed, assigned to nobody

[2019-04-30 16:18] #254 closed

[2019-04-30 16:18] #745 closed, assigned to dmfine

[2019-04-30 16:23] hmstepanek opened #1002 "EPIC: Use a separate database and search index in h QA"
_Description added by @lyzadanger 2020/03/11_

Typically, a staging or QA server allows for the testing of new changes before they are deployed to production. Isolation of data is an important part of this equation, as problematic changes on QA could corrupt data. When QA shares the same database as production, this introduces a real risk that production (user) data could be affected by activities

[2019-04-30 16:59] seanh commented on #885
One thing to cover will be how to deploy an old release and when to do this (as a last resort only), see https://github.com/hypothesis/product-backlog/issues/886#issuecomment-486186761

[2019-04-30 17:00] #886 closed, assigned to nobody

[2019-04-30 17:19] hmstepanek commented on #834
Lyza fixed this query recently and it's no longer an issue

[2019-04-30 17:19] #834 closed, assigned to nobody

[2019-04-30 17:27] hmstepanek commented on #536
Since we upgraded elastic search and we query more efficiently we are no longer seeing elastic search timeouts on this scale. Every once and a while we do see one occasionally but it's quite rare so I'm going to close this issue.

[2019-04-30 17:27] #536 closed, assigned to nobody

[2019-04-30 17:38] hmstepanek commented on #833
I don't see this problem anymore so I'm closing this issue.

[2019-04-30 17:38] #833 closed, assigned to nobody

[2019-04-30 17:46] hmstepanek opened #1003 "investigate why h.views.api.annotations:search is slow"
The search annotations endpoint is slow in python. There could be some looping happening here that is causing the slow down but this needs more investigation.
![image](https://user-images.githubusercontent.com/30059933/56982063-436a7600-6b35-11e9-842a-1c126bfe0bc5.png)
![image](https://user-images.githubusercontent.com/30059933/56982085-511ffb80-6b35-11e9-8a3f-cde7498529ae.png)
![image](https://us

[2019-04-30 18:00] hmstepanek opened #1004 "Investigate why h.views.api.groups:groups is slow (conditional_http_tween & query)"
This is relatively low priority from a customer perspective since ~.01% of requests are >.5s during a 7 day period.
There appear to be a couple problems here:
1. The h.tweens:conditional_http_tween appears to be causing a massive slowdown on certain groups api requests.
![image](https://user-images.githubusercontent.com/30059933/56982947-4ebea100-6b37-11e9-835b-94949f62b97f.png)
[detailed trace in

[2019-04-30 22:10] hmstepanek commented on #537
I'm closing this as I have completed a performance investigation into h and lms and added issues to the performance board based on my findings.

[2019-04-30 22:10] #537 closed, assigned to nobody

[2019-05-01 06:32] #991 closed, assigned to lyzadanger

[2019-05-01 16:34] robertknight commented on #1005
I've moved this here so I can apply the same label as the other issues related to this project.

[2019-05-02 14:42] dwhly opened #1006 "Change chrome extension icon to h logo."
## Feature Request Form
### Problem you are trying to address with this feature

Our chrome extension icon is flawed in two key ways.

1. It's hard to see.  Especially when using night mode or dark themed browser chromes.
2. No one knows what it's for or who it's from, unless they use us regularly.

Originally we were on this kick to avoid branding and be utilitarian, which is still a core part of

[2019-05-02 16:38] #968 closed, assigned to nobody

[2019-05-02 17:33] klemay opened #1007 "User-reported conflict between Via + blogdosakamoto.blogosfera.uol.com.br"
A user [reported on Twitter](https://twitter.com/_limamedeiros/status/1123940213305245696) that visiting pages on a certain website using Via causes highlights to duplicate.

### Steps to reproduce
1. Using any browser, go to https://via.hypothes.is/https://blogdosakamoto.blogosfera.uol.com.br/2019/05/02/no-dia-do-trabalhador-bolsonaro-afaga-empresarios-e-ignora-desempregados/
2. Select text and c

[2019-05-02 17:47] judell opened #1008 "why no doi metadata for biorxiv?"
Consider https://www.biorxiv.org/content/10.1101/617506v1

When I create an annotation, the client sends (as expected)

DC: Identifier: ["10.1101/617506"]
Highwire: doi: ["10.1101/617506"]

When I search, it searches as expected:

https://hypothes.is/api/search?_separate_replies=true&group=__world__&limit=200&offset=0&order=asc&sort=created&uri=doi%3A10.1101%2F617506&uri=https%3A%2F%2Fwww.biorxiv.

[2019-05-02 18:33] lyzadanger opened #1009 "Add API endpoint: `GET /groups/{id}/members`"
There is a feature indicated in the latest round of UI mockups for LMS views that involves showing a drop-down list containing all of the users who are in a course (i.e. group)—including users who have not created any annotations (yet). We are going to need a new API endpoint to retrieve members of a given group.[1]

This is _relatively_ straightforward; there are, however, a few things I can thin

[2019-05-03 13:52] lyzadanger commented on #935
Two so far:

* Need new documents-annotated-within-a-group API service. That's in progress here: https://github.com/hypothesis/h/pull/5613 .
* More recently identified: we need a way to retrieve all of the members of a group. Tracked here: https://github.com/hypothesis/product-backlog/issues/1009

Once the mockup iterations have completed, I'll close this issue if no further needs are identified.

[2019-05-03 14:06] robertknight opened #1010 "Implement new dropdown menu component for client"
Implement the new menu component which will serve as a basis for the new groups menu in the client and also the other dropdown menus in the app:

- Groups menu
- Sort menu
- Account menu
- Sharing mode menu (on the "Post to <Group>") button

The basic design is illustrated here: https://sketch.cloud/s/D0OMk/4a7km4A.
See Slack discussions (https://hypothes-is.slack.com/archives/C07NXBDNW/p155664188

[2019-05-03 14:11] robertknight opened #1011 "Implement account menu using new dropdown menu"
**Depends on https://github.com/hypothesis/product-backlog/issues/1010**

In order to make dropdown menus feel consistent across the app, we are going to change the account menus to match the style of the new groups menu. This will also enable fixing accessibility issues with the new menu.

**Done when**

The account dropdown menu has been re-implemented using the new menu component introduced in

[2019-05-03 14:12] robertknight opened #1012 "Implement sort dropdown menu using new-style menu"
This is similar to https://github.com/hypothesis/product-backlog/issues/1011 except for the sort dropdown menu at the top of the client which enables the user to choose what criteria to sort annotations by.

[2019-05-03 14:13] robertknight opened #1013 "Implement annotation sharing menu using new style menu"
This is similar to https://github.com/hypothesis/product-backlog/issues/1011 except for dropdown menu on the "Post" button on annotation cards that lets the user choose whether to make an annotation private or shared with the group.

[2019-05-03 14:16] robertknight opened #1014 "Remove old dropdown menu"
Once the Angular bootstrap dropdown menus are no longer in use, they should be removed from the client along with any other code or styles (eg. in src/styles/sidebar/common.scss) which supports them.

This issue depends on:

https://github.com/hypothesis/product-backlog/issues/1010
https://github.com/hypothesis/product-backlog/issues/1011
https://github.com/hypothesis/product-backlog/issues/1012
h

[2019-05-03 19:39] lyzadanger commented on #995
We have consensus on an approach for a first revision here; a document service has been added to `h` as of https://github.com/hypothesis/h/commit/e52225383983cd269c2f09e2f5f55dfb1677809e and we'll be building the API endpoint shortly that will make use of this new service.

[2019-05-03 19:39] #995 closed, assigned to lyzadanger

[2019-05-03 19:42] lyzadanger opened #1015 "Create API service at `GET /groups/{id}/documents`"
Per https://github.com/hypothesis/product-backlog/issues/995

For the LMS views, we need an API endpoint that will return documents that have at least one annotation visible to the current user within a specific group (i.e. course).

Per discussions with stakeholders, this first revision will sort by "last activity" (i.e. document updated), DESC. Document records are updated any time an annotation

[2019-05-05 14:41] dwhly commented on #954
This is an excellent page to test this issue on: https://hybridpedagogy.org/decoding-digital-pedagogy-pt-1-beyond-the-lms/

[2019-05-09 17:22] klemay commented on #932
Clickable prototype was shared in Slack here: https://hypothes-is.slack.com/archives/C07NXBDNW/p1556835710005400

[2019-05-09 17:22] klemay commented on #934
Clickable prototype was shared in Slack here: https://hypothes-is.slack.com/archives/C07NXBDNW/p1556835710005400

[2019-05-10 04:15] philippconzett commented on #763
Thanks to the hypothes.is team and community for the great work you are doing!

I just had a chat with hypothes.is support about this. At my institution, we'd also like controlled vocabulary support in hypothes.is. Ideally, this feature should be combined with non-controlled, shared vocabularies, so that when you start typing a keyword you would get suggestions based on the keywords that members o

[2019-05-10 15:55] klemay commented on #162
This was [brought up today](https://hypothesis.zendesk.com/agent/tickets/4240) by Europe PMC. Some of the annotations on their site contain h2 tags, which result in overlapping text. Example: https://hyp.is/dIePJH44EeiOlXM7IVNyXg/europepmc.org/abstract/MED/21334061

[2019-05-10 16:04] robertknight commented on #162
The general problem here is that the client's stylesheets sets line heights to absolute pixel values in various places, but the markdown body styles do not reset the line height.

The minimal change to fix the problem will be to reset `line-height` in the markdown body. More generally it would probably be a good idea to go over the client's styles and replace pixel values with unitless lengths for

[2019-05-10 16:21] #162 closed

[2019-05-10 16:43] #986 closed, assigned to hmstepanek

[2019-05-10 23:49] hmstepanek opened #1016 "Community groups clean-up"
- [x] Refactor the `load` method of the groups service to reduce its overall complexity following the addition of new functionality
- [x]  Remove unnecessary group logic from the loading annotations portion of the sidebar-content (see slack thread [here](https://hypothes-is.slack.com/archives/C1M8NH76X/p1556760933032800)) [PR](https://github.com/hypothesis/client/pull/1211)
- [x] Turn the `communi

[2019-05-13 15:45] #1000 closed, assigned to hmstepanek

[2019-05-15 16:47] lyzadanger commented on #984
Fixed by https://github.com/hypothesis/h/pull/5628

[2019-05-15 16:47] #984 closed, assigned to klemay

[2019-05-15 18:31] klemay opened #1017 "Multi-target annotations"
Feature request [via Zendesk](https://hypothesis.zendesk.com/agent/tickets/4264):

Dan mentioned this in Slack and referred to it as "multi-target annotations."

[2019-05-15 19:26] dwhly commented on #1017
![unnamed](https://user-images.githubusercontent.com/1413074/57803195-abf84c00-770c-11e9-978c-05577f80c4c4.jpg)

I can't wait until we get our first user story in crayon! :)

[2019-05-16 17:20] klemay opened #1018 "Activity Pages - CTRL/CMD + Click on tags and usernames doesn't open a new tab in Firefox"
Reported by [a user in Zendesk](https://hypothesis.zendesk.com/agent/tickets/4268), but I was able to reproduce.

### Steps to Reproduce
1. In Firefox, log in to Hypothesis and visit any group activity page
2. Try to open a link to either one of the top tags or a group member in a new tab. (For Macs, this is done with Command + Click. For PCs, it's Control + Click)

![screenshot-hypothes is-2019 0

[2019-05-17 11:34] robertknight commented on #1010
The initial version of the new menu components were implemented in https://github.com/hypothesis/client/pull/1126. We'll need to make further tweaks as the designs have changed, but we can do that as part of other PRs.

[2019-05-17 11:34] #1010 closed, assigned to robertknight

[2019-05-21 18:19] AIRibone commented on #198
Great project, but please make this happen!

[2019-05-22 15:08] hmstepanek commented on #874
It looks like there is a sqlalchemy eager loading issue on the feature cohort query.
![image](https://user-images.githubusercontent.com/30059933/58185923-ee2c0b00-7c81-11e9-89f7-d8ce82e0a292.png)

[2019-05-23 14:50] hmstepanek opened #1019 "Expose list of documents to user"
Expose the list of documents for the user to choose from rather than the specific version that the annotations was made on.

When I'm looking at a list of annotations and click to view the document, sometimes I don't have access to that particular document even though another version of that same document that I do have access to exists within Hypothesis. It would be nice if Hypothesis gave me a l

[2019-05-23 14:55] klemay commented on #1019
This would solve a really common user problem:

1. Go to my activity page
2. See an annotation I made on a document
3. Click the "view annotation in context" link
4.  The link fails, either because (a) it was a local PDF; (b) it was a hosted document but I no longer have access to the repository (i.e., school library/LMS); or some other reason

While not _every_ instance of this issue would be tak

[2019-05-23 15:54] hmstepanek opened #1020 "Add ability to emote on annotations"
As a student I would like to be able to interact with my peers just like I do on other social media platforms where I can "emote" on their annotations.

As an editor I would like to be able to mark annotations as addressed and then not have them show up in a search/as a "todo" anymore.

As a user, I would like to be able to signal to another user that I have seen/read their annotation/reply.

The

[2019-05-23 16:04] klemay commented on #1020
I've seen an uptick in support requests for enabling a copyediting/QA workflow, and the ability to +1 or upvote has been around for a while:

- Zendesk tickets asking for ability to resolve annotations: https://hypothesis.zendesk.com/agent/search/1?q=tags%3Aresolve-annotations
- Old issue from vision repo on +1: https://github.com/hypothesis/vision/issues/188

[2019-05-24 18:16] xolotl commented on #447
For reference: adding [a link to the presentation that @jccr gave at I Annotate 2019](https://docs.google.com/presentation/d/1uR6lDou8eKsH5eXqJlmf3SGPvqdDb0MUA3Xry-2VFak/edit?usp=sharing) about using the keyboard to select/anchor annotations.

[2019-05-27 17:12] likeleto opened #1021 "Impossible to search with comment's tags"
## Bug report form
### Steps to reproduce
1. Create annotation on any page
2. Reply on that annotation and add tag
3. Click on that tag after reply has been added ("tag2" on image)

![image](https://user-images.githubusercontent.com/10817195/58432415-ea055080-80ba-11e9-9c14-f7e99bd0b7f5.png)

### Expected behaviour
See this annotation on hypothes.is search result page like for tag for annotation i

[2019-05-28 14:07] #1009 closed, assigned to nobody

[2019-05-30 14:03] lyzadanger commented on #1015
We've lightly adjusted our course per LMS work such that we're concentrating on assignment grading first. Thus I'm moving this out of the current critical path.

[2019-05-30 14:07] lyzadanger commented on #935
For now, this work is done and no more (known) `h`/API back-end work is needed to support the initial phase of LMS grading development.

[2019-05-30 14:07] #935 closed, assigned to nobody

[2019-05-30 14:08] klemay commented on #934
^ Given we have our initial prototype, linked above, closing this issue. Further work on activity views will be tracked in or as part of #932.

[2019-05-30 14:08] #934 closed, assigned to klemay

[2019-05-30 14:18] lyzadanger commented on #1004
I'm a novice with New Relic, but I'm not seeing the same kind of data at this time. I'm looking at a 7-day snapshot, and here's the performance I'm seeing for the `GET /api/groups` endpoint:

![image](https://user-images.githubusercontent.com/439947/58639049-2657cd00-82c4-11e9-8c43-e07622c4d77d.png)

True, that endpoint accounts for 6% of our time, but recall that gets hit (twice, I think?) every

[2019-05-30 17:05] hmstepanek commented on #1004
Hi @lyzadanger, the view you have captured here is the overall performance in New Relic and you are correct, the overall performance for this endpoint looks fine but what this issue is about are occasional corner-case slow downs. These will appear as detailed transaction traces at the bottom of [this page](https://rpm.newrelic.com/accounts/1385283/applications/22688631/transactions?tw%5Bend%5D=155

[2019-06-03 14:54] robertknight commented on #990
If the group is not scoped to the current page, then the API won't return it, since the user won't be a member.

Having said that, none of the code that is currently written in the groups service cares about whether the group is "restricted" or "open", so it should work if we do support membership of open groups in future, for example to support giving people additional roles within that group.

[2019-06-03 14:56] robertknight commented on #1005
@hmstepanek - was there a specific example you encountered which prompted this issue to be filed? I'm sure we can figure one out, but if you already had one in mind it would be useful to know.

[2019-06-03 15:29] hmstepanek commented on #990
Completed by https://github.com/hypothesis/client/pull/1064.

[2019-06-03 15:29] #990 closed, assigned to hmstepanek

[2019-06-03 16:14] hmstepanek commented on #1005
@robertknight I ran into this issue while testing. Here is the slack thread: https://hypothes-is.slack.com/archives/C4K6M7P5E/p1556299381066700.

[2019-06-04 20:10] judell opened #1022 "When only TextQuoteSelector is used, anchoring should use suffix to differentiate when prefix and exact are the same"
When the Hypothesis client creates two annotations, as shown here, http://jonudell.net/h/same-prefix-diff-suffix.html, both anchor, because the client uses the full complement of selectors.

But when Scibot creates the same two annotations, the anchors pile up on one occurrence of the `exact` like so:

[code]

Now, granted, Scibot would ideally post annotations using the full complement of selecto

[2019-06-06 15:40] #979 closed, assigned to dmfine

[2019-06-06 15:58] dmfine opened #1023 "Postgress backups "offsite""
This comes from infosec audit work. We should have a backup of our customer data somewhere "offline". We already have live database redundancy, this off-site backup would be more on the order of a daily snapshot for disaster recovery.

In order of durability, we could choose to store this backup:
0. Live replication within AWS (we already do this)
1. An S3 bucket different AWS region
2. An S3 buck

[2019-06-07 14:21] #1012 closed, assigned to lyzadanger

[2019-06-10 16:19] klemay commented on #1006
Ok so it looks like we'll need to change out the icon here:

https://github.com/hypothesis/browser-extension/tree/master/src/chrome/images

And we need to replace the following files:

- browser-icon-active.png
- browser-icon-inactive.png
- browser-icon-active@2x.png
- browser-icon-inactive@2x.png

...which leads me to believe the icon needs to be pre-sized to fit into the sidebar. Look at these f

[2019-06-11 14:03] lyzadanger commented on #1011
This work is nearly done and deploy is imminent; I want to document the before and after states of this menu and its allies so we can have a clear picture of what has changed and why!

### 1. Sidebar

#### Before

The only way to expand the menu is through the tiny caret at the top right; it's easy to accidentally click on "Log in" instead. The "Help" link is the only item in the menu, and it can

[2019-06-11 15:11] dmfine opened #1024 "Upgrade Postgres 9.4 -> 11"
- [x] [Spike to investigate what is required to upgrade to Postgres 11](https://github.com/hypothesis/product-backlog/issues/1026)
- [x] Update Python libraries in h that talk to the DB (psycopg, sqlalchemy) to current version
- [x] Switch Jenkins CI builds for lms and the client to use Postgres 11
- [x] Review plan for executing Postgres 11 upgrade
- [x] Upgrade RDS instances to Postgres 11 (http

[2019-06-11 16:17] dmfine opened #1025 "Fix Jenkins build failures when many builds are triggered at once (eg. by Dependabot)"
body

[2019-06-11 16:28] lyzadanger commented on #1011
Fixed by https://github.com/hypothesis/client/pull/1154

[2019-06-11 16:28] #1011 closed, assigned to lyzadanger

[2019-06-12 16:38] hmstepanek commented on #1004
See https://hypothes-is.slack.com/archives/CBN3DGW02/p1560354924051600 here on tween issue.

[2019-06-12 17:08] seanh commented on #1025
Decisions from DevOps sync today:

* We're removing this from the current sprint. Intention is to do it next sprint
* It sounds like setting up Jenkins slave nodes (so that concurrent jobs don't compete with each other for resources) may be easy to do and the best result, so look into that first
* If multiple simultaneous Dependabot PRs are still a problem we can configure Dependabot to send fewer

[2019-06-12 17:16] seanh opened #1026 "Spike to investigate what is required to upgrade to Postgres 11"
Belongs to epic: [Upgrade Postgres 9.4 -> 11](https://github.com/hypothesis/product-backlog/issues/1024)

Support for our current version of Postgres ends in December, and we should begin the work to upgrade it now a few months in advance. This spike is to identify what's going to be required to upgrade Postgres, and make a list of tasks. Things to consider:

* Run all of the h and lms tests (incl

[2019-06-12 17:17] seanh commented on #1024
@dmfine I've changed this card into an epic that currently only has one task, a spike. The spike will identify more tasks, which we'll then add to the task list on this card

[2019-06-12 22:02] judell commented on #1022
Here's why this happens:

https://github.com/tilgovi/dom-anchor-text-quote/blob/master/src/index.js#L109

We only search for the suffix if the prefix isn't found. Which makes sense: always searching would be expensive. If we kept track of anchors where prefixes and exacts match, we could maybe search for the suffix in only those cases.

[2019-06-13 10:54] robertknight commented on #998
The new menu is currently implemented behind a feature flag this morning. I have tested basic keyboard navigation and presentation in VoiceOver on macOS. I haven't tested other screen readers. I found two issues that I want to look into before closing this:

- [ ] There is a quirk where VoiceOver announces that collapsed submenus have three items in them, but otherwise its descriptions of menu ite

[2019-06-13 10:59] robertknight commented on #974
This is now done, except for:

- Design details such as font sizing, spacing etc. should be reviewed
- The feature flag to turn on the menus needs to be enabled for everyone
- The "Copy invite link" item is not currently present in the menu. This is a new feature so I think we should pull it out into a separate task

[2019-06-13 11:11] robertknight commented on #848
This issue has been superseded by subsequent discussions and design iterations. The latest iteration is a combination of the mocks in [this issue](https://github.com/hypothesis/product-backlog/issues/974) and the introduction of "My groups", "Featured groups" and "Currently viewing" sections in the groups menu that were introduced earlier:

<img width="354" alt="Screenshot 2019-06-13 12 10 00" src

[2019-06-13 11:12] robertknight commented on #848
Actually, on second thoughts I'll leave this open until we have actually shipped it.

[2019-06-13 15:22] dmfine commented on #1023
Conversation with Sean, decided to just implement option 1 for now. Using old pw based auth.

[2019-06-14 16:23] hmstepanek commented on #94
Recent [discussion](https://hypothes-is.slack.com/archives/C07NXBDNW/p1560443873040400) prompted by: https://github.com/hypothesis/client/pull/1169.

[2019-06-18 13:11] robertknight commented on #1016
The issue description here previously had a mixture of:

1. Direct clean-up tasks related to the work on this project (removing feature flag and dead code)
2. Refactoring to address places where significant complexity was added (the groups service)
3. Some slightly open-ended plans about refactoring of existing modules that were touched during this work

In order to constrain and clarify the scope

[2019-06-18 14:33] lyzadanger commented on #1016
Looking at this list, I wonder if it's duplicating some of what we're after with https://github.com/hypothesis/product-backlog/issues/1014

The other menu conversions haven't required maintaining two code paths while developing (i.e. no feature flag dependencies), so I believe we've been cleaning up after ourselves as we go.

However, it does seem useful to, at the end of the conversions, look at

[2019-06-18 14:37] lyzadanger commented on #998
My gut opinion on this one: if the fix is relatively obvious and involves using, say, more semantic hints or otherwise making markup just...better...that seems fine to me. But if it requires cleverness and hackery, or isn't easy to figure out, my 2c would be to not pursue a remedy.

[2019-06-18 15:08] dwhly opened #1027 "Spike: Add Creation time to user admin screen"
## Feature Request Form
### Problem you are trying to address with this feature

Currently our admin screen for users only shows the time that their account was "registered".  However, in order to monitor the time difference between creation and registration, it would be helpful to see the account creation time as well.

### Your solution

Also show "Creation" above "Registration".  Then compute t

[2019-06-18 15:10] dwhly commented on #988
It would help if we knew when accounts were created vs when they were registered. https://github.com/hypothesis/product-backlog/issues/1027

[2019-06-18 15:11] dwhly commented on #988
Comparison of transactional email services: https://www.ventureharbour.com/transactional-email-service-best-mandrill-vs-sendgrid-vs-mailjet/

And another: https://www.codeinwp.com/blog/best-smtp-providers/

[2019-06-18 16:03] hmstepanek opened #1028 "Refactor Sidebar"
-  [x] Move fetching annotations when the group/user etc. changes to a service.
-  [x] Move counting annotations by tab into the store or a utility module. ([See slack](https://hypothes-is.slack.com/archives/C1M8NH76X/p1559671438008700))
-  [x] Evaluate and push some of the following items that pass state to other components into those components themselves:
- passes thread expand state to threadl

[2019-06-19 10:09] seanh commented on #956
We're re-opening this because https://github.com/hypothesis/h/issues/5495 is a separate issue (the problem there is that h is reporting retryable `ConcurrentUpdateError`s to Sentry, those should be filtered out from Sentry). _This_ issue is that duplicated annotations or highlights are being created in the DB, which seems to be a client bug: it is posting the same thing to the API multiple times

[2019-06-19 15:33] dmfine opened #1029 "Extend H to use postgres read replicas"
Why: read-only replicas will be an important way to scale up our service to meet demand, operate in other regions, distribute load in a less spikey manner, and also form part of a strategy to allow postgres upgrades without downtime.

How: When H needs to write to the DB, it should be routed to the postgres master. All other read-only queries should route to a pool of replicas. Since sqlAlchemy do

[2019-06-19 17:32] hmstepanek commented on #1016
Moved the refactoring to https://github.com/hypothesis/product-backlog/issues/1028.

[2019-06-21 19:00] seanh commented on #1027
This isn't an ops issue (requires editing h code hence it's a dev issue)

[2019-06-24 14:21] lyzadanger commented on #1015
I'm closing this issue for now as it is not being actively pursued at this time.

[2019-06-24 14:21] #1015 closed, assigned to nobody

[2019-06-24 14:29] lyzadanger commented on #1023
@dmfine Wanna close this one? I believe it is completed.

[2019-06-24 21:38] ajpeddakotla opened #1030 "Spike: Enhancements to share links now that scoping to groups is possible"
Problem: Now that we've implemented the scoped groups to bouncer, we need to evaluate the enhancements that are now possible, and the changes we should make to ensure seamless UX for all share functions in our app. This also echoes some thoughts that @robertknight brought up in the last demo.

In this spike we'll investigate the features that need to be updated/introduced.

Some ideas:
1. Share li

[2019-06-25 09:53] robertknight commented on #974
This is shipped.

[2019-06-25 09:53] #974 closed, assigned to robertknight

[2019-06-25 09:55] robertknight commented on #867
The description here was a little vague but from my recollection, https://github.com/hypothesis/client/pull/1084 was the main issue that we needed to address. On that basis, I'm going to close this.

[2019-06-25 09:55] #867 closed, assigned to nobody

[2019-06-25 09:56] robertknight commented on #1013
Implemented by https://github.com/hypothesis/client/pull/1180.

[2019-06-25 12:54] dwhly commented on #1013
Is there a snapshot of that?

On Tue, Jun 25, 2019 at 2:56 AM Robert Knight <notifications@github.com>
wrote:

--
+1 650 274 7647 m

[2019-06-25 13:29] robertknight commented on #1005
After doing some investigation into this and reading of the relevant code, I believe that the issue relates to pages that have annotation-enabled iframes on them ([Slack discussion](https://hypothes-is.slack.com/archives/C4K6M7P5E/p1561467578107000)). Specifically, problems can happen when:

1. A user visits a page at https://foo.com/bar, which embeds an iframe from https://foo.com/meep, and the i

[2019-06-25 13:42] lyzadanger commented on #1013
Fixed by https://github.com/hypothesis/client/pull/1180

[2019-06-25 13:42] #1013 closed, assigned to lyzadanger

[2019-06-25 17:44] dwhly opened #1031 "Convert and Improve the Client's Tutorial Feature"
## Feature Request Form
### Problem you are trying to address with this feature

Improve our tutorial card that shows when a user first begins using the service.

We added the tutorial because we got feedback that people didn’t know "how to use thing”, and it didn't matter whether they were chrome extension users or they'd stumbled on the interface as embedded elsewhere.  This need still exists.

[2019-06-25 19:57] lyzadanger commented on #1030
There are two major sharing options in the client:

* Share "this page's" annotations (share a collection of annotations): accessible through a share icon in the top bar
* Share an individual annotation: accessible through a share icon on annotation cards

I'm going to talk about the first one now. Currently it looks like this:

![image](https://user-images.githubusercontent.com/439947/60125402-bd

[2019-06-25 21:10] klemay commented on #1030
I really like the addition of who can see annotations (including an explanation of permissions on "only me" annotations).

Agreed on all other points re:
- ultra lightweight font
- styling inconsistency
- copy-to-clipboard icon

Small suggestion about the copy:
- Rather than "Share Finagle a Bagle's Annotations" I'd say "Share Annotations in Finagle a Bagle" - the current format makes it seems lik

[2019-06-25 23:10] #828 closed, assigned to nobody

[2019-06-25 23:11] ajpeddakotla commented on #855
closing as it is being tracked in #1030

[2019-06-25 23:11] #855 closed, assigned to nobody

[2019-06-26 06:44] hmstepanek commented on #1030
I agree with this general direction and with what @klemay said in her last bullet point.

Thoughts on twitter and facebook I'd be curious if anyone uses those-data might be available via google analytics.

[2019-06-26 06:49] #1014 closed, assigned to nobody

[2019-06-26 08:47] robertknight commented on #1016
@hmstepanek - Can you add issue links in the description for the "Remove unnecessary group logic from the loading annotations portion of the sidebar-content" checklist item?

[2019-06-26 10:13] seanh commented on #1030
Does sharing one of these links to a private group's annotations reveal the group's pubid, so that anyone with the link can join the group?

[2019-06-26 17:30] klemay commented on #988
Today we got a support ticket from a user who said they did not receive their activation email, but they were able to activate their account before I was able to get to the ticket. Might be an interesting data point to consider.

Support ticket: https://hypothesis.zendesk.com/agent/tickets/5352
Ticket received at: 2019-06-26 11:24am ET
User updated at: 2019-06-26 11:26am ET
Registered date on h ad

[2019-06-26 20:03] dwhly commented on #1030
Yep, I think so.  But I think that's ok.  This was always "security by obscurity" and if you choose to use this feature to share, then it's on you.  *Possibly* there could be some fine print that would explain that.  But it could be too much detail too.

[2019-06-26 20:03] lyzadanger commented on #1030
Just to be extra clear, you'd have to take the pubid exposed in the share link and reconstruct it into an invite/activity link (not that that's hard! But it's not like you can use the share link directly).

I toyed with adding some text around this but, as Dan noted, it felt too long.

[2019-06-26 23:44] jaredpdesigns commented on #1030
Here’s a couple variations of the share card based on feedback.

### Notes
- I’m presenting a few variations of the `copy` icon to see what lands best with others.
- I tried emphasizing the close button by changing it’s shape and background color. The position of the button feels appropriate but agree it’s low-visibility may cause some issues.

### Preview
![share-open](https://user-images.githubu

[2019-06-27 10:18] seanh commented on #1030
Maybe we should consider only showing these share links for open and restricted groups, not for private groups?

If these links do include the pubids of private groups then I think this may be worth some further thought. Giving someone the pubid of a private group doesn't just mean that person can see that group's annotations on the current page, it means the person can join the group and see all

[2019-06-27 13:01] lyzadanger commented on #1030
Curious, how would you suggest we do that, UX-wise? This share dialog is launched from the share icon in the top bar, which is always present. (As an aside, I have long thought that the sharing icon—because it pertains to a collection of annotations, not the whole app—doesn't necessarily belong in the top bar, but closer to the set of annotations it references.)

[2019-06-27 13:16] dwhly commented on #1030
Deny all possible use cases in order to avoid the potential for self-inflicted harm?  Hmm.

I think we can all imagine workflows in which being able to grab a focused links into a specific page would be useful within that community-- for instance, on summary documents that provide links into the various articles the community has annotated, etc.  I think if we're concerned, we should consider a wa

[2019-06-27 13:22] lyzadanger commented on #1030
@jaredpdesigns The look of the updated component is clean and clearer than our current variant—thank you!

There are a couple of typos (e.g. `annotation` should be plural) but I think we can skim over that for now.

I have a concern that the dark close button, while I _like_ it and it stands out well in isolation, may feel stark/too-contrasty in our very-low-contrast sidebar context reality. Reall

[2019-06-27 13:23] dwhly commented on #1030
We did consider share, search and sort all being on the line below, to the right of the tabs for exactly this reason.  Not an unreasonable notion.

[2019-06-27 13:24] lyzadanger commented on #1030
One of the reasons I'm pushing on this is also because we are proposing changing the behavior of this link from what it currently does (no group context currently) so I want to try to be as clear as possible.

[2019-06-27 13:54] seanh commented on #1030
_Surely_ we're not going to ship a handy `Share these annotations [Twitter] [Facebook]` widget that, if used, leaks the secret key that gives read and write access to your private group and all its past and future annotations?

The already existing invite link is a different thing. It's _purpose_ is to invite people to join the group. It's labeled in the UI as "**Invite new members:** Sharing the

[2019-06-27 15:16] dmfine commented on #1026
[] - Switch to pg11 in dev environment
[] - Run tests on sample data. Proactively look for errors
[] - Figure out what it would take to fix anything that's broken
[] - Create gDoc with upgrade steps and compatibility findings

[2019-06-27 15:16] robertknight commented on #1005
We did do some refactoring related to this in https://github.com/hypothesis/client/pull/1196 to clarify what the current behaviour is and reduce the risk of it changing unexpectedly in future. Otherwise we’re going to say that this is a known limitation with group scopes and pages that have annotation-enabled iframes.

[2019-06-27 15:16] #1005 closed, assigned to robertknight

[2019-06-27 23:32] jaredpdesigns commented on #1030
Here are a few more iterations based on the feedback from @lyzadanger

- I think including the name of the group in the title provides the clearest intention of what in fact a user will be doing.
- Provided a couple of options for `close`—me thinks if we stick with a lower-contrast background color for the button it would probably be best to accompany the icon with a label for added clarity and sc

[2019-07-01 16:59] jfix commented on #94
[I've been redirected from the Hypothesis Open Slack workspace to this issue by @klemay, thanks! Here is what I said, slightly edited for clarity:]

I seem to have come across a usability issue when using the hypothesis sidebar on mobile devices.

More specifically, when the sidebar (using the classic theme) is open, its close button in the left top corner covers the underlying page’s hamburger bu

[2019-07-01 17:47] diegodlh commented on #1146
Another example is https://slashdot.org/ (there is a page-annotation thread about this in the Hypothesis' public layer). There, the site's style dictates a "color" css rule of "white" applied to "button" elements. This rule is marked as "!important" and therefore overrides the "color" rule of "#969696" (gray) applied to elements of the classes "annotator-frame" and "annotator-frame-button".
Couldn

[2019-07-09 01:38] dwhly commented on #1031
It was suggested that we consider merging the tutorial with the "help" function.  This seems like a good idea.  If people agree, this issue should serve as the combined ticket.

![Screen Shot 2019-07-08 at 6 25 25 PM](https://user-images.githubusercontent.com/1413074/60852723-c94a1380-a1ad-11e9-8947-000a4f6f4089.png)

Several improvements to help, or help-as-merged-with-tutorial include:
- A copy-

[2019-07-09 02:54] dwhly opened #1032 "User adjustable type sizing"
## Feature Request Form
### Problem you are trying to address with this feature

Allow users a way to adjust the interface and text editor type size.

This is a stub.  cc @jaredpdesigns

### Your solution

### Add tags - did you add labels?
If this a customer requested feature, make sure to add that label.

[2019-07-09 14:26] lyzadanger commented on #1027
An update...I took a look at what we store on the `User` table today, and believe we will need to make functional changes to be able to have the data we need to discern what we're trying find here—that is, the ability to see the time delta between a user signup and the activation of that record. That is, we can't display any additional information on the admin-user page, as there's no additional i

[2019-07-09 15:29] klemay commented on #1027
@lyzadanger Thank you for looking into this!

@dwhly, at present there is no more info to display on the user admin page. We need to make changes to the `User` table first.

Lyza, seems like a good next step is for me to create 3 tickets:
- Add `activation_date` column to `User` table
- Show `activation_date` on user admin page
- Don't populate `last_login_date` until user logs in for the first ti

[2019-07-09 16:09] klemay commented on #988
A 1st step toward investigating: https://github.com/hypothesis/product-backlog/issues/1027

[2019-07-09 17:15] dwhly commented on #1027
So, "created" is equivalent to "registered".  Then "activated" comes later, when the account is activated.  And then after that would be "last login date" at first login.  I can update the terms used here on this issue to reflect.

[2019-07-09 17:26] klemay commented on #1027
Currently, "last login" is updated when the account is created (even though creation =/= logging in), and we don't keep a separate "activated" record. Lyza has proposed adding one. Once that happens, yes, it will be:

- registered_date  is set when the record is created—i.e. on signup
- activation_date will be set when user's account is activated
- last_login won't be set until the user actually l

[2019-07-09 20:23] klemay commented on #878
We received another report of this today, from someone using Brave from Android ([See Zendesk ticket](https://hypothesis.zendesk.com/agent/tickets/5430
)).

[2019-07-10 22:19] dcht00 commented on #198
I don't know if it has been mentioned before, but **per-user colors** would really do the trick for some of my group use-cases. Perhaps doing it similarly to how it already functions very well in Etherpad would be just fine - **users can pick their own (more or less) unique color**, that is then seen by all.

[2019-07-11 13:59] lyzadanger commented on #1027
@klemay Agreed on your plan! Please close this and open issues for identified items.

[2019-07-11 14:10] klemay opened #1033 "Add activation_date column to User table"
Part of https://github.com/hypothesis/product-backlog/issues/988; enables https://github.com/hypothesis/product-backlog/issues/1034.

We need to store the date and time when a user activates their account. @lyzadanger suggested in https://github.com/hypothesis/product-backlog/issues/1027 that we should add an `activation_date` column to our `User` table so we can then surface that info on admin pa

[2019-07-11 14:11] klemay opened #1034 "Show activation_date on user admin page"
Part of https://github.com/hypothesis/product-backlog/issues/988, depends on https://github.com/hypothesis/product-backlog/issues/1033.

Once the `activation_date` is added to our `User` table, we need to surface it on the h admin pages for user lookup.

[2019-07-11 14:21] klemay opened #1035 "Don't populate last_login_date until user logs in for the first time"
Part of https://github.com/hypothesis/product-backlog/issues/988, related to https://github.com/hypothesis/product-backlog/issues/1033 and https://github.com/hypothesis/product-backlog/issues/1034.

Currently, `last_login_date` is populated when a user clicks the button to create an account, even though they've never actually logged in. So we can get accurate account data, we shouldn't populate th

[2019-07-11 14:22] klemay commented on #1027
Closing in favor of https://github.com/hypothesis/product-backlog/issues/1033, https://github.com/hypothesis/product-backlog/issues/1034, and https://github.com/hypothesis/product-backlog/issues/1035.

[2019-07-11 14:22] #1027 closed, assigned to nobody

[2019-07-13 00:20] jaredpdesigns commented on #1030
@lyzadanger wanted to post a small design change for the share card to make it clearer there was a `button` to click to copy a particular URL—it's something we discussed in our design meeting today.

![share-open-separation](https://user-images.githubusercontent.com/6108048/61164366-2ac0f980-a4b0-11e9-8956-729d1fc0f3e2.png)

[2019-07-14 18:08] d0felia opened #1036 "Access to hypothes.is annotations in Zotero"
## Feature Request Form
### Problem you are trying to address with this
Access to hypothes.is annotations in Zotero. Directly connecting annotations to citations would make hypothes.is (which is already great!) exponentially more useful for research.

A fuller integration that connects groups permissions would be a dream.

### Your solution
Pull annotations into Zotero so they can be indexed and s

[2019-07-14 21:49] dwhly commented on #1036
@judell What discovery have you done here?

[2019-07-15 21:02] klemay commented on #198
[Notes from a user in Zendesk](https://hypothesis.zendesk.com/agent/tickets/5464) on what they'd expect from this implementation:

1. User can select color of the current highlighting fast from GUI and not from Preferences [i.e., can be selected in context where the user is annotating, rather than making them go to a separate preferences page]
2. The color for each highlighting/annotation is persi

[2019-07-15 21:26] judell commented on #1036
http://jonudell.info/h/zotero-sync-01.mp4 demos an experimental proof-of-concept. If you'd like to try it, @d0felia, it's perhaps best to contact me directly (judell@hypothes.is) so I can find out more about what you have in mind, and whether this approach might be useful.

[2019-07-15 21:44] d0felia commented on #1036
Yes! This is exactly what I had in mind.
@judell — I'd be very happy to try it. Though I'm not a programmer, I know just enough to get myself into trouble ;) and will contribute whatever I can...

[2019-07-16 20:52] jaredpdesigns commented on #1031
Here’s my first pass at a revised help menu:

- In lieu of verbose instructions on how to commonly use Hypothesis, a _Getting Started_ video can supplement that.
- Carried forward the same `close` button design from the revised share menu to make it clearer users can dismiss the help card.
- Two secondary actions appear at the bottom of the card “Common help topics” opens a new tab/window and take

[2019-07-17 10:47] lyzadanger commented on #1026
Is this complete?

[2019-07-17 14:39] klemay commented on #1031
This looks good to me! One thing to note:

I'm not actually sure if that's possible. I've [created an issue](https://github.com/hypothesis/support/issues/63) to look into it. NinjaForms does have a prefill/auto-populate feature but I'm unsure how we'd dynamically pass the info from the sidebar to the form.

If it's not possible to do this, perhaps I can alter the form in a way that reminds people

[2019-07-17 16:01] ajpeddakotla commented on #998
@robertknight do we have an answer to @lyzadanger comment above? It seems like resolving this may time some time, and if that's the case, maybe we can de-prioritize this for now?

[2019-07-17 16:05] klemay commented on #988
After speaking with @ajpeddakotla, we're removing this from the current sprint for a number of reasons:

- It will be much easier to get the data I need after engineers + integrations accomplish their Q3 DOs (sandboxed environments for metrics)
- LMS grading, scoped dev keys, and non-institutional PDFs with Google File picker are all much more urgent

This is important to resolve and we shouldn't

[2019-07-17 17:56] jaredpdesigns commented on #1031
@klemay thanks for the feedback. I think it would be OK if we didn’t auto-fill this via some sort of URL query—but having an optional field in the form could be nice to expedite support requests.

[2019-07-17 18:31] dmfine commented on #1026
Documented the resulting plan here https://docs.google.com/document/d/1dbwSiONiuLQ8Bq31fEpAFtflBpalsIzp0_hF-iWlY1o/edit?usp=sharing

[2019-07-17 18:31] #1026 closed, assigned to dmfine

[2019-07-17 18:48] klemay opened #1037 "Don't show flag icon unless user is logged in and has permission to flag annotations"
Currently the flag icon is visible (and clickable) on annotation cards even if someone isn't logged in:

<img width="464" alt="Screen Shot 2019-07-17 at 2 35 01 PM" src="https://user-images.githubusercontent.com/12087705/61401955-13af4c80-a8a0-11e9-8e55-df49bf250ef7.png">

If you try to flag an annotation while not logged in, you'll get an error message:
<img width="457" alt="Screen Shot 2019-07-1

[2019-07-17 18:55] klemay opened #1038 "Don’t show reply icon if user is not authorized to write to current group"
Related to https://github.com/hypothesis/product-backlog/issues/1037 and https://github.com/hypothesis/product-backlog/issues/575.

The reply icon is visible to users who aren't logged in. Clicking "reply" while not logged in leads to an error message:

<img width="469" alt="Screen Shot 2019-07-17 at 2 50 03 PM" src="https://user-images.githubusercontent.com/12087705/61402999-54a86080-a8a2-11e9-95

[2019-07-18 15:50] robertknight commented on #970
@klemay - Have you been able to reproduce this at all in LMS contexts?

[2019-07-18 16:00] klemay commented on #970
@robertknight Personally, no. But a lot of LMS users report it. I always ask them to send me the PDF, and when I create an assignment in our LMSes + add annotations, they anchor just fine. Even the example Nate points to above works perfectly for me. But we know it happens, because I get reports + screenshots from users.

[2019-07-19 15:11] klemay commented on #235
@judell has been helping users get set up with notifications with a utility he's built. He helpfully wrote up what he's learned in the process: https://docs.google.com/document/d/1zSkMjYsAT-hA0ZuX2JgsKq-JklgPAKzjuJ6aIIxJdyQ/edit# (must be logged in to Hypothesis Drive to view document)

[2019-07-19 19:11] klemay commented on #1031
In yesterday's design meeting, Dan asked me to have a think about what would be included if we decided to keep a task-list in the "Getting Started" view. I think I'd pare down our current options and include:

1. To create an annotation, select text and click the "Annotate" button.
2. To create a highlight ([visible only to you](https://web.hypothes.is/help/why-are-highlights-private-by-default/))

[2019-07-19 23:11] jaredpdesigns commented on #1031
A new iteration on the Help card moving things around a bit.

- Main overview area has re-arranged action buttons which both open new tabs when clicked.
- Users can access the “About this version” whenever the help card is active by following the link at the bottom of the card.
- 2nd iteration of the help card looks at the idea of a slideshow of common steps that map to the options outlined in the

[2019-07-21 19:54] grahamperrin commented on #637
FWIW with Waterfox Classic 56.2.12 I can run [the extension for Chromium-based browsers](https://chrome.google.com/webstore/detail/hypothesis-web-pdf-annota/bjfhmglciegochdpefhhlphglcehbmek) through [Chrome Store Foxified](https://addons.mozilla.org/addon/chrome-store-foxified/) and get this:

![image](https://user-images.githubusercontent.com/192271/61596263-eee90b00-abf8-11e9-9e82-467d5ffcc771.p

[2019-07-21 20:11] grahamperrin commented on #637
Whilst it's nice to have the bookmarklet, there's the unavoidable frustration of bookmarklets of this type (not solely Hypothesis) not working with various sites.

[Note that the bookmarklet doesn't work on sites with restrictive CSP · Issue #209 · hypothesis/vision](https://github.com/hypothesis/vision/issues/209) (2016, archived)

So for example https://twitter.com/judell/status/1152257422125223

[2019-07-22 16:10] judell commented on #637
@grahamperrin that's very interesting. I also use Waterfox to run an orphan ftp add-on, did not know about Chrome Store Foxified, which is evidently discontinued but also runs as an orphan in Waterfox.

You got farther than I did! If I could reproduce what you've done to get the Hypothesis sidebar to open in Waterfox by way of Chrome Store Foxified, I might be able to suss out your auth issue. But

[2019-07-22 23:23] klemay commented on #1031
Since we're pursuing WCAG AA compliance, I should mention: [WCAG 2.0 Success Criterion 2.2.2](https://webaim.org/standards/wcag/checklist#sc2.2.2) requires that automatically moving, blinking, or scrolling content that lasts longer than 5 seconds can be paused, stopped, or hidden by the user.

And even though "5 seconds" is specified there, I recommend against following the letter but not the spir

[2019-07-23 04:43] grahamperrin commented on #637
Yes, with home-built Waterfox Classic 56.2.12 and a new profile on FreeBSD-CURRENT.

Join me in IRC if you like (directions: https://web.hypothes.is/help/how-can-i-get-access-to-the-code-or-talk-to-hypothesis-developers/#hkb), I'm connected via Riot/Matrix. I'll be snoozing whilst connected so just fire away and I'll pick up reasonably soon.

Thanks

[2019-07-23 11:03] seanh opened #1039 "Add pyenv to bouncer, lms and via"

[2019-07-23 12:32] lidel commented on #637
FYSA Firefox 69 will fix bookmarklets on sites with restrictive CSP:
https://bugzilla.mozilla.org/show_bug.cgi?id=1478037

[2019-07-23 14:51] dmfine commented on #1024
Upgrade plan: https://docs.google.com/document/d/1dbwSiONiuLQ8Bq31fEpAFtflBpalsIzp0_hF-iWlY1o/edit

[2019-07-23 15:15] #1016 closed, assigned to hmstepanek

[2019-07-24 15:34] #848 closed, assigned to nobody

[2019-07-24 15:36] robertknight commented on #998
I've deleted the remaining TODO for the moment, as a minor issue that we may revisit another time.

[2019-07-24 15:36] #998 closed, assigned to nobody

[2019-07-26 16:17] #1028 closed, assigned to hmstepanek

[2019-07-30 18:21] xolotl opened #1040 "Problem: How can Hypothesis know who is installing the LMS app so it can provide support and information?"
# User Story
As a Hypothesis team member, I want to know who has installed the LMS app so I can make sure they get support and information to help make annotation a success at their institution. Installers need to supply some technical information in order for Hypothesis to provide them with the credentials needed to install the app in their LMS. In order to provide installers with appropriate sup

[2019-07-30 19:31] klemay commented on #1040
After a call today with @xolotl, @ajpeddakotla, and Butch, we agreed on the following path forward:

- Adopt the interim solution outlined by Nate above
- From the form that Nate builds, we'll learn: (a) what info we need to collect; and (b) what format it will be in (i.e., text entry? drop-down fields? radio buttons?); and (c) what format will be most useful for the data (spreadsheet? direct entr

[2019-08-01 21:06] klemay commented on #358
Update on this one:

Requests to delete user accounts are still one of the top issues generating tickets for support. To see all tickets related to this request, go to: https://hypothesis.zendesk.com/agent/search/1?q=tags%3A%22delete_account%22

Back when Dawa was here, we tried implementing a survey but received no responses. Now, our "Deleted User's Account" macro contains the following text:

U

[2019-08-01 21:09] klemay commented on #815
Closing in favor of https://github.com/hypothesis/product-backlog/issues/909

[2019-08-01 21:09] #815 closed, assigned to nobody

[2019-08-01 21:14] klemay commented on #909
We are now able to delete a user's account if they have created private groups where others have annotated. The creator of that group is set to "None" and other members continue to be able to annotate in the group.

The problem initially presented in this ticket is solved.

The two outstanding items in the checklist at the top of this issue (Enable editing of private groups in the admin panel; Ena

[2019-08-01 22:36] hmstepanek commented on #909
@klemay Sounds good to me.

[2019-08-01 22:36] #909 closed, assigned to nobody

[2019-08-01 23:43] dwhly commented on #358
@klemay Please add this to the "To Review" column.  It's time we implemented this in product.

[2019-08-02 15:07] dmfine commented on #897
Replacing this with 4 other issues and an epic on improving ssh auth

[2019-08-02 15:07] #897 closed, assigned to nobody

[2019-08-02 19:15] klemay commented on #358
@dwhly done! and agreed. :)

[2019-08-06 16:01] judell commented on #94
Here's an update prompted by feedback from an instructional designer who asks:

As per above, the problem is eminently solvable for PDFs and I have been using an effective solution in a custom variant of the H extension for some time.

This instructional designer, however, is reacting to the sidebar covering a regular web page in an LMS assignment. The proof-of-concept solution for that case is no

[2019-08-06 16:33] judell commented on #1135
@katelyn and @robertknight my recollection is that https://github.com/hypothesis/client/tree/listen-for-url-changes was a proposed solution, it was tried, and it was found wanting. True? If so, what was lacking and what was judged to be necessary for a solution?

[2019-08-08 17:38] hmstepanek opened #1041 "Move sentry helpers into a separate python package"
Currently we have duplicated code in h and lms repos for configuring sentry logging/filtering.
Move this code into a separate repository that can be installed as an external python package in h and lms.

 - [x] Apply feedback from PR
 - [x] Get a suitable login for PyPI
 - [ ] <del>... and put it in Passpack</del> https://github.com/hypothesis/playbook/issues/235
 - [x] Get the package setup for p

[2019-08-08 18:29] klemay commented on #1040
The interim form is here: https://web.hypothes.is/education/lms/install/

As of 8 Aug 2019, the info we're collecting is:

FIrst Name
Last Name
Email
Role
Organization
Primary LMS
What are you looking to do with annotation?

[2019-08-08 19:37] klemay commented on #1030
Please move to 1209 in client - along with the final screenshot(s)

[2019-08-08 20:07] klemay commented on #366
Closing in favor of https://github.com/hypothesis/via/issues/81

[2019-08-08 20:07] #366 closed, assigned to nobody

[2019-08-08 20:11] dwhly commented on #358
One thing that came up today: at some point of the process of deleting we might want to present them with the option to download their existing annotations.  That might mean it makes sense to implement https://github.com/hypothesis/product-backlog/issues/566 first.

[2019-08-08 21:05] #1030 closed, assigned to nobody

[2019-08-08 22:30] xolotl commented on #1040
Note that the form as of today, 8 Aug 2019, also requires people to acknowledge some usage terms before they can submit.

We've already changed the form multiple times since it went live, so flexibility and speed to modify will likely continue to be key requirements.

The form is also embedded in a H. webpage, which enables us to surround it with other content and functionality.

[2019-08-08 22:32] xolotl commented on #1040
I continue to think something like B. Supply credentials via API above will be the shortest path to the best solution as then communication with the CRM is also offloaded from H. to the form.

[2019-08-12 23:13] rubaboo commented on #637
Leaving a comment just to watch this conversation. Hope it stays open until the extension is released.

[2019-08-13 14:38] klemay commented on #862
Closing in favor of: https://github.com/hypothesis/product-backlog/issues/409

[2019-08-13 14:40] mkdir-washington-edu commented on #409
Moderators are forced to continue to view annotations they have hidden. They should be able to hide these from themselves as well.

[2019-08-13 16:18] klemay opened #1042 "Surface source metadata in API annotation object"
From [a recent Zendesk ticket](https://hypothesis.zendesk.com/agent/tickets/5565):

As Jon points out in a response to the user:
We do save what's in `<meta>` tags, so provided the page author provides it, we could surface things like:

- dc.author
- dc.ext.author
- highwire.author
- dc.date
- dc.erms.date.created
- highwire.publication_date
- dc.modified

In this particular user's case, getting a

[2019-08-15 19:35] #424 closed, assigned to nobody

[2019-08-16 18:04] hmstepanek opened #1043 "Improve support of using docker in dev"
Currently we have `make docker` and `make run-docker` commands in our repo make files. These in theory build and run the docker containers for each of the repos so that you can use docker in dev, however, in practice these do not work. Instead of building from the local code they build from git head which is not optimal when developing a new feature as you generally test your changes before you co

[2019-08-19 12:05] seanh commented on #1043
Hi Hannah,

I think there's a misunderstanding here. `make run-docker` isn't meant for using Docker to do development, and we don't support using Docker in dev (other than to run the services). `make run-docker` is a rarely used command for testing the production Docker image locally:

[code]

Please use `make dev` for development -- I don't want to have multiple competing ways of doing developmen

[2019-08-19 12:05] #1043 closed, assigned to nobody

[2019-08-20 14:46] seanh opened #1044 "Development Environment Roadmap"
I've written up past, ongoing and future Hypothesis devenv developments as a list of problems to solve, in roughly priority/sequence order, in this EPIC issue. This probably doesn't belong in product-backlog but I'm putting it here for now for lack of a better place. After writing this up I realised it would probably work better as a product board, but for now this will do.

## Incrementalism

The

[2019-08-20 16:32] seanh opened #1045 "Automate creating dev DB contents in h and lms"
Belongs to EPIC: https://github.com/hypothesis/product-backlog/issues/1044

**Problem:** Currently you have to manually create a lot of stuff (users, groups, authclients, ...) in your h and lms DBs in dev in order to get those two apps working together in dev.

**Requirements:**

* It would be nice if all the necessary data could be created automatically for you when you run `make dev`.

* We woul

[2019-08-20 17:52] hmstepanek commented on #1044
Something not mentioned on here: differences in configuration between dev and prod. For example: logging.

[2019-08-20 18:01] seanh commented on #1044
Logging is a good one. For example it's important that, when an error happens, we log sufficient details to debug it if it happened in prod. If logging works differently in dev vs prod then things might look fine in dev but when an issue happens in prod we find ourselves without sufficient logging to debug.

@hmstepanek Can you add that to the checklist?

In general all apps have countless differe

[2019-08-20 18:25] hmstepanek commented on #1044
Thinking a better approach that isn't prone to miss something because we haven't encountered it yet would be to evaluate the differences between the prod and dev config files (conf/app.ini and conf/development-app.in) in each repo and remove unnecessary differences. In my experience running into these kinds of issues they've all resulted from differences in those config files (logging being one ex

[2019-08-20 18:45] #840 closed, assigned to nobody

[2019-08-20 18:46] dwolfe commented on #801
@ajpeddakotla If this is still relevant, could you open a new issue for it? Thanks!

[2019-08-20 18:47] dwolfe commented on #856
@ajpeddakotla If this is still relevant, could you open a new issue for it? Thanks!

[2019-08-20 21:15] ajpeddakotla commented on #801
@dwolfe  could you turn off notifications for this repo rather than closing issues? Let’s not create more work when it’s not needed.

[2019-08-21 16:44] klemay commented on #260
A lot has changed in our client since this issue was opened, so we're converting this to a spike. We need to know:

- Does the proposed implementation here still make sense? If yes, what's the scope of that work?
- If the proposed implementation no longer makes sense, what's the best path forward?

[2019-08-21 17:00] klemay opened #1046 "Implement pagefit solution for PDFs"
## User story
As a student annotating PDFs, I want to view the contents of the annotation sidebar and my source text at the same time.

## Background
A long-standing feature request is https://github.com/hypothesis/product-backlog/issues/94, "Don't cover the page with your sidebar."

@judell came up with a proof of concept that has been working reliably; it's a lot simpler to implement for PDFs fi

[2019-08-21 17:01] klemay commented on #94
I've opened a separate issue for implementing this for PDF first: https://github.com/hypothesis/product-backlog/issues/1046

We'll keep this open until we're able to implement for HTML as well.

[2019-08-21 18:49] seanh commented on #884
What's the problem with serving static assets from the Pyramid app? Presumably they are (or at least should be) cached in nginx and even in Cloudflare, so only the first request for each static asset should actually get to the Pyramid app? Or are all static assets request hitting the Pyramid app currently?

[2019-08-21 21:27] seanh opened #1047 "Our apps run behind nginx in production, but not in development"
## Problem

In the devenv your browser just connects to gunicorn directly, instead of connecting to gunicorn indirectly via nginx as browsers using production do. This means that if developing features that rely on nginx (for example, we recently used nginx rate limiting in production) those features can't be reproduced in dev.

## Proposed solutions

1. It would be simple to add nginx to the `doc

[2019-08-21 21:28] seanh commented on #884
I've opened a separate issue for the nginx in dev thing. Possible workaround for the macOS host networking problem? https://github.com/hypothesis/product-backlog/issues/1047

[2019-08-21 21:32] seanh commented on #884
I think the serving static files thing is also a separate issue?

Agree that the two nginx's in production definitely seems wrong. Definitely seems like we should be doing it in AWS's documented way

[2019-08-21 22:58] hmstepanek commented on #884
Presumably they would be cached at the cloudflare level yes. In dev however, since we don’t run nginx these requests all go straight to the pyramid app. In general I don’t think this is really a performance problem in production so much as a what’s the correct architecture and a separation of concerns. Yes our current architecture works but it doesn’t necessarily follow best practices. Consider lm

[2019-08-21 23:17] hmstepanek commented on #1047
As with any tool when you try to use it in an unorthodox way you end up running into these kinds of issues. Docker excels in a microservice environment and the reason docker is proving to be complicated to use in this scenario is because we are trying to use it in a non-standard way. We have some services running outside of docker and some services running in docker. If instead, all of our service

[2019-08-22 15:48] hmstepanek commented on #1045
I did some research on this yesterday. You can attach a volume to each postgres container and it will output data into the volume (aka mounted local directory). This could then be committed somewhere where users could pull it down. As mentioned above the issue with this is the committed directory containing sensitive information, although it might be possible to put this in a private or encrypted

[2019-08-23 14:08] robertknight commented on #277
This is being implemented in https://github.com/hypothesis/client/pull/1320

I saw a note somewhere online that raven-js will suppress duplicate reports automatically on the client side. I'm not sure if this applies to the new Sentry SDK as well. That may also help.

[2019-08-27 10:00] robertknight commented on #277
An initial approach to this was implemented in https://github.com/hypothesis/client/pull/1320. We'll see how it pans out and adjust accordingly.

[2019-08-27 10:00] #277 closed

[2019-08-27 10:37] seanh commented on #1045
I'd like us to consider an alternative suggestion -- add a Python script `make devdata` that inserts the development data into the DB if it doesn't exist already, as in the diff below.

The script should be written to create the development data (users, groups, organizations, authclients, ...) if it doesn't already exist, or update it to have the right values if it's incorrect, while not touching

[2019-08-27 17:03] hmstepanek commented on #1045
One downside I see to a script is that now we are expecting devs to maintain their own version of this script which doesn't seem to fit into existing developer workflows. I can't speak for everyone but for me at least, most of the data I add is not done through scripting but by adding data via expected user paths (ui in the client, etc) and I find my biggest complaint is that I have to start from

[2019-08-27 17:24] robertknight commented on #1045
I don't follow. Why would developers be expected to maintain their own version of this script? My understanding is that the point of this script is to populate the database with a standard, useful set of entities for various common testing scenarios. If the developer wants to create any additional entities of their own which are not part of the standard set, that's beyond the scope of this issue a

[2019-08-27 17:40] hmstepanek commented on #1045
@robertknight

^ This makes it sound like the script is going to be run every time the user runs make dev so it would have the potential to remove local changes the developer has made.

[2019-08-27 17:50] hmstepanek commented on #1045
I'm thinking of some use cases here:

For lms when working on things like error when the lms url is not correct on the server for example, I actually go into the db and edit the lms url. I don't add a new entry as that would require me to then go into lms and register that new entry within lms. Instead, I just modify an existing one I'm already using. This would most likely not be compatible with

[2019-08-27 23:52] hmstepanek commented on #1045
I think I'm approaching this more from a persistence of data than from an automatic creation of data. Certainly creating the data in the first place is annoying but what's more annoying to me is once it's created it can be lost again if the database container is killed.

I'd like to understand more about how this script is intended to be used and what it handles and what it doesn't. Just based on

[2019-08-28 10:11] seanh commented on #1045
That's a separate problem. This card is titled _**Automate creating** dev DB contents_.

Can we create a separate card for being able to save and then later reload a snapshot of your entire DB? That can be done currently by using `pg_dump` to dump the contents of your DB to a file, and then using `pg_restore` to reload the file, and I'd recommend that approach as it's Postgres's standard way of ba

[2019-08-28 19:57] dmfine opened #1048 "Spike: Should we move from Pingdom to New Relic for availability monitoring?"
This is a spike to see if this is something we should do.
Things to think about:
1. It would be nice to have all these dashboards in one place
2. Having health check metrics in the same place as the rest of our metrics will enable us to do smarter alerting
3. There may be a cost consideration

[2019-08-29 18:08] hmstepanek commented on #1048
I have added all the pingdom checks into New Relic plus some additional checks.

# Things left to consider/explore here:
- [x] I have issued an inquiry to NewRelic about pricing for yearly/monthly reports. The free tier has weekly reports (~ a month worth of data retention) and if we purchase a years worth of data retention we can get monthly reports which we could also send to our mailing list as

[2019-08-30 16:26] dmfine opened #1049 "Create a staging environment for H"
We ought to have an environment like QA but not in the build pipeline.

What we're trying to solve:
Sometimes you want to be able to test something in a real AWS environment. QA is not a good place for that because it can block production releases or result in bad code being deployed

Goals:
1. An AWS environment where a PR build can be deployed and tested for a longer period of time without touch

[2019-08-30 16:55] dwhly commented on #1049
For a long time, I've wanted to bring back a capability that we used to have, which was the ability to quickly deploy branches in a way that others could interact with them-- mostly in the team.  It was phenomenally useful, obviously for non-devs, but also there was a simplicity that even the developers appreciated.  I keep forgetting the name of the open source project we used for this....

Perha

[2019-08-30 18:41] dmfine commented on #1049
I agree this should be a key design consideration

[2019-08-30 18:43] judell commented on #1049
http://dokku.viewdocs.io/dokku/

[2019-08-30 23:14] hmstepanek opened #1050 "Do not page on call staff during failed prod deploy that is rolledback by AWS"
# Problem:
Currently the on call staff are paged 25 minutes before developers are alerted that a production deploy has failed and been rolled back to a previous working version. When a production deploy fails, AWS health checks fail and AWS automatically rollsback to the previous working deploy. This means the on call staff do not need to be notified as no human intervention is required.

# Desira

[2019-08-30 23:26] hmstepanek opened #1051 "Alert devs if health checks fail after deploy"
# Problem:
Currently it takes 20 minutes (from the time of first health check failure to the notification of the failing/rolled back build in slack) for developers to be notified of failing health checks due to a production release.

# Ideal Solution:
Monitoring should be improved such that when a deploy is in progress and health checks start failing an alert is sent to the monitoring slack channe

[2019-09-03 10:18] #1039 closed, assigned to seanh

[2019-09-03 11:30] seanh commented on #1045
I've pushed a proof-of-concept to a pre-closed PR, to help answer some of the questions raised about a script-based approach: https://github.com/hypothesis/h/pull/5698/

This only creates three users, it doesn't create all the users, groups, memberships, organizations, authclients, etc that're needed. But I think it should be enough to demonstrate the concept.

Some notes on this POC:

* If you ha

[2019-09-03 11:36] seanh commented on #1045
If I understand the Docker volume-based solution correctly, this basically involves someone setting up their local DB with all the right data manually, and then saving a Docker image of this data, which everyone else will then pull down. That sounds to me like it's not going to work well with existing custom data in developers' DBs (you would lose all your data, each time you load or re-load the d

[2019-09-03 17:07] hmstepanek opened #1052 "Determine existing performance of via with pdfs"
# Problem
If we are going to set out to improve the performance of via proxying pdfs, we first need to understand what its existing performance is. This is necessary to:
- Understand where the current bottlenecks are in proxying pdfs with via and know whether we can improve the performance of via and if so by how much.
- Provide a baseline from which to measure our new solution against so we can d

[2019-09-03 17:17] hmstepanek opened #1053 "Spike: Investigate using nginx to proxy pdfs"
# Problem:
We would like to implement a new solution for proxying pdfs outside of via. Investigate a pure nginx based approach (no python server).

# Requirements:
- [x] Detect whether the document is a PDF or not (e.g. it might be an HTML document)
   - Forward to via.hypothes.is when the document is not a PDF
   - If the document is a PDF then serve up pdf.js-hypothes.is configured to fetch the

[2019-09-03 17:25] hmstepanek opened #1054 "Spike: What does Via use Squid for?"
# Problem:
We would like to come up with a via alternative for proxying pdfs but we noticed via uses squid. It appears to be used for some sort of localhost lock down so there may be some additional security requirements for the via alternative.

# Investigation:
Investigate what squid is used for in via currently and if the reason for its usage needs to be an additional requirement for the new pd

[2019-09-03 17:30] hmstepanek opened #1055 "Write a proof-of-concept PDF CORS proxy"
# Problem:
We would like to make a via alternative for proxying pdfs. This is dependent on outcomes from #1054, #1053, #1052.

# Requirements:
See https://docs.google.com/document/d/1XjFSwJf3NcBxlnarLmM_IvU8PR39cgxuKB6ey2RUIPo/edit# for now.

# Outcome:
A proof-of-concept that injects the Hypothesis sidebar into a pdf.

[2019-09-03 20:15] ajpeddakotla opened #1056 "SPIKE: Research and draft a Test Management Strategy"
### Background
[This issue](https://github.com/hypothesis/browser-extension/issues/212) and others highlight the need to implement better test coverage across our deployment pipeline.

We currently don't have complete test coverage that would alert us _proactively_ to changes that result in priority level 1 or 2 events, in which the service is down, or users are unable to annotate.

A search throu

[2019-09-03 23:25] hmstepanek commented on #1048
I heard back from New Relic today, 12 months of data retention is out of our price range compared to Pingdom (~6x the price). On the other hand I don't think this is a blocker for us switching over. AFAICT we weren't really doing anything with the yearly data in Pingdom anyway, we still have a months worth of data retention with the free tier in New Relic (sufficient for uptime reports), and we st

[2019-09-03 23:40] emckean commented on #1048
I'm subscribed to this repo kind of accidentally (I think just because I sent in a feature request) but I wanted to point out that New Relic has a pretty generous program fir 501c3 nonprofits (altho you have to ask for it). Just FYI! :)

[2019-09-03 23:46] hmstepanek commented on #1048
@emckean-they absolutely do and we are already part of it! Unfortunately, even so the data retention is pretty expensive. :(  Thank you for taking the time to make sure we were aware-much appreciated!

[2019-09-04 18:21] lyzadanger commented on #771
As can happen, something that sounds relatively straightforward has some wrinkles, given that the goal here is to make it possible for users with screenreaders to be able to ascertain whether the sidebar is currently open/available/"visible" or collapsed/unavailable/"hidden".

The `aria-expanded` attribute relies on source ordering (i.e. DOM structure) to work as intended. The element that expands

[2019-09-04 19:05] klemay opened #1057 "Improve accessibility of tags on annotation cards"
Part of https://github.com/hypothesis/product-backlog/issues/753.
Related to https://github.com/hypothesis/product-backlog/issues/781.

## User stories

1. As a Hypothesis user who also uses a screenreader, I’m confused by the list of tags on annotation cards because nothing explains to me that they are tags - they are read to me as a list of links with no surrounding context.
2. As a Hypothesis u

[2019-09-04 19:18] lyzadanger commented on #779
Since the a11y assessment was performed, menu elements in the client have changed markedly, for the better. Some of the TODOs are therefore done, but a few of them are implemented in slightly different ways so I wanted to walk through them.

* Add `aria-label="Sort annotations"` to `button` element — we have a `label` attribute on the `button` now, but not an `aria-label`. This will require change

[2019-09-04 20:53] ajpeddakotla commented on #1048
@hmstepanek something to note that some of the security questionnaires we get in do ask us about log retention. A cursory glance at some of the questionnaires shows that the storage time we get asked about the most 90 days. So if we can get data retention for three months in New Relic without the cost going up too much we should do that. We do need to ensure data retention for our partners, so thi

[2019-09-05 15:17] #781 closed, assigned to lyzadanger

[2019-09-06 05:07] hmstepanek opened #1058 "Make a standalone PDF CORS proxy for the LMS app"
# Why is a PDF CORS proxy needed?

Because Canvas files and other PDF sources that the LMS app uses do not insert the correct Access-Control-Allow-Origin CORS headers into their responses, so the browser refuses to allow PDF.js to download the PDF file, giving a same-origin policy error. For all PDF servers that do not include these headers, we need to proxy the PDF download through a proxy that a

[2019-09-07 23:51] LMS007 commented on #771
Just looking at the URL

"aria-controls-is-poop"  lol

Maybe we could do a little light DOM restructure here so it sorta makes sense. W3 just recommends a simple div wrapper. https://www.w3schools.com/howto/howto_css_button_group.asp

[2019-09-09 13:31] dwhly opened #1059 "Improvements for social tagging"
## Feature Request Form
### Problem you are trying to address with this feature

We are neglecting one of the potentially most powerful uses of annotation which is social tagging.  ala Delicious, or Diigo's /tag search capability.  (https://www.diigo.com/tag/annotation).

### Your solution
Though you can search for tags by facet with our activity pages, there are four features which would dramatic

[2019-09-10 17:17] hmstepanek commented on #1052
In running locally I see that the bulk of the time is spent downloading the pdf and responding to the via request (although I don't have direct insight into why the response it slow here I think it's safe to assume it's taking a long time to return the proxied pdf to the client).

![image](https://user-images.githubusercontent.com/30059933/64635245-17e57b00-d3b4-11e9-9f2f-ea83ce3bd066.png)
![image

[2019-09-11 17:09] klemay opened #1060 "Activity view for [non-LMS] 3rd-party groups"
Building off of the work that will be done for https://github.com/hypothesis/product-backlog/issues/932, provide activity pages for 3rd party groups.

Note that this should not be blocked by https://github.com/hypothesis/product-backlog/issues/498, because there is, for example, the eLIFE open group which does not have an activity view.

[2019-09-12 12:16] robertknight commented on #1046
I think it is useful here to look at how the current version of PDF.js handles this issue for the table of contents/thumbnails view that opens from the left. There is some subtlety involved in balancing the desire to:

- Avoid having the side panel cover up the text
- Keep the text of the document readable

When Automatic Zoom is enabled, which is the default, the thumbnails panel seems to have th

[2019-09-12 15:50] judell commented on #1046
@Robert Knight <robertknight@hypothes.is> will do.

On Thu, Sep 12, 2019 at 5:16 AM Robert Knight <notifications@github.com>
wrote:

[2019-09-12 16:34] hmstepanek commented on #1053
Update: I have posted some preliminary bench mark results here comparing via to this proto-type:
https://hypothes-is.slack.com/archives/C4K6M7P5E/p1568305831077600

# Raw results:
*proxing a pdf request:*
![image](https://user-images.githubusercontent.com/30059933/64809065-58c4c780-d54d-11e9-9f01-484dbb1ad6d4.png)

*returning an html page with the pdf and hypothesis embedded:*
![image](https://use

[2019-09-13 18:14] hmstepanek commented on #1048
The decision here is to keep pingdom around for the 90 day report requirement with the possibility of moving the alerting to newrelic if the alert policy needs to be smarter than a not up for x number of minutes.

[2019-09-13 18:14] #1048 closed, assigned to hmstepanek

[2019-09-13 23:13] hmstepanek commented on #1052
On production here are the histograms of pdf response time and non-pdf response time (in seconds).
![image](https://user-images.githubusercontent.com/30059933/64899678-6f4c4b00-d641-11e9-8ba8-ae16e4759b42.png)

The 95th percentile response time for pdf's on prod is 1.5s and the 50th percentile response time is .36s. Note this is internal response time (from the time the request enters the uwsgi py

[2019-09-14 00:09] #1052 closed, assigned to hmstepanek

[2019-09-14 00:25] hmstepanek opened #1061 "Spike: Should we put the nginx pdf proxy solution on top of via?"
# Question:
Are we going to add the nginx pdf proxy solution on top of existing via or make a new service?

# Pros of adding it on top of via:
 - We don't have to change any lms code to point to the new service.
 - This will positively impact all existing proxied pdf lms assignments that have already been created and not just new assignments.
 - This makes it easier to transition off of via entire

[2019-09-14 00:26] hmstepanek commented on #1053
So I'm gonna conclude the definite answer to the question of whether nginx is a viable solution is **yes**. I'm going to continue to flesh out a full working prototype so we can check all the boxes here and I'll push a working repo so the prototype is visible to everyone.

A decision that needs to be made here is:

I realize that we've kept the scope of this narrow (to a new service that works for

[2019-09-14 16:05] judell commented on #899
This seems to work now without any intervention. Can others confirm?

[2019-09-16 14:21] pivic commented on #899
I am running Brave Version 0.70.93 Chromium: 76.0.3809.132 (Official Build)
beta (64-bit), and I can confirm that I can now open and annotate PDFs!
Brilliant! Thanks for the heads up, Jon.

On Sat, Sep 14, 2019 at 6:05 PM Jon Udell <notifications@github.com> wrote:

--
[image: Niklas Pivic] <http://zerp.ly/pivic>

[2019-09-16 15:09] judell commented on #1046
https://github.com/hypothesis/client/compare/master...judell:pdf-pagefit

[2019-09-17 18:51] mkdir-washington-edu commented on #669
https://hypothesis.zendesk.com/agent/tickets/6022
This user is an art historian!

[2019-09-18 00:59] hmstepanek commented on #1053
I have implemented a prototype [here](https://github.com/hmstepanek/pdf-cors-proxy).
Note there is a TODO in the nginx.conf to add blocking of response cookies-it's do-able and there is a link to an nginx library that would allow us to do it-it just hasn't been implemented in the prototype.

[2019-09-18 01:01] hmstepanek commented on #1053
I'm going to close this since we have our **yes** answer here and the prototype has been made and is available. There are future considerations/things to look into but those are separate from this particular issue.

[2019-09-18 01:01] #1053 closed, assigned to hmstepanek

[2019-09-19 01:35] LMS007 commented on #771
After digging deeper into this....

As Lyza points out, given the fact our collapsible annotation section does not follow the toggle button structurally, I think it's impossible for a reader to know which section is collapsed or not. I feel like this spec is incomplete and we need the equivalent of the simple simple `for=""` attr (for example) when using a `<label>` tag to associate the label with

[2019-09-19 11:51] robertknight opened #1062 "Upgrade to PDF.js v2.x"
Our current PDF annotation tools currently use versions of PDF.js v1.x from 2015. Since then there have been 4 years worth of work done upstream to improve performance, compatibility, text handling etc.

This issue is an epic covering the work involved in upgrading all of our PDF annotation environments to PDF.js v2.x. This work should also include making it easier to perform future PDF.js updates

[2019-09-19 15:36] klemay commented on #771
The `aria-expanded` attribute was a suggestion from the IDRC and it may be that we can meet this accessibility need another way.

So, reframing this issue a bit, the user story is:

Is this helpful?

[2019-09-20 14:42] franzau commented on #899
Also working here after upgrading Brave to Version 0.68.138 Chromium: 77.0.3865.75 (Official Build) (64-bit). Great!
Thanks Jon (I came here from https://web.hypothes.is/blog/using-hypothesis-in-the-brave-browser/)

[2019-09-20 20:50] mkdir-washington-edu commented on #198
Additional requests:
https://hypothesis.zendesk.com/agent/tickets/6044
https://hypothesis.zendesk.com/agent/tickets/6240
https://hypothesis.zendesk.com/agent/tickets/6888
https://hypothesis.zendesk.com/agent/tickets/7272
https://hypothesis.zendesk.com/agent/tickets/8106
https://hypothesis.zendesk.com/agent/tickets/8654
https://hypothesis.zendesk.com/agent/tickets/8737
https://hypothesis.zendesk.co

[2019-09-20 23:49] matt-e-king commented on #1135
Hello @judell @klemay and @robertknight, do you all foresee reliable SPA support on the near roadmap? As of right now, I'm just forcing "full page refreshes" to get around this issue.

I even attempted the general methodology behind this gist by @robertknight: https://gist.github.com/robertknight/b71af79a7dbe25712fad192e44bc6f5f
but never really got a confident outcome.

(this is such an amazing p

[2019-09-23 15:03] klemay commented on #899
I'll go ahead and close this since it works now! Thanks for catching this, @judell!

[2019-09-23 15:03] #899 closed, assigned to nobody

[2019-09-23 17:41] klemay commented on #1135
@matt-e-king this is currently on the near-term roadmap, but we do have some work coming up that _could_ get us closer to supporting this. The work that is coming up is pretty narrow in scope so I don't want to promise anything, but I'll update here if there's news.

[2019-09-23 18:44] mkdir-washington-edu commented on #324
Offer for English -> Spanish client translation once above work is done: https://hypothesis.zendesk.com/agent/tickets/6154

[2019-09-23 19:48] francomendoza commented on #436
@judell I'm interested in AV annotation.  I see some of the projects you worked on for taking clips, and was wondering what obstacles you ran into to push this further into the hypothesis framework?

[2019-09-23 21:02] judell commented on #436
We need to teach the client to distinguish between fragments it depends on and others. If you have bandwidth and can look into that, I'd love to see what you come up with.

[2019-09-24 14:33] seanh opened #1063 "Harmonize a few dev env differences"
Harmonize a handful of small differences between the h, bouncer and lms dev envs:  make dev using honcho, automatically installing docker-compose, automatically creating the test DB, automating make services.

[2019-09-24 15:45] klemay commented on #771
@lyzadanger and @LMS007 I've re-titled and re-framed this issue so we can still meet our WCAG requirement. I'll leave the specifics of the approach to you.

[2019-09-25 04:07] hmstepanek opened #1064 "make redirect internal to /pdf/ endpoint"
# Problem
The redirect to the /pdf/ endpoint could be dangerous as it redirects and no longer checks the content type header of requests that happen after the initial redirect. This means that if the page changes its content type to a non-pdf for whatever reason it will be using the incorrect endpoint (the pdf endpoint rather than via).

# Solution
Internally redirect (aka redirect but make the cl

[2019-09-25 04:11] hmstepanek opened #1065 "only wait for the headers to come back from the pdf server"
# Problem
Currently the pdf proxy prototype issues a full pdf request which can be time consuming as it waits for the entire pdf to download. Instead, only grab the headers.

[2019-09-25 04:14] hmstepanek opened #1066 "deploy pdf proxy prototype to QA and production"
- [x] Fork GitHub repo into hypothesis organization
- [x] QA and production
- [x] GitHub->Jenkins (deploy to QA, push button to deploy to prod)
- [x] Jenkins push to Docker Hub project
- [x] Health-check endpoint (/_status)
- [x] Elastic Beanstalk in deployment repo
- [x] DNS in Cloudflare (SOMETHING.hypothes.is)
- [x] Papertrail
- [x] Pingdom
- [x] PagerDuty

[How to setup a new repo for deploy.]

[2019-09-25 04:16] hmstepanek opened #1067 "use an envvar instead of * for the Access-Control-Allow-Origin header's value"
# Problem
Currently the access allow origin response header for pdfs has a value of *, it should be limited to the `hypothes.is`'s domain instead.

[2019-09-25 04:19] hmstepanek opened #1068 "Spike: look into making a custom docker image"
# Problem
Currently the pdf proxy uses the official apline linux openresty base image.  It would potentially be smaller and easier to upgrade if we wrote our own.

[2019-09-25 04:22] hmstepanek opened #1069 "strip cookies in response header"
# Problem
Currently we are not stripping cookies in the response header from the third party pdf server we are proxying. This could be insecure as it allows the thirdparty server to set cookies on the client. These should be removed from the response.

[2019-09-25 04:32] hmstepanek commented on #1055
This is complete as the [nginx investigation](https://github.com/hypothesis/product-backlog/issues/1053) lead to a prototype [here](https://github.com/hmstepanek/pdf-cors-proxy).

[2019-09-25 04:32] hmstepanek commented on #1055
This is complete as the [nginx investigation](https://github.com/hypothesis/product-backlog/issues/1053) lead to a prototype [here](https://github.com/hmstepanek/pdf-cors-proxy).

[2019-09-25 04:32] #1055 closed, assigned to hmstepanek

[2019-09-25 16:03] LMS007 commented on #771
Sure, I think there may be another way to do this, I'm gonna tinker around with the screen reader and different ways to convey the sidebar is open or closed.

[2019-09-25 16:53] matt-e-king commented on #1135
Thanks for the response @klemay!

[2019-09-25 22:58] #1064 closed, assigned to hmstepanek

[2019-09-26 17:13] dwhly opened #1070 "Show Sentry IDs in error pages for easier reporting and tracing."
## Feature Request Form
### Problem you are trying to address with this feature

Sometime users get errors, either in the LMS app, or presumably in other parts of the system (client, webapp, etc).  Those errors may show in a purpose-built error message that they see.
The one seeing the error occasionally may also be us-- our staff, developers, support team, etc.  Users may tell us about these erro

[2019-09-27 15:21] hmstepanek commented on #1065
[slack convo](https://hypothes-is.slack.com/archives/C1MA4E9B9/p1569547993005400)

[2019-09-27 18:12] hmstepanek commented on #1065
Issue a HEAD request with a fallback to a full GET request if the Content-Type header doesn't exist.

[2019-09-27 18:12] #1065 closed, assigned to hmstepanek

[2019-09-30 20:06] mkdir-washington-edu commented on #21
Other requests:
https://hypothesis.zendesk.com/agent/tickets/6235
https://hypothesis.zendesk.com/agent/tickets/7190
https://hypothesis.zendesk.com/agent/tickets/7244
https://hypothesis.zendesk.com/agent/tickets/12944

[2019-10-01 15:55] mkdir-washington-edu commented on #127
Additional requests:
https://hypothesis.zendesk.com/agent/tickets/6235
https://hypothesis.zendesk.com/agent/tickets/7321
https://groups.google.com/g/hypothesis-forum/c/jCJQM_KQsBE/m/1Cr54qf2BAAJ

[2019-10-02 16:54] hmstepanek commented on #1067
Just had a sync with Sean on this and he pointed out since the browser doesn't view it as a cross origin request anymore since it's all on h's domain we can probably just remove this header. I gave it a try and it appears to work so I've just removed it entirely.

[2019-10-02 16:54] #1067 closed, assigned to nobody

[2019-10-02 18:15] lyzadanger commented on #1030
I was working on implementing this and I just now noticed that both the Facebook and email icons are different here than what is available in the hypothicons set. @jaredpdesigns help?

[2019-10-02 19:36] jaredpdesigns commented on #1030
@lyzadanger I am migrating the Hypothicons to the new Pattern Library site and all the icons on that page are easily click-copy to get an SVG of the icon itself. [https://hypothesis-pattern-library.netlify.com/#icon](https://hypothesis-pattern-library.netlify.com/#icon)

The icons that are featured in the previous mock-up above are what was currently in the application via the icon font and other

[2019-10-02 19:46] lyzadanger commented on #1030
@jaredpdesigns I have another question: what is the intended interaction behavior of both the Close button and the copy button (i.e. hover states, etc.)?

[2019-10-02 19:50] jaredpdesigns commented on #1030
@lyzadanger the `:focus/:hover` states should both darken the background of that area by one step, in this case would step up to `gray-2`. On the copy action, I think we could also increase the color contrast of the icon to a step above it’s current as well, so to `gray-6`. Open to suggestions however :)

[2019-10-03 15:53] #1057 closed, assigned to LMS007

[2019-10-05 13:23] #1045 closed, assigned to seanh

[2019-10-05 13:24] seanh commented on #1063
I'm gonna call this done: I copied h's Docker Compose and test DB automation over to LMS. Didn't have time to do the Honcho stuff or to automate make services---I'll leave those for a future sprint.

[2019-10-05 13:24] #1063 closed, assigned to seanh

[2019-10-07 23:32] #1069 closed, assigned to nobody

[2019-10-08 16:01] hmstepanek commented on #1061
Discussed and plan is to pursue this by adding additional feature to the lms specific via2 service first rather than starting by adding it to existing via.

[2019-10-08 16:01] #1061 closed, assigned to nobody

[2019-10-08 20:09] klemay opened #1071 "Pass LMS authentication to embedded client"
_Note: I refer to JSTOR a lot in this issue, but it's just a shorthand for "whichever scholarly repository we decided to work with first"._

## User story:
As a teacher, I would like for my students to annotate articles hosted in a repository like JSTOR, which has embedded Hypothesis over its articles, using their LMS-provisioned accounts.

## Background
Repositories like JSTOR require login (or a

[2019-10-08 22:21] matt-e-king commented on #1135
@klemay are there any internal "refresh" or "reload" methods in the hypothesis client that could be exposed to `window`? Something to destroy and rebuild, like `window.hypothesisClient.reload()`.

It's probably not ideal, but maybe low hanging fruit 🤞 😄

[2019-10-08 22:22] matt-e-king commented on #1135
Sorry, @klemay looks like someone else as asked: https://github.com/hypothesis/client/issues/1322

[2019-10-09 14:13] richardlm commented on #774
I'm not sure if this thread is still active and tag manipulation is still in the product backlog, but I would like to echo most of what @majkinetor has highlighted as being important for a Diigo user to migrate.

To take a very simple - but annoying - limitation in hypothesis: if I make a spelling mistake when entering a tag that tag is stored and offered to me when I go to add a tag with the same

[2019-10-09 14:38] jon-betts commented on #1041
Pull request for this in: https://github.com/hypothesis/h/pull/5742

[2019-10-09 14:40] seanh commented on #1041
Checklist:

- [ ] Foo
- [ ] Bar

[2019-10-09 16:21] hmstepanek commented on #1068
Reading through this doc [here](https://openresty.org/en/installation.html). Looks like we have to compile our own open resty on alpine linux ourselves. This seems like a lot of effort for not a lot of gain IMO. We would essentially be copying the official Docker file and managing it ourselves. I'm not sure if there's a lot of gain to be had in doing that.

[2019-10-09 16:29] hmstepanek commented on #1068
[This](https://github.com/openresty/docker-openresty/blob/master/alpine/Dockerfile.fat) is the base image we are using for our image. There is some stuff in there that we don't necessarily need like perl and curl although I do think curl is useful for debug so it might be worth keeping that.

[2019-10-09 16:34] hmstepanek commented on #1068
For now I think we should stick with the pre-built official image. We can revisit this if at some point later there is a pre-built openresty for the version of alpine we are using. It looks like in the future that might be the case for [edge aka v3.11](https://pkgs.alpinelinux.org/packages?name=openresty&branch=edge).

[2019-10-09 16:34] #1068 closed, assigned to hmstepanek

[2019-10-09 16:42] klemay commented on #774
@richardlm, we don't currently have work scheduled on tags, but your observation is helpful— thank you!

In the meantime, to address the spelling mistake issue, you can actually remove the misspelled tag from your browser's localStorage. The procedure for accessing localStorage varies according to browser; in Chrome it's in the Application tab in the debugger.

Also, since this issue was first ope

[2019-10-10 04:09] #1066 closed, assigned to hmstepanek

[2019-10-10 10:44] richardlm commented on #774
Many thanks @klemay - both pointers are very helpful.

[2019-10-10 14:43] klemay opened #1072 "Spike: Re-evaluate authentication flow for h and client"
[See related discussion in Slack.
](https://hypothes-is.slack.com/archives/C2BLQDKHA/p1570667375004200)

Logging in to the client also logs users into h. Logging out of the client does not log users out of h. This makes things difficult for anyone with more than 1 Hypothesis account (including Hypothesis team members who occasionally log into our moderation account):

1. User activates Hypothesis

[2019-10-10 15:26] hftf commented on #94
I could basically solve this problem myself by setting different margins for `body` if you set a class on `body` when the sidebar is open and closed.

[2019-10-10 15:30] hftf commented on #956
I experienced about 30 duplicates for every annotation I tried to make within the span of about 15 minutes on Saturday afternoon, but I deleted all of them by now.

[2019-10-10 18:44] jon-betts commented on #1041
An initial version of the module is available at: https://pypi.org/project/h-pyramid-sentry/

[2019-10-10 20:04] klemay commented on #1031
Soon it will be time to convert this component to Preact, so we should revisit this and agree on scope + the path forward. So far we've decided:

- Combine the tutorial and help cards into one component. It's shown by default for new users, can be dismissed with the [x Close], and can be revisited by clicking the ? in the toolbar.
- There are 2 cards that make up this component: "Overview" and "Ab

[2019-10-11 00:04] jaredpdesigns commented on #1031
@klemay I think this is a summary of the changes we’d like to see to the mockup:

![help-menu-1](https://user-images.githubusercontent.com/6108048/66614857-4ea2e280-eb66-11e9-960c-43f0389c3e5e.jpg)

The first image is the “Getting started/Overview”  which presents the steps outlined in your [comment thread](https://github.com/hypothesis/product-backlog/issues/1031#issuecomment-513343796) (a side n

[2019-10-11 10:20] jon-betts commented on #1041
The code has been moved out into a separate repo at: https://github.com/hypothesis/h-pyramid-sentry

[2019-10-11 14:29] klemay commented on #1031
I also like the combo of iconography + label in the task list!

[2019-10-11 17:13] LMS007 opened #1138 "Improve UX for resize feature"
It's unclear that the open/close button also allows for dragging and changing the size of the sidebar. It feels a tad overloaded and also makes it difficult to nail down a11y controls. It may be worth adding an additional UI control that is specifically for resizing:

![Screen Shot 2019-10-11 at 10 10 21 AM](https://user-images.githubusercontent.com/3939074/66670788-6edaac00-ec0f-11e9-8eb6-bd682bd

[2019-10-11 17:53] klemay opened #1073 "[support] Update KB article for sending environmental info"
As part of https://github.com/hypothesis/product-backlog/issues/1031, the help panel is going to get redesigned. We'll need to update the corresponding KB article to reflect this:

https://web.hypothes.is/help/how-to-send-us-your-environmental-information/

[2019-10-15 07:58] robertknight commented on #771
I'm afraid I had to revert the change as it broke on pages that did not supply a custom Hypothesis configuration for the client via the `window.hypothesisConfig` method. See https://github.com/hypothesis/client/pull/1435

[2019-10-17 13:24] mkdir-washington-edu commented on #669
https://hypothesis.zendesk.com/agent/tickets/6595
Image annotation specific to PDFs

https://hypothesis.zendesk.com/agent/tickets/7272

[2019-10-17 13:50] mkdir-washington-edu commented on #806
https://hypothesis.zendesk.com/agent/tickets/6582
User suggests showing only their own annotations could be a third state of the "hide highlights" button.

https://hypothesis.zendesk.com/agent/tickets/7499

[2019-10-17 18:35] klemay opened #1074 "Improved accessibility of annotation editor"
Previously, our annotation editor presented a few accessibility issues:

- the buttons were small and difficult to click
- the editor toolbar and toolbar buttons were not correctly identified to assistive technology, so users would have to tab through each button in the toolbar in order to start typing their annotations

Thanks to recent work by @robertknight, we're rolling out improvements to the

[2019-10-17 18:35] #1074 closed, assigned to nobody

[2019-10-20 19:17] klemay opened #1075 "Add a "copy version details" function to the tutorial/help panel"
As part of the work for https://github.com/hypothesis/product-backlog/issues/1031, we initially proposed a "copy version details" button that would save the info in the tutorial/help panel to the clipboard so a user could easily paste into an email, Slack, or wherever they're going to get help.

[As discussed in Slack](https://hypothes-is.slack.com/archives/C07NXBDNW/p1571406305018100?thread_ts=15

[2019-10-21 22:08] dwhly commented on #1075
Still worth doing IMHO.

[2019-10-22 16:46] hmstepanek commented on #1054
Just posting some general solution thoughts here:
On both endpoints which are responsible for proxying to the third party url we specify a resolver but we could instead specify and provide a custom resolver that blocks certain ips. This seems like an elegant and simple solution although I have no experience or knowledge as to what it would take to build such a thing. This is the path that I am cur

[2019-10-22 23:19] hmstepanek commented on #1054
Security lock down todo list:

- [ ] [open issue](https://github.com/hypothesis/deployment/issues/52) ebextensions file that puts etc file on the host to block ec2metadata IP (See [link](https://ops.tips/blog/blocking-docker-containers-from-ec2-metadata/)). cat /etc/sysconfig/iptables <- this sprint
- [ ] ebextension /etc/hosts config to block domains
- [ ] [PR](https://github.com/hypothesis/proxy

[2019-10-23 16:52] mkdir-washington-edu commented on #1135
Additional request: https://hypothesis.zendesk.com/agent/tickets/6722

[2019-10-23 21:50] mkdir-washington-edu commented on #903
Related: https://hypothesis.zendesk.com/agent/tickets/6721
It looks like the canonical tag was used incorrectly in the past, and even though currently the HTML is correct, two different epubs are now equivalent in the DB.

See https://hypothes-is.slack.com/archives/C2BLQDKHA/p1571776559010800

[2019-10-24 16:55] seanh opened #1076 "LMS onboarding workshops (.5-1 days)"

[2019-10-24 16:56] seanh opened #1077 "Fix an LMS bug from Sentry"

[2019-10-24 16:57] seanh opened #1078 "Make it easy for developers to use the matcher pattern in our python tests"
Our tests often use a pattern of comparing concrete objects to 'matcher' objects which consider themselves equal under certain circumstances. Typically this is used to have more loose matching objects which will match a range of different things, where those differences don't matter for the test. For example:

[code]

This is useful because:

 * It let's you concentrate on the features of the test

[2019-10-24 17:00] seanh commented on #1041
Extracted the PyPI part into a separate issue: https://github.com/hypothesis/playbook/issues/235

[2019-10-24 17:00] seanh commented on #1041
Achieved!

[2019-10-24 17:00] #1041 closed, assigned to seanh, jon-betts

[2019-10-24 17:29] jon-betts opened #1079 "Allow developers to create and update standardised python libraries quickly"
Smaller more focused libraries are often better for maintainability of the code, but incur an overhead in 'boilerplate' files. These files are not the focus of any particular library but are crucial to all of them functioning properly, and often become a maintenance problem in their own right.

Desired outcomes:

 * It's easy to make a new python package
 * You are steered to doing the right thing

[2019-10-24 17:35] jon-betts commented on #1079
This is available here:

 * https://github.com/hypothesis/h-cookiecutter-pypackage

And can be used by running:

[code]

[2019-10-24 17:36] jon-betts commented on #1079
This is now the basis of the boilerplate in `h-pyramid-sentry`:

 * https://github.com/hypothesis/h-pyramid-sentry

You can update the files from master with:

    make template

[2019-10-24 17:37] #1079 closed, assigned to seanh, jon-betts

[2019-10-24 17:44] jon-betts commented on #1078
Created a repo for this at:

 * https://github.com/hypothesis/h-matchers

[2019-10-25 15:34] robertknight commented on #771
I have merged a change from @LMS007 so that the open/close and highlights visible/hidden buttons in the toolbar are now correctly identifies as toggle buttons and their active/not-active state is correctly indicated. See https://github.com/hypothesis/client/pull/1436.

[2019-10-25 19:01] jon-betts commented on #1078
This is now building out to:

 * https://pypi.org/project/h-matchers/

[2019-10-28 11:48] jon-betts commented on #1078
This is now used in h_pyramid_sentry in: https://github.com/hypothesis/h-pyramid-sentry/pull/9

[2019-10-29 15:55] ajpeddakotla commented on #954
#1079 (this is a test)

[2019-10-29 17:11] jon-betts commented on #1078
We are all done and merged!

[2019-10-29 17:11] #1078 closed, assigned to seanh, jon-betts

[2019-11-01 19:30] klemay opened #1080 "Don't stream video content through Via2"
As we replace Via with Via2 in the LMS app for HTML pages, embedded videos and other streaming files will present less of a problem for our system. However, embedded media will likely slow down the experience for our users, which we want to avoid.

For Via, we have Cloudflare rules that block specific URLs (including Youtube). For Via2, rather than playing whack-a-mole and blocking URLs, we should

[2019-11-04 17:40] hmstepanek commented on #1054
Remaining todos will be carried over into next sprint and tracked via: https://github.com/hypothesis/deployment/issues/56.

[2019-11-04 17:40] #1054 closed, assigned to hmstepanek

[2019-11-06 16:08] dwhly commented on #1062
Request that this be bumped underneath the Chrome extension upgrade as the next priority.

[2019-11-06 16:09] hmstepanek commented on #1058
The PDF part of this is done-work continues on https://github.com/hypothesis/proxy-server/issues/2.

[2019-11-06 16:09] #1058 closed, assigned to nobody

[2019-11-06 17:26] ajpeddakotla commented on #771
Closed as this has been completed

[2019-11-06 17:26] #771 closed, assigned to robertknight, LMS007

[2019-11-07 15:20] #1077 closed, assigned to seanh, jon-betts

[2019-11-08 18:31] #1031 closed, assigned to lyzadanger

[2019-11-11 14:58] mkdir-washington-edu commented on #932
Also: https://hypothesis.zendesk.com/agent/tickets/7118
https://hypothesis.zendesk.com/agent/tickets/9605
https://hypothesis.zendesk.com/agent/tickets/9607
https://hypothesis.zendesk.com/agent/tickets/10396
https://hypothesis.zendesk.com/agent/tickets/10575
https://hypothesis.zendesk.com/agent/tickets/11052
https://hypothesis.zendesk.com/agent/tickets/11311

Update - these users have been emailed

[2019-11-12 17:52] #1075 closed, assigned to lyzadanger

[2019-11-14 15:07] #1076 closed, assigned to seanh, jon-betts

[2019-11-15 20:06] klemay commented on #1080
After some discussion in our prod backlog meeting, we're wondering if this is actually the correct approach. Rather than blocking content, could we show it without streaming it through our proxy?

I've renamed the issue so that it's not specific to the initial content-blocking solution.

[2019-11-15 20:13] klemay opened #1081 "Warn users in the client about PDFs that don't have selectable text"
This is a follow-on to https://github.com/hypothesis/lms/issues/1093, where we want to help users avoid PDF annotation problems.

## User story
As a Hypothesis user, I want to annotate PDFs. I don't necessarily know about the concept of OCR, and I don't know that I can't annotate a PDF if it doesn't have selectable text. When I try to annotated a non-OCR-ed PDF, all I know is that it "doesn't work

[2019-11-16 18:53] robertknight commented on #1024
Postgres 11 cleanup tasks:

- [x] Pause the old PG 9.4 instances
- [ ] Remove the old PG 9.4 instances after a couple of days
- [ ] Make sure nothing in the playbook references the old database instances
- [ ] Search for any references to Postgres 9.4 in other repos (lms, h) and adjust as necessary
- [ ] Review the "Notes from during the migration" section in the [Postgres 11 migration Google Doc]

[2019-11-18 09:12] robertknight commented on #1024
I grepped for references to "postgres.*9" in the various H repos I have checked out locally (including h, lms, playbook). I found the following:

- In the h and lms repos, `docker-compose.yml` references Postgres 9.4. This is linked to figuring out the easiest path for devs to upgrade their local environments to PG 11
- In the h repo there are a couple of references to documentation pages from Pos

[2019-11-19 18:59] indigetal commented on #669
Just put a request in for this myself (Ticket #7272) and was alerted to this existing case, but it looks like it's been a known issue since at least 2014. There is no way to draw a marquee selection in hypothes.is to annotate images or un-selectable text, such as in some PDF files.

[2019-11-19 19:30] indigetal commented on #198
I just put in a request for this feature myself (Ticket #7272), and was alerted to this existing ticket. I second malcooks suggestion to associate the different highlighting colors with the tags and not the annotations, so you only see the color in each annotations little id marker near the scrollbar *when there is a tag assigned to it*. This is a basic feature of qualitative data analysis softwar

[2019-11-19 19:33] nichtich commented on #669
The underlying technology, by the way, is established as [IIIF Image API](https://iiif.io/api/image/).

[2019-11-20 22:53] ajpeddakotla opened #1082 "Determine steps needed to make metrics/analytics business critical infrastructure"
### Problem
Metabase and the analytics service is uses is not currently able to be included as part of critical business infrastructure due to the following:
- We currently don't have the infrastructure in place to have automatic alerting for when Metabase, or the infrastructure required for it to function is down.
- Only a handful of members on the engineering team have the complete understanding

[2019-11-25 01:07] AndrewJudson commented on #324
Is this still on the roadmap? what can other people do to help?

[2019-11-25 16:28] klemay commented on #324
@AndrewJudson it's still a long-term goal, though I can say that we're currently doing some refactoring work on our client that will make projects like this one much easier. We have several offers for help with an English -> Spanish translation once we do get to this, and if you'd be able to help with any other languages it'd be great to note that here so we can reach out in the future!

[2019-12-02 17:11] klemay commented on #1073
Done. See: https://web.hypothes.is/help/how-to-send-us-your-environmental-information/

[2019-12-02 17:11] #1073 closed, assigned to nobody

[2019-12-02 22:54] klemay opened #1083 "Check a11y progress"
With the ongoing conversion of our client's frontend, many of our [accessibility roadmap items](https://github.com/hypothesis/product-backlog/projects/7) have been taken care of, in part or in whole.

Arti and Katelyn will team up to go through the WCAG 2.0 Criteria with the client as it stands now to see what remains to be done.

Katelyn has created a spreadsheet that we can use here: https://doc

[2019-12-03 18:10] klemay commented on #1080
Closing in favor of https://github.com/hypothesis/via/issues/194

[2019-12-03 18:10] #1080 closed, assigned to nobody

[2019-12-04 17:49] mkdir-washington-edu commented on #669
We had a request today on Jeremy/Nate's LMS grading demo.

[2019-12-06 05:34] tmabraham opened #1530 "Can I export PDF annotations?"
I would like to save a PDF with the annotations I had made on them. Is this possible? If not, would there be an easy way to do this with the API? I am new to Hypothesis API so please point me to the best resources. Thanks!

[2019-12-09 13:55] mkdir-washington-edu commented on #669
Other requests:
https://hypothesis.zendesk.com/agent/tickets/7387
https://hypothesis.zendesk.com/agent/tickets/9400
https://hypothesis.zendesk.com/agent/tickets/11169
https://hypothesis.zendesk.com/agent/tickets/11770
https://app.hubspot.com/contacts/6291320/ticket/244588999/

[2019-12-10 18:01] klemay opened #1084 "Spike: annotating PDFs served in an iframe"
## Background

It recently came to our attention that users are unable to annotate Wiley Online PDFs, like this one: https://onlinelibrary.wiley.com/doi/pdf/10.4073/csr.2017.14 (See [Slack discussion](https://www.google.com/url?q=https://hypothes-is.slack.com/archives/C1EQELNMS/p1574871127066900&sa=D&ust=1576432138172000&usg=AOvVaw2nUZDkJvAV07Iz9Se1USTF) for more context).

Wiley is serving these

[2019-12-10 18:56] mkdir-washington-edu commented on #669
https://hypothesis.zendesk.com/agent/tickets/7387
Since PDFs have an image layer and a text layer, it might be worth exploring if we can allow image annotation over a whole PDF.

[2019-12-10 20:21] mkdir-washington-edu commented on #94
https://hypothesis.zendesk.com/agent/tickets/7396

[2019-12-11 18:06] robertknight commented on #1082
@dmfine, @judell and myself had a call about this today to review:

1. How does the analytics server currently work and what is the overall flow of information from the production database into output dashboards/views in Metabase that the business team use
2. What are the components of that flow that are either 1) Not documented, 2) Not tracked in code or 3) Involve manual steps

Notes: https://do

[2019-12-12 10:38] #626 closed, assigned to robertknight

[2019-12-12 21:43] mkdir-washington-edu commented on #878
I believe this is the same issue: https://hypothesis.zendesk.com/agent/tickets/7418

If you follow this through to the video, note that in addition to the Hypothesis adder, there's another annotating popup and a magnifier running. The magnifier moves, which to me means it might be following the cursor.

[2019-12-13 01:59] KalanaPerera commented on #878
Having Same issue, +1

[2019-12-18 00:11] ajpeddakotla opened #1085 "EPIC: Confirm WCAG Level II Accessibility Standards Compliance"
This is an update of a previous epic: https://github.com/hypothesis/product-backlog/issues/753

### Problem
An increasing number of schools and institutions are requiring that any tool they adopt must meet basic standards of accessibility. In order for these institutions to adopt Hypothesis is any capacity, we therefore need to meet WCAG Level II standards.

**Out of scope for this work are the fo

[2019-12-18 00:32] ajpeddakotla commented on #753
Closed in favor of: https://github.com/hypothesis/product-backlog/issues/1085

[2019-12-18 00:32] #753 closed, assigned to ajpeddakotla, klemay

[2019-12-18 00:33] ajpeddakotla commented on #787
Closed in favor of https://github.com/hypothesis/product-backlog/issues/1085

[2019-12-18 00:33] #787 closed, assigned to nobody

[2019-12-18 00:33] ajpeddakotla commented on #801
Closed in favor of #1085

[2019-12-18 00:33] #801 closed, assigned to nobody

[2019-12-18 00:34] ajpeddakotla commented on #786
Closed in favor of #1085

[2019-12-18 00:34] #786 closed, assigned to nobody

[2019-12-18 00:34] ajpeddakotla commented on #783
Closed in favor of #1085

[2019-12-18 00:34] #783 closed, assigned to nobody

[2019-12-18 00:34] ajpeddakotla commented on #856
Closed in favor of #1085

[2019-12-18 00:34] #856 closed, assigned to nobody

[2019-12-18 00:35] ajpeddakotla commented on #504
Closed in favor of #1085

[2019-12-18 00:35] #504 closed, assigned to nobody

[2019-12-18 00:35] ajpeddakotla commented on #772
Closed in favor of #1085

[2019-12-18 00:35] #772 closed, assigned to nobody

[2019-12-18 00:35] ajpeddakotla commented on #773
Closed in favor of #1085

[2019-12-18 00:35] #773 closed, assigned to nobody

[2019-12-18 00:35] ajpeddakotla commented on #776
Closed in favor of #1085

[2019-12-18 00:35] #776 closed, assigned to nobody

[2019-12-18 00:36] ajpeddakotla commented on #777
Closed in favor of #1085

[2019-12-18 00:36] #777 closed, assigned to nobody

[2019-12-18 00:36] ajpeddakotla commented on #778
Closed in favor of #1085

[2019-12-18 00:36] #778 closed, assigned to nobody

[2019-12-18 00:36] ajpeddakotla commented on #779
Closed in favor of #1085

[2019-12-18 00:36] #779 closed, assigned to nobody

[2019-12-18 00:36] ajpeddakotla commented on #782
Closed in favor of #1085

[2019-12-18 00:36] #782 closed, assigned to nobody

[2019-12-18 12:17] robertknight commented on #788
This issue may need to be resolved, at least initially, with documentation rather than a product change. The issue is that in the context of a PDF, there are two kinds of zoom possible:

1. Zooming the _PDF contents_
2. Zooming the _user interface_, which includes all the PDF viewer controls (eg. the toolbar at the top) and Hypothesis

If you press <kbd>Cmd</kbd> + <kbd>+/-</kbd> on a normal web p

[2019-12-18 17:28] #1083 closed, assigned to ajpeddakotla, klemay

[2019-12-18 19:19] klemay opened #1086 "Allow users to opt in to receive comms on signup"
Writing a new issue in place of https://github.com/hypothesis/product-backlog/issues/431. The old issue has lots of outdated info & is a lot to read through.

## User story
- As a Hypothesis team member, I want to be able to email our users with news about Hypothesis and annotation
- I want to allow users to opt in to receiving these emails from us when they sign up for the service.

## Current si

[2019-12-18 19:19] klemay commented on #431
Closing in favor of https://github.com/hypothesis/product-backlog/issues/1086

[2019-12-18 19:19] #431 closed, assigned to dawachan

[2019-12-18 19:35] xolotl commented on #1086
I would change the user story to be more specific as we already can and do email users about their accounts, for support, etc. How about something like:

[2019-12-18 19:41] xolotl commented on #1086
For Q1: I think the copy would say something like:

[2019-12-18 19:45] xolotl commented on #1086
For Q2: Yes, as I understand it, to be GDPR-compliant, the box would have to be unchecked. People have to take an action to subscribe, like tick a box, just submitting a form with a box ticked by default is not considered an action.

[2019-12-18 19:48] xolotl commented on #1086
For Q3: I think it would be fine to have unsubscribe at first (or maybe always) via whatever system H. uses to send email news (formerly Mailchimp, now HubSpot). It might be nice if there were at least a link to go somewhere else to unsubscribe from a user's H. account settings (we could maybe set up https://web.hypothes.is/unsubscribe/ so we could redirect it at will to whatever system(s) were ne

[2019-12-18 19:51] klemay commented on #1086
Thanks Nate!

I think https://web.hypothes.is/unsubscribe/ + a link from account settings would be a great next iteration - I will write up that issue and link it here as we get closer to completing the work for this issue.

[2019-12-18 19:53] xolotl commented on #1086
OK @klemay! I might set up https://web.hypothes.is/unsubscribe/ now anyways as it might be handy to have a human-friendly link for it. That way we will know if it's working out before we bake it in the product.

[2019-12-18 19:57] klemay commented on #1086
Always a good move 😂

[2019-12-27 13:49] mkdir-washington-edu commented on #878
https://hypothesis.zendesk.com/agent/tickets/5554
https://hypothesis.zendesk.com/agent/tickets/7477

[2019-12-29 01:27] dmfine commented on #1023
They are being copied to an s3 bucket in us-east-1

[2019-12-29 01:27] #1023 closed, assigned to dmfine

[2019-12-30 18:58] xolotl opened #1087 "Sidebar icons blank/missing on Great Courses website"
## Bug report form
### Steps to reproduce
1. Visit any page on the Great Courses site, like: [https://www.thegreatcoursesplus.com/films/title/finding-the-story](https://www.thegreatcoursesplus.com/films/title/finding-the-story)
2. Note that the Hypothesis sidebar icons are missing/blank (their src seems to be "unknown").
3. Annotation capabilities otherwise seem to be functional.

### Expected beh

[2020-01-04 07:12] hur-kyuh-leez commented on #806
It will be great if one of the engineers points out which file to work on if someone wants to fix this. Unexplained directories seem to be quite overwhelming even for someone who wants to contribute.

[2020-01-04 08:03] robertknight commented on #806
This change may be tricky to implement for someone not familiar with the codebase as it spans a number of different components. In brief, it would involve at least:

- The code that runs in the document being annotated, which adds/modifies highlights (`src/annotator/guest.coffee`)
- The code that runs in the sidebar which communicates with the "host" document (`src/sidebar/services/frame-sync.js`)

[2020-01-04 08:51] hur-kyuh-leez commented on #806
@robertknight
I see. even though you have only explained a part it's much more complicated than what I expected.

[2020-01-06 19:21] klemay commented on #1085
Jeremy has added the specific contract language we've employed re: accessibility to Slack: https://hypothes-is.slack.com/archives/C8TPC8XMK/p1578338205002900

[2020-01-06 20:49] TTimo commented on #637
An extension to get past the CSP problems would be much welcome.

[2020-01-09 06:49] KalanaPerera commented on #878
is there any update on this?

[2020-01-09 15:30] klemay commented on #878
Hi @KalanaPerera - we're in the final stretch of a major overhaul of our frontend, including a bunch of mobile-friendly changes. We're hoping that this will resolve the issue for Android users, and will look further into this if it doesn't. I've added this issue to our bug backlog to make sure it doesn't get forgotten.

[2020-01-09 15:32] MavropaliasG commented on #845
Would be great to have this.

[2020-01-10 06:25] KalanaPerera commented on #878
Hi, @klemay Thank you for the detailed message. Is there any planned release date?

And I am interested in contributing yo this application :)

[2020-01-10 17:23] klemay commented on #878
@KalanaPerera we release continuously, so incremental changes will be released over the next few weeks.

Where/how would you be interested in contributing to Hypothesis? As you know, our code is all here on Github and our development docs are here: https://h.readthedocs.io/en/latest/

We also have a public slack: https://join.slack.com/t/hypothesis-open/shared_invite/enQtMzAxMTEwODAwMTgxLWEwZWYyYj

[2020-01-11 00:37] dwhly opened #1088 "Share link has some new formatting around it"
## Bug report form
### Steps to reproduce
1. Grab the share link to an annotation, use the copy link icon
2. Paste it into a document, like an email message

### Expected behaviour
You should get a plain link, with no extra formatting.

### Actual behaviour
The link comes with some additional formatting, which has to be stripped out if desired.

### Browser/system information
Chrome

Here's what I

[2020-01-13 23:01] ajpeddakotla commented on #788
@klemay what do you think the next steps here should be? This is one of the issues we need to address to meet level II standards. I do agree with @robertknight's assessment above, that we could resolve this via some more documentation, but I'm not sure if that meets WCAG standards.

[2020-01-14 02:53] tmabraham commented on #1530
Any update?? It seems like the developers are not checking the issues?

[2020-01-14 20:20] mkdir-washington-edu commented on #409
Adding this: https://hypothesis.zendesk.com/agent/tickets/7844
Links to flagged annotations in a locally-saved PDF don't give you any way of figuring out which Doc it's in.
In this instance, including the Doc title in notifications about flagged annotations would probably fix the issue.

[2020-01-14 22:20] klemay opened #1089 "Indicate that a flagged annotation has been reviewed by moderators"
## User story
As the owner of a website that regularly gets a lot of annotations...
or
As someone who shares moderation responsibilities with other team members...

I want the ability to indicate that I have reviewed a flagged annotation and decided not to hide it.

## Background
Currently, our moderation workflow is:
- An annotation is flagged
- The moderator for the group (or public channel) rec

[2020-01-15 01:56] dmfine commented on #1082
We were due to have a followup meeting after the holidays, going to schedule that.

[2020-01-15 15:27] robertknight opened #1090 "Investigate linting for accessibility issues"
One of the benefits of our new Preact-based UI is that we can use static analysis tools designed for React. There is an [ESLint plugin](https://github.com/evcohen/eslint-plugin-jsx-a11y) that can detect some common accessibility errors in JSX markup.

We should look into trialling this with the client and lms frontends and seeing whether this helps find or guard against mistakes.

- [x] Add eslint

[2020-01-15 20:57] mkdir-washington-edu commented on #290
https://hypothesis.zendesk.com/agent/tickets/7844

These suggestions came up today when helping a user find an annotation of hers that had been flagged. The user is the moderator of a private group where the annotations occurred on a locally-saved PDF. Because the doc was locally-saved, the link to the individual annotation did not work, leaving the user to figure out what document it was on her o

[2020-01-16 16:38] #1024 closed, assigned to robertknight, dmfine

[2020-01-17 17:30] clarkshahnelson commented on #241
I'm in favor! Here's my little use case:
As a student in a doctoral program, I set up private groups for every course - just for me, to keep myself organized. At a certain point I revisit articles I have annotated in prior classes - and could use moving them to a future class/private group.

Another one: I have a private group set up for getting started on dissertation. There are some things I add

[2020-01-17 17:32] clarkshahnelson commented on #241
Wait, just realized, is this what Jon's tool does here? I was looking at Facet and had forgotten there were others... :) CopyAnnotations
Copy annotations from one group to another. Also, optionally, from one domain to another.

https://jonudell.info/h/copy-annotations.mp4

https://jonudell.info/h/CopyAnnotations

https://github.com/judell/CopyAnnotations

[2020-01-17 19:21] klemay commented on #241
@clarkshahnelson Yes, it sounds like Jon's Copy Annotations tool will meet your needs. But thank you for sharing your use case with us, as it's always helpful to hear real users' experience!

[2020-01-20 18:41] mkdir-washington-edu commented on #669
https://hypothesis.zendesk.com/agent/tickets/7916
User wants to annotate PDFs without needing to OCR.

[2020-01-21 22:31] matt-e-king commented on #1135
FYI - @robertknight responded to a comment on this gist back in October 2019:
https://gist.github.com/robertknight/b71af79a7dbe25712fad192e44bc6f5f

His recommendation, along with using:
https://github.com/hypothesis/browser-extension/blob/8c1548dda1c840016c0bbc876e051b6b1f4d810e/src/unload-client.js

I am able to destroy/rebuild the Hypothesis client and all has been working smoothly so far.

[2020-01-29 19:49] klemay commented on #1089
Note - we've had https://github.com/hypothesis/product-backlog/issues/846 floating around for a while now, which is a possible solution to this problem.

[2020-01-29 19:50] klemay commented on #846
Would solve https://github.com/hypothesis/product-backlog/issues/1089

[2020-01-30 12:50] robertknight commented on #1090
Tracking of this has been moved to https://github.com/hypothesis/product-backlog/issues/1085. Linting has been enabled but we still have issues to fix.

[2020-01-30 12:50] #1090 closed, assigned to nobody

[2020-01-31 19:31] klemay commented on #788
@ajpeddakotla Rob's assessment is correct. Rather than closing this issue, I'm going to move this to the support repo so we know to create the KB article.

[2020-02-03 15:49] datocrats-org opened #1091 "webarchive.org link proxy integration"
## Feature Request Form
### Problem you are trying to address with this feature
I need to annotate an immutable version of a website. Currently the Steps I take are:
1. I save a website to webarchive.org using the [Save to the WayBack Machine chrome extension](https://chrome.google.com/webstore/detail/save-to-the-wayback-machi/eebpioaailbjojmdbmlpomfgijnlcemk?hl=en).
2. I annotate the archived ver

[2020-02-03 18:10] mkdir-washington-edu commented on #1046
Tickets:
https://hypothesis.zendesk.com/agent/tickets/8233
https://hypothesis.zendesk.com/agent/tickets/8260
https://hypothesis.zendesk.com/agent/tickets/8500
https://hypothesis.zendesk.com/agent/tickets/10202
https://hypothesis.zendesk.com/agent/tickets/10630 - User suggests we left-align instead of center-align PDFs when LMS assignments are opened in a new tab.

[2020-02-07 10:44] oestape opened #1092 "Linking two paragraphs in different documents through annotations (with preview)"
## Feature Request Form
### Problem you are trying to address with this feature

I have several PDF documents that are related to each other. For example

* A paragraph in the Specification Document should be linked to a paragraph in the Requirements Document
* A paragraph in the Design Document should be linked to a paragraph in the Specification
* A Test Case should be linked to the Design Docum

[2020-02-08 21:40] talwrii opened #1093 "Outlining and annotating a document "as a whole""
I found myself wanting to organize my thoughts about the document as a whole while reading a document rather than just thinking at a "micro" level. I also felt that summarizing long documents was something I wanted to do.

This made me think of outliners like org-mode that I usually use when creating notes. When researching on the topic, I found a feature in the commercial version of a tool called

[2020-02-10 18:12] jaredpdesigns commented on #1138
@LMS007 some explorations for making the expanding/collapsing of the sidebar was done in my Pattern Library work including new icons. Here’s an example if we added a separate `drag` option which would behave similar to the StackOverflow example.

![sidebar-expanded](https://user-images.githubusercontent.com/6108048/74177024-fa277680-4bdc-11ea-9244-7a5f7b10b4df.png)

![sidebar-collapsed](https://us

[2020-02-10 18:19] jaredpdesigns commented on #1138
One other thought regarding dragging vs. expanding/collapsing. Expanding/collapsing actions imply a fixed width of the sidebar and only open or closed, in the current UI it wasn’t ever really clear to me that you could drag the sidebar beyond the default expanded width, I think the addition of a separate control would make this clearer. For clarity we could also consider a slightly different desig

[2020-02-13 17:51] judell commented on #1046
Feedback from a user of an experimental build with this feature included:

[2020-02-25 15:34] ajpeddakotla commented on #1082
https://github.com/hypothesis/analytics/issues/1

[2020-03-02 15:34] judell commented on #1046
This video compares stock Hypothesis on the left to the variant in the above-linked branch.
Using the latter yesterday, I noticed that it's really annoying to have the sidebar shut every time I make a selection. This isn't an introduced behavior, it's something the client always does. But if you've got the annotated page and the sidebar in a tiled side-by-side arrangement, it wouldn't be necessary

[2020-03-02 15:57] franzau commented on #1046
agree, it would be better to have the text stable on the left side. The sidebar could stay open by default, at least if it does not overlap the text. My problem, however, it is the text moving to the middle of the screen when the sidebar shuts.

[2020-03-05 14:28] jon-betts commented on #1033
There is now a column on this table.

[2020-03-05 14:28] #1033 closed, assigned to jon-betts

[2020-03-05 14:28] jon-betts commented on #1034
This is done now and deployed.

[2020-03-05 14:28] #1034 closed, assigned to jon-betts

[2020-03-05 19:54] klemay opened #1094 "Improve account activation flow"
### User Story
As a new Hypothesis user, I am directed to check my email and click a link to activate my account. When I click the activation link, I am redirected to https://web.hypothes.is/ with no confirmation that my account was activated, or that I can log in and start annotating.

### Notes
As @seanh [points out in Slack](https://hypothes-is.slack.com/archives/C2C2U40LW/p1583418847014300), I

[2020-03-05 20:08] seanh commented on #1094
I suggest we either:

* Redirect them to https://hypothes.is/login with a flash message at the top of the page saying your account has been successfully activated and you can now log in with your username and password (we might also pre-fill the username field for them)

* Or we log them in automatically and redirect them to their profile page, with a flash message at the top of the page saying yo

[2020-03-09 19:34] mkdir-washington-edu commented on #94
A good point was also made by a right-to-left language user: https://hypothesis.zendesk.com/agent/tickets/8692

[2020-03-10 15:37] #645 closed, assigned to nobody

[2020-03-10 15:39] #816 closed, assigned to nobody

[2020-03-10 15:39] #832 closed, assigned to nobody

[2020-03-10 15:39] #879 closed, assigned to nobody

[2020-03-10 15:40] #884 closed, assigned to nobody

[2020-03-10 15:41] #887 closed, assigned to nobody

[2020-03-10 15:41] #893 closed, assigned to dmfine

[2020-03-10 15:41] #907 closed, assigned to nobody

[2020-03-10 15:42] #924 closed, assigned to dmfine

[2020-03-10 15:42] #925 closed, assigned to dmfine

[2020-03-10 15:42] #929 closed, assigned to dmfine

[2020-03-10 15:42] #931 closed, assigned to dmfine

[2020-03-10 15:43] #980 closed, assigned to dmfine

[2020-03-10 15:44] #981 closed, assigned to nobody

[2020-03-10 15:45] #983 closed, assigned to nobody

[2020-03-10 15:45] #985 closed, assigned to nobody

[2020-03-10 15:46] #1001 closed, assigned to dmfine

[2020-03-10 15:49] #1029 closed, assigned to nobody

[2020-03-10 15:51] #1056 closed, assigned to nobody

[2020-03-10 15:56] seanh commented on #1002
h QA and prod currently share the same DB and search index.

Bouncer QA and prod also both use the one h search index, so Bouncer QA should also be changed to use the new QA search index.

LMS QA and prod already use separate DBs (and LMS doesn't have a search index).

Our other apps (Via and Via 3) don't use any DB or search index.

We would want to have realistic data in the QA DB and search ind

[2020-03-10 16:09] seanh commented on #966
I don't see these in Papertrail anymore

[2020-03-10 16:09] #966 closed, assigned to nobody

[2020-03-10 16:15] #836 closed, assigned to nobody

[2020-03-10 16:18] #831 closed, assigned to nobody

[2020-03-10 16:18] #1004 closed, assigned to nobody

[2020-03-10 16:18] #874 closed, assigned to nobody

[2020-03-10 16:18] #930 closed, assigned to nobody

[2020-03-10 16:18] #1003 closed, assigned to nobody

[2020-03-10 16:19] #860 closed, assigned to nobody

[2020-03-10 16:20] seanh commented on #977
@lyzadanger Which app is having 502 errors? Shall we move this to that app's repo? Or just close this? Certainly doesn't seem like it should have the Operations label

[2020-03-10 16:22] lyzadanger commented on #977
Boy, this is a terribly-written issue. Sorry. I have no recollection of even what I was thinking. I'm closing this. If we see 502 errors from something, somewhere, sometime, we can open a reasonably-written issue about it.

[2020-03-10 16:22] #977 closed, assigned to nobody

[2020-03-10 16:27] #830 closed, assigned to nobody

[2020-03-10 16:29] seanh commented on #1049
Long-lived QA servers are antithetical to our development processes. We've chosen to use feature flags instead to provide the same QA needs.

[2020-03-10 16:29] #1049 closed, assigned to dmfine

[2020-03-12 01:41] vitalwarley commented on #1530
@tmabraham you can use judell's [script](https://github.com/judell/Hypothesis).

Here what I did to retrieve the annotations of a specific annotation:

[code]
Otherwise, you can get all annotations from a specific group:

[code]

However, the request takes a few minutes to complete--this last code took 8 min--and I don't know why. Look at the [API](https://h.readthedocs.io/en/latest/api-reference/

[2020-03-12 02:06] tmabraham commented on #1530
@vitalwarley Thanks, but how would this help save the annotations to a PDF? Would I have to do that separately also in a Python script?

[2020-03-12 19:58] vitalwarley commented on #1530
I didn't try to see how to export the PDF with the annotations using this API yet. But there is some work going on to that end, I guess: https://github.com/hypothesis/product-backlog/issues/566

[2020-03-12 20:07] tmabraham commented on #566
Hello,

Is there any progress on this? I would love to be able to export PDF annotations ([described here](https://github.com/hypothesis/product-backlog/issues/1530))!

[2020-03-16 15:14] klemay commented on #566
@tmabraham no progress yet, but we are planning to work on this soon!

[2020-03-16 15:16] klemay commented on #1530
A similar issue exists in our product backlog repo: https://github.com/hypothesis/product-backlog/issues/21

closing in favor of that one.

[2020-03-16 18:49] klemay opened #1095 "Revisit browser support commitments"
A user discovered last week that our sidebar doesn't render properly for IE 11 users (https://github.com/hypothesis/support/issues/94). This raises the question: do we support IE 11?

@lyzadanger pointed out that it's been a while since we've thought about our browser support commitments. We should pull some stats to see where our traffic is coming from and create a resource that indicates which b

[2020-03-16 20:42] tmabraham commented on #1530
@klemay Sounds good. But I am not completely sure if this is the same feature request. Importantly, if I understand correctly, the one you have linked is more broad regarding saving any annotations (from websites) as a PDF. I am more interested in taking the already existing PDF and adding the highlights and annotations directly to the PDF. I would think that the former is harder than the latter.

[2020-03-16 21:29] robertknight commented on #1095
Our current policy is that we support IE 11, but small layout bugs are OK. The linked issue looks like a recent regression.

[2020-03-17 15:12] #1035 closed, assigned to jon-betts

[2020-03-17 15:12] jon-betts commented on #1035
This has been deployed now

[2020-03-18 18:23] klemay commented on #1095
taking to Stack Overflow instead: https://stackoverflow.com/c/hypothesis/questions/268

[2020-03-18 18:23] #1095 closed, assigned to nobody

[2020-03-18 20:02] andrewsanchez commented on #447
My method for getting keyboard only annotations requires using the Vimium extension for Chrome and specifically Vimium's [visual mode, caret mode](https://github.com/philc/vimium/wiki/Visual-Mode), and [find mode](https://github.com/philc/vimium/wiki/Find-Mode).  It seems to work really well so far.  You will need to install Vimium and familiarize yourself with the extension as well as the basics

[2020-03-18 20:48] klemay commented on #447
@andrewsanchez awesome, thanks for sharing!

Those `h` and `a` shortcuts were shipped pretty recently, and we still have some documentation and expansion work ahead of us. It's great to see that you've been able to use them. FWIW, I believe there's an experimental capability in Firefox and Chrome that allows for text selection without the use of an extension - we plan to explore and document that

[2020-03-19 10:23] robertknight commented on #447
I think we can close this issue now. Assuming the user has their browser/OS set up to enable them to make a text selection in an HTML page or PDF using only the keyboard, they can create annotations and highlights using only the keyboard:

- Select text to make the "Annotate"/"Highlight" buttons appear and enable the shortcuts for creating annotations
- To create an annotation or highlight press "

[2020-03-19 10:23] #447 closed, assigned to nobody

[2020-03-19 16:40] andrewsanchez commented on #447
@klemay I'd be happy to help with evaluating and documenting approaches to keyboard only usage.  Feel free to ping me to discuss.

[2020-03-20 14:38] #1094 closed, assigned to seanh

[2020-03-27 15:52] klemay opened #1096 "Show display names in client"
Part of https://github.com/hypothesis/product-backlog/issues/397.

## User story
As a journalist or editor, I want my readers to be sure that I am the author of annotations made on pieces I've published.

As a news organization, I want consistency between editor/author bylines and the names displayed in the annotation sidebar.

## Feature request

Show display names in the client sidebar.

This co

[2020-03-27 16:26] judell opened #1097 "offer a choice of editor, including more modern wsyiwyg options"
We've had the same editor since when Hypothesis started. There are other options, including WYSIWYG options. TinyMCE (used by WordPress) has been around forever. Newer ones I've tried include the Wikimedia visual editor, ProseMirror (very powerful toolkit used by the NYTimes), and Quill. Since user needs and preferences vary, it would be good to offer choice. Markdown isn't for everyone.

/cc @kle

[2020-03-30 16:03] mkdir-washington-edu commented on #1146
Examples:
https://hypothesis.zendesk.com/agent/tickets/9106 - https://developers.google.com/style/code-syntax
https://hypothesis.zendesk.com/agent/tickets/11317

[2020-03-30 23:54] bobheadxi opened #1098 "SPIKE: Video annotation via YouTube, Vimeo, etc."
## Feature Request Form

### Problem you are trying to address with this feature

Annotation of videos from providers like youtube.com, vimeo.com, etc. - useful for online lectures, video essays, and more.

### Your solution

Most video providers like YouTube offer timestamping capabilities:

[code]

It would be great if adding an annotation would automatically attach to the current timestamp. Cur

[2020-03-31 15:41] klemay commented on #1097
Will be reviewed at this week's prod backlog meeting!

[2020-04-01 17:15] klemay commented on #1097
OK here's what came up in today's discussion:

- when thinking about our editor, we should also think about what kinds of things we want to store in annotation bodies. Markdown isn't for everyone, but it is a standard, exportable format
- what is the problem we're trying to solve? this came up because some Washington Post editors had trouble using our editor last week. maybe the solution isn't to

[2020-04-01 17:31] klemay commented on #1097
Here is where I saw people getting tripped up while using our editor:

## Horizontal rules
In Markdown, a horizontal rule is `---` but you can also create a heading by typing something like:

Heading
`---`

...so if you don't want to create an accidental heading, you need to type:

paragraph text
[blank line]
`---`

## Headings
While they did catch on to the `#`/ `##`/`###` system it wasn't intuit

[2020-04-01 18:05] klemay commented on #1097
started a discussion about this in Slack: https://hypothes-is.slack.com/archives/C07NXBDNW/p1585763877042900

[2020-04-02 08:36] robertknight commented on #1097
So a few things have come out of the discussion so far:

1. The line breaks issue Katelyn raised above where a line break inside a paragraph doesn't create a `<br>` in our editor is something that we can configure.
2. I looked into exactly which Markdown spec our JS and Python implementations conform to. I thought we were using CommonMark implementations, but it turns out that isn't true. Showdown

[2020-04-02 09:20] robertknight commented on #1097
Going back to the original issue, I want to respond to the question "why don't we just drop in TinyMCE (or other editor here)?" Aside from editor functionality, there are a lot of general requirements to consider for everything that we use:

- Conformance to our design system (ie. widgets look and feel consistent with the rest of the app)
- Support for different environments (big screens, small sc

[2020-04-05 14:47] Rommel587 opened #1099 "Color highlighter its dificcult to see for a colorblind"
Hi, actually I use hypothesis a lot fo time in my browser. Its an incredible tool but the highlighter color is too low to see or identify. I'm colorblind so that I started to stop using this app. I hope its possible to change the color to another one more visible.

[2020-04-05 22:42] robertknight commented on #1099
Hello,

Thank-you for the feedback. Is it mainly increased contrast that would help you or a different (non-yellow) color? Can you also confirm which browser you prefer to use and whether you have your system's high contrast or "dark mode" enabled?

Until we have resolved this issue in the software, a workaround that may be helpful is the [High Contrast](https://chrome.google.com/webstore/detail/h

[2020-04-05 23:16] Rommel587 commented on #1099
Thanks, using an extra extension I was able to see that yellow.
I use google Chrome, I dont use hight contrast in my browser because my  deuteranopia doesn´t make me  problem as usual. I have some problems with too low colors like this hightlighter. So that, now I´ll be using hight contrast when I run my hypothesis extension.

[2020-04-05 23:17] Rommel587 commented on #1099
have a great day!

[2020-04-06 10:21] robertknight commented on #1099
Note for developers: If we try and do the obvious thing here of boosting the default contrast for highlights, that will cause problems on PDFs where the highlight is currently drawn on top of the text: https://github.com/hypothesis/client/issues/1995.

[2020-04-07 20:33] klemay commented on #447
@andrewsanchez to follow up on your generous offer: as of now we only come in after the text selection is made, by allowing users to press `a` or `h` on their keyboard to make an annotation or highlight, respectively.

Keyboard-only text selection is built into many browsers & most screen readers (it's needed for things like copy and paste) so at the moment we're not providing affordances outside

[2020-04-08 19:51] judell commented on #493
OpenStax have implemented their own highlighter. And because their page evidently swallows the selection event, the Hypothesis client can no longer even attempt to annotate an OpenStax book.

[2020-04-10 17:37] klemay opened #1100 "VitalSource integration for LMS app"
Hypothesis has built a proof of concept which launches a the VitalSource eReader, shows a hard-coded book, and logs the user in to their Hypothesis LMS account.

## Turning proof of concept into a full integration
- [x]  Get the VitalSource reader to successfully launch in our LMS app using the provided textbook. We'll need to determine whether our LMS app can launch as a consumer and provider at

[2020-04-13 15:40] klemay commented on #1062
@robertknight since https://github.com/hypothesis/browser-extension/issues/222 and https://github.com/hypothesis/pdf.js-hypothes.is/issues/15 are completed/closed, does that mean this issue can be closed too?

[2020-04-13 15:49] robertknight commented on #1062
Yes, indeed!

[2020-04-13 15:49] #1062 closed, assigned to nobody

[2020-04-14 16:37] robertknight commented on #1099
Following the changes in https://github.com/hypothesis/client/pull/2017, we should now be able to increase the contrast for highlights without adversely affecting the readability of highlighted text on PDFs.

Highlights are currently drawn with 30% opacity. From some local testing I think we could probably bump this up to 40% without it looking too bright for most users. We might want to implement

[2020-04-14 17:05] Rommel587 commented on #1099
Hi, thanks, that would be fantastic.
As you comment in prior messages it's important to consider the compatibility of the highlighter with other apps.
I read the post where you mencioned me. As a quick look of the development of test of different intesity of the higlighter,  (thats an increidible work, thanks for develeping it) I saw just in one case a tone  of color simliar to my actual experienc

[2020-04-17 19:58] klemay commented on #988
After analyzing a sub-set of accounts ([see slides here](https://docs.google.com/presentation/d/16o2eMrBxGNYrhimGrJM7-SuA8F11mGbnCbb0NkLFgu8/edit#slide=id.p)) we found:

- Avg time from registration to activation: 00:35:49
- Median time from registration to activation: 00:01:00
- Max time from registration to activation: 13:29:55

We also see that Mandrill is sending confirmation emails within a m

[2020-04-17 19:58] #988 closed, assigned to nobody

[2020-04-17 20:06] klemay opened #1101 "Make account creation faster and more reliable"
The support team continues to get many emails per month from users who say they have not received their activation emails.

We learned from [our investigation](https://github.com/hypothesis/product-backlog/issues/988) that:

- Mandrill sends emails within a minute of users creating accounts
- The deliverability for those emails is only 96.5%. Of the emails that are delivered, only about 76.1% of t

[2020-04-20 09:17] tim-hub commented on #45
Firefox 75.

<img width="589" alt="image" src="https://user-images.githubusercontent.com/2884320/79735352-ac6b7080-82e7-11ea-9db2-cb0ca1de4173.png">

this setting solved the problem

[2020-04-21 18:17] klemay opened #1102 "EPIC: Fix issues raised by WCAG 2.0 AA audit"
The following issues were found by our external auditor and need to be fixed so that we can be fully WCAG 2.0 AA compliant:

- [x] Confirm/Fix markup validation errors (https://github.com/hypothesis/client/issues/2059)
- [x] Style links in client tutorial to make them accessible (https://github.com/hypothesis/client/issues/2054)
- [x] Communicate to assistive tech whether sidebar is open or closed

[2020-04-22 03:05] IAmNotAJerk commented on #198
As a user who have constant eye fatigue when not using LED screens with low-blue light filter (flux, night shift, etc, whatever you called it). Yellow highlights just own't show up with a white background, it's makes the whole app unusable for me.
I think it's better to implment color changing feature on the display. That is, to record various colors, as COLOR1, COLOR2 written in the data informat

[2020-04-22 03:20] jasonkena commented on #198
@IAmNotAJerk I changed the color code for the highlight with some Javascript in the bookmarklet so the highlights would be visible despite f.lux.

The bookmarklet is at https://gist.github.com/jasonkena/862510cef19d78eb0390799e4c4af19c

The important section is `rgba(255, 150, 255, 0.5)`, customize it as you like.

[2020-04-22 15:05] klemay commented on #198
@IAmNotAJerk as part of recent accessibility work we've also increased the opacity of highlights, so that contrast (rather than just color) will show that a section is highlighted - hopefully that will provide some improvement in the shorter term

[2020-04-22 19:44] klemay commented on #1101
![](https://github.trello.services/images/mini-trello-icon.png) [Investigate account activation issues](https://trello.com/c/QADgkCmD/11-investigate-account-activation-issues)

[2020-04-22 19:57] klemay commented on #1100
![](https://github.trello.services/images/mini-trello-icon.png) [VitalSource POC](https://trello.com/c/UI7nNqez/7-vitalsource-poc)

[2020-04-22 20:03] klemay commented on #1102
![](https://github.trello.services/images/mini-trello-icon.png) [Accessibility audit follow-up](https://trello.com/c/o6lluE7w/14-accessibility-audit-follow-up)

[2020-04-29 11:24] blipp commented on #1147
Adding for completeness: It appears that @lupa18 opened another ticket for their issue at hypothesis/client#409.

[2020-04-30 06:26] robertknight commented on #198
So it seems there are two separate use cases for multiple highlight colors here which are in some cases in conflict:

1. Using different colors for different highlights for semantic purposes.
2. Enabling users to change the color for accessibility reasons. This might include changing the color and/or boosting the contrast

In a private context, there is no conflict. In a group context, the members

[2020-04-30 06:54] ghost commented on #198
Hi all - just starting to use hypothes.is. Wondering if it is possible to use different highlight colours or whether this functionality doesn't yet exist. Apologies for the questions

[2020-04-30 06:59] robertknight commented on #198
Hi @andrewg1978 - This functionality does not exist yet. We're using this issue to discuss possibilities and constraints.

[2020-04-30 07:22] ghost commented on #198
@robertknight - thanks - appreciate your rapid response... look forward to seeing how things develop. Ideally I want to be able to highlight a paper according to different contexts - eg methods vs key findings vs smaller findings etc - Each of these would have a colour to enable them to be distinguished. Hopefully it becomes possible to use some sort of alternate colouring over the next short whil

[2020-04-30 20:10] malcook commented on #198
@robertknight ,

I don't think you're going to find a solution that works for everyone, especially balancing accessibility considerations with semantic color-coding considerations.  But, you can design UX to provide guidance toward best accessibility practices.

How's this approach toward balancing concerns?...

- introduce tag-color-map as a 1st class thing
- provide a few tag-color-maps out of t

[2020-05-03 00:43] llacb47 commented on #972
Any update on this?

[2020-05-03 09:34] robertknight commented on #972
We are working on a new implementation of the Via proxy service (known as via3 internally). This issue will likely be resolved as part of that.

[2020-05-03 20:31] diegodlh opened #1168 "Logging out of client does not log out of website"
### Steps to reproduce
1. Login to the service from the sidebar
2. Logout from the sidebar
3. Login again

### Expected behaviour
The password should be asked again at the second login.

### Actual behaviour
Login happens automatically without asking for a password.

### Additional details
This happens because the logout option in the sidebar only revokes the auth token without unsetting the auth

[2020-05-04 08:27] robertknight commented on #1168
The current model is that login to the website is decoupled from login to Hypothesis clients - whether our official client or a third-party one. This was partly in response to technical constraints (browsers were increasingly preventing iframes from accessing cookies associated with the same site in a top-level tab, so we couldn't keep login sessions in sync) and partly to make the experience more

[2020-05-05 03:31] diegodlh commented on #1168
Thanks for changing the title. I missed a "not" in my "Sidebar logout does not* actually logout". However, I think that the new title, although true, does not highlight an important point: that a user would reasonably think that by clicking "Log out" from the sidebar she would be logged out completely, but actually she remains logged in to the website, and someone else or herself can log the clien

[2020-05-05 19:09] klemay opened #1103 "API docs: buggy behavior in Chrome for Mac"
We were alerted of this [via a user's annotation](https://hypothes-is.slack.com/archives/C91AR72KH/p1588687333006800). I was able to reproduce.

## Steps to reproduce
1. Using Chrome for Mac, visit our API documentation: https://h.readthedocs.io/en/latest/api-reference/v1/
2. Attempt to scroll down and read the page

## Expected behavior
You can scroll through the page like you would any web page

[2020-05-06 19:51] lyzadanger commented on #1102
All items are complete! May we close?

[2020-05-06 20:18] klemay commented on #1102
@lyzadanger incredible work from you and the rest of the team! Closing!

[2020-05-06 20:18] #1102 closed, assigned to nobody

[2020-05-07 21:08] klemay commented on #785
This was fixed as of https://github.com/hypothesis/client/issues/1817 - closing

[2020-05-07 21:08] #785 closed, assigned to nobody

[2020-05-12 15:58] klemay opened #1104 "Update docdrop to latest version of PDF.js"
@dwhly needs a bit of developer assistance getting https://docdrop.org/ onto the latest version of PDF.js - he has discussed this with @robertknight already; this card serves as a placeholder.

[2020-05-13 17:47] klemay opened #1105 "Allow users to capture and download current state of all client data"
This came up during today's bug backlog review. As we continue to grow our LMS user base, it is becoming difficult to diagnose bugs because we cannot access users' LMS environments (and often can't access the documents they're working with).

It would be helpful to have the ability to capture and download the current state of all client data - perhaps via a button that creates a JSON file download

[2020-05-18 16:35] robertknight commented on #1105
To clarify, the idea was to provide a way that users could capture a JSON dump of Redux store state that they could send to us and that we could use to reproduce or get more info about certain issues.

[2020-05-18 18:03] #1085 closed, assigned to robertknight, ajpeddakotla, klemay

[2020-05-19 16:03] mkdir-washington-edu opened #1106 ""Headless" threads do not show in the client sidebar"
**What is the issue?**
Right now the behaviors are -
Reply to a deleted reply:
- The deleted reply is replaced by "Message not available."
- The reply to the deleted reply is still available in the client sidebar.

Reply to a deleted top-level annotation:
- The deleted top-level annotation is not visible
- The reply to the deleted top-level annotation is not visible in the client sidebar.

We shou

[2020-05-20 16:36] klemay opened #1107 "Remove “select” and “tab” from tab labels"
This issue was raised by our follow-up accessibility audit. This refers to the tabs in our sidebar:

<img width="509" alt="Screen Shot 2020-05-20 at 12 34 25 PM" src="https://user-images.githubusercontent.com/12087705/82472531-50d30500-9a96-11ea-87ee-a1781467a84f.png">

The tab is communicated as “select annotations tab” and “select page notes tab”.  Since the tab interactions are communicated thr

[2020-05-20 16:38] klemay opened #1108 "Number of annotations imperceptible by ATs"
This issue was raised by our follow-up accessibility audit. This refers to the tabs in our sidebar:

<img width="509" alt="Screen Shot 2020-05-20 at 12 34 25 PM" src="https://user-images.githubusercontent.com/12087705/82472753-a90a0700-9a96-11ea-90d6-52b87ba79ec4.png">

The number that appears following annotations is not communicated to the screen reader.

This didn't come up in the last audit -

[2020-05-20 16:59] klemay opened #1109 "Get clarity on A11y question regarding "More" toggle"
This issue was raised by our follow-up accessibility audit:

We are not sure that the proposed fix is the way to go. Making the entire excerpt perceptible to screen reader users was an intentional choice on our part because we’re assuming that not all screen-reader users are fully blind and can’t get value out of the visible content. There may be images or videos hidden behind the “More” button wh

[2020-05-20 17:43] klemay opened #1110 "Use 'aria-expanded' attribute to label buttons that show and hide panels"
This issue was raised by our follow-up accessibility audit.

The auditor has suggested that we implement this for the following buttons:

- The Show/Hide sidebar toggle
- The Help toggle at the top of the toolbar
- The More/Less button that shows on truncated annotations:

<img width="511" alt="Screen Shot 2020-05-20 at 1 42 22 PM" src="https://user-images.githubusercontent.com/12087705/82479072-e

[2020-05-20 17:47] klemay opened #1111 "A11y question re: consistent screenreader experience for toggles"
This issue was raised by our follow-up accessibility audit:

It would be helpful to know if this inconsistency is a usability issue that we could address later, or if it would prevent us from getting "Supports" on any particular WCAG criteria. We are planning to [apply the `aria-expanded` attribute to buttons that show and hide panels](https://github.com/hypothesis/product-backlog/issues/1110) - i

[2020-05-20 17:56] klemay opened #1112 "EPIC: Follow-up items from accessibility audit"
We had what we hoped would be our final accessibility audit this week, and a few items remain outstanding. A few of these items are straightforward and can be taken care of in this sprint:

- [x] [Remove “select” and “tab” from tab labels #1107 ](https://github.com/hypothesis/product-backlog/issues/1107)
- [x] [Use 'aria-expanded' attribute to label buttons that show and hide panels #1110 ](https: