[2018-02-21 17:03] dawachan commented on #459
Revised header and footer to inject more colour into it - shared colorized logo .SVG with @robertknight directly.

![footer](https://user-images.githubusercontent.com/5212631/36494066-f9c2bd16-1728-11e8-855a-8a745fd1e77c.png)

![biopub header new logo colour](https://user-images.githubusercontent.com/5212631/36494054-ef1e9722-1728-11e8-92a7-1227e73f502f.png)

[2018-02-21 17:04] dawachan commented on #459
'Pub' green: #9ed266;
(n.b. dialled down slightly from the mock above because i forgot i had dimmed my screen in order to conserve battery power on the plane 😀)

[2018-02-21 17:06] dawachan commented on #459
Additional feedback, see tweaked CSS properties - size/weight of BioPub and logo to test.

![screen shot 2018-02-21 at 18 13 17](https://user-images.githubusercontent.com/5212631/36497409-3466712e-1733-11e8-8fdc-d96af5801a67.png)

  .logo__pub {
    color: var(--grey-3);
    font-weight: bold;
    font-size: 19;
    color: #9ed266;

[2018-02-21 17:21] ajpeddakotla commented on #368
Note: Should be addressed in next round of Auth work.

[2018-02-21 17:59] lyzadanger opened #483 "Restrict ability to add annotation through API by group scope (?)"
Right now there is nothing in place on the backend to prevent an annotation being added to a scoped group for a target document with a URI outside of the group's scope. Granted, out-of-scope open groups are not presented to the user in the client, but there is nothing preventing anyone using a tool (e.g. `curl`, an app like `Postman`) to send (authenticated) requests at our API to annotate a docum

[2018-02-21 18:53] klemay opened #484 "Add voice comments to annotations"
### Problem you are trying to address with this feature
From Zendesk:
"I've been playing around a bit with Kaizena, an extension in Google Docs that allows a reader to leave voice comments on documents.  Students really seem to dig these kinds of comments and they can be really helpful for students - - signaling a deeper engagement by the teacher, simulating a tutorial/conference, personalizing fe

[2018-02-21 20:38] lyzadanger commented on #418
Just ruminating here about relationships implied by this feature...

I'm curious about this requirement and its origin; wherefore the enforced relationship? Does that come from a user need or a data design perspective?

This seems like it would create a curious non-normalized constraint—_some_ groups (the ones we call "open") would have a required "publisher" relationship, while others (private gr

[2018-02-21 21:26] klemay commented on #235
[Another user request](https://hypothesis.zendesk.com/agent/tickets/2232): "Hello, I was wondering if it'd be possible to implement more control for the users in the notifications system. At present we are notified when someone replies to our annotations, but we'd like to be notified whenever a member posts or replies to another member in our group. This communication point would be integral to th

[2018-02-21 21:50] klemay commented on #241
User request: https://hypothesis.zendesk.com/agent/tickets/2227

I've had my students using Hypothes.is for their research blogs and essays, and things are going really well. I have one student though who created his own group [redacted] instead of using that just as a tag. So now no one can see his annotations unless they joing the group  [redacted], which I don't want them to do.

Is there a way

[2018-02-22 01:46] hmstepanek commented on #424
In regards to

I don't see any reasons why this wouldn't already work. (Maybe I'm missing something.) The bulk of the activity page work will be the join link mechanism.

-- The share link for a restricted group should be altered, so that users can still share the existence of these groups, but not be able to join them when they view the group.

I'm thinking (and again I could be missing something

[2018-02-22 04:03] dawachan commented on #418
Just to clarify:

"This seems like it would create a curious non-normalized constraint—some groups (the ones we call "open") would have a required "publisher" relationship, while others (private groups, restricted groups?) would not."

Open **and** Restricted groups are nested under publishers because team members have determined that these 2 types of group would add the most value to publishers (

[2018-02-22 04:17] dwhly commented on #418
I'm curious about it too!  :)

@seanh May simply be saying that in an early version of implementation it might simplify some things in order to enforce this as a requirement— or that the team’s commitment was to implement the publisher flavor first and the community flavor second.

Certainly there are diverse examples of groups we imagine in the very near future which there's no requirement or nee

[2018-02-22 04:39] dwhly commented on #418
Addressing @dawariley's comments:

Not sure I agree.

I don't think any group should be required to have a publisher relationship.  Plenty of open and restricted groups will be created (in the future) separately from publishers.

And, conversely, any group _should be able to be_ grouped under a publisher's clustering-- including private groups.  There's no reason to exclude, for instance, a publis

[2018-02-22 05:06] hmstepanek commented on #375
@ajpeddakotla @judell I just want to clarify here...(I think I was a little confused by the screen shot Arti uploaded as it was on the Page notes tab and there were no page notes.)This is what I'm seeing currently and the issue is simply as Arti stated; you would like to change the default behavior when the side bar expands to open to the page notes tab rather than Annotations-correct?

Currently

[2018-02-22 11:18] dawachan commented on #418
Styling specs for the grouping groups by their parent:
@seanh to confirm whether this is in or out of scope and needs to be moved to a separate card, although it would be nice to keep it all together.

_Font sizes_
![screen shot 2018-02-22 at 06 20 18](https://user-images.githubusercontent.com/5212631/36535653-64ca5aa0-1798-11e8-8944-3e2692c1b51b.png)

<br />

_Spacing_
![screen shot 2018-02-22 at

[2018-02-22 11:20] seanh commented on #483
I think we can just move this card into up next right away as this is something we already agreed but forgot to do. It was always the intention that scoped open groups can't annotate pages outside of that scope, because the group doesn't appear on pages outside of the scope, and the fact that you _can_ actually do it using the API or a broken client is just a technical hole we need to plug. We've

[2018-02-22 11:26] dawachan commented on #418
Responding to @dwhly:

"I don't think any group should be required to have a publisher relationship. Plenty of open and restricted groups will be created (in the future) separately from publishers."

Just to confirm what we are saying is that there can be instances where there are no parents or parents besides publishers - see my comment about Teachers -> Classes. My question would be how best to

[2018-02-22 11:50] dawachan commented on #418
Just to note: the work we did before the holidays did not factor in community groups as we decided to focus on the v1 implementation of groups for the publisher use case.

[2018-02-22 13:23] lyzadanger opened #485 "Make Session's `group`s use Group presenter"
There's some technical debt from legacy behavior in the `session` module in which `session` decorates its `groups` dicts differently than the new Groups presenter. The net result is that groups returned by `GET /api/profile`, while the same actual _list_ as of https://github.com/hypothesis/h/pull/4818 have different _properties_ from those returned by `GET /groups`(see http://h.readthedocs.io/en/l

[2018-02-22 13:42] lyzadanger opened #486 "Migrate `GET /groups` property `urls` to `links`"
The developer of the new `GET /api/groups` endpoint (ahem, yours truly) managed to not notice that `annotation` objects are returned by the API with a `links` object, and named the analogous property `urls` on `GET /api/groups`. Whoops. This should be rectified—groups should have a `links` property, not a `urls` property—but needs to be coordinated with a client release as it is breaking.

Also a

[2018-02-22 14:00] lyzadanger opened #487 "Add Additional Services for Groups API"
There's some technical debt in the design of the groups API view and presenter—there really should be an interstitial service that connects the view to the presenter that can perform some logic/transforms on group objects. Right now the presenter has _just a touch_ of inappropriate logic (i.e. separation of concerns violations) but this is going to compound as we add more groups features.

In foll

[2018-02-22 14:08] lyzadanger opened #488 "Remove Feature flag for Scoped Open Groups"
Update: simplifying this task to be _just_ concerned with removing the flag.

Getting this done should be mostly straightforward, if slightly tedious, as a fair amount of tests will need to be moved around, evaluated or deleted (there is a fair amount of test duplication at present between "the feature is on" and "the feature is off").

Note that this will leave some unused methods in `ListGroupsS

[2018-02-22 15:01] dwhly commented on #375
Only when the annotations tab is empty and the page notes tab is not.  Otherwise as is.

[2018-02-22 15:17] ajpeddakotla opened #489 "Launching sidebar in a restricted group"
This was pulled out of the [restricted groups card](https://github.com/hypothesis/product-backlog/issues/424) as separate work

### User Need ###
As a USER I want to be able to understand that I am unable to annotate in a restricted group.

### Justification ###
We want to avoid walking users into an error - see current working implementation:

_Error State_
![error_message](https://user-images.gi

[2018-02-22 15:19] ajpeddakotla commented on #489
Other notes from @dawariley on the original card:

Note: the following is out of scope for this card and will be considered as part of a separate design spike.
- Users should still be able to 'Post to only me' within a Restricted group.
- 'Only me' annotations should live outside of the group context and be readily accessible through the scope control e.g introducing 'Only me' as an option to filt

[2018-02-22 15:21] ajpeddakotla commented on #489
We might also want to pull in some of the issues @seanh has pointed out here: https://github.com/hypothesis/product-backlog/issues/476

[2018-02-22 16:06] lyzadanger commented on #417
WOoo hooo!!! We did it.

[2018-02-22 16:06] #417 closed, assigned to nobody

[2018-02-22 17:33] seanh commented on #476
I'm gonna close this card as it's just a record of a whole lot of related issues and not really a card that we would do / implement ever. Smaller cards should probably be created for specific things when the time comes. The closed card is always still here to refer to

[2018-02-22 17:33] #476 closed, assigned to dawachan

[2018-02-22 17:37] seanh commented on #489
Just to point out: the **problem** that we need to solve for this card is what happens when a logged-in user who is _not_ a member of a restricted group has that restricted group selected in the groups menu, and tries to annotate? _How_ we solve that problem, and whether it involves posting to only me or not, changes the the post button, changes to the adder, etc, is up to us, depends on what solu

[2018-02-22 17:43] klemay commented on #86
User request: https://hypothesis.zendesk.com/agent/tickets/2232

"It'd be great to be able to highlight/annotate between two pages. The system doesn't seem to like highlighting from the end of one page to the beginning of another."

[2018-02-22 17:58] #482 closed, assigned to lyzadanger

[2018-02-22 18:07] judell commented on #375
@hmstepanek an example of a working solution is https://github.com/judell/client/commit/0fc4efdbe824046b6ec941423c5347e9f4b2fc2f. Not saying it's THE way to do it, but it seems simple and well-localized. That's a place where the loaded annotations are available for counting and classification, and where annotationUI.selectTab is available to make the switch if needed.

[2018-02-22 18:40] robertknight commented on #459
I have updated the site with the above design changes. You may need to clear your browser cache to see the latest version as there is no cache-busting in use. If you want any further tweaks, let me know.

[2018-02-22 18:40] #459 closed, assigned to robertknight, dawachan

[2018-02-22 18:55] hmstepanek opened #490 "Open group activity pages styling/ux design changes"
As a user I would like to have pretty activity pages that are easy to navigate and obtain information about an open group. This is styling related to https://github.com/hypothesis/product-backlog/issues/422.
https://user-images.githubusercontent.com/5212631/36032068-b22e6c9e-0da4-11e8-9ee0-ab3e2335a7a3.png
https://user-images.githubusercontent.com/5212631/36032071-b248b7fc-0da4-11e8-886a-1f78f7452

[2018-02-22 19:01] hmstepanek commented on #490
@dawariley I made a new issue for the styling for open groups that we've been working on. I think the mocks are a little out of date/have changed slightly from when you first made them (based on our back and forth about the styling). I'm not sure if it's necessary to upload new ones but just wanted to let you know I attached them and feel free to modify them/remove them as you see fit.

[2018-02-22 19:08] hmstepanek opened #491 "Open groups show up in search"
As a user when I search for an open group, I would like it to show up under the suggested options in the auto-complete drop down.

[2018-02-22 19:12] hmstepanek opened #492 "The sidebar on activity pages displays the group's logo and publisher name"
As a user, it's quicker to identify a group based on the authority and logo of a group and the name rather than just the name. As a customer it would be nice if the my logo was present next to groups that are in my domain.
<img src="https://user-images.githubusercontent.com/5212631/36032068-b22e6c9e-0da4-11e8-9ee0-ab3e2335a7a3.png">

### See also

* [Organizations spike](https://github.com/hypothe

[2018-02-22 19:13] hmstepanek commented on #492
@dawariley Again, I attached the mock you uploaded here. Feel free to modify as you wish. :)

[2018-02-22 20:04] klemay opened #493 "Annotation does not work properly in OpenStax textbook SPA"
_(Edit from robertknight: See https://github.com/hypothesis/product-backlog/issues/493#issuecomment-367923295 for explanation of issue and https://github.com/hypothesis/client/issues/142 for main issue for this problem)_

Honestly not sure whether this is a bug or feature at this point. Happy to recategorize if necessary.
This comes from a Zendesk ticket: https://hypothesis.zendesk.com/agent/ticke

[2018-02-22 20:10] klemay commented on #493
One thing to add: I did notice that all the text book pages contain ```<link rel="canonical" href="//cnx.org/contents/2e737be8-ea65-48c3-aa0a-9f35b4c6a966/">``` - is this the cause of the issue? If so, does the publisher need to remove these ```<links>```s, or is there a way around this?

[2018-02-22 20:21] judell commented on #493
The problem is that the target pages are in an iframe.

The containing page has that, but not the contained pages, so that's OK.

The solution here is to invite the client into the contained iframes using the enable-annotation attribute on the iframe.

http://h.readthedocs.io/projects/client/en/latest/publishers/embedding/#enabling-annotation-of-iframed-content

[2018-02-22 20:25] klemay commented on #493
This is where it gets tricky though - the user who reported this issue has no control over the code for this page. I could see this happening a lot with teachers and online textbooks.

[2018-02-22 20:28] judell commented on #493
The user has no control, but the platform does, and it is OpenStax, we know them, I think they'll be on board with making that change. I'll send you contact info out of band.

[2018-02-22 20:37] klemay commented on #493
Changed this to a feature request. Will need to do some thinking about how to handle similar issues in the future. It is great that the publisher is a friend of ours in this case, but that might not always happen! Thanks Jon!

[2018-02-22 23:54] ajpeddakotla commented on #421
Edited this to reflect that we can work on both the open and restricted groups admin interface (as it is the same interface) at the same time. There is only 1 additional requirement for restricted groups: adding group members - that has been pulled out into a seperate card: #494

[2018-02-23 00:10] ajpeddakotla opened #494 "Add group members to restricted groups"
### User story:
As a Hypothesis admin (H team member), I want to be able create a restricted group (covered in the admin interface card: #421), and add/edit/remove group members from the restricted group.

### Acceptance Criteria:
- [ ] group members can be added by entering a list of H usernames (for already existing users)
- [ ] group members can be removed from the group (they will not receive

[2018-02-23 00:43] ajpeddakotla opened #495 "Activity pages for restricted groups"
### User Story:
As a Hypothesis user I want to be able to see all the annotations that are made in a restricted group so that I can view all the annotations made within that group in one view.

### Acceptance Criteria:
Activity pages should show
- [x] # of public annotations made in that group
- [x]  Name of the group admins (so that H users know who created and controls that group)
- [x]  Share l

[2018-02-23 00:45] ajpeddakotla commented on #424
Broke up this ticket into several cards detailed here:

- [ ] Admin Interface for creating open and restricted scoped groups: #421
- [ ] Add group members to resticted groups: #494
- [ ] Activity Pages for Restricted Groups: #495
- [ ] Add restricted groups for publishers to Hypothesis groups model #496

NOTE:
The additional requirements that were identified as part of this card, but will not be t

[2018-02-23 02:18] ajpeddakotla opened #496 "Minimal Restricted Groups for Publishers"
### User Story:
As a publisher I want to control the membership of a group that anyone can read, but that only members can write to, so that I can limit annotations to my staff, authors, invited experts, etc and not need to moderate the annotations.

### Acceptance Criteria:
- [x] Group must be given a name
- [x] Groups are scoped to an origin or to multiple origins
- [x] A single origin can have

[2018-02-23 06:35] robertknight commented on #493
@judell there are no iframes on this particular OpenStax text book. The problem is what @klemay observed here:

The the textbook is a single page application, ie. when you click "Next" the page _stays the same_ but the app fetches some new content using JavaScript and updates the URL using the History API.  This issue also affects sites such as GitHub and Medium which use a technique called PJAX t

[2018-02-23 07:50] judell commented on #493
Indeed there are not! I must have opened the debugger in the wrong tab, sorry!

And by the way, if it were an outer/inner frame situation, @katelyn, it would probably be best for them to embed the client in the inner frame, because of an issue we discovered when investigating how to embed the client at, e.g., https://osf.io/bgyd5/. @robertknight's off-GitHub description of that issue:

I'm not sur

[2018-02-23 14:08] lyzadanger commented on #421
Hi @ajpeddakotla ! Thanks for breaking these cards out. I think there are a few acceptance criteria on this one that are going to need to wait until we make further progress on publisher/"organization"-related feature planning. Might I suggest the following:

* [ ] There's a quick and easy way for a Hypothesis admin who isn't a technical
user to create an open **or restricted** group that a publis

[2018-02-23 14:10] lyzadanger commented on #494
Note that this card is dependent on #421

[2018-02-23 14:12] lyzadanger commented on #496
Sorting question: Should open and restricted groups appear in group listings (e.g. client drop-downs) as one grouping (i.e. they'd be sorted alphabetically, interleaved) or separately (e.g. open, then restricted groups or vice versa)?

[2018-02-23 14:47] jeremydean commented on #1135
It looks like one of our collaborators/partners, the OER textbook company Open Stax, has redesigned their textbook presentation and is now another prime example of this issue:

https://cnx.org/contents/GFy_h8cu@10.120:gNLp76vu@13/Themes-and-Concepts-of-Biology

Annotations originally created on a different presentation are now orphaned due to the way that text is changing in a different relation t

[2018-02-23 15:58] dawachan commented on #496
Determination of sort order is bigger than just this issue but in answer to your question:
Some of the original thinking on the sort order of groups completed before the holidays:
(from conversations/requirement gathering with Dan and Heather)

- Groups are ordered by authority as designated by the publisher.
- Groups are organized under domains.
- Order of domains can be overridden by the publish

[2018-02-23 18:45] seanh commented on #481
I'm copying over @lyzadanger 's [comment from another card](https://github.com/hypothesis/product-backlog/issues/418#issuecomment-367464075) so we can discuss it here:

* * *

Just ruminating here about relationships implied by this feature...

I'm curious about this requirement and its origin; wherefore the enforced relationship? Does that come from a user need or a data design perspective?

This

[2018-02-23 18:45] seanh opened #497 "Add organization names into groups menu"
### User Story
As a Hypothesis user, I want to be able to distinguish between Hypothesis owned groups and groups where the group lives in the Hypothesis namespace, but is moderated and run by other entities (publishers, community experts, etc.)

As a Publisher, I want my groups to appear in the H sidebar in such a way so that Hypothesis users understand that I own these groups, and that even thoug

[2018-02-23 18:45] seanh commented on #418
Don't mess up our cards peeps, we're tryina sprint here!

I think the discussion and designs on this card got a little off topic. This card is supposed to be a small-as-possible slice: simply adding the publisher names above the groups in the groups menu. And developers need a clean space where we can have a focused discussion with each other about how we're going to implement everything behind th

[2018-02-23 18:45] #418 closed, assigned to dawachan

[2018-02-23 18:56] seanh commented on #418
Or these kind of broader discussions might fit better in a google doc somewhere?

[2018-02-23 19:38] segdeha commented on #418
Or even on Slack. What I'd like to see is that we use the cards to capture _decisions_ that come from conversations that happen wherever because Slack is terrible for that. What it is good for, even designed for, is for hashing out ideas. Let's do that work on Slack and use GitHub as more of a record, if that works for folks.

[2018-02-23 20:42] dwhly opened #498 "Private groups for 3rd party namespaces"
## Feature Request Form
### Problem you are trying to address with this feature

Right now users can create private groups in the Hypothesis space, but cannot within 3rd party namespaces like eLife.  Publishers who require their own namespaces have told us that they need to enable their users to also create private groups on their own.

### Your solution

Allow end users within 3rd party namespace

[2018-02-26 12:42] robertknight commented on #483
I'm re-opening this because we need to make sure group scope restrictions are enforced when updating annotations as well as when creating them.

[2018-02-26 15:13] seanh opened #499 "Add create_restricted_group() service method"
Part of https://github.com/hypothesis/product-backlog/issues/496

Add a new `create_restricted_group()` method and tests to [GroupService](https://github.com/hypothesis/h/blob/master/h/services/group.py). This will allow restricted groups to be created by developers in a Python shell, and then we can see what needs to be done for them in the API, activity pages and client.

[2018-02-26 15:15] seanh commented on #496
I've broken out a separate card (and added it to the sprint) for doing the service-level part of creating restricted groups: <https://github.com/hypothesis/product-backlog/issues/499>. Assigned @sheetaluk to that card as she's working on it. Also assigned @sheetaluk to this card since she's working on a card that it a split-out part of this card! (But of course probably most or all of us should be

[2018-02-26 15:20] seanh commented on #494
Really? Are we implementing a new email-based invite to create a Hypothesis account and join a group flow here? That will be a lot of work. Maybe as a first pass the Hypothesis admin should just be able to add existing Hypothesis users to the group? And it's up to users to register and activate their own accounts beforehand.

Invitations are a great feature but definitely a big, separate thing on

[2018-02-26 15:23] seanh commented on #494
This seems like a separate feature to me (giving Hypothesis admins the ability to edit the usernames and email addresses of users).

I'd suggest keeping it simple at first: just an admin page for adding existing Hypothesis users to groups, and removing them from groups.

[2018-02-26 15:31] seanh commented on #421
I've deleted this one:

Preconfigured types of group (private, open and restricted) is the architecture that we've been building so far. We don't have a system at any level (service, API, activity pages, client, ...) that's able to deal with arbitrarily chosen group permissions and it's not clear to me yet that that would be a good direction.

(As Lyza already pointed out)

[2018-02-26 15:40] seanh commented on #421
Agree - lets move this to a separate card. This may overlap with the admin page for adding members to and removing members from a group which is already on its own card (both features may belong on the same page)

[2018-02-26 15:40] seanh commented on #421
Looks good!

[2018-02-26 15:41] seanh commented on #421
I think that's probably a good idea because I think we might add any other group edit controls that we want admins to have (like editing the name of the group, its scopes, etc) to the same page?

[2018-02-26 15:44] seanh commented on #481
Suggestion: lets remove this from the current sprint as we have way more than enough in the sprint without it and we're focused on implementing minimal restricted groups, not adding in publishers, right now. In fact I wonder if we should just close this spike card and use <https://github.com/hypothesis/product-backlog/issues/497> when we get to it?

[2018-02-26 18:26] ajpeddakotla commented on #333
Steps to reproduce:
1. Go to eLife site - I was already logged into ORCID
2. Click on any article
3. Click on Annotations link
4. Open H
<img width="448" alt="screen shot 2018-02-26 at 11 38 32 am" src="https://user-images.githubusercontent.com/7463523/36687889-6fb7bd76-1af0-11e8-9ae6-eb284331306e.png">
5. Reload page, and you get logged into the client.

@heatherstaines does this match the steps

[2018-02-26 19:48] heatherstaines commented on #333
Yes.

On Mon, Feb 26, 2018 at 1:50 PM, Arti Walker-Peddakotla <
notifications@github.com> wrote:

--
Heather Ruland Staines
Director, Partnerships
Hypothes.is
M: 203-400-1716
Skype: heather.staines

[2018-02-26 20:17] ajpeddakotla commented on #494
Follow ups:

entering an email will send an email to that person, where they can click the link the email to create a Hypothesis account and join the group.

Invitations are a great feature but definitely a big, separate thing on its own

After going through the existing login/sign up flow for users that are sent share/join links to current groups, I realized that this won't work for restricted gr

[2018-02-26 20:25] ajpeddakotla opened #500 "Edit restricted group member information"
### User Story:
As a H admin (team member) I want to be able to edit group member information on a publisher's behalf, so that I can manage group members without bothering other H devs.

### Acceptance Criteria:
- [ ]  H team members can use the admin page to view group information and search for group members within a particular group (covered in #421 and #494)
- [ ] Group members information can

[2018-02-27 08:46] ajpeddakotla commented on #496
A rewording of requirements regarding sort order:

* The top group is the default (scoped) group.
* If there is more than one scoped group on a domain, the groups are sorted alphabetically, agnostic of wether the groups are open or restricted groups `(i.e. they'd be sorted alphabetically, interleaved)`
* The publisher should be able to sort the groups in whichever way they desire and override the

[2018-02-27 09:08] ajpeddakotla commented on #421
Agree w/ all comments made, and updated the acceptance criteria in the top comment to reflect.
_________________**Old Acceptance Criteria (kept for record)**_________________________________________________

- [ ] There's a quick and easy way for a Hypothesis admin who isn't a technical
      user to create an open group or restricted that a publisher has requested
- [ ] The admin must specify a n

[2018-02-27 10:54] dawariley commented on #496
the same as I mentioned above @ajpeddakotla based on the earlier work i did in response to lyza's original question ;)

[2018-02-27 11:08] dawachan commented on #496
note: these are the same requirements i posted earlier and which the visual directly represents which i understand were found to be 'confusing' during the restricted groups sync meeting. i'm happy to elaborate further @lyzadanger if it is still confusing and amend the visual accordingly. thanks!

@sheetaluk let me know when is a good time to walk through the comments i added above or if you have a

[2018-02-27 11:52] seanh commented on #496
I think we need to keep this as simple as possible for our first iteration on restricted groups, folks.

Lets try to keep this card as small as possible and as much as possible try to move separate features and design changes onto their own cards.

Lets focus this card on just getting a minimal restricted group - a group that anyone can read but that only members can write to - working, without an

[2018-02-27 11:53] seanh commented on #496
@dawariley There's a lot of stuff in the design mockup you posted above, we aren't going to be able to implement that in one step. I think we'll have to break that mockup up into several intermediate mockups that we can implement and ship one by one. Each one of those intermediate design changes can be its own card, please, as each represents a significant, shippable chunk of work. I think you sho

[2018-02-27 11:59] seanh commented on #496
@ajpeddakotla

There's a few things that confuse me about this Arti:

1. We don't have any concept of a "default" group in Hypothesis currently. I'm not sure what you mean by that. Where is the default group defined? Who defines this? And how is the default group different from just the first group in the sort ordering of the groups?

2. _"The publisher should be able to sort the groups in whichev

[2018-02-27 12:14] seanh commented on #496
Lets talk about this card in standup today...

[2018-02-27 12:18] dawachan commented on #496
@seanh happy to break this mockup up, I might have questions about what exactly we are/not delivering against the mockup so that I can deliver against it. It would have been super useful to have looked at the original mock in the restricted groups discussion with the eng team or when I posted it in eng-general recently as I need consensus and input from the team about what will be delivered i.e. w

[2018-02-27 12:20] seanh commented on #494
My suggestion at first is that, since Hypothesis staff admins are gonna be the only people adding users to restricted groups, the admin can just email the user manually if necessary?

I think we should have a separate card for automated email notifications. Hypothesis could automatically send out a "You've been added to a group" email with a link to the group's page, for example. But I think we sh

[2018-02-27 12:23] seanh commented on #494
Yes. I've been trying to raise this issue with restricted groups. (It's explained on the description of the  [restricted groups epic card](https://github.com/hypothesis/product-backlog/issues/424), for example.) With private groups we use the group's home page also as the invite link, but for restricted groups this won't work since the group's home page is public. If we want to implement invites f

[2018-02-27 12:24] dawachan commented on #496
@seanh I also have more general concerns about the effect on the UX of the new process we have adopted i.e shipping minimal functional units in each iteration. I am on board with this and believe it is an effective approach but, if we push it to prod and it is an interim UX, ie. it doesn't reflect the final UX which was thought through and considered holistically with all parts functioning whether

[2018-02-27 12:26] seanh commented on #494
Agree, it does seem like a useful thing to have but can go on a separate card (and then be prioritized separately too)

[2018-02-27 12:29] seanh commented on #496
@dawariley Agree, there's definitely some stuff to think about there, and I don't think we've collectively figured out exactly how design fits into this iterations-based approach.

[2018-02-27 12:34] dawachan commented on #496
yes I agree, something we definitely need to work out.

[2018-02-27 12:35] seanh commented on #496
FWIW I absolutely _do_ want to get the mockup above into the product, I think it's a fantastic design that looks and works a million times better than what we have currently. We just have to figure out how to get there

[2018-02-27 14:40] lyzadanger commented on #483
@robertknight Took me a while to track this down, but I don't think such a change is actually necessary as all group-related fields are ignored on annotation update. To wit, in `h.schemas.annotation.UpdateAnnotationSchema`:

[code]

A related task might be to document that the `PATCH` endpoint ignores certain fields (for the benefit of anyone using our API)?

[2018-02-27 15:06] seanh opened #501 "Investigate flakey Travis tests hitting DB constraint errors. eg. https://travis-ci.org/hypothesis/h/jobs/342170595"
e.g. https://travis-ci.org/hypothesis/h/jobs/342170595

[2018-02-27 15:26] robertknight commented on #483
@lyzadanger - You cannot change the _group_ on an update but you can change the _uri_, so you can violate scope constraints by changing the latter.

[2018-02-27 15:47] dawachan opened #502 "Add organization icons into groups menu"
Introducing the organization icons next to the groups is an improvement over what we currently have in the current version of https://biopub.hypothes.is/ and takes us one step closer to the target revised groups control.

![screen shot 2018-02-27 at 15 49 34](https://user-images.githubusercontent.com/5212631/36738564-b2646ea4-1bd5-11e8-83fe-a0f10465cf2f.png)

**Notes:**

- We are retaining the 'Vi

[2018-02-27 15:49] seanh commented on #419
Closing in favour of https://github.com/hypothesis/product-backlog/issues/502

[2018-02-27 15:49] #419 closed, assigned to nobody

[2018-02-27 15:50] seanh commented on #502
Note that I previously created an issue for adding publisher icons into the groups menu - https://github.com/hypothesis/product-backlog/issues/419 - I've closed that issue in favour of this one

[2018-02-27 15:54] seanh commented on #502
Note that in Dawa's mockup all of the Biopub open and restricted groups are sorted together in the menu, and the Biopub icon is only shown next to the _first_ Biopub group. Similar for the Hypothesis groups. Developers may have to figure out an intermediate way to implement that given that we don't have publishers / organizations in the model yet.

[2018-02-27 15:56] dawachan commented on #496
I have created a new card for adding the inclusion of group menu organization icons to the groups control #502

This is an outcome of a proposal I made in conversation with @seanh about a better interim solution than what we have now and takes us one step closer to the target UX. It assumes removing the duplication of (w) and (p) icons outlined in @seanh comment above. Can be discussed in our desi

[2018-02-27 15:57] dawachan commented on #496
Yes, and the new issue I created #502 is a brave new step to get us there..

[2018-02-27 15:58] seanh commented on #502
I think this is a great design improvement. It's a small (ish) iterative step from what's currently on production, small enough that we can probably handle it as a single increment (pending discussion with other devs), and it makes a huge improvement to the product. Low effort and high value.

I think it makes the ownership of the groups (owned by Biopub vs owned by Hypothesis) clear, which is not

[2018-02-27 16:01] lyzadanger commented on #501
Bah. https://travis-ci.org/hypothesis/h/jobs/346841495

[code]

[2018-02-27 16:15] dawachan commented on #495
Earlier mock I did for Restricted Group activity page:

![36210599-bcab1924-1196-11e8-8706-7aa27740941a](https://user-images.githubusercontent.com/5212631/36740184-9e038054-1bd9-11e8-9755-e7bd7c1f184c.png)

Note Authors is now Contributors, will update.

[2018-02-27 16:19] seanh commented on #481
Sprint planning: closing this. Use https://github.com/hypothesis/product-backlog/issues/497

[2018-02-27 16:19] #481 closed, assigned to nobody

[2018-02-27 16:39] klemay commented on #502
From [ticket #2238 in Zendesk](https://hypothesis.zendesk.com/agent/tickets/2238):

Through talking with the user, I figured out that she was often missing the target for the group she was trying to select, and instead clicking on the "View group activity" link. Interestingly, the user did not realize she was missing the target and instead thought this was a bug in the product!

I did explain to t

[2018-02-27 16:41] robertknight commented on #502
Very helpful 🙂, thanks for the insight.

[2018-02-27 16:42] dawachan commented on #502
Thanks for sharing Katelyn, this validates the complaint I received at QDR from folks that actively used H and have encountered the exact same problem!

[2018-02-27 16:49] seanh commented on #502
Wow, great work

[2018-02-27 18:05] seanh commented on #496
As discussed in product team meeting I've updated the description of this card to reflect the acceptance criteria we've all agreed on, including sort ordering. Now that confusion is cleared up, and we all know what we're doing, we can start making progress on delivering restricted groups!

[2018-02-27 18:36] hmstepanek commented on #495
See comment: https://github.com/hypothesis/product-backlog/issues/424#issuecomment-367539827

[2018-02-27 20:10] lyzadanger commented on #487
I think this is done for now as of merging of https://github.com/hypothesis/h/pull/4833 ; I don't want to prematurely optimize by creating a `presentation` service just now.

[2018-02-27 20:10] #487 closed, assigned to lyzadanger

[2018-02-28 11:07] robertknight opened #503 "Support pdf2htmlEX documents"
Add support for using the client to annotate documents created by [pdf2htmlEX](https://github.com/pdf2htmlEX/pdf2htmlEX) ([unmaintained original repo](https://github.com/coolwanglu/pdf2htmlEX)), a PDF to HTML converter. There are existing documents using this on the web (TBD: Can we gather statistics this?), but Elsevier is also considering using it.

This is not simply a case of relying on the cl

[2018-02-28 11:19] robertknight commented on #503
This is the monkey-patching solution I mentioned above:

[code]

This is obviously a complete hack 🙈, but it is also very simple. Also it was apparently an [explicit design goal](https://github.com/pdf2htmlEX/pdf2htmlEX/wiki/Introduction#whats-special-with-pdf2htmlex-) that converted documents should work without JS. On that basis we could propose to introduce a supported API upstream for this.

I

[2018-02-28 17:10] ajpeddakotla commented on #423
There are other cards that already reference sort order, so I'm closing this one out.

[2018-02-28 17:10] #423 closed, assigned to nobody

[2018-02-28 18:15] ajpeddakotla opened #504 "Backspace should delete lozenges"
Moving this https://github.com/hypothesis/h/issues/3991 to the product backlog repo to track it as a feature request.

If the keyboard cursor is at the beginning of the input and the user hits backspace, it should delete the last lozenge.

[2018-02-28 18:27] ajpeddakotla commented on #343
Closing this issue as it is being addressed here: https://github.com/hypothesis/h/issues/4727

[2018-02-28 18:27] #343 closed, assigned to nobody

[2018-02-28 18:41] segdeha commented on #353
I added a rule in CloudFlare to make the version of this specific page without a trailing slash work (for those who have access, it's at the bottom of [the list of page rules](https://www.cloudflare.com/a/page-rules/hypothes.is)).

This is a temporary hack! @xolotl should still move this page to Wordpress. At that time, we should remove this rule.

[2018-02-28 18:41] #353 closed, assigned to nobody

[2018-02-28 18:55] ajpeddakotla commented on #130
Closing this one in favor of https://github.com/hypothesis/product-backlog/issues/49. If we implement #49 we won't need to worry about this.

[2018-02-28 18:55] #130 closed, assigned to nobody

[2018-02-28 19:09] lyzadanger commented on #483
Fixed by https://github.com/hypothesis/h/issues/4835

[2018-02-28 19:09] #483 closed, assigned to lyzadanger

[2018-02-28 20:48] ajpeddakotla opened #505 "Move AAK page to its own, independent site"
The AAK page doesn't fit the normal styles of our WP theme, and therefore can't be hosted on our WP site.

This issue will track the eventual goal of moving the AAK site to its own, independent site.

Discussed also in #353

[2018-03-01 04:09] xolotl commented on #353
If this is a temporary hack, we still need a way to track the need for a permanent solution so I've added a note on [the trello card for the AAK website](https://trello.com/c/Mrs1DpNV). Note that AAK will not become part of the H. WP website (it's a separate organization), but will become a standalone website at some point. At that time, we would want to put a redirect in place to its domain: http

[2018-03-01 19:46] klemay commented on #493
Another example: https://quod.lib.umich.edu/d/dh/13474172.0001.001/1:3/--ethical-programs-hospitality-and-the-rhetorics-of-software?g=dculture;rgn=div1;view=fulltext;xc=1

[2018-03-02 15:29] dawachan opened #506 "Write up of QDR ATI Workshop"
Write up of 2-day attendance at QDR:

https://docs.google.com/document/d/1P9F0-SCBk9u4dpSE8DEozzJofpEGbm0SW4DbRUQPMlU/edit#

Learnings:

* Use cases for scholarly annotation
* Feature requests for annotation clients
* Pain points with H and annotation tools
* Feedback and use cases on groups in scholarly annotations for authors + researchers

[2018-03-02 19:29] ajpeddakotla commented on #495
@dawariley re: Authors vs. Contributors.

Those two terms are different from what our current schema uses, so I would like to understand the rationale for the change in wording. Also, I think this is something that might need further discussion in how we're presenting groups/membership/users holistically.

Currently for the restricted group I see:
<img width="396" alt="screen shot 2018-03-02 at 1

[2018-03-02 20:24] ajpeddakotla commented on #373
Closing this as there are other issues that cover what this ticket is about.

[2018-03-02 20:24] #373 closed, assigned to nobody

[2018-03-02 20:26] ajpeddakotla commented on #372
Closing this one as it has been covered here: #448

[2018-03-02 20:26] #372 closed, assigned to nobody

[2018-03-02 20:35] ajpeddakotla commented on #269
Closing this in favor of: https://github.com/hypothesis/product-backlog/issues/497

[2018-03-02 20:35] #269 closed

[2018-03-02 21:18] lyzadanger opened #507 "Add ability to delete groups (for H admins only)"
Feel free to obliterate this if it is a dupe of something tracked elsewhere.

We're getting to a point with groups development that I think we need some way to delete open and restricted groups—only from the admin interface initially. This will avoid us from heaping up tons and tons of test groups or mistaken groups that are hard to get rid of. I seem to recall hearing that deleting groups was non

[2018-03-02 21:22] lyzadanger opened #508 "Allow the use of form `description` fields in form templates"
Right now, we're using `deform` widely on the `h` service for rendering forms. `colander` schemas, which are used by `deform`, have a `description` attribute available. But `h` forms only make use of the `hint` attribute, which gets rendered behind a tooltip.

I believe that tooltips can be appropriate in certain situations, but in other places they introduce extra work for the user and are not ac

[2018-03-02 21:27] lyzadanger opened #509 "Upgrade `ListGroupsService`to account for restricted groups"
`ListGroupsService`, the service used to build API responses with listings of group objects, needs to be updated in light of restricted groups now existing in data.

This is done when:

* [ ] (Scoped) Restricted groups are returned intermingled with open groups in the API response
* [ ] No one group is ever returned multiple times—as some of us saw in a demo earlier today, groups can currently "sh

[2018-03-02 22:21] hmstepanek commented on #495
Personally, I agree with Arti here. I would think restricted groups would also have members, however, we do need some way of distinguishing to the user the difference between the groups and this is one very effective way of doing that.

[2018-03-03 15:33] dawachan commented on #495
Thanks @ajpeddakotla I'm going to respond Monday!

[2018-03-04 22:37] robertknight commented on #508
I'll have a look at this PR more closely tomorrow but I just wanted to comment on this specifically.

Our tooltips do actually work on mobile devices and they are visible to assistive technology. See notes in [tooltip-controller.js](https://github.com/hypothesis/h/blob/master/h/static/scripts/controllers/tooltip-controller.js). I do note that for some form controls we have an affordance to make th

[2018-03-04 22:43] robertknight commented on #507
We already do delete groups when deleting user accounts in `h.services.delete_user`. There are some potential complications with the way annotations are soft-deleted which means that a synchronous deletion of groups would temporarily leave soft-deleted annotations in the DB referencing a `groupid` that no longer exists. I don't think that will be a major issue.

[2018-03-05 13:57] lyzadanger commented on #508
I'm glad our tooltips are (mostly) mobile-friendly! I think what I'm getting at is: would it be possible not to hide information behind something that requires a user action, especially in an admin-like form? Perhaps this is wandering into territory that @dawariley would be able to help us with.

The tooltip targets seem a little small and they're visually tiny—what they imply to me is more of a "

[2018-03-05 15:19] ajpeddakotla commented on #470
Note: This card doesn't address the discoverability of open and restricted groups. The only groups that will show for the user as they type `groups:` are groups that:
- [ ] They already are a member of or have created/moderated/or are a member of

[2018-03-05 15:40] ajpeddakotla commented on #506
closing this as it has been completed.

[2018-03-05 15:40] #506 closed, assigned to nobody

[2018-03-05 15:44] ajpeddakotla commented on #422
Closing this as it is completed.

[2018-03-05 15:44] #422 closed, assigned to dawachan, hmstepanek

[2018-03-05 15:44] ajpeddakotla commented on #490
Closing this as it is completed.

[2018-03-05 15:44] #490 closed, assigned to hmstepanek

[2018-03-05 15:58] dawachan opened #510 "Search - Adding 'my' open and restricted groups to Group: facet"
**As a USER I want to be able to find annotations and groups that I am associated with.**

note: This card is part of a bigger EPIC story for improving the discoverability of open and restricted groups covered by: #470

**Changes Required to accommodate new groups:**

1. A user clicks the search field at the top of an activity/user page in web view, the text giving an overview of the search facets

[2018-03-05 16:07] ajpeddakotla commented on #495
Reminder to take contributors v. member discussion offline. - @sheetaluk is blocked on this until we figure this out.

[2018-03-05 16:14] ajpeddakotla commented on #496
@seanh  to elaborate on this card, and tag any related subcards.

[2018-03-05 16:15] ajpeddakotla commented on #499
Closing as it is completed.

[2018-03-05 16:15] #499 closed, assigned to sheetaluk

[2018-03-05 16:44] heatherstaines opened #511 "Lot logged in/Error on FF"
## Bug report form
### Steps to reproduce
1. I'm annotating on Firefox
2. I launched the client but was not logged in (as I usually am).
3. When I tried to login I got an error message.

### Expected behaviour
Tell us what should happen.
Should have been logged in. Shouldn't have gotten an error.

### Actual behaviour
Tell us what happens instead.
Not logged in. Could not log in. Error.
![screen s

[2018-03-05 17:37] dawachan opened #512 "Converting groups from one type to another"
### User Story:
As a Group Owner/creator I want to be able to convert a group from one type to another after it has been created, and make sure all the annotations follow the read logic of that chose group, so that I can change who can see and make annotations in my group.

_e.g
Open -> Restricted
Restricted -> Private_

***To discuss:***
Limiting permissions is potentially easier to manage from a

[2018-03-05 17:55] ajpeddakotla commented on #500
Closing this. will be handled in other work.

[2018-03-05 17:55] #500 closed, assigned to nobody

[2018-03-05 18:03] dawachan commented on #512
Needs some 'design thinking' re: UX and privacy issues around exposing annotations previously created in 'private' or 'restricted' contexts and how we should handle this/messaging for end users/admin users.

[2018-03-05 20:45] judell commented on #232
See also: https://github.com/hypothesis/product-backlog/issues/378

[2018-03-05 22:14] klemay commented on #235
Another user request: https://hypothesis.zendesk.com/agent/tickets/2275

[2018-03-06 10:17] seanh commented on #492
Note that this requires us to have the concept of a publisher (or "organization" as we've been calling it) to be implemented in Hypothesis first, since the organization name and logo shown in the mockup belong to the organization not to the group.

_Or_ we could just add the organization name and logo as a property of the group first, so that we can implement this without having to have organizati

[2018-03-06 10:31] seanh commented on #496
@ajpeddakotla I've deleted this acceptance criteria for now, we can put it back if necessary, but I'm not sure what _you only see these groups_ means? The current implementation is that a not-logged-in user on a publisher's site would see any open and restricted groups that the publisher has, plus the Public group. For example here's what <https://biopub.hypothes.is/> (which is running the actual

[2018-03-06 10:33] seanh commented on #496
I've checked off the acceptance criteria in the pr description above that are already done so far. The restricted groups implementation so far also has a bunch of bugs, I'll add a task list of things to fix to the pr desc above

[2018-03-06 10:58] seanh opened #513 "Restricted groups should have the private group icon"
Restricted groups (e.g. **BioPub Editors** in this screenshot) currently have the world icon. They should have the private group icon instead:

![2018-03-06-102812_2560x1440_scrot](https://user-images.githubusercontent.com/22498/37028829-4c2fff9c-212d-11e8-9327-1119dab866b7.png)

[2018-03-06 11:01] seanh commented on #496
I've checked the acceptance criteria for group sort ordering. There's a known issue that if you're a member of a restricted group you see the group twice in your menu, I've added a separate acceptance criteria to fix that. But apart from that bug I believe the group sort ordering on <https://biopub.hypothes.is/> is correct:

  1. All open groups and restricted groups are shown first, in alphabetic

[2018-03-06 11:05] seanh opened #514 "Restricted groups show twice in groups menu if you are a member of the group"
If you are a member of a restricted group (for example if you are the creator of the group, since the creator of a restricted group is automatically added as a member) then the restricted group appears twice in your groups menu in the client.

It appears once near the top of the menu with the other open and restricted groups, above the **Public** group. Then, since you're a member of the group, it

[2018-03-06 11:18] seanh commented on #473
This is nice card: the user story clarifies what the purpose is, and it's pretty small in that it focuses on a small change to the groups menu on activity pages only.

Development-wise adding these counts is definitely a separate and quite large piece of work, so I recommend keeping that to its own separate card. I won't mess up this card with the details but I'll just say - adding annotation coun

[2018-03-06 11:23] seanh commented on #508
Agree with Lyza about tooltips hiding information

[2018-03-06 11:38] seanh commented on #508
@lyzadanger I wonder if we can remove this one from the current sprint though? I think it's a general improvement to our forms (product wide, or at least h wide) rather than a part of the groups feature specifically. In fact the only forms that the groups feature involves (so far and for the foreseeable future) are staff-only admin forms. Also this will probably require design input for how showin

[2018-03-06 12:22] seanh commented on #468
@klemay I think "select group from adder" is a solution rather than a problem. What's the problem that we can solve for the user here? It seems to me that it's making it easier to annotate in group B, given that the group I'm currently in (selected in the client's groups menu) is group A not group B? That is, make it easier to post an annotation into a different group, other than the one currently

[2018-03-06 12:34] seanh opened #515 "Specify how to implement organization names and logos"
Spike to produce a spec for how "organizations" (previously called "publishers") should be modeled in h.

## Requirements for organizations in h

* <https://github.com/hypothesis/product-backlog/issues/497> (**Grouping groups by publisher**) requires an incremental design change to the groups menu in the client so that groups are grouped under their publishers. This is waiting on an incremental de

[2018-03-06 12:44] seanh commented on #515
Suggestion:

* Add an `organization` table to the DB, and corresponding `h.models.Organization` class
* `Organization` class fields will be:
  * Unique internal ID
  * Name
  * Icon (URL to image file? Or SVG stored in DB?)
  * One-many relationship to groups
* Each organization can have zero or more groups
* Each group must belong to exactly one organization
* There will be a default Hypothesis o

[2018-03-06 12:46] seanh commented on #515
Lyza's suggested elsewhere that organizations might just be a type of group? I think this suggestion makes more sense when thinking long term: Like groups we'll want organizations to be able to have users as members, have admins, have activity pages (though not exactly the same as group activity pages. For reference [Lyza's suggestion is here](https://github.com/hypothesis/product-backlog/issues/4

[2018-03-06 12:52] seanh commented on #515
Worth noting that we can have an initial modelling of organizations that meets our immediate requirements (of showing organization names and logos on activity pages and in the groups menu) and evolve it to be able to handle later requirements later. Otherwise this can seem like a big thing to handle all at once.

[2018-03-06 14:14] klemay commented on #468
@seanh good point - FWIW, I did not come up with this solution for the user - this was what they asked for in the ticket. In general I try not to propose solutions, but I do think it's important to surface the actual content of feature requests that come from users.

[2018-03-06 14:56] sheetaluk commented on #514
![image](https://user-images.githubusercontent.com/502186/37039087-9a906928-2124-11e8-87e3-cde000763b7b.png)
Pointing out what may already be obvious - doesn't happen when a user is logged out.

[2018-03-06 16:26] lyzadanger commented on #514
This is related to #509

[2018-03-06 17:31] ajpeddakotla commented on #496
Just a note that @seanh's earlier question was answered in standup. Acceptance criteria have been edited to reflect this.

[2018-03-06 17:39] dwhly opened #516 "Note what page/domain users are on when they create an account"
## Feature Request Form
### Problem you are trying to address with this feature
Publishers want to know how many users have created an account while on their content.

### Your solution
Note the page and/or domain when a user is created (if in fact the user creates an account "from" the sidebar, vs the web app.

### Add tags - did you add labels?
If this a customer requested feature, make sure to

[2018-03-06 18:57] lyzadanger commented on #508
I agree that this is not urgent, but important 👍

[2018-03-06 18:58] lyzadanger commented on #508
AFAICT, none of our forms (by "forms" I mean `deform` using `colander` schema) use the `description` property _at all_ except for the ones I have been adding in the admin-add-group form. That means—theoretically—that if I add `description` rendering to form-field templates, this should just work and none of the other (i.e. user-facing) forms should be affected.

[2018-03-06 22:44] sheetaluk commented on #514
@lyzadanger might be obvious, I'm just noting that this happens for both restricted and open groups

[2018-03-06 23:46] sheetaluk commented on #486
Blocked to begin by https://github.com/hypothesis/h/pull/4871

[2018-03-07 05:09] ajpeddakotla opened #517 "SPIKE: Designate groups over pages and cluster groups"
There are many user stories under this issue that we'll need to discuss. In my opinion, after writing these stories, and speaking with Dan and Heather, we might not need to add the concept of an `organization` per se. See the user stories below and let me know your thoughts.

### User Stories

**For Page Owners (publishers, et. al.,)**
As a page owner, I want to declare a group or groups to be vis

[2018-03-07 10:56] robertknight commented on #257
This came up during a [recent outage](https://docs.google.com/document/d/1Rsf4mKxMnEYhE7pteI2eSyuEhcKyQpRwtQTGHCKrfGs/edit#) where h maxed-out the number of instances allowed by the pre-configured autoscaling limits in its EB environment. All instances had >95% load for an extended period of time and we didn't notice until users reported problems.

[2018-03-07 12:15] dawachan commented on #515
After speaking to the folks (authors, peer reviewers, academics) at the QDR/ATI workshop we might want to factor these user needs into group requirements:

1. users should easily be able to show/hide and control annotation privileges to groups they create. the current model assumes everything is world readable. rationale: users want to be able to expose group annotations at different times and to

[2018-03-07 12:44] ajpeddakotla commented on #517
Other issues that have been previously created that are related:
#448
#497
#515
#502

[2018-03-07 12:54] dawachan commented on #517
I've spent the morning thinking through the user stories on this spike and the implications for the UX. I'd like to outline what I think is implied with the above, perhaps we can discuss in our sync meeting this afternoon and refer to the mocks below as a talking point to clarify how/if requirements have changed and the implications.

**What I understand we are _**currently**_ building:**

_1. Tar

[2018-03-07 13:00] dawachan commented on #517
**Future Scenario:**

I think it's important to consider how we associate groups with community organizations for what we're looking to roll out in the future.

For example: If we have a third party domain e.g BBC and there is an article about climate feedback and the Climate Feedback group want to designate a group to show up over this content. The BBC hasn’t asserted that a group/groups not be a

[2018-03-07 14:00] lyzadanger commented on #507
Can I presume that there are some cascading DB constraints that will delete annotations in the group if the group is deleted, in general ? That is, will something as simple as `self.request.db.delete(group)` (from `h.services.delete_user`) be sufficient to kick of whatever "soft-deletion" happens?

i.e. "Is it really that simple for _basic_ group deletion"?

[2018-03-07 14:03] robertknight commented on #507
Annotations don't have a DB-level FK relation with groups, which is I think mostly a historical artefact, so a little bit of extra logic is needed to handle the deletion. But if you look at `h.services.delete_user` you can see that it isn't very complicated - just fetching annotations in that group, looping over them and making a couple of calls to other code.

[2018-03-07 14:06] lyzadanger commented on #507
Oh, yeah, duh, now I see that!

Do I need to explicitly remove group-user relationships or (as I would expect) they'll automatically get wiped?

[2018-03-07 14:16] robertknight commented on #507
Inspecting the generated schema, it looks like there isn't presently a cascading deletion on the `user_group` relationship:

[code]

(BTW. The table names "user" and "group" have to be quoted in psql because they have special meanings otherwise. This isn't needed for other tables).

On that basis, I think you will either need to add this cascade (which can be done with a migration, I think we have

[2018-03-07 16:54] seanh commented on #515
Hannah's model (from engineering meeting) (we agreed to go with this):

[code]

(Action: @hmstepanek to break this down into cards, they can go straight into the current sprint)

[2018-03-07 17:34] lyzadanger commented on #515
Question: What happens if an organization's last remaining group is deleted? My hunch is that it will stick around—organizations are independent of groups in that sense—but I wanted to be sure (I'm scoping how to delete groups so this popped into my head).

[2018-03-07 17:38] hmstepanek commented on #515
Yes the organization should stick around.

[2018-03-07 17:39] hmstepanek opened #518 "Add organization model"
* id
* name (string)
* logo (inline svg) (nullable)

[2018-03-07 17:39] lyzadanger commented on #515
~~Also, when deleting a group, I'm hoping its `organization` relationship can be cleaned up automatically by DB constraints? If not, let me know if I need to delete that relationship manually.~~

Nevermind, the one-to-many relationship means there will just be an `organization_id` field on `group` so this is a non-thing.

[2018-03-07 17:40] hmstepanek commented on #515
I would think it would be taken care of when it the group is deleted. It's just a reference to the organization on the group after all.

[2018-03-07 17:41] lyzadanger commented on #515
Yeah, I realized that within 30 seconds of posting my comment. D'oh. Moving too fast. I had already updated the comment.

[2018-03-07 17:42] hmstepanek opened #519 "Add organization_id to group"
Group
* organization_id (one->many relation between organizations and groups) (required: every group must belong to exactly one organization)

[2018-03-07 17:44] hmstepanek opened #520 "Migrate db for introducing organization"
Database migrations will be needed to:
* Add the organization table to the product db
* Add the organization_id column to the group table
* Create a biopub organization and relate the two existing biopub groups to it
* Create a default Hypothesis organization and relate all existing private groups and the public group to it
Private groups:
* All private groups always go into the default Hypothesis

[2018-03-07 17:46] hmstepanek opened #521 "Add ability to choose a group's organization on the create/edit group admin page"
Admin page:
* When creating an open or restricted group you will have to select an existing organization from a drop-down menu

[2018-03-07 17:48] hmstepanek opened #522 "Add ability to create new organizations on admin page"
* Add ability to create new organizations using the admin pages

[2018-03-07 17:50] lyzadanger commented on #521
This is likely dependent on some of the work in https://github.com/hypothesis/h/pull/4867 and against https://github.com/hypothesis/product-backlog/issues/421

[2018-03-07 17:52] hmstepanek opened #523 "Break out logic tests into separate files"
Currently most of the tests for the client's reducer container annotation-ui are all in one class and they need to be broken up into separate files that test a specific reducer. Aka; selection-test.js, annotation-test.js etc.

[2018-03-07 18:01] hmstepanek commented on #521
@seanh mentioned it would be an additional requirement to what you already have in flight. I think we can not worry about this for now until I get the organization in there and we test it out on biopub etc. I'm guessing that will be at least a couple weeks if not more.

[2018-03-07 18:53] heatherstaines opened #524 "BioPub not shown by default on BioPub Demo site"
## Bug report form
### Steps to reproduce
1. I have BioPub demo open in a Chrome tab.
2. When I arrive (logged in) I don't get the BioPub group by default, I have to select it.
3. Whatever group I'm in last on another tab is what is shown by default.

### Expected behaviour
Tell us what should happen.
I think I should get BioPub shown by default.

### Actual behaviour
Tell us what happens instead.

[2018-03-08 12:51] damaru2 opened #863 "[feature request] Button to copy original URL in documents"
When using the extension in pdfs, the url is some ininteligible string of things. I open most pdfs with hypothesis but when I want to bookmark them or send the link to another person, I have to click the button in the extension so I open the document without it, then copy the url or bookmark it and then go to the hypothesis viewer again.
This is very inefficient, it would be nice if there were a b

[2018-03-08 13:46] dawachan commented on #473
Understood @seanh. I can amend the designs accordingly or show it crossed out, just adding it now so reviewers/devs can see the bigger picture of how all the various pieces could fit together in the enhanced 'My Groups' control.

[2018-03-08 13:53] dawachan commented on #473
The issue of displaying annotation count equally applies to the search card #510 , are we only showing annotation count in the main group scope control (sidebar) or should we also show it search and my groups?

The data we can expose in these controls which might be helpful to users to see:

- annotation count
- role (creator or contributor)
- org name

We need to make decisions on whether to incl

[2018-03-08 14:23] jeremydean commented on #341
@seanh looking back on this after what i've learned in the interim, i think this is still close to the right solution. wondering if this architecture is possible, though:

- each school's LMS is given its own _instance_ (hypothesis.instructure.com, for example) is given its own namespace
- that instance/namespace/authority is associated with an overarching _private_ group, unlike elife which is pu

[2018-03-08 14:40] lyzadanger opened #525 "Add `delete-group` Service"
This is part of #507

We need a new `h.service` along the lines of `h.services.delete_user` for deleting groups. The delete method in this service needs to be cognizant of the delete requirements mentioned in #507 ; that includes:

* Removing any and all members from the group
* Deleting all annotations within the group
* Deleting the group itself (last)

This service is initially intended to be u

[2018-03-08 17:25] klemay commented on #203
Another example: https://hypothesis.zendesk.com/agent/tickets/2283

[2018-03-08 18:04] seanh commented on #341
@jeremydean This "group that contains other groups" is being called an "organization" in the code right now. And sure, I think the notion of a private organization containing all-private groups might be possible.

[2018-03-08 18:48] klemay commented on #203
@judell has built a proof of concept for the extension as described in [202](https://github.com/hypothesis/vision/issues/202):

[2018-03-08 19:46] judell commented on #203
@klemay  Note that so far I've only tried the approach in https://github.com/hypothesis/vision/issues/202, which is client-side redirection. It's somewhat helpful, but only when you follow a link from, say, www.digitalpedagogylab.com/hybridped/teaching-in-our-right-minds/, and are redirected to http://hybridpedagogy.org/teaching-in-our-right-minds/. The approach outlined here is more important, be

[2018-03-09 00:33] judell commented on #341
About a year ago I stitched together the Canvas alpha and the publisher accounts prototype, just to get a feel for those pieces working together: http://jonudell.net/h/h_canvas_auth_01.mp4

If nobody gets there first, I might revisit that in light of the new groups machinery just to see what's involved.

[2018-03-09 00:52] hmstepanek opened #526 "Add organization names to group facet"
When searching for a group, each group in the auto complete drop down group facet should have it's corresponding organization next to the group name.
@dawariley has provided mocks below:

[2018-03-09 11:21] #515 closed, assigned to nobody

[2018-03-09 17:59] dawachan commented on #495
As part of my 1:1 with @dwhly we discussed renaming members -> contributors for restricted groups activity pages. Based on product needs, it was decided that we should leave the list of users as 'members' as the working term for now until we can get feedback from our users. I hope this unblocks with you @sheetaluk and I hope @ajpeddakotla you're onboard with this too!?

[2018-03-09 18:31] seanh commented on #501
Done for now. Let's open new prs for any more flakey tests that pop up

[2018-03-09 18:31] #501 closed, assigned to seanh

[2018-03-09 19:51] lyzadanger commented on #421
Work is proceeding here. There are a bunch of pieces almost ready to be plugged into each other. Here's what needs to happen next if anyone else picks this up:

* There is an extant "add a group" admin panel already merged into master with a form and some validation
* Ideally, the `origins` field in the form would be updated to integrate the work happening in https://github.com/hypothesis/h/pull/4

[2018-03-09 19:57] lyzadanger commented on #507
Several pieces of this are in flight if anyone wishes to pick this up.

* [This branch](https://github.com/hypothesis/h/tree/admin-delete-groups-view) defines a view controller and a template for the delete-a-group interface following the established modal-confirm pattern from the delete-a-user admin tool
* [This branch](https://github.com/hypothesis/h/tree/delete-groups-service) adds a `delete-gr

[2018-03-09 20:00] lyzadanger commented on #525
Work-in-progress branch: https://github.com/hypothesis/h/tree/delete-groups-service

[2018-03-10 23:25] heatherstaines opened #527 "Can't make tags"
## Bug report form
### Steps to reproduce
1. I'm reading a Wired article and using the bookmarklet on FF.
https://www.wired.com/story/dot-power-autonomous-farming?mbid=nl_031018_daily_list3_p1&CNDID=17738333
2. I can make an annotation
3. I can't make a tag. I can click into the box, but then I can't type anything.

### Expected behaviour
Tell us what should happen.
I should be able to add a tag.

[2018-03-10 23:29] heatherstaines commented on #527
BTW, I tried other articles in the same issue and had no problems.

[2018-03-11 18:33] dwhly commented on #527
I cannot reproduce this.

 About this version

Version:
    1.72.0
User agent:
    Mozilla/5.0 (Macintosh; Intel Mac OS X 10.12; rv:58.0) Gecko/20100101 Firefox/58.0
URL:
    https://www.wired.com/story/dot-power-autonomous-farming/
Username:
    dwhly
Date:
    11 Mar 2018 11:36:29 -0700

[2018-03-11 18:50] heatherstaines commented on #527
Seems to work for me now, too. It was ver weird though.

On Sun, Mar 11, 2018 at 2:33 PM, Dan Whaley <notifications@github.com>
wrote:

--
Heather Ruland Staines
Director, Partnerships
Hypothes.is
M: 203-400-1716
Skype: heather.staines

[2018-03-11 18:53] dwhly commented on #527
Lets close till we can repro.

[2018-03-11 18:53] #527 closed, assigned to nobody

[2018-03-12 12:25] #509 closed, assigned to seanh, lyzadanger

[2018-03-12 12:25] #514 closed, assigned to seanh, lyzadanger

[2018-03-12 13:39] #513 closed, assigned to sheetaluk

[2018-03-12 18:23] klemay commented on #435
Another user request: https://hypothesis.zendesk.com/agent/tickets/2299

[2018-03-13 11:53] dawachan opened #528 "DESIGN SPIKE: Enable post to ‘Only Me’ within a restricted group context."
### User stories:  ###

1. As a USER I want to be able to ‘post to me’ within a restricted group.
2. As a USER I need an easy way to be able to view my 'only me' annotations within a given context.
3. As a USER I would like to be able to easily annotate to groups I have permissions to annotate in (which may be outside the scope of the current group).

### Context ###
Posting to ‘Only me’ was de-sc

[2018-03-13 12:02] dawachan commented on #489
@ajpeddakotla and @dwhly ready for review, thanks!

[2018-03-13 12:02] seanh opened #529 "Creating an open or restricted group crashes if no scopes are given"
Go to the new admin page for creating an open or restricted group and try to create a group without entering any scopes - it crashes.

[2018-03-13 12:18] #529 closed, assigned to nobody

[2018-03-13 14:17] dwhly commented on #200
Note also: https://github.com/hypothesis/product-backlog/issues/528

[2018-03-13 16:41] dwhly commented on #1135
PR: https://github.com/hypothesis/client/pull/684

[2018-03-13 18:34] ajpeddakotla commented on #510
@dawariley @hmstepanek - Dawa, Dan, Andrew, and I met and we discussed the use of labels to mark group members.

The use of the `creator` label is great as it let's the user know that these are groups that they've created.

But the use of other labels to identify group members is a seperate story, and something we need to discuss further. So let's implement the `creator` group label for now.

Let

[2018-03-13 18:37] sheetaluk opened #530 "User has to be able to leave a restricted groups from the activity page view for that group"
Card broken off from https://github.com/hypothesis/product-backlog/issues/495

[2018-03-13 18:38] sheetaluk opened #531 "Refactor activity pages template and view into manageable components."
Card broken off from https://github.com/hypothesis/product-backlog/issues/495

[2018-03-13 18:39] sheetaluk commented on #495
Opened new cards for:
1. User leaving restricted group from the activity page view
https://github.com/hypothesis/product-backlog/issues/530
2. Refactor activity pages template and view files into manageable components
https://github.com/hypothesis/product-backlog/issues/531

[2018-03-15 14:30] sheetaluk commented on #530
This works with this PR: https://github.com/hypothesis/h/pull/4863

[2018-03-15 14:30] #530 closed, assigned to nobody

[2018-03-15 14:59] dawachan opened #532 "Design Spike: Improvements to existing Groups Control Menu"
As a USER I need an easy way to perform user actions associated with a group:

- Delete a Group (if creator)
- Leave a Group (if member)
- View Activity
- Invite/Share

### User requests
- https://hypothesis.zendesk.com/agent/tickets/2546 (wants to delete group)
- https://hypothesis.zendesk.com/agent/tickets/2831 (wants to delete group)

### Justification ###

In the current groups control, a user

[2018-03-15 15:16] seanh opened #533 "Investigate why autoscaling did not work during degraded h performance on 2018-03-13 (see https://hypothes-is.slack.com/archives/C074BUPEG/p1521036663000172)"

[2018-03-16 11:30] tgbugs opened #1165 "clicking on an annotation makes other annotations disappear"
### Steps to reproduce
1. click on an highlighted annotation in the text of a webpage
2. click on show all
3. annotation sidebar scrolls back to the top

### Expected behaviour
Side bar should scroll the annotations to be centred on the annotation.
The other annotations should not disappear.
Show all annotations should not scroll to the top if the user got to a single annotation from the all annot

[2018-03-16 13:43] dawachan opened #534 "UX/UI Improvements to Create New Group admin form"
###UX/UI Feedback for improving the 'Create New Group' admin form.###

Related card: #https://github.com/hypothesis/product-backlog/issues/421

1. The form is appearing stretched and longer the data/options being displayed e.g Group Type and text fields are excessively long. Recommendation: Follow the form field widths presented on the create group: https://hypothes.is/groups/new  no need to centr

[2018-03-16 14:05] dawachan commented on #421
###UX/UI Feedback for improving the 'Create New Group' admin form.###

(I've created a new card for UX/UI improvements #https://github.com/hypothesis/product-backlog/issues/534 to be picked up in the future. It is recommended some of the improvements be pushed out with the initial release e.g character limits and required field affordances) to avoid unnecessary user errors.

1. The form is appeari

[2018-03-16 16:11] klemay commented on #1165
Hi @tgbugs! I want to relay your issue to the rest of the team but first I'd like to make sure I'm understanding you correctly.

## What actually happens
1. Visit a web page or document that has many annotations
2. Click on a highlighted piece of text to open the Hypothesis sidebar and see the annotation attached to that portion of the text. No other annotations from the document are visible.
3. C

[2018-03-16 17:12] klemay opened #535 "Annotations on articles from nprEd not grouped properly on activity pages"
This came from https://hypothesis.zendesk.com/agent/tickets/2309 (if unable to view that, try this: https://hypothes-is.slack.com/files/U8D0XFS72/F9QP8LLN5/ticket2309.pdf), which is a long ticket that contains a few other issues, so probably most helpful to stick to summary below:

### Steps to reproduce
1. Annotate any article from NPR's education section (https://www.npr.org/sections/ed), i.e. t

[2018-03-16 17:49] judell commented on #1165
I see exactly what you mean. And I've thought: "Yeah, we should retain focus on the card that was selected." What I did /not/ recall is that we used to do that.

Would you guess weeks ago, @tgbugs? Longer?

[2018-03-16 18:08] klemay commented on #23
Feature request, not a bug

[2018-03-16 18:09] klemay commented on #73
Feature request - not a bug

[2018-03-16 18:19] klemay commented on #24
Close in favor of https://github.com/hypothesis/client/issues/54

[2018-03-16 18:19] #24 closed

[2018-03-16 18:25] klemay commented on #266
Closing in favor of https://github.com/hypothesis/client/issues/248

[2018-03-16 18:25] #266 closed

[2018-03-16 18:27] ajpeddakotla commented on #283
Closing this in favor of: https://github.com/hypothesis/client/issues/479

[2018-03-16 18:27] #283 closed

[2018-03-16 18:33] klemay commented on #57
Closing in favor of https://github.com/hypothesis/client/issues/142

[2018-03-16 18:33] #57 closed

[2018-03-16 18:46] seanh commented on #495
@sheetaluk Can we close this card now?

[2018-03-16 20:12] tgbugs commented on #1165
@judell I really couldn't say. I only noticed a week or two ago, and the last time I was using the client intensely enough to notice was last September, so it could have been any time between then and now. If there are archives of the client it might be possible to go through and check.

@klemay The what actually happens is accurate. For the desired workflow I think having to click "Show all annot

[2018-03-19 11:35] ajpeddakotla commented on #375
Closing as issue is completed.

[2018-03-19 11:35] #375 closed, assigned to hmstepanek

[2018-03-19 11:35] ajpeddakotla commented on #534
Closing as issue is completed.

[2018-03-19 11:35] ajpeddakotla commented on #421
Closing as issue is completed.

[2018-03-19 11:35] #421 closed, assigned to robertknight

[2018-03-19 11:36] ajpeddakotla commented on #533
Closing as issue is completed.

[2018-03-19 11:36] #533 closed, assigned to seanh

[2018-03-19 11:36] ajpeddakotla commented on #495
Closing as issue is completed.

[2018-03-19 11:36] #495 closed, assigned to sheetaluk, dawachan

[2018-03-19 12:05] seanh commented on #497
@ajpeddakotla Can we move this one back into developer elaboration? I think it's ready to be broken down by developers and then implemented

[2018-03-19 12:21] seanh opened #536 "Spike to investigate Elasticsearch timeouts"
We still seem to be having frequent Elasticsearch timeouts, as can be seen for example in Grafana:

![screenshot from 2018-03-19 12-14-28](https://user-images.githubusercontent.com/22498/37595073-46805924-2b6f-11e8-9439-fc0ab3350b36.png)

And in Sentry:

![screenshot from 2018-03-19 12-15-23](https://user-images.githubusercontent.com/22498/37595081-50cbb874-2b6f-11e8-82f8-47b1da1f73fa.png)

One pr

[2018-03-19 12:27] seanh opened #537 "Spike to do an analysis of our traffic (requests and responses)"
Outcome of this spike is a short written report on how well we're currently serving the traffic that we're getting, especially during our daily peak traffic. For example:

* How are our response times? Are we fast? How often are we giving unacceptably slow responses?
* How are out error rates? Are we robust? How often are we giving error responses, for what reasons, and how is this affecting users

[2018-03-19 12:34] seanh opened #538 "Spike to get on top of our Sentry crash reports"
I don't think we've been on top of our Sentry crash reports for a while - crash reports are coming in but are being ignored, we don't have a clear idea of how crashy or not we are and whether there's any bugs in need of fixing, we've been hitting Sentry's rate limiting.

This spike is to answer questions such as:

* How many crashes are happening? Are we robust or are we crashy? Particularly in h

[2018-03-19 12:36] lyzadanger opened #539 "Update Groups API response to account for Organizations"
This is part of https://github.com/hypothesis/product-backlog/issues/497

The `GET /groups` API endpoint needs to be updated to account for the introduction of Organizations. This will likely entail either sorting by or even grouping by organizations in the response. Needs scoping at this point.

Don't forget the API docs!

[2018-03-19 13:18] seanh opened #540 "Our Business Metrics Grafana dashboard is broken"
Our Business Metrics Grafana dashboard at <https://mon.hypothes.is/grafana/dashboard/db/business-metrics> is broken - it isn't receiving any data.

This is a dashboard that gives us graphs of the number of annotations created (total, daily, monthly) and of the number of active users.

I'm not sure how long it has been broken for and it kind of looks like no one is using it.

Did we move to getting

[2018-03-19 13:20] seanh commented on #540
Looks like it's still in use so we'll need to fix it: https://hypothes-is.slack.com/archives/C03QZM0K4/p1521465540000503

[2018-03-19 13:22] seanh opened #541 "Our RabbitMQ Grafana dashboard is broken"
No data: <https://mon.hypothes.is/grafana/dashboard/db/rabbitmq>

It seems likely that this broke when we moved to CloudAMQP and that the monitoring that CloudAMQP provides for us replaces everything this Grafana dashboard provided. If so we can just delete the Grafana dashboard. Someone needs to look at what CloudAMQP provides and whether it's sufficient first though

[2018-03-19 14:11] lyzadanger opened #542 "Remove Reference to Legacy Properties in Client Groups code"
At present, https://github.com/hypothesis/client/blob/723a07a11c8ae9c4f7dd60ae31057b0026815331/src/sidebar/templates/group-list.html is using some legacy group properties that we should update:

* [x] `group.public` should be replaced by switching on the type(s) of group
* [x] `group.url` should be `links.html`

This is a blocker for #486

[2018-03-19 14:27] seanh opened #543 "Improve our monitoring setup"
Our monitoring setup has a number of shortcomings that make it harder for us to diagnose and fix incidents when they happen, and to understand the general performance of our service.

Monitoring includes the monitoring capabilities that AWS / Elastic Beanstalk gives us (network in/out, CPU usage, ...); monitoring that CloudAMQP and Mandrill give us; and (mostly) our own monitoring in Grafana. Plus

[2018-03-19 14:34] seanh opened #544 "Improve our logging setup"
Logs are useful for example in diagnosing incidents while and after they're happening.

Our logging set up for our application servers isn't very good. It's just what Elastic Beanstalk provides by default - you can download the log files, but not in a very convenient format. I think we can just upgrade this to a better AWS logging service - [Amazon CloudWatch Logs](https://docs.aws.amazon.com/Amaz

[2018-03-19 14:37] seanh opened #545 "Improve our alerting setup"
Identify and make any useful improvements to our alerting set up. For example are we getting alerted when our error rate or response time rises? What about when our application server CPUs are pegged or their disks are full etc?

In the past we've only been alerted when requests to healthcheck endpoints start failing.

See also:

* [STORY: Alert on persistent high load](https://github.com/hypothes

[2018-03-19 14:39] seanh opened #546 "Hypothesis application performance review (New Relic)"
I think it'd be good to look through New Relic and get an idea of how well our application is currently performing, and whether there are any obvious performance bottlenecks or inefficiencies. Identify any issues and make github issues for them.

See also:

* [Spike to do an analysis of our traffic (requests and responses)](https://github.com/hypothesis/product-backlog/issues/537)
* [Spike to inve

[2018-03-19 14:44] dawachan commented on #489
Based on a review last week, I've made a few tweaks (attached) which are pending review.

![revised - restricted groups designs](https://user-images.githubusercontent.com/5212631/37597460-6e00954c-2b77-11e8-9399-62a8e7d7d12c.png)

[2018-03-19 16:07] ajpeddakotla commented on #540
TBD: talk about if this overlaps w/ metabase.

[2018-03-19 17:11] hmstepanek commented on #546
Obvious performance bottlenecks: python and using jinja to generate html files.-every single transaction has 75% of it's slowdown in python. Also reducing # of queries to db/es per transaction.

[2018-03-19 17:19] ajpeddakotla commented on #540
@seanh just talked about this in our commercial call. Since we use Metabase for our business metrics (annotations created (total, daily, monthly) and of the number of active users), and Metabase queries the database directly, I think we can eliminate the Business Metrics Grafana dashboard.

[2018-03-19 17:21] klemay commented on #1165
@tgbugs thank you for clarifying! Let me take one final attempt at this before calling in the rest of the team. Let me know if this is more accurate:

# Feature request: Ability to focus on an annotation without hiding other annotations in the sidebar
This is mainly a problem on pages/documents where there are many annotations.

## Scenario 1: Visit a web page or document with many annotations
###

[2018-03-19 17:48] klemay opened #547 "Update footer in app to match website"
### Problem you are trying to address with this feature
As discussed in [website backlog](https://trello.com/c/WrI8ApLc), the styling of activity pages is not consistent with the Hypothesis website. Nate has captured the main points in this screenshot:
![activity_page_footer](https://user-images.githubusercontent.com/12087705/37612290-d168b25e-2b72-11e8-9d0f-d5aa3a5b5af8.png)

**Please note that t

[2018-03-19 18:43] xolotl opened #548 "record meaningful data in last login date for external authority users"
### Steps to reproduce
1. Create an account tied to an external authority (eg, eLife via ORCID).
2. Note recorded value in user.last_login_date (should match account creation timestamp).
3. Log out and log back in to the same account.
4. Note user.last_login_date value doesn't change.

### Expected behaviour
Last log in date should reflect something useful/reasonable about the last time a user too

[2018-03-19 19:56] lyzadanger commented on #542
This can be done after https://github.com/hypothesis/h/pull/4892 is merged.

[2018-03-19 21:55] tgbugs commented on #1165
Yep, that's got it. Thanks!

[2018-03-19 22:29] tgbugs commented on #1165
Some additional clarifications.
1. My brain is expecting the highlighted annotation to show up in the middle of the side bar, not at the top, so that I can see the context in both directions.
2. In the event that there are multiple overlaid annotations, the client should probably pick the most specific (shortest?) one, or the one that starts the farthest down the page (I think those end up being a

[2018-03-20 01:42] hmstepanek opened #549 "Add organizations"
- [x] Create an organization table.
- [x] Add the organization model.
- [x] Create organization in group table.
- [x] Add a nullable organization id to the group model.
- [x] Allow logo=None in validate logo. <-This is a bug fix.
- [x] Allow svg to have xmlns in validate logo. <-This is a bug fix.
- [x] Create a default hypothesis organization similar to the `__world__` group only for organization

[2018-03-20 17:04] klemay opened #550 "Launch KB @ web.hypothes.is/ & add redirects from hypothesis.zendesk.com articles"
- [x] Get embeddable form in WP site [webhypothesis #16](https://github.com/hypothesis/webhypothesis/issues/16)
- [x] Launch new KB
- [x] Set up redirects in ZD Help Center [webhypothesis #15](https://github.com/hypothesis/webhypothesis/issues/15)

[2018-03-20 17:08] klemay opened #551 "Accessibility improvements for web.hypothes.is (from Nate's website backlog)"
- [x] Move Bookmarklet out of modal [webhypothesis #20](https://github.com/hypothesis/webhypothesis/issues/20)
- [x] Change font-weight on blog [webhypothesis #19](https://github.com/hypothesis/webhypothesis/issues/19)

[2018-03-21 11:54] seanh commented on #540
I've backed up and deleted the dashboard

[2018-03-21 11:54] #540 closed, assigned to nobody

[2018-03-21 11:54] seanh commented on #541
I've backed up and deleted the dashboard

[2018-03-21 11:54] #541 closed, assigned to seanh

[2018-03-21 15:30] dawachan opened #552 "Read-only Badge Responsivity"
### User Need ###
As a user I would like to have an indication that a group is 'read-only' across platforms and contexts.

### The Problem ###
In order to meet this user need, we need to have a badge that is responsive to group name char count and platform.

Due to limitations in real estate space in the header because of group name size and the platform users will view the H sidebar on, we need t

[2018-03-21 15:35] robertknight opened #553 "Provide a way to filter groups in the admin interface"
The groups browser at https://hypothes.is/admin/groups is becoming pretty useless because we now have a large number of groups and these are sorted (I believe) descending order of creation date. There is no convenient way to find a specific group in this list - eg. by name, associated domain, creator or authority.

I think the minimum useful thing would be a way to filter by name. Additional usefu

[2018-03-21 17:25] dawachan commented on #552
@lyzadanger pointed out that mid-string truncation via elipses can be implemented. It's definitely worth exploring although my preference would be to try and accommodate a group name up to 25 characters in the header and make adjustments to the UI - e.g. scaling back the badge and minimising visual clutter + hiding infrequently accessed tools before we truncate.

[2018-03-21 23:55] hmstepanek opened #554 "Add command for making an organization"
Enable creating an organization via bin\hypothesis

[2018-03-21 23:56] hmstepanek opened #555 "Add default organization"
This will be comparable to the __world__ group but for organization.

[2018-03-21 23:57] hmstepanek opened #556 "Migrate all groups to be under default organization"

[2018-03-21 23:58] hmstepanek opened #557 "Make organization_id un-nullable in group table"

[2018-03-21 23:58] hmstepanek opened #558 "Make organization_id un-nullable in group model"

[2018-03-22 16:31] lyzadanger commented on #539
Some thoughts here: https://gist.github.com/lyzadanger/69d908e9c516894bb2979ff397782f0c

[2018-03-23 14:41] klemay commented on #493
Another user request: https://hypothesis.zendesk.com/agent/tickets/2334

[2018-03-26 09:44] #488 closed, assigned to lyzadanger

[2018-03-26 15:40] ajpeddakotla opened #559 "GDPR - Implement encryption at-rest"
### Background
In order to meet GDPR requirements we need to determine which parts of the Hypothesis data cycle are unencrypted at rest, and work to encrypt those, in order to meet GDPR requirements.

### Issues that need to be addressed
1. Understand what data is current unecrypted at rest. Is it business critical?  Does it include personally identifiable information (PII)?
2. Implement systems t

[2018-03-26 15:46] jeremydean commented on #559
Just want to add that outside of GDPR, this is one of the basic questions asked on the security questionnaires I get from universities. For example:

https://docs.google.com/document/d/1Nivs37dph2X3vqefTfwWlOly9JZKbV5CwE1HRTAoTBM/edit?usp=sharing

[2018-03-26 15:51] ajpeddakotla opened #560 "GDPR - Ask users to opt-in to our privacy policy"
### Justification

In order to meet new GDPR requirements, we need to provide users with a link to the privacy policy on the sign up form and include a way to actively opt-in to our privacy policy.

**A/C**

- [ ] The revised sign up form contains an explicit opt-in to privacy policy checkbox - **unchecked by default**.
- [ ] The revised sign up form contains an explicit opt-in to product and rese

[2018-03-26 16:51] ajpeddakotla opened #561 "GDPR: Implement Consent for Minors under the age of 16"
### Background
GDPR provides the following requirements for Consent by Minors
Child Consent Requirements:
1. Child must be 16 to give consent
2. We must reasonable efforts to ensure relevant parental consent given, taking into account available technology.

### Issues to be addressed
- [ ] Implement a user flow that takes into account that students and/or minors are creating accounts w/ Hypothesis

[2018-03-26 17:12] segdeha opened #562 "Implement encryption-at-rest for Elasticsearch"
This is the [Epic](https://github.com/hypothesis/product-backlog/labels/Epic) card for implementing Elasticsearch encryption-at-rest. We should add a checklist here of all the sub-cards that this breaks down into, but for now they all have the [Upgrade Elasticsearch label](https://github.com/hypothesis/product-backlog/labels/Encrypt%20Elasticsearch).

Implement encryption-at-rest for our Elasticse

[2018-03-26 19:59] ajpeddakotla opened #563 "GDPR - Logging - Track and Document"
### Background
Per GDPR requirements, we need to document all the logging we do for our application.

### Issues to be addressed
- [ ] Analyze and document how we currently log information. (Needs to be completed as part of initial GDPR requirements).
- [ ] Future work: Reduce the surface area of our logging, particularly where it's not done to cover a vital business need (this will likely be a se

[2018-03-27 14:44] ajpeddakotla opened #564 "EPIC: GDPR Work"
### Background:
GDPR is a new set of European Union privacy laws that will be enforced in 60 days. ~~You can read more about the laws and requirements here: https://www.eugdpr.org/~~ (_See my comment below - robertknight_)

Hypothesis has undergone an external evaluation to determine the work that we as an organization need to do to meet GDPR requirements. This epic card tracks the seperate pieces

[2018-03-28 10:11] robertknight opened #565 "Provide a streamlined way for authority owners to make requests on behalf of a user"
A publisher using third-party authorities will often want to make API requests on behalf of one of their users, for use cases such as:

1. Fetching information about a user and their annotations in order to display a profile page
2. Mediating communication between h and the end-user through a third-party proxy:
[code]

They can currently do this as follows:

1. Generate a grant token following the

[2018-03-28 14:24] klemay opened #566 "Export annotations"
### Problem:

Users frequenlty request the ability to export annotations from the UI. @judell's utility at http://jonudell.net/h/facet.html allows for this, but it's not an official part of the product. I'm creating this issue because [#394 in the h repository](https://github.com/hypothesis/h/issues/394) was closed and I can't find an open issue here.

### User requests
<em>(note: this contains re

[2018-03-28 14:28] lyzadanger commented on #566
I'd like to voice my strong support for this feature. I think it is very important.

[2018-03-28 14:44] segdeha commented on #566
Owning your data (i.e. being able to export and delete your data) is a central tenet of GDPR. It's not on the short list for May 25 because we technically have a way (via the API) for users to export their data, but we do need to build a feature that makes it simple for non-developers.

[2018-03-28 14:50] klemay commented on #493
Another user request: https://hypothesis.zendesk.com/agent/tickets/2345

[2018-03-28 17:54] #553 closed, assigned to nobody

[2018-03-29 14:34] klemay commented on #391
request for sharing annotation to multiple groups: https://hypothesis.zendesk.com/agent/tickets/2343

[2018-03-29 14:54] lyzadanger opened #567 "Refactor Resources-vs.-Services for Resource Link Generation"
Unfortunately, this unglamorous set of tasks needs to be completed to support https://github.com/hypothesis/product-backlog/issues/539

We've run into the end of our ability to (reasonably) provide URLs/links for resources-treated-as-models returned by the API. The straw that broke the camel's back was the need to (sometimes, at least, when expanded) provide a URL for a group's organization's logo

[2018-03-29 15:38] #531 closed, assigned to nobody

[2018-03-29 15:42] #520 closed, assigned to hmstepanek

[2018-03-29 15:42] #519 closed, assigned to hmstepanek

[2018-03-29 15:42] #518 closed, assigned to hmstepanek

[2018-03-29 15:43] #507 closed, assigned to sheetaluk

[2018-03-29 17:08] klemay commented on #551
Solution proposed and approved for [webhypothesis #20](https://github.com/hypothesis/webhypothesis/issues/20)

[2018-03-29 19:38] klemay commented on #493
Another user request: https://hypothesis.zendesk.com/agent/tickets/2357

[2018-03-29 19:41] klemay commented on #493
Also linking relevant issue from client repository: https://github.com/hypothesis/client/issues/142

[2018-03-29 21:22] klemay commented on #235
[From Zendesk](https://hypothesis.zendesk.com/agent/tickets/2336):

[2018-03-29 21:23] klemay commented on #232
[From Zendesk](https://hypothesis.zendesk.com/agent/tickets/2336):

[2018-03-30 06:43] robertknight commented on #554
I've started work on CRUD views for managing organizations in https://github.com/hypothesis/h/pull/4928. We may decide that we don't need a CLI command any more.

See also https://github.com/hypothesis/product-backlog/issues/522

[2018-03-30 14:48] #555 closed, assigned to nobody

[2018-03-30 15:03] seanh opened #568 "Private group create form should create groups in the default organization (invisible to user)"

[2018-03-30 15:30] hmstepanek commented on #554
Ok. I already have the code implemented in a branch I just didn’t turn it into a or yet.

[2018-03-30 17:35] seanh opened #569 "CLIs for creating groups should support organization (or just delete the CLI!)"

[2018-03-30 17:36] seanh opened #570 "Admin group create form should create groups in the default organization (for now)"

[2018-04-02 20:50] lyzadanger opened #571 "Update Component(s) to Display Groups by Organization"
This is needed as part of https://github.com/hypothesis/product-backlog/issues/502

The `groups` API endpoint is now capable of returning some metadata about a group's organization (note: as of time of writing, `logo` is not being returned yet, but it will be imminently). However, this data is still a flat list of groups.

Some work needs to be done in the `list-groups` component (at least; possib

[2018-04-03 13:05] ajpeddakotla commented on #510
Closing as this has been completed.

[2018-04-03 13:05] #510 closed, assigned to dawachan, hmstepanek

[2018-04-03 13:05] ajpeddakotla commented on #525
Closing as this has been completed.

[2018-04-03 13:05] #525 closed, assigned to sheetaluk

[2018-04-03 13:18] #522 closed, assigned to robertknight

[2018-04-03 13:19] #569 closed, assigned to seanh

[2018-04-03 13:19] #570 closed, assigned to seanh

[2018-04-03 13:19] #568 closed, assigned to seanh

[2018-04-03 13:20] lyzadanger commented on #554
As of https://github.com/hypothesis/h/pull/4928 we have CRUD in the browser, so I'm going to close this for now (I don't think there is an immediate need for a CLI command).

[2018-04-03 13:20] #554 closed, assigned to hmstepanek

[2018-04-03 13:20] lyzadanger commented on #569
Fixed by https://github.com/hypothesis/h/pull/4937

[2018-04-03 15:19] ajpeddakotla commented on #467
Note - add documentation for devs/external users on the Python 3 requirement.

[2018-04-03 18:03] klemay commented on #166
User request: https://hypothesis.zendesk.com/agent/tickets/2360

[2018-04-03 18:13] klemay commented on #166
After looking through open issues I see that this related one has been created as a first step: https://github.com/hypothesis/product-backlog/issues/185

[2018-04-03 20:40] lyzadanger opened #572 "Group Groups by Organization, Show Icons in Client Group Control"
This sprint-objective task is a large part of https://github.com/hypothesis/product-backlog/issues/502

The goal is to implement the "interim design" updates to the group control in the client:

![image](https://user-images.githubusercontent.com/439947/38274192-fd8e17f8-375b-11e8-9748-038c0a3fbc73.png)

Analyzing this:

![image](https://user-images.githubusercontent.com/439947/38274350-8bdd7d8c-37

[2018-04-03 20:46] lyzadanger opened #573 "Deprecating the Public, Private Group Icons (?)"
When putting together acceptance criteria for https://github.com/hypothesis/product-backlog/issues/572 it occurred to me that the mockup provided—for the groups control—implies the retirement of the public ("world") and private ("people") group icons.

I was wondering if that retirement stretches further than the group-select control, as those icons show up in other places in the client applicatio

[2018-04-04 03:06] ajpeddakotla commented on #1135
Update: After discussing this w/ the engineering team, the next best option for us to get some thinking done on this is to create a build of the extension that has Rob's test PR in it. We can then use that to test out if the PR actually address this issue. This test build will be created in a future sprint.

[2018-04-04 11:01] dawachan commented on #560
Quick question about the Twitter solution outlined above. When I spoke with @segdeha, I understood that an implicit opt-in, e.g. 'by clicking sign up you're opting in' wouldn't be enough for GDPR and that we require users to take an explicit opt-in action. e.g a checkbox. I noticed in the text above it says: "We also need users to actively opt-in to our terms of service/privacy policy." I'll add a

[2018-04-04 13:43] dawachan commented on #560
![current sign up form](https://user-images.githubusercontent.com/5212631/38311028-fc4c40bc-3815-11e8-94e4-568c35ea22f9.png)

[2018-04-04 14:25] #567 closed, assigned to lyzadanger

[2018-04-04 14:33] dawachan commented on #560
**Proposed Revised Design**

_Consent fields above CTA_

![revised sign up form](https://user-images.githubusercontent.com/5212631/38313602-565439f6-381c-11e8-9c07-dcc1fc5c7dbb.png)

_Consent fields below CTA_

![sign up with acceptance underneath copy](https://user-images.githubusercontent.com/5212631/38368506-63bc6f5c-38dd-11e8-90b6-6504ce5970b7.png)

**Note:**

Working language for explicit opt

[2018-04-04 14:37] dawachan commented on #560
note: Proposed form will have to change, as I'm going to have to solve age content and weave this to the sign up form/flow: https://github.com/hypothesis/product-backlog/issues/561.

If we can at least agree on the explicit consent box copy/positioning and 'By signing up.. copy' that would be great - need final copy/legalese to use.

[2018-04-04 15:33] klemay commented on #236
Request for removing group members: https://hypothesis.zendesk.com/agent/tickets/2379

[2018-04-04 15:34] klemay commented on #232
Another request: https://hypothesis.zendesk.com/agent/tickets/2379

[2018-04-04 17:03] segdeha commented on #560
To confirm, yes, we need users to take an explicit action to opt-in to our PP and ToS. A checkbox like the one @dawariley proposes fits that purpose.

[2018-04-05 13:04] dawachan commented on #561
**Age consent approval flows.**

![age consent flows](https://user-images.githubusercontent.com/5212631/38371184-bbfe9158-38e3-11e8-9bfb-7994a8016b4b.png)

_Note:_
I had a hard time finding sites that require explicit parental consent, most if you are below the age of consent serve up an ugly message that registration couldn't be completed.

The Khan Academy sends an email with a CTA included that

[2018-04-05 13:31] segdeha commented on #561
Kind of shocking how Facebook and Google treat this flow. In Facebook's case they just give a generic error message. In Google's case they say you must meet "certain age requirements". Why not list them on the page? Or point to a help article that walks the user through the requirements for their location if they vary the age limit by region? Weird to me that their flows are so broken.

[2018-04-05 14:19] dawachan commented on #561
**Proposal: Sign up form to incorporate age verification form fields**

Note: this form will supplant the updated sign up form containing opt-in/opt-out fields referenced in: #560

_Form with age verification fields:_

![sign up with age consent fields 1](https://user-images.githubusercontent.com/5212631/38371488-7284afca-38e4-11e8-9731-09a569b4ff8b.png)

_Response when under 16 years old:_

![sig

[2018-04-05 14:29] dawachan commented on #561
@segdeha "Kind of shocking how Facebook and Google treat this flow." I agree! With the new regulations they will probably need to step it up.

[2018-04-05 15:08] ajpeddakotla opened #574 "WEBSITE GDPR : Implement Cookies Affirmative Consent Dialogue Box"
### Background
In order to meet new GDPR regulations and increase transparency with our users with regards to data storage the proposal, a visible cookie banner will be displayed on the home page of http://web.hypothes.is.

Final design and copy is TBD, below is a proposal featuring explicit acceptance i.e. 'I ACCEPT' button.

![100 width - grey i accept](https://user-images.githubusercontent.com/

[2018-04-05 16:22] segdeha commented on #561
Please revise these based on the feedback on #560 to match what we decided over there. Thank you!

I think this all makes sense and I just want to say I'm in favor of rearranging the order of the form fields so the age selects are next to the email address field. As the user enters their age, they will be focused on that part of the page and so will be less likely to miss that the email field chan

[2018-04-05 16:24] klemay commented on #551
Submitted PR for font-weight: https://github.com/hypothesis/webhypothesis/pull/21

Update: Nate feels changing `font-weight` would mean a significant redesign, so this PR is closed and this web backlog item is on hold.

[2018-04-05 21:59] rallos commented on #561
I spoke with Andrew this afternoon and let's put a hold on the Consent Module for Age until Friday.  After examining the regulation and Twitter's Privacy Policy/Terms of Service, it looks like they are using a "Binding Contract" as a legal means to collect information, rather than a Consent Module.

[2018-04-05 22:01] rallos commented on #560
I spoke with Andrew this afternoon and I will be researching ways Twitter is using a binding contract rather than a Consent means to gather information.  Let me have until Friday afternoon to get you some information.  But this research shouldn't change what you have created thus far.

[2018-04-06 00:21] rallos commented on #560
I did some research on the Opt-In consent under GDPR for marketing by electronic mail.  It looks like we can avoid this by using an exception in the rule that allows us to market to them as long as we (1) attain their email during sign up, (2) provide our own products/services in the marketing, and (3) allow for opt-out (unsubscribe) in our email marketing.  Thus, it's recommended to remove the se

[2018-04-06 08:00] robertknight commented on #489
I think the implementation work here breaks down roughly as follows:

- [ ] In the API, communicate to the client whether the user can post to a given group. Note that we cannot just use `group.type === "restricted"` because that is a property of the group, whereas ability to post depends on the user's permissions within the group
- [ ] Monitor the read-only state of the focused group in the sideb

[2018-04-06 09:46] dawachan commented on #560
hi reem, thanks for the update! it will definitely make the process simpler for users if there is only one checkbox for opt-in. my only concern is that we might need to track opt-in for comms separately because I believe we're intending to allow users the option to opt out or unsubscribe from comms in any emails we send out. only having one field for GDPR might make this tricky.. that said, we cou

[2018-04-06 09:46] robertknight opened #575 "Switch client to a read-only state when user cannot post to current group"
_This is a cleaned up version of https://github.com/hypothesis/product-backlog/issues/489 reflecting the outcome of design feedback and developer elaboration._

If the user selects a restricted group which they are not a member of, the client should prevent them from creating annotations and indicate that the current group is read-only.

## Acceptance criteria

As a user, when I visit a page and s

[2018-04-06 09:48] robertknight commented on #489
As per @seanh's suggestion, I have created a new issue at https://github.com/hypothesis/product-backlog/issues/575 which summarises the outcome of design feedback and developer elaboration above, which we can then start actively working on.

[2018-04-06 09:48] #489 closed, assigned to robertknight

[2018-04-06 10:17] dawachan commented on #561
@segdeha yes to guerrilla testing, perhaps @jeremydean might have some students (< 16) and parents we can test the flow with? i'll ping him! i'm wondering if we can just ask the simple question: are you under 16 () yes () no. that way, it's super simple to complete sign up and we're not creating a barrier to entry for our users. the rationale behind asking explicitly for month/day/year was that ev

[2018-04-06 10:28] segdeha commented on #560
@xolotl It sounds like an affirmative opt-in for update emails may not be strictly necessary from a GDPR standpoint, but is it something that we need to do to be in good standing with our email provider?

[2018-04-06 11:25] seanh commented on #556
Done

[2018-04-06 11:25] #556 closed, assigned to seanh

[2018-04-06 11:25] seanh commented on #558
Done

[2018-04-06 11:25] #558 closed, assigned to seanh

[2018-04-06 11:25] seanh commented on #557
Done

[2018-04-06 11:25] #557 closed, assigned to seanh

[2018-04-06 14:48] jccr opened #576 "Configurable sidebar UI placement"
This is a feature request proposing a new optional feature that would allow the client's sidebar user interface to be displayed in a chosen container element within the host page.
In combination with the existing theming capability, this could be used to achieve a seamless integration with the UI of the host page.

## Context

The Hypothesis client's main user interface consists of a sidebar that

[2018-04-06 17:39] klemay commented on #241
User request: https://hypothesis.zendesk.com/agent/tickets/2383

[2018-04-06 18:02] dwhly commented on #241
I'm not sure if others see it this way, but this could mean "Take all my annotations in this group and copy them into a new group and give me that new group ID".  A teacher might do that after they've created all the base annotations for a class, but before any students have contributed?  (i.e. preserve it like this for the next semester or additional class sections)   Feels a bit like a premium t

[2018-04-06 18:15] jeremydean commented on #241
I don't think a user would ever say "give me that new group ID."

The starter here is simply being able to move a selection of my annotations from one group I've created to another group I've created, I think.

I could see the ability to excise any replies to my previous annotations as a premium feature. But people should be able to generally move annotations from group to group in bulk.

[2018-04-06 18:16] klemay commented on #241
In this case, the teacher wants to highlight vocabulary words in a text and provide context/definitions. He would tag those annotations with, say, #vocab. Then, when he teaches next semester, he might create a group for his new class and say "bring in all my annotations tagged #vocab from last semester".

[2018-04-06 18:48] rallos commented on #561
I did some research on the "consent" vs. "contract performance" legal basis of processing personal data.  Consent tends to be more burdensome because it has to be specific, unambiguous, and freely given, informed, and allows for withdrawal of consent, and it has to be tracked.  Whereas "contract performance" tends to be straightforward because "by using the Service, you agree to form a binding con

[2018-04-06 19:25] segdeha commented on #561
Thanks, @rallos, for your analysis!

I’d still like us to implement an opt-in checkbox with this new language that blocks the user from creating an account if they do not check it. So, the main thing this advice would give us is a way around capturing users’ ages.

[2018-04-08 01:41] #494 closed, assigned to sheetaluk

[2018-04-09 11:27] dawachan commented on #560
I've revised the form as per feedback in the product sync, left both checkboxes in for now, pending further input and final copy.

![sign up - revised language](https://user-images.githubusercontent.com/5212631/38495366-3ba0c754-3bf1-11e8-881b-c81e25688c3f.png)

[2018-04-09 11:39] dawachan commented on #561
Users will be blocked from creating an account if they don't agree to the privacy policy - I've added a line for the 'contract' based approach for age requirements and kept both checkbox opt-ins. Note: all copy is placeholder.

**_Removed explicit DOB fields, added language re: age requirements above sign up button_**
![sign up with age consent fields - contract based](https://user-images.githubus

[2018-04-09 14:01] robertknight commented on #565
It turns out that `PROXY_AUTH` currently does not currently work for API requests.

When this option is enabled, the service respects the `X-Forwarded-User` header for non-API requests. However due to the current logic in `h.auth.policy.AuthenticationPolicy` which switches the auth method depending on the request, this is ignored for API requests.

This quickly put together patch resolves the issu

[2018-04-09 14:16] rallos commented on #561
Just to be clear, if we adopt the "contract" method then we DO NOT need to capture age for any purpose.  I believe the PM agreed we would adopt the contract method, and thus AGE capture requirements can be removed from the UI and backend.

[2018-04-09 15:21] dawachan opened #577 "SIDEBAR GDPR - Cookies/affirmative consent dialog box - hypothes.is"
Requirements to be defined. Creating this issue as a placeholder.

[2018-04-09 16:22] judell commented on #565
Do we know what the original use case was for https://github.com/hypothesis/h/pull/3638, and who may currently be using it?

[2018-04-09 20:19] ajpeddakotla opened #578 "Group creator does not get added to group member list in activity page view (restricted groups)"
### Problem:

When creating a new group, I added a group creator and three other group members to the restricted group.
I then went the activity page expecting the see 4 members for the group. I only saw three:
<img width="234" alt="screen shot 2018-04-09 at 3 08 53 pm" src="https://user-images.githubusercontent.com/7463523/38520639-ecf2ad94-3c08-11e8-91ac-8e38edbdff8d.png">

I then went back and

[2018-04-10 13:58] #539 closed, assigned to nobody

[2018-04-10 15:38] ajpeddakotla opened #579 "Restricted group is not appearing on a publisher site's path, when scoped to origin"
### Problem/steps to reproduce:

1. I created a restricted group here: https://hypothes.is/admin/groups/adrYe36E, and scoped it to http://murmurations-journal.org
2. Murumurations (the journal) wants the group to show up here: http://murmurations-journal.org/index.php/murmurations/$$$call$$$/api/file/file-api/download-file?fileId=64&revision=1&submissionId=19&stageId=3

The group shows up on the m

[2018-04-10 15:50] robertknight commented on #579
It looks like this is a problem with our logic for extracting document URIs from PDFs.

1. The groups service calls `store.searchUris()` to get the list of URLs for the main frame and then uses the first `http:` or `https:` URL to fetch groups.
2. The `searchUris` function looks at the `metadata.links` property of each frame.
3. In the dump of app state below taken from [this article link](http://

[2018-04-10 15:53] robertknight commented on #579
When the journal generates the URL for the PDF viewer's iframe, they generate a relative URL for the `file` query string parameter. Until we get this fixed, they could work around the issue by passing an absolute URL.

http://murmurations-journal.org/plugins/generic/docCentricWorkflow/pdf.js/viewer/web/viewer.html?file=%2Findex.php%2Fmurmurations%2F%24%24%24call%24%24%24%2Fapi%2Ffile%2Ffile-api%2F

[2018-04-10 16:42] ajpeddakotla commented on #561
Ok - based on the feedback on this card I'm going to close this card. We are going to take care of the opt-in checkbox (with this new language that blocks the user from creating an account if they do not check it), in this card: #560.

[2018-04-10 16:43] #561 closed, assigned to dawachan

[2018-04-10 16:46] ajpeddakotla commented on #560
Need to ensure that we:
1. Change the language in our policy as directed here: https://github.com/hypothesis/product-backlog/issues/561#issuecomment-379343664 by @rallos, so that we don't have to ask for explicit consent from minors.
2. That the opt-in checkbox blocks the user from creating the account if they do not check it.

[2018-04-10 16:48] ajpeddakotla commented on #564
Updated this to reflect that we no longer need to:
- Implement Consent for Minors under the age of 16: #561
because we will be changing the language in our policy instead. See comment from @rallos that addresses this here: https://github.com/hypothesis/product-backlog/issues/561#issuecomment-379343664

[2018-04-10 20:54] hmstepanek opened #580 "Communicate read only state from api to client for groups"
In the API, communicate to the client whether the user can post to a given group. Note that we cannot just use group.type === "restricted" because that is a property of the group, whereas ability to post depends on the user's permissions within the group.
This is related to https://github.com/hypothesis/product-backlog/issues/575.

[2018-04-10 22:20] hmstepanek commented on #580
So here's what I'm thinking...We can add in to the api response (possibly in h/resources in the GroupResource) a property called readonly. This property will be computed based on the user.
[code]
Then in the get request, request expand=['readonly']. This would mean that now each group in the list has a readonly property within the context of the user who is logged in.

[2018-04-11 11:17] robertknight commented on #580
This looks like a reasonable approach to me. This does raise an issue about what the client presents for unauthenticated users. Currently it shows the "Annotations" button and clicking it creates a new annotation but tells the user that they will need to login to start editing it.

I think the only logical behaviour for the API is to indicate that a group is read-only if the user is unauthenticate

[2018-04-11 11:31] seanh commented on #578
Public release? (This page is intended for internal use only, and is already live on production for internal use.)

To clarify: only Hypothesis admins can create open and restricted groups, not general users. So:

[2018-04-11 11:34] seanh commented on #578
One thing we should watch out for by the way - if the creator is automatically added as a member, then what if the user _does_ enter the creator twice in the form? Once as the creator and once as a member. Make sure the code doesn't add the user to the member list twice or crash.

[2018-04-11 11:35] seanh commented on #578
Might also be interesting to consider whether this admin form should allow the creator to be _removed_ from the member list, when editing an open or restricted group?

[2018-04-11 13:46] seanh commented on #580
I think we need to hold off briefly on writing any code for this.

Authorization in h is handled in a centralized way in a different part of the code, and I'm not sure we want to start making authorization decisions in these `*Resource` classes. See [the security chapter in the Pyramid docs](https://docs.pylonsproject.org/projects/pyramid//en/latest/narr/security.html), [the `h.auth` package](http

[2018-04-11 13:56] robertknight commented on #580
Yes, that's a good point. I completely forgot about that this morning. One other note I'll add to seanh's comments is that `h.models.Group.__acl__` already defines which principals can perform which actions on a group.

[2018-04-11 14:06] robertknight commented on #564
I note that this site is run and paid for by [Trunomi](http://www.trunomi.com), who sell "customer consent and data rights management technology".

A hopefully more neutral resource is the UK's Information Commissioner's Office: https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/

[2018-04-11 14:54] robertknight commented on #564
From what I understand of what I've read so far about GDPR, we'll need to clearly document some aspects of how we comply (eg. which lawful basis we use for processing any data). Is there an existing issue that covers updates to the privacy policy? That should be added above.

[2018-04-11 16:33] robertknight commented on #574
The original article which the Cookies-GDPR.pdf article is a printout of: https://www.itgovernance.eu/blog/en/how-the-gdpr-affects-cookie-policies/

[2018-04-11 20:28] klemay commented on #290
It would be great to know the username of the person who flagged the annotation, and/or to have a text field where a person can indicate _why_ they are flagging an annotation.

As the person managing the `hypmod` account, I get lots of notifications for annotations that seem innocuous, and some for annotations made on local files or on pages I can't access.

[2018-04-12 12:37] dawachan commented on #560
I'm updating the description for this card with what the latest specs. Previous background description from @ajpeddakotla below:

### Background
Per GDPR requirements, we need to provide users the link to the privacy policy at the time when they create an account. We also need users to actively opt-in to our terms of service/privacy policy.

### Issues that need to be addressed:
- [ ] Design what

[2018-04-12 12:57] dawachan commented on #577
Closing the web based cookie consent issue. A need was identified to prioritise cookies acceptance for Hypothesis sidebar usage #574

[2018-04-12 12:57] #577 closed, assigned to dawachan, ajpeddakotla

[2018-04-12 13:11] dawachan opened #581 "Error messages overlap on Sign up form"
When multiple errors are detected in the sign up form, they are displayed on top of each other making it impossible to read them.

**Steps to reproduce:**

1. Go to: https://hypothes.is/signup
2. Enter a really short username e.g 'd'
3. You will get 2 errors: "Must be 3 characters or more" and "This username is already taken."
4. They are displayed on top of each other.

**Suggested fix:**

Concat

[2018-04-12 14:58] lyzadanger opened #582 "Expanded API response for group-organizations should indicate default org"
An additional property should be added to the `organization` sub-resources on groups in expanded `groups` API responses: a Boolean denoting whether a given organization is the default organization for the given authority.

A property on the `OrganizationResource` (or whatever it gets renamed soon during @seanh 's refactor) could be an approach for part of this.

[2018-04-12 15:01] robertknight opened #583 "Hidden annotation with no replies is appearing in client"
From @gmaciocci at eLife:

This is how it currently appears:
![image](https://user-images.githubusercontent.com/502186/39762840-ad8b3d12-52a9-11e8-885a-0ec8e14dbb14.png)

Instead, the annotation should completely disappear from view.

[2018-04-12 17:23] #521 closed, assigned to robertknight

[2018-04-12 19:31] dawachan commented on #573
I synced with @robertknight on this today and although group type icons are being retired from the group control since the core distinction we are making to users at a high level is around organisation and not group type. However, as you noted - we do use group type icons in other places such as against individual annotation cards both in the sidebar and activity pages. Let's leave them 'as-is' fo

[2018-04-12 19:59] lyzadanger commented on #573
Thanks, @dawariley for a very clear answer—very helpful!

I'm going to close this issue for now as there is nothing to be done at this time.

[2018-04-12 19:59] #573 closed, assigned to nobody

[2018-04-12 20:17] klemay commented on #550
Completed! See https://web.hypothes.is/help/

[2018-04-12 20:17] #550 closed, assigned to nobody

[2018-04-13 08:49] dawachan opened #584 "DESIGN SPIKE: UX for Unauthenticated Users"
### Background

The current UX for unauthenticated users is poor. Several issues exist which need to be tackled.

This card will consider these issues and suggest an improved UX.

[2018-04-13 09:29] #579 closed, assigned to nobody

[2018-04-13 10:31] robertknight commented on #492
This now shipped.

[2018-04-13 10:31] #492 closed, assigned to hmstepanek

[2018-04-13 10:31] robertknight commented on #571
This is now shipped.

[2018-04-13 10:31] #571 closed, assigned to lyzadanger

[2018-04-13 11:53] lyzadanger commented on #572
Completed via https://github.com/hypothesis/client/pull/718

[2018-04-13 11:53] #572 closed, assigned to nobody

[2018-04-13 12:25] lyzadanger commented on #549
Done! Woot!

[2018-04-13 12:25] #549 closed, assigned to nobody

[2018-04-13 13:43] dawachan commented on #574
I've audited several sites/apps re: their cookie policies to capture how they message cookie acceptance to their users. All were by 'contract' not explicit consent, apart from the 'snake oil' businesses that specialise in selling 3rd party cookie cutter (literally) solutions and consultancy services. https://docs.google.com/document/d/1DeVK3F3MvrsN-lC8zq_eyUPstOpHiWGhJa9iGrUKyPY/edit?usp=drive_web

[2018-04-13 15:21] dwhly commented on #574
I'll just say that if there is any way we can avoid having to force people to dismiss notices about cookies, that would be a gift indeed.  The notion that people who actively manage their privacy can't ever dismiss the notice because the mechanism for registering whether it's been dismissed uses the very technology that they have elected to prevent is one of god's abominations.

[2018-04-13 16:28] klemay commented on #324
Comment in Chrome store:

[2018-04-13 16:40] klemay commented on #566
we have a request in the Chrome web store to export annotations _in context_, i.e., along with the source text. This could technically be done with screenshots, but worth logging as a feature request (and a use case not covered by Jon's utility).

[2018-04-13 17:01] dawachan commented on #574
Design proposals for contractual and explicit cookie consent below. Will update the description when we reach consensus.

**Contractual Consent** - n.b. suggested text is placeholder

_100% - white_
![100 width - white](https://user-images.githubusercontent.com/5212631/38747865-31eddfde-3f44-11e8-910a-09608d848503.png)

_100% - grey_
![100 width - light grey](https://user-images.githubusercontent.

[2018-04-15 17:07] rallos commented on #564
The lawful basis for which you process any data is "Necessary for the
Performance of a Contract"

On Wed, Apr 11, 2018 at 7:55 AM, Robert Knight <notifications@github.com>
wrote:

[2018-04-16 02:57] ajpeddakotla opened #585 "EPIC: Investigate how best to deal with badge traffic issues"
### Background:
- The badge as currently implemented generates tremendous inbound traffic to H infrastructure. This traffic increases with each additional browser that has our extension installed. For every page they visit, at least one inquiry is made— regardless of whether that inquiry will generate a zero result (which the overwhelming majority do), or whether the person is even paying attentio

[2018-04-16 02:57] ajpeddakotla commented on #585
More info here: https://docs.google.com/document/d/1TqNduRkkjfIVK98QKrWGpJW3eWmPx2ns4XSrHJfBSdE/edit

[2018-04-16 09:54] dawachan opened #586 "DESIGN SPIKE: Improving the discoverability of the H client."
### Background

It isn't always obvious to users that H exists on a page and the discoverability of the sidebar and affordance to annotate is a known issue. This is evidenced in the feedback received from users and platform hosts.

This spike addresses these concerns and proposes suggestions for how this can be improved.

**Recent Feedback via support:**

#1: biOverlay

We include hypothes.is by d

[2018-04-16 14:55] lyzadanger opened #587 "list_groups service: evaluate eager-loading SQLA relations"
(Performance-related)

As I understand it, by default, SQLA will lazy-load model relations when you reference them. That's less optimal if you have a list of models and end up accessing relations on each of them—that's what we're doing when we built `GroupResource` objects; each `Group` has an expanded `organization` on it.

Perhaps change the query/ies in this service to eager-load objects by def

[2018-04-16 15:42] robertknight commented on #559
Assigned to me for elaboration/refinement.

[2018-04-16 15:42] robertknight commented on #563
Assigned to me for elaboration/refinement.

[2018-04-16 19:03] #582 closed, assigned to lyzadanger

[2018-04-16 23:36] judell commented on #185
This issue might have been closed when we merged and deployed https://github.com/hypothesis/bouncer/pull/43.

Since it wasn't, I will amend it here with a proposal to omit the following tags we include in the boilerplate:

[code]

These Hypothesis logos are intrusive, convey no useful information, and ignore guidelines like this one from https://developer.twitter.com/en/docs/tweets/optimize-with-c

[2018-04-17 13:55] #542 closed, assigned to sheetaluk

[2018-04-17 15:36] hmstepanek commented on #535
Just my first impression is that it appears that some code is not picking up the title correctly when the annotation was created. Sounds like Sean has indicated something similar in #127 . The activity pages simply display whatever is returned from the es query so I'm inclined to think the problem originates from the query results, which then means that we have to answer the question how it got in

[2018-04-17 17:32] hmstepanek opened #588 "Spike: Research how to switch over from ES 1.5 to ES > 5.1"
Research how to switch over es version with little to no downtime.

[2018-04-17 17:32] hmstepanek commented on #588
Possibly using a read only feature flag during switch

[2018-04-17 18:11] hmstepanek commented on #588
You can store snapshots of individual indices or an entire cluster in a remote repository like a shared file system, S3, or HDFS. These snapshots are great for backups because they can be restored relatively quickly. However, snapshots can only be restored to versions of Elasticsearch that can read the indices:

A snapshot of an index created in 2.x can be restored to 5.x.
A snapshot of an index c

[2018-04-17 18:23] hmstepanek commented on #588
2 seems like what we want to do but this, as I understand it, requires having 2 es clusters running at once.

[2018-04-17 18:33] #486 closed, assigned to sheetaluk

[2018-04-18 14:57] ajpeddakotla opened #589 "Change private to restricted group for QDR"
### Use case:
QDR has been annotating in a private group, and now that restricted groups are available, they would like to show those annotations to the public, and switch their private group to a restricted group. This work is part of our partnership with QDR.

### Details:
Group Name: (_edit: See discussion below: https://github.com/hypothesis/product-backlog/issues/589#issuecomment-383101407_)

[2018-04-18 19:16] hmstepanek commented on #588
We are already using index aliasing to point to the old node while the new one is updating, so we will just use the same aliasing in the new cluster as the old one with same indexes etc.
https://www.elastic.co/guide/en/elasticsearch/guide/current/index-aliases.html

The docs say it is faster to reindex than to pull from a db so we may find that we want to do that instead as it could take days to c

[2018-04-18 22:28] ajpeddakotla commented on #535
This is really helpful. Thanks @hmstepanek!
Question though: This is likely to impact other annotations/sites as well - do we have any idea of how big of a problem this might be?

[2018-04-19 00:34] hmstepanek commented on #535
I can’t say without taking a closer look and root causing what the problem is exactly.

[2018-04-19 02:47] xolotl commented on #551
[Website team agrees on 17 Apr 2018](https://docs.google.com/document/d/1S-MBbjqAWrnlcZtt4yIhL0S6u4UrbB0vhAIwJw7WWkM/edit#heading=h.s8k5wfaqwoef) that @klemay will spend a short time (eg, 1hr) investigating and possibly proposing easy changes to address this issue.

[2018-04-20 03:39] hmstepanek commented on #588
Breaking Changes that will Affect H:
Elasticsearch Reference: 6.2 (current)
Elasticsearch Reference: 6.1
Elasticsearch Reference: 6.0
Elasticsearch Reference: 5.6
Elasticsearch Reference: 5.5
Elasticsearch Reference: 5.4
Elasticsearch Reference: 5.3
Elasticsearch Reference: 5.2
Elasticsearch Reference: 5.1
Elasticsearch Reference: 5.0
Elasticsearch Reference: 2.4
Elasticsearch Reference: 2.3
Elast

[2018-04-20 07:23] dawachan commented on #547
Good catch @xolotl and @klemay. Yes definitely important to bring the activity page footer into alignment. Once you've done the changes before going live.. am happy to review if need be - just @mention me! cheers

[2018-04-20 07:48] robertknight commented on #216
Implemented in https://github.com/hypothesis/client/pull/687

[2018-04-20 07:48] #216 closed

[2018-04-20 07:50] robertknight commented on #226
This is mostly covered by https://github.com/hypothesis/client/pull/687. We decided to keep the current approach but finish rolling it out to the rest of the code.

We haven't yet implemented any kind of wrapper around data from the API, which is something we could still consider.

I'm going to close this though since we have addressed the main issue here.

[2018-04-20 07:50] #226 closed

[2018-04-20 07:53] robertknight commented on #379
I've just checked the remaining items here and all of this has been done.

[2018-04-20 07:53] #379 closed, assigned to nobody

[2018-04-20 08:07] segdeha commented on #588
@hmstepanek Will the migration require spinning up additional instances compared to what we currently use? I.e. we should be aware of whether we need to make another request to increase any limits imposed by AWS on the number of instances in advance. Thanks!

[2018-04-20 08:11] robertknight commented on #225
In [the ADR](https://github.com/hypothesis/client/pull/687) which describes the current goal state for the client application, I included some historical footnotes about the rationale for adopting a state container in the first place which I believe covers this.

[2018-04-20 08:11] #225 closed

[2018-04-20 08:58] dawachan opened #590 "WEBSITE GDPR: Adding Contractual Consent to Login Form"
### Background

This card is closely related to: #560 adding explicit opt-ins for privacy policy and to being contacted. The proposal is to add contractual language e.g "By logging in you agree to our privacy policy, terms of service and community guidelines" with links to the respective policies to the **Login form**.

_Current login form below:_

![screen shot 2018-04-20 at 08 37 57](https://use

[2018-04-20 09:52] dawachan commented on #574
_**ARCHIVE of earlier description. Please follow current description for this card above.**_

### Background
We need to enable a cookie dialogue box if you we have cookies enabled on the website (before the end user sign-in or register) that capture information about the users used for analytics, advertising, surveys and chat tools.

### Items to be addressed:
- [ ] Identify if we have 1st and/or

[2018-04-20 09:58] robertknight commented on #590
I personally don't think it makes sense to a marketing opt-in to the login form itself, because they are only really relevant once for each user after we make changes to the privacy policy or introduce the opt-in. Ideally, I would just rely on having a clear "Unsubscribe" link in the footer of any future marketing emails that we send out.

As for the privacy policy, it might not hurt to provide a

[2018-04-20 10:06] dawachan commented on #590
With regards to the marketing opt-in, the issue we have which is detailed in #431 is that we have over 70,000 currently registered users and we aren't able to contact them. Given the percentage of active vs registered users is quite low - it might necessitate that we need to implement a solution to 'mass mail' and asking for permission, since a only a small % of the registered users will actually

[2018-04-20 10:09] dawachan commented on #590
"Ideally, I would just rely on having a clear "Unsubscribe" link in the footer of any future marketing emails that we send out."  As I understand it, we do have this now, hence obfuscating the need for managing opt-in via a settings menu for example. Although as I understand from @xolotl and @segdeha we are unable to contact our 145k registered users without explicit consent hence the need for #43

[2018-04-20 10:11] dawachan commented on #590
"As for the privacy policy, it might not hurt to provide a quiet reminder of the policy somewhere on the login form." The quiet reminder is included in the language: "By logging in, I agree to the privacy policy, terms of service and community guidelines." TBD. We are not required to get explicit acceptance, the proposal is to gain contractual acceptance at login because it's less of a road block

[2018-04-20 10:25] robertknight commented on #589
A downside of this change from QDR's point of view is that they will lose the ability for members to join or leave the group without contacting us first. Our group edit form, which is accessible to the group's creator, does not yet support editing the membership and users cannot join restricted groups given just the URL.

I'll contact QDR to make them aware of this limitation.

[2018-04-20 10:33] robertknight commented on #589
I've sent an email to Sebastian just to confirm the change and make him aware that QDR will, for the moment, lose the ability to add new members themselves. I will update this once I've got the go-ahead.

[2018-04-20 13:12] #578 closed, assigned to lyzadanger

[2018-04-20 13:47] robertknight commented on #589
I've just realized there are three apparently related groups in existence:

1. https://hypothes.is/groups/zvEVDE2R/cambridgecore-ati (Cambridge Core / ATI') - This is the one we (Dawa, me) saw in the demo yesterday.
2. https://hypothes.is/groups/bR7GAVK2/qdr-ati (QDR / ATI) - This is the one linked in the issue description
3. https://hypothes.is/groups/yyqWz2RG/cambridge-core-ati (Cambridge Core /

[2018-04-20 13:56] adam3smith commented on #589
Thank you both. Let me respond here and clarify. We used two different groups for our ATI pilot: CambridgeCore/ATI and QDR/ATI
We're planning to launch with _only_ the projects in the CambridgeCore/ATI group next week (the first group in @robertknight 's latest post). It is that group that should be scoped to  cambridge.org and tested on the article Arti links to above and that should be made publ

[2018-04-20 13:56] lyzadanger opened #591 "GDPR: Implement Privacy Policy Opt-in on User Signup"
![image](https://user-images.githubusercontent.com/439947/39054103-bdc2d8ea-447e-11e8-8224-a85da444b68b.png)

## Justification

In order to meet new GDPR requirements, we need to provide users with a link to the privacy policy on the sign up form and include a way to actively opt-in to our privacy policy. Additional text in the prompt will link users to terms of service and community guidelines.

[2018-04-20 13:58] dawachan opened #592 "DESIGN Spike: Investigate Mobile UX Issues Reported"
### Background ###

Several UX Issues have been reported re: the Mobile UX from eLife. This design spike will look at their severity and create separate cards to address them.

**Feedback from Giuliano - Head of Product @ eLife re: Mobile UX**

- When typing a new annotation as a reply to another one some way down the panel, caret positioning does not match the actual cursor, meaning where the cur

[2018-04-20 13:59] robertknight commented on #589
Thanks @adam3smith. I'll update the CambridgeCore/ATI group. So QDR/ATI will eventually need to be a group that you can make appear on a number of different domains, where Hypothesis is not embedded?

[2018-04-20 14:11] ajpeddakotla commented on #560
Closing this as we've broken this card down into 2 parts:
#590 and #431

[2018-04-20 14:11] #560 closed, assigned to lyzadanger, dawachan

[2018-04-20 14:14] dawariley commented on #591
_Style of tooltip below: (copied from #560)_

![screen shot 2018-04-20 at 15 12 25](https://user-images.githubusercontent.com/5212631/39055990-69b87460-44ad-11e8-90d6-78b7114701e4.png)

[2018-04-20 14:15] klemay commented on #592
I have been tagging user requests in Zendesk with "mobile" when they ask about using Hypothesis on a phone or other mobile device. Anecdotally, some trends I see:

- Users seem to ask about iPads most often, followed by iPhones. I've only seen 1 or 2 requests coming from users of Android phone or tablets
- Content publishers know that users are largely interacting with their content on mobile devi

[2018-04-20 14:17] robertknight commented on #589
I've updated the groups above as follows:

1. CambridgeCore / ATI' is now a restricted group and scoped to https://www.cambridge.org, has only QDR and DavidMainwaring (who we met yesterday) as members.
2. QDR-ATI should be unchanged
3. This group looks like a test group which we can delete at some point. It was created by @heatherstaines ?

[2018-04-20 14:23] robertknight commented on #589
I'm closing this as the above tasks are ticked-off but we can update any of this configuration as necessary in future.

[2018-04-20 14:23] #589 closed, assigned to robertknight, sheetaluk

[2018-04-20 14:29] adam3smith commented on #589
Thanks Robert -- looks exactly right for CambridgeCore/ATI.

And

Exactly, yes. My understanding is that the group won't appear by default for users just looking at annotations on that page, hence the need to be able to link to the group. We can handle that on a separate ticket once needed.

[2018-04-20 15:22] dwhly commented on #590
@robertknight I'm not sure what you mean by: "Whether or not we need to do that depends on whether any substantial changes end up being necessary. If the changes are minor enough not to require re-approval, could we simply mention them via email?"

[2018-04-20 15:24] lyzadanger commented on #590
Chiming in here that if the privacy opt-in needed to be confirmed for existing users, a step _after_ login seems easier (i.e. possible) to implement because we'll have an extant user and we'll be able to check what the last date of their privacy policy acceptance was and if it was never or of a date we deem too early (i.e. if the privacy policy were ever updated and needed re-acceptance) we could

[2018-04-20 15:30] dawachan commented on #590
the proposal in this card is to have a **contract based statement** and not an explicit opt-in at login, similar to how the Khan Academy do it. since this creates less of a 'road block'. thanks for the input though @lyzadanger, and yes if there does have to be an explicit opt-in for privacy policy we could move it to a second step.

![screen shot 2018-04-20 at 08 28 02](https://user-images.githubu

[2018-04-20 15:59] heatherstaines commented on #589
Question for Sebastian:
Does the Cambridge Core group have all the annotations in it or just the
ones on CUP content?
I guess I thought that the QDR/ATI was the correct group to be switched?
Heather

On Fri, Apr 20, 2018 at 10:29 AM, Sebastian Karcher <
notifications@github.com> wrote:

--
Heather Ruland Staines
Director, Partnerships
Hypothes.is
M: 203-400-1716
Skype: heather.staines

[2018-04-20 16:03] adam3smith commented on #589
The CambridgeCore group has just the annotations on Cambridge content. QDR/ATI has just the annotations on non-Cambridge content

[2018-04-20 16:03] segdeha commented on #590
This is out of scope. We do not need to make changes to our existing login form. Only the account creation form. Closing.

[2018-04-20 16:03] #590 closed, assigned to xolotl, dawachan

[2018-04-20 16:36] heatherstaines commented on #589
So, are we thinking, perhaps, that once we get the publisher permission, we
will change the QDR/ATI group and release that as a restricted group as
well?

On Fri, Apr 20, 2018 at 12:03 PM, Sebastian Karcher <
notifications@github.com> wrote:

--
Heather Ruland Staines
Director, Partnerships
Hypothes.is
M: 203-400-1716
Skype: heather.staines

[2018-04-20 16:47] adam3smith commented on #589
Exactly, yes.

[2018-04-20 16:47] segdeha commented on #563
To add a little context, the outcome of this work is intended to be that we can describe in our privacy policy what data provide about our users to third parties and for what purpose.

For example:

[2018-04-20 17:04] hmstepanek commented on #588
- [ ] use https://www.elastic.co/guide/en/elasticsearch/reference/current/docker.html to create 6.2 es docker image
- [ ] spike to research breaking changes (reading about it in the docs possibly using the migration plugin)
- [ ] make h use write to both elastic search versions
- [ ] make h only read from one version based on a feature flag
- [ ] improve functional test coverage of search

[2018-04-20 17:57] hmstepanek commented on #588
@segdeha I wouldn't say any more instances but it will require spinning up a whole second es cluster and running those in parallel for a while which won't be cheap.

[2018-04-20 18:27] ajpeddakotla opened #593 "LMS Student Users should be automatically provisioned, authenticated"
### Problem
Currently, students using Canvas have to manually create their own account in Hypothesis in order to complete their assigned annotation homework. This creates a clunky, and less than desirable user experience. The goal of this work is to create as painless of a sign on experience for students as possible.

### User Story

I am a student who is a user of my institution's Hypothesis-comp

[2018-04-20 18:33] ajpeddakotla opened #594 "LMS Instructor Users should be automatically provisioned, authenticated"
### Problem:
The process of creating a Hypothesis course assignment within an LMS is awkward and tedious. At present, teachers must:

1. Establish a Hypothesis account manually.
2. Create a private group for their course if one doesn't already exist.
3. Add every student of the course to the private group. This requires the instructor to obtain email addresses for all course students.
4. (Finally)

[2018-04-20 18:35] ajpeddakotla commented on #342
Closing this issue, but linking it for reference to newly created issues. #593 #594

[2018-04-20 18:35] #342 closed, assigned to seanh, sheetaluk, dawachan, ajpeddakotla

[2018-04-20 18:35] robertknight commented on #588
Can you clarify what you mean by "reindex" here? The existing commands in h for "reindexing" do build a complete new index from the DB. This takes about two hours at the moment, and the process hasn't been massively optimised AFAIK. I know this because we reindexed the data not long ago to add a new field.

Do you mean "use the current ES Docker images from  https://www.elastic.co/guide/en/elastic

[2018-04-20 18:46] hmstepanek commented on #588
I understand your confusion cause reindex is a bit of a vague term. It basically just means creating a new index. You can do that from an existing outdated index or from data in the db. I had a chat with Sean and we currently do it from the db and it takes a couple hours so I think this is a non issue. We can just use that same method without any significant issues with performance. Also yes to yo

[2018-04-20 18:57] ajpeddakotla opened #595 "LMS Student Users should automatically be members of their course's private group"
### Problem
The process of creating a Hypothesis course assignment within an LMS is awkward and tedious. At present, instructors must:

1. Establish a Hypothesis account manually.
2. Create a private group for their course if one doesn't already exist.
3. Add every student of the course to the private group. This requires the instructor to obtain email addresses for all course students.
4. (Finall

[2018-04-20 19:03] ajpeddakotla opened #596 "Private Groups for each LMS Course should be created as needed for assignments"
### Problem
The process of creating a Hypothesis course assignment within an LMS is awkward and tedious. At present, teachers must:

1. Establish a Hypothesis account manually.
2. Create a private group for their course if one doesn't already exist.
3. Add every student of the course to the private group. This requires the instructor to obtain email addresses for all course students.
4. (Finally),

[2018-04-20 19:04] ajpeddakotla commented on #341
Closing this issue but tagging it for reference in 596 and 595.

[2018-04-20 19:04] #341 closed, assigned to seanh, sheetaluk, dawachan, ajpeddakotla

[2018-04-20 19:29] ajpeddakotla opened #597 "LMS Users and Groups should be Automatically Provisioned"
### User Stories:
**Authentication:**
- [x] Students using Canvas should be provisioned and authenticated into Hypothesis #593
- [x] Instructors using Canvas should be provisioned and authenticated into Hypothesis #594

**Groups:**
- [x] LMS Student Users should automatically be members of their course's private group #595
- [x] Private Groups for each LMS Course should be created as needed for as

[2018-04-20 19:51] hmstepanek opened #598 "Make ES 6.2 Docker file/image for Developer Env"
Use https://www.elastic.co/guide/en/elasticsearch/reference/current/docker.html to create a 6.2 es docker image. We currently use the https://www.elastic.co/guide/en/elasticsearch/plugins/current/analysis-icu.html so we'll need to make sure that exists in the new image. Below are the command that were used to build the image that we use now:
[code]
Disclaimer: the above was abstracted from the ima

[2018-04-20 20:02] hmstepanek opened #599 "Spike to research breaking changes between ES1.5->ES6.2"
**Outcome of this spike:** A list of breaking changes from Elasticsearch 1.5 to 6.2 that we should be aware of because they might affect h or bouncer (e.g. they are breaking changes to Elasticsearch features that h or bouncer use).

Research by means of reading about it in the docs and possibly using the migration plugin (see below) breaking changes relevant to us upgrading from 1.5 to 6.2. Note t

[2018-04-20 20:05] hmstepanek opened #600 "Make h write everything to two Elasticsearch clusters at once"
Change h so that it always writes all updates to **two** Elasticsearch clusters:

1. The existing Elasticsearch 1.5 cluster
2. A new Elasticsearch 6.2 cluster with encryption-at-rest enabled

All updates should always be written to both Elasticsearch clusters, so that they're always in sync.

Note that h will continue to read everything from the old 1.5 cluster only. It will only write to, and nev

[2018-04-20 20:09] hmstepanek opened #601 "Use Elasticsearch 6 cluster to handle searches"
Once indexing into ES 6 is complete and the search code is ready to run against ES 6, implement a feature flag that causes searches to use the new ES cluster.

- [x] Add a feature flag to h that, when enabled, causes all Elasticsearch reads to read from the ES cluster
- [x] Make our existing search tests run with and without this feature flag
- [x] Enable this feature flag in production for staff

[2018-04-20 20:12] hmstepanek opened #602 "What is our current integrated test coverage of search?"
**Outcome of this spike**: A list of all the search-related test cases that we don't currently have integrated test coverage of.

We want to be able to change h to use Elasticsearch 6.2 instead of 1.5, and we'd like to be able to upgrade to 6.2 and run the h tests and, if the tests all pass, have some confidence that everything works correctly with 6.2.

This requires us to have some integrated te

[2018-04-20 20:15] hmstepanek opened #603 "Improve integrated test coverage of search features"
Based on the gaps in test coverage that were identified in https://github.com/hypothesis/product-backlog/issues/602 implement integrated tests that cover those gaps.

[2018-04-20 20:16] hmstepanek opened #604 "Create Elasticsearch 6.2 cluster in Amazon"
Set up a new Amazon-managed Elasticsearch cluster

- [x] Configure security group for ES cluster (so we can use the recently added [VPC support](https://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-vpc.html)) and give h access to it (PR pending, but has been run locally: https://github.com/hypothesis/playbook/pull/170)
- [x] Create an Amazon KMS key for use with the new clust

[2018-04-20 20:19] hmstepanek opened #605 "Implement reindexing command for ES 6"
Implement a CLI command for indexing all existing annotations into the new Elasticsearch cluster. There should be a mechanism (eg. different command name or flag) to reindex into the new cluster without affecting the existing ES 1.x cluster.

[2018-04-20 20:21] hmstepanek opened #606 "Script to test search features in production"
Write a script to test some of our major search features in production.

This is a script that you run locally in your laptop, that does searches on the real https://hypothes.is and verifies that the results are correct. It can run some searches with and without the [Elasticsearch 6.2 feature flag](https://github.com/hypothesis/product-backlog/issues/601) and verify that the results are the same.

[2018-04-20 20:23] hmstepanek opened #607 "Set up monitoring for Elasticsearch 6 cluster"
Make sure we have adequate monitoring / alerting in place for the Elasticsearch 6 cluster.

- [x] Make sure Elasticsearch 6 requests are tracked from the client-side and reported in New Relic (it should show up under [Database activity](https://rpm.newrelic.com/accounts/1385283/applications/22688631/datastores#/overview/All?value=total_call_time_per_minute)).
- [x] Make our Grafana monitoring dash

[2018-04-20 20:24] hmstepanek opened #608 "Elasticsearch upgrade cleanup tasks"
Once h is switched over to using the new Elasticsearch cluster in production, there are a bunch of cleanup tasks that need to be done to remove obsolete code, take down the old cluster and update documentation:

**h**
- [x] Remove code that supports indexing / searching ES1
- [x] Remove ES1 `es_client` and `request.es` fixtures
- [x] Rename get_es6_client => get_client (5213)
- [x] Remove feature

[2018-04-20 20:25] hmstepanek opened #609 "How will the Elasticsearch 6.2 migration affect bouncer? Make a migration plan for bouncer"
Bouncer communicates with Elasticsearch directly. We should make sure it is no longer reliant on the Elasticsearch 1 cluster, either by making it communicate with the new cluster or by making it no longer query Elasticsearch directly.

[2018-04-20 20:27] hmstepanek opened #610 "Decide what to do with our own ES backups"
(_Original description: Make backup of old es cluster before we take it down. Make sure our backups are in place and working for the new es cluster._)

We currently have two kinds of backup of the ES cluster:

- Automated snapshots created by Amazon's Elasticsearch service (see https://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-managedomains-snapshots.html)
- Automated back

[2018-04-20 20:56] hmstepanek commented on #83
@judell @ajpeddakotla Can we close this now as we have a creator label in the list of members on a groups activity page now?
![image](https://user-images.githubusercontent.com/30059933/39073469-bb39b11a-44a2-11e8-8c9e-e254ac9e8c5e.png)

[2018-04-20 22:37] hmstepanek commented on #462
This behavior also occurs when searching for a user that doesn't exist.

[2018-04-21 16:33] hmstepanek commented on #599
This may come in useful: https://github.com/hypothesis/h/pull/4923.

[2018-04-21 16:34] hmstepanek commented on #605
This may be useful: https://github.com/hypothesis/h/pull/4923.

[2018-04-22 07:39] hmstepanek commented on #559
From the amazon docs:
[code]
This means we have to copy our existing db to a new encrypted db. We could make this switch by either temporarily putting the app into readonly mode so no new annotations get added, or alternatively, we can write to both at once, then make the switch to the encrypted (there may be some missing data in between the copy and the writing to both but we can fix that by addi

[2018-04-22 16:49] hmstepanek commented on #559
The ES encryption is by domain so we will need to create a new domain in order to encrypt our es data. It might be easier to do this at the same time as we make a new cluster for the transition from es1.5 to es6.2.

[2018-04-22 16:55] hmstepanek commented on #559
- [ ] Make new ES domain.
- [ ] Configure new ES to use encryption.
- [ ] Make an encrypted copy of our db.
- [ ] Add the ability to write to both db's in h.
- [ ] Add the ability to read from either the old or the new db in h.
- [ ] Delete the old DB.
- [ ] Cleanup tasks
- [ ] Verify backups work on encrypted db.
- [ ] Make an encryption key/keys for db and es. These can either be custom or gener

[2018-04-22 17:23] robertknight commented on #559
Can I also add AWS encryption key management as something that needs to be looked into. We need to understand where keys are stored, how access to them is managed etc.

[2018-04-22 21:35] judell commented on #462
This is a longstanding problem, it's been reported before (by me) but I can't find where, doesn't matter, it would be great to clean this up as part of the ES upgrade.

[2018-04-23 00:08] hmstepanek commented on #559
Ah yes! Please do!

[2018-04-23 13:09] lyzadanger opened #611 "GDPR: Implement UI for opt-in checkbox on signup form"
This is part of https://github.com/hypothesis/product-backlog/issues/591

The UI layer of the opt-in checkbox can be implemented separately from the model/logic changes underneath. This issue is to track the UI work for placing the opt-in checkbox into the user signup form.

![image](https://user-images.githubusercontent.com/439947/39128171-16eeba8a-46d5-11e8-936f-cceea9faed06.png)

Whoever picks

[2018-04-23 17:01] hmstepanek opened #612 "Make new Elasticsearch domain"
In order to enable encryption for ES we need to create a new domain.

[2018-04-23 17:02] hmstepanek opened #613 "Configure new ES domain/cluster to use encryption"
Configure new ES domain/cluster to use encryption.

[2018-04-23 17:04] hmstepanek opened #614 "Move production h/LTI RDS DB to encrypted storage"
(_Edited by @robertknight on 2018-05-14_)

Encrypt our production Postgres DB by using the backup-encrypt-restore process described at https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Overview.Encryption.html#Overview.Encryption.Enabling. This process will make the production h/LTI apps unavailable for about an hour, though we should advertise a longer timescale to users in case we run into

[2018-04-23 17:06] hmstepanek opened #615 "Add the ability to write to both db's in h"
This should be hidden behind a feature flag where we can write to both db's (encrypted and not encrypted) as the same time.

[2018-04-23 17:06] hmstepanek opened #616 "Add the ability to read from either the old or the new db in h"
Add the ability to read from either the not encrypted or the new encrypted db in h.

[2018-04-23 17:10] hmstepanek opened #617 "Decide which KMS keys to use for Elasticsearch and Postgres"
Make an encryption key/keys for db and es. These can either be custom or generated through amazon. Amazon uses AWS KMS (https://docs.aws.amazon.com/kms/latest/developerguide/overview.html) to manage it's keys. From the docs:

[2018-04-23 17:15] hmstepanek opened #618 "Verify backups work on encrypted db"
You cannot easily restore an encrypted db from an unencrypted db (you have to create a new db from the unencrypted one). Also we don't want to keep unencrypted backups as that kinda defeats the purpose. Therefore, we need to make sure backups work on the encrypted db before deleting the old db.

[2018-04-23 17:21] hmstepanek opened #619 "Delete the old DB and the backups"
Remove the old RDS instance and the unencrypted logical backups

- [x] Old RDS instance removed
- [x] Snapshots of old RDS instance removed, except for the final manual snapshot that has been encrypted and used to launch the new RDS instance
- [x] Unencrypted logical RDS backups removed from S3 or transferred to encrypted storage

[2018-04-23 17:26] hmstepanek opened #620 "DB encryption cleanup tasks"
This includes but is not limited to any general cleanup of the code base like feature flag editions that are no longer needed.

[2018-04-23 17:29] hmstepanek commented on #559
General info about amazon's encryption:

[2018-04-23 19:21] klemay commented on #30
Request from a publisher [in our forum](https://groups.google.com/d/msg/hypothesis-forum/3kBgZAVpvhg/UMnB0DLJCAAJ):

And another request [via Zendesk](https://hypothesis.zendesk.com/agent/tickets/2598).

[2018-04-24 12:38] seanh commented on #562
@segdeha Just out of interest, what does the `STORY` prefix at the beginning of an issue title mean?

[2018-04-24 12:57] seanh opened #621 "Implement encryption-at-rest for PostgreSQL"
This is the [Epic](https://github.com/hypothesis/product-backlog/labels/Epic) card for implementing PostgreSQL encryption-at-rest. We should add a checklist here of all the sub-cards that this breaks down into, but for now they all have the [Encrypt Postgres label](https://github.com/hypothesis/product-backlog/labels/Encrypt%20Postgres).

Implement encryption-at-rest for our PostgreSQL database. T

[2018-04-24 13:02] seanh opened #622 "Find out what needs to be encrypted at rest for GDPR"
Spike to investigate what needs to be encrypted at rest for GDPR.

We received [a card titled "implement encryption at-rest"](https://github.com/hypothesis/product-backlog/issues/559) but it doesn't yet specify _what_ needs to be encrypted at rest. It looks like we've already decided that Elasticsearch and PostgreSQL need to be encrypted at rest. But is there anything else?

Outcome of this spike:

[2018-04-24 13:02] seanh commented on #622
Assigning this to @robertknight who may even already know the answer. Worth pinging @segdeha too.

[2018-04-24 13:05] seanh commented on #559
I've made three separate cards:

1. [Implement encryption-at-rest for Elasticsearch (Epic)](https://github.com/hypothesis/product-backlog/issues/562)
2. [Implement encryption-at-rest for PostgreSQL (Epic)](https://github.com/hypothesis/product-backlog/issues/621)
3. [Spike to find out what else (if anything) we need to implement encryption-at-rest for](https://github.com/hypothesis/product-backlog

[2018-04-24 13:05] #559 closed, assigned to robertknight, hmstepanek

[2018-04-24 13:11] seanh commented on #621
[Comment from @hmstepanek](https://github.com/hypothesis/product-backlog/issues/559#issuecomment-383362112):

From the amazon docs:
[code]
This means we have to copy our existing db to a new encrypted db. We could make this switch by either temporarily putting the app into readonly mode so no new annotations get added, or alternatively, we can write to both at once, then make the switch to the enc

[2018-04-24 13:11] seanh commented on #621
[Comment from @hmstepanek](https://github.com/hypothesis/product-backlog/issues/559#issuecomment-383656880):

General info about amazon's encryption:

[2018-04-24 13:21] seanh commented on #599
@hmstepanek I've edited the issue description for clarity

[2018-04-24 13:25] seanh commented on #600
@hmstepanek I rewrote the description on this one

[2018-04-24 13:29] seanh commented on #601
@hmstepanek I edited the title and desc on this one

[2018-04-24 13:30] seanh commented on #601
We may want to do this in separate steps? For example, one feature flag to send all badge requests to the new cluster? Another for normal search API requests? Just so we can move the traffic over to the new cluster bit by bit. But it might be easier just to switch it all at once.

[2018-04-24 13:39] seanh commented on #602
@hmstepanek I've clarified the issue description

[2018-04-24 13:42] seanh commented on #605
To be clear, I think this refers to getting the `./bin/hypothesis search` commands working with Elasticsearch 6.2?

Since we're going to be running both 1.5 and 6.2 simultaneously, at least for a time, I wonder if the `./bin/hypothesis search` commands will need a command-line option (or something) for selecting whether to work on the old or new Elasticsearch cluster?

[2018-04-24 13:56] seanh opened #623 "Reindex all annotations into new Elasticsearch cluster"
Reindex all annotations into the new Elasticsearch cluster. This will require us to:

1. Implement support for running reindexing annotations into ES 6 (see https://github.com/hypothesis/product-backlog/issues/605)
2. Running that operation in production

It is possible we might want to run this more than once, and we don't want to add more load to the production system than necessary. Therefore I

[2018-04-24 14:23] seanh commented on #598
@hmstepanek Lets get a dockerized Elasticsearch 6.2 actually integrated into the h dev env, so that if I followed the [dev install docs](http://h.readthedocs.io/en/latest/developing/install/) I would end up with _two_ Elasticsearch's running locally, 1.5 and 6.2, even if h doesn't use the 6.2 one (either to read or to write) yet.

[2018-04-24 14:23] seanh commented on #598
By the way, can we turn on Elasticsearch encryption-at-rest in dev envs too? Just for maximum [dev/prod parity](https://12factor.net/dev-prod-parity)

[2018-04-24 14:48] hmstepanek commented on #598
Hmmm... I’m not sure about turning on encryption since the encryption is provided via amazon and not es but I can look into it briefly. I got an image is es6.2 working yesterday. I’m not sure where to put the dockerfile-do you think h/search is an appropriate place?

[2018-04-24 14:53] hmstepanek commented on #605
I think we should change the previous commands to <command>old and let the old commands become the new commands for es6.2 and run both es versions at the same time as we will need that for the other cards.

[2018-04-24 17:47] hmstepanek commented on #598
It looks like if we want to encrypt the data in the docker image we can use the x-pack plugin. Some of the official es images come with it but it is licensed software (aka it costs $) so I would advise against it. I don't think the encryption is something that requires us to do any mods to h so I think this shouldn't strictly be necessary. If it turns out that I'm wrong about that we can always re

[2018-04-24 23:57] hmstepanek commented on #599
Potentially relevant work done here: https://github.com/hypothesis/h/pull/4923.

[2018-04-25 04:53] hmstepanek commented on #602
These may come in useful: hypothesis/h#4923 & https://github.com/hypothesis/h/pull/4941.

[2018-04-25 04:53] hmstepanek commented on #603
These may come in useful: hypothesis/h#4923 & hypothesis/h#4941.

[2018-04-25 16:46] klemay commented on #1146
Another example: http://adamcroom.com/2018/04/annotating-edtech-terms-of-service/

[2018-04-27 10:31] dawachan commented on #560
Updated the copy against the second checkbox based on feedback from @dwhly to say: "I agree to receive occasional communication for product and research purposes."

[2018-04-27 10:34] dawachan commented on #560
Attached the revised opt-in to comms copy from @dwhly to: #431

[2018-04-27 11:32] dawachan commented on #431
Updated the opt-in copy to say: "I agree to receive occasional communication for product and research purposes." as per @dwhly's recommendation.

[2018-04-27 14:00] klemay commented on #198
User request: https://groups.google.com/a/list.hypothes.is/d/msg/dev/B-B5PCAunNk/avLUbqEKBAAJ

[2018-04-27 17:14] dwhly opened #624 "I'm a bot! Add way to indicate that a user account is based on automated annotation"
## Feature Request Form
We are increasingly seeing uses and interest in annotations made by bots or other automated systems.  This is a great use of hypothesis, but it's important that we provide a way for those users to self-identify (or be identified by us) as bots, so that we can distinguish them from humans, both on cards but also in our data and reporting etc.

### Your solution
Add a field t

[2018-04-30 11:37] dawachan commented on #462
### Current Behaviour

_Note: Current behaviour is for non existent user returns "**No annotations match your search.**"_
* this is for a keyword only, non faceted search works different  - see below.

![non existent user](https://user-images.githubusercontent.com/5212631/39425408-38131cd0-4c73-11e8-8e4b-15a49aec73fa.png)

_User faceted search returns **all matching annotations** that don't match

[2018-04-30 11:46] dawachan commented on #462
### Proposal for user: and group: faceted searches

For a faceted search on user: group: or keyword (non faceted) to keep consistency and reflect the accuracy of the result set by returning 'No annotations match your search' message. No need to mention group or user in the message because the search box keeps the scope user: and group: s well as the query that returned a null result set, thus givi

[2018-04-30 12:25] dawachan commented on #480
Have put together a list of follow up questions for publishers:
https://docs.google.com/document/d/1QtJPKkkbdKPOGFDKOKvvoJm0a4y3aYPyZiKw9lUgtEk/edit

These cover requirements around: group type, path scoping and admin/mgmt - have asked product team to add to the doc with additional questions.

Have followed up with CUP and am waiting for feedback.

[2018-04-30 16:12] judell opened #625 "Ignore "sticky" local group settings when publisher groups are present"
I created an open group for http://www.windley.com/, which embeds the H client. My expectation was that it would be the default group for visitors to that site, overriding whatever sticky selection the client is remembering.

That doesn't happen but seems like it should. Otherwise, as @seanh noted elsewhere:

And no one who visits windley.com and defaults to Public is likely to discover the open g

[2018-04-30 16:23] dawachan commented on #592
What would be super helpful is to tie this to metabase/GA metrics in order to quantify how many of our users are web vs. non web platforms?

[2018-04-30 16:26] dawachan commented on #592
Also metrics on browsers users are accessing H through - all these metrics will helps us determine which primary use cases to optimize for..

[2018-04-30 16:29] dawachan commented on #592
If we're not tracking tablet vs iOS vs android then we should definitely should be! we should be able to track to the device level ideally..

[2018-04-30 17:44] klemay commented on #532
I enjoyed seeing this in the Demo today! I have a few questions from a support/accessibility perspective:

- Does the color of the arrow vs background of menu meet [WCAG standards for contrast](https://webaim.org/resources/contrastchecker/)? If you provide a hex code for the color of the arrow I'd be happy to check this myself.
- Glad to see you've considered the size of the target area, and I kno

[2018-04-30 18:22] segdeha commented on #622
From my perspective, let's focus on Es + RDS for 25 May. Those are the biggies (and possibly the only places where we need to do this work). We can investigate any nooks and crannies after that date.

[2018-04-30 18:52] klemay commented on #581
In this case, "This username is already taken" is not a valid error message, right? We shouldn't have any users with username "d" because we don't allow for it.

We might also want to rewrite the logic of "This username is already taken" so it only shows up when appropriate.

[2018-04-30 20:36] ajpeddakotla commented on #563
Please enter in your findings in this document: https://docs.google.com/document/d/1m-_H6MDUIO3jM1O9D8a9M0O8rioV9dEqKwLCrb7mg3Q/edit, and not in the github issue.

[2018-04-30 22:26] judell commented on #535
It's even worse. Here's the first annotation @klemay referenced, which I found by search for user:klemay, any:"fake or real"

![image](https://user-images.githubusercontent.com/46509/39452997-22680ac4-4c89-11e8-9234-94eba48dd1f7.png)

The URL on that card -- not the `Visit annotations in context` link but rather the `URL` link -- is none of the three above, it's https://www.npr.org/templates/story

[2018-05-01 10:37] seanh opened #626 "Block YouTube and other problem sites from Via"
We had an incident last week in which VIa started having serious problems:

* All app server CPUs pegged at 100%
* Auto scaling not happening
* Unable to deploy due to new app servers failing EB's health check
* Via responding very slowly, or not at all

The problem appeared to be caused by someone watching YouTube through Via. This guess is based on nothing more than we saw a lot of youtube.com i

[2018-05-01 10:39] seanh commented on #626
Initial list of sites to block (please add more):

* YouTube
* Vimeo

[2018-05-01 10:44] seanh commented on #622
Ok. I wonder if we can just close this issue then?

[2018-05-01 12:16] dawachan commented on #532
Thanks for raising these issues @klemay. Addressing the accessibility concerns individually:

**_Arrow size and padding_**
I'll add it to the specs that the minimum tap area around the design elements in the new groups control should be 44px x 44px as recommended by the HIG - https://developer.apple.com/ios/human-interface-guidelines/visual-design/adaptivity-and-layout/.  Although as you mentioned

[2018-05-01 12:24] dawachan commented on #532
**_Arrow colour_**

I will increase the colour of the arrow to be a darker shade, and inline with the selected group state. This will be slightly darker than the arrow we have in production currently. See above mock for suggested revised colour: #585858

With respect to meeting the WCAG standards for contrast - there are several areas with the current H client that don't meet the standards, so fix

[2018-05-01 12:32] dawachan opened #627 "Design Spike: Perform Colour Contrast and Accessibility Audit of H Client"
### Background ###

Several issues exist with the current H client with respect to colour contrast ratios between foreground and background not meeting current WCAG standards. A couple of these are highlighted with reference to the redesign of the Groups control menu: https://github.com/hypothesis/product-backlog/issues/532.

It is suggested that a complete audit for colour contrast and accessibil

[2018-05-01 12:40] dawachan commented on #532
**_With regards to screenreader and keyboard-only users:_**

I agree that we should be considering screenreader/keyboard-only users. I'm going to do some research re: best interaction patterns for visually impaired users and get back to you with regards to the suggestions you made.

My question would be in terms of supporting the prompts,keyboard focus and accept commands is whether this is going

[2018-05-01 12:46] dawachan opened #628 "Optimising the Group Control for screen readers and keyboard inputs controls"
### Background ###

As part of a wider effort to address Accessibility for visually impaired users - this card looks at what we need to do in order to improve the accessibility of the revised groups control and expanded menu options #532.

### Issues that need to be solved ###
(copied from #532 @klemay)

There are also some considerations that are specific to screenreader / keyboard-only users:

-

[2018-05-01 13:52] lyzadanger commented on #605
I believe that, since the CLI `search` module bootstraps the application, we may be able to use the same feature flags here as in the app code, so there may not be much work to do in `h.cli.commands.search` assuming the underlying indexing API remains constant.

[2018-05-01 13:54] lyzadanger commented on #598
Are there other tasks left on this issue?

[2018-05-01 13:58] lyzadanger commented on #605
I'm fairly certain this is a subset of #600 — so I'm going to close if that's OK.

[2018-05-01 15:04] robertknight opened #629 "Write documentation for setting up and running a production instance of h"
A number of parties have come to us looking to do small/medium-scale deployments of h, eg. within an organization. Our documentation at https://h.readthedocs.io currently only explains how to run h locally in development, it doesn't say anything about how to do a production deployment.

While different sizes of deployments are going to have some differences with respect to how a deployment works,

[2018-05-01 15:39] #622 closed, assigned to robertknight

[2018-05-01 15:52] judell commented on #626
But a most helpful one, thank you for it.

[2018-05-01 16:07] robertknight commented on #626
To be clear, the problem is not the YouTube _website_ itself but the fact that we are proxying large video files through Via. If there is a way that we can avoid proxying just that content, that would be better.

[2018-05-01 16:14] judell commented on #606
Maybe also dig /api/search queries out of (a sample of) our raw access logs and summarize them? If that's of interest, and someone can get me a log sample, I'd be happy to volunteer for that.

Update: I just realized that although some queries come by way of /api/search and will be in the nginx access log, most come from activity pages which calls the search client directly, I think. Is ES search

[2018-05-01 16:27] #598 closed, assigned to hmstepanek

[2018-05-01 16:39] hmstepanek commented on #605
@lyzadanger I’m confused why this was closed as writing indexing scripts/configuring the cluster and writing to two different es clusters are very different things in my mind. Maybe you discussed something yesterday that makes these two things the same?

[2018-05-01 16:42] hmstepanek commented on #605
According to the little research I’ve done in the changes from our existing version to 5.0 there are changes in the indexing code particularly in the filters which would require changes to the search scripts.

[2018-05-01 16:57] seanh commented on #629
We did once have public docs for how to deploy h in production, but we deliberately removed them.

I don't think we should support or encourage people hosting their own instances of h (now or ever).

It _is_ a long-term (but not a short-term) aim to have a generic "annotations service" that people can host their own instances of. But _this_ web app (`hypothesis/h`) isn't intended to be that servic

[2018-05-01 19:44] klemay commented on #532
Regarding when to prioritize keyboard focus / screenreader prompts: I would say this can wait until after our the accessibility review of the current product. This is taking place this month, and I will share back the consultant's findings.

[2018-05-02 16:16] sheetaluk commented on #581
We decided to show just one failing constraint at a time because:
(1) Showing them all can take up too much space
(2) Some of the combinations don't make sense. Eg: This username is already taken and must be 3 characters or more.

[2018-05-02 16:31] dwhly opened #630 "Add "Or Sign up to create an account" to group invite page when not signed in."
## Feature Request Form

Currently when you don't have an account and are invited to a group, it takes you an extra step.  We could expose the option to jump to the sign up screen from here.

![screen shot 2018-05-02 at 9 29 24 am](https://user-images.githubusercontent.com/1413074/39536474-8c363198-4deb-11e8-82e3-bda88596cfad.png)

[2018-05-02 18:24] lyzadanger opened #631 "Make `h` app able to connect to newer ES instance"
Before we can read to or write from a new ES instance’s index, the app has to _connect to the ES instance_. At present the connection to our existing, legacy ES instance is created during Pyramid bootstrapping in the `h.search.__init__` module.

We need to be able to establish a connection to both the current v1.5 and the newer v6.x within the `h` app. This is a prerequisite to being able to initi

[2018-05-02 18:35] lyzadanger opened #632 "Make `h` app able to initialize/configure the index of newer ES version"
This is dependent on https://github.com/hypothesis/product-backlog/issues/631

Once a connection can be established in the `h` app to the newer ES instance, the instance’s index needs to be configured—the “search needs to be initialized.”

This is handled in `h.search.config.init`

## Background and Notes

The initialization functionality needs to be made compatible with the new version of ES whil

[2018-05-02 18:48] lyzadanger commented on #631
Useful note: Multiple versions of the [`elasticsearch`](https://elasticsearch-py.readthedocs.io/en/master/) library can be installed by using `elasticsearch2`, `elasticsearch6`, e.g.

[2018-05-03 11:46] robertknight commented on #563
I have filled in the document above with details about services we use and what data we share with each of them. Please review it and close this issue once you have done so.

[2018-05-03 12:14] robertknight commented on #615
I don't think we should try to do this. Writing to two separate databases is going to require changes to many parts of the code for IMO little benefit, since we are not changing the software that we use as we are in the case of Elasticsearch, only switching over the RDS instance to one which uses encryption for the underlying block storage.

Instead what I suggest is that we take the service down

[2018-05-03 12:15] robertknight commented on #616
As explained in https://github.com/hypothesis/product-backlog/issues/615#issuecomment-386275116 I don't think we should try to support reading from two different databases at once in the app. Instead we can just change the configuration to point from the unencrypted to the encrypted RDS instance.

[2018-05-03 12:19] robertknight commented on #614
I went through this procedure yesterday for our current RDS instance to get an idea of how long it takes:

1. Snapshotting the existing RDS instance took 1-2 minutes
2. Creating an encrypted copy of the snapshot took ~15 minutes
3. Creating a new RDS instance from the encrypted snapshot, using the same settings as the existing RDS instance (eg. enabling multi-AZ deployment), took ~20 minutes

That

[2018-05-03 12:32] robertknight commented on #621
I read through these issues and walked through part of the process of snapshotting, encrypting and creating a new RDS instance yesterday. Though it would be _technically possible_ to do a near zero-downtime migration to an encrypted DB (see eg. [this blog post](https://blog.learnosity.com/2017/08/engineering-for-zero-downtime-advanced-rds-database-migrations/) which is about RDS and MySQL), that i

[2018-05-03 15:33] lyzadanger opened #633 "Install `elasticsearch1` alongside `elasticsearch` on `h` so that we can use two versions of `elasticsearch` simultaneously"
As I read the docs on `elasticsearch`, our python library for Elasticsearch, I am seeing a need for us to be able to use two versions of the package at the same time. Their docs read in part:

To support this, they release separate, numbered packages for legacy versions.

Let's go ahead and:

* install `elasticsearch1`, which _should be_ a drop-in replacement for `elasticsearch` at the version we'

[2018-05-03 16:17] judell opened #634 "sidebar / activity-page rendering mismatches"
There are two separate annotation card renderers -- one for the sidebar, one for activity pages. There a variety of ways in which the two renderings differ. When outright failures occur, it's typically the fault of activity pages. Ideally we'd converge on a single card renderer. Meanwhile this card can gather examples that we might (or might not) want to reconcile. It might also serve as the basis

[2018-05-03 16:28] klemay commented on #586
More feedback re: discoverability from support today ([Zendesk #2487](https://hypothesis.zendesk.com/agent/tickets/2487)):

(Note: I'm not suggesting that we take the user's suggestions as solutions; just highlighting that this is someone who loves the product but still manages to forget about it)

[2018-05-03 16:40] #581 closed, assigned to nobody

[2018-05-03 17:27] klemay commented on #177
This is something I've seen with increasing frequency in support. I'll start logging requests here.

[Zendesk #2487](https://hypothesis.zendesk.com/agent/tickets/2487):

[2018-05-03 21:32] segdeha commented on #629
I agree that there are implications for our internal processes to supporting, in any formal way, installed instances out in the wild. I want to make clear that there is a difference here between hobbyists (for lack of a better term) and paid partners. Some of the same complications arise, but in the case of close partners, we can work together to figure some of those things out based on their actu

[2018-05-04 07:24] seanh commented on #629
"there is a difference here between hobbyists (for lack of a better term) and paid partners" <- Completely agree with this

[2018-05-04 10:55] #462 closed, assigned to sheetaluk, dawachan

[2018-05-04 17:38] klemay commented on #111
[Zendesk #2493](https://hypothesis.zendesk.com/agent/tickets/2493):

[2018-05-07 16:15] hmstepanek commented on #30
This is more of a feature edition than a refactor of an existing feature and I think we should wait on adding features until after GDPR. That being said, I see the importance of this and this isn't the first time this has been requested (as @klemay has pointed out) so it seems like it would be a good thing to add to the queue of work. Certainly since we will have been digging in that part of the c

[2018-05-07 16:42] ajpeddakotla opened #635 "Sharing Restricted and Open groups via URL so they will show up on any page"
### Problem we're trying to solve:
Publishers, communities, and other users want to be able to share restricted and open groups with others, so that they can see the annotations that have been made in those groups.

We currently have an implementation of publisher and restricted groups where they can only appear on a page if they are scoped to a page. This restriction is necessary to declare group

[2018-05-08 10:28] #591 closed, assigned to lyzadanger

[2018-05-08 10:28] #611 closed, assigned to sheetaluk

[2018-05-08 11:13] robertknight commented on #633
@hmstepanek has implemented the elasticsearch v1 => elasticsearch1 migration and added the newer elasticsearch v6 to our dependencies, so I'm going to close this.

[2018-05-08 11:13] #633 closed, assigned to hmstepanek

[2018-05-08 11:14] robertknight commented on #611
This is currently being deployed.

[2018-05-09 11:58] robertknight commented on #599
I ran the v1 => v2 Elasticsearch migration plugin that @hmstepanek linked to in the original issue on our local cluster. Note that I have a bunch of indexes, so the error reports are duplicated for each. Generated report:

[elasticsearch migration checker v1.19.pdf](https://github.com/hypothesis/product-backlog/files/1987681/elasticsearch.migration.checker.v1.19.pdf)

[2018-05-10 10:51] #602 closed, assigned to seanh

[2018-05-11 02:03] hmstepanek opened #636 "Unstable behavior in sidebar when scrolling large list of annotations"
## Bug report form
### Steps to reproduce
1. Open the annotation side bar on a page.
2. Create so many annotations that they can't be displayed within the sidebar.
3. Scroll carefully down the list of annotations on the sidebar and you may hit a point where you see this unstable behavior.
https://hypothes-is.slack.com/files/U8M4W4G2W/FAPSVHS07/unstablescroll.mov
link to annotations page: https://u

[2018-05-11 12:30] robertknight commented on #613
I'm folding this into https://github.com/hypothesis/product-backlog/issues/604 for the moment.

[2018-05-11 12:30] #613 closed, assigned to hmstepanek

[2018-05-11 12:30] robertknight commented on #612
I'm folding this into https://github.com/hypothesis/product-backlog/issues/604 for the moment.

[2018-05-11 12:30] #612 closed, assigned to hmstepanek

[2018-05-11 14:19] robertknight commented on #617
KMS provides a default key for each Amazon service that you use it with. We could simply stick with using that key. As the documentation that Hannah linked to above notes, that limits of the things that we can do with the key. I'm not certain whether any of those limitations are really going to matter yet.

[2018-05-11 15:01] robertknight commented on #617
For now I've just used the KMS default key for the ES 6.2 cluster.

[2018-05-11 22:31] ajpeddakotla opened #637 "Implement Firefox Hypothesis extension"
Shipping the FF add-on supports H's goals for global usage.

From a short conversation with Rob, the primary reason this hasn't been shipped is that the manual review process was unreasonably long. After some [basic research](https://extensionworkshop.com/documentation/publish/signing-and-distribution-overview/), this concern has since been alleviated (barring a Recommended badge).

[2018-05-13 02:27] hmstepanek opened #638 "Jumpy scroll bar on sidebar"
## Bug report form
### Steps to reproduce
1. Open a bunch of annotations for editing
2. Scroll up and down the list of annotations.
3. You should find that the scroll bar jumps after you let off the mouse when scrolling is supposed to stop.

https://hypothes-is.slack.com/files/U8M4W4G2W/FANNKBEGK/jumpscroll.mov
link to page with annotations: https://us.pycon.org/2018/schedule/talks/
### Browser/sy

[2018-05-13 03:14] hmstepanek commented on #636
These are two different symptoms/reproductions of what I believe to be the same underlying issue: something is dynamically changing the height on the li thread-list__spacer as you can see in the source capture.

[2018-05-13 03:15] #638 closed, assigned to nobody

[2018-05-13 03:20] hmstepanek commented on #636
It also looks like the size of the list of visible threads changes when the scroll jumps. I'm guessing there is some issue within the angular controller class that's causing this?

[2018-05-13 10:48] seanh commented on #631
[Relevant suggestion in Slack](https://hypothes-is.slack.com/archives/C1MA4E9B9/p1525345236000035?thread_ts=1525343480.000340&cid=C1MA4E9B9):

- Add `ELASTICSEARCH_URL` env var to qa and prod (if we don't have the actual value for it yet, just set it to something) (It looks like this is being done as part of [this card](https://github.com/hypothesis/product-backlog/issues/604))

- Add `es.url` def

[2018-05-13 10:56] seanh opened #639 "Define integrated test approach for existing search querying code"
Outcome of this card:

1. The approach to testing search queries define, with one or a few pull requests merged that add the first few example tests. So we know how to write query tests and people can follow the examples.
2. A checklist has been added to this placeholder card [Write search querying integrated tests](https://github.com/hypothesis/product-backlog/issues/643), or the card has been br

[2018-05-13 11:00] seanh opened #640 "Integrated tests for existing search indexing code"
Write integrated tests for the `h.search.index::index()` function and the code that it calls (includes at least features implemented in [h/search/config.py](https://github.com/hypothesis/h/blob/master/h/search/config.py), in `AnnotationSearchIndexPresenter` and `DocumentSearchIndexPresenter` as well as the `index()` function itself).

These tests have already been begun https://github.com/hypothes

[2018-05-13 11:01] seanh opened #641 "Integrated tests for deleting annotations from Elasticsearch"
Write integrated tests for [`h.search.index::delete()`](https://github.com/hypothesis/h/blob/d64820173370d065cb2c383329139900b0d13483/h/search/index.py#L63-L89)

[2018-05-13 11:03] seanh opened #642 "Integrated tests for batch indexing of annotations"
Write integrated tests for [`h.search.index.BatchIndexer`](https://github.com/hypothesis/h/blob/master/h/search/index.py#L92-L144)

[2018-05-13 11:05] seanh commented on #603
Closing this as I've broken it up into multiple cards: <https://github.com/hypothesis/product-backlog/issues/640>, <https://github.com/hypothesis/product-backlog/issues/639>, <https://github.com/hypothesis/product-backlog/issues/641>, <https://github.com/hypothesis/product-backlog/issues/642>

[2018-05-13 11:07] seanh commented on #639
My hope is to get in place a testing approach that allows the different components (e.g. different matcher, filter, and aggregator classes) to each have its own separate integrated tests. Then we can split this card up into multiple cards for writing tests for the different components, and we can parallelize the work.

[2018-05-13 11:13] #603 closed, assigned to seanh, sheetaluk

[2018-05-13 11:14] seanh commented on #583
@sheetaluk @ajpeddakotla did we decide to remove this card from the sprint?

[2018-05-13 11:16] seanh commented on #617
@robertknight I wonder if we can move this to completed / close this?

[2018-05-13 11:41] seanh opened #643 "Write search querying integrated tests"
Actually write all of the tests needed for the existing search querying code.

See also this separate card [Define integrated test approach for existing search querying code](https://github.com/hypothesis/product-backlog/issues/639) that will define _how_ these tests are going to be designed.

Once #639 is done we can add a checklist to this card for what needs to be tested, and perhaps break it d

[2018-05-14 09:09] robertknight commented on #617
I would like to do a little more research on this to check that I'm not missing anything important here. I want to be sure that using the default key is an appropriate choice for us at the moment. It appears that [changing the key](https://aws.amazon.com/premiumsupport/knowledge-center/update-encryption-key-rds/) is a relatively laborious operation that involves re-creating the RDS instance / ES c

[2018-05-14 09:14] robertknight commented on #615
I'm closing this card for now because, unless I hear objections, I'm going to assume we'll do what we outlined in my comment above which does not involve code changes to h.

[2018-05-14 09:14] #615 closed, assigned to nobody

[2018-05-14 09:14] robertknight commented on #616
I'm closing this card for now because, unless I hear objections, I'm going to assume we'll do what we outlined in my comment above which does not involve code changes to h.

[2018-05-14 09:14] #616 closed, assigned to nobody

[2018-05-14 09:15] robertknight commented on #620
I'm closing this card for now because, unless I hear objections, I'm going to assume we'll do what we outlined [in this comment](https://github.com/hypothesis/product-backlog/issues/615#issuecomment-386275116) which does not involve code changes to h.

[2018-05-14 09:15] #620 closed, assigned to nobody

[2018-05-14 09:47] robertknight commented on #618
There are two types of backups for our production DB.

- RDS storage snapshots. These are daily snapshots of the whole DB instance created automatically by RDS. We currently have the service configured to keep 30 days worth of backups.
- h DB backups. This is a logical dump of the h DB configured to run [as a cron job](https://github.com/hypothesis/playbook/blob/master/configure/roles/postgres-bac

[2018-05-14 10:42] robertknight commented on #30
I'm agreed with Hannah. This is clearly a much needed capability but we need to concentrate on doing the ES upgrade/tests first before adding new features. Once we've got that out of the way it should be much easier to add something like this.

[2018-05-14 10:55] robertknight commented on #604
This is now done and {h, bouncer}-{prod, qa} apps have access to the new cluster via the `ELASTICSEARCH_URL` env var.

[2018-05-14 10:55] #604 closed, assigned to robertknight

[2018-05-14 11:21] robertknight commented on #610
Given that ES is not our canonical data store and is just an index created from data in RDS, I'd suggest that Amazon Elasticsearch's [automated snapshots](https://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-managedomains-snapshots.html) which keeps ES snapshots for the last 14 days will be sufficient for our backup needs.

Amazon ES is configured to create the automatic snap

[2018-05-14 11:29] robertknight commented on #610
If we do decide to do away with our own ES backups and just rely on those created by AWS, then the work involved would be:

- Remove [the elasticsearch-backup role](https://github.com/hypothesis/playbook/tree/master/configure/roles/elasticsearch-backup) and make sure it isn't running on any machines where it is currently active
- Remove any existing ES backups that we no longer need from the `hypo

[2018-05-14 12:53] sheetaluk commented on #583
We can filter out the hidden annotations in one of 3 places:
(1) The client
(2) In `h` possibly in the `views/api.py search`
(3) In ES.
The team has decided that the best place to do it would be in ES. Possibly add a new field `should_hide` while indexing an annotation into ES and then write filters for that field. The reason for doing it in ES is that its faster and also aggregation counts (eg. n

[2018-05-14 13:47] robertknight opened #644 "Implement maintenance mode for production h service"
We used to have a [maintenance mode](https://hypothes-is.slack.com/archives/C076LQFA4/p1458219740000051) feature for h which allowed us to take the site down for short periods. This is something we very rarely need to do nowadays but it looks like it will be needed for the transition of our existing RDS instance over to encrypted storage.

- [x] There is a way to put the production "h" service in