[2018-09-27 12:50] #768 closed, assigned to lyzadanger

[2018-09-28 05:45] ZiadJ commented on #637
Is this still being worked on? I'm asking because it's been years now since the issue went lingo. Firefox support is the only barrier left for mass adoption but I'm not sure I should hold my breath on it anymore.

[2018-09-28 05:51] ZiadJ commented on #637
Is this still being worked on? I'm asking because it's been years now since the issue went limbo. Firefox support is the only barrier left for mass adoption but I'm not sure I should hold my breath on it anymore.

[2018-09-28 07:09] robertknight commented on #637
Hi @ZiadJ - Still on the roadmap but we haven't been actively working on it as we've had other priorities for various reasons. You can build a Firefox extension from code in the [browser-extension](https://github.com/hypothesis/browser-extension) repository but there is probably work needed to adapt to the latest Firefox releases (WebExtensions has been undergoing quite a lot of changes) and on ou

[2018-09-28 09:41] robertknight opened #816 "Upgrade `collectd` to a newer version on mon (+ other systems?)"
We encountered a [rather confusing issue](https://github.com/hypothesis/private-issues/issues/17) where our Elasticsearch monitoring broke when the "elasticsearch" package was installed on mon.hypothes.is via pip.

This issue occurred due to poor behavior in older versions of collectd where collectd-specific Python module directories get _appended_ rather than _prepended_ to the search path. Upgra

[2018-09-28 09:44] robertknight commented on #805
Duplicate of https://github.com/hypothesis/private-issues/issues/16. Now fixed.

[2018-09-28 09:44] #805 closed, assigned to nobody

[2018-09-28 12:20] #814 closed, assigned to robertknight

[2018-09-28 12:33] lyzadanger opened #817 "Complete process of moving `h.accounts.schemas` to `h.schemas...`"
This issue is to track the in-progress refactor that is moving stuff out of the monolithic `h.accounts.schemas` module into modules under `h.schemas...`

[2018-09-28 18:39] klemay commented on #111
User request: https://hypothesis.zendesk.com/agent/tickets/3141

[2018-10-01 03:49] malcook commented on #198
possibly simplifying thought...

make color simply an extension of tagging!

So, if an annotation has a tag matching the regexpr /color:(.*)/, then color the region $1.

Conversly, build UI tools to set/reset the value of the annotation'scolor tag.

Notably provide small standard pallette of 5 or 6 named colors when chosen simply set/reset the value of the color tag.

"color:green" anyone?

[2018-10-01 04:06] malcook opened #818 "RSS item should expose the value of author"
RSS content should mention the author of the item but does not.  Author should/could be hyperlinked to their H account.

[2018-10-01 04:09] malcook opened #819 "request: support emoticons in your markdown"
reference:
e.g.: https://www.webpagefx.com/tools/emoji-cheat-sheet/

[2018-10-01 04:11] malcook commented on #62
also [consider:harmonize H iconography across favicon and chrome extension](https://groups.google.com/a/list.hypothes.is/forum/?utm_medium=email&utm_source=footer#!searchin/dev/malcolm|sort:date/dev/qOc1VpE0noM/ITGYqHeXEgAJ)

[2018-10-01 14:21] #722 closed, assigned to lyzadanger

[2018-10-01 16:41] klemay commented on #493
Another example: https://hypothesis.zendesk.com/agent/tickets/3145

I think it's interesting/important to note that in this case, the user was afraid that their private annotations might be shown to other people. Her thinking: if annotations for the wrong page are being shown, is it possible annotations for the wrong USER might be shown? We know the answer is no, but for someone who is not as fami

[2018-10-02 02:09] hmstepanek opened #820 "Add cron job to clean support server"
Make a cron job to cleanup the support server:
 1. Remove docker images from beyond 1 week
 1. Remove docker volumes from beyond 1 week
 1. Remove docker containers from beyond 1 week
 1. Remove docker networks from beyond 1 week
 1. Remove jenkins workspace runs from beyond 1 week

[2018-10-02 13:21] robertknight commented on #810
Can this issue be closed now @hmstepanek?

[2018-10-02 13:43] klemay commented on #637
@ZiadJ we do have a bookmarklet that works with Firefox which you could use in the meantime - see Step 2 here: https://web.hypothes.is/start/

[2018-10-04 16:35] hmstepanek opened #821 "look into using multisearch in cases where multiple searches are run serially"
Elasticsearch supports executing multiple searches at once via the Multi Search API. This could provisionally provide an extra speed-up by executing the queries in parallel. It would require some refactoring of the search API however.

There aren't a lot of places where we run multiple searches back to back but activity pages is for sure one place that we do and this help us speed up the response

[2018-10-04 17:44] dwhly opened #822 "Pass metadata about documents directly to the client"
## Feature Request Form
### Problem you are trying to address with this feature

Presently our client application can only sense metadata for articles or documents (other than URL or PDF fingerprint) through fields in HTML pages.  There is no way of detecting those metadata when our client is wrapped (for instance) around a PDF.  So for instance, if someone annotates an HTML version of an article

[2018-10-04 17:46] klemay commented on #13
Related: https://github.com/hypothesis/product-backlog/issues/822

[2018-10-04 17:46] klemay commented on #822
Related: https://github.com/hypothesis/product-backlog/issues/13

[2018-10-05 14:50] klemay opened #823 "Make search instructions accessible"
When using our search function, the user sees instructions for narrowing their search:

<img width="668" alt="screen shot 2018-10-05 at 10 46 37 am" src="https://user-images.githubusercontent.com/12087705/46542276-03d3f800-c88c-11e8-9456-ab30478aa09a.png">

However, these instructions disappear after the search parameter is typed. For instance, when searching by url, the instructions disappear as

[2018-10-05 15:12] hmstepanek opened #824 "Debug elastic load balancer problems"
We've been having problems over time with our load balancer overloading our instances causing them to restart. Here is one such incident:
https://hypothes-is.slack.com/archives/C0LUWQQJJ/p1538706245000200

It's unclear why this is happening. Is it a configuration we have or is it a problem with amazon's load balancer?

Possible solutions may include filing a support ticket with aws.

[2018-10-05 16:47] dwolfe commented on #823
Yep, as @hmstepanek and I were talking about this issue, I thought that we might be finding the limits of the instructions dropdown. Also, @robertknight mentioned to me that the code for this feature is a little fiddly in general, and could use some refactoring.

Recording an idea here: maybe the dropdown could be contextual, such that it first shows something like _Narrow your search by user:, ta

[2018-10-05 23:47] sheetaluk commented on #583
This is wrapped inside the `replace_nipsa_with_hidden_filter` feature flag, so I think if its working as expected for staff, we could turn it on for everyone.
Once we confirm that its working as expected, we should create a followup issue to remove the feature flag and do the necessary cleanup.

[2018-10-08 15:45] ajpeddakotla opened #825 "Be able to rename a PDF"
### Problem:
PDF names are sometimes unreadable, and currently unchangeable.

### Feature Request:
Be able to change a PDF name, likely on activity pages, so that users have a better understanding of what they have annotated.

User posted this as an example:

<img width="463" alt="screen shot 2018-10-08 at 10 45 30 am" src="https://user-images.githubusercontent.com/7463523/46619281-5826e400-cae7-1

[2018-10-09 16:05] dwhly commented on #825
Related to: https://github.com/hypothesis/product-backlog/issues/127

Close this one?  Rename the other one?

[2018-10-09 21:52] ajpeddakotla commented on #825
Yep. Closing this one in favor of #127.

[2018-10-09 21:52] #825 closed, assigned to nobody

[2018-10-09 22:48] hmstepanek commented on #811
It looks like sqlalchemy is taking a long time to generate the query.
![image](https://user-images.githubusercontent.com/30059933/46701882-1163e780-cbd6-11e8-85ca-2a77005d6ab5.png)

The query itself is very fast but it's spending a lot of time in python generating it. One note here is that we are passing a subquery for the purpose of pre-fetching the document info for each annotation. This blog po

[2018-10-09 23:27] #811 closed, assigned to hmstepanek

[2018-10-09 23:29] #810 closed, assigned to hmstepanek

[2018-10-10 07:18] robertknight commented on #811
Hi @hmstepanek - I'm finding that screenshot you posted above very difficult to read. Can you explain what I should be looking at?

Which code are you referring to and how did you measure it?

[2018-10-10 15:00] dwhly opened #826 "Preview annotations"
## Feature Request Form
### Problem you are trying to address with this feature

In order to get any information about the annotations on a page, you have to open the sidebar.

## Your solution

Many have suggested that being able to preview on hover over highlights would be a significant usability enhancement.

Since highlights can overlap, with infinite depth (i.e. annotations) potentially being

[2018-10-10 16:30] dwolfe commented on #826
I'm actually kind of skeptical of the value of details on hover, for a couple of reasons. First, it's a desktop-only feature, no use on touch interfaces, which includes all mobile users. Second, it gets complicated really quickly on heavily-annotated pages, and I'm wary of features that get worse as our adoption grows.

Showing 2-3 annotations in a popup (even in abbreviated form) sounds like a lo

[2018-10-10 16:32] dwolfe commented on #826
To be clear, I'm not against details-on-hover in general. I think it makes perfect sense to show an abbreviated user profile when hovering over usernames, for example. I just have questions about implementing it for annotations.

[2018-10-10 16:35] lyzadanger commented on #826
I'm with @dwolfe on this one. It sounds like there is a need to surface more annotation information, but I tend towards skepticism about hover for a11y (it's hard for a family member of mine with some mobility issues to accurately hover with a pointing device) and cross-platform reasons. Not to bury the problem, which sounds real—a better, easy way to surface key annotation details?

[2018-10-10 16:54] dwolfe commented on #826
I have a11y questions too, but I haven't done enough research to figure out if/how hover effects can be done accessibly.

I'd like to dig a bit more on the user problem this attempts to solve. In my understanding, hover previews are mostly useful to help the user decide whether to "invest" in an action that has a cost, say, leaving the page they're on. Take the example of an inline username - clic

[2018-10-10 17:02] hmstepanek commented on #811
The h/storage.py:fetch_annotations (specifically these two lines):
[code]
This was timed by creating 200 annotations and calling this function with the load documents query_processor (just as we do in activity pages) 1000 times with those lines vs 1000 times w/o those lines and taking the average. Note if we didn't have to sort the results we wouldn't need those lines. This isn't exactly what time

[2018-10-10 17:17] lyzadanger commented on #769
Much work has been done to protect various API endpoints with permissions (authz) instead of such things as `security.Authenticated` and then some view-level logic. We're close. You can see the status as of this writing in this Google Doc (this spreadsheet is globally readable):

https://docs.google.com/spreadsheets/d/1TJWLSaf1wjjHzmZxi4OHcaaUYrIZdbxiQAtxU2hnUjc/edit?usp=sharing

There are a coupl

[2018-10-10 20:43] klemay commented on #669
Another user request: https://hypothesis.zendesk.com/agent/tickets/3198

[2018-10-10 21:37] hmstepanek commented on #808
A search for associated urls with doi:10.1523/JNEUROSCI.5212-13.2014 reveals :
 - httpx://www.ncbi.nlm.nih.gov/pmc/articles/PMC3996228
 - httpx://www.jneurosci.org/content/34/17/6112
 - httpx://www.jneurosci.org/content/34/17/6112.long
 - httpx://www.jneurosci.org/content/34/17/6112.full

While a search for associated urls with doi:10.16993/bao reveals:
 - httpx://www.stockholmuniversitypress.se/s

[2018-10-10 21:44] ajpeddakotla commented on #808
Another letter from the user came in this week:
[code]

[2018-10-10 21:51] hmstepanek commented on #808
Ah so I get the same results back for both of those queries regardless of whether I use doi or the url directly. So, so far I'm unable to reproduce this problem. Very interesting...

[2018-10-10 22:22] dwhly commented on #826
Thanks for these notes.

BTW, I finally found the original issue, which was described here: https://github.com/hypothesis/h/issues/2109

Which links to [a drafty set of notes for this that we wrote back in 2015](https://docs.google.com/document/d/1-tV9_F7lxjLl5waSP5HpoplQhgofyhoR11kIkRJma_Q/edit).

Also-- the original title was perhaps overly prescriptive, so I've modified it from "... on hover" t

[2018-10-10 22:27] hmstepanek commented on #808
Out of 6 annotations in the db I'm only able to find 3 of them through the api:
I have [db-reference](https://metabase.hypothes.is/question#eyJuYW1lIjpudWxsLCJkYXRhc2V0X3F1ZXJ5Ijp7ImRhdGFiYXNlIjoyLCJ0eXBlIjoicXVlcnkiLCJxdWVyeSI6eyJzb3VyY2VfdGFibGUiOjcsImZpbHRlciI6WyJBTkQiLFsiQ09OVEFJTlMiLFsiZmllbGQtaWQiLDQ5XSwiMTAuMTY5OTMvYmFvIl1dfX0sImRpc3BsYXkiOiJ0YWJsZSIsInZpc3VhbGl6YXRpb25fc2V0dGluZ3MiOnsidGFi

[2018-10-10 23:11] hmstepanek commented on #808
@klemay Perhaps I could borrow you for a couple mins tomorrow just to make sure I'm not missing something really obvious here. Maybe have you try running these two requests and make sure you can't reproduce this either. I tried running these as unauthenticated and it still works for me which makes sense since these annotations are public I shouldn't have to be logged in to view them.

[2018-10-11 08:48] seanh commented on #826
Are the problems with presenting information in the small space of a hover card the same as the problems of getting Hypothesis to work on small mobile screens? (How to scale as the number and density of annotations on a page increases, how to show multiple annotations in one popup, a lot of info in a small ephemeral space, which annotations to show first, how and whether to show replies, ...) A ho

[2018-10-11 12:23] robertknight commented on #812
The expensive queries for fetching user and group counts on `/groups/{id}` and `/users/{id}` pages have now been resolved by the PRs linked above so I'm going to close this.

[2018-10-11 12:23] #812 closed, assigned to hmstepanek

[2018-10-11 15:55] klemay opened #827 "Add a way to manually insert/edit document equivalences into our DB"
Creating from https://github.com/hypothesis/vision/issues/7 in an effort to move issues out of the vision repo and into this one.

The original issue calls for a way for users to let us know about document equivalences, but even before we have a user-facing means for this, it would be incredibly helpful for us to be able to do it on our end.

From a support perspective, it would be good for us to

[2018-10-11 16:57] dwolfe commented on #826
As far as a11y goes, I need to learn more about the accessibility of hover states before I can comment there.

Generally speaking, I have a gut feeling that previewing annotations is a response to a problem with the sidebar, and a better solution might be to make improvements there rather than introduce additional elements to the page. Having said that, I need to think more about some of the point

[2018-10-11 18:45] klemay commented on #691
No longer relevant - I wasn't able to reproduce, and we've since made improvements to the way publisher groups are displayed

[2018-10-11 18:45] #691 closed, assigned to nobody

[2018-10-11 18:59] klemay commented on #532
3 separate issues:

- UX affordances to improve in menu
- Annotation count for group
- Anything else to track?

[2018-10-11 19:14] klemay opened #828 "Design Spike: Improvements to existing Groups Control Menu"
Created from https://github.com/hypothesis/product-backlog/issues/532, which has since become a bit outdated.

Rather than overhauling the groups control menu, it would be useful to identify improvements that could be made to the existing menu. One example that immediately comes to mind is the fact that users often click the "View group activity link" when they mean to switch to a group:

![groups

[2018-10-11 19:15] klemay commented on #532
Closing in favor of https://github.com/hypothesis/product-backlog/issues/828

[2018-10-11 19:15] #532 closed, assigned to dawachan

[2018-10-11 20:15] klemay commented on #127
came up again: https://hypothesis.zendesk.com/agent/tickets/3200

[2018-10-11 20:25] klemay commented on #493
Another example: http://journal.media-culture.org.au/index.php/mcjournal/

[2018-10-11 21:39] judell commented on #30
Can you say a bit more about that? Because not requiring the user to type an unnecessary 7 or 8 characters would be a major usability win.

[2018-10-11 21:47] hmstepanek commented on #30
It's easily done for urls like http://example.com/foo. It's not easily done for urls like server:port/foo. The way to do this would be to pass it into urlparse and if it's missing a scheme (aka http/https) add it but for urls of the second class urlparse thinks the scheme is server. And you might think just append it to everything that doesn't start with http but what about doi urls or urn urls? T

[2018-10-11 21:47] ajpeddakotla opened #829 "Be able to hide annotations without flagging them first"
### Problem:
Currently, moderators have to go through a multi-step process to hide any annotations that haven't been flagged by users but nevertheless still need to be hidden. Moderators must:
1. Flag annotation (hit the flag icon)
2. Click Hide

An ideal flow would be that moderators (who are currently identified as group owners), would have the capability to hide any annotation they deem necessa

[2018-10-11 21:49] hmstepanek commented on #796
I did some preliminary investigation on this a couple days ago. It's easily done for urls like http://example.com/foo. It's not easily done for urls like server:port/foo. The way I was looking at implementing this was to pass it into urlparse and if it's missing a scheme (aka http/https) add it but for urls of the second class urlparse thinks the scheme is server. And you might think just append i

[2018-10-11 23:19] hmstepanek opened #830 "Rendering time on activity pages impacts performance of entire H app"
Rendering time for activity pages is to put it simply; out of control.

Whenever an activity page is accessed that has the max number of annotations (200) it takes > 1s to load. This in turn causes request queueing because none of the other requests can be full-filled until that one is completed. It also eats up the CPU which causes other requests to run slower.

Note in one such [incident](https:

[2018-10-11 23:25] hmstepanek opened #831 "fix fetch_annotations performance"
See https://github.com/hypothesis/product-backlog/issues/811 for details on what is causing performance issues and suggested fixes.

[2018-10-11 23:28] hmstepanek commented on #830
An investigation needs to be done into how we can best address this problem without completely overhauling the current implementation.

[2018-10-11 23:37] hmstepanek opened #832 "Jumping to last page of activity page silently fails"
It used to be (before we put a limit on offset for searching), that you could crash activity pages by jumping to the last page. Because there is a limit for offset now, jumping to the last page on activity pages silently fails. It appears to work but it doesn't return the old annotations because of the limit. It only goes back to 10k annotations in the past.

For example: https://hypothes.is/searc

[2018-10-11 23:47] hmstepanek opened #833 "Investigate why /h.views.accounts:AccountController.post_password_form takes so long"
This post request has an average response time of 1.4s.
![image](https://user-images.githubusercontent.com/30059933/46839876-0b583d00-cd75-11e8-9f5b-4bbdc9b76e11.png)

[2018-10-11 23:53] judell commented on #796
I'm not seeing that:

[code]

Seems like doing this in `uri.py` would also require more investigation. Here's a deduped set of interesting (!) patterns in our data:

[code]

[2018-10-11 23:57] hmstepanek commented on #796
You have to test w/o the protocol since if it had the protocol that would defeat the purpose of trying to automatically add it.
[code]

[2018-10-11 23:58] judell commented on #832
What's the repro for this?

I can do https://hypothes.is/search?q=the and then https://hypothes.is/search?q=the&page=1751 with no apparent problem.

[2018-10-12 00:00] judell commented on #796
Duh. Of course, sorry!

[2018-10-12 00:03] hmstepanek commented on #832
Hmmm...you're right! I can't reproduce this anymore. Perhaps we fixed it at some point in the last couple months. Ok I'm gonna close this then.

[2018-10-12 03:51] hmstepanek opened #834 "fix performance issue with user select on activity pages"
(I'm not sure where this is happening in the code currently so this will need to be profiled to figure this out as a first step but it's apparent from NR tracing that there's a loop somewhere that's doing this). The user select can take a long time since users are queried individually. Below is an example where grabbing the user info was run 58 different times and took ~.59 s.
 ![image](https://us

[2018-10-12 04:17] hmstepanek commented on #832
I have re-opened this under a slightly different title. I did some digging in the code and in fact this has not been fixed. Same problem-just a different symptom.

[2018-10-12 04:46] hmstepanek opened #835 "Fix issue with list_groups performance"
h/services/list_groups.py:_scoped_groups is running a slow seq scan query.
![image](https://user-images.githubusercontent.com/30059933/46848514-22138980-cd9f-11e8-81a4-af69b005afb6.png)

See [NR](https://rpm.newrelic.com/accounts/1385283/applications/22688631/datastores?tw%5Bend%5D=1539299314&tw%5Bstart%5D=1539239486#/overview/Postgres/trace/?id=94dc6c8d-cd59-11e8-8940-0242ac110008_0_2165&metric=D

[2018-10-12 04:54] hmstepanek opened #836 "fix db moderation select query performance"
Annotation moderation selection happens in a couple different locations but the top 3 problem areas are:
/h.views.api.annotations:search
/h.views.api.annotations:read
h.tasks.indexer.add_annotation

This is certainly causing a hit to our indexing speed.
See [NR](https://rpm.newrelic.com/accounts/1385283/applications/22688631/datastores?tw%5Bend%5D=1539319792&tw%5Bstart%5D=1539298192#/overview/Post

[2018-10-12 13:30] lyzadanger opened #837 "`h` Group Model's `flag` permission should be assigned to real users only"
I was doing a little research for https://github.com/hypothesis/product-backlog/issues/829 about how flagging works vis-a-vis moderation, and realized that flags are a relationship between users and annotation (not just a flag per annotation, say).

Right now, the Group Model's ACL logic will assign the `flag` permission to the `security.Authenticated` principal if the group is world-readable (and

[2018-10-12 13:33] lyzadanger opened #838 "`/api/groups/{pubid}/members/{userid}` should support `PUT` as well as `POST`"
We implemented `POST /api/groups/{pubid}/members/{userid}`, but really in REST-ful cleanliness, it should be a `PUT` endpoint.

Can't really go back on `POST` support now, but we can mark it as deprecated and add `PUT` support to this endpoint.

[2018-10-12 15:14] #792 closed, assigned to seanh

[2018-10-12 15:18] lyzadanger opened #839 "Define and Fix Permissions for "Remove me from group" API Endpoint"
`DELETE /api/groups/{pubid}/members/{userid}` is the last remaining resource-related API endpoint that doesn't use permissions, but instead is available to any request that has `security.Authenticated`.

It's an unusual endpoint in that the only accepted value for `userid` is the literal value of `me`, as in, this endpoint can only currently be used to remove the currently-auth'd user from the ind

[2018-10-12 16:15] hmstepanek commented on #815
I think it would make sense to re-assign the creator role to the user who has annotated the most in that group (that haven't been moderated).

[2018-10-12 16:30] lyzadanger commented on #815
@hmstepanek I think it could be useful to list out the various possible behaviors and perhaps discuss pros and cons? (Your proposed direction may still be where we end up, but I think it could be useful to be explicit about which options we thought of and considered).

[2018-10-12 17:19] hmstepanek commented on #815
Yeah I definitely will! Doing some digging now to see what all we have to do to enable this.

[2018-10-12 21:57] dwolfe opened #840 "Discussion about design process (lead by Dave)"
Need to discuss and decide on:
- Expected artifacts before working code, if any
- Tooling for sharing/reviewing work in progress: Slack, gh, Google Gallery, etc.
- Checkpoints: when do reviews happen, at what fidelity?
- Approval: who and how?

[2018-10-12 23:39] hmstepanek commented on #815
Another option is to do this but rather than automatically select a new creator, enable an admin to set the creator to a new user manually via the edit group page (obviously this would have to be enabled for private groups) and then go back and delete the user who is no longer the creator of that group. This also potentially has the advantage that the user who is deleting the account can select a

[2018-10-15 12:50] robertknight commented on #789
You can test this out now in production by using assignments on the "Hypothesis 101" course that seanh created, for example: https://hypothesis.instructure.com/courses/4/assignments/363?module_item_id=544

From a quick test just now, I see the following items which definitely need to be addressed:

- [x] There is a "Leave group" button in the groups drop-down menu. If you click that, the menu ends

[2018-10-15 13:18] robertknight opened #841 "Remove ability to leave groups from client in LMS context"
_Extracted from
https://github.com/hypothesis/product-backlog/issues/789#issuecomment-429840443_:

In the context of an LMS assignment when account auto-provisioning is enabled, it is possible for the user to leave the group associated with the course that the assignment is in using the "X" button in the groups dropdown menu.

If the user leaves all groups this will leave the client in an invalid

[2018-10-15 13:21] robertknight opened #842 "Remove sidebar tutorial text which is not applicable in LMS context"
_Extracted from
https://github.com/hypothesis/product-backlog/issues/789#issuecomment-429840443_:

In the context of an LMS assignment when account auto-provisioning is enabled, students who open an assignment for the first time are greeted with a tutorial in the sidebar telling them how to use Hypothesis. This includes several steps which are not supported in the LMS context:

- Creating a privat

[2018-10-15 13:25] robertknight opened #843 "Remove annotation share links in LMS context"
_Extracted from
https://github.com/hypothesis/product-backlog/issues/789#issuecomment-429840443_:

In the context of an LMS assignment when account auto-provisioning is enabled, annotation cards have share links which currently take the user to the URL of the document the user is annotating. However since being able to see an annotation relies on the user and group context provided by the LMS app,

[2018-10-15 13:31] robertknight commented on #789
I've filed issues for things that are obviously broken/wrong in the LMS context. I expect there will be additional wishlist feedback once various parties (Jeremy, Dave, Katelyn) have spent some time testing account provisioning and processing feedback from users. Based on my recollections of discussions with Sean a few weeks ago I think that is outside the scope of this issue however.

[2018-10-15 14:06] jeremydean commented on #843
I just want to plant a little flag here. Sorry if it belongs elsewhere, but this issue touches on some important pieces of educational workflow with Hypothesis more broadly and within the LMS context.

It has less to do with "share links" as such than with somehow linking directly to annotations in context either from our actual activity pages (not directly relevant here) or whatever @lyzadanger e

[2018-10-15 14:31] robertknight commented on #843
Thanks for the feedback. Here is as good as anywhere.

[2018-10-15 16:13] hmstepanek commented on #815
It looks like enabling the group edit page for private groups is pretty simple:
 1. Remove the if else so you can click on the group name to take you to the private group edit page.
 1. Only display the org if there is an org associated with the group.
 1. Add private as a group type.
 1. Remove the requirement that the scope must be specified for private groups.

From there we can assign a new cr

[2018-10-15 18:10] hmstepanek commented on #815
Options:

- Reassign all annotations to be "Only Me" in the Public group.
   This is probably the safest/easiest thing to do as we don't have to add any functionality. But it means members can't see each others annotations.
- Reassign the group creator to a "ghost user account".
   This would require some sort of "ghost user account" to exist like the Public group already exists.
The only potentia

[2018-10-15 18:27] hmstepanek commented on #815
@klemay @ajpeddakotla I think this is at a point where I could use some feedback from you two.

[2018-10-15 20:03] jeremydean commented on #815
I don't think (1) above is good since it would mean the remaining group members wouldn't be able to see each other's annotations, right?

[2018-10-15 20:25] lyzadanger commented on #841
Given that we're taking actions on behalf of users vis-a-vis groups in the LMS context, I feel that the clearest approach here might be disallowing the user from leaving any groups for now. That is, the LMS authority is granted the ability to decide when a user joins these groups, and I think it's consistent that this would extend to the user _leaving_ groups, as well. I anticipate a future requir

[2018-10-15 22:24] klemay commented on #815
For all of the options above, I have a potentially complicating question: what happens if there are replies to the deleted user's top-level annotations? I.e., I create a group and Hannah replies to some of my annotations, and then I delete my account. Do Hannah's annotations get promoted to top-level? Do we implement some sort of [annotation deleted] notice?

I feel like we may want to offer a cho

[2018-10-15 22:38] hmstepanek commented on #815
@jeremydean That's correct.

[2018-10-15 22:43] hmstepanek commented on #815
@klemay Our current implementation appears to simply delete the user's annotations and leave the replies untouched. So...while the replies would still be in the db and elasticsearch, they would not show up on any page because they are not promoted to being a top-level annotation. So in your example, my replies would no longer be visible. I think that would be a pretty easy fix tho as all we need t

[2018-10-16 00:10] hmstepanek commented on #808
@ajpeddakotla @klemay
I received a response from Tom stating now the annotations are showing up and that it was no longer an issue. I told him to definitely let us know if he see's this problem again but for right now I think we can close this.

[2018-10-16 09:13] seanh commented on #815
I think there might be a concern about automatically making some unfortunate person who didn't ask for it the moderator / admin / "creator" of the group.

I'm also wondering if we should keep a record of who actually created the group, even though that person is no longer the owner / moderator / admin of the group? That would require adding group moderator as a separate role so we can make someone

[2018-10-16 14:22] lyzadanger commented on #789
I'm going to reopen this issue and treat it as an epic for now (with re-wording of title)—an umbrella issue for making the client usable in the "LMS mode" per provisioning.

[2018-10-16 14:26] #808 closed, assigned to hmstepanek

[2018-10-16 14:39] dwolfe commented on #566
Proposed design for first iteration of export:
![screen shot 2018-10-16 at 7 35 05 am](https://user-images.githubusercontent.com/1348738/47024203-16fd8800-d116-11e8-9e44-801cb40e5ce5.png)

This button would be to the right of the search results title ("955 Matching Annotations"). We may elect to move/change this in the near future, but this is a functional, discoverable solution for now, which wil

[2018-10-16 14:41] lyzadanger commented on #566
@dwolfe This is a nice and consistent approach overall. Like! Some quick thoughts!

*  I believe `JSON` should be `JSON-LD`.
* I wonder if `CSV/Excel` (heh, I prefer CSV first as it's the open standard) should come before `JSON-LD` in the list as it's likely more familiar to most users (though I wonder if I can really back up that statement without data...)
* I wonder if there's any affordance we

[2018-10-16 14:45] jeremydean commented on #566
Looks good.

Are we at this point not yet talking about what formats folks would be able to use? If we are then I'd say there needs to be a plaint text or HTML option. Most edu users I'd venture to guess do not know what JSON or CSV are.

A big question here (though perhaps for later implementation) is what does the user actually wants to see when they download. The full standard data package asso

[2018-10-16 14:50] lyzadanger commented on #566
At first glance, that seems sensible to me, too. But I'd love to see this button in context to see whether the extra wording helps.

While we do need to be spec-compliant with the JSON-LD download format, thanks for reminding us that we should be thoughtful when designing the CSV/Excel-type output. I do think the spec can serve as a guide/starting point (the fields that make sense, minus the arcan

[2018-10-16 14:58] dwolfe commented on #566
@lyzadanger I have an assumption about this feature in general, which is that users generally won't download a set of search results without a pre-existing reason, and that they'll have a format in mind before they do. That might lessen the need to explain the formats, but I'm a fan of being explicit where we can, so we can definitely explore adding a short description beneath the format titles.

[2018-10-16 15:11] jeremydean commented on #566
Yes, but if this button is to appear on activity pages, what you see there doesn't exactly capture what the package will contain, both literally and from the user's eye in the UI. But I'm down to wait and see. A v1 here will be huge both for our mission and for users.

This assumes they know how to do this if we don't give them an interface to do so. But again, I'm down to wait and see.

Are there

[2018-10-16 15:18] hmstepanek commented on #815
I agree-that might be a surprise to people. I don't think it's worth adding another feature to a group (aka a moderators list) just to be able to delete a user account tho.

[2018-10-16 16:12] dwolfe commented on #566
@ajpeddakotla added user stories and acceptance criteria in the original issue description above, but that was a recent edit.

I forgot one comment before: I only have two formats shown because that's the minimum number to justify a dropdown/select menu. My assumption is that we'll add more formats (e.g. HTML and/or PDF, I know those have been mentioned) after we establish the interaction necessar

[2018-10-16 16:31] dwhly commented on #566
Not quite sure whether you mean "as we're designing this feature, and before we finish it" or "at some point after we ship v1".  Strong vote for option a) vs b).   Definitely agree that being able to simply copy and paste out of HTML or TXT is a key 3rd option here.  Vote would probably be for HTML b/c we could render external images and video there.

[2018-10-16 16:41] ajpeddakotla commented on #815
There's a potential solution which I think would address most of the concerns brought up here -

What if we archived the group?

If a user asks Hypothesis staff to delete their account, and if they are the group owner of a group with other Hypothesis members, could we delete their account, and archive the group in such a way that
1. The group owner's annotations are deleted, or hidden
2. Any repli

[2018-10-16 16:45] lyzadanger commented on #566
I do want to make sure we keep the definition of this feature in chunkable iterations, however. I feel a tad overwhelmed at all of the possible output formats. JSON-LD and CSV/Excel, based heavily on the standard? That seems like a containable, chunkable task.

Put another way, I wouldn't want to hold back shipping the core formats because we're wallowing in PDF generation and HTML rendering :). N

[2018-10-16 16:50] hmstepanek commented on #815
AFAIK we don't have a concept of archiving so I'm not sure what that would look like and the time needed to make such a solution would prob be more time than we want to spend.

The option I'm leaning the most towards here is re-assign the creator to another member manually or set the creator as None if no one wants to take ownership and fix the replies issue @klemay pointed out.

[2018-10-16 16:53] lyzadanger commented on #815
Looking at @ajpeddakotla 's most recent suggestion, it's hard for me to take my engineer's glasses off and act like a real human user (i.e. my immediate gut reaction is "that is a lot of functionality to build that we don't have"). One thing I'd like to point out is that an implied feature need has emerged (I think) in several user needs over the past several months: the notion of having some sort

[2018-10-16 16:55] dwolfe commented on #566
@dwhly: I did actually mean b), in the agile sense of shipping a useful feature that we expect to augment later, based on user feedback (which we'll get by shipping). I know we have existing requests for different formats, but shipping a subset of everything we know users want will (theoretically) be quicker than developing the full set, and also let users weigh in on things like UX, which data el

[2018-10-16 16:56] hmstepanek commented on #815
I agree with @lyzadanger about the need for a longer term solution but as she said, I'm not sure now is the time to tackle that. I think setting the user to None and/or finding a new owner is a nice workable solution within our current system.

[2018-10-16 17:07] lyzadanger commented on #815
@hmstepanek I'd exercise caution if you decide to take the route of setting a group's `creator` to `None`. Strictly speaking, that relation is nullable, but there are a number of places in the app logic that make decisions based on the creator's value. Need to tread carefully :)

[2018-10-16 17:08] hmstepanek commented on #815
@lyzadanger  I did look into that and I didn't see any issues with it although it's certainly possible I missed something.

[2018-10-16 18:09] dwhly commented on #566
Over to @ajpeddakotla.
(Though would definitely agree PDF shouldn't be on the MVP list regardless.)

The user story for HTML btw is "I want to be able to easily cut and paste a set of annotations into a document I'm working on, or an email, etc."  We hear this a ton.

[2018-10-16 19:20] klemay commented on #566
Re: "Download" vs "Download these results" - just want to remind us about screenreader users. "Download search results" or something more specific would be preferable. Agreed with @lyzadanger and @dwolfe that we probably don't want to get too caught up in this until we see it in context though!

[2018-10-16 19:43] judell commented on #566
We can also, of course, refine our user stories by checking in with lead users of the standalone exporter.

[2018-10-16 19:45] jeremydean commented on #566
Totally agree with let's ship and get feedback and iterate.

My comments weren't meant to slow that process just offer some thoughts based on my experience.

[2018-10-16 20:02] judell commented on #566
Note that JSON-LD is currently a one-at-a-time deal. https://github.com/hypothesis/h/compare/search-as-jsonld intended to apply the JSON presenter to all search results.

[2018-10-16 23:14] ajpeddakotla opened #844 "Spike: Technical implementation plan for work to share and unscope groups"
### Problem
Publishers, communities, and other users want to be able to share annotations in restricted groups with others, so that users who are not members of those groups can see the annotations that have been made in those groups.

Currently there is no way to share a direct link to a group's annotations in the client, and open and restricted groups have a restriction that they must be scoped

[2018-10-17 15:37] ajpeddakotla commented on #844
Questions/thoughts to clarify (from our discussion):

1. Should the group still be scoped to always appear on specific sites in addition to being unscoped, so that it can appear on any site? The long term direction is to ease the requirement on scopes, but perhaps an intermediate step is to allow both.

2. Perhaps move from a scope -> privilege nomenclature to describe the changes we're likely to

[2018-10-17 16:20] lyzadanger commented on #844
Apologies that I didn't notice this sooner, but I'm trying to assess whether the short-term requirements really do encompass open and private groups. The core thrust of what they need seems to be related to restricted groups, and I'm having trouble envisioning how the flow would work for open groups. And private groups are a whole 'nother ball of wax.

Open groups, maybe doable with more definitio

[2018-10-18 18:05] ajpeddakotla opened #845 "Require ORICD for group membership"
### User story:
As a publisher I want to require that all users of Hypothesis have their ability to write annotations in a group restricted by their ORCID authentication, so that I can control who can create annotations on my site.

NOTE: Your user account has to be authenticated against ORCID in order for you to annotate in this group. It is a one time authorization model.

Acceptance criteria:
-

[2018-10-18 18:06] #583 closed, assigned to sheetaluk

[2018-10-18 18:34] klemay opened #846 "Ability for moderator to un-flag annotations"
Problem:
Currently, when an annotation is flagged, moderators have two choices:

1. Hide the annotation
2. Leave it alone

If the moderator decides to go with option 2, the annotation retains its "flagged" status. This can make it difficult for moderators to know which annotations they've already addressed.

Related to https://github.com/hypothesis/product-backlog/issues/829 but doesn't necessaril

[2018-10-18 18:35] klemay commented on #409
See:
- https://github.com/hypothesis/product-backlog/issues/290
- https://github.com/hypothesis/product-backlog/issues/829
- https://github.com/hypothesis/product-backlog/issues/846
- https://github.com/hypothesis/product-backlog/issues/862

[2018-10-18 18:37] lyzadanger commented on #841
Important: This issue may no longer be valid if we opt to disable the groups menu in the LMS context.

[2018-10-18 18:46] judell commented on #409
Yes please!

[2018-10-18 19:57] lyzadanger commented on #844
I'd like to propose that we continue using this issue as the spike-tracking issue but when we've got a development and user-experience plan, we open a new ticket to serve as an epic for the development phase, with the appropriate user stories, e.g., copied over.

[2018-10-19 01:19] hmstepanek commented on #830
It should come as no surprise that we can massively reduce the rendering time by not including the content of each timeframe bucket in the template but rather send a request to get that info when the user clicks on it. This is the way elasticsearch is intended to be used in combination with a db anyway.  You get the ids from elasticsearch, then when the user wants to see the details, you run a db

[2018-10-19 01:32] hmstepanek commented on #830
Another pain point I noticed is there are python functions being passed to the jinja template. This is something that Django doesn't let users do at all for probably good reason. I did notice a slight performance improvement when I computed things before passing them to the template but not a lot. I don't think moving them out of the template has specific performance improvement advantages but fro

[2018-10-19 10:43] robertknight commented on #830
As I think I mentioned before, generating as much HTML as we do on activity pages causes not only slow rendering but also causes downstream issues: Lots of bytes to transfer over the network, lots of HTML for the browser to parse, lots of DOM elements to keep in memory. I would definitely be inclined to focus efforts on resolving that first.

Yes, something like this. Each collapsible row represen

[2018-10-19 10:53] seanh opened #847 "Improve log file storage and access for our apps"
Our access to logs from our apps is pretty poor:

* The Elastic Beanstalk logs page allows you to retrieve the last 100 lines of logs or the "full logs" from any app
* When you request the full logs you get one zip file per app server containing logs in several text files (nginx logs, app logs, ...). This isn't really the most convenient format for quickly reading and filtering logs
* You can only

[2018-10-19 10:54] seanh commented on #847
One possibility to investigate might be CloudWatch Logs: https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/WhatIsCloudWatchLogs.html

[2018-10-19 13:52] klemay commented on #235
[From Zendesk](https://hypothesis.zendesk.com/agent/tickets/3237):

[2018-10-19 13:53] robertknight commented on #758
I removed this section from the issue description:

[code]

I think Sean was missing some context about why the client release involves the artefacts that it does, so I'll try to explain them here:

- The npm package is used by the browser extension as a way to pull in the current version of the client
- The client uses semantic versions because the Google Chrome and Mozilla Add-ons stores require

[2018-10-19 13:59] robertknight commented on #758
We do not currently have any kind of QA / staging release for the embedded client, though we do for the extension. It is possible to solve the main pain point here before introducing that. My plan of action is as follows:

1. Move the release process entirely to Jenkins, without changing any of the artefacts except for the changelog, which can be machine-generated. (**DONE**)
2. Update the documen

[2018-10-19 15:31] robertknight commented on #758
The first part of this has been resolved by https://github.com/hypothesis/client/pull/787

[2018-10-19 15:32] robertknight commented on #758
The deployment documentation is updated in https://github.com/hypothesis/playbook/pull/184

[2018-10-19 16:28] hmstepanek commented on #830
To that last point there isn't a significant performance improvement it's more a readability, best practices, and reporting improvement. It's possible the sight perf improvement I noticed was completely negligible.

I gave this a try locally (removing the presenter calls to fill out the annotation details in query execute and removing the building of the html for the content of each bucket) and wa

[2018-10-19 22:00] dwolfe opened #848 "Improve groups selector UX"
Part of https://github.com/hypothesis/product-backlog/issues/866

### Problem/Background
When we open up groups to be shared and appear on sites they aren't scoped to, the presentation of these groups in the groups menu will need updating, so that users can have a better understanding of the groups they are actually seeing, why they are seeing them, and what groups they are actually a member of.

[2018-10-19 22:23] dwhly commented on #848
Thanks @dwolfe.  Linking to a bit of work that was done previously around some of these questions, in particular signaling to users that a group (for them) might be read only, etc.

I don't believe it was ever implemented.
https://github.com/hypothesis/product-backlog/issues/552

PS You'll note on closer inspection that the mockups are inconsistent about whether the `READ ONLY` badge is inside the

[2018-10-19 22:45] AdamDemirel commented on #110
Another problem with just querying your user is that although it filters the list, other's annotations/highlights are still visible on the page itself.

[2018-10-20 00:08] dwhly commented on #110
People have suggested that this should be changed, and personally I agree.

[2018-10-23 16:50] hmstepanek opened #849 "Enable rate limiting per user per end point"
When a script runs on H is can take down the server thus rate limiting needs to enabled on a per IP address/auth token.

Nginx has the ability to do this: https://www.nginx.com/blog/rate-limiting-nginx/

[2018-10-23 16:52] robertknight commented on #849
If we can do the rate limiting at the nginx level and thereby prevent the request even hitting the app that seems like a good idea.

[2018-10-23 17:11] hmstepanek commented on #849
We will need something better than just a blanket rate limit for all transactions as things like badge can handle > 16k requests/min but the create annotation endpoint can handle much less. You can use NR's transaction [table](https://rpm.newrelic.com/accounts/1385283/applications/22688631/transactions)  as a reference to figure out what the rate limits should be.

It looks like there was a little

[2018-10-23 18:09] hmstepanek commented on #841
Sounds like this has been resolved and we are going to disable the groups drop down. https://github.com/hypothesis/lms/issues/294#issuecomment-431487038. In light of that I'm going to go ahead and start working on disabling the groups drop down which will also solve this issue.

[2018-10-24 09:11] seanh opened #850 "Upgrade Jenkins to latest LTS version"
We really can't be running an out-of-date version of Jenkins that has lots of known security vulnerabilities. Even though I haven't looked / don't know how serious the vulnerabilities are and whether they affect us (all I know is "multiple security vulnerabilities") I think we need to be on a train of easily upgrading Jenkins when new LTS versions come out.

_So_ I'm gonna go ahead and try to skip

[2018-10-24 10:53] seanh commented on #850
Done (see Slack thread link above)

[2018-10-24 10:53] #850 closed, assigned to seanh

[2018-10-24 16:48] klemay opened #851 "Document annotation data model in detail"
We need documentation of the annotation data model in order to investigate document equivalence issues (and hopefully, empower website owners to investigate these issues themselves).

Generally, when documents are incorrectly linked, I check to see if they have the same DocumentID assigned in Metabase. But once I have this information, it's unclear what I should do with it.

## Questions about Doc

[2018-10-24 17:31] lyzadanger commented on #680
Please note the description and title has been edited to capture a few nuances. This card will now serve as an epic for several sub-issues.

[2018-10-24 17:44] lyzadanger opened #852 "When particular config present, client should filter out other groups"
Part of https://github.com/hypothesis/product-backlog/issues/680

There's a dependency between this issue and https://github.com/hypothesis/lms/issues/301

In the presence of a particular config option identifying a specific "focused" group (from the LMS app), the client should filter out the groups from the API response that are _not_ that group and only display/provide access to the focused grou

[2018-10-24 17:45] lyzadanger commented on #841
This ticket is still valid, but is not presently actionable.

[2018-10-24 20:00] klemay commented on #807
It's live! https://web.hypothes.is/blog/new-search-capability/

[2018-10-24 20:00] #807 closed, assigned to nobody

[2018-10-25 11:18] seanh opened #853 "Fix PagerDuty schedule collisions"
As discussed we've had a problem for a while that our primary and secondary on-call schedules sometimes overlap. Last week I was both primary and secondary on-call at once. This week Hannah was both. This has been a problem since forever (dating back to the days of Nick and Christof).

[2018-10-25 11:19] seanh commented on #853
I've meddled with the schedules and I think it's fixed now:

• We had 5 people on the primary on-call schedule but only 4 people on the secondary (for some reason it looks as if Sheetal was removed from or was never added to the secondary schedule)

• As long as there are different numbers of people on the two schedules then they will rotate at different speeds and you will always, in time, get co

[2018-10-25 11:20] seanh commented on #853
See also this comment from Rob:

[2018-10-25 11:21] seanh commented on #853
Slack thread: <https://hypothes-is.slack.com/archives/C4K6M7P5E/p1540465155000100>

[2018-10-25 11:21] #853 closed, assigned to seanh

[2018-10-25 13:23] robertknight commented on #844
Some initial thoughts from me about the implementation: https://gist.github.com/robertknight/d393654da17ea3e5f23a0cfb7d5fa860

[2018-10-25 14:09] dwhly commented on #844
A note:

Presumably as part of this work the share link in the sidebar, which was upgraded a while back to a bouncer link, would be further modified to include whichever group the sidebar is currently scoped to.  Also, presently, the "Visit annotations in context" link in activity pages links to the first annotation displayed in the returned list--specifically because previously we had no way to p

[2018-10-25 14:29] lyzadanger commented on #844
@dwhly I think the things you are mentioning are valid and reasonable ideas, but that some (e.g. shareable links into private groups) fall outside of the scope of this feature (that we need to ship quickly for QDR). The scope of the QDR work is encompassed in the three user stories currently in this issue's description. If we've got the user stories wrong for this feature, let's discuss!

[2018-10-25 16:41] robertknight commented on #844
Lyza, Dave and myself had a meeting today to discuss an implementation plan. The summary is contained in this Gist: https://gist.github.com/robertknight/d393654da17ea3e5f23a0cfb7d5fa860

The rough breakdown of work involves:

- A change to bouncer to support specifying a group to go to as well as a URL
- Reading that group in the client and using it a) request that group from the API explicitly an

[2018-10-25 23:06] dwhly commented on #167
Related to: https://github.com/hypothesis/vision/issues/207

[2018-10-25 23:18] dwhly commented on #844
@robertknight Is it appropriate to add two issues focused on those particular (separate) requirements?  i.e. one for the share link in the client, and one for the link in activity pages?  If so, I can create.

Excellent point, thank you.  A good reminder that we need that "All scope" at some point, i.e. "Everything I have permission to see".  https://github.com/hypothesis/product-backlog/issues/16

[2018-10-26 16:16] dwolfe commented on #848
This issue also dovetails with the QDR work: https://github.com/hypothesis/product-backlog/issues/844

I had QDR in mind when I created this issue, since solving for sharing unscoped groups has implications for the group selector, but this should be helpful beyond QDR's needs. Thankfully, the backend work being done for QDR will enable some of the features discussed in the issues @dwhly referenced

[2018-10-26 17:40] klemay commented on #844
I'm adding this comment but not re-opening the issue only to capture a question/concern I brought up in Slack. **I don't expect devs to respond or even change the course of their work as the result of this comment**, just capturing it here in case it is useful later.

This QDR user story for restricted groups seems to conflict with the existing restricted groups user story for publishers/website o

[2018-10-30 11:19] seanh opened #854 "Deploying new code is broken (all apps), Jenkins Docker Hub permissions issue"
Example: https://jenkins.hypothes.is/job/bouncer/job/master/144/console

Slack thread: https://hypothes-is.slack.com/archives/C4K6M7P5E/p1540898507030300

[2018-10-30 12:02] seanh commented on #854
Fixed (see Slack thread)

[2018-10-30 12:02] #854 closed, assigned to seanh

[2018-10-30 14:43] ajpeddakotla commented on #844
Reopening this issue as @dwolfe @dwhly and I have been having further discussions around it to refine the user stories and requirements.

[2018-10-30 14:56] ajpeddakotla opened #855 "Create a link to share a group"
Part of https://github.com/hypothesis/product-backlog/issues/866

### Problem
Currently, there is no way for users to create links to share a group with other users.

### User Story
As a user, I’d like to be able to create a link to view annotations for a document made by a specific, group, even if I am not a member of that group.

### Acceptance Criteria
- [ ] Users should be able to use group id

[2018-10-30 15:39] dwhly commented on #855
One note:

![screen_shot_2018-10-30_at_8_04_18_am](https://user-images.githubusercontent.com/1413074/47730441-6320f000-dc1f-11e8-8fce-0511e03a627a.png)

The share link UI is missing the copy button that we have in the direct link below, we might want to take this oppy to harmonize.

Happy to create a separate issue if that's preferable. @dwolfe ^

Also, a note that we have a report that the copy t

[2018-10-30 21:06] renehamburger commented on #324
Is internationalisation (i18n) of your client on your roadmap? It seems to be a prerequisite for publishers embedding the client on their non-English site.

I've used https://github.com/i18next/ng-i18next in the past. It's an i18n-framework for AngularJS that's easy to set-up and pretty small.

You'd probably want to include a json for English strings in your client to prevent the need to load a s

[2018-10-30 21:53] dwolfe opened #856 "Improve UX and accessibility of buttons/icons"
Reported by @xolotl in Slack:
![screen shot 2018-10-30 at 2 29 02 pm](https://user-images.githubusercontent.com/1348738/47751891-320ce380-dc50-11e8-88a9-1b118c3fa50c.png)

The current sizes of the social icons at the bottom right of the client are below the recommendations for mobile applications, and accessibility more generally. The icons themselves are 16px tall and 13.5-16px wide (borders adde

[2018-10-30 22:00] ajpeddakotla opened #857 "Cursor positioning on mobile is inconsistent"
### Problem

When typing a new annotation as a reply to another one some way down the panel, caret positioning does not match the actual cursor, meaning where the cursor appears and where the text comes out are sometimes not in the same place. This is somewhat random and hard to replicate, but it happens often enough. When the screen is zoomed it happens even more often.

I wasn't able to replicat

[2018-10-30 22:04] ajpeddakotla opened #858 "Copy to clipboard doesn't work as expected on mobile"
###Problem
I wasn't able to reproduce this on my Android in Chrome, but others have reported that the copy to clipboard sharing functionality does not work. I do see however that the share link that is given to users from the top header doesn't show the clipboard icon at all.

![screenshot_20181030-170304](https://user-images.githubusercontent.com/7463523/47753519-d188a100-dc65-11e8-803d-d784676ed

[2018-10-30 22:18] dwhly commented on #858
I was able to reproduce this in iOS Chrome.

[2018-10-30 22:19] dwhly commented on #856
FWIW I am a strong advocate for being able to unflag-- but appreciate the larger Q of control size.

[2018-10-31 11:36] robertknight commented on #852
This has been deployed in client release v1.98.0.

[2018-10-31 11:36] #852 closed, assigned to hmstepanek

[2018-10-31 14:03] lyzadanger commented on #635
Open groups do not have members, so this is not possible as written.

[2018-10-31 14:04] lyzadanger commented on #635
Can you help me understand how this is different from what is currently possible?

[2018-10-31 14:05] lyzadanger commented on #635
The above sounds like the same thing as

Can you help me understand the difference?

[2018-10-31 14:06] lyzadanger commented on #635
Cool. This captures what @klemay brought up and sounds like a reasonable approach.

[2018-10-31 14:25] klemay commented on #635
I think this is stated as a requirement to reiterate that current functionality shouldn't go away (so it's not different from what's currently possible)

[2018-10-31 14:25] klemay commented on #635
Hah, Tried to cancel a comment I was typing and accidentally closed the issue. I am SO sorry about that. Moving it back to Near Term on the roadmap

[2018-10-31 15:23] klemay commented on #493
Another example: https://hypothesis.zendesk.com/agent/tickets/3278

[2018-10-31 15:40] dwhly opened #859 "Annotation editor on iOS Chrome produces blank panel"
## Bug report form
### Steps to reproduce
1. Go to recent Chrome on iOS (12)
2. Go to a site with H embedded (https://elifesciences.org/articles/04889)
3. Sign in
4. Select text, click annotate

### Expected behaviour
Editor should appear

### Actual behaviour
A blank space shows in sidebar

![img_0082](https://user-images.githubusercontent.com/1413074/47799852-5a482100-dce8-11e8-8d2e-0a878ec59f22

[2018-10-31 17:07] klemay commented on #111
Another request came from a user in the vision repo: https://github.com/hypothesis/vision/issues/233

[2018-10-31 17:12] hmstepanek opened #860 "Slow api/annotations:create endpoint"
The create annotation endpoint has a lot of slow requests. This appears to be due to some loops around document uri's. We should investigate why there are these loops and ways to reduce them and thus the number of requests made to the db.
![image](https://user-images.githubusercontent.com/30059933/56978858-5416ee00-6b2d-11e9-9f18-8afb3b0a2202.png)
[detailed trace in NewRelic](https://rpm.newrelic.

[2018-10-31 17:13] klemay commented on #493
Another example: https://github.com/hypothesis/h/issues/5401

[2018-10-31 17:38] klemay commented on #859
Tried this on my iPhone XS, iOS 12 with Chrome, and was not able to reproduce:

![img_8390](https://user-images.githubusercontent.com/12087705/47807386-49aca080-dd12-11e8-923b-04be4668e3c3.PNG)
![img_8391](https://user-images.githubusercontent.com/12087705/47807389-4ca79100-dd12-11e8-929c-3c864224f79e.PNG)

it worked just fine for me!

Version: 1.98.0 (slightly more updated than @dwhly it looks li

[2018-10-31 18:11] robertknight commented on #860
Can you add links to the New Relic dashboard where you got this screenshot from?

[2018-10-31 18:21] klemay commented on #858
Reproduced on Chrome for iOS. A couple of notes:
 - I had to tap on the "Share" button a few times before the share link appeared
- I had to tap on the Clipboard icon several times before anything happened
- When I tap on the Clipboard icon, rather than automatically copying the link to my clipboard, I am prompted to "Select and copy to share"
- When I try to select the link text and copy, I am un

[2018-10-31 18:26] hmstepanek commented on #860
Transaction traces are located at the bottom of this [page](https://rpm.newrelic.com/accounts/1385283/applications/22688631/transactions?tw%5Bend%5D=1540968112&tw%5Bstart%5D=1540881712#id=5b225765625472616e73616374696f6e2f46756e6374696f6e2f682e76696577732e6170692e616e6e6f746174696f6e733a637265617465222c22225d&sort_by=throughput). If you expand one of those traces and look at the Database queries t

[2018-10-31 18:32] seanh opened #861 "Fix lint issues on Bouncer and upgrade Bouncer to Python 3.6 and Alpine 3.8"

[2018-10-31 19:06] klemay commented on #857
I'm also not able to reproduce this, however:

It's very possible that this could be fixed by https://github.com/hypothesis/product-backlog/issues/788

[2018-10-31 23:04] dwolfe commented on #111
Leaving a thought or two here:

- This seems easy enough until you factor in replies, and group permissions (which, incidentally, are currently in flux themselves at the moment). That said, I'll be very interested to see how Github's new feature works in real world use: https://twitter.com/github/status/1057678791764467712
- Some of the user requests above might be satisfied with export, which cou

[2018-11-01 15:53] hmstepanek commented on #546
I started doing this a couple weeks ago and filed a bunch of issues that are now at the top of the ops backlog. I think part of this is another LF to teach how to use NR to identify these issues. I'm going to add that to the LF channel.

[2018-11-01 16:35] lyzadanger opened #864 "Add support for direct links to a page showing annotations in a particular, world-readable group"
(The work also known as the "QDR project").

Part of https://github.com/hypothesis/product-backlog/issues/866
Depends on https://github.com/hypothesis/product-backlog/issues/865

As any Hypothesis user, I want to be able to follow a shared link to a webpage, so that I can see all of that page’s annotations within a particular world-readable group.

As any Hypothesis user following a group-share li

[2018-11-01 17:11] lyzadanger opened #865 "Add option for world-readable groups to be available outside of their defined scopes in certain cases"
Part of https://github.com/hypothesis/product-backlog/issues/866

As a publisher, I want to be able to decide whether a given restricted group I control should be visible (and allow annotation) for members outside of its defined scopes, such that I am able to control where my group’s members may annotate.

As a member of a restricted group that my publisher has allowed to be annotated outside of i

[2018-11-01 17:19] lyzadanger opened #866 "Allow direct-link sharing to annotations within a group context"
Informed by https://github.com/hypothesis/product-backlog/issues/844

This epic tracks these high-level user stories, as informed by requirements in https://github.com/hypothesis/product-backlog/issues/844 and its related issues, translated into implementation "chunks."

### User Stories

If I’m viewing a group’s annotations on a page, I want to also be able to grab a link such that I can direct o

[2018-11-01 17:33] robertknight commented on #861
https://github.com/hypothesis/bouncer/pull/171

[2018-11-01 17:33] #861 closed, assigned to seanh

[2018-11-01 17:37] lyzadanger opened #867 "Perfect the flow for viewing direct-linked private group context annotations"
Part of https://github.com/hypothesis/product-backlog/issues/866

Inspired by: https://github.com/hypothesis/product-backlog/issues/748

This issue is intended to track UX, privacy or functional problems that arise from allowing direct links to annotations within the context of a _private_ group.

it is placeholder-y for the time being, but a known piece of https://github.com/hypothesis/product-ba

[2018-11-01 18:04] hmstepanek opened #868 "Disable the groups drop down menu when thirdparty and only one group"
If it is a third-party service and there is only one group to be displayed in the groups drop down, do not display the group drop down menu. This has the following advantages:
 1. It doesn't waste the user's time by clicking on a drop down only to see no other option.
 1. It removes the ability of a user to leave a group that they shouldn't be able to leave.
 1. Third-party services don't have mul

[2018-11-01 18:41] lyzadanger commented on #868
Related to https://github.com/hypothesis/product-backlog/issues/841

[2018-11-01 18:56] lyzadanger commented on #841
Closing because I believe that https://github.com/hypothesis/product-backlog/issues/868 renders this particular issue no longer valid, but reopen as necessary!

[2018-11-01 18:56] #841 closed, assigned to nobody

[2018-11-02 11:50] seanh commented on #843
^ In the short term I think we're gonna remove, not fix, the share links, as there is no way (that I'm aware of) to make these links work in the LMS context. They probably will never work inside an LMS, is my guess.

[2018-11-02 12:12] seanh commented on #680
@lyzadanger I wonder if we can close this? I believe the acceptance criteria are done. The _leave group_ link is still shown, but we have a separate issue for hiding that link / hiding the groups menu entirely, and even with the _leave group_ link still present you can only temporarily leave the group (it just adds you back next time you launch an assignment). Apart from that I think the other cri

[2018-11-02 12:13] seanh commented on #597
@lyzadanger Can we close this now?

[2018-11-02 12:13] seanh commented on #594
@lyzadanger Can we close this now?

[2018-11-02 12:14] seanh commented on #593
@lyzadanger Can we close this now?

[2018-11-02 13:12] #594 closed, assigned to nobody

[2018-11-02 13:13] #593 closed, assigned to nobody

[2018-11-02 13:15] robertknight opened #869 "Remove real-time updates at https://hypothes.is/stream"
This is supported by some old, untested code in the client and undocumented publicly exposed WebSocket APIs in h. Removing this feature will let us make changes more easily to the real-time features in the client, and supporting service in h, which are actively used.

After this change the stream will still be available, but users will need to manually refresh the page to see updates.

**Done when

[2018-11-02 13:15] robertknight commented on #869
Client PR: https://github.com/hypothesis/client/pull/802

[2018-11-02 13:18] lyzadanger commented on #680
@seanh I'm going to leave this open until we execute on #868

[2018-11-02 13:35] #758 closed, assigned to robertknight

[2018-11-02 14:36] #784 closed, assigned to nobody

[2018-11-04 22:38] bijang commented on #566
I would like to show support for this idea, my personal workflow would be zotero extension zotfile to extract highlight and annotations (for me to plain text in emacs, alternatively docx/odt etc)

[2018-11-04 22:43] bijang opened #870 "Feature request : ?nextcloud pdf.js integration"
I know we're still waiting on firefox pdf.js, but it would be cool to bring this as an optional add on to the nextcloud platform which also utilises the same library and would also be a way to further acces the mobile and cloud platform more directly

[2018-11-05 01:53] dwhly commented on #566
What format would you prefer for export?

On Sun, Nov 4, 2018 at 2:38 PM bijang <notifications@github.com> wrote:

--
+1 650 274 7647 m

[2018-11-05 16:12] klemay commented on #110
More requests for this feature here: https://groups.google.com/forum/#!msg/hypothesis-forum/4kc4d8UXBk4/SdS0tjgxDAAJ

[2018-11-05 16:15] csillag opened #871 "Linking annotations together"
I am creating this issue based on an earlier e-mail thread,
because this is relevant to of our current discussions.
(I am editing the text slightly.)

---

We should have a way to link existing annotations together. (Probably with annotations.)
Also, we should offer a way to create a new annotations, end immediately link it to an existing annotation, in one, easy step.

The basic feature (linking

[2018-11-05 18:54] klemay opened #872 "Question: Why does Chrome extension log out on each page load if 3rd party cookies are not allowed by default?"
**Note for developers:** This is a question, not a feature request at this time. Depending on the _answer_ to this question, a feature request may come out of it.

Twitter user nicknikolov reached out to us because the Chrome extension was logging him out every time he opened a new tab and every time he did a page reload:

https://twitter.com/nicknikolov/status/1058095765673951234
<img width="618"

[2018-11-05 19:04] judell opened #873 "add application/rdf+xml and application/opml+xml to list of ignored types for rel="alternate""
Annotations were aliased across a bunch of subdomains of hypotheses.org:

![image](https://user-images.githubusercontent.com/46509/48020123-efcd2180-e0e9-11e8-9a8d-ec479473c9ff.png)

Here is part of the problem. When the client acquires metadata at *.hypotheses.org it includes:

`{href: "https://vertigo.hypotheses.org/feed/rdf", rel: "alternate", type: "application/rdf+xml"}`

We intend to ignore

[2018-11-05 19:16] robertknight commented on #872
The embedded Hypothesis client stores details (an API token) for the logged-in user in local storage. Third-party cookie blocking typically prevents third-party iframes (ie. those with a different origin than the tab itself) from storing data in local storage as well, because otherwise that would be used to bypass cookie blocking. The end result is that the client typically cannot persist the logi

[2018-11-05 19:33] klemay commented on #110
One user has [requested](https://groups.google.com/d/msg/hypothesis-forum/Sw6mB005gfU/il43yEXdDAAJ) the ability to make this a persistent / global configuration:

[2018-11-06 01:27] judell commented on #111
It's worth considering the root cause here, @dwolfe.  If the user "made a mistake and annotated in the wrong group" we should probably ask why that's such an easy/common mistake (which it is, ask @jeremydean), and consider how to make it less likely.

[2018-11-06 15:30] klemay commented on #111
From Zendesk today:
https://hypothesis.zendesk.com/agent/tickets/3309

[2018-11-06 17:06] ajpeddakotla commented on #844
Closing this as work has been broken down

[2018-11-06 17:06] #844 closed, assigned to robertknight

[2018-11-06 18:45] hmstepanek opened #874 "/api/profile:profile is slow"
![image](https://user-images.githubusercontent.com/30059933/56984865-ea521080-6b3b-11e9-89e0-d0681b529c90.png)
![image](https://user-images.githubusercontent.com/30059933/56984891-fc33b380-6b3b-11e9-870a-d9716fcd94dc.png)

[detailed trace New Relic](https://rpm.newrelic.com/accounts/1385283/applications/22688631/transactions?tw%5Bend%5D=1556646058&tw%5Bstart%5D=1556041258#id=5b225765625472616e7361

[2018-11-06 19:48] klemay commented on #1146
@xolotl has found another example of this here: https://github.com/hypothesis/support/issues/44

...though in his example, it seems to only be a problem with the Bookmarklet (not Chrome extension or via)

[2018-11-06 23:02] judell commented on #873
I _think_ I see a fairly low-effort solution.

1. Change `(rss|atom)` to `(rss|atom|rdf|opml)` here: https://github.com/hypothesis/client/blob/734e3a25318364819a8c38ef881e4788a2b06365/src/annotator/plugin/document.js#L180, to prevent this happening again.

2. Delete all records in `document_uri` matching https://metabase.hypothes.is/question/436, to remove bogus hirmeos-related equivalences. (Or p

[2018-11-07 13:56] robertknight commented on #544
Work on CloudWatch logs is happening in https://github.com/hypothesis/deployment/pull/29

[2018-11-07 19:22] klemay commented on #872
Thanks, @robertknight, that's really helpful! I'm going to close this issue and create a separate backlog item to be prioritized.

[2018-11-07 19:22] #872 closed, assigned to nobody

[2018-11-07 20:14] klemay commented on #111
Another user request: https://hypothesis.zendesk.com/agent/tickets/3319

[2018-11-08 08:47] robertknight commented on #544
CloudWatch logs are now enabled for all Python web services, with the initial exception of via. This provides centralized access and searching of current and historical stdout/stderr logs from the Docker container, nginx access and error logs, plus a few other files.

Let's see whether this meets our needs in practice. If not, we can look into other options.

[2018-11-08 08:47] #544 closed, assigned to robertknight

[2018-11-08 18:16] klemay commented on #1146
Another example: http://linear.pugetsound.edu/html/section-RREF.html

[2018-11-08 18:18] majkinetor commented on #774
I am genuinely surprised that h doesn't support this. Its instant turn down (I won't even consider using it without this and some other essential things like exporting annotations)  It's a pity, because many other aspects are fantastic.

I am currently using [DIigo](http://diigo.com) and hypothesis should really steal some features from it, including this one.

Tags are main organizational element

[2018-11-08 18:40] klemay commented on #774
Hi @majkinetor, thanks for this feedback regarding tags. Regarding your comment:

Exporting annotations is currently possible through the API and with a user-facing tool developed by our Director of Integrations. More info on that here: https://web.hypothes.is/help/how-do-i-export-my-annotations/. Export is scheduled to become a part of the core product for the near term on our [product roadmap](h

[2018-11-08 20:37] #869 closed, assigned to nobody

[2018-11-08 21:15] majkinetor commented on #774
I will write here just because its faster for me then to jump all around and you already knows where everything should belong. I am posting here some pictures from my own Diggo collection.

I know that export is currently possible through API or 3thd party app, but you can also call such interventions by its real name - pain. That is not one-time operation, its like several times per day operation

[2018-11-08 21:36] klemay commented on #774
@majkinetor thanks, that clears a few things up. The feature you're describing is separate from export, and is more akin to what is described in https://github.com/hypothesis/product-backlog/issues/21, though your intent is to share to other apps rather than to print.

[2018-11-08 21:50] majkinetor commented on #774
I am describing multiple features, first one is exactly like export you mentioned in your first answer (plain text variant). Outliner is HTML similar to HTML export.

My intent is to get usable form in any context - print, share, embed, whatever really...

[2018-11-08 21:56] klemay opened #876 "Remove false document equivalence for partner"
Related to https://github.com/hypothesis/product-backlog/issues/873.

This comes from a partner [via Zendesk](https://hypothesis.zendesk.com/agent/tickets/3242). They are trying to embed Hypothesis on their site, but many of their HTML pages have been given the same DocumentID in H. This causes improper grouping of annotations on activity pages and annotations appearing as orphans on pages where t

[2018-11-08 23:36] dwhly commented on #774
@majkinetor Thanks for these suggestions.  I'm curious about several things:
- What features would we need to enable in order for you to switch from Diigo?  I know you've listed a few here, but it would be quite helpful for us to have your minimum set here.  Is it just the export and the few tag related manipulations here?
- At that point, why would you switch?  In other words, what are the things

[2018-11-09 14:56] majkinetor commented on #774
- Tag management and actions based on tags (delete annotations/notes with tags, set to public or private, share to group etc.)
- Focused research - use previously entered tags or keep few last collection sets in combo for quick reset.
- Annotation export - plain text at minimum
- Hotkeys, because real people use keyboard.
- Mobility (not sure if it exists now, never checked). Just a simple mobile

[2018-11-10 00:31] hmstepanek commented on #53
Ah, I was wondering why this didn't make it into the ES work. Turns out it did but got dropped off the queue at some point.

[2018-11-13 14:56] klemay commented on #575
This [came up today from a partner](https://hypothesis.zendesk.com/agent/tickets/3206) who thought it was a bug:

[2018-11-13 17:54] klemay commented on #695
Another report of H not working with the atlantic today: https://hypothesis.zendesk.com/agent/tickets/3345

[2018-11-13 23:06] SteelWagstaff commented on #718
Hey good people at Hypothesis. Wondering if this might a conversation we could pick up on again now that your LTI tool work has advanced. Can anyone provide a brief summary of the 'state of the possible' regarding LTI authentication and third-party account provision these days (what @judell called the "3rd party mechanism and the forthcoming LMS mechanism" above)?

[2018-11-14 00:06] dwhly opened #877 "Long URLs (strings?) cause annotation card controls to misalign"
## Bug report form
### Steps to reproduce
1. Make an annotation with a long URL embedded, like the reply here: https://hyp.is/RjbBWOeSEeije7sb74asRA/web.hypothes.is/help/how-do-i-navigate-to-the-search-and-profile-pages/
2. Reply to it

### Expected behaviour
Controls on reply should be properly laid out

### Actual behaviour
Controls (and timestamp) are shifted to the right.

### Browser/system i

[2018-11-14 00:31] judell commented on #718
I too have been thinking about how the LMS/LTI work advances the (nice phrase!) _state of the possible_.

Here's how it looks to me:

What's running at elifesciences.org, for which the worked example is  https://github.com/hypothesis/publisher-account-test-site, might be called v1 of Hypothesis 3rd-party authentication. It enables a partner site to auto-provision 3rd-party Hypothesis identities wi

[2018-11-14 16:04] klemay commented on #1146
Another example ([reported by Heather](https://hypothesis.zendesk.com/agent/tickets/3349)): https://www.technologyreview.com/s/612415/united-nations-considers-a-test-ban-on-evolution-warping-gene-drives/#annotations:88K4WOeiEeiAvotOJyBg7A

[2018-11-14 16:12] jeremydean commented on #718
The conversation I'd be interested in hearing--and particularly hearing @lyzadanger's thoughts on--is about what it looks like to distribute and then unify 3rd party account creation with Hypothesis across multiple platforms.

I may be using terms wrong, but we have "SSO" for elife. we (soon will) have SSO for LMSs. how do we continue to provide that type of SSO service in a reproducible (portable

[2018-11-15 00:37] leonoverweel commented on #426
Any word on this? It'd be great if restricted groups could be used for this by anyone with an account on hypothes.is!

[2018-11-15 00:39] leonoverweel commented on #426
This also seems to overlap quite a bit with #236.

[2018-11-15 01:08] jaredgonzales opened #878 "Mobile Cursor Jumps to Bottom of Page"
## Bug report form
### Steps to reproduce
1. Open any page/document/link with H on mobile (android)
2. Select large groupings of text quickly, more than two lines

### Expected behaviour
Tell us what should happen.
     1. Selects large groups of text quickly like normal keyboard/selections. Multiple lines of text should be selected for highlighting or annotations.
### Actual behaviour
Tell us wha

[2018-11-15 16:22] klemay commented on #426
@leonoverweel the feature that comes out of this work will go through a pilot phase with some initial partners, but our plan is to eventually make this available to all users! (And of course, the code that enables this feature will be available in our codebase.)

This is separate from the work required for #236, which we haven't started planning yet, though #236 is also high priority for us!

[2018-11-15 18:51] klemay commented on #798
Going to use this to track outstanding delete requests that we can't complete:
- https://hypothesis.zendesk.com/agent/tickets/3355
- https://hypothesis.zendesk.com/agent/tickets/3341

[2018-11-16 18:12] hmstepanek opened #879 "Move /assets to nginx"
/assets are static and they are best served from nginx directly as opposed to python. This will do 2 things:
1. The /assets endpoint will be faster.
2. The load on the server will be decreased and it will free up gunicorn to be used for other requests.

in h/conf/nginx.conf add something like:
[code]

[2018-11-16 18:19] hmstepanek commented on #717
Ran across this rather impressive stat while looking into rate limiting:
Badge uses ~ 7/12 gunicorn workers per host so it accounts for more than half of our total aws host cost. @dwhly

[2018-11-16 18:28] hmstepanek opened #880 "Add New Relic metrics to activity pages"
Add metrics to record activity page usage (we need metrics on how users are using search and also a userid to attach to the request in NR just like we have for the api requests which will help us track request rate info).

[2018-11-16 23:10] dwhly opened #881 "Groups control no longer functional w/ FF bookmarklet"
## Bug report form
### Steps to reproduce
1. Go to a PDF using Firefox 63.0.3 or later (https://arxiv.org/pdf/1606.07192v1.pdf)
2. Activate the H bookmarklet

### Expected behaviour
Annotations should show up in the Public group, you should be able to see groups in the dropdown.

### Actual behaviour
Group control is non-functional

### Browser/system information
FF bookmarklet.

### Additional de

[2018-11-16 23:54] dwhly commented on #881
![screen shot 2018-11-16 at 3 52 24 pm](https://user-images.githubusercontent.com/1413074/48653112-cf3d7b00-e9b7-11e8-8e84-2452832cf4a7.png)

As reported on our open slack channel today... ^

[2018-11-17 00:36] dwhly commented on #881
Additional note, make sure you're on most recent FF 63.0.3 or later.  That's where this started showing up per @hmstepanek

[2018-11-17 08:26] robertknight commented on #881
I was not able to reproduce the issue this morning in Firefox 63.0.3 when using Via (https://via.hypothes.is/https://arxiv.org/pdf/1606.07192v1.pdf) but I was able to reproduce it by loading the production bookmarklet into a tab showing the PDF directly using PDF.js' internal viewer https://arxiv.org/pdf/1606.07192v1.pdf.

The difference here is that different versions of  PDF.js are being used. M

[2018-11-17 08:36] robertknight commented on #881
Stepping through a load right now I found a different issue which looks like an unrelated (and non-fatal) bug. The polyfill added in https://github.com/hypothesis/client/pull/794 fails to detect that the native `NodeIterator` can be used. In this code in the `dom-node-iterator` package:

[code]

This function is called with `root` being an `HTMLDocument` and [`ownerDocument` is null](https://devel

[2018-11-17 08:47] robertknight commented on #881
Found the problem. [This commit](https://github.com/mozilla/pdf.js/commit/e522b2d87e8eb3d4eb8a391a098a0f6f157e8c12) removed the `window.PDFViewerApplication.documentFingerprint` property, which the client [uses](https://github.com/hypothesis/client/blob/c5f85bdbf4e7adb262c13e978b8b676f374941e0/src/annotator/plugin/pdf-metadata.js#L44) to detect when the PDF has loaded and the necessary metadata ca

[2018-11-17 08:56] robertknight commented on #881
The reason this issue "breaks the groups control" is because the client delays fetching groups and annotations from the API until the document is loaded and so the necessary metadata for searching is known. Due to this API change in PDF.js, the client thinks that the PDF hasn't finished loading yet, so it gets stuck forever in a waiting state.

[2018-11-19 16:47] dwhly opened #882 "Remove share widget exclusion for elife"
## Feature Request Form
### Problem you are trying to address with this feature

There is no share button for the elife implementation.

This commit:
https://github.com/hypothesis/client/commit/d11be3fb0ac168d80c65603bad4b735bd455200b

Removed this capability, but only for their authority.  Per the commit message:

### Your solution

Now that we use bouncer links in the share widget, as of this PR

[2018-11-19 21:25] #881 closed, assigned to robertknight

[2018-11-20 01:27] SteelWagstaff commented on #881
@robertknight -- thanks for your sleuthing on this! Quick question for you. Naomi and I have been experiencing this issue on our Wisconsin Pressbooks network, which is running your fork of the H client that supports H5P embedding. Will this fix, once shipped, work there, or will we need to have you update that fork/branch so that it's up to date with the main client again?

[2018-11-20 09:55] robertknight commented on #881
Hi Steel,

Since the H5P support is [still in a fork](https://github.com/robertknight/client/tree/h5p) it did need updating separately, I've done this locally and updated the deployed H5P version. This served as a reminder that I need to talk to the rest of the team again about upstreaming this!

[2018-11-20 12:06] robertknight commented on #843
We discussed some possible implementations [on Slack](https://hypothes-is.slack.com/archives/C1M8NH76X/p1542712192002300). We came up with three broad options:

1. Implicitly hide these links in cases where the client is using a login provided by a parent frame, since direct links are not going to work in this case.
2. Explicitly require third party authorities to disable share links in their conf

[2018-11-20 15:42] robertknight commented on #849
Status update: There is an [approved PR open](https://github.com/hypothesis/h/pull/5423) which implements rate limiting and metrics/alerts have been configured in Cloudwatch. Hannah is planning to deploy this when she gets back on Friday.

[2018-11-20 15:43] dwhly commented on #849
Thank you (per my other question).

[2018-11-20 17:09] robertknight commented on #843
This is now done and deployed.

[2018-11-20 17:09] #843 closed, assigned to robertknight

[2018-11-21 11:38] #868 closed, assigned to hmstepanek

[2018-11-21 11:38] robertknight commented on #868
This is done.

[2018-11-21 16:12] #750 closed, assigned to nobody

[2018-11-21 16:13] #751 closed, assigned to nobody

[2018-11-21 16:13] seanh commented on #847
@robertknight I think we can close this now?

[2018-11-21 16:29] lyzadanger commented on #680
With the merging of https://github.com/hypothesis/product-backlog/issues/868, we have completed this epic!

[2018-11-21 16:29] #680 closed, assigned to nobody

[2018-11-22 09:45] xkater opened #883 "Feature Request: Specify hyperlink target=" " within Annotation text"
I have a simple html Discussion application with 2 (side-by-side) iframes.
iframeSourcedoc = the document that will be Annotated
iframeSupportDoc = any reference document ( e.g., one that supports the arguments made in the Sourcedoc Annotation text)

1) Create an hyperlink within the SOURCE document's Annotation text
2) Click such an hyperlink  >>> loads this supporting doc in iframeSupportDoc

Pr

[2018-11-22 14:50] robertknight commented on #30
Closing this as done. Any follow-up concerns should be raised in new issues.

[2018-11-22 14:50] #30 closed

[2018-11-22 14:51] robertknight commented on #403
We have RDS' automated backups of the lms DB. I'm going to close this for now until we have a clear need for logical backups for other reasons.

[2018-11-22 14:51] #403 closed, assigned to nobody

[2018-11-23 21:35] ajpeddakotla commented on #466
This use case also fits in with this: https://hypothesis.zendesk.com/agent/tickets/3386

1:1 comms with annotators is similar to the use case of contacting the author of an annotation.

[2018-11-24 18:14] hmstepanek opened #884 "Consolidate Nginx's"
# Problem:
Currently aws elastic beanstalk's instances are wrapped in nginx and we also have nginx inside our application's docker container. We don't need two nginx's. See [aws nginx docs](https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/java-se-nginx.html) for details.

Our current setup of running nginx in the same docker container as our application is less than ideal in several ways:
1.

[2018-11-24 18:33] hmstepanek commented on #257
I think we have pretty good coverage of this in New Relic now. We've seen several alerts triggered from New Relic over the past couple months due to high loads. They general manifest as a deviation from baseline in the db time or deviation from baseline in the request time. As we experience a higher volume of traffic generally the CPU utilization increases to a point where things start slowing dow

[2018-11-24 18:57] hmstepanek opened #885 "Make an incident response guide"
We should have mitigation plans in place for certain kinds of incidents.
For example if a user is hammering H, how do we block them, if we release something to prod that takes down the app how to we quickly roll back, if we accidentally lose the most recent version of our db/it gets corrupted how do we restore it from a snapshot?

Having basic plans of action for typical incidents ensures quick re

[2018-11-25 18:19] robertknight commented on #884
So aside from having one less proxy server in the request-response chain, this would presumably mean moving the nginx config out of the "h" repo and into the "deployment" repo?

That may make sense anyway as it means that we could have stuff in the nginx config which is specific to our QA/prod environment without worrying about trying to make it reusable for other people deploying the Docker image

[2018-11-26 11:40] robertknight commented on #884
This would also enable us to fix an issue where the nginx access logs in CloudWatch show the load balancer IPs instead of the original request IPs as reported by the `X-Forwarded-For` or `CF-Connecting-IP` headers.

[2018-11-26 19:45] klemay commented on #86
Feature request [from Twitter](https://twitter.com/clarkshahnelson/status/1063755658716225536):

[2018-11-26 20:31] klemay commented on #1146
Another example ([reported by Heather](https://hypothesis.zendesk.com/agent/tickets/3387)):
https://www.nytimes.com/interactive/2018/11/21/nyregion/new-york-storefronts-mystery-font.html?em_pos=large&emc=edit_ur_20181124&nl=new-york-today&nlid=10720327edit_ur_20181124&ref=headline&te=1

The annotation adder is transparent:
<img width="687" alt="screen shot 2018-11-26 at 3 29 41 pm" src="https://us

[2018-11-27 11:32] #847 closed, assigned to nobody

[2018-11-27 22:34] ajpeddakotla commented on #748
closing in favor of #867

[2018-11-27 22:34] #748 closed, assigned to ajpeddakotla

[2018-11-27 22:35] ajpeddakotla commented on #635
Closing in favor of the epic work described here: https://github.com/hypothesis/product-backlog/issues/866

[2018-11-27 22:35] #635 closed, assigned to ajpeddakotla

[2018-11-28 06:27] hmstepanek opened #886 "Spike: decide how to roll back a bad prod release"
Our current roll back methodology of creating a revert commit, releasing it to qa, and then prod means production may be down for ~40 min which is not acceptable.

Scope: This is limited to releases that can be rolled back simply by re-deploying the previous version. (Aka: no dependencies.)

Deliverable: Decide how the team would like to handle this keeping in mind the goal is as little down time

[2018-11-28 06:30] hmstepanek opened #887 "Update robot.txt file for good bots"
There's a robot.txt file located here: h/static/robots.txt for good bots read to know things like the rate limit/what they are allowed to request/etc. We should update its configuration such that good bots don't exceed the rate limits, access endpoints we don't want them to, etc.

It was last updated 2015-12-0 and is pretty skimpy.

[2018-11-28 06:33] hmstepanek commented on #849
Fixed by https://github.com/hypothesis/h/pull/5432.

[2018-11-28 06:33] #849 closed, assigned to hmstepanek

[2018-11-28 06:37] hmstepanek commented on #879
As part of this work the rate limiting needs to be removed for this particular endpoint.

[2018-11-28 06:42] hmstepanek opened #888 "Version our API; Release 1.0"
The h api is not versioned today. This gives us no way of deprecating features and endpoints which in the long run results in a lot of technical debt.

For example (I'm sure there are many more non search related things) there are several search specific things that would prob be worth deprecating at some point in the future:
- url or uri (we only need one of these)
- tags
- offset

[2018-11-28 06:46] hmstepanek opened #889 "h Dockerfile build times are too long"
H's Dockerfile is all out of order with multiple `COPY ..`'s throughout including one right at the beginning. This results in long build times which does affect our release time since docker is not able to take advantage of incremental compile.

I have a branch for this [here](https://github.com/hypothesis/h/tree/fix-incremental-build-of-dockerfile). It's almost complete but there are a lot of cha

[2018-11-28 17:28] hmstepanek commented on #884
And this would enable us to actually identify an ip to block from the access logs.-All good things.

[2018-11-29 14:58] klemay commented on #94
This came up in conversation at the ATI workshop today. A reviewer mentioned that they could only look at the source text or the annotation at any given time, since the Hypothesis sidebar covered the PDF when open.

[2018-11-29 15:16] judell commented on #94
https://github.com/hypothesis/product-backlog/issues/94#issuecomment-359055472

[2018-11-29 17:09] hmstepanek opened #890 "Move our development environments (h, bouncer, via, lms, maybe also client and browser-extension?) into Docker Compose"
Currently h is not in the docker compose and run separately. This makes the setup more complicated than it needs to be. H should be moved into the docker compose and docker should be used for dev just as it's used in prod. This will also prepare us for moving nginx out of the h docker container and into it's own container which means adding it to docker compose and "depending" on the h container (

[2018-11-29 17:41] lyzadanger opened #891 "Spike: Technical research on activity pages, options"
To prepare for various upcoming projects and features that touch on activity-type views, replies, third-party private groups, etc., we need to understand what the technical landscape is with our current activity pages and what high-level picture would be for our various implementation options.

The goal is to be able to answer questions about "Can we reuse activity pages?" or "What are the constra

[2018-11-30 16:20] dwhly commented on #796
Since presumably we'll still support specifying the http:// or https:// formats, i personally don't see an issue if http:// is required for any URL that specifies a port.  We can probably put that into a kb file somewhere.  I bet that H devs testing against localhost:3000 probably represent 99.9999% of our :port queries. :)

[2018-11-30 20:05] dmfine opened #892 "Set timeout on postgress queries so metabase doesn't fall over"
We've had to kill long running (days) queries by hand. My conservative guess is that queries running longer than 30 seconds are doing something wrong. Let's find out what the baseline is and set the timeout to like 2 or 3 standard deviations from that.
https://dba.stackexchange.com/questions/164419/is-it-possible-to-limit-timeout-on-postgres-server

[2018-11-30 20:05] #842 closed, assigned to robertknight

[2018-12-04 18:17] seanh commented on #789
@lyzadanger I think this is now done?

[2018-12-04 18:53] #789 closed, assigned to robertknight

[2018-12-04 22:40] dmfine opened #893 "Improve docker containers for H"
Currently, the `make dev` command is used for development which runs gunicorn locally inside tox. It would be nice if we could develop inside the same environment we deploy (docker). Currently there are `make docker` and `make run-docker` commands that allow you to build and run the full docker container locally but the `make docker` command which builds the docker image does not use the local ver

[2018-12-05 18:49] lyzadanger commented on #893
Hi @dmfine — I'm a little perplexed by this as `make dev` _does_ work with the local source, irrespective of branch/`master`.

[2018-12-05 19:15] hmstepanek commented on #893
@dmfine I've made some edits to the description so it's more clear. I think you were confusing `make dev` with `make run-docker`. @lyzadanger does it make more sense now?

[2018-12-05 19:26] lyzadanger commented on #893
@hmstepanek Definitely more sense! Thanks!

[2018-12-05 19:47] hmstepanek commented on #892
Note that our rds snapshot backups run queries longer than 30s-so we'll have to take those into account with this setting.

[2018-12-05 19:57] hmstepanek opened #894 "Change our current metabase to talk to a read-only snapshot"
Currently metabase runs queries against our production database. This caused an incident last week. See [incident report](https://docs.google.com/document/d/1HKsFqMVgQaugbkUINWaWG43k0UYSkUu1o0lxGHqflAE/edit#). This poses multiple issues:
 1. A user of metabase can run write queries and could potentially wipe the entire prod database (not that anyone would but we all make mistakes).
 1. Occasionall

[2018-12-05 20:01] robertknight commented on #894
RDS has support for setting up and managing [read replicas](https://aws.amazon.com/rds/details/read-replicas/). Would this be an easier option than creating a DB instance that uses a snapshot? It would also enable queries against the latest data which may sometimes be useful.

[2018-12-05 20:12] hmstepanek commented on #894
^ That sounds reasonable as long as it doesn't run any queries on the master db and disallows writing. It sounds like it acts like it's own db instance on a network of db instances so as long as the query routes directly to the readonly instance and doesn't send anything to master it sounds like it would work. Also we would want to disable this ability (not sure if this is the default or special b

[2018-12-05 20:13] hmstepanek commented on #894
In general I'm pro whichever is simpler.

[2018-12-05 20:40] robertknight commented on #742
See
https://github.com/hypothesis/lms/issues/375#issuecomment-444637947 for a detailed analysis. Minimal repro that does not involve Via:

[code]

[2018-12-05 20:41] robertknight commented on #742
Minimal repro that does not require using Via:

Serve the following page with a local HTTP server and try to load the client into it.

[code]

[2018-12-05 20:43] dwhly commented on #742
@robertknight Are you also observing the problem is w/ one page, or is it more broad?

[2018-12-06 00:32] judell commented on #894
I've written a whole lot of queries, and would sure love a way to share code across them. It'd be great to be able to put shared logic into SQL functions, which I think implies a writable DB instance. But maybe there's another way?

[2018-12-06 00:35] hmstepanek commented on #894
Yeah I guess I'm ok with writing as long as it doesn't affect the master/prod database. Alternatively you can have the sql functions already in there. Do you make a lot of new sql functions or are they just the same ones that you re-use a lot?

[2018-12-06 00:43] judell commented on #894
I haven't made any yet because there's been no opportunity to do so. Ideally I could make them in an exploratory/iterative way.

[2018-12-06 10:19] robertknight commented on #879
The [transactions table in New Relic](https://rpm.newrelic.com/accounts/1385283/applications/22688631/transactions/table?type=app#sort=8%2C1) suggests that the number of asset requests that actually reach the server is pretty small (see `h.assets:wrapper` in that table), because the assets get cached for several hours by Cloudflare. If a change is proposed to make something faster, its always usef

[2018-12-06 10:53] seanh commented on #880
I'm wondering _why_ we need metrics on how users are using search and also a userid? What problem(s) do we have that we're trying to solve here? And then why are New Relic metrics the right solution to this problem/these problems?

Not saying NR metrics aren't the right thing to do here, just that describing the problem we're solving would help me and other developers (who lack the context of what

[2018-12-06 10:57] seanh commented on #889
I updated the issue title to describe what I think is the problem this issue is meant to address.

@hmstepanek I guess that long `Dockerfile` build times are one part of the larger problem that is that deploying new code to QA and production takes too long? Since building the Docker image is one of the things that Jenkins does when you merge new code. I wonder if we should have a "Deploys take too

[2018-12-06 10:59] seanh commented on #879
Does nginx run in dev environments at all? I think the dev envs just run gunicorn directly, so moving assets into nginx might break dev envs?

[2018-12-06 14:55] katrinleinweber opened #895 "Support Markdown task lists"
## Feature Request Form
### Problem you are trying to address with this feature

In a Hypothesis annotation `- [ ]` at the start of a like is rendered as:

- `[ ]`

instead of as the intended:

- [ ] task list item

### Your solution

Add rendering of the above ASCII sequence as a checkbox, using for example a [GitHub](https://guides.github.com/features/mastering-markdown/#GitHub-flavored-markdown

[2018-12-06 16:28] hmstepanek commented on #879
It runs in docker in the dev env. That's a good point, no we don't run nginx when running make dev. We could move it into nginx without really touching the python code-maybe that's gonna leave us in a duplicative state with python and nginx serving files so that doesn't make sense until we are running nginx via docker-compose? Right now we are rate limiting assets and I'd like to get rid of that b

[2018-12-06 16:34] hmstepanek commented on #889
Yes they are. We certainly can.

[2018-12-06 16:38] robertknight commented on #879
We could continue to serve assets from gunicorn as a fallback. We just need to make sure that we're not relying on any middleware/tweens in the Pyramid app modifying static asset requests.

I have to re-iterate my point above though, that the amount of traffic to the assets endpoints appears to be very low in production due to caching in front of the app, so if it looks like this is going to be co

[2018-12-07 17:19] hmstepanek opened #896 "Spike: Research why deployments take too long"
From the time of a merge to the change taking effect on production, it takes ~40mins. This issue is a spike to research and figure out why this is taking so long.

[2018-12-07 17:49] lyzadanger commented on #597
Wahoo!

[2018-12-07 17:49] #597 closed, assigned to nobody

[2018-12-07 19:01] dwhly commented on #409
Big thumbs up.

[2018-12-07 19:12] klemay commented on #420
When creating open groups, I have the ability to enter any Hypothesis username as the "creator":
<img width="1206" alt="screen shot 2018-12-07 at 2 08 50 pm" src="https://user-images.githubusercontent.com/12087705/49667675-bf024400-fa29-11e8-86de-7c36b20b4041.png">

The only thing we _can't_ do is have more than 1 moderator. But in the meantime, we're advising partners to create a moderation-speci

[2018-12-10 10:54] robertknight commented on #796
This was implemented in h by https://github.com/hypothesis/h/pull/5443

[2018-12-10 10:54] #796 closed, assigned to nobody

[2018-12-10 11:39] robertknight commented on #889
Whoever works on this, can you please add some numbers to this issue to show what the potential improvement is and how that relates to the overall deployment process?

[2018-12-10 15:15] dwhly commented on #695
Should mention that this is the canonical page on the Atlantic that we should make sure absolutely works. :)

https://www.theatlantic.com/magazine/archive/1945/07/as-we-may-think/303881/

It's the 1945 piece that kicked off the revolution we're a part of.  Most classic internet/web/collaborative computing article of all time.

[2018-12-11 11:28] #742 closed, assigned to nobody

[2018-12-12 15:06] klemay commented on #1146
Another example [reported in Zendesk](https://hypothesis.zendesk.com/agent/tickets/3484):

The link were we are encountering the z-index problem is http://www.taalportaal.org.

It seems like the website has a rather big z-index on their elements. When I add the following CSS the comment and highlight popup displays on top of the other elements on the page:

hypothesis-adder {
z-index: 1000;
}

You

[2018-12-12 22:08] dmfine opened #897 "Switch to individual SSH Keys"
This would probably be an Ansible play to create users on each server, add public keys, and sudoers config.
Another approach would be LDAP + SSSD but I don't think the complexity is justified at this time.
The problem we're trying to solve is key rotation and revocation. Switching to separate users lays the foundation for security auditing and more granular access controls.

[2018-12-12 22:23] dmfine commented on #820
These are some relevant commands:

[2018-12-12 22:26] dmfine commented on #820
Rather than a cron to clean up, might we make the build clean up after itself better? It's something to look into. I'd consider making the cleaner a jenkins build job instead of a cron, it's already right there...

[2018-12-13 08:37] robertknight commented on #897
Hi David,

I think I can follow how this would work for our static infrastructure (support, mon, bastion servers etc.).  How would this work with our dynamic infrastructure managed by Elastic Beanstalk though?

[2018-12-14 15:56] dwhly opened #898 "Simple URLs for communities"
## Feature Request Form
### Problem you are trying to address with this feature

Currently, our group URLs look like this:
`https://hypothes.is/groups/Rj7eVijj/our-group`

Because groups have been private, we've wanted to make it easy for people to create group names irrespective of whether others have exactly the same name, i.e. groups are not namespaced. So I can make a group called "Dans Englis

[2018-12-16 17:11] dwhly commented on #566
I've added additional criteria above to support export of the current view from within the sidebar, in addition to activity pages.

It might not be the first thing we ship, but we shouldn't forget that many people will want to create a bunch of annotations and export them immediately.  Or be wanting to export annotations while looking at a page, and not have to recreate the same view in activity p

[2018-12-16 17:12] dwhly commented on #566
Another request for text output today (HTML or markdown):

"What I'd ideally be able to do is get some Markdown for a given web document with the title of and link to the document and a list of each appropriately formatted highlight or comment with a Hypothesis link to each highlight/comment in context (happy to settle for HTML)."

[2018-12-18 15:36] klemay commented on #1146
Example [reported in Zendesk](https://hypothesis.zendesk.com/agent/tickets/3511): https://www.aauw.org/

The buttons on the sidebar are white:

![image](https://user-images.githubusercontent.com/12087705/50164472-d30f3680-02b0-11e9-89b0-8ec34462db6e.png)

[2018-12-18 16:24] klemay commented on #236
User request: https://hypothesis.zendesk.com/agent/tickets/3510

As the creator of the group can I get super-user privileges. For example:
- Delete any comment
- Tag any comment
- Remove a user from the group
- Block a user from the joining group
- Delete the group and its annotations

[2018-12-18 16:28] jeremydean commented on #236
Just a note that Bob Belford of LibreText fame also wants to be able to tag comments. His argument is that students don't remember to tag with the appropriate tag.

[2018-12-19 17:38] klemay opened #899 "Fix PDF annotation in Brave"
@dwhly tested local PDF annotation in Brave with our extension and it does not work. I'll let him add specifics here, or I'll repro & add details at a later date.

[2018-12-20 14:38] dwhly commented on #899
(Updated the title)

I think it's *any* PDF annotation that is failing.

It seems that Brave uses a hidden chrome extension in order to render PDFs.  (Possibly this one? https://chrome.google.com/webstore/detail/pdf-viewer/oemmndcbldboiebfnladdacbdfmadadm?hl=en)  So, one problem is that by the time that the extension is called, the URL of the PDF is already munged-- which could be the problem.

![

[2018-12-20 14:43] dwhly opened #900 "Make links in user and group descriptions clickable."
## Feature Request Form
### Problem you are trying to address with this feature

When users include links in the description fields of their profiles they are not clickable.

### Your solution

Make 'em clickable.

### Add tags - did you add labels?
If this a customer requested feature, make sure to add that label.

[2018-12-20 17:10] lyzadanger opened #901 "Spike: API design to support initial group-selector improvements"
Part of https://github.com/hypothesis/product-backlog/issues/865

For the first phase of the Community Groups work, we're allowing annotation within certain configured restricted groups outside of their defined scopes. There are some changes to the client's group-selector menu that will be going along with that.

This issue is concerned with the extension/design of our API to satisfy those needs.

[2018-12-21 20:41] klemay commented on #426
Our current work on the Epic https://github.com/hypothesis/product-backlog/issues/866 will expand significantly on restricted groups for communities. When this work is done, the following will be true:

Members of restricted groups for communities will:

- see their group in the groups scope selector across the web
- be able to annotate in that group across the web
- share links to those annotatio

[2018-12-22 00:40] judell commented on #899
It turns out that Brave uses PDF.js wrapped in an extension, https://chrome.google.com/webstore/detail/pdf-viewer/oemmndcbldboiebfnladdacbdfmadadm.

Here's one way for our extension to work with Brave's PDF mechanism -- or, presumably, with another browser that uses the same PDF.js extension.

[code]

[2018-12-23 17:38] leonoverweel commented on #426
Hi @klemay, this sounds great! I have a question about this bullet:

Does this mean a member of a restricted group will be able to link to a specific, single annotation to share it with the outside world, or also (what I'd really like to see) link to something that shows all the annotations made by members of the restricted group on that page?

Thanks for the update!

[2018-12-24 19:11] ajpeddakotla commented on #426
@leonoverweel short answer your questions, yes.

With the work outlined in #866, #864, #855, you'll be able to share a direct link to a single annotation (something that is already possible), and share a link to the annotations made within a group on a specific page.

[2018-12-26 17:15] ajpeddakotla opened #902 "Mark claims appearing in different document as equivalent"
From vision repo: https://github.com/hypothesis/vision/issues/5

User story: If in one document, there is a sentence saying "Global warming is mostly caused by natural causes", and we have a bunch of annotations for this claim, and then there is another article, which is saying something equivalent, then it should be possible to link those claims, and display all the annotations anchored to the or

[2018-12-26 17:29] ajpeddakotla commented on #203
Also this issue, and @robertknight's comment in particular: https://github.com/hypothesis/vision/issues/222

[2018-12-26 17:31] ajpeddakotla opened #903 "Epic - Document Equivalence"
We've got a lot of issues dealing with document equivalence in both this repo and the vision repo. Some of them are redundant. To make things a bit easier, and since this is a technical challenge in our app that we do need to address, I'm tracking the issues in both repos (vision issues will be closed), here.

Manually insert/edit DEquiv into our DB: #827
Document annotation data model in detail #

[2018-12-26 22:15] ajpeddakotla opened #904 "Link quotes back to their original sources"
Copying this from https://github.com/hypothesis/vision/issues/6, which was originally copied from https://github.com/hypothesis/h/issues/773:

---

Consider this.

An important politician gives a talk, and on the next day, quotes from it are all over the press. It all sounds very compelling, except that one of the most important claims (widely quoted by the media) is not true. (But that is not gen

[2018-12-26 22:28] ajpeddakotla opened #905 "Be able to create annotations which are translation of original texts"
Using annotations as a translation tool is something that was seen in the last IAnnotate (2018). We had someone present a tool where they created an annotation tool that created annotations that were translations of sections of the selected text. This use case has incredible value in the education space but can be applied to other use cases.

Feature Requests (from former vision repo issues)
- It

[2018-12-28 19:09] dmfine commented on #894
I created a read replica on t2.medium instance. Added it as an option in metabase (unclear if we have to change all our "questions" by hand or if there's an automated way to do that)

[2018-12-28 19:09] dmfine commented on #894
Some metabase queries fail with "ERROR: canceling statement due to conflict with recovery Detail: User query might have needed to see row versions that must be removed." So I'm following the parameter settings here: https://stackoverflow.com/questions/14592436/postgresql-error-canceling-statement-due-to-conflict-with-recovery

[2018-12-29 12:24] gavento commented on #366
As of 12-2018, the PDFJS version bundled in Firefox 64.0 (on Ubuntu 18.04 64bit) is `PDF.js: 2.0.936`.

(The PDFJS versions in Via and the Chrome browser extension are still 1.1.24 and 1.1.215 respectively).

The API changes seem to be substantial in volume, but hopefully not in depth (see the [diff of api.js](https://github.com/mozilla/pdf.js/compare/v1.10.100...master#diff-0ecad279ed2252e3eb47a4

[2018-12-29 12:31] gavento commented on #366
There are few more issues across the Hypothesis project related to the PDF.js update:
https://github.com/hypothesis/via/issues/81
https://github.com/hypothesis/browser-extension/issues/12
https://github.com/hypothesis/client/issues/259
https://github.com/hypothesis/pdf.js-hypothes.is/issues/14

[2018-12-29 12:37] gavento commented on #366
@robertknight I would be curious in your opinion on what is the biggest blocker in upgrading PDF.js: Is it the anchoring issues between PDF.js versions (e.g. hypothesis/browser-extension#12) or technical issues with recent PDF.js API changes / incompatibilities?

[2019-01-01 14:30] ajpeddakotla commented on #695
Another report of H not working: https://hypothesis.zendesk.com/agent/tickets/3551

This is literally the next bug up in line to fix, so we'll be addressing this issue soon.

[2019-01-03 00:51] hmstepanek opened #906 "Searching for a tag w/ spaces does not behave as expected"
Currently when searching for a tag such as "human intelligence", analysis is performed on the query internally inside elasticsearch before it is searched for. This analysis breaks up the tag "human intelligence" into "human" and "intelligence" which results in an unexpected broadening of the search. So while the expected behavior would be to find all annotations that have the exact tag "human inte

[2019-01-03 18:07] robertknight commented on #366
Hi @gavento - making sure that annotations that anchored with older versions of PDF.js still anchor after we update the copy in the browser extension and Via is the main concern. The Hypothesis client's "fuzzy anchoring" algorithm is not sufficiently robust to some of the typical changes in text output between older and newer PDF.js versions. For example, changes in where spaces appear in the text

[2019-01-03 18:42] lyzadanger opened #907 "Investigate PagerDuty Alerts from `qa/celery` and `qa/indexer`"
Twice during the holidays, a pair of alerts was issued by PagerDuty (4 events total). Note: You need Hypothesis PagerDuty credentials to view the following incidents):

10:41EST Dec 26, 2018:

* [897: Consumer alarm for h-qa/celery @ gold-buffalo.rmq.cloudamqp.com](https://hypothesis.pagerduty.com/incidents/P1Y4O5P)
* [898: Consumer alarm for h-qa/indexer @ gold-buffalo.rmq.cloudamqp.com](https://

[2019-01-04 15:01] ajpeddakotla commented on #201
Closing this as we have wildcard queries now. (See #30)

[2019-01-04 15:01] #201 closed

[2019-01-04 17:10] ajpeddakotla opened #908 "Allow finer grained scoping of groups"
### Problem
Currently, we allow for scoping of groups to origins only (www.example.com). We don't allow scoping to paths (www.example.com/jobs), which has come up as a key requirement for several of our publishers.

### User Story
As a Hypothesis admin and as a group owner, I would like to scope my group to one or more paths within my site so that I can have the group appear on specific pages, and

[2019-01-04 17:36] hmstepanek commented on #815
Decision: Setting the group creator to None is simpler than creating an archive or a ghost user and it also doesn't change existing functionality (ability to create new annotations/see other's annotations). Currently, there is one group (Public) that does not have a creator and there is no way to add more than one moderator to a group (only the creator can moderate). Set group creator to None but

[2019-01-04 17:41] hmstepanek opened #909 "Enable deletion of user's w/ private groups w/ other user's annotations"
Problem: We currently have 2 user's who's accounts can't be deleted until we implement a way to delete a creator from a private group that has annotations made by other users. See [issue](https://github.com/hypothesis/private-issues/issues/21).

Proposed Solution:

- [x] Set the creator as None if there are annotations by other's in the group, otherwise delete the group.
- [ ] Enable editing of pr

[2019-01-07 15:54] robertknight commented on #882
To clarify, this is about the "share this page" toolbar button at the top of the client which normally contains an https://hyp.is/go link. Individual annotation cards on eLife pages still have share buttons. In the context of eLife though, the link to share the page is just ... the URL of the page itself, so the "Share" link in the toolbar is a bit pointless in a sense.

The one thing the share li

[2019-01-07 16:16] klemay commented on #111
User request: https://hypothesis.zendesk.com/agent/tickets/3571

[2019-01-07 20:56] dwhly commented on #882
Yes.  This is the "Share all the annotations on this page" with someone else link, as opposed to the "Share this annotation" with someone else link.

There's a couple reasons to always preserve the share link functionality:
1- So that people can rely on always being able to do the same thing in the same place-- and not worry about which kind of H instance this is, or whether the page has H embedde

[2019-01-08 09:02] robertknight commented on #896
@dmfine - It looks to me as though this problem is sufficiently "solved" for h that we can close this now. Could you post some notes in a comment here to clarify:

- What changes were made to improve the situation?
- Are any caveats that developers should be aware of when they deploy changes in future?
- Do we still need to apply the changes to other projects (if yes and you're happy it is safe to

[2019-01-08 09:05] robertknight commented on #894
Hello @dmfine and @hmstepanek - What's the status of this? Can we close this ticket or is there more to do?

Which parameter settings? `max_standby_streaming_delay`?

[2019-01-08 11:43] robertknight commented on #889
To reiterate my comment above, it's great to see people working on optimizing the CI/CD process as that makes us all more productive. However I would really like to see relevant metrics and perspective to make sure we're spending our time on the right things.

This morning I had a look at [Docker build times](https://jenkins.hypothes.is/job/h/job/master/) on CI and it looks like the Docker image b

[2019-01-08 16:00] #889 closed, assigned to nobody

[2019-01-08 16:25] dmfine commented on #880
Hannah demo'd it this morning!

[2019-01-08 16:25] #880 closed, assigned to dmfine

[2019-01-08 16:37] dmfine commented on #894
We're using it in metabase now :)
for historical record I went with the following parameters:
max_standby_archive_delay = 900s
max_standby_streaming_delay = 900s

[2019-01-08 16:37] #894 closed, assigned to dmfine

[2019-01-08 16:39] dmfine commented on #892
This is probably no longer needed since moving to the read replica

[2019-01-08 16:39] #892 closed, assigned to dmfine

[2019-01-08 16:47] dmfine commented on #896
By watching the jenkins console I determined that most of the delay in the "deploy" step was due to Elastic Beanstalk using the "immutable" deployment strategy. It would test the new code for 2 minutes on a single instance, spin up the remainder, and test again. Instead I switched to "rolling updates with batch" with batch size of 100%. I also disable "Enhanced healthchecks" for the QA stage to sh

[2019-01-08 17:40] klemay commented on #882
Strongly agree here. As Heather mentioned in an email, there is a crucial difference between sharing a link to the page and sharing a link to the page _with the annotation sidebar enabled and open_. For partners like eLife who have H disabled until the user clicks a button, this is going to be especially important.

[2019-01-08 18:18] dwhly commented on #882
Good point, hadn't remembered that part.

[2019-01-09 00:04] xolotl opened #910 "update Metabase to 0.31.2 (or latest)"
"Metabase 0.31.2 is available. You're running 0.24.2"

In order to continue our evaluation of Metabase as a possible solution for [H. data reporting needs](https://docs.google.com/document/d/1FBwIokymCAy8WQylaslSPEWIUzaWTJUTlK4JSAbCnu8/edit?usp=sharing), we'd like to upgrade it to the latest version. Maybe it's as simple as hitting the update button in the admin panel, but I leave it to the prod t

[2019-01-09 00:07] xolotl commented on #894
@dmfine if it's automatic, how often does the read db replicate?

[2019-01-09 00:21] ajpeddakotla commented on #910
Closing this in favor of original issue: https://github.com/hypothesis/private-issues/issues/11

[2019-01-09 00:21] #910 closed, assigned to nobody

[2019-01-09 18:39] dmfine opened #911 "Investigate metabase read replica query timeouts"
@judell: I hadn't tried read_01 until just now. Spot-checking queries in https://docs.google.com/document/d/1PL8PSce3TSZKr0xl9kUOTLqIoKP9ZNWnraj72jz-x1I I find that a number of them easily complete in prod but not read_01, for example https://metabase.hypothes.is/question/438.

Assuming this is because the read replica is a smaller instance.

[2019-01-09 19:11] lyzadanger commented on #891
Have discussed with @ajpeddakotla... I'm going to close this issue because the spike was done, the research attempted, but a real outcome—with recommendations about where we should go from here—will not be forthcoming until our offsite discussion next week.

[2019-01-09 19:11] #891 closed, assigned to nobody

[2019-01-10 19:38] klemay commented on #86
Came up again today - user thought it was a bug: https://hypothesis.zendesk.com/agent/tickets/3594

[2019-01-11 16:21] hmstepanek opened #912 "Enable editing of private groups in the admin panel"
Enable editing of private groups in the admin panel to enable changing a private groups creator.
This is a partial fix for https://github.com/hypothesis/product-backlog/issues/909.

[2019-01-11 16:22] hmstepanek opened #913 "Enable editing of group creator in the admin panel"
Enable ability to change creator of group in admin panel.
This is a partial fix for https://github.com/hypothesis/product-backlog/issues/909.

[2019-01-11 16:28] lyzadanger commented on #913
To clarify, this is already possible for open and restricted groups (at least, I think so?!). Needs to be possible for private groups.

[2019-01-11 16:28] hmstepanek commented on #913
That is my understanding as well although I haven't looked at it in a while.

[2019-01-11 19:17] hmstepanek commented on #111
Linking my thoughts on slack here: https://hypothes-is.slack.com/archives/C4K6M7P5E/p1547233504126200.

[2019-01-11 20:41] dwhly opened #914 "Add PDFjs version to environment conditions in help"
## Feature Request Form
### Problem you are trying to address with this feature

We don't know which version of PDFjs was used to render a given PDF, except by inference-- and users have no easy way to report this to us.  This means that we don't have all the tools we might need to help debug cross-PDFjs version anchoring challenges, etc.  This is particularly true given that w/ the bookmarklet in

[2019-01-11 21:08] dwhly opened #915 "PDF support broken in FF 64 and above"
## Feature Request Form
### Problem you are trying to address with this feature

In current FireFox, using PDFjs 2.0.936, existing Hypothesis annotations will not anchor, and new annotations cannot be made.  This is using the H bookmarklet within FF 64 or above.

This is the sample PDF that is failing for me: https://arxiv.org/pdf/1805.09695v6.pdf

As recently as FF 63.0.3, using PDFjs 2.0.775, ev

[2019-01-11 21:32] dwhly commented on #915
To elaborate:

New annotations cannot be made because the adder exhibits an odd flickering behavior.  The "Annotate" target in the adder is (kind of) visible but not clickable.

[2019-01-11 21:34] dwhly commented on #915
Related: https://github.com/hypothesis/product-backlog/issues/914

[2019-01-12 15:57] dwhly opened #916 "Anchoring failure in Elsevier's new reader."
## Bug report form

Elsevier has rolled out their New Reader to most of their scholarly content.  This takes PDFs and brings them into a page reader in the browser.  It's based on some home grown tech of theirs that does a server side rendering of the PDF document into the DOM.

Using our Chrome extension, the adder is activated when text is selected on the new reader, and indeed when an annotatio

[2019-01-12 16:05] dwhly commented on #704
@robertknight Can you verify that this is fixed?  It's still failing for me.

[2019-01-14 10:05] robertknight commented on #704
Hi @dwhly - The issue was fixed in the embedded client but I forgot to release the browser extension. I'll take care of that now.

[2019-01-14 11:09] robertknight commented on #704
This is now done.

[2019-01-14 11:09] #704 closed, assigned to robertknight

[2019-01-14 13:13] robertknight commented on #915
Testing this locally, I see the following error when attempting to make an annotation:

[code]

It looks like the `getPageTextContent` method was removed in https://github.com/mozilla/pdf.js/commit/e293c12afcf3a9a55669b6bf095d657e7780ba16. The bottom of the diff for that commit shows an alternative implementation using other APIs.

More broadly, I'm not clear on whether `getPageTextContent` was co

[2019-01-14 13:49] robertknight commented on #916
From a little bit of poking around, the PDF viewer appears to be a custom React app which uses a recent version of the PDF.js library to render the content.

Since this is a custom app, it doesn't expose the same globals (`PDFViewerApplication`) that the default PDF.js viewer app does, so the client doesn't detect the viewer as a PDF and loads the standard web page integration. This particular vie

[2019-01-14 16:52] judell commented on #915
+1

I suspect that headless Chrome + https://github.com/GoogleChrome/puppeteer can make that testing both easier and more reliable than the last time around when we used Selenium.

[2019-01-15 15:29] klemay commented on #765
This would also help [this Twitter user](https://twitter.com/_limamedeiros/status/1085178212538376195):

[2019-01-15 15:33] klemay commented on #803
Another vote for this [from Twitter](https://twitter.com/_limamedeiros/status/1085178212538376195):

[2019-01-15 15:48] lyzadanger commented on #901
All right! I think we have a proposed API design!

Changes needed:

* `group` resource: make it possible to expand `scopes` information the way that you can expand `organization` information in API responses. Be careful not to bake too much about our current scopes implementation into resources.
* Add new endpoint (route/path TBD) to retrieve all groups to which the currently-auth'd user belongs (

[2019-01-15 15:50] #901 closed, assigned to lyzadanger

[2019-01-16 15:56] klemay commented on #1145
Came up again today: https://hypothesis.zendesk.com/agent/tickets/3649

[2019-01-16 16:03] klemay commented on #806
This came up from [a student annotating in a group](https://hypothesis.zendesk.com/agent/tickets/3648) with their class today:

Even if someone doesn't plan to share a link, they may want a way to focus only on their highlights/annotations.

[2019-01-17 18:49] dmfine commented on #824
Is this still an issue @hmstepanek

[2019-01-17 18:54] hmstepanek commented on #824
AFAIK yes. It's intermittent. I can't say I've seen the issue recently but we haven't done anything to fix it/looked into it since this was filed. You should be able to see it by looking at the aws stats page or the NR h-prod dashboard. Both of those keep track of how long an instance stayed up/was in use.

[2019-01-17 21:39] judell opened #917 "dcterms namespace mangled in the database"
According to http://dublincore.org/documents/dcq-html/, these should be equivalent:

&lt;meta name="DC.Date.modified" content="2001-07-18" />
&lt;meta name="DCTERMS.modified" content="2001-07-18" />

Our client evidently expects the former pattern but not the latter, as you can see in this sampling of of metadata types in the `document_meta` table:

dc.erms.dateAccepted
dc.erms.dateaccepted
dc.erm

[2019-01-17 21:55] klemay commented on #695
This came up again: https://hypothesis.zendesk.com/agent/tickets/3660

[2019-01-18 19:26] hmstepanek commented on #424
@ajpeddakotla Can we close this?

[2019-01-19 21:04] SteelWagstaff commented on #718
Hey good people--anyone working on the H project with dev skills have further thoughts on this question?

[2019-01-21 18:41] judell commented on #718
Here's the update since my July comment, https://github.com/hypothesis/product-backlog/issues/718#issuecomment-404968679

The answer to that was and is yes, if you're able to adapt that reference implementation to WordPress.

The answer also was and is yes because, given 1, the source of identity doesn't matter to an implementation that uses those identities to auto-provision H users in a 3rd-part

[2019-01-21 21:13] SteelWagstaff commented on #718
Thanks Jon. I'll take this back to Pressbooks devs and we'll see what we might be able to experiment with (or build) on top of our LTI provider plugin.

[2019-01-22 01:07] judell commented on #718
Sounds good. I'll help with setup and translation of the example, but it's best if actual WordPress expertise is brought to bear on building the plugin. We'd love to see this happen!

[2019-01-22 21:04] jeremydean opened #943 "Sidebar search should include Display Names"
Search in the Hypothesis sidebar should include "Display Names." Right now searching for a display name does not result in annotations by the visible name for the user.

This has come up as a particularly problematic issue in the context of the LMS. Usernames there are strings of numbers unknown to users, including instructors. But in order to search a document for annotations by a particular stud

[2019-01-23 11:45] klemay commented on #94
User request from Zendesk: https://hypothesis.zendesk.com/agent/tickets/3689

[2019-01-25 12:18] klemay opened #918 "SPIKE: math expressions written with mathjax.js break annotation (L)"
I think this is separate from https://github.com/hypothesis/product-backlog/issues/414, as #414 refers to _writing_ math expressions in our text editor, whereas this issue is regarding highlighting math expressions as part of an annotation.

### Steps to reproduce
1. Go to https://lilianweng.github.io/lil-log/2018/10/13/flow-based-deep-generative-models.html
2. Highlight text that contains a math

[2019-01-28 11:36] robertknight commented on #414
KaTeX has been updated. `\iff` and `\implies` are now supported. See release notes at https://github.com/KaTeX/KaTeX/blob/master/CHANGELOG.md for versions after 0.7.0 up to 0.10.0 (inclusive) for full details.

Can you paste the full details of the original support ticket here @klemay?

[2019-01-28 11:37] robertknight commented on #918
I agree. This is a completely separate issue.

[2019-01-28 11:40] robertknight commented on #414
Supporting two different LaTeX rendering engines is a maintenance overhead I would really like to avoid. As long as KaTeX is being regularly updated and it covers the substantial majority of our users needs, I'm inclined to close this issue.

[2019-01-28 16:23] klemay commented on #198
Came up in a Chrome store review. There isn't a great way to link to reviews, so here's a screenshot:

<img width="887" alt="screen shot 2019-01-28 at 11 23 14 am" src="https://user-images.githubusercontent.com/12087705/51850132-21bbe180-22ef-11e9-8b72-7e6248367ae6.png">

[2019-01-28 17:16] lyzadanger opened #919 "Evaluate removing groups from response at `GET /api/profile`"
The API endpoint at `GET /api/profile` is a legacy design. Step one is to collect enough metrics to determine if anyone besides our client is using this endpoint and evaluate whether it would be "safe" to remove `groups` from the response body.

At present, there are three different ways to ask our API for a "list of groups" and three (eek) different answers:

* `GET /api/groups` — This is the mai

[2019-01-28 17:26] klemay opened #920 "Investigate compatibility with Just Read extension"
A user reported in the Chrome web store that our extension seems to be incompatible with another one they use, called Just Read:

<img width="896" alt="screen shot 2019-01-28 at 12 25 43 pm" src="https://user-images.githubusercontent.com/12087705/51854064-da861e80-22f7-11e9-86c8-55d26ed5f4bf.png">

I'm not familiar with this extension or how it works, so creating this issue for future investigatio

[2019-01-28 17:39] lyzadanger opened #921 "Update readthedocs GitHub integration for `h`"
Our `readthedocs` integration (which builds our documentation at https://h.readthedocs.io) is flaky or possibly dead at present for the `h` repo. Current integration is via a service on GitHub. Services are deprecated and GH urges use of webhooks or GH apps instead.

I had to manually build the docs (at https://readthedocs.org) to get a recent doc change to build and show up.

[2019-01-28 18:39] klemay commented on #414
The ticket was long and convoluted. The full text is below, but here's a TL;DR at the top:

- Users have to use `$$` instead of `$` when typing mathematical expressions. This user found it cumbersome, since he and others at his institution are primarily writing math expressions.
- The same user also found KaTeX lacking support for things like `\iff` and `\implies` (now supported) and things like `

[2019-01-28 18:51] klemay opened #922 "Invalidate all other sessions when password is changed"
We received the following [email in support](https://hypothesis.zendesk.com/agent/tickets/3716):

## Steps to reproduce:
- Log in to Hypothesis from two browsers at a time
- Change password in one browser
- Now check in your other browser

### Expected behavior
When your password is changed, you should be logged out from all other sessions. Switching to the other browser should prompt you to enter

[2019-01-28 19:26] klemay opened #923 "Ability to edit selected text for highlights/annotations"
[From support](https://hypothesis.zendesk.com/agent/tickets/3721):

This is something I've found myself wanting as well! I also found a related issue from our archived Vision repo: https://github.com/hypothesis/vision/issues/225

Logging here as a feature request.

[2019-01-28 19:52] dwhly commented on #414
Agree.  When full math becomes big deal for us, then we'll address.  For now, the simplicity of sticking w/ KaTex is a real win.  MathJAX is very large (or at least it was), and much slower (or at least it was) and thus there was a not insignificant burden to maintain the prior implementation that we had.  Things could be changing but that bears investigation.

[2019-01-29 09:15] robertknight commented on #414
OK. I'm going to close this specific issue for supporting MathJax as something we're not currently planning to implement.

Regarding the other issues in the user's ticket, changing the way math-mode is invoked and support for specific LaTeX commands, we can discuss those in separate issues.

[2019-01-29 09:15] #414 closed, assigned to nobody

[2019-01-29 09:16] robertknight commented on #921
This has been done. I've changed the configuration for the client and h repos to use webhooks to trigger Read the Docs rebuilds instead of GitHub services as per https://docs.readthedocs.io/en/latest/webhooks.html

[2019-01-29 09:16] #921 closed, assigned to nobody

[2019-01-29 12:52] dmfine opened #924 "New VPC for QA"
Move entirety of QA into a separate VPC with as little access to prod resources as possible.

This is part security, part reliability, part being able to take bigger risks in QA without stepping on prod by mistake.

[2019-01-29 12:54] dmfine opened #925 "Multi-AZ for prod"
Figure out how to best spread resources across multiple zones in the same region for purposes of redundancy and availability. Then execute that plan.

[2019-01-29 12:55] dmfine commented on #924
This work should be done in Terraform as a testing ground for eventually using terraform for prod.

[2019-01-29 13:02] dmfine opened #926 "HoneyBadger filter endpoint"
The simple triage solution - endpoint returns True if there have ever been any annotations to a given document, else false. Since vast majority of requests to badge, this will keep unnecessary traffic from traversing the H stack. The client will need to be extended to query the badger endpoint first, and only query H if it returns "True". Additional optimization possible if sidebar follows this be

[2019-01-29 13:05] dmfine opened #927 "Reimplement Via proxy"
Everyone agrees that VIA needs a rewrite. Research if an off-the-shelf server like HAproxy or Nginx or Apache can be configured to do everything we need. Otherwise, rewrite VIA to be much lighter than it is now.

[2019-01-29 13:08] dmfine opened #928 "New Jenkins with "Blue Ocean" UI."
We'll start this new server in parallel to be safe. It will be called jenkins instead of support.
Probably we'll start with one build node instead of building everything on Master.
This will take care of issue https://github.com/hypothesis/product-backlog/issues/762 "upgrade jenkins to ubuntu 18.04"

[2019-01-29 13:11] dmfine opened #929 "Switch for Elastic Beanstalk to Kubernetes"
This is work to be done after prod is in Terraform and after the new Jenkins server is in place.

Use AWS hosted kubernetes because we don't have the bandwidth to maintain our own. This should result in more flexible resource use, faster deployments, and the ability to scale with less friction.
Local development will still be in docker-compose.

[2019-01-29 13:14] dmfine opened #930 "Fix ElasticSearch slow queries"
We notice ES being slow during peak hours. Identify bottleneck (disk, cpu, or ram) and increase that resource. Or maybe just increase the size of the cluster by a couple nodes to increase overhead. Autoscaling is sort of an option with amazon managed ES, but it requires them spinning up an entire second cluster while data is copied. Anecdotally this actually improves read times during the transfer

[2019-01-29 13:53] dmfine opened #931 "Alerts as code"
Store New Relic alerts as code. Either using the terraform provider or perhaps a custom YAML solution like I've done elsewhere.

Part two will be dividing alerts by type, severity, and target.

[2019-01-29 14:36] lyzadanger commented on #565
Holy mackerel, I think this is actually done via our AuthClient + Forwarded User AuthPolicy we have for certain endpoints. It is possible to do exactly this.

@robertknight — do you think the use cases here are covered/can we close this issue?

[edited: We may still need to provide this auth policy on specific endpoints to satisfy the particular customer need here?]

[2019-01-29 15:34] lyzadanger opened #932 "Provide "Activity" View for LMS Students, Teachers"
This is the primary epic for the "LMS views" project.

Students and teachers should have the ability to view theirs and others' annotation activity on a document and across a group (course), filtered by such thing as user, document, group.

[Current user stories are in the first half of the document here](https://docs.google.com/document/d/1GIGUcSUxNJy2_3m4bpHF9jGu9GUtLuREaq22XaVPosE/edit#) (requi

[2019-01-29 15:51] lyzadanger opened #933 "Spike: Research LMS entry points to apps"
Part of #932

As a pre-requisite to designing the UX and flow of the student and teacher LMS activity views, we need to collect information about potential "entry points" into applications across LMSes. Are we constrained to working within an application launch or are there other points of entry for students, teachers?

[2019-01-29 15:54] lyzadanger opened #934 "EPIC: Define UX for LMS Views"
Part of #932
Depends on #933

This is a biggie: we need to define the UX and flow of the LMS student/teacher activity views. Presumably this will involve rounds of sketching, discussions and workshopping. The outcome will inform the technical plan (what API services need adjustment, what client components can be reused, what new pieces of logic we need, etc.).

- [x] Determine entry points (#933)

[2019-01-29 15:58] lyzadanger opened #935 "Spike: Identify backend changes needed for LMS views"
Part of #932
Depends on #934

Based on user stories and UX direction, determine needed API/service changes in `h` to best support the features.

[2019-01-29 16:05] dmfine commented on #911
needed to resize the instance to match master db

[2019-01-29 16:07] jeremydean commented on #932
Forgive me if this isn't helpful, but from the early feedback it's clear to me that the number one user request based on initial use of the app is one particular view:

- one student's annotations on a particular assignment
- preferably in speedgrader if in Canvas

Feedback here:

https://docs.google.com/document/d/1Hg7StNCU0avXTopVTcKJzjJxPnyQHFoXCIMCoeoKSX8/edit?usp=sharing

I don't know if it m

[2019-01-29 16:12] lyzadanger commented on #932
@jeremydean Very helpful, thank you! We may wish to have a tight scope for our first MVP/release cycle.

[2019-01-29 16:21] lyzadanger opened #936 "Prepare client for development of LMS views"
Part of #932

We have a consensus that LMS views will be built client-side, and, at the outset at least, will exist in the main client codebase.

We need to prep for development in the client, whatever that might entail, keeping in mind the other client stuff going on (migration, etc.).

[2019-01-29 19:51] lyzadanger opened #937 "Community Groups: Add logic for updated group retrieval, filtering to client"
Part of https://github.com/hypothesis/product-backlog/issues/865

The basic API endpoints are in place to support the correct list of groups for the client for community groups UX. We need updated logic in the client services for retrieving and filtering the groups across (currently) two endpoints.

[2019-01-29 19:57] lyzadanger opened #938 "Community Groups: Implement updated Featured/My groups UI in client"
Part of #865
Depends on #937
Depends on #939

Once we're able to [retrieve and filter the correct set of groups behind a feature flag](https://github.com/hypothesis/product-backlog/issues/937), we need to render those groups in the groups selector.

This is going to require teasing apart https://github.com/hypothesis/client/pull/830 to glean markup and behavior logic.

Note: This does not yet incl

[2019-01-30 14:55] lyzadanger opened #939 "Add `scopes` to group API resources"
Needed for https://github.com/hypothesis/product-backlog/issues/865

As part of the group-selector changes and community groups work, we'll be returning groups from the API that a user is a member of, but that may or may not be "active" on a current document URI based on their scope restrictions.

We need to be able to give the client hints about what the valid scopes for certain groups _are_ so t

[2019-01-30 15:15] lyzadanger commented on #888
I realize that instead of co-opting this issue, I should create a new one so that my authorship is more clear. Thanks for planting the stake, @hmstepanek !

[2019-01-30 15:15] #888 closed, assigned to nobody

[2019-01-30 15:27] lyzadanger opened #940 "Version our API; Release 1.0"
We've reached consensus that we need to version our API (not too controversial!). The main objective is to get our current API to 1.0 so that we can start working on 2.x (breaking changes). General resolutions:

* We'll version 1.0 as soon as possible. There isn't any feature or improvement work slated for 1.0 at this time, though a few additive or refactor elements may make it into 1.0 before we

[2019-01-30 15:40] lyzadanger opened #941 "Configure Pyramid Accept Header Content Negotiation"
Part of #940

To support API versioning, we need to configure our [Pyramid app for content negotiation](https://docs.pylonsproject.org/projects/pyramid/en/latest/narr/viewconfig.html#accept-content-negotiation).

This includes:

* Making sure our API views are consistently using the `@api_config` decorator
* Pyramid config for [Accept header view matching precedence](https://docs.pylonsproject.org

[2019-01-30 16:34] ajpeddakotla commented on #909
This is completed, right @hmstepanek? I believe we can close this.

[2019-01-30 16:35] ajpeddakotla commented on #926
@dmfine is this a 1st step to the work we outlined in Brighton for the badge endpoint?

[2019-01-30 16:37] hmstepanek commented on #909
This is a 3 parter. The first part is done but the two other parts still remain.

[2019-01-30 17:29] lyzadanger commented on #896
Callin' this one (research task) done!

[2019-01-30 17:29] #896 closed, assigned to nobody

[2019-01-30 17:33] lyzadanger opened #942 "Engineer should review exposure of metabase queries to external parties"
There's been some discussion of exposing some views into Metabase data for outside users. As I understand it, Metabase has support for this in a way that my prevent sensitive data from being viewed, but we should have a dev look at what this entails to make sure we are not inappropriately sharing any sensitive data.

[2019-01-30 20:01] klemay opened #944 "Possible ad code conflict with LA Times"
This was first [reported](https://www.latimes.com/opinion/op-ed/la-oe-goldberg-trigger-warnings-20140520-column.html) by an instructor using our LMS app in Blackboard. When launching an assignment created using [this LA times article](https://www.latimes.com/opinion/op-ed/la-oe-goldberg-trigger-warnings-20140520-column.html), it takes a very long time to load (and sometimes will time out). Turns o

[2019-01-31 12:01] robertknight commented on #224
These slides from the Brighton meetup in January 2019 provide an overview of the current situation and plans: https://docs.google.com/presentation/d/1U4-3ONkJREzNTAULPdNrc4238x2LyyjswAd6RTSO8oM/edit#slide=id.g4b02c14b59_0_5. I think I'm going to consider this done.

[2019-01-31 12:01] #224 closed

[2019-01-31 12:15] robertknight commented on #222
January 2019 update: We support IE 11 and recent (~last two years) versions of major browsers (Chrome, Firefox, Safari) for the client and h frontend. Other projects can choose to support only more recent browsers if appropriate for their target audience. I also posted this answer on our Stack Overflow: https://stackoverflow.com/c/hypothesis/questions/161

[2019-01-31 12:15] #222 closed

[2019-01-31 13:39] robertknight opened #945 "Enable managed updates for Elastic Beanstalk environments"
We recently switched some of our Elastic Beanstalk applications (eg. h) to use rolling / rolling with extra batch updates in order to benefit from much faster deployments at peak times (~40 => <10 minutes for h). A downside of this is that the base platform/OS no longer gets updated automatically as it does with an immutable deployment.

Elastic Beanstalk provides an automated solution for this, [

[2019-01-31 19:13] klemay commented on #882
I talked with @ajpeddakotla today since there was confusion about what actually needs to be done for this ticket and why we're doing it.

## Why we're doing it:
- It's useful to have the "share this link" toolbar button _in addition to the individual share links on annotation cards_. All of our non eLife users have it.
- We only took this button away because previously, the `https://hyp.is/go` lin

[2019-02-01 16:30] #939 closed, assigned to nobody

[2019-02-01 18:32] #915 closed, assigned to robertknight

[2019-02-01 18:40] robertknight commented on #915
This issue has been fixed in our master branch, but we'll leave deployment until first thing next week, just in case there is a problem.

[2019-02-01 21:11] lyzadanger opened #946 "Ready the Docs! for API versioning"
Part of #940

Our API docs are in not-terrible shape, but they could use a bit of spiffing up before we version, as that likely means duplicating whatever patterns we're using, so it'd be nice to not be replicating ugly things.

It is my current approach that the "landing page" at https://h.readthedocs.io/en/latest/api-reference will continue to serve the same thing it does now: an HTML page that

[2019-02-01 21:39] lyzadanger commented on #865
Back-end/services work complete on this task!

[2019-02-02 16:29] hmstepanek commented on #111
See branches for a fix for this (need to add tests and put in inability to change when there is a reply to the annotation): https://github.com/hypothesis/client/tree/add-move-ann-to-another-group https://github.com/hypothesis/h/tree/add-changing-groups-to-update-ann-api. Unfortunately this requires a slight tweak to the api endpoint validation to allow the group to be changed-the permission check

[2019-02-03 08:42] robertknight opened #947 "Remove Google Plus share options from client"
Google Plus is [shutting down in April](https://hyp.is/KALJBiePEem07DP9z8xu4w/www.blog.google/technology/safety-security/expediting-changes-google-plus/).

We should remove the options to share pages and annotations to Google Plus from the client:

<img width="426" alt="google-plus-page-share" src="https://user-images.githubusercontent.com/2458/52174698-75b34400-278f-11e9-8df9-5d1e78de50ed.png">

[2019-02-04 16:35] klemay opened #948 "Adder doesn't show on HTML view of articles for 1 platform"
### Steps to reproduce
1. In any browser, using the Chrome extension, Bookmarklet, or Via, visit this journal article: https://course-journals.lib.sfu.ca/index.php/pdc2018/article/view/240/213
2. Activate Hypothesis; the sidebar appears
3. Highlight some text to create an annotation

### Expected behaviour
The adder appears and you can make an annotation

### Actual behaviour
Nothing happens

###

[2019-02-04 23:38] judell opened #949 "use FragmentSelector in PDF annotations"
For HTML documents we save a fragment selector which I believe names the annotation's the closest ancestor with an id attribute.

For PDF documents I was surprised to discover that we have apparently never done that.

Every page in a document that's been rendered by PDF.js is divided into elements with IDs that have names like `pageContainer1`.  Our anchoring system must be aware of those IDs beca

[2019-02-04 23:44] tilgovi commented on #949
💯 agree. The PDF specification even has a fragment format. I did not implement range selectors because I felt it was too semantically far from the document, given that PDF is not HTML and any range selector would be very much tied to the PDFjs viewer.

[2019-02-05 15:54] tahaismail9 commented on #922
Still waiting for the response thanks..

[2019-02-06 16:48] seanh opened #950 "Answer any open questions about client-side Bloom filter badge solution"
This spike is to answer the open questions about a client-side Bloom filter approach to solving the badge problem. The list of questions follows. After the questions is a full description of the client-side Bloom filter solution and its pros and cons.

See Also
=======

* [HoneyBadger filter endpoint issue](https://github.com/hypothesis/product-backlog/issues/926) (a different solution to the same

[2019-02-06 17:10] robertknight commented on #950
_Copied from my comments on the gist_

Given a copy of the filter, a client can only tell that a particular URL _may_ have been annotated, but there could be many others which were annotated instead. The larger the size of the filter, the less likely it is that it was a different URL. There is a tunable trade-off here.

If a client had a list of URLs of interest, or a way of generating such a list

[2019-02-07 04:00] hmstepanek commented on #950
Just a thought here. Perhaps instead of calling the endpoint that returns the count “badge” we should name it something more meaningful like annotations/count. I also think this gives us a nice opportunity to make the number returned here match the number in the sidebar which it doesn’t always do currently.

[2019-02-07 04:42] hmstepanek commented on #950
Did some metabase queries here:

Looking at the document uri table (I believe this what we actually need to look at for the bloom filter) we've created on average 1335 distinct normalized uri's per day over the last 30 days. So rounding that up a little bit for weekdays probably ~1700 normalized uri's per day.

On average over the last 30 days we've had 651 new document_id's created per day. Durin

[2019-02-07 11:51] seanh commented on #950
I've incorporated the comments so far into task list at the top of the main body of this issue.

[2019-02-07 11:52] seanh commented on #950
I agree with both points but I think we should limit _this_ specific issue to the Bloom filter itself. The badge endpoint itself doesn't technically need to change at all, to solve this problem. Separate issues, but we may choose to take them on in the same sprint. I think the Bloom filter itself is higher priority though

[2019-02-07 13:27] dmfine commented on #950
So, a filter scales fairly linearly. An "everything" filter with 4,000,000 items and a 1/10,000 false positive rate would be around 11mb in size. That's a bit large for sending to the client. However, a filter with just the week's additions, say 10,000, could be around 32kb. It's also possible that each user gets a filter of private annotations they've made this could be in the 5KB range, and coul

[2019-02-07 14:58] seanh commented on #950
Lots of interesting thoughts and ideas in a Slack discussion starting here: https://hypothes-is.slack.com/archives/C4K6M7P5E/p1549545841081500

[2019-02-07 15:29] robertknight commented on #882
@klemay - Can you confirm which URL patterns eLife include Hypothesis on? Is it all of https://elifesciences.org or only a subset of URLs under certain paths?

Something we'll need to figure out here is how to enable the share functionality for eLife but avoid showing the share button in other third-party contexts where it won't work, such as when the document is embedded by the LMS app. A really

[2019-02-07 15:45] robertknight commented on #882
If the client can determine that it was embedded by the publisher rather than by a browser extension or proxy service, it could enable the share dialog and provide some hint to bouncer in the URL. Bouncer could then choose to respect or ignore that hint.

[2019-02-07 16:15] klemay commented on #882
@robertknight I believe it's embedded on all articles but not landing pages, so anything with `https://elifesciences.org/articles/`

[2019-02-07 18:00] judell opened #951 "Support "paste-the-bits" for including images in annotations"
If the image that you want to include in annotation already lives at a URL, it's pretty straightforward to include that image. Otherwise, it requires a cumbersome workflow:

– take a screenshot
– decide on a name for a file
– save the screenshot to that file
– pick a service to which you can upload the file
– rummage around in your file system to find the thing that you just saved in order to uplo

[2019-02-07 21:03] klemay commented on #934
Before deciding on the UX of the activity view, we should to determine how users will get to that view. We have a few options to consider:

## Option 1: Access from Course Navigation Menu (within LMS iframe)

Some LTI apps (like Google Apps for Canvas) add a menu item to the course navigation menu which leads to the dashboard:

![screenshot-community canvaslms com-2019 02 07-14-46-58](https://user

[2019-02-08 01:53] hmstepanek opened #952 "Spike: What customer needs does Badge fulfill?"
Badge is a multi-purpose implementation. This is a spike to document those purposes and explore alternative implementations that still satisfy those customer needs.

The following are known customer needs that badge fulfills and proposed alternatives of meeting those needs without using the Badge implementation as it exists today.

- [ ] Notifying the user that there are annotations on a page with

[2019-02-08 02:14] hmstepanek opened #953 "What are the current problems with Badge?"
This spike is done when:

- [x] We've listed all the proposed problems with the badge
- [x] We've gone over the list of problems and decided which are problems we want to address in the short-term, and which we can <del>strike out</del> because we don't think they're actually important problems or don't want to address them in the short-term
- [ ] We've put the surviving list of problems into prio

[2019-02-08 14:50] ajpeddakotla commented on #952
Hey @hmstepanek I want to go back to the original user story that we all worked on last year - and this seems best suited for a conversation offline. The user story that we came up with was as follow:

Can we have a conversation about this user story and the problems we identified in this doc: https://docs.google.com/document/d/1TqNduRkkjfIVK98QKrWGpJW3eWmPx2ns4XSrHJfBSdE/edit I think we're spinni

[2019-02-08 18:28] judell commented on #86
As Sean Roberts mentioned way back when, it would be nice if we could detect that the selection crosses page boundaries and prevent the user from making an invitation that is guaranteed to orphan.

[2019-02-08 21:03] judell opened #954 "annotations can fail to anchor, yet not be reported as orphans"
Consider http://jonudell.net/h/Rhetoric_and_Crisis.pdf, where the client reports one orphan. (That one, by the way, is an example of the known problem that selections can't cross page boundaries.)

When I ran the new anchoring test, https://github.com/judell/h_puppeteer/, it reported four orphans. I figured that was a problem with the test, but apparently it's a legit issue with the client.

There

[2019-02-09 03:31] hmstepanek opened #955 "Handling long claimant_uri's"
https://sentry.io/hypothesis/h/issues/864120830/?referrer=slack

When annotating `https://watermark.silverchair.com/document?token=crazy long token` the claimant_uri is too large because of `crazy long token`. There are two issues here: What to do about these particular urls perhaps drop the token but also what to do with other claimant_uri's that are too long to fit in the db.

[2019-02-09 06:08] hmstepanek opened #956 "Determine cause of duplicated highlights in the DB"
https://sentry.io/hypothesis/h/issues/846053583/events/45521568081/

In all the cases I've looked at so far it appears that the exact same annotation occurs twice in the database. This suggests that for some reason the annotation is being created two times. Further debug is needed to determine why. Is this a lag in submission where the user is able to submit the same annotation multiple times? Is

[2019-02-09 06:53] hmstepanek commented on #956
I see a retry node lib was updated on Jan 7. The first occurrence of this issue is on Jan 15th. I wonder if that may be the culprit? https://jenkins.hypothes.is/job/client/job/master/857/changes

[2019-02-09 19:04] dwhly opened #957 "Group control switches randomly to first non-Public group"
## Bug report form

Originally reported by @heatherstaines, reproduced by myself and @hmstepanek.

### Steps to reproduce
1. On FF, using bookmarklet
2. (Had joined both QDR and ARPubHealth groups, to mimic Heather's control)
3. Begin to click into sites, open the bookmarklet and inspect the group control each time to see if its still in Public.

### Expected behaviour
Group should always be set t

[2019-02-09 20:59] heatherstaines commented on #957
Also experienced on Safari.

On Sat, Feb 9, 2019 at 2:04 PM Dan Whaley <notifications@github.com> wrote:

--
Heather Ruland Staines
Director, Partnerships
Hypothesis
M: 203-400-1716
Skype: heather.staines

[2019-02-11 15:32] klemay commented on #957
I did try this with the Bookmarklet in FF and Safari; seems to be isolated to the Bookmarklet because I can't repro with Via.

[2019-02-11 18:02] klemay commented on #1146
[Reported in Zendesk](https://hypothesis.zendesk.com/agent/tickets/3823):

CSS is causing annotation adder to pop up _behind_ the div containing the text, so user can't see or click on the Annotate and Highlight buttons: https://www.tensorflow.org/guide/variables

[2019-02-11 20:08] hmstepanek commented on #957
Debug so far: I've been unable to reproduce this locally so far.

This issue has to do with the focus group calculation/storage going awry. Some console log statements would really help to debug this problem. I have them locally but since I can't reproduce the problem locally they don't really help me. It's worth noting on each page load it goes through the process of calculating the groups and th

[2019-02-11 20:24] hmstepanek commented on #957
And indeed, it is the case that if I force the isLoggedIn to be false on the first load, I get this exact behavior so I'm 99% sure that's what's going on here.

[2019-02-12 00:38] #943 closed, assigned to robertknight

[2019-02-12 08:53] robertknight commented on #957
Resolved in Hypothesis v1.130. This bug is hard to reproduce because it depends on the order in which two concurrent API requests finish, as Hannah explained in the linked PR.

[2019-02-12 08:53] #957 closed, assigned to nobody

[2019-02-12 16:10] robertknight commented on #956
The retry lib in the client is used for retrying certain operations with exponential backoff if they fail:

- Repeating the initial `/api/profile` fetch if that fails in the client
- Re-connecting to the WebSocket if that gets disconnected

Neither of these involve annotation creation, so I think we may need to look elsewhere.

[2019-02-12 17:49] seanh commented on #953
Dev team has a meeting about this today. We discussed problems 1 (privacy), 2 (h performance), 5 (UX) and 6 (bugs). We struck out 2, 5 and 6, but we decided that 1 (privacy) **is** a problem that we want to address in the short-term.

We need to arrange another meeting to discuss problems 3, 4, 7 and 8 and to prioritise the surviving problems and then we should be able to close this spike.

[2019-02-12 18:18] seanh commented on #950
Some research in this Slack thread: https://hypothes-is.slack.com/archives/C4K6M7P5E/p1549989090050700

[2019-02-12 22:16] dmfine commented on #942
To date, there is only one question shared, with eLife, but the goal is to develop a standard dashboard to share with each partner. We will not share without review. You can always see everything that’s sharable in here:
https://metabase.hypothes.is/admin/settings/public_sharing

[2019-02-13 20:27] judell commented on #954
Update: I've found more examples of this syndrome. So far, all are cases where the target of the annotation that goes missing, in the way described here, overlaps the targets of other annotations that do behave as expected.

[2019-02-13 21:29] klemay commented on #934
We've mapped out [user flows for entry points to the activity view](https://docs.google.com/presentation/d/1QYM7InlOE-ZDOhK5Mvr1TfM3RTCqLP1dK1wy-eP9zB0/edit#slide=id.g4efb06f9ad_0_70). **Note that this only shows how users will _get_ to the activity view, not what will be included in the view or how it will look.**

Next steps are for Katelyn, Arti, & Jeremy to meet with developers to discuss and

[2019-02-14 18:03] hmstepanek opened #958 "lti launches takes a long time"
The response time is a direct result of the api calls to h. In one case it took >2s to respond from add_member and >1s to respond to groups.update. Interestingly these endpoints in h show that they had a max response time of only .4s and .6s respectively. This indicates that the bulk of the request time was spent in network/routing time (outside of h and lms).

![image](https://user-images.githubu

[2019-02-14 18:06] hmstepanek opened #959 "lms reports page takes min 4.5s to complete"
The lms reports page is a growing table and the db query for it takes at min >4s to complete. This means that gunicorn work is occupied for 4.5s and unable to full fill other requests. If there are a lot of these at peak traffic this can impact our customers.

This table and view need to be removed and we need to turn them into a metabase query.
![image](https://user-images.githubusercontent.com/3

[2019-02-15 23:19] judell commented on #954
Here's a short screencast illustrating how this can look to users: http://jonudell.net/h/user-visible-manifestation-of-unreported-orphans.mp4.

I finally understand why these unreported orphans sometimes appear to be missing and sometimes appear to be not a problem at all. In the screencast, the unreported orphans just happen to show up in the sidebar in a way that makes you think they're anchored

[2019-02-18 13:55] lyzadanger commented on #942
Thanks! Appreciate the auditing.

[2019-02-18 13:55] #942 closed, assigned to nobody

[2019-02-18 19:57] seanh commented on #927
Via actually has quite a few little features hidden in there. I think it might be a good idea to write a list of exactly what requirements **the LMS app needs** for an HTML and PDF proxy. (And I can provide a starting point for that list as I think I have a pretty good idea...) We could then write a new Via to those requirements and begin using it for the LMS app only, leaving public <https://via.

[2019-02-18 20:09] seanh commented on #927
Example of a previously-stated Via requirement that I don't think applies to a Via replacement for the LMS app:

That's [from Slack](https://hypothes-is.slack.com/archives/C6RS34A3E/p1503387636000063)

(Various other Via requirements and issues discussed in that channel too)

[2019-02-18 20:11] seanh commented on #927
See also [SPIKE [4 days]: Research rewrite of Via](https://github.com/hypothesis/product-backlog/issues/307) (Sep 2017) (More Via requirements that we'll be needing are listed in there too)

[2019-02-18 20:18] seanh commented on #927
Another [previous Slack discussion about Via and ads](https://hypothes-is.slack.com/archives/C643EDCP2/p1505852358000205):

I think that requirement had also come up earlier (before that Slack discussion). I don't think ad-preserving is needed for the LMS app

[2019-02-18 20:32] seanh commented on #927
Probably worth linking to <https://github.com/hypothesis/injecture>, an existing Via replacement written in Go that we already have deployed to Elastic Beanstalk (though it doesn't appear to be working). It'd be cool if we can do a no-app solution (e.g. just an nginx config file) but if we decide we actually need to write an app then Injecture might be worth looking into again. Being written in Go

[2019-02-19 16:58] seanh opened #960 "Outline a solution to the badge user privacy issue"
This is a spike that came out of this [earlier spike about the badge](https://github.com/hypothesis/product-backlog/issues/953).

**Problem:** The Chrome extension's badge feature sends every URL the user visits to our server and, even though we don't keep this browser history or do anything with it, we think that the fact that it is being sent to us at all is a problem.

Also we think there may b

[2019-02-19 17:02] seanh opened #961 "Outline simple ways to reduce the AWS costs of the badge"
This is a spike that came out of this [earlier spike about the badge](https://github.com/hypothesis/product-backlog/issues/953).

**Problem:** The badge constitutes a large percentage (most?) of all of our traffic and a large proportion of our compute time and this costs us $X (about one month of developer time per year) in AWS fees.

We decided that we want to look into **simple and easy ways** (

[2019-02-19 17:06] seanh opened #962 "Outline a way to remove "badge misses" from h"
This is a spike that came out of this [earlier spike about the badge](https://github.com/hypothesis/product-backlog/issues/953).

**Problem 1:** We don't think that "badge misses" (those badge requests where the badge number is 0 because the URL in question hasn't been annotated) belong in h because this traffic has very different scaling properties than the rest of h. It scales with the number of

[2019-02-19 17:07] dwhly commented on #961
I swear I thought we were already filtering out a few things like gmail, gdocs (though not gdrive), etc.  Must have been dreaming.

[2019-02-19 17:09] seanh commented on #953
Another dev team meeting: We finished discussing the 8 problems above and decided and 4 problems that we do want to address in the short-term. We created three further spike issues to investigate solutions to those 4 problems (2 of the problems are combined into 1 spike).

For each of the spikes, once the spike is completed and a solution has been outlined and agreed on, then we could create a fur

[2019-02-19 17:09] #953 closed, assigned to nobody

[2019-02-19 17:25] dmfine opened #963 "Create internal API elb for LMS"
Currently LMS goes through cloudflare to reach the H API. There have been some network issues in that link which we can't control or troubleshoot further. Having internal services route their API traffic over the public internet is bad design from any number of angles. Research alternatives.

An internal API endpoint could be achieved in a few ways
1. Split brain DNS in Route53 so that the endpoin

[2019-02-19 18:18] hmstepanek opened #964 "User signup schema validation fails to catch duplicate email address"
https://sentry.io/organizations/hypothesis/issues/873372193/events/46465463202/

For some reason, user's are signing up again even though they have already signed up and are hitting an integrity error for duplicate email address in the user table. We have a schema check in place for this that searches the user table and validates that that email is not present before continuing the signup process

[2019-02-19 19:01] hmstepanek opened #965 "ssl write timeout"
We see a lot of timeouts in write operations in AMQP when writing message data. This may result in message loss so this needs to be investigated.

https://sentry.io/organizations/hypothesis/issues/507065335/?project=37293&query=is%3Aunresolved&statsPeriod=14d&utc=false

[2019-02-19 19:58] robertknight commented on #954
Highlighting is currently implemented (and has been since forever) by wrapping DOM nodes with spans that apply highlighting and are used to detect clicks. A fundamental issue with this approach is that the process of creating a highlight modifies the DOM and that can end up interfering with the process of creating highlights for other, overlapping annotations.

Unless there is something new that I

[2019-02-19 22:05] judell commented on #954
Thanks @robertknight.

[2019-02-19 23:52] #947 closed, assigned to nobody

[2019-02-20 12:06] robertknight commented on #954
I'm taking this card back off the current sprint. If someone wishes to discuss it sooner than the next sprint planning, please ping me.

[2019-02-20 12:17] robertknight commented on #926
I believe this has been superseded, at least for near-term work, but three other issues that came out of a discussion yesterday. See https://github.com/hypothesis/product-backlog/issues/953#issuecomment-465223390. If so we should either close it, or at least remove it from the current sprint for the time being.

Please let me know if I've got this wrong @dmfine.

[2019-02-20 12:35] seanh commented on #934
**In option 1** what happens when the user clicks on Google Drive in the course navigation menu? Does it open the Google Drive dashboard in an iframe inside Canvas?

**For option 1** it looks like the Google Drive app has been installed _in the course_ in order to enable it to appear in the course navigation menu. I wonder how that works if someone installs our app institution-wide rather than int

[2019-02-20 14:47] seanh opened #966 "mon collectd elasticsearch errors in Papertrail"
The `collectd` process running on `mon` is printing out ~10 elasticsearch errors over and over again. I've not idea whether this indicates an actual problem (e.g. with our Elasticsearch monitoring in Grafana?) but it is creating a _lot_ of noise in our Papertrail logs which makes the logs difficult to read.

![screenshot from 2019-02-20 11-49-54](https://user-images.githubusercontent.com/22498/530

[2019-02-20 15:28] jeremydean commented on #934
@seanh: a few answers started to your questions and more questions below:

don't know about google docs, but with flipgrid, it looks like the left nav does take you to an iframed "home page" for the app, where one can in turn navigate to various parts of their flipgrid account and content.

![image](https://user-images.githubusercontent.com/3261902/53102427-3ad04080-34f1-11e9-9423-6c409654b2a5.png

[2019-02-20 16:38] seanh commented on #934
I actually think it's okay for our app to let users navigate from within an assignment to other parts of our app (for example to various activity pages, or to a user settings page, etc.) I think we should do it in a modal dialog like in the Slack screenshot I showed, or provide some other obvious way for the user to get back to the original assignment, because the user has no back button in the if

[2019-02-20 16:38] seanh commented on #934
Unfortunately our app just can't do either of these because it's in an iframe. We can't change what Canvas page the user is on

[2019-02-20 16:41] seanh commented on #934
I think that is a problem but I think the modal-dialog-with-a-close-button (see Slack screenshot) or some other kind of "way back to the original assignment" that our app provides them can solve that

[2019-02-20 16:42] klemay commented on #934
Not necessarily! LMSes (and I believe the LTI spec) allow for "placements" to be set. LMSes allow a single app to have multiple "placements" - for example, Flipgrid in our Canvas instance is allowed in the left nav menu and within Assignments. Currently Hypothesis' placements are Assignment Selection and Link Selection for Canvas— we'd need to enable "Course Navigation" as a possible placement.

T

[2019-02-20 16:55] seanh commented on #934
This research is really useful. I had assumed that a Canvas admin or instructor would have to create the placement of our app in the navigation menu. But it sounds like our app can create the placement itself, which is great. We need to find out exactly how an app creates a placement though.

I'm concerned that it _may_ be that, while we can make new installs of the app create the placement, exist

[2019-02-20 16:56] hmstepanek opened #967 "Email validation allows invalid emails"
https://sentry.io/organizations/hypothesis/issues/812508983/

There isn't a 100% accurate way to check for a valid email other than attempting to send it but it looks like our email checker doesn't check for `.`'s so it allows emails like amy@2011 for example. According to the official spec emails without `.`'s are allowed but some companies like facebook/twitter force the `.` which is a route we

[2019-02-20 17:56] judell commented on #954
Okay. I had forgotten that for Science in the Classroom the fix was evidently to sort annotations by largest to smallest target. That's been seemingly working for them for several years now, at least I haven't heard any complaints. Of course that isn't the Hypothesis client doing the anchoring, it's a much simpler piece of code which does anchoring in a completely serial fashion. That said, the ab

[2019-02-20 17:56] hmstepanek commented on #956
Possibly related to this same issue only with a duplicate dev token rather than an annotation:
[Sentry Issue](https://sentry.io/organizations/hypothesis/issues/854147807/?project=37293&statsPeriod=14d)
[Duplicate in the DB](https://metabase.hypothes.is/question#eyJuYW1lIjpudWxsLCJkYXRhc2V0X3F1ZXJ5Ijp7InF1ZXJ5Ijp7InNvdXJjZS10YWJsZSI6NjYsImZpbHRlciI6WyJhbmQiLFsiPSIsWyJmaWVsZC1pZCIsNDE0N10sImFjY3Q6VH

[2019-02-20 18:10] hmstepanek commented on #965
Already an issue here for this: https://github.com/hypothesis/h/issues/5311#issuecomment-428506843

[2019-02-20 18:11] hmstepanek commented on #965
Already an issue here for this: https://github.com/hypothesis/h/issues/5311#issuecomment-428506843

[2019-02-20 18:18] hmstepanek commented on #965
Didn't realize that the other issue was closed so reopening with a link to the old issue. It also appears the Kombu version that fixes this issue has been released so we should prob go ahead and upgrade which should resolve this problem. https://github.com/hypothesis/h/issues/5311

[2019-02-21 00:57] hmstepanek commented on #937
Completed.

[2019-02-21 00:57] #937 closed, assigned to hmstepanek

[2019-02-21 11:12] seanh opened #968 "Move all of our static server and QA and production app server logs to a Papertrail"
## See Also

* [Improve log file storage and access for our apps](https://github.com/hypothesis/product-backlog/issues/847), the issue from when we moved from Elastic Beanstalk Logs to CloudWatch Logs (our current solution). This move didn't solve the problem. CloudWatch Logs is too unusable and has too poor a feature set to be useful for most developers to do their jobs effectively.

* [Slack thr

[2019-02-21 20:37] judell commented on #954
An example from the HTML domain: at https://www.nytimes.com/2018/12/08/opinion/college-gpa-career-success.html there are 8 annotations that anchor to the last paragraph, but 3 that orphan. Unlike the PDF examples I've found, where the orphans are not reported as such by the client, these 3 are reported as orphans.

However the test also finds a fourth and unreported orphan: https://jsoneditoronlin

[2019-02-21 21:48] cgruppioni commented on #198
+1 for wanting this feature

[2019-02-23 16:31] dwhly opened #969 "Markup in page titles not stripped by activity pages or chrome extension"
## Bug report form
### Steps to reproduce
1. Using the chrome extension, go here: https://psycnet.apa.org/fulltext/2019-01683-001.html#annotations:mC2oYh7aEemB8l_rYaje3w
2. Or, go here: https://hypothes.is/groups/rK3k9G1Q/apa-publishing-open and scroll to "Spearman's g found in 31 Non-Western nations"

### Expected behaviour
The page title should not include markup, e.g. <em> tags.

### Actual beh

[2019-02-23 17:32] dwhly commented on #969
I can see now that this isn't our problem...  em tags not supposed to be in title attributes in the first place.  Responding to customer that they should contact their CMS provider.

[2019-02-23 17:32] #969 closed, assigned to nobody

[2019-02-24 21:11] xolotl commented on #809
Another version of this happens when annotations are shared on Twitter (and maybe other social networks) as in the screenshot below (from [this Tweet](https://twitter.com/xolotl/status/1099765187530219522). Unless I'm mistaken, Hypothesis might consider this a more pressing issue as it doesn't just affect RSS/Atom feed output.
![nate_angell_on_twitter___strong_connections_between__davecormier_s_po

[2019-02-25 08:24] #965 closed, assigned to nobody

[2019-02-25 11:47] robertknight commented on #936
The scope of this task was intentionally vague, because the details of what exactly we are going to build for the LMS activity view are not completely clear.

The rough idea is that we will probably build a new SPA which communicates with h via the API, and provides an activity view oriented towards the needs of the LMS app. Initially we think we'll be building a prototype app in the client repo w

[2019-02-25 12:09] robertknight commented on #936
I'm going to close this issue for now and say that https://github.com/hypothesis/client/issues/972 is the initial outcome. As we learn more about what the LMS app is likely to need, we'll file new issues.

[2019-02-25 12:09] #936 closed, assigned to robertknight

[2019-02-25 18:52] ajpeddakotla commented on #938
After talking to @hmstepanek there are some lingering questions around what to do for three specific items:

1. Where to put the "view groups activity"
2. What to do with leave groups
3. What to show users in a logged out state.

For the first 2, there are three options. Out of these I think option#1 is the best - it works on both mobile/other devices, it gives us more room to put additional group

[2019-02-25 20:32] robertknight commented on #938
@hmstepanek - Where does the "Public" group show up for logged-out users if there are no featured groups? I noticed it wasn't visible in the WIP PR in the menu.

[2019-02-25 21:35] hmstepanek commented on #938
I'd expect Public to show up in the My Groups list. In this screen capture I wouldn't expect it to show up cause this page has an Open Group so the Public group is filtered out in that case. That being said, the template logic was wrong in my PR and I've updated it so that when the user is logged out it still loops through the groups list.
![image](https://user-images.githubusercontent.com/3005993

[2019-02-25 21:39] hmstepanek commented on #938
This also might be a good time to revisit whether the Public group should be part of My Groups cause it would eliminate the complexity above.

[2019-02-25 22:58] ajpeddakotla commented on #938
I think:
1. Public should be a part of My Groups - cause that will follow the user around wherever they go.
and
2. Users that are logged out will see the Public group, and whatever scoped world-readable groups are available to them (which is the current flow). If there aren't featured groups available to users, they'll still see the public group. I don't think they need to see a message.

[2019-02-26 00:06] hmstepanek commented on #938
The pre-existing logic is setup to *not* show the Public group if there are other scoped world-readable groups. I assume this was to prevent people from annotating in the Public group on pages that had a scoped group. I just want to clarify-it sounds like we want to change this behavior to always show the public group under My Groups regardless of what other groups there are-is that correct? I thi

[2019-02-26 12:48] #967 closed, assigned to seanh

[2019-02-26 15:29] seanh commented on #956
Closing this as its a duplicate of <https://github.com/hypothesis/h/issues/5495> which is already linked to the Sentry issue (and also this issue has been created in the wrong repo)

[2019-02-26 15:31] seanh commented on #964
The linked Sentry issue seems to have been resolved. Should we close this?

[2019-02-26 15:42] hmstepanek commented on #964
No, I think I accidentally clicked resolve and couldn’t figure out how to undo it. It’s still a problem.

[2019-02-26 19:22] lyzadanger commented on #938
Had an in-depth discussion with @hmstepanek this morning. I’d like to propose that the current problem we’re solving, _immediately_, is defining what set of groups are presented to the user and how those groups are organized in the group-select menu. Once we have that sorted, we’ll circle back and address how the _actions_ (e.g. view activity, leave group) can be represented. Breaking it down in t

[2019-02-27 11:09] seanh commented on #938
@lyzadanger One thing I'm wondering about your sketches, what would non-logged-in state 7 (when there is the public group and two featured groups) look like if the public group was _not_ the currently selected group? Presumably _Public_ would not belong under _Currently Viewing_ in that case. So does it move under _Featured Groups_?

[2019-02-27 16:14] hmstepanek commented on #938
@seanh I don't think that case exists cause when you are logged out you won't see the public group when there are other groups unless you specifically request to see it.

[2019-02-27 18:00] papatistos commented on #391
So what is the status of my request? Iäm suspecting that my request about moving annotations (see second post) might have been lost because the title of the issue is something else (although related). The other related issue (#111 ) referenced above is about moving individual annotations. What I need is moving all references in a group to a different group.

Is there any chance moving annotations

[2019-02-27 18:49] klemay commented on #391
Hi @tophee, we're a small team with a lot on our plates, so while we'd love to address each user request as it comes in, we're not always able to.

The ability to move annotations (copy + delete) in bulk will come after https://github.com/hypothesis/product-backlog/issues/111.

In the meantime, @judell has created a tool that will let you copy annotations (just copying, not copy + delete) in bulk

[2019-02-28 22:46] xolotl opened #970 "PDF annotations fail to anchor on page load"
### Steps to reproduce
1. Visit https://library.educause.edu/~/media/files/library/2019/2/2019horizonreportpreview.pdf
2. Note how annotations load as orphans.
3. Visit another group and then switch back to Public and note the annotations now anchored.
4. Or try logging out of the client and note the public annotations now anchored.

### Expected behavior
Annotations should be anchored without tak

[2019-03-01 16:22] klemay commented on #970
I should note that I've seen this come up in support quite a bit lately, in the LMS app and in LMS contexts. Originally I thought this was related to the slowness Via was experiencing last week, but Nate experienced this in a non-Via context.

Switching groups or logging in/out does appear to re-anchor orphans; refreshing the whole page leads to mixed results (sometimes annotations re-anchor, some

[2019-03-03 14:52] dwhly commented on #970
I am seeing this a lot myself personally.  It happened again yesterday [on a PDF at congress.gov](https://www.congress.gov/116/bills/hr1044/BILLS-116hr1044ih.pdf).  I just checked again this morning.  No problems.

When it fails, it doesn't matter whether you're in chrome, FF or the extension or via-- it fails across the board.  I have not tried switching groups or logging in/out, but I will next

[2019-03-04 18:06] klemay commented on #908
In terms of a real-world example, OpenEdition Books hosts books from various publishers, and would like for publisher-specific groups to show up only on books put out by that publisher. Right now, we have to scope all of their groups to `https://books.openedition.org`

Instead, they would like to:
- Have the [ENS Editions](https://hypothes.is/groups/Zx18zyny/opr-ens-editions) group scoped to https

[2019-03-05 00:00] hmstepanek commented on #964
I recreated the scenario with two workers where the user issues a signup request and then while that's being handled (after the redirect occurs but before the schema email check), the user logs in. However, since the request.authenticated_userid at the time of the signup is None, it stays None for the duration of that request thus, despite the user logging in this will not register until after tha

[2019-03-05 06:40] JamesPJ commented on #366
I was trying to upgrade the PDF.js to 2.x version. But, I'm facing issue with the frame syncing. The `addFrame` function is never getting called, due to this `Redux store` is having empty `frame` state. I can see the `addFrame` is attached to`bridge.onConnect(addFrame);`. I'm having difficulty in understanding this portion of implementation. Can anyone explain when the `Redux store` should update

[2019-03-05 08:26] robertknight commented on #366
Hello @JamesPJ -

PDF.js is not part of the client. Are you trying to use a newer version of PDF.js in the browser extension, Via or with a different tool?

The Hypothesis client already supports recent versions of PDF.js, at least the version shipped with the stable release of Firefox (2.1.97). You shouldn't need to make any code changes to the client to use it with that version.

If you are tryi

[2019-03-05 11:27] JamesPJ commented on #366
@robertknight Thank you for the quick response. Yes, I was trying the new PDF.js version with the browser extension base by combining the features of client. Let me check whether client alone works for me.

[2019-03-05 13:38] seanh commented on #964
I think catching it at DB level is fine, but rather than 500ing the code should catch the IntegrityError from the DB and turn it into a nice "An account with the email address already exists" error page. If conflicting requests come in at the same time in a race condition then both requests can't succeed, one of them is going to have to fail, but it should fail without crashing h.

[2019-03-05 13:41] lyzadanger commented on #964
If we want to be really fancy/correct about this, we'd raise an HTTP 409 (Conflict) and make sure that there is an exception view that will match for that context and display a nicely-formatted error (presumably similarly to the way we handle more common HTTP 4xx errors).

[2019-03-09 21:43] xolotl commented on #858
Confirming that the copy to clipboard capability is missing from the page share UX at @ajpeddakotla mentions in this issue, and on iOS browsers like Chrome and FF, I'm not able to even select all of the link there so sharing the page annotation link seems blocked on mobile.

[2019-03-11 09:36] robertknight commented on #858
Can we treat that as a separate issue please? It has always been the case that the page share dialog was a plain text field with no "Copy" button.

When I saw this issue I was reminded that we have a [mobile Safari-specific workaround](https://github.com/hypothesis/h/blob/0c81106a6cd9f9380f6c8b3258eb64ef391d00b1/h/static/scripts/controllers/copy-button-controller.js#L20) in our "Copy to clipboard"

[2019-03-11 18:54] #946 closed, assigned to nobody

[2019-03-12 17:44] dmfine opened #971 "Various Metabase Issues: Pulses don't appear, timeouts, crashes"
Issue for tracking all Metabase issues currently affecting us.

1. Pulses sometimes don't appear
2. Metabase has needed rebooting
3. Some long running queries timeout

[2019-03-12 17:49] dmfine commented on #971
1. Pulses
Have been discussing with metabase developers. It could be related to issues #2 or #3, for example if the queries for that pulse timeout on a particular day. Troubleshooting is hindered by the fact that metabase doesn't log activity related to pulses. I'm told that feature will be included in the next minor release however. Since upgrading the instance RAM to address issue #2 the pulses

[2019-03-12 17:52] dmfine commented on #971
2. Metabase rebooting
On Thursday last metabase was unresponsive. I was able to ssh, but the console was running so slowly that it was barely usable. I did manage to run commands to confirm it was out of memory. It ran on a t2.micro instance, which is maybe not enough for a dockerized java app. I upgraded to a t2.small with twice the RAM for $8/mo extra. Since then it has not needed rebooting. I'm

[2019-03-12 17:57] dmfine commented on #971
3. Long running timeouts
I observed certain queries consistently timing out at precisely 60 seconds. Metabase developers say that it no longer has hard timeouts and suggested some places for me to look. I changed some RDS settings to no avail. Then they suggested looking at the ELB, and sure enough there was a 60s timeout set on it. More testing is needed, but that's certainly one place where it w

[2019-03-12 22:05] xolotl opened #972 "via exposes "WB_wombat_top" in webpages"
### Steps to reproduce
1. Visit a webpage via via (see what I did there?), like: https://via.hypothes.is/https://www.nytimes.com/2019/03/12/us/college-admissions-cheating-scandal.html
2. Notice the text "WB_wombat_top" inserted inline with other text as in the screenshot below.

![College_Admissions_Scandal__Actresses__Business_Leaders_and_Other_Wealthy_Parents_Charged_-_The_New_York_Times](https:

[2019-03-13 19:54] ajpeddakotla opened #973 "Exploring moving groups heading and activity page link"
**** This is exploratory work that will live behind a feature flag ******

Exploring moving groups heading and activity page link

•  Move current group title to annotation set header
•  Change group selector control to a descriptive button
•  “Go to group” functionality = link on group title
•   Remove "leave group" button
<img width="252" alt="Screen Shot 2019-03-13 at 2 21 11 PM" src="https://u

[2019-03-14 00:25] dmfine commented on #971
Still getting Java OOM. Increasing to t3.medium with 4gb RAM. The query no longer crashes...

[2019-03-14 00:30] hmstepanek commented on #971
https://hypothes-is.slack.com/archives/C074BUPEG/p1552520109000100

[2019-03-14 15:11] klemay commented on #933
Done! See: https://docs.google.com/presentation/d/1QYM7InlOE-ZDOhK5Mvr1TfM3RTCqLP1dK1wy-eP9zB0/edit (requires Hypothesis GSuite login)

[2019-03-14 15:11] #933 closed, assigned to nobody

[2019-03-18 16:00] hmstepanek commented on #964
I looked into disabling the submit signup button after it's clicked but it appears it's already getting disabled so I don't think there's much left to do here. I'm gonna go ahead and close this.

[2019-03-18 16:00] #964 closed, assigned to hmstepanek

[2019-03-21 18:28] dmfine commented on #968
It looks like the easiest way will be to have a lambda job forward cloudwatch logs to PT
https://github.com/apiaryio/cloudwatch-to-papertrail

The alternative would be to change H logging config to add a second handler (which, we probably want fewer references to 3rd party services in the codebase)

Or, we could make H log to file and use a tool papertrail provides to tail and forward that file. T

[2019-03-21 20:26] klemay commented on #934
Initial mockups are explained in context here: https://docs.google.com/presentation/d/1uPyf60yf-8R-qrJ9y1lWoxEEEM_jcJGeVExtNO16MTg/edit#slide=id.g54fb1c147e_0_0

(Requires Hypothesis sign-in)

I'm going to do an asynch demo in Slack explaining what we've come up with so far.

[2019-03-22 13:08] #941 closed, assigned to nobody

[2019-03-25 13:40] lyzadanger opened #974 "Community Groups: Re-introduce group actions to UI"
Part of https://github.com/hypothesis/product-backlog/issues/848
Part of https://github.com/hypothesis/product-backlog/issues/865

Implement a new design for the groups menu which re-introduces actions for going to a group's activity page, copying a link for the group and leaving the group.

We plan to use the same dropdown menu style both across the client and also in new LMS activity views. The

[2019-03-25 13:43] lyzadanger opened #975 "Community Groups: Add client logic for retrieving specific group(s) from API"
Part of https://github.com/hypothesis/product-backlog/issues/866

To be able to display annotations in a specific-group context, the client needs to be able to respond to the presence of a query string parameter (presumably) and retrieve that group. It also needs to retrieve the specified group from the API, focus it and display it in the appropriate place in the group-select menu.

This work incl

[2019-03-25 14:02] lyzadanger opened #976 "Prepare web documentation for API versioning"
Part of https://github.com/hypothesis/product-backlog/issues/940

The API description document from which our documentation is generated has been ported to valid OpenAPI 3.0 and currently lives alongside our legacy documentation in a separate YAML file.

This work includes:

* Replacing `hypothesis.yaml` with `hypothesis-v1.yaml` as the default API description document source (and hence the source

[2019-03-25 14:05] lyzadanger opened #977 "Spike: Investigate what's causing 502 errors"
This is edited from a broader issue description. To figure out what we want to do about application 502 errors, we first want to do some digging: in what situations do they arise in the first place? This is a spike to figure out just that, and then we can subsequently decide what to do (logging, fixing, metrics...etc.).

[2019-03-25 15:27] hmstepanek opened #978 "Track down current SLA's"
Track down our current SLA's. This is step one in a larger goal of connecting our SLA's to our monitoring infrastructure.

[2019-03-25 15:29] hmstepanek commented on #978
Current SLA's: https://docs.google.com/document/d/1OFKXMq5n86hhd4gr6tzU9ezyFdVMhXi5NenkUtdHXjE/edit

[2019-03-25 15:46] hmstepanek commented on #978
![image](https://user-images.githubusercontent.com/30059933/54933715-6b354100-4eda-11e9-992f-353e64a4da39.png)

![image](https://user-images.githubusercontent.com/30059933/54933646-4b9e1880-4eda-11e9-9664-0514845f2ff8.png)

![image](https://user-images.githubusercontent.com/30059933/54933603-30cba400-4eda-11e9-9005-4c30288793fa.png)