[2018-05-14 14:00] robertknight commented on #644
Some implementation issues we need to figure out:

- Where do we implement the downtime message in our infrastructure/application? (nginx config within the H container? Something at the CloudFlare or AWS levels?)
   - For reference (see links in issue description), the previous implementation used the existence of a `maintenance.html` file via a `try_files` directive in the nginx config
- How long

[2018-05-14 14:11] robertknight opened #645 "Service hits RDS max_connections limit during deployments at peak hours"
When the h service is deployed at peak hours, the number of connections to the hop-prod RDS instance from all containers (mostly h app containers) may exceed the `max_connections` limit. This results in errors being reported to Sentry and knock-on issues such as:

- Failed API/web requests
- Background worker tasks in h may fail

See [Slack discussion](https://hypothes-is.slack.com/archives/C074BU

[2018-05-14 21:09] judell commented on #30
It already was pretty easy to add, the (maybe) harder thing was to suss out the performance implications of wildcarding. But yeah, now that it seems we're not only changing the ES engine substantially, but also the wrapper we use to talk to it, this should wait. Hopefully, though, it can serve as a reminder that wildcarding is wanted, in case that might affect any implementation decisions.

[2018-05-15 13:44] seanh opened #646 "Add required ELASTICSEARCH_URL config setting"
Add a new Elasticsearch URL config setting. This should be named:

* `ELASTICSEARCH_URL` when used an environment variable
* `es.url` when used in `conf/*.ini` files and in `request.registry.settings` (e.g. `request.registry.settings["es.url"]`)

This card is just for adding the config setting and making it required (h should crash on startup if the setting is missing), but nothing will actually b

[2018-05-15 14:17] seanh opened #647 "Refactor h config code"
Refactor h's config code to work more like [the config code in the old lti app](https://github.com/hypothesis/lti/tree/master/lti/config):

* All config and settings-related code together in one directory
* Any default values for config settings are defined in the same place where the config setting is defined
* It's possible to define required config settings and h crashes on startup with a helpf

[2018-05-15 14:17] seanh commented on #646
I've added a [separate card for config code refactoring](https://github.com/hypothesis/product-backlog/issues/647) that could be done before this card.

[2018-05-15 14:37] seanh opened #648 "Connect to, configure and initialize Elasticsearch 6"
## Done when

- [x] A connection to Elasticsearch 6 is opened on h startup, and is available to h code
- [x] The `hypothesis --dev init` command (which is [called by `make dev`](https://github.com/hypothesis/h/blob/ca306257f65df43fb8161681c185d4d475f0d2bc/Makefile#L29) configures and initializes an index for annotations in the Elasticsearch 6 cluster. This includes:
  - Defining the mapping type f

[2018-05-15 14:38] seanh commented on #632
Closing in favour of https://github.com/hypothesis/product-backlog/issues/648

[2018-05-15 14:38] #632 closed, assigned to hmstepanek

[2018-05-15 14:38] seanh commented on #631
Closing in favour of https://github.com/hypothesis/product-backlog/issues/648

[2018-05-15 14:38] #631 closed, assigned to lyzadanger, hmstepanek

[2018-05-15 16:46] klemay opened #649 "Annotations are orphaned when visiting web page with Via"
Reported by a user in Zendesk: https://hypothesis.zendesk.com/agent/tickets/2521

### Steps to reproduce
1. Go to https://via.hypothes.is/http://money.cnn.com/2018/04/27/news/economy/minimum-wage-increase/index.html to see annotations added by user Carl.Hess
2. Navigate through the CNN Money website to view another article
3. Go back to https://via.hypothes.is/http://money.cnn.com/2018/04/27/news/

[2018-05-16 16:47] ajpeddakotla commented on #94
Note from backlog grooming:
- Education users have noticed this repeatedly
- This is the first thing that users have noticed in terms of bad UX.
- There are ways we can approach this that might also resolve this issue on mobile (or make it more responsive).

[2018-05-16 16:59] ajpeddakotla commented on #105
Low priority feature request. Delete annotation experience is a bit jarring, and UX can definitely be improved.
Screen shot of alert message that user sees below:
<img width="901" alt="screen shot 2018-05-16 at 11 58 36 am" src="https://user-images.githubusercontent.com/7463523/40131810-99304d28-5900-11e8-8125-6516a3e7feb4.png">

[2018-05-16 17:12] ajpeddakotla commented on #111
Tagging two other (closely) related issues here:
https://github.com/hypothesis/product-backlog/issues/191
https://github.com/hypothesis/product-backlog/issues/110

[2018-05-16 17:19] ajpeddakotla commented on #153
In order to archive a group, we'd need to provide a way for users to access the archived groups, so that the groups aren't lost in the ether.

[2018-05-16 17:22] dwhly commented on #160
@robertknight We're doing a big triage of the backlog.  When you say "TBD magic", does anything come to mind?

[2018-05-16 17:24] ajpeddakotla commented on #191
Tagging this issue in here, as having a global default would address part of this issue as well: https://github.com/hypothesis/product-backlog/issues/190

[2018-05-16 17:31] ajpeddakotla commented on #1136
Tagging https://github.com/hypothesis/product-backlog/issues/198

[2018-05-16 17:37] judell commented on #94
My experience with the minimal solution mentioned above (
https://github.com/hypothesis/product-backlog/issues/94#issuecomment-359055472)
::

- Close to 100% effective for PDFs

- I estimate 90+% effective for HTML (doesn't always deliver perfect
alignment, but almost always helps, and very rarely hurts)

When I switch from the experimental extension back to the production
extension, the absence o

[2018-05-17 02:17] hmstepanek commented on #646
I'm confused about the need to add a default in the .ini files and then make a required env var setting in the h/config.py. Don't those contradict each other? If we make it required you'll see a warning when running make dev. It's possible I'm miss-understanding; is the intention to not default it in the app.ini and make it required for prod env's but not for dev env's? I guess that makes sense bu

[2018-05-17 02:27] hmstepanek commented on #646
This also makes me wonder whether we should do something similar with the es settings for the client and put them in the .ini files and config.py files instead of defaulting them in client.py. Also just an FYI, you can inherit settings from one .ini to another so that's also an option rather than duplicating them.

[2018-05-17 09:42] seanh commented on #646
I think those would contradict each other yes. But my intention was that the production ini would _not_ contain any default value. (The development ini files would contain a default, though.)

The intention was to make it a required config setting that has a default value in dev envs (so dev envs will just work, you will not see any warnings) but no default value in production envs. It's required

[2018-05-17 09:48] seanh commented on #646
I think there may be some confusion about **has a default value** vs **is a required setting**. I think these are two orthogonal settings. All 8 possible combinations are valid!

| Has a default  | Is required |
| -------------- | ----------- |
| Yes            | Yes         |
| Yes            | No          |
| No             | Yes         |
| No             | No          |

For example lets say t

[2018-05-17 15:28] hmstepanek commented on #646
Ok yes that makes sense. Thanks!

[2018-05-17 15:59] robertknight commented on #645
We are currently using an m4.large instance so DB instance memory is 8GB (minus perhaps some reserved amount?) and the "some constant" is 31457280 (30MB), allowing for ~270 connections. According to https://www.citusdata.com/blog/2017/05/10/scaling-connections-in-postgres/ each connection is a forked process using a minimum of 10MB. So the default value set in RDS seems reasonable.

[2018-05-17 16:11] robertknight commented on #645
Looking at the ratio of freeable memory and active connections reported by RDS, the 30MB-per-connection figure looks about right. On that basis I think the easiest option until we can reduce load on the h instance by moving the `/api/badge` traffic to a separate service would be to simply use a larger capacity RDS instance (~$270 extra/month if we doubled to an m4.xlarge).

[2018-05-18 13:02] robertknight commented on #617
Related resource - Amazon's advice on how to use KMS: https://d1.awsstatic.com/whitepapers/aws-kms-best-practices.pdf . See pages 8-9 for a discussion of the difference between AWS-managed keys and customer-managed keys.

[2018-05-18 14:50] ajpeddakotla commented on #480
Closing this as no longer needed.

[2018-05-18 14:50] #480 closed, assigned to dawachan

[2018-05-18 16:29] ajpeddakotla opened #650 "Group creator not showing up as a group member when you switch a private group -> open group"
I uncovered this bug with @robertknight when he switched a previously created private group to an open group.

### Current Behavior
Here's the steps we took:
1. Convert private group -> open group
2. The group creator's name automatically appears in the group member list.
3. Go to the activity page and view the page, and you'll see that no one is listed as the member of the group, which looks weir

[2018-05-18 20:01] judell commented on #1136
I'd love to see this happen. The story so far:

Nick made a (very interesting!) prototype, https://github.com/nickstenning/marks,

Sean Roberts restructured (https://github.com/hypothesis/client/tree/master/src/annotator/highlighter) to prep for an implementation.

But it seems we as yet have no implementation for an alternative overlay-highlighter (https://github.com/hypothesis/client/blob/master

[2018-05-18 20:15] sean-roberts commented on #1136
Hey all👋. I did work to implement this already but there were a handful of issues that were needed to be fixed before it was ready. PR closed because of priorities later on: https://github.com/hypothesis/client/pull/477

[2018-05-18 20:19] judell commented on #1136
Ah, thank you, @sean-roberts. I had kind of thought there was more there, glad to see there is!

[2018-05-18 21:22] ajpeddakotla commented on #1136
Hey @sean-roberts! Good to hear from you. Hope things are well with you and the fam, and yep - I remember that PR. Thanks for the heads up though!

[2018-05-21 09:49] robertknight opened #651 "Annotation search API does not immediately return new annotations"
Newly created or updated annotations are indexed asynchronously in Elasticsearch. This means that the search API (`/api/search`) does not guarantee to immediately return an annotation that has just been created or updated when a relevant query is executed. Instead the annotation will only be visible after a short delay, consisting of the time for a worker to execute the indexing task and the time

[2018-05-21 10:01] robertknight opened #652 "Investigate viability of SQS as an alternative to RabbitMQ for the message broker in h"
A partner that we are working with has expressed a preference to use SQS rather than RabbitMQ if possible for the message queue, to avoid adding additional infrastructure (whether they run it themselves or use eg. CloudAMQP) for their ops team to manage.

Celery [supports SQS](http://docs.celeryproject.org/en/latest/getting-started/brokers/sqs.html) as does the underlying Kombu library which we us

[2018-05-21 12:40] robertknight commented on #652
The way that the realtime messaging is implemented by `h.realtime` is not going to work with Amazon SQS.

`h.realtime` relies on a feature of AMQP where "[direct exchanges](https://www.rabbitmq.com/tutorials/amqp-concepts.html#exchanges)" can, despite their name, be used to send one message to multiple consumers by creating multiple queues which are associated with the same routing key. When a pro

[2018-05-21 16:08] robertknight commented on #652
I've investigated our use of Celery for background tasks. Fortunately the way we use Celery for tasks conforms to the various limitations that come with SQS. Namely:

- Our tasks are idempotent and only require "at least once" delivery guarantees
- Our tasks use two queues, each with one associated exchange of the same name, using a "direct" exchange type
- We don't rely on getting results back fr

[2018-05-22 10:38] robertknight commented on #652
The Celery docs state that the SQS broker support is stable. The note in the README appears to be out of date. Fixed by https://github.com/celery/celery/pull/4756

[2018-05-22 11:53] robertknight commented on #652
Our periodic tasks are executed in production by [a separate "h-periodic" service](https://github.com/hypothesis/h-periodic). That will need some additional changes to support SQS.

[2018-05-22 14:02] robertknight commented on #652
PR for h - https://github.com/hypothesis/h/pull/5035

[2018-05-22 15:48] klemay opened #653 "Implement IP masking for Google Analytics"
As indicated by Nate in our [GDPR logging doc](https://docs.google.com/document/d/1m-_H6MDUIO3jM1O9D8a9M0O8rioV9dEqKwLCrb7mg3Q/edit), if H. anonymizes IP addresses collected by GA, then H's use of GA will not include any PII and thus will not require active user opt in.

Info on masking IP addresses here: https://support.google.com/analytics/answer/2905384?hl=en

- [x] Apply changes to GA instance

[2018-05-22 16:15] klemay commented on #653
For non-website GA instances:
- How many instances of GA do we have aside from the website (i.e., one each for sidebar and app? are they both in the same instance?)
- Do we use gtag.js or ga.js (that will determine what the code snippet looks like)
- Is it easier on the team for me to point someone toward the code snippet, or to get access to GA and implement myself?

@xolotl perhaps after you imp

[2018-05-22 19:59] klemay opened #654 "Make email confirmation requirement clearer for signups through website"
From user request via Twitter (logged in Zendesk): https://hypothesis.zendesk.com/agent/tickets/2548

## Feature Request Form
### Problem you are trying to address with this feature
When users create a Hypothesis account through the website, they are redirected to the web.hypothes.is homepage. There's no message indicating whether the account was successfully created, or that they'll need to activ

[2018-05-23 09:43] seanh opened #655 "Fix Jenkins memory issues"
Jenkins keeps running out of memory and crashing. For example see https://hypothes-is.slack.com/archives/C074BUPEG/p1527068108000591

[2018-05-23 10:13] #655 closed, assigned to nobody

[2018-05-23 14:24] robertknight commented on #652
I've verified that SQS is working with Celery's background tasks executed via h-periodic as well. So to wrap this up:

1. https://github.com/hypothesis/h/pull/5035 enables use of Amazon SQS for h
2. https://github.com/hypothesis/h-periodic/pull/8 enables use of Amazon SQS for triggering periodic tasks in h
3. The realtime server is not going to work with SQS. Fortunately it is not an essential par

[2018-05-23 16:48] klemay commented on #200
Closing in favor of #528

[2018-05-23 16:48] #200 closed

[2018-05-23 17:05] klemay commented on #435
Moving to "Icebox" in Product Backlog because action on this is contingent on #397

[2018-05-23 17:19] klemay commented on #468
Linking #528

[2018-05-23 17:24] klemay commented on #498
May be addressed with upcoming Canvas-LMS work

[2018-05-24 04:32] xolotl commented on #653
@klemay @segdeha long story short, I've done this on the H. website, but it looks like we don't need to do this for the H. application/client/etc because:
* H users opt in to H's new privacy policy on account creation.
* GA is not the only service that collects IPs in the H. application (eg, New Relic).
* The new H. privacy policy makes it clear that the H. application employs various tracking ser

[2018-05-24 12:04] dwhly commented on #653
It's the use of the app embedding GA (or New Relic) when used by those who have *not* logged in and therefore have not agreed to our privacy policy that we should consider. Including on our own website, blog etc.

[2018-05-24 15:38] xolotl commented on #653
Sorry, yes, @dwhly makes a good point. On pages where the Hypothesis sidebar loads on the H. website, an additional GA cookie is set (by GA service related to UA-26026798-5, which is named "Client" in GA). The cookie set by the website's GA (UA-26026798-8) is already configured to deidentify IPs. I don't see any evidence of New Relic or other services setting cookies, so deidentifying IPs in the C

[2018-05-24 16:00] xolotl commented on #653
IIUC, we are looking at a few "environments" where anonymous users interact with H and we are attempting to ensure there are no cookies set that track personal information so we don't have to deploy cookie notices and opt in mechanisms.

1. The H. website (web.hypothes.is)
1. The H client/sidebar deployed in the H. website
1. Activity pages/etc that can be browsed anonymously (eg, https://hypothes

[2018-05-24 16:12] ajpeddakotla commented on #627
Closing this as we'll have more information when the accessibility audit has been completed.

[2018-05-24 16:12] #627 closed, assigned to dawachan

[2018-05-24 16:23] ajpeddakotla commented on #574
Closing as this is no longer relevant.

[2018-05-24 16:23] #574 closed, assigned to klemay

[2018-05-24 16:25] ajpeddakotla commented on #584
Closing, as we'll write another card when we're ready to address this.

[2018-05-24 16:25] #584 closed, assigned to dawachan

[2018-05-24 16:41] ajpeddakotla commented on #430
We're not going to be implementing this anytime soon, so I'm closing this.

[2018-05-24 16:41] #430 closed, assigned to nobody

[2018-05-24 17:39] ajpeddakotla commented on #512
Closing this as we're going to build it for the admin panel first. Will write up a new ticket for that.

[2018-05-24 17:39] #512 closed, assigned to dawachan

[2018-05-25 07:58] xolotl commented on #653
client GA IPs anonymized via https://github.com/hypothesis/client/pull/736

[2018-05-25 08:31] xolotl commented on #653
activity pages/search GA anonymized via https://github.com/hypothesis/h/pull/5047

[2018-05-25 08:34] xolotl commented on #653
Decisions made about this set of tasks in the GDPR slack channel: https://hypothes-is.slack.com/archives/C9CKK4UBU/p1527197341000451

[2018-05-28 09:28] seanh opened #656 "Support filtering by authority in Es 6.2 search queries"
* Fill out [`TestAuthorityFilter`](https://github.com/hypothesis/h/blob/8571df6891bd406fd11bede70c0b05aa8d0eb1a9/tests/h/search/query_test.py#L27-L33)
* Make the test class run against both Es 1 and Es 6.2
* Make the tests pass with Es 6.2

[2018-05-28 09:33] seanh opened #657 "Filter by authorization with Es 6"
* Fill out [`TestAuthFilter`](https://github.com/hypothesis/h/blob/8571df6891bd406fd11bede70c0b05aa8d0eb1a9/tests/h/search/query_test.py#L36-L42)
* Make the tests run against both Es 1 and Es 6 versions of our search code
* Get the tests passing against Es 6

[2018-05-28 09:34] seanh opened #658 "Support filtering by group with Es 6"
* Fill out [`TestGroupAuthFilter`](https://github.com/hypothesis/h/blob/8571df6891bd406fd11bede70c0b05aa8d0eb1a9/tests/h/search/query_test.py#L54-L60)
* Make the tests run against both Es 1 and Es 6 versions of our search code
* Make the tests pass against Es 6

[2018-05-28 09:36] seanh opened #659 "Filter out private group annotations with Es 6"
* Fill out [`TestGroupAuthFilter`](https://github.com/hypothesis/h/blob/8571df6891bd406fd11bede70c0b05aa8d0eb1a9/tests/h/search/query_test.py#L54-L60)
* Make the tests run against both Es 1 and Es 6 versions of our search code
* Make the tests pass against Es 6

[2018-05-28 09:38] seanh opened #660 "Support filtering by user with Es 6"
* Fill out [`TestUserFilter`](https://github.com/hypothesis/h/blob/8571df6891bd406fd11bede70c0b05aa8d0eb1a9/tests/h/search/query_test.py#L63-L69)
* Make the tests run against both Es 1 and Es 6 versions of our search code
* Make the tests pass against Es 6

[2018-05-28 09:39] seanh opened #661 "Support filtering by URI with Es 6"
* Fill out [`TestUriFilter`](https://github.com/hypothesis/h/blob/8571df6891bd406fd11bede70c0b05aa8d0eb1a9/tests/h/search/query_test.py#L72-L78)
* Make the tests run against both the Es 1 and the Es 6 versions of our search code
* Make the tests pass against Es 6

[2018-05-28 09:41] seanh opened #662 "Filter out deleted annotations from Es 6 searches"
* Fill out [`TestDeletedFilter`](https://github.com/hypothesis/h/blob/8571df6891bd406fd11bede70c0b05aa8d0eb1a9/tests/h/search/query_test.py#L81-L87)
* Make the tests run against both Es 1 and Es 6 versions of our search code
* Make the tests pass against Es 6

[2018-05-28 09:42] seanh opened #663 "Filter out nipsa'd annotations from Es 6 searches"
* Fill out [`TestNipsaFilter`](https://github.com/hypothesis/h/blob/8571df6891bd406fd11bede70c0b05aa8d0eb1a9/tests/h/search/query_test.py#L90-L96)
* Make the tests run against both the Es 1 and the Es 6 versions of our search code
* Make the tests pass against Es 6

[2018-05-28 09:44] seanh opened #664 "Support the `any` parameter with Es 6"
* Fill out [`TestAnyMatcher`](https://github.com/hypothesis/h/blob/8571df6891bd406fd11bede70c0b05aa8d0eb1a9/tests/h/search/query_test.py#L99-L105)
* Make the tests run against both the Es 1 and the Es 6 versions of our search code
* Make the tests pass against Es 6

[2018-05-28 09:45] seanh opened #665 "Support searching by tag with Es 6"
* Fill out [`TestTagsMatcher`](https://github.com/hypothesis/h/blob/8571df6891bd406fd11bede70c0b05aa8d0eb1a9/tests/h/search/query_test.py#L108-L114)
* Make the tests run against both the Es 1 and the Es 6 versions of our search code
* Make the tests pass against Es 6

[2018-05-28 09:48] seanh opened #666 "Support searching for replies with Es 6"
Support searching for replies with Es 6: the `separate_replies` argument and the `reply_ids` in the returned search result should work the same as in Es 1.

* Fill out [`TestRepliesMatcher`](https://github.com/hypothesis/h/blob/8571df6891bd406fd11bede70c0b05aa8d0eb1a9/tests/h/search/query_test.py#L117-L125)
* Make both the `TestRepliesMatcher` and the [`TestSearch` and `TestSearchWithSeparateRepli

[2018-05-28 09:49] seanh opened #667 "Support aggregating by tags in Es 6"
* Fill out [`TestTagsAggregation`](https://github.com/hypothesis/h/blob/8571df6891bd406fd11bede70c0b05aa8d0eb1a9/tests/h/search/query_test.py#L128-L134)
* Make the tests run against both the Es 1 and the Es 6 versions of our search code
* Make the tests pass against Es 6

[2018-05-28 09:50] seanh opened #668 "Support aggregating by user with Es 6"
* Fill out [`TestUsersAggregation`](https://github.com/hypothesis/h/blob/8571df6891bd406fd11bede70c0b05aa8d0eb1a9/tests/h/search/query_test.py#L137-L143)
* Make the tests run against both the Es 1 and the Es 6 versions of our search code
* Make the tests pass against Es 6

[2018-05-28 09:55] seanh commented on #639
The testing approach was defined by <https://github.com/hypothesis/h/pull/5046> and <https://github.com/hypothesis/h/pull/5049> (as well as several preparation / tidy up PRs).

The remaining work has now been split up into (these have been added to the board)
https://github.com/hypothesis/product-backlog/issues/656
https://github.com/hypothesis/product-backlog/issues/657
https://github.com/hypothe

[2018-05-28 09:57] #639 closed, assigned to seanh

[2018-05-28 11:02] seanh commented on #643
This got broken up into smaller cards, see https://github.com/hypothesis/product-backlog/issues/639#issuecomment-392480090

[2018-05-28 11:02] #643 closed, assigned to nobody

[2018-05-29 13:29] klemay commented on #653
Nate, thanks so much for your work on this while I was out. Closing this issue.

[2018-05-29 13:29] #653 closed, assigned to klemay

[2018-05-29 13:30] robertknight commented on #652
I'm going to wrap this up for now. The Elasticsearch migration is taking priority this week but we'll get the SQS PRs merged when people have sufficient bandwidth free.

[2018-05-29 13:30] #652 closed, assigned to robertknight

[2018-05-29 13:42] klemay opened #669 "Image annotation (areas, rectangles)"
## Feature Request Form
Feature request from Zendesk: https://hypothesis.zendesk.com/agent/tickets/2563

Image annotation is mentioned in https://github.com/hypothesis/vision/issues/51, but not anywhere in our backlog that I can find.

### Problem you are trying to address with this feature
Currently annotations can only anchor to lines of text or to pages (as Page Notes). There is no way to annot

[2018-05-29 15:51] robertknight commented on #623
The most obvious way I can think of to approach this would be as follows:

1. Enable indexing of new / updated / deleted annotations into ES 6.
2. Modify the `reindex` task to support specifying which ES cluster to write to
3. Run the `reindex` task configured to write to the ES 6 cluster. Since we enabled indexing of updates into ES 6 in step (1), this step only has to cover annotations last upda

[2018-05-30 14:27] #640 closed, assigned to sheetaluk

[2018-05-30 14:27] robertknight commented on #640
This is now done

[2018-05-30 14:27] robertknight commented on #641
This is now done.

[2018-05-30 14:27] #641 closed, assigned to sheetaluk

[2018-05-30 16:43] ajpeddakotla opened #670 "Show Publisher Group as default group"
### Problem
Show Publisher Group as default group and override current "user's last viewed group" configuration when on the publisher's page.

https://hypothes-is.slack.com/archives/C4K6M7P5E/p1526918973000112

[2018-05-30 16:46] ajpeddakotla commented on #478
Closing in favor of https://github.com/hypothesis/product-backlog/issues/110

[2018-05-30 16:46] #478 closed, assigned to dawachan

[2018-05-30 16:57] ajpeddakotla commented on #196
Tagging: #201 and #30 in this ticket, as the ability to search for annotations by domain/and uri query will be critical to the notifications feature.

[2018-05-30 17:06] ajpeddakotla commented on #236
Note: The problem that has been identified here may require either:
1. Modifying the existing group structure so that users are no longer able to join groups via the share link. Users will only be able to join groups if they are added by a group owner.
2. Leaving this group type as is and creating a new type of group that allows for group member readable/writeable annotations, and no share link to

[2018-06-04 08:05] nichtich commented on #669
Some commercial web annotation tools like [zipboard](https://zipboard.co/) support this but require a browser plugin to create a screenshot to draw on. Another option would be to annotate HTML elements such as it was implemented in [Juntoo](https://juntoo.co/).

[2018-06-04 18:04] ajpeddakotla opened #671 "Include replies when searching by username"
From feedback Jon gave:
A user was trying to use the import/export prototype we have, and it was clear that the user would have benefited from being able to see the replies to annotations made by the user when searching by username.

[2018-06-07 21:34] hmstepanek opened #672 "Ability to keep annotations private and then 'share' them with a group later"
As an annotator sometimes I am reluctant to share my annotations publicly or would like to take a first pass of an article privately before sharing my annotations with others. Because H doesn't have the ability to make private annotations and then convert them to be public/share them with others I may be tempted to not use H for the entire process and it may require more work for me to use H as I

[2018-06-07 21:44] hmstepanek opened #673 "Make search/filter ability in sidebar discoverable"
As a user I was unaware for 4+ months until @klemay told me that I could filter annotations in the sidebar. This feature is pretty much completely hidden to a user. The UI needs to be fixed such that the filter/search is more discoverable.
![image](https://user-images.githubusercontent.com/30059933/41127909-35df4f72-6a61-11e8-9fa0-7d906fb15b56.png)

[2018-06-07 21:49] hmstepanek opened #674 "Make activity pages build a community"
As a user I would like to be able to see what the rest of my community is doing. I would like to see if a user in the group I'm in has made a new annotation, if someone has replied to my annotation, if someone has annotated the same article I did, etc. Activity pages do show this information but it's not organized in a way that facilitates this kind of interaction. Instead of showing articles base

[2018-06-07 22:00] hmstepanek opened #675 "Make a citation annotation"
As an author I would like to know what articles are citing my article.

As a researcher I would like to be able to link my paper directly to the sources that I site.

As a fact checker I would like to be able to build a web of relationships between articles in order to trace information back to it's source.

As a writer I would like to know what passages in a text remain that need to be analyzed.

[2018-06-07 22:04] hmstepanek opened #676 "Make link to the article I annotated more discoverable on activity pages"
As a user on mobile I could not find the link to view the article I annotated. I only found it after noticing that the symbol was a diagonal arrow on my laptop. I kept clicking on the displayed article title/url wanting that to be the link. <-I think this is a much more intuitive experience.

[2018-06-07 22:51] hmstepanek opened #677 "Ability to inherit annotations"
As a teacher I would like the ability to make a group with annotation questions that I can re-use for multiple classes throughout the year. I would then like to "inherit" those annotations into the class group, allowing students to reply to the annotations during the term. Then delete the class group and start fresh the next term.

As an author I would like the ability to inherit citation annotati

[2018-06-07 23:15] hmstepanek commented on #671
Is this viewing replies on activity pages or in the export tool?

[2018-06-08 00:10] lyzadanger opened #678 "Update API to accept `motivation` field on annotations"
The `motivation` relationship is defined by the [W3C Web Annotation Data Model Specification](https://www.w3.org/TR/annotation-model/#motivation-and-purpose) and has numerous defined values.

It could provide valuable metadata about user intent for _why_ they're annotating something, especially for developers creating clients or visualizations using the Hypothesis API. Useful motivations include `

[2018-06-08 00:14] hmstepanek commented on #678
I think this is a pre-cursor to doing https://github.com/hypothesis/product-backlog/issues/675 so I'd love to work on this with you!

[2018-06-08 06:57] judell commented on #671
It is a limitation of the ES wrapper, I think, and as such it affects the standalone viewer/exporter, and would affect activity pages if it included replies.

[2018-06-08 17:06] klemay opened #679 "Make client ARIA-compatible"
- [ ] The `search` form should [follow these design patterns](https://www.w3.org/TR/wai-aria-practices/examples/landmarks/search.html)
- [ ] The `sort` menu should [follow these design patterns](https://www.w3.org/TR/wai-aria-practices/#radiobutton)
- [ ]  The `share` button needs `aria-label` [as explained here](https://dev.opera.com/articles/ux-accessibility-aria-label/#accessible-name-calculati

[2018-06-08 17:58] ajpeddakotla opened #1166 "Find a way to show annotations from website X on a cloned website X'"
_Revised description with additional context:_

[PressBooks](https://pressbooks.org) is an open-source book publishing platform. @SteelWagstaff  has been using it together with Hypothesis to create digital books where texts are augmented with media and interactive activities inside annotations.

One feature that PressBooks provides is the ability to fork a book and customize it for various purpose

[2018-06-08 17:58] ajpeddakotla commented on #1166
Tagging Rob and Jon as a fyi

[2018-06-08 18:08] jeremydean commented on #672
I'm confused by this. I believe you can do it now.

Working in a group (public or private), editing an annotation in the sidebar, I can first post it "Only me" or "Public" and then I can switch that setting when I want to publish.

![image](https://user-images.githubusercontent.com/3261902/41173508-d50c8a0e-6b1c-11e8-90b4-6e7353226af5.png)

What would be useful is doing this in bulk on a doc and i

[2018-06-08 18:39] klemay commented on #679
## Making `search` in the client sidebar accessible

- The `form` element needs `role="search"`
- The text `input` should have `type="search"` instead of `type="text"`
- The search `button` should have an `aria-label="Search"`

See: https://github.com/hypothesis/client/pull/741/commits/1df1978497cd398c9dee09c5d09d01c6ac169441

[2018-06-08 20:39] SteelWagstaff commented on #1166
A similar issue is cross referenced in https://github.com/hypothesis/product-backlog/issues/677.

[2018-06-08 21:37] klemay commented on #679
## Making `sort` in the client sidebar accessible
- Add `aria-label="Sort annotations"` to `button` element
- Add `aria-haspopup="true"` to `button` element
- Add `role="radiogroup"` to `ul`
- Add `role="radio"` to each `span` within the `li`
- Add `aria-checked` state to each `radio` element (Location is the default option, so that will be set to `true` while the others will be `false`
- Add `ari

[2018-06-08 22:07] SteelWagstaff commented on #1166
Based on conversations with @robertknight, it sounds like we may want to explore a method by which annotations are copied/cloned when books are cloned. One advantage of this would be that the original annotations could be attributed to a new or different author, meaning that they could then be edited by the person who made the clone, allowing the annotations to be modified, deleted, or edited, jus

[2018-06-08 22:17] klemay commented on #679
## Making `share` accessible
- The `a` element needs `aria-label="Share this page"`

(NB: ideally this would be a `button` rather than `a` because displaying the Bouncer link is not a linking action, but adding this `aria-label` will at least allow the screenreader to announce what the `share` icon does.

See: https://github.com/hypothesis/client/pull/741/commits/1fdc7453d5a475e24a3a5ee18fda2a1b05

[2018-06-08 23:06] klemay commented on #236
Another user request came up today from Steve at Pursuance - when conducting research with activist groups on sensitive topics, he'd like to have the ability to remove users from groups and/or make them "invite only" rather than providing a join link.

[2018-06-09 00:24] greatislander commented on #1166
@SteelWagstaff This doesn't sound like it would be a trivial change because at present, Pressbooks isn't "aware" of the annotation layer on top of a book. My initial thinking suggests that to achieve this, a clone operation — in addition to cloning Pressbooks content — would need to fetch all the annotations for each front matter, chapter, back matter etc. from the Hypothesis API and then create t

[2018-06-09 17:47] judell commented on #1166
Let's try a cloning operation and see what we learn. As I told @SteelWagstaff yesterday, it's easy to clone top-level annotations, harder to reconstruct threads, but the former is a reasonable starting point. Question for you, @greatislander. Until https://github.com/hypothesis/product-backlog/issues/30 is done we can't use the API to find all annotations for a book. But we can do it URL by URL. I

[2018-06-11 15:10] dwhly commented on #236
My guess is that what we want is a config option in the admin interface & API for private groups to either allow joining via the share link or not.  If it's not, then the member dashboard becomes the only way to add new users.  For restricted and open groups, there can be no way to join via the share link, since it's the same link used to view the activity page.

We most certainly don't want to el

[2018-06-11 15:15] jeremydean commented on #236
We probably don't want to eliminate them. But that they're highly trafficked isn't an argument for that.

They're highly trafficked because that's all that we offer at this point. There are both better workflows for group enrollment and increased privacy/moderation. If we offered those better options to our current group users they would most certainly IMO take them. I can guarantee that most educ

[2018-06-11 15:21] robertknight commented on #1166
You can do some URL based filtering in the API using the `uri.parts` field. This field matches a keyword that appears anywhere in the URL. A _keyword_ in this context is anything other than the characters `#+/:=?.-`. For example: 'https://hypothes.is/api/search?uri.parts=bbc&uri.parts=com' will match annotations made on any page where the URL contains the keywords "bbc" and "com". If you wanted to

[2018-06-11 15:21] robertknight commented on #30
We have some limited support for URL-based searches using the `uri.parts` field: https://github.com/hypothesis/client/issues/739#issuecomment-396281964

[2018-06-11 15:26] judell commented on #1166
Thanks @robertknight. I knew about uri.parts but hadn't thought of combining several parts as you show here. Clever!

[2018-06-11 16:05] robertknight commented on #1166
I have revised the issue description based on my understanding after talking with @SteelWagstaff at the hackday. Please let me know if I've made any errors.

Based on that description, there are a few possibilities I can think of:

1. Write a tool to _clone_ the annotations from the original book and associate the new annotations with a different user, URL and group as I think @judell is suggestio

[2018-06-13 15:22] judell commented on #1166
Regarding approach (1), cloning, I have a tool almost ready to do that. (It's something we get asked for a lot.) I'll be on a short vacation later this week and early next, but after that, I'm hoping @SteelWagstaff can give it a try. It will, as per above, require a list of URLs for a book, one per chapter (or section).

[2018-06-13 17:43] greatislander commented on #1166
@judell If one visits any Pressbooks book, one can append `/wp-json/pressbooks/v2/toc` and get a JSON blob of all the book’s contents (which includes URLs). E.g. https://press.rebus.community/makingopentextbookswithstudents/wp-json/pressbooks/v2/toc

[2018-06-13 18:04] judell commented on #1166
Thanks @greatislander! I wonder, @SteelWagstaff and others, if there's a nice example of an upstream Pressbooks book that has annotations that could be cloned (experimentally) to a downstream variant of the book.

[2018-06-13 18:28] SteelWagstaff commented on #1166
Sure--we've been doing a lot of learning activity development on this title: https://wisc.pb.unizin.org/frenchcscr/. Happy to do some testing on/with it and to help however I'm able. That book should be of particular interest for testing because it has several chapters, each chapter tends to have multiple annotations, and to my knowledge, all existing annotations on the public layer are top-level

[2018-06-13 20:07] judell commented on #1166
Let's aim for that. As we discussed last week, the plan is only to clone top-level annotations for now. I'm thinking they'll show up downstream with an appended note that indicates where cloned from, when, and who was the original author there.

Hmm. Now that I think about it, it might make sense to at least show, and maybe link to, replies in the original location. But, first things first.

[2018-06-18 15:42] klemay commented on #21
Other mentions of this within the org:
- https://github.com/hypothesis/vision/issues/143
- https://github.com/hypothesis/h/issues/810
- https://github.com/hypothesis/vision/issues/77

User requests from Zendesk:
- https://hypothesis.zendesk.com/agent/tickets/2627
- https://hypothesis.zendesk.com/agent/tickets/3692

[2018-06-18 18:27] lyzadanger opened #680 "LMS Users should See and Interact with the Appropriate Course Group"
### Problem

Private groups are created for LMS courses, and course students are members of their course's private group. That way, annotations for the course are organized together. Right now, these private groups are created manually, but upcoming work will make the group creation and membership establishment automated:

https://github.com/hypothesis/product-backlog/issues/596
https://github.com

[2018-06-18 19:10] lyzadanger opened #681 "Add `POST /groups` API endpoint"
To support the LMS project (https://github.com/hypothesis/product-backlog/issues/597), we need an API endpoint to create (private) groups. Plus, this endpoint would be useful in general.

This is part of https://github.com/hypothesis/product-backlog/issues/596

This is done when:

* [x] An API endpoint exists at `POST /groups` that can create _private_ groups
* [x] The API endpoint validates the p

[2018-06-18 19:16] lyzadanger opened #682 "Add basic user_identity table, model"
To support https://github.com/hypothesis/product-backlog/issues/597, we need to be able to capture a small amount of identity metadata about our LMS users. Specifically, we'll want to keep track of the user's unique ID via LTI data to look them up with later, as email is not going to serve as the unique identifier for these users.

We need to introduce a basic user_identity table and model. I imag

[2018-06-18 19:21] lyzadanger opened #683 "Spike: Remove email required constraint from DB"
For https://github.com/hypothesis/product-backlog/issues/597, we know that we cannot rely on trusted email address information in LTI data. As such, we need to find a way to establish third-party accounts for LMS users that don't have usable email addresses.

Ideally, we'd be able to remove the email non-nullable constraint from the database, while leaving it required at other levels of the applic

[2018-06-18 19:47] lyzadanger opened #684 "Allow the creation of private groups at non-default authorities via API, services"
At present, some layers of the application prevent the creation of private groups at authorities other than the default. To support https://github.com/hypothesis/product-backlog/issues/597, we need to be able to create third-party private groups. This doesn't need to be exposed in the UI, but needs to work via the API and group-creation services.

Depends on https://github.com/hypothesis/product-b

[2018-06-18 20:08] lyzadanger opened #685 "Update `POST /groups` endpoint as needed to support LMS"
To support https://github.com/hypothesis/product-backlog/issues/597, we need to be able to create private groups with some specific metadata and retrieve groups later, programmatically, in a reliable way.

Edited to remove implementation detail as we haven't decided whether we are going to:

* Add extra metadata to `group` records in `h` itself OR
* Maintain a relation between courses and their gr

[2018-06-19 16:14] klemay commented on #232
Closing in favor of https://github.com/hypothesis/product-backlog/issues/378

[2018-06-19 16:14] #232 closed

[2018-06-19 16:20] klemay commented on #378
[Here is a use case](https://hypothesis.zendesk.com/agent/tickets/2579) from an instructor of a course on archaeological methods and theory:

[2018-06-19 16:21] klemay commented on #291
Closing in favor of https://github.com/hypothesis/product-backlog/issues/378

[2018-06-19 16:21] #291 closed, assigned to nobody

[2018-06-19 16:26] klemay commented on #111
[Another request](https://hypothesis.zendesk.com/agent/tickets/2579) for this came in as part of a larger use case. The relevant parts are:

[2018-06-19 16:43] hmstepanek opened #686 "Create NewRelic free account"
Create a free/non pro New Relic account.

[2018-06-19 16:44] hmstepanek opened #687 "Move all non-h apps onto New Relic free account"
Move all non-h apps onto New Relic free account.

[2018-06-19 17:17] lyzadanger opened #688 "Spike: Refactor elements of API (view) authentication?"
Right now, there are two types of auth'n and authz going on in our API:

Most API endpoints use Pyramid-style authentication. A subset of these endpoints, like the endpoints for modifying annotation resources, use traversal/resources/roots/whatever to derive their ACL.

The `POST /users` endpoint, however, uses `auth_client` to allow clients with a valid OAuth registration to create and manage use

[2018-06-19 18:25] seanh commented on #688
It _is_ possible to combine multiple completely separate forms of auth into one using the Pyramid machinery, such that it will check for authentication type A and then if that fails check for type B and so on. We actually do this already to check for an API token and then, failing that, checking for session ticket: <https://github.com/hypothesis/h/blob/5ec4d0b11aeb54deec19a19f041999448d15f975/h/au

[2018-06-20 13:45] #646 closed, assigned to nobody

[2018-06-20 13:58] robertknight commented on #607
For the existing Elasticsearch cluster we have two sources of monitoring info:

1. The [Amazon Elasticsearch dashboard](https://us-west-1.console.aws.amazon.com/es/home?region=us-west-1). This we get for free.
2. The [Elasticsearch AWS dashboard](https://mon.hypothes.is/grafana/dashboard/db/elasticsearch-aws) in Grafana. This may not be all that important. I don't think any of us have looked at it

[2018-06-20 14:56] ajpeddakotla commented on #563
Closing as this is completed.

[2018-06-20 14:56] #563 closed, assigned to ajpeddakotla

[2018-06-20 14:57] ajpeddakotla commented on #599
Closing as spike has been completed, and work has started.

[2018-06-20 14:57] #599 closed, assigned to hmstepanek

[2018-06-20 16:39] ajpeddakotla opened #689 "EPIC: Show replies on activity pages, and fix, generally the way that replies work."
Will tag seperate issues here later

[2018-06-20 17:47] xolotl commented on #431
I'm not sure that we don't need a way for users to opt out in H. itself. I think the best solution would be for users to have communication toggles in their H. account view. All such toggles would communicate via API with whatever email provider H. is using (currently MailChimp) to create/toggle the subscription for that user's email address.

[2018-06-20 19:12] klemay opened #690 "Count tags which are added to replies"
On activity pages (for usernames or for groups), tags added to replies are not counted in the "Top tags" section.

I assume this is related to replies not showing up on activity pages, so I will link to this within our Epic (https://github.com/hypothesis/product-backlog/issues/689).

### User requests
- https://hypothesis.zendesk.com/agent/tickets/2632
- https://twitter.com/joefromkenyon/status/10

[2018-06-20 19:45] SteelWagstaff commented on #1166
Jon--when you're back from vacation we're willing/ready to do some testing. We have a number of annotations on a particular title: https://wisc.pb.unizin.org/frenchcscr/ made by a 'corporate user' (UW_Madison.French: https://hypothes.is/users/UW_Madison.French) that we'd like to move from the public layer to a new restricted group that Heather and Arti set up for us. Is there a way to select and m

[2018-06-20 22:57] dwhly opened #691 "Only show publisher groups above "Public" when on pages within their scope"
## Feature Request Form
### Problem you are trying to address with this feature

Currently, if you are a member, scoped groups show at the top of your group list wherever you are.

### Your solution

Only show groups above others like the H "Public" group if you're on a page they're scoped to.

[2018-06-21 14:53] lyzadanger commented on #681
Fixed by https://github.com/hypothesis/h/issues/5087

[2018-06-21 14:53] #681 closed, assigned to lyzadanger

[2018-06-21 15:59] klemay opened #692 "Google Drive picker not working - shows blank window"
## The problem
From this Zendesk ticket: https://hypothesis.zendesk.com/agent/tickets/2511

For some, they see a blank screen rather than a warning.

## Updates
Atomic Jolt has confirmed that someone who has access to our Google Developer console needs to log in and verify that we own our domains:

- As of 6/25, users are seeing a blank screen rather than the warning
-  As of 7/11, verification is

[2018-06-22 17:29] klemay commented on #413
User who would like to remove a document from a group activity page: https://hypothesis.zendesk.com/agent/tickets/2639

[2018-06-25 13:35] lyzadanger opened #693 "Define API Surface for LMS Work"
This is part of supporting https://github.com/hypothesis/product-backlog/issues/597

We're partway through making the actual API enhancements and changes needed to support LMS features. That's good. But we should formalize what the API surface will look like so that we can coordinate with collaborators, even if we don't get those API endpoints in place just yet.

This is done when:

* [ ] An appro

[2018-06-25 14:46] #682 closed, assigned to seanh

[2018-06-25 16:44] klemay commented on #30
Another user request: https://hypothesis.zendesk.com/agent/tickets/2644

It's a site with more than one page. Is there a way to have a list of all annotation of the entire website?

[2018-06-26 10:43] seanh commented on #683
I'm still investigating and will flesh this out in more detail later. But based on a first pass, the list of tasks for making user emails optional should be something like:

- [x] Remove the email not null constraint from the model, and do a DB migration for this.

  Also `models.User.get_by_email()` needs to never return users with null emails
  This should be quite straightforward. Pull requests

[2018-06-26 15:24] klemay commented on #692
Update: as mentioned [in this ticket](https://hypothesis.zendesk.com/agent/tickets/2653), users are now seeing a blank screen instead of the warning window. Will work with Andrew on this today.

[2018-06-27 19:19] dwhly commented on #680
Making a note that this is related (or possibly identical) to adding the group facet for bouncer links here. (https://github.com/hypothesis/client/issues/488).  There are other partners waiting on this capability, so ensuring that passing the parameter via bouncer links is supported would be a win.

[2018-06-27 19:46] lyzadanger commented on #693
Regarding the first AC above:

The problem we're trying to solve here is: How can the LTI app create and later retrieve a course-specific group?

At this point, I can think of three possible approaches to accomplish this:

1. Accept a parameter on the create-API endpoint that allows the caller to define a `pubid`. This is probably not feasible (security and implementation complexity) but I put it

[2018-06-28 04:37] hmstepanek opened #694 "Implement remaining filter/matcher/aggregator tests"
Implement functional tests for these that run on a real es index.

- [x] NipsaFilter
- [x] DeletedFilter - https://github.com/hypothesis/h/pull/5125
- [x] TagsAggregator - https://github.com/hypothesis/h/pull/5131
- [x] UserAggregator - https://github.com/hypothesis/h/pull/5130

[2018-06-28 17:01] klemay opened #695 "Hypothesis does not work reliably on The Atlantic's website unless using Via"
_Reported by a user in [Zendesk ticket 2645](https://hypothesis.zendesk.com/agent/tickets/2645)_

### Steps to reproduce: extension or Bookmarlet
1. Go to https://www.theatlantic.com/ and click on any article (i.e. [this one](https://www.theatlantic.com/politics/archive/2018/06/the-civility-instinct/563978/))
2. Activate the Chrome extension or Bookmarklet
3. Nothing happens -  you'll see a bunch

[2018-06-28 17:06] dwhly commented on #695
Works for me!

About this version
Version:
1.82.0
User agent:
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/67.0.3396.87 Safari/537.36
URL:
https://www.theatlantic.com/politics/archive/2018/06/the-civility-instinct/563978/
Username:
dwhly
Date:
28 Jun 2018 10:06:31 -0700

[2018-06-28 17:10] lyzadanger commented on #695
@dwhly Was just talking to @klemay about this—I'm able to reproduce on some pages of their site but not all. I can reproduce here: https://www.theatlantic.com/international/archive/2018/06/germany-europe-world-cup/564014/

FWIW, I'm seeing a lot of JS errors in console in Chrome that are pertinent to The Atlantic's site itself.

Edited to add:

Chrome Version 67.0.3396.99 (Official Build) (64-bit)

[2018-06-28 17:12] dwhly commented on #695
Interesting.  I was able to annotate there too using the extension.
https://hyp.is/OOhmhnr2Eeik7E-LcQZOFA/www.theatlantic.com/international/archive/2018/06/germany-europe-world-cup/564014/

I also see the JS errors but for whatever reason, not interfering w/ chrome
extension in my environment.

About this versionVersion:1.82.0User agent:Mozilla/5.0 (Macintosh; Intel
Mac OS X 10_13_4) AppleWebKit/5

[2018-06-28 17:13] klemay commented on #695
Yes, I should have clarified that I can reproduce this as well - and I am guessing this has to do with The Atlantic and not us.

I filed this issue because @judell mentioned in our support channel that the extension doesn't activate for https://www.theatlantic.com/magazine/archive/1945/07/as-we-may-think/303881/, which he called a "benchmark H article"

[2018-06-28 17:14] klemay commented on #695
^ that title change makes it a little more accurate though. :)

[2018-06-28 17:14] dwhly commented on #695
That one also working for me.  Huh... any way I can assist in helping
coordinate on why?  Agree this is most def a benchmark article, and if 3
out of four of us are having an issue, that is def problematic.  And also
quite odd.

On Thu, Jun 28, 2018 at 10:13 AM, katelyn <notifications@github.com> wrote:

--
+1 650 274 7647 m

[2018-06-28 17:23] klemay commented on #695
OH here is a potential clue!

I just tried looking at these articles while logged in to Chrome as my non-Hypothesis identity. For that identity, I have Ad Block Pro for Chrome installed. And H works fine on the Atlantic articles.

I don't have any ad blocking or other extensions for Chrome installed for my H identity, where I cannot get H to work reliably on Atlantic articles.

So I think there mi

[2018-06-28 17:23] lyzadanger commented on #695
I also have Ad Block running on Chrome if that's helpful

[2018-06-28 17:24] dwhly opened #696 "Add "User Agent" to objects created using the API"
## Feature Request Form
### Problem you are trying to address with this feature

Right now annotations, groups and (shortly?) users are able to be created / provisioned using the API.  However, Hypothesis has little to no visibility to the programs / processes that are creating these things.  As we expand the utility of our API, we will have an increasingly larger number of external applications m

[2018-06-28 17:28] klemay commented on #695
Anyway, I am fairly certain that this would either be a fix for The Atlantic, or something we would have to work with them on. @dwhly or anyone else, if you happen to have any contacts there it might be worth reaching out?

[2018-06-28 18:11] dwhly commented on #695
I also have an ad blocker running, and when I disable it, the site is not
annotatable for me.  Good sleuthing @katelyn.

I'm fine searching for contacts to reach out to, but before I do, we should
be able to say exactly what the interference is.

And of course, it at all possible we should try to address on our side.  We
can't always find a contact for every site where we have problems.  Nor
(part

[2018-06-28 18:15] klemay commented on #695
I've tagged this as a bug, so @ajpeddakotla and I will discuss this at the next backlog review. I'm not sure if this rises to the level where we'd want to take developers off of what they're working on this sprint. I'll do some more poking to see if I can figure out exactly where the problem is, but I'm not sure if I'll be able to pinpoint it.

[2018-06-28 18:56] judell commented on #695
I can't annotate either of the above URLs in an instance of Chrome that is, except for H, pristine.

Here's a clue. The following error, in an Atlantic script, occurs only in the presence of H:

[code]

![image](https://user-images.githubusercontent.com/46509/42054758-15787500-7aca-11e8-8ed0-1505dead391b.png)

[2018-06-29 00:19] dwhly commented on #695
This points to the need for us to have a better process for how we prioritize site issues.  For instance, if our extension suddenly couldn't annotate the NY Times we'd probably want to investigate the same day.  (Even if the fix might take longer).  The Atlantic is not as important-- but it *is* important.

[2018-06-29 05:41] equivalentideas commented on #528
Here's some notes on the visual communication of these concepts in the current interface, from my perspective as someone using this :) https://github.com/hypothesis/h/issues/5111#issue-336863587

Hope that's helpful.

Keep up the great work 🐠

[2018-06-29 06:12] equivalentideas commented on #586
No need to reply to this. Just throwing something in the ring that occurred to me as an option for part of a solution :) I realise this isn't useful for when there are no highlights on a page yet.

In the case here there are highlights on the page alread, maybe something that introduced the possibility of viewing the annotations in the actual text that is being annotated, like a subtle/hinted vers

[2018-06-29 13:12] klemay commented on #695
Yes - I think in this case, since annotating through Via (and apparently,
with an ad blocker enabled) is still possible, it doesn’t rise to the level
of immediate fix. It’s not impossible to annotate The Atlantic; it’s just
necessary to use a workaround for the time being.

“Is there a workaround or does it prevent people from using the product”
has generally been my criteria for immediate fix vs

[2018-06-29 17:05] klemay opened #697 "Hypothesis authentication not working properly with Moodle course sites"
_This comes from University of Southern Australia via [Zendesk ticket 2654](https://hypothesis.zendesk.com/agent/tickets/2654). The user has linked to a screencast, but I'll describe here what's happening._

## Summary
When using `hyp.is` links to view annotations made on text pages in Moodle course sites, something goes wrong. For Chrome users, it requires clicking the "Log in" link every time a

[2018-06-29 19:25] judell commented on #696
Where in our current monitoring/logging systems can one find stats on API calls? If that info is unavailable, or inconvenient to get,  one could learn a lot from (a sample of) raw http access logs. I'd be curious to see such logs for the h backend, for via, and for bouncer.

[2018-06-29 19:38] segdeha commented on #696
I don't believe we're tracking everything at a fine-grained level at the moment, but New Relic would probably be the place to collect this information, if we aren't already. Do you agree, @hmstepanek?

[2018-06-29 20:01] hmstepanek commented on #696
Yes. You could add a metric in for that and have NR track it.

[2018-07-02 12:41] lyzadanger opened #698 "Update the README for the LMS Application for clarity, truth"
This is part of the overall sprint objective for "making it possible for mere mortals to install and run the LMS application locally and do some development on it" so that we can run the app and start testing data through it.

The [LMS App README](https://github.com/hypothesis/lms/blob/f6711971688c265ea40a24c20fcf7536dc50f96b/README.markdown) has some things that should be addressed so that people

[2018-07-02 15:03] judell commented on #696
Do we not have webserver access logs?

[2018-07-02 16:25] seanh commented on #683
Replying to an annotation does indeed result in a celery worker crash, if the author of the annotation has no email:

[code]

[2018-07-02 17:11] seanh commented on #683
You do indeed get a celery worker crash when you flag an annotation if the creator of the group has no email:

[code]

[2018-07-03 04:51] hmstepanek commented on #696
I’m not sure-if we do I think they’d be on aws so you could check there.

[2018-07-03 16:09] judell commented on #696
I can't, actually, no access, that's why I'm asking.

[2018-07-05 13:11] robertknight commented on #562
I changed the label name from "Encrypt Elasticsearch" to "Upgrade Elasticsearch" because really, that is what 99% of the work is about.

[2018-07-05 13:13] #642 closed, assigned to sheetaluk

[2018-07-05 13:13] robertknight commented on #642
This is now done.

[2018-07-05 13:19] robertknight commented on #647
We've done all the work we are going to do on this for now. Specifically we did provide a way to mark env vars as mandatory and provide defaults for them. We didn't do the other tasks. If others think this is still worthwhile I think we should make that a separate issue.

[2018-07-05 13:19] #647 closed, assigned to nobody

[2018-07-05 13:58] lyzadanger opened #699 "Implement method to enable/disable LMS provisioning"
As we implement the user- and group-provisioning pieces of the LMS work, we're not going to want to have all of those features "turned on" immediately or all the time. Examples are:

* When the suite of features is not ready for full roll-out and could be distracting or confusing to users or we want a kill switch in case something goes amiss (analogous to putting stuff behind a feature flag)
* For

[2018-07-05 14:07] lyzadanger opened #700 "Add user identity support to `POST /users` endpoint"
To be able to retain data about LMS users so that we can find and retrieve them later, we need to store some identity data with the user record.

In the LMS use case, the user needs to be created with an identity that sets the `provider` to the `instance_id` (`tool_consumer_instance_id`) of their LMS and the `provider_id` to the `user_id` from their LTI record data.

Update the `POST /users` endpo

[2018-07-05 14:22] lyzadanger opened #701 "Spike: auth_client can make requests "on behalf of" users"
The LMS app needs to provision groups and add members to them. At present, when you create a group through the API, the auth'd user will be set as the `creator_id`. A forthcoming API endpoint for adding members to (private) groups might be designed such that the `creator_id` is allowed to add members to their own groups (protected to auth_client clients).

Making requests against these endpoints m

[2018-07-05 16:22] dwhly opened #702 "Do not show the H Public group when a publisher group is present and users are unauthenticated."
### Problem
Currently, unauthenticated users are able to see the H Public group on pages where we have publisher groups (restricted/open groups that are scoped to a publisher's page).

The steps that you have to take to see the current behavior are as follows:
1.  Log out
2. Go here: http://care.diabetesjournals.org/content/41/Supplement_1/S55#annotations:wmtWGjwnEeiOWY_FhVG-zA
3. Open group contr

[2018-07-05 16:41] dwhly opened #703 "Change cursor on hover over a highlight"
## Feature Request Form
### Problem you are trying to address with this feature

People have noted that when you're hovering over a highlight the cursor currently doesn't change to indicate that it's clickable.  It should.

### Your solution

Change to a pointing cursor vs a selecting cursor.

[2018-07-05 16:45] dwhly opened #704 "Bucket bar numbers should open sidebar when clicked."
## Bug report form
### Steps to reproduce
1. Click on bucket bar number

### Expected behaviour
Sidebar should open, scoped to the annotations that are indicated by the number.

### Actual behaviour
Nothing happens

### Additional details
This is a regression.  Used to work this way.

[2018-07-05 17:15] lyzadanger opened #705 "Update Account Settings form to handle users with no email address"
(Note: Technically, "this should never happen" as all first-party users—who are the only users who can access this form—will always have an email address. But it's an edge condition we should fix for later.)

This is the account settings form at </account/settings>. For users with no email address, currently it renders "None" in the email field—it should just show nothing (empty field).

Other tha

[2018-07-05 17:17] lyzadanger opened #706 "Hide or otherwise "Handle" email-related setting(s) for users with no email address"
On the `h` account settings page, the "Email me when someone replies to one of my annotations" setting makes no sense for users without emails.

Note that users without email addresses—third-party users only—should not be able to access this page, but we should still clean up after recent changes by hiding or otherwise handling this setting for folks with no email.

[2018-07-05 17:19] lyzadanger commented on #683
I consider this piece of work—remove the requirement from the DB layer—done and shipped. I'm creating new issues for the interface level edge-condition cleanup:

Fix issues with the form for changing your email address, when the user has no email address: https://github.com/hypothesis/product-backlog/issues/705

Deal with "Email me when someone replies..." setting: https://github.com/hypothesis/pr

[2018-07-05 17:19] #683 closed, assigned to robertknight, seanh

[2018-07-05 17:28] lyzadanger opened #707 "Implement `POST /groups/{id}/members/{user_id}` API endpoint"
So that the LMS app can auto-join LMS users to the correct course-related group, we need an API endpoint for adding members to (private) groups.

The `h` API uses two different authentication mechanisms for auth'ing requests. Most endpoints take a `developer_key` (e.g. `GET groups/`, `POST annotations/`, etc.). The create-user endpoint is "special" in that it uses `auth_client` security. `auth_cli

[2018-07-05 17:44] dwhly commented on #703
Is this possibly a bug / regression?  Can't recall.

[2018-07-05 20:25] #698 closed, assigned to lyzadanger

[2018-07-05 20:53] lyzadanger commented on #693
Update regarding option 3 for groups identification (storing relationships in LMS app database).

There is one model/table for what is called `app_instance`s. A record is created here when the form is submitted from `/welcome`. AFAICT, a row here doesn't strictly correspond to an _actual_ application instance but instead just records that a key and secret were generated by the application. It's a

[2018-07-06 13:41] lyzadanger commented on #688
Closing in favor of https://github.com/hypothesis/product-backlog/issues/701 for now.

[2018-07-06 13:41] #688 closed, assigned to nobody

[2018-07-06 13:44] lyzadanger opened #708 "LMS: Determine minimal LTI data required to provision users, groups"
Depends on https://github.com/hypothesis/product-backlog/issues/693

After defining the API surface and reviewing what LTI data fields _should_ be present, determine the set of absolute minimal data needed to provision users within `h` meaningfully. Also provide a list of _recommended_ data for ideal functionality (e.g. human-readable course name).

[2018-07-06 16:56] klemay commented on #692
We have someone who has been using Hypothesis for teaching and is now moving to Perusall in the Fall because of this Google picker issue: https://hypothesis.zendesk.com/agent/tickets/2677

Jeremy, Jon, and I are trying to convince him to stay with us, but wanted to flag that this is a dealbreaker for some educators who prefer to prepare for fall courses in advance.

[2018-07-06 17:36] klemay commented on #241
Another user request today: https://hypothesis.zendesk.com/agent/tickets/2680

[2018-07-06 21:05] klemay commented on #241
Another user request: https://hypothesis.zendesk.com/agent/tickets/2681

[2018-07-09 14:02] ajpeddakotla commented on #586
Really thoughtful idea @equivalentideas - will definitely keep this in mind as we scope this work out in the future.

[2018-07-09 14:19] ajpeddakotla commented on #703
Not a bug/regression IMO/from my historical understanding. Putting this in the product backlog.

[2018-07-09 14:57] klemay commented on #234
Another request for SSO with GSuite: https://hypothesis.zendesk.com/agent/tickets/2686

[2018-07-09 15:05] klemay commented on #110
Another user request: https://hypothesis.zendesk.com/agent/tickets/2683

[2018-07-09 16:17] lyzadanger commented on #692
For posterity, I'm adding @segdeha 's note about how to fix this here:

[code]

@segdeha Question about this: I presume that site verification key is "attached to" the domain `lms.hypothes.is`, suggesting to me that there is no way to test this before deployment if we do this hard-coded as is[1]? Also, do you happen to know if the `title` tag is part of the verification (i.e. required)?

[1] I don

[2018-07-09 22:52] segdeha commented on #692
@lyzadanger Correct. The key is tied to the domain, so there's no way to test it beyond eyeballing it to make sure the key appears on `qa-` as expected.

Personally, I don't think this is worth the engineering effort to create variables, etc. I'd just slap a view up there and call it a day!

[2018-07-10 12:27] lyzadanger commented on #685
At this time, it sounds like we're opting to handle the metadata and relationships between an LMS course and its group within the LMS app and its database, and not alter the group model on `h`. We can reopen this ticket if we change our minds.

[2018-07-10 12:27] #685 closed, assigned to nobody

[2018-07-10 18:38] xolotl opened #709 "Links to annotations made in EPUBS fail in Safari/Firefox"
## Related

### EPUBS

Related to https://github.com/hypothesis/product-backlog/issues/1356

Related to https://github.com/hypothesis/product-backlog/issues/709

### PDFs

Related to #1358

Related to https://github.com/hypothesis/product-backlog/issues/1360

### Steps to reproduce
1. Make an annotation in an epub (eg, [using the Hypothesis EPUB demos](https://web.hypothes.is/demos/)).
2. Using Sa

[2018-07-10 18:55] klemay opened #710 "TinyTinyRSS feed reader can't access Hypothesis annotations"
A user has [reported in our Google Forum](https://groups.google.com/a/list.hypothes.is/forum/?utm_medium=email&utm_source=footer#!msg/dev/8C9JkQg9DAQ/KSFQhrkOBAAJ) that TinyTinyRSS feed reader isn't able to access Hypothesis annotations.

When trying to subscribe, TTRSS shows:
`Couldn't download the specified URL: HTTP/1.1 403 Forbidden (feed behind Cloudflare)`

The user has done the following tr

[2018-07-10 19:08] lyzadanger opened #711 "Configure the LMS application as an `auth_client` to `h`"
To be able to provision users and groups, the LMS application needs to have an `auth_client` relationship with `h`.

This is done when:

* [ ] An `auth_client` is configured in `h` for the LMS app
* [ ] The LMS app has generalized components for making requests against the `h` API
* [ ] The LMS app can make properly-authenticated requests to `auth_client`-protected endpoints in the `h` service

(F

[2018-07-10 19:29] lyzadanger opened #712 "Provision a new `h` user when LMS instances launched"
This is a rather sizable integrated feature, so if it needs to be broken into multiple cards, we can do that. Depends on https://github.com/hypothesis/product-backlog/issues/700 and #711

When an embedded Hypothesis LMS app is launched, a new Hypothesis user should be created for the LMS user at hand.

This is done when:

* [ ] A mapping and logic has been created to translate incoming LTI data in

[2018-07-10 20:06] dwhly commented on #712
I have a dumb question.  How was this done before, for eLife, if we're just building this capability now?

[2018-07-10 20:39] solarchemist commented on #710
So I did some testing from two different IP addresses, we'll call them "IP1" (my desktop) and "IP2" (Linode VPS), with a feed address as specified on the [Hypothes.is feed page](https://web.hypothes.is/help/atom-rss-feeds-for-annotations/), a suggested work-around using `via.hypothes.is` instead of `hypothes.is`, and Hypothes.is' own RSS feed. For this test I used `wget` on both machines, also use

[2018-07-10 20:49] judell commented on #710
Hi Taha,

Please try https://via.hypothes.is/https://hypothes.is/stream.atom?user=paulallison (vs https://via.hypothes.is/stream.atom?user=paulallison) and let me know what you see.

(Sorry, should've been clearer about that.)

[2018-07-10 23:31] solarchemist commented on #710
Well, dang! Sorry for misunderstanding that, I guess I was tired :-)

Ok, this makes more sense, but the IP block appears to remain:
[code]

Please note I extended the table with some more IP addresses. Now these are strictly `wget` tests, but as we've seen that should work well. Both my Linodes (London and Frankfurt) are blocked by your Cloudflare servers, while my Digitalocean droplets (one in N

[2018-07-10 23:42] judell commented on #710
Ditto here, or I wouldn't have bothered with that last suggestion :-)

Your linode vs digitalocean comparison looks pretty conclusive.

If you're willing to do that, we'd appreciate knowing their response.

Thanks,

Jon

[2018-07-11 08:35] robertknight commented on #712
This card is about the lms app creating a user account in h when it needs to. The equivalent logic for eLife is handled by code in eLife's server.

The lms app needs to do one additional thing which did not apply for eLife, which is storing additional information about the original source of the user's identity: the LMS instance and the unique ID of the user within that instance.

[2018-07-11 10:22] #694 closed, assigned to sheetaluk

[2018-07-11 11:40] robertknight commented on #607
One option for the ES 6 cluster is to use the Kibana service that comes with AWS Elasticsearch and its monitoring data explorer. In order to do that, we'll need to set up a VPN or some other means of accessing the Kibana service which lives inside our VPC.

[2018-07-11 15:35] hmstepanek commented on #607
https://www.elastic.co/guide/en/elasticsearch/guide/current/cluster-admin.html Don’t forget we also have monitoring of es in New Relic for queries and such. It seems like x-pack is commonly used but I don’t think it’s free. I think it would be helpful to identify the kind of monitoring we need and don’t have and go from there. I think at least some of the monitoring provided by AWS is the same as

[2018-07-11 15:37] klemay commented on #709
Just tested this in Chrome - the bouncer link does not correctly scope to the annotation. When I clicked Nate's links, my h client was scoped to the last group I annotated in, rather than the layer where these annotations reside.

[2018-07-11 15:37] hmstepanek commented on #607
We can also add custom metrics and events for identifying when something wasn’t found and should have been/etc.

[2018-07-11 15:52] xolotl commented on #709
I think that’s sort of “working as expected” because currently the client
saves the last group you were using locally and it overrides whatever group
a linked annotation might be in. I’m assuming we have this issue as
something to find solutions for elesewhere.

[2018-07-11 15:53] robertknight commented on #607
It appears that AWS Elasticsearch may not support x-pack, which removes the Monitoring tab from Kibana as an option :( - https://forums.aws.amazon.com/thread.jspa?threadID=248200&start=25&tstart=0

[2018-07-11 15:54] klemay commented on #697
Leaving in the To Review column - we need to test this with other sites hidden behind a login to see if this is Moodle-specific or a wider issue

[2018-07-11 16:15] robertknight commented on #644
I was talking with Andrew in my 1:1 just now. We discussed the possibility of setting up a redirect in Cloudflare to a URL hosted in S3. We would need to be able to set up separate redirects for the `/api` and the rest of the site.

[2018-07-11 16:20] #83 closed

[2018-07-11 16:25] klemay commented on #142
Closing - it's done!

[2018-07-11 16:25] #142 closed, assigned to nobody

[2018-07-11 16:30] klemay commented on #709
@xolotl - in our bug backlog meeting @dwhly pointed out that bouncer (hyp.is) links should _always_ scope to the annotation, even though groups are sticky.

[2018-07-11 18:25] klemay commented on #692
We've done the verification part in the Google Developer console, but the Google Picker is still not working in the LMS app. Here I'll summarize internal conversations we've had since Lyza's PR was merged + deployed.

Lyza found [some further info about settings that needed to be adjusted in the Google Developer Console](https://stackoverflow.com/posts/22444905/revisions), which Andrew implemented

[2018-07-11 20:30] dwhly opened #713 "Share link should bring folks to the same view"
## Feature Request Form
### Problem you are trying to address with this feature

If you're sharing a link to the annotated page you're seeing, you *probably* expect that share link to take folks to *what you're actually seeing*.  If the client is scoped to a particular group, then the share link might reasonably be expected to take folks to a view where they're scoped to that same group.  *Otherwi

[2018-07-13 14:25] lyzadanger commented on #684
Slightly embarrassing piece of background here: I created a bit of code in `h.views.api.groups` recently that I thought would prevent (initially) the creation of private groups _in non-default authorities_ initially, until we were ready to do so. But in looking at [the actual code](https://github.com/hypothesis/h/blob/69e8d0852a8b65d9c09c96b3daf6a3306dbd16e7/h/views/api/groups.py#L45-L47), it's no

[2018-07-13 15:06] jeremydean opened #714 "Editing to LMS /welcome page"
## Feature Request Form
### Problem you are trying to address with this feature
Two dialogue boxes on the lms /welcome page are canvas only but not labeled as such. See here and image below:

https://qa-lms.hypothes.is/welcome

![image](https://user-images.githubusercontent.com/3261902/42698735-6605cd7c-8684-11e8-9d2b-1961029edb3d.png)

### Your solution
Add a header above the final two boxes that

[2018-07-13 16:28] whoinoi commented on #110
Yes this feature is very much needed. I hope you guys will implement this. The issue has been open for 2 years already.

[2018-07-13 16:52] judell commented on #110
You can do this by querying for your username in the sidebar:

![image](https://user-images.githubusercontent.com/46509/42703706-2a2a0112-8682-11e8-8da0-1b4d64208761.png)

A link to that view:  https://example.com/#annotations:query:user:judell

A tool for producing sets of such links for a group: https://jonudell.info/h/ContributorFocus/

[2018-07-13 17:38] dwhly commented on #110
Though this only works for the current group.  Because we currently allow Only Me annotations *under every group* there could be Only Me annotations for the current page in a variety of places.

So:
1- We might break Only Me annotations out of groups into their own thing.
2- We should improve access to them overall.

2 will most likely naturally fall from 1.

Another Q is:  "Should we allow anothe

[2018-07-13 18:06] klemay commented on #110
Or, if we allow for moving annotations among groups/layers (as in https://github.com/hypothesis/product-backlog/issues/111), users could draft annotations, set visibility to "Only Me," and then move to the appropriate group layer when ready.

[2018-07-13 20:13] segdeha commented on #271
Closing this as it's superseded by https://github.com/hypothesis/product-backlog/issues/562 which is nearing completion.

[2018-07-13 20:13] #271 closed

[2018-07-13 20:23] segdeha opened #715 "EPIC: Improve scalability of Hypothesis web service"
As a start at a minimum, this probably consists of the following:

1. Put in place profiling and load testing tools so we can understand what changes will have the biggest impact on performance
2. Measure the current performance of our services under load
3. Propose and implement the highest impact change first
4. Measure new performance of our services
5. GOTO 3

[2018-07-13 20:28] segdeha opened #716 "EPIC: Move WebSockets off the primary domain"
Something that would help us scale more easily and efficiently is to separate out the WebSocket server from the other application servers in production so we can scale them independently and in a manner more consistent with its resource usage.

[2018-07-13 20:30] segdeha opened #717 "EPIC: Badge API improvements"
Some work has been done to improve this endpoint already (https://github.com/hypothesis/h/pull/5113), but there is more that could be done to make the expensive part of this call cheaper, such as a bloom filter.

[2018-07-13 21:45] felliott commented on #366
Around the beginning of July 2018, pdf.js removed the `PDFViewerApplication.documentFingerprint` property the client uses to get the document identifier.  See https://github.com/mozilla/pdf.js/commit/e522b2d87e8eb3d4eb8a391a098a0f6f157e8c12

[2018-07-13 21:57] SteelWagstaff opened #718 "OAuth Authentication"
We’re running an instance of Pressbooks with the [hypothesis plugin](https://github.com/hypothesis/wp-hypothesis) installed and networked activated. We want to have the option of giving users one login to gain access to both Pressbooks and Hypothesis (when the hypothesis plugin is installed and activated for a book). We’re also looking at bringing Pressbooks into our Learning Management System via

[2018-07-13 22:23] judell commented on #718
"configure the hypothesis plugin for WordPress to implement a ‘third-party account’"

That's doable now. Hypothesis auto-provisioned users would live in a particular type of group (aka 3rd-party namespace) that would need to be allocated by Hypothesis on a per-instance-of-plugin basis. Their Hypothesis identities would (presumably) be derived from their WordPress identities, and would exist only i

[2018-07-14 10:35] robertknight commented on #366
Thanks for the notice @felliott.

[2018-07-16 10:18] seanh commented on #712
I guess there may be different LTI launches involved here. For example our app is launched during assignment or module item creation (at this point the user will be the teacher). The app is also launched during assignment launch, at which point the user may be the teacher or a student. I don't think we receive an LTI launch during the app installation process (e.g. when a teacher installs our app

[2018-07-16 13:55] klemay commented on #111
[Zendesk ticket 2705](https://hypothesis.zendesk.com/agent/tickets/2705):

I have tried the various edit options but I cannot find any way of achieving this - other than to delete and recreate the annotation in the new target group

[2018-07-16 14:31] klemay commented on #49
We have another strange case of html doctitlles not being shown correctly in [Zendesk ticket 2702](https://hypothesis.zendesk.com/agent/tickets/2702).

The user has made an annotation on his website, https://successful.company/, but if you look at his activity page, the card title is “Research on Demand | DeepDyve”, which is associated with an article rental platform.

[2018-07-16 15:26] ajpeddakotla commented on #717
Note badge endpoint issue summary outlined here: https://docs.google.com/document/d/1TqNduRkkjfIVK98QKrWGpJW3eWmPx2ns4XSrHJfBSdE/edit?usp=drive_web&ouid=116413705235587132219

[2018-07-16 16:21] jeremydean commented on #718
I don't think this is true. I believe the LMS app will be working with 3rd party accounts as well. @lyzadanger @seanh

I'm also a little confused what you mean by "doable" above, Jon. If this--"configure the hypothesis plugin for WordPress to implement a ‘third-party account’"--for example, is possible now, can we add the code to the WP plugin to make it an option for users?

[2018-07-16 16:33] lyzadanger commented on #718
This is correct. The LMS app has its own associated authority. Provisioned users for LMS will be third-party.

[2018-07-16 20:31] #684 closed, assigned to sheetaluk

[2018-07-16 20:45] #705 closed, assigned to sheetaluk

[2018-07-17 14:10] #335 closed, assigned to sheetaluk

[2018-07-17 14:47] sheetaluk commented on #706
![image](https://user-images.githubusercontent.com/502186/42824865-bf2604ee-89ae-11e8-9fed-cb7663f6abfe.png)

[2018-07-17 15:06] #706 closed, assigned to sheetaluk

[2018-07-17 15:37] klemay commented on #704
Including a gif to help explain - clicking on the numbers in the sidebar will scroll the page to the annotation/highlight, but it will not open the sidebar:

![screencast-web hypothes is-2018 07 17-11-32-08](https://user-images.githubusercontent.com/12087705/42828041-ce57e318-89b5-11e8-8298-c0422d9f0a4c.gif)

(I tried this on [one of our blog posts](https://web.hypothes.is/blog/gdpr/))

[2018-07-18 18:57] klemay commented on #413
Closing in favor of https://github.com/hypothesis/product-backlog/issues/127

[2018-07-18 18:57] #413 closed, assigned to nobody

[2018-07-18 18:58] klemay commented on #127
User requests:
- Education user who would like to change the titles of documents on activity pages: https://hypothesis.zendesk.com/agent/tickets/2167
- User who would like to remove a document from a group activity page: https://hypothesis.zendesk.com/agent/tickets/2639
- User who has incorrect PDF metadata & wants to change title on activity page: https://hypothesis.zendesk.com/agent/tickets/2715

[2018-07-19 13:42] #700 closed, assigned to lyzadanger

[2018-07-19 14:46] lyzadanger commented on #700
Completed as of https://github.com/hypothesis/h/pull/5169

[2018-07-20 09:03] robertknight commented on #608
I updated the description to separate out tasks in h vs operations. I also removed the sections on dependabot and ES update notifications to limit the scope of this issue.

I will add a task to talk about future ES upgrade strategy though.

[2018-07-20 10:55] #648 closed, assigned to robertknight, hmstepanek

[2018-07-20 14:20] robertknight commented on #600
This is implemented on master, but I think we ought to actually get this working in production before we close it.

[2018-07-20 16:26] solarchemist commented on #710
Hi guys,

I opened a ticket with Linode, and they looked into this issue/thread, and here's their findings (if I may summarise):

- Your Linode gets a captcha when attempting to access this URL.
- We seem to be getting the captcha from a wide selection of addresses within the Linode Network Range in both IPv4 and IPv6.
- We tried a number of sites outside of Linode's network and they are not requi

[2018-07-20 16:39] klemay commented on #710
@chepec Thank you for checking with Linode and relaying their answer back. I'll check with the Powers That Be (i.e,, those who have Cloudflare admin access)

[2018-07-21 11:30] heatherstaines opened #719 "Client closes when I try to click in for a second time"
## Bug report form
### Steps to reproduce
1. Annotating on Firefox 61.0.1
2. This url: https://www.smithsonianmag.com/history/buried-ash-vesuvius-scrolls-are-being-read-new-xray-technique-180969358/
3. No problem with highlights, but if I try to create an annotation, I can--but as soon as I leave the actual annotation card (either to try to make a tag or to post) the next click closes the sidebar.

[2018-07-21 11:32] heatherstaines commented on #719
Actually, this seems to be working now, so please delete.

[2018-07-21 11:38] heatherstaines commented on #719
Okay, now it's not working... Sigh.

[2018-07-21 16:18] dwhly opened #720 "Direct links not working properly with embedded clients"
### Problem
Presently, bouncer is not able to detect that H is embedded on any given target page.  It can only detect when the browser extension is present.  Therefore, it cannot pass the direct link context (annotation, users, etc) to the embedded client.

This becomes particularly important when the client is embedded in particular ways, such as within subframes.

For instance, this annotation h

[2018-07-23 10:20] robertknight opened #721 "Change the term "NIPSA" in Hypothesis"
Hypothesis supports [shadow banning](https://en.wikipedia.org/wiki/Shadow_banning) users. This concept is referred to though as NIPSA ("Not in public site areas"). I suggest we should change this term for several reasons:

- It is not a widely-used term (to my knowledge) and not intuitive (every new hire has to ask "what's NIPSA?")
- It is not accurate any more as it predates the concept of privat

[2018-07-23 11:04] robertknight commented on #600
The `index_es6` flag is now enabled in production. If there are any issues I'll file separate tickets.

[2018-07-23 11:04] #600 closed, assigned to nobody

[2018-07-23 12:44] dwhly commented on #721
+1

[2018-07-23 16:02] #605 closed, assigned to robertknight

[2018-07-23 16:02] klemay commented on #13
Here's a use case from CUP to illustrate why this would be helpful.
Zendesk ticket: https://hypothesis.zendesk.com/agent/tickets/2732

## Summary
In the [Cambridge Core/ATI](https://hypothes.is/groups/zvEVDE2R/cambridgecore-ati) restricted group, there were annotations on the PDF version of an article called "Making the Real: Rhetorical Adduction and the Bangladesh Liberation War" by Joseph O'Maho

[2018-07-23 16:11] dwhly commented on #13
Just a note here that there is a well known library called CERMINE, here: https://github.com/CeON/CERMINE

This library can (among other things) read DOIs printed in PDFs in places that are likely to indicate that it is the DOI of the article (vs a DOI of another cited article).  I think they look for DOIs printed vertically in the spine, and in the upper half of the first page and things like tha

[2018-07-23 17:04] lyzadanger opened #722 "Refactor `auth_client` to use Pyramid authentication structure"
The current way the "authentication" is handled for auth_clients using the `POST users/` endpoint isn't technically in the Pyramid authentication flow at all. It's handled at the view level. Now that it has been refactored in part to remove it from the view level, it's reusable, at least, but it's still not in great shape.

We could ignore it, except that we need to _extend_ it for the LMS work an

[2018-07-23 17:06] LeetCodes opened #723 "Enable social login"
---
name: 🚀 Feature Request
about: ORCID API integration when editing profile

---

## Feature Request Description

**Current behavior**
When adding an ORCID to profile it doesn't follow their [brand guidelines](https://orcid.org/trademark-and-id-display-guidelines)

**My Suggestions**
Integrating with their [API](https://orcid.org/organizations/integrators/API)
* authentication you're the owner o

[2018-07-23 17:11] lyzadanger opened #724 "Extend AuthenticationPolicy(s) to allow an auth_client to make requests "on behalf of" users within their authority"
NB: This issue outlines the current leading approach for how we want to solve the problem of creating a private group via an authority-bound authClient on behalf of a user within the authority's control. It's possible we'll choose another approach if this one isn't deemed the best.

Depends on #722

Extend the appropriate Pyramid AuthenticationPolicy for authClients to allow an auth client to send

[2018-07-23 17:23] lyzadanger opened #725 "Spike: Create high-level plan for client changes needed for LMS work"
We need to define the overall work required in the **client** codebase to support LMS features (e.g. focus the correct course-specific group, handle auth tokens) so that we can break it down into tasks and delegate.

[2018-07-23 17:54] lyzadanger opened #726 "Design/implement endpoint that allows the "fetching of a user by identity""
The LMS will need to be able to retrieve users it has created in the past from the `h` service. Those users are better identified by a combination of their provider (their LMS instance) and their "provider_unique_id" (their LTI user_id) than a username.

My first-blush proposal for handling this would be to create a `GET users/` endpoint (auth_client access only) that would accept some relevant `G

[2018-07-23 17:58] lyzadanger commented on #693
I'm going to close this issue because it's not the best way to track what I was initially trying to track, and has become a different animal now that we are doing the LMS application work ourselves and not handing it off.

[2018-07-23 17:58] #693 closed, assigned to lyzadanger

[2018-07-23 17:59] lyzadanger commented on #701
The high-level thinking has been worked through for this need. I am going to close the spike in favor of the implementation cards, #722 and #724

[2018-07-23 17:59] #701 closed, assigned to nobody

[2018-07-23 18:34] lyzadanger opened #727 "Integrate LMS app with fetch-by-identity API endpoint for user provisioning"
This depends on #726

To complete the flow logic for creating and verifying LMS user accounts, the LMS app _may_ need to integrate with the new API endpoint detailed in #726 when it is available. That endpoint can be used by the LMS app to verify whether a given LMS user exists in the `h` service database or not.

One logical flow might be to hit the new API endpoint to see if a user exists and, i

[2018-07-23 18:37] lyzadanger opened #728 "Add ability to store `h` group metadata in LMS App"
Part of https://github.com/hypothesis/product-backlog/issues/596

To be able to access course-specific groups in the `h` service database, our current design has the LMS app responsible for storing course-group metadata (most saliently the `pubid` for the associated group) in the LMS database.

To do this, we'll need a mechanism (model updates? a totally new model? Something else?) to store `conte

[2018-07-23 18:48] lyzadanger opened #729 "Spike: Define flow in LMS app for Group Provisioning"
This is just far enough down the road that I don't want to flesh out too many details lest they become invalidated. But I'd like to spike to define how we want to build this piece of the work.

* This is going to be dependent on #724 or some alternate way to handle the authentication/authorization of this create-group request
* Groups should be created for every _course_ in the target LMS (not per

[2018-07-23 18:51] lyzadanger opened #730 "Integrate LMS app with `add-member-to-group` API endpoint"
This depends on

#707
#729 (and implementation of whatever approach is decided upon)

so details are light at this point, but we need to implement calls to the `POST groups/{id}/members/{userid}` endpoint from the LMS app, to add users to LMS-provisioned private course groups on their behalf.

[2018-07-23 19:02] dwhly commented on #720
Also, of course, what do we do when a user has annotated something on the page outside of the embedded content and wants to return there / share the location via a direct link.  So some links will want to take the user back to the embedded content, some will want to take the user back to the surrounding non-embedded content.  Perhaps this gets back to us storing whether the original annotation was

[2018-07-24 09:17] robertknight commented on #623
This was completed this morning for the _hypothesis-es6_ AWS ES domain in 1h59m. Indexing failed for 188 annotations, which is very similar to a recent reindex operation for ES 1:

<details>

[code]

</details>

[2018-07-24 09:17] #623 closed, assigned to nobody

[2018-07-24 09:28] robertknight commented on #610
[Discussed yesterday in Slack](https://hypothes-is.slack.com/archives/C4K6M7P5E/p1532344621000052). Since ES is no longer our primary datastore and we can rebuild it fairly quickly from the DB (in ~2 hours or so), we're opting to remove our custom backup infrastructure and just use Amazon's automated ES snapshots.

The other use of the custom ES backups was restoring a prod search index dumb to a

[2018-07-24 10:15] robertknight opened #731 "Remove custom ES backup infrastructure"
As described in https://github.com/hypothesis/product-backlog/issues/610, we are going to remove our custom infrastructure for creating ES backups.

Subtasks:

- [x] Remove Dead Man's Snitch checks for ES backups
- [x] Remove programs from the monitoring / management etc. servers which collects ES backups (https://github.com/hypothesis/playbook/pull/175)
- [x] Update any documentation which refers

[2018-07-24 10:28] robertknight commented on #617
I can't see a strong reason for us needing the additional control that comes with customer-manged keys in KMS at present. On that basis I'm going to recommend that we stick with AWS-managed keys (aka. "the box-ticking option" according to one KMS presentation I saw from Amazon) until we have a clear reason to do otherwise.

[2018-07-24 10:28] #617 closed, assigned to robertknight

[2018-07-24 10:30] robertknight commented on #601
I personally don't think there is enough risk to justify needing to implement a bunch of separate feature flags for different features that use search.

This feature flag is added as part of https://github.com/hypothesis/h/pull/5176

[2018-07-24 10:38] robertknight commented on #668
Superseded by https://github.com/hypothesis/product-backlog/issues/601. We are now using the same code, with one exception, for handling searches against ES 1 and ES 6. Therefore we don't really need an issue for each field to be aggregated or searched by.

[2018-07-24 10:38] #668 closed, assigned to nobody

[2018-07-24 10:39] robertknight commented on #667
Superseded by https://github.com/hypothesis/product-backlog/issues/601. We are now using the same code, with one exception, for handling searches against ES 1 and ES 6. Therefore we don't really need an issue for each field to be aggregated or searched by.

[2018-07-24 10:39] #667 closed, assigned to nobody

[2018-07-24 10:39] robertknight commented on #666
Superseded by https://github.com/hypothesis/product-backlog/issues/601. We are now using the same code, with one exception, for handling searches against ES 1 and ES 6. Therefore we don't really need an issue for each field to be aggregated or searched by.

[2018-07-24 10:39] #666 closed, assigned to nobody

[2018-07-24 10:39] robertknight commented on #665
Superseded by https://github.com/hypothesis/product-backlog/issues/601. We are now using the same code, with one exception, for handling searches against ES 1 and ES 6. Therefore we don't really need an issue for each field to be aggregated or searched by.

[2018-07-24 10:39] #665 closed, assigned to nobody

[2018-07-24 10:39] robertknight commented on #664
Superseded by https://github.com/hypothesis/product-backlog/issues/601. We are now using the same code, with one exception, for handling searches against ES 1 and ES 6. Therefore we don't really need an issue for each field to be aggregated or searched by.

[2018-07-24 10:39] #664 closed, assigned to nobody

[2018-07-24 10:39] robertknight commented on #663
Superseded by https://github.com/hypothesis/product-backlog/issues/601. We are now using the same code, with one exception, for handling searches against ES 1 and ES 6. Therefore we don't really need an issue for each field to be aggregated or searched by.

[2018-07-24 10:39] #663 closed, assigned to nobody

[2018-07-24 10:39] robertknight commented on #662
Superseded by https://github.com/hypothesis/product-backlog/issues/601. We are now using the same code, with one exception, for handling searches against ES 1 and ES 6. Therefore we don't really need an issue for each field to be aggregated or searched by.

[2018-07-24 10:39] #662 closed, assigned to nobody

[2018-07-24 10:40] robertknight commented on #661
Superseded by https://github.com/hypothesis/product-backlog/issues/601. We are now using the same code, with one exception, for handling searches against ES 1 and ES 6. Therefore we don't really need an issue for each field to be aggregated or searched by.

[2018-07-24 10:40] #661 closed, assigned to nobody

[2018-07-24 10:40] robertknight commented on #660
Superseded by https://github.com/hypothesis/product-backlog/issues/601. We are now using the same code, with one exception, for handling searches against ES 1 and ES 6. Therefore we don't really need an issue for each field to be aggregated or searched by.

[2018-07-24 10:40] #660 closed, assigned to nobody

[2018-07-24 10:40] robertknight commented on #659
Superseded by https://github.com/hypothesis/product-backlog/issues/601. We are now using the same code, with one exception, for handling searches against ES 1 and ES 6. Therefore we don't really need an issue for each field to be aggregated or searched by.

[2018-07-24 10:40] #659 closed, assigned to nobody

[2018-07-24 10:40] robertknight commented on #658
Superseded by https://github.com/hypothesis/product-backlog/issues/601. We are now using the same code, with one exception, for handling searches against ES 1 and ES 6. Therefore we don't really need an issue for each field to be aggregated or searched by.

[2018-07-24 10:40] #658 closed, assigned to nobody

[2018-07-24 10:40] robertknight commented on #657
Superseded by https://github.com/hypothesis/product-backlog/issues/601. We are now using the same code, with one exception, for handling searches against ES 1 and ES 6. Therefore we don't really need an issue for each field to be aggregated or searched by.

[2018-07-24 10:40] #657 closed, assigned to nobody

[2018-07-24 10:40] robertknight commented on #656
Superseded by https://github.com/hypothesis/product-backlog/issues/601. We are now using the same code, with one exception, for handling searches against ES 1 and ES 6. Therefore we don't really need an issue for each field to be aggregated or searched by.

[2018-07-24 10:40] #656 closed, assigned to nobody

[2018-07-24 10:47] robertknight commented on #606
There is a facility in h that will probably be helpful for testing this via the API: Any feature flag can be enabled for a request by adding a `__feature__[<flag name>]`  query parameter with a non-empty value. For example https://hypothes.is/api/search?uri=http://example.org&__feature__[search_es6]=1.

[2018-07-24 11:08] robertknight opened #732 "Plan how future Elasticsearch upgrades will be executed"
The process of upgrading h from Elasticsearch 1 to Elasticsearch 6.x has been extremely protracted.

I think it would be wise to reflect on the process and figure out what we should do differently in future, as well as making some notes on a strategy for future upgrades should we need to.

----

Some misc initial thoughts:

- We lacked a test suite which actually tested our search code against Ela

[2018-07-24 13:55] lyzadanger opened #733 "LMS app should generate deterministic usernames for user provisioning"
Part of https://github.com/hypothesis/product-backlog/issues/712

The LMS app needs to generate an `h` username that is (outside of the black box) deterministic and reusable on subsequent launch requests. This is needed because so many of the `h` services depend on `username` (or `userid`, which includes `username`) as the unique identifier.

[2018-07-24 13:57] lyzadanger opened #734 "LMS app should generate unique identity during user provisioning"
This is part of https://github.com/hypothesis/product-backlog/issues/712

The LMS app needs to generate a valid and deterministic identity (tuple of `provider`, `provider_unique_id`) during the user provisioning and LTI app launch cycle. During user provisioning this identity should be sent along with the user-create request.

[2018-07-24 13:59] lyzadanger opened #735 "LMS app should handle error states during user provisioning"
Part of https://github.com/hypothesis/product-backlog/issues/712

The LMS app needs to contend with a lot of moving parts in the LTI data provided from LMS instances. Part of user wrangling is correctly and appropriately handling error states, such as missing key data elements or edge-condition user conflicts.

[2018-07-24 15:22] klemay commented on #702
Question about how this would affect linking to annotations:

I am a Hypothesis user and I annotate in the Public channel on a site that has a publisher group and has suppressed the Public layer for non-authenticated users. I'd like to share a link to my annotation with Dan, another Hypothesis user, but he's not currently logged in. He clicks the `hyp.is` link I share with him - what happens? Is h

[2018-07-24 15:57] dwhly commented on #702
@klemay Great question.  And I've added this to the acceptance criteria.

Clearly someone following a link to an annotation in the public group wants to see that annotation, and should be allowed to.  I don't think publishers would disagree.  This would go for any link to an annotation in any group that isn't visible by default.

[2018-07-24 16:28] segdeha commented on #732
I agree that doing the upgrade in steps (i.e. not trying also to do the DSL stuff at the same time) has kept things simpler. Would completing the DSL work make it simpler to upgrade in the future?

[2018-07-24 16:36] robertknight commented on #732
I don't think so. Certainly it is of much less relevance than other issues.

[2018-07-25 08:12] robertknight commented on #702
The case where a user is logged out but follows a direct link to an annotation in the Public group is a good catch but complicates things a bit. I've opened a PR that addresses the other two acceptance criteria but doesn't resolve this. I'll need to discuss with other devs.

I think we'll need to either 1) figure out a way to make groups show up dependent on a target annotation as well as the docu

[2018-07-25 12:27] seanh opened #736 "Generate h identities from LMS data (must be deterministic)"
Part of https://github.com/hypothesis/product-backlog/issues/712

[2018-07-25 12:28] seanh opened #737 "Generate valid h usernames from LTI data (must be deterministic)"
Part of https://github.com/hypothesis/product-backlog/issues/712

[2018-07-25 12:28] seanh opened #738 "Generate valid h display names from LTI data"
Part of https://github.com/hypothesis/product-backlog/issues/712

[2018-07-25 12:29] seanh opened #739 "Implement a faster, easier and more effective way to test LTI launches"
Part of https://github.com/hypothesis/product-backlog/issues/712

[2018-07-25 12:33] seanh commented on #712
I've broken out some other cards that need to be done before this card can be done:

* <del>[Configure the LMS application as an `auth_client` to `h`](https://github.com/hypothesis/product-backlog/issues/711)</del> done
* <del>[Implement method to enable/disable LMS provisioning](https://github.com/hypothesis/product-backlog/issues/699)</del> done
* <del>[Generate h identities from LMS data (must

[2018-07-25 12:34] seanh commented on #733
Apologies but I opened a dup of this card here https://github.com/hypothesis/product-backlog/issues/737 which I've already linked to from elsewhere, so gonna close this one

[2018-07-25 12:34] #733 closed, assigned to seanh

[2018-07-25 12:34] seanh commented on #734
Apologies but I opened a dup of this card here https://github.com/hypothesis/product-backlog/issues/736 which I've already linked to from elsewhere, so gonna close this one

[2018-07-25 12:34] #734 closed, assigned to seanh

[2018-07-25 16:08] klemay commented on #723
See also: https://github.com/hypothesis/h/issues/2286

[2018-07-25 16:21] klemay commented on #194
All but one of the acceptance criteria have been met; there's a separate issue for that one: https://github.com/hypothesis/product-backlog/issues/713

[2018-07-25 16:21] #194 closed

[2018-07-25 16:29] klemay commented on #689
See:

- https://github.com/hypothesis/product-backlog/issues/378
- https://github.com/hypothesis/product-backlog/issues/690
- https://github.com/hypothesis/product-backlog/issues/671
- https://github.com/hypothesis/product-backlog/issues/131

[2018-07-25 16:29] klemay commented on #378
Closing in favor of: https://github.com/hypothesis/product-backlog/issues/689

[2018-07-25 16:29] #378 closed, assigned to nobody

[2018-07-25 16:31] klemay commented on #354
Closing in favor of: https://github.com/hypothesis/product-backlog/issues/431

[2018-07-25 16:31] #354 closed, assigned to nobody

[2018-07-25 16:31] klemay commented on #431
See also: https://github.com/hypothesis/product-backlog/issues/354

[2018-07-25 19:04] klemay opened #740 "Explore PDF authoring best practices to improve PDF annotation experience"
This might be more appropriate for the support repo, but there are so many open issues in the product backlog that it made sense to compile them all in one issue.

Though we provide [guidance on how to OCR-optimize a PDF](https://web.hypothes.is/help/how-to-ocr-optimize-pdfs/) the experience of annotating a PDF varies widely based on how that PDF is authored.

Some examples:
- [This Zendesk ticket

[2018-07-25 19:05] klemay commented on #173
Closing in favor of https://github.com/hypothesis/product-backlog/issues/740, where PDF issues have been compiled.

[2018-07-25 19:05] #173 closed

[2018-07-25 19:05] klemay commented on #202
Closing in favor of https://github.com/hypothesis/product-backlog/issues/740, where PDF issues have been compiled.

[2018-07-25 19:05] #202 closed

[2018-07-26 14:39] klemay commented on #438
^ closing in favor of #324

[2018-07-26 14:39] #438 closed, assigned to nobody

[2018-07-26 14:39] klemay commented on #324
[From Zendesk](https://hypothesis.zendesk.com/agent/tickets/2749):

We may want to add "right-to-left text highlighting" to the list of things to support.

[2018-07-26 16:34] robertknight commented on #601
This is now done. See https://hypothes-is.slack.com/archives/C4K6M7P5E/p1532621303000295.

[2018-07-26 16:34] #601 closed, assigned to hmstepanek

[2018-07-26 16:38] robertknight commented on #606
It turns out that the above suggestion (using `__feature__[<flag name>]` query params) is not possible at the moment because of the way that the search API processes query params - anything unknown gets forwarded to Elasticsearch directly as an "indexed document must contain this term in this field" condition!

TBQH I think the risk of a divergence in behaviour between ES1 and ES6 in production is

[2018-07-27 16:41] klemay commented on #241
Tagging https://github.com/hypothesis/product-backlog/issues/713 as related

[2018-07-27 17:08] klemay commented on #241
This came up again today, in reference to a private group created as part of an EdX course:
 https://hypothesis.zendesk.com/agent/filters/152272907

To sum up this ticket-
Students have annotated in the Public layer instead of the private group, meaning that:

- Instructors can't hide annotations that are inappropriate in the class context, but which are not necessarily a violation of our communit

[2018-07-30 09:06] #731 closed, assigned to robertknight

[2018-07-30 14:04] robertknight commented on #606
I'm going to close this for now on the basis I think we have done a sufficient amount of testing/verification via automated (tests) + manual (poking at things in production) means. I do think we should fix the issue that prevents usage of feature flag query params in `/api/search` requests though. This is tracked on the sprint board.

[2018-07-30 14:04] #606 closed, assigned to nobody

[2018-07-30 16:53] klemay commented on #583
Seeing similar behavior at http://www.dartmouth.edu/~milton/reading_room/pl/book_1/text.shtml:

<img width="1512" alt="screen shot 2018-07-30 at 12 48 51 pm" src="https://user-images.githubusercontent.com/12087705/43411096-304906c4-93f7-11e8-912a-d4035fc83480.png">

These annotations did have replies, but I flagged and hid the replies first.

This comes out of a ticket I've been working on with @j

[2018-07-30 17:07] jeremydean commented on #583
This is currently a bad look with a major potential partner. Dartmouth has expressed interest in the LMS pilot and is currently piloting H within the edX platform. @dwhly

After talking with instructor and designer for the course, we decided to remove public annotations that 1) were accidentally created on the public channel by previous students in previous courses and 2) the instructor felt distr

[2018-07-30 17:20] klemay commented on #583
^ given this is creating an issue for a potential partner, I'm planning to bring this up with my meeting with Arti tomorrow morning (she is offline for the day by now)

[2018-07-30 18:58] #714 closed, assigned to lyzadanger

[2018-07-31 14:41] ajpeddakotla commented on #704
Given that we've had another issue that's come up that's higher priority, we're going to put this in the backlog and review prioritization again during the next sprint planning meeting.

[2018-08-01 06:43] robertknight commented on #609
Closed by https://github.com/hypothesis/bouncer/pull/135

[2018-08-01 06:43] #609 closed, assigned to hmstepanek

[2018-08-01 07:04] robertknight commented on #387
This was implemented for future reindexing operations by https://github.com/hypothesis/h/pull/5122. I also cleaned out the existing old indexes from the ES1 cluster.

Note that if a reindex _fails_ for any reason after the new index has been created, both current and new (incomplete) indexes will still exist.

[2018-08-01 07:04] #387 closed, assigned to nobody

[2018-08-01 07:23] robertknight commented on #607
Following an investigation into some of the available options, I have updated the issue description to cover tasks we'll need to do to get reasonable monitoring coverage:

- New Relic can give us info about volume of activity and latency as seen from the h application side
- Grafana can give us access to detailed stats from ES' stats APIs
- Amazon Elasticsearch's dashboard in AWS provides high-lev

[2018-08-01 13:14] #711 closed, assigned to seanh

[2018-08-01 13:14] #736 closed, assigned to seanh

[2018-08-01 13:14] #737 closed, assigned to seanh

[2018-08-01 13:14] #738 closed, assigned to seanh

[2018-08-01 13:14] #699 closed, assigned to seanh

[2018-08-01 14:55] klemay commented on #649
Another example: http://hybridpedagogy.org/bit-block-sketch-build-bricolage/

Visit https://via.hypothes.is/http://hybridpedagogy.org/bit-block-sketch-build-bricolage/ and you'll see all the annotations are orphaned.

[2018-08-01 15:11] klemay commented on #719
I tried this in Firefox 61.0.1 and was not able to reproduce - closing this issue.

[2018-08-01 15:11] #719 closed, assigned to nobody

[2018-08-02 05:29] robertknight commented on #607
The [Elasticsearch AWS](https://mon.hypothes.is/grafana/dashboard/db/elasticsearch-aws) dashboard is now updated and showing stats from the ES6 cluster.

[2018-08-02 07:38] robertknight commented on #610
I have removed all of the "snapshots/indices/hypothesis-{hash}" folders from the "hypothesis-backup-es" bucket which were created by indexing data already in Postgres. There are a handful of older index folders left named "annotator*" which predate the transition of annotation data from Elasticsearch to Postgres. If we're happy we don't have any interest in those for historical purposes then we co

[2018-08-02 07:38] #610 closed, assigned to robertknight

[2018-08-02 09:19] #712 closed, assigned to seanh

[2018-08-02 09:19] #735 closed, assigned to seanh

[2018-08-02 10:29] robertknight commented on #607
The issue for updating documentation for connecting to and querying the ES cluster is tracked in the main cleanup ticket:
https://github.com/hypothesis/product-backlog/issues/608

[2018-08-02 10:29] #607 closed, assigned to robertknight

[2018-08-02 10:39] robertknight opened #741 "Ignore unknown query parameters passed to /api/search"
All query parameters passed to the `/api/search` API get forwarded to `h.search.Search.run` which in turn get turned into key/value matchers by `h.search.query.Builder`, regardless of whether or not they match a known search field.

This means that our public documentation for the search API is incomplete (eg. no mention of "quote" or "text" query params) and users may ending up depending on featu

[2018-08-02 11:48] robertknight opened #742 "Client fails to load on Wikipedia articles when visited through Via"
The client is failing to load when loading on a Wikipedia article loaded through Via. An exception in the `URL` constructor is reported.

### Steps to reproduce in production

Visit https://via.hypothes.is/https://en.wikipedia.org/wiki/Ian_Smith

### Minimal steps to reproduce locally

1. Save this page as `index.html` and serve using `python -m SimpleHTTPServer 8000`
[code]
2. Start local instanc

[2018-08-02 12:46] robertknight commented on #741
Related discussion about query parameter validation: https://hypothes-is.slack.com/archives/C4K6M7P5E/p1533206617000255

[2018-08-02 13:46] #703 closed, assigned to nobody

[2018-08-02 18:47] dwhly opened #743 "Support "Public" as a group facet"
## Feature Request Form
### Problem you are trying to address with this feature

Right now you can't search against the Public group unless you know that `group:__world__` is the way to do it.

### Your solution

Add an alias for `group:public` or `group:Public`

[2018-08-03 12:26] seanh commented on #1146
https://www.python.org/dev/peps/pep-0008/

![screenshot from 2018-08-03 13-15-43](https://user-images.githubusercontent.com/22498/43642787-d39993a8-9720-11e8-9ab1-4ef2b724ff03.png)

[2018-08-03 13:28] robertknight opened #744 "Provide a more efficient way to page through or sync large collections of annotations"
The search API currently supports iterating through collections of results using `offset` and `limit` parameters. When the collection is large (eg. all annotations in "Public"), this gets very inefficient as `offset` gets large.

Elasticsearch 6 by default limits the sum of result offset and result set size [to 10,000](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-

[2018-08-07 07:53] robertknight opened #745 "Setup automated cleanup of unused docker images / volumes etc. on Jenkins"
We ran into an issue yesterday where Jenkins was unable to function because the CI machine ("support") ran out of free inodes ([Slack discussion](https://hypothes-is.slack.com/archives/C4K6M7P5E/p1533627630000183)).

Most of the inode allocation was used by Docker. Pruning unused Docker volumes, containers and images removed enough files to continue executing builds.

It might be a good idea to se

[2018-08-07 07:54] robertknight commented on #745
Found a related issue, which we probably ought to tackle first: https://github.com/hypothesis/product-backlog/issues/254

[2018-08-07 14:20] klemay commented on #30
https://twitter.com/lakens/status/1026811830822465541
"Is it possible in the search or in the rss feed to use a wildcard? I would like to search url:https://psyarxiv.com/ * and get ANY comment made on ANY PsyArxiv preprint. Would be SUPER useful - can it be done?"

[2018-08-08 17:20] klemay commented on #201
As a solution: https://github.com/hypothesis/product-backlog/issues/30

[2018-08-08 17:28] ajpeddakotla commented on #670
Closing as it redundant with this issue: https://github.com/hypothesis/product-backlog/issues/625

[2018-08-08 17:28] #670 closed, assigned to nobody

[2018-08-08 17:34] ajpeddakotla commented on #234
See also: https://github.com/hypothesis/product-backlog/issues/723

[2018-08-08 17:34] ajpeddakotla commented on #723
Closing this as it's a dupe with #234

[2018-08-08 17:34] #723 closed, assigned to nobody

[2018-08-08 18:12] klemay commented on #742
Strangely enough, this appears to be isolated _to this one Wikipedia page._

For example, the following pages work fine:
- https://via.hypothes.is/https://en.wikipedia.org/wiki/Golden_Retriever
- https://via.hypothes.is/https://en.wikipedia.org/wiki/Alaska_Airlines
- https://via.hypothes.is/https://en.wikipedia.org/wiki/Electrostatic_spray_ionization

[2018-08-09 04:38] hmstepanek opened #746 "Replace Builder class w/ elasticsearch-dsl"
Refactor the search code to remove the Builder class. The Builder class is legacy code that was made because there used to not be such a thing as elasticsearch-dsl. It generates a giant dictionary for an elasticsearch query that is customized to h's needs. It is complicated and can be replaced by elasticsearch-dsl. elasticsearch-dsl is designed in a higher-level way such that it is easy to transit

[2018-08-09 06:49] robertknight commented on #746
I'm happy for you to explore using elasticsearch-dsl for the builder code but I have concerns about whether it is really going to be worthwhile or not. There are two things which I think would convince me:

- If it does actually make the code significantly shorter & easier to follow.
- If it is still easy to relate the logic in our code to the corresponding Elasticsearch REST API documentation. Th

[2018-08-09 08:53] #588 closed, assigned to hmstepanek

[2018-08-09 14:53] #725 closed, assigned to nobody

[2018-08-09 17:17] dwhly commented on #713
https://github.com/hypothesis/client/issues/488

[2018-08-09 20:49] #707 closed, assigned to sheetaluk

[2018-08-09 20:49] #729 closed, assigned to nobody

[2018-08-10 18:47] robertknight commented on #702
Implemented. See [Slack note](https://hypothes-is.slack.com/archives/C0C6BDS1H/p1533926490000200).

[2018-08-10 18:47] #702 closed, assigned to robertknight

[2018-08-13 14:34] ajpeddakotla opened #747 "LOE needed - Scaling card"
It would be helpful to have a rough, high-level predicted level of effort for future work so that we (Dan, Arti, Andrew) can prioritize the upcoming work based on both business priority as well as predicted LOE.

Scaling needs: https://trello.com/c/GtY44l2r/6-scaling-for-cnn

[2018-08-13 20:24] klemay commented on #49
Another example: article titles from PsycNET are not displaying properly. For the full text HTML, the title is showing as “PsycNET” and for the PDF, the title is showing as “untitled document”

(Additional context: we've been talking with APA about metadata practices and hope they'll be able to improve metadata for their HTML pages and PDFs.)

[2018-08-13 21:06] klemay commented on #196
Another user request: https://hypothesis.zendesk.com/agent/tickets/2858

[2018-08-13 22:53] ajpeddakotla opened #748 "Be able to scope the client to a group when using a share link"
### Problem:
Currently, H does not allow groups to be shared via a direct link, and so anyone using a group (private, open or restricted) has no way of sharing a link to a document that places the client scope into that group.  This means effectively that people need to say "click on this link and then switch into that group," instead of simply "click on this link."

### User Story:
As a member of

[2018-08-14 14:24] lyzadanger opened #749 "LMS: change to using the new unittest.mock lib instead of the old mock"

[2018-08-14 14:24] lyzadanger opened #750 "LMS: Make the raven captureException mock use autospeccing."

[2018-08-14 14:25] lyzadanger opened #751 "LMS: Revisit decision to *not* report `httpexceptions.HTTPError` and `httpexceptions.HTTPServerError` to sentry."

[2018-08-14 14:37] lyzadanger opened #752 "Make `group`-`organization` relationship NULLable"
Summary: We need to alter the current data model involving groups-organizations to support needed functionality for third-party private groups for LMS, but potentially other partner uses as well.

----

Our current modeling of `organization` and its relationship to `group`s is brittle and it has become an actual problem (versus a complexity) when it comes to supporting third-party private groups (

[2018-08-14 14:51] klemay opened #753 "EPIC: Accessibility improvements"
An increasing number of schools and institutions are requiring that any tool they adopt must meet basic standards of accessibility for users with disabilities. In order for these institutions to adopt Hypothesis is any capacity, we need to (at least) implement the changes recommended by [the Inclusive Design Research Centre's report](https://d242fdlp0qlcia.cloudfront.net/uploads/2018/05/25160432/H

[2018-08-14 15:29] ajpeddakotla commented on #747
Need to split out activity pages from 3rd party private groups.... (note for self)

[2018-08-14 15:33] klemay commented on #710
Hi @chepec would you be able to provide a URL for the feed you're trying to add for your reader? We have some room for this in our current sprint and will need that URL for testing!

[2018-08-14 16:30] solarchemist commented on #710
Hi @klemay! Here's a few with enough content to get you going:
https://hypothes.is/stream.atom?user=paulallison
https://hypothes.is/stream.rss?user=paulallison
https://hypothes.is/stream.atom?tags=edu305

PS. I was originally trying to add the feed for my own H.is account, but it has no public content yet so would be a poor example for testing.

[2018-08-14 16:38] klemay commented on #710
Hi @chepec thanks for responding, and for your patience while we work through this! I actually need one more piece of information: we need the URL and IP address for your TinyTinyRSS feed. We're not able to whitelist Linode as a whole, but we can whitelist your specific instance of TinyTinyRSS.

You can send this info to support@hypothes.is rather than posting it publicly here :)

[2018-08-14 17:04] solarchemist commented on #710
I've just sent the requested information via email to support@hypothes.is.

In closing, I hope you plan to add a snippet on your [Feeds for Annotations help page](https://web.hypothes.is/help/atom-rss-feeds-for-annotations/) saying something alone the lines of: "if you self-host your feed reader and host your RSS server on Linode, you need to request your IP to be whitelisted by sending us an emai

[2018-08-14 17:18] klemay commented on #710
You've been whitelisted - please let us know if that worked!

And I'm adding a note now. Thanks for the suggestion and for your patience
:)

On Tue, Aug 14, 2018 at 1:04 PM, Taha Ahmed <notifications@github.com>
wrote:

[2018-08-14 22:01] ajpeddakotla commented on #562
Closing this card as this task has been completed.

[2018-08-14 22:01] #562 closed, assigned to nobody

[2018-08-14 22:23] ajpeddakotla opened #754 "LOE needed - Export of Annotations"
It would be helpful to have a rough, high-level predicted level of effort for future work so that we (Dan, Arti, Andrew) can prioritize the upcoming work based on both business priority as well as predicted LOE.

Export of Annotations: https://trello.com/c/7L6yayoT/11-export-of-annotations

[2018-08-14 22:24] ajpeddakotla opened #755 "LOE needed - private groups for 3rd party users"
It would be helpful to have a rough, high-level predicted level of effort for future work so that we (Dan, Arti, Andrew) can prioritize the upcoming work based on both business priority as well as predicted LOE.

Private groups for 3rd party users: https://trello.com/c/JzVeDX6G/32-ability-to-create-private-groups-for-3rd-party-account-users-incl-activity-pages

[2018-08-14 22:26] ajpeddakotla opened #756 "LOE needed - Activity pages for 3rd party users"
It would be helpful to have a rough, high-level predicted level of effort for future work so that we (Dan, Arti, Andrew) can prioritize the upcoming work based on both business priority as well as predicted LOE.

Activity pages for 3rd party users: https://trello.com/c/1c0TywZE/47-give-3rd-party-users-access-to-activity-pages

[2018-08-14 22:26] ajpeddakotla opened #757 "LOE needed - Require authentication against ORCID to annotate in a group"
It would be helpful to have a rough, high-level predicted level of effort for future work so that we (Dan, Arti, Andrew) can prioritize the upcoming work based on both business priority as well as predicted LOE.

Require authentication against ORCID to annotate in a group: https://trello.com/c/M8XItjza/25-require-authentication-against-orcid-for-a-group

[2018-08-15 14:47] jeremydean commented on #692
Basically (to summarize above), the Google Picker is only working for previously created assignments at this point. All other attempts result in a black screen after authorizing an account:

![image](https://user-images.githubusercontent.com/3261902/44154348-26169d9e-a070-11e8-95b6-807fbad0b312.png)

[2018-08-15 15:14] klemay commented on #111
Another user request from Zendesk today: https://hypothesis.zendesk.com/agent/tickets/2869

[2018-08-15 15:27] klemay commented on #695
Here is another case where it is difficult to annotate a site unless an ad blocker is enabled:

https://www.newyorker.com/magazine/2011/11/14/progression

If you visit with no ad blocker, it is very slow to load whether you use the Chrome extension or via. But if I turn on my ad blocker, the extension and via will load much quicker.

[2018-08-15 16:51] ajpeddakotla commented on #575
Tagging this issue as they are related: https://github.com/hypothesis/product-backlog/issues/552

[2018-08-15 21:34] dwhly commented on #752
Lyza!  Huge gratitude.

I'll note that we had flagged up this earlier in other discussions.  Namely that there are some groups that will "belong" to H, but many more that won't.  We noted the distinction of being part of our organization vs running on our service.  Taking steps to remove this as the default paradigm in a sensible way is a big step forward.

Thank you!

[2018-08-15 21:37] lyzadanger commented on #752
@dwhly

Yep! I have long thought something was going to need to shift a bit. Yay!

[2018-08-16 00:07] solarchemist commented on #710
No joy so far, I'm afraid. I've tried adding a H.is feed a few times every 12 hours or so. Same error message as before.

[2018-08-16 10:46] seanh commented on #502
@ajpeddakotla This is shipped right?

[2018-08-16 10:47] seanh commented on #496
@ajpeddakotla I think this was shipped

[2018-08-16 14:24] seanh opened #758 "Automate client deployment on Jenkins"
**Bring client deployments in line with the rest of our apps** (h, lms, bouncer, and via).

This is a big job (basically involves writing a new client deployment process from scratch) but it is badly needed, and has been needed for a long time. If you need convincing, witness [the team trying to do a client release](https://hypothes-is.slack.com/archives/C4K6M7P5E/p1534425652000100).

Deploying h

[2018-08-16 14:45] klemay commented on #710
I'm sorry that didn't work out!

I think the course of action from here is to choose a network other than Linode for hosting your RSS server. We do have Linode intentionally blocked and our Cloudflare admin doesn't feel comfortable removing that block.

[2018-08-16 14:45] #710 closed, assigned to segdeha

[2018-08-16 15:12] solarchemist commented on #710
Ok, so that went from "your IP is whitelisted" to "all of Linode is blacklisted". Well, I assume your admin has a good reason for blocking Linode's ASN, but I must say that seems rather arbitrary and over-reaching to me.

And how does blocking an entire ASN rhyme with Hypothes.is mission statement "to bring an open conversation over the whole web"? Automated feeds (such as RSS, Atom) are an import

[2018-08-16 15:20] lyzadanger commented on #758
+1

[2018-08-16 15:21] lyzadanger commented on #758
Certainly, but a situation I'd like to avoid is developers feeling quite comfy with deploying the embedded client but nervy about extension releases, causing the extension to lag too far behind...

[2018-08-16 15:37] segdeha commented on #710
Hey @chepec. I'm the Director of Engineering here at Hypothesis. Saw that there might be some misunderstanding here, so I wanted to add my perspective.

It would have been before my time, but we must have had trouble with spammy requests coming from Linode in the past (Linode is used for a lot more than just serving RSS readers). I agree that it's a boil-the-ocean solution, so we will have a discu

[2018-08-16 15:38] ajpeddakotla commented on #496
Yup yup.... closing

[2018-08-16 15:38] #496 closed, assigned to nobody

[2018-08-16 15:38] ajpeddakotla commented on #502
yup again... closing

[2018-08-16 15:38] #502 closed, assigned to dawachan

[2018-08-16 16:41] hmstepanek commented on #744
Sentry error:https://sentry.io/hypothesis/h/issues/98916594/

[2018-08-16 21:23] klemay commented on #689
Another user request [from Zendesk](https://hypothesis.zendesk.com/agent/tickets/2874):

[2018-08-17 13:50] jeremydean commented on #692
Just wanted to mention/not sure it's helpful:

Even if you go to "Advanced" when presented with the "This app isn't verified" message and bless the app manually, you still end up with the blank white screen where there should be a file folder.

I believe this is because we've reached capacity on the number of users using the app before it HAS to be officially verified as opposed to individually sa

[2018-08-17 20:32] lyzadanger opened #759 "Remove notion of "Default organization" from `h` codebase"
Depends on https://github.com/hypothesis/h/pull/5223 and https://github.com/hypothesis/h/pull/5228

After we make `organization` an _optional_ relationship on a group and migrate all private groups to not have an organization, we should come back and clean up the codebase's notion of a "default" organization.

To wit:

* [ ] `Organization.default` is probably not a necessary method (`h.models.orga

[2018-08-18 13:17] heatherstaines opened #760 "Cannot type in Annotation card or select a group"
## Bug report form
### Steps to reproduce
1. I'm annotating in Chrome (Version 68.0.3440.106) on https://www.smithsonianmag.com/smart-news/fishy-origins-of-human-hair-180969688/#tEiIi7bqL4bsV5C3.99 Trying to make a mock up for eLife on how they can use annotation in Marketing
2. If I launch the client, I cannot switch from the public layer to my private group. When I try to activate the group scop

[2018-08-20 16:11] klemay commented on #692
Andrew has completed the verification process:

<img width="621" alt="screen shot 2018-08-20 at 12 08 03 pm" src="https://user-images.githubusercontent.com/12087705/44352223-bd5c4280-a471-11e8-843f-80828060116a.png">

...but the Google Picker is still not working. We no longer see an "unverified app" screen, but here is what happens:

1. Create a new Module item using Hypothesis
2. Click the "Use

[2018-08-20 22:26] hmstepanek commented on #744
According to the docs the official way to do this is through the scroll api:https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-scroll.html This would mean passing a token between the client and the server and potentially having to deal with expired tokens on the server. You can of course do this in more unofficial ways for example by specifying a range of dates; https:/

[2018-08-22 08:16] robertknight opened #761 "Jenkins 2018-08-21 outage follow-up"
On Tuesday 2018-08-21 we were unable to deploy anything for several hours due to a Jenkins outage. The outage was caused by a [kernel bug](https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1787127) which caused Jenkins to go haywire.  See [Slack discussion](https://hypothes-is.slack.com/archives/C074BUPEG/p1534878540000100).

The issue has now been resolved by installing an updated kernel on th

[2018-08-22 08:24] seanh commented on #761
## Third-party package sources used on `support`

Packages on `support` that're installed from outside of the standard Ubuntu repos (see `ls /etc/apt/sources.list.d/` on `support`):

• Jenkins from http://pkg.jenkins-ci.org/ :heavy_check_mark: looks official (but should be the LTS not the weekly version)
• Docker from https://apt.dockerproject.org/ :heavy_check_mark: looks official
• nginx from ht

[2018-08-22 08:29] seanh commented on #761
## Jenkins weekly vs LTS

### Jenkins download docs

Here are [docs about Jenkins's LTS releases](https://jenkins.io/download/lts/#switching-from-weekly-to-lts). It looks like if we were on the LTS release line we should only need to install a "minor release" of Jenkins every four weeks, and a bigger release every twelve weeks.

### jenkins-ci.org vs jenkins.io

We're currently using <http://pkg.j

[2018-08-22 11:13] seanh commented on #761
## Size (instance type) of `support` machine

### Decision

Based on the notes below I'd recommend we **go back to our old `t2.large` and monitor its performance** (update: done), if it seems resource constrained we can consider upgrading to `t2.xlarge` or `t2.2xlarge`. But see note below about moving to the new T3 instance types.

### Notes

Before this incident began `support` was a `t2.large` i

[2018-08-22 11:42] seanh commented on #294
We probably want to go straight to 18.04 now?

[2018-08-22 13:35] robertknight commented on #294
18.04 is an LTS release so yes, I think we should.

[2018-08-22 14:27] seanh opened #762 "Upgrade `support` to Ubuntu 18.04"
All our static servers run Ubuntu 14.04, which is [supported until April 2019](https://www.ubuntu.com/about/release-cycle). At some point between now and April 2019 we need to upgrade all our servers (`bastion-1`, `bastion-2`, `management`, `support` and `mon`) to 18.04. This card is to upgrade `support` (which runs <https://jenkins.hypothes.is/>) to 14.04 and use it as a test-run for the process

[2018-08-22 14:27] seanh commented on #294
Closing in favour of https://github.com/hypothesis/product-backlog/issues/762

[2018-08-22 14:27] #294 closed, assigned to nobody

[2018-08-22 14:29] seanh commented on #761
I've created a [card for upgrading `support` to 18.04](https://github.com/hypothesis/product-backlog/issues/762). As you can see I think we can get a few birds with one stone by doing that, and it will take care of the remaining open issues on this card. Closing this card now.

[2018-08-22 14:29] #761 closed, assigned to nobody

[2018-08-22 16:13] klemay commented on #235
[From Zendesk](https://hypothesis.zendesk.com/agent/tickets/2897):

[2018-08-22 16:20] hmstepanek commented on #744
https://www.elastic.co/guide/en/elasticsearch/reference/master/search-request-search-after.html <- this one sounds like what we want. Spoke with Rob this AM and this what I will be implementing.

[2018-08-22 16:35] klemay commented on #753
Tagging: https://github.com/hypothesis/h/issues/5225

[2018-08-22 16:42] klemay commented on #695
Another example: https://github.com/hypothesis/product-backlog/issues/760

[2018-08-22 17:46] klemay commented on #760
@heatherstaines I took a look and this appears to be related to ad technology on the Smithsonian website. When I access the site with an ad blocker enabled, it works just fine. If I don't use an ad blocker, I run into the same problem you do, and the browser console shows a bunch of errors related to ads on the page.

We have an existing issue [here](https://github.com/hypothesis/product-backlog/i

[2018-08-22 17:46] #760 closed, assigned to nobody

[2018-08-22 20:32] ajpeddakotla opened #763 "Controlled Vocabulary tagging"
User Feedback:
User Feedback: I had an idea related to your Trello card: Controlled Vocabulary tagging. Named entity recognition and semantic annotations on the web are a really cool and powerful thing for users. My institute already does this for biomedical documents indexed by MEDLINE with a service called SCAIView (http://academia.scaiview.com/academia/). One of our colleagues already went as f

[2018-08-23 03:22] judell opened #764 "extension fails at altantic.com: unexpected anonymous AMD define"
Reported on Twitter: https://twitter.com/prof_gabriele/status/1032430653860708352

Example: https://www.theatlantic.com/politics/archive/2018/08/what-trumps-supporters-think-of-corruption/568147/

Error:

[code]

[2018-08-23 13:39] klemay commented on #764
There's an existing issue for this - https://github.com/hypothesis/product-backlog/issues/695

Thank you for the additional info!

For some reason, using Via and/or an ad blocker will allow users to annotate.

[2018-08-23 13:39] #764 closed, assigned to nobody

[2018-08-23 17:34] klemay commented on #692
The google picker is working! Yay!

... but we still see "App not verified" screen in some cases.

We got verified for `drive.readonly` but [as discussed in Slack](https://hypothes-is.slack.com/archives/CBN3DGW02/p1535035569000100) we are wondering if we need to get additional verification.

After doing some research I dug up [a list of possible scopes for Drive apps](https://developers.google.com

[2018-08-24 13:47] sheetaluk commented on #583
Additional notes:
This issue seems to happen when all children of an annotation AND the annotation itself, have the `nipsa` field set to `true`.
According to the `NipsaFilter` in `h/search`, it looks like the initial implementation was to account for showing a nipsad/hidden/moderated annotation in its redacted state if it had replies.
What we now need to do is check if the annotation has replies a

[2018-08-27 14:10] klemay opened #765 "Integrate with IFTTT so users can create applets"
From [Zendesk](https://hypothesis.zendesk.com/agent/tickets/2912):

thanks

[2018-08-27 14:50] klemay opened #766 "Activity pages not rendering url with () correctly"
Reported via our [open Google group](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/hypothesis-forum/aWtFhhzJ0TI/MqrscIZdEAAJ) and [logged in Zendesk](https://hypothesis.zendesk.com/agent/tickets/2913).

### Steps to reproduce
1. Annotate a publicly-available document or web page [like this one](https://www.ncbi.nlm.nih.gov/pubmed/12559372#annotations:B8C-OKoHEeitib8hAMtS

[2018-08-27 17:32] lyzadanger commented on #752
Fixed by https://github.com/hypothesis/h/pull/5223

[2018-08-27 17:32] #752 closed, assigned to lyzadanger

[2018-08-27 17:41] klemay commented on #692
Resolved as of 8/24— we requested `https://www.googleapis.com/auth/drive` and it's working now!

[2018-08-27 17:41] #692 closed, assigned to lyzadanger

[2018-08-27 22:14] ajpeddakotla opened #767 "Scope/Technical Review of annotations/grading LMS work"
### Problem:

We've discussed adding the ability to view a student's annotations, and the ability to grade those annotations to the current scope of work for the LMS app. The business rationale for this is to create a full end-to-end app that would give teachers and students a complete user experience now, instead of waiting for LMS development to pick up again in the future.

User stories for thi

[2018-08-28 18:56] lyzadanger opened #768 "Document X-Forwarded-User in API documentation"
We've recently extended our Auth Client infrastructure to allow auth clients to authenticate "on behalf of" users within their authority in some cases. Documentation about this needs to be added to the auth section of our API docs.

[2018-08-28 19:02] lyzadanger opened #769 "Update API's forbidden view config to not always return 404s"
At present, `h.views.api.exceptions` defines a `@forbidden_view_config` (i.e. handler for 403 responses) for use by API endpoints. However, this view always changes `request.response.status_code` to `404`—de facto changing the response to an `HTTPNotFound`.

In some cases, this is what we _should_ do, so as not to leak information about whether a protected resource—which can be identified by part

[2018-08-28 19:06] lyzadanger opened #770 "Fix ACL and Authz for Group Roots/Contexts"
`h.models.groups` has an `__acl__` method in it, which breaks the pattern for using Pyramid traversal for ACL/authz pertaining to resources. This is confusing and hard to maintain. ACLs should be within `h.traversal` where possible.

We already know (it's been commented for a while) that `h.traversal.Roots.GroupRoot` should return a `GroupContext`, _not_ a group model. Fixing that and applying the

[2018-08-29 17:26] klemay commented on #679
This was started on a hack day and never got finished - going to close this and use some of the research here as part of current accessibility initiative, as we will likely break down/prioritize these tasks as individual issues. New epic lives here: https://github.com/hypothesis/product-backlog/issues/753

[2018-08-29 17:26] #679 closed, assigned to nobody

[2018-08-29 17:45] klemay opened #771 "Indicate to screenreader users whether the sidebar is open or closed"
Part of https://github.com/hypothesis/product-backlog/issues/753.

The button that shows or hides the Hypothesis sidebar should make it clear to those using screenreaders whether the sidebar is currently open or closed.

~See the W3C's page: [Using aria-expanded to indicate the state of a collapsible element](https://www.w3.org/WAI/GL/wiki/Using_aria-expanded_to_indicate_the_state_of_a_collapsible

[2018-08-29 17:51] klemay opened #772 "Establish relationship between toggle and sidebar"
Part of https://github.com/hypothesis/product-backlog/issues/753; related to https://github.com/hypothesis/product-backlog/issues/771.

In addition to telling screenreaders whether the sidebar is currently open or closed, the toggle button should

Requirements:

- [ ] Add an accessibility feature to make it readable to screen readers to the toggle `button`, such that `ID` is the ID of the annotati

[2018-08-29 20:04] klemay opened #773 "Add ARIA labels to radio buttons"
Part of https://github.com/hypothesis/product-backlog/issues/753.

This is in reference to the radio buttons for the "sort" options in the client:

![radio-buttons](https://user-images.githubusercontent.com/12087705/44812280-d2894d80-aba4-11e8-80f2-cf3bfb000c82.png)

## Requirements

- [ ] Add `role=”radio”` to each option
- [ ] When an option is selected, it should have an `aria-checked="true"` a

[2018-08-30 15:38] klemay opened #774 "Tag editing"
Feature request [via Zendesk](https://hypothesis.zendesk.com/agent/tickets/2942)

So, for example, if I've tagged a bunch of annotations with `foo` and realize I'd actually like those annotations to be tagged with `foobar`, I'd like to change the tag itself rather than manually updating each annotation.

And if I've been using the tag `fizz` and it's not useful to me, I'd like to remove it from al

[2018-08-30 15:50] lyzadanger opened #775 "We need to fix `request.authority` in `h`"
Pop quiz: What is the meaning of `request.authority` within the `h` app?

If you are like me, you'd intuit that it means "the authority for the current request" because it's attached to `request` in such a fashion.

Nope! Not at all! All it is is a static setting (or it falls back to the current domain if a setting isn't present for `authority`). So in `h`'s production case, it is _always_ `hypoth

[2018-08-30 16:06] robertknight commented on #775
If I understand the proposal correctly, I'm in favor of making `request.authority` reflect the logged-in user or client ID associated with the request.

One caveat to be aware of when fixing up any existing code is to remember that in the context of a Celery worker task, there is never a "logged in user" or client ID so if any of that code cares about the authority, it would have to determine it v

[2018-08-30 16:08] lyzadanger commented on #775
I'm not getting any (grep) hits for `authority` in the `h.tasks` directory—is there anywhere else I should be looking for this?

[2018-08-30 16:14] robertknight commented on #775
It could be an issue for any code called by `h.tasks` code. Mind you, this issue would affect eLife and anyone else already using third party accounts so I hope that should have flushed out any existing possible problems.

[2018-08-30 16:15] lyzadanger commented on #775
Ah, yes, I see how this could be so. I'll keep an eye out, but yeah, anything that is celery-ized should not be dependent on any part of the request, correct?

[2018-08-30 16:17] robertknight commented on #775
Indeed - well except for things like the DB or Elasticsearch connection which don't vary depending on the user.

[2018-08-30 19:20] klemay opened #776 "Add ARIA markup to tab panels"
Part of https://github.com/hypothesis/product-backlog/issues/753.

This refers to the "Annotations," "Page Notes," and "Orphans" tabs in the client sidebar.

For an example, see: http://accessibility.athena-ict.com/aria/examples/tabpanel2.shtml

## Requirements:
- [ ] Add `role=”tablist”` to the tab `<ul>` and `role=”tab”` to individual `<li>`s.
- [ ] On the tab content divs, add `role=”tabpanel”`

[2018-08-30 19:27] klemay opened #777 "Add aria-haspopup attribute to items with pop-up menus"
Part of https://github.com/hypothesis/product-backlog/issues/753.

Indicate that an element has an interactive pop up element using the `aria-haspopup`.

The value of `aria-haspop` should match the role (menu, listbox, tree, grid or dialog). Add `ariaexpanded` attribute to indicate the state of the content.

More info here: https://labs.levelaccess.com/index.php/ARIA_Haspopup_property

Items in th

[2018-08-30 20:23] klemay opened #778 "Use ARIA labels for client search"
Part of https://github.com/hypothesis/product-backlog/issues/753

## Requirements
- [ ] The form element needs `role="search"`
- [ ] The text input should have `type="search"` instead of `type="text"`
- [ ] The search button should have an `aria-label="search"`

[2018-08-30 20:48] klemay opened #779 "Use aria labels for sort options in client"
Part of https://github.com/hypothesis/product-backlog/issues/753.

## Requirements

- [ ] Add `aria-label="Sort annotations"` to `button` element
- [x] Add `aria-haspopup="true"` to `button` element
- [ ] Add `role="radiogroup"` to `ul`
- [ ] Add `role="radio"` to each `span` within the `li`
- [x] Add `aria-checked` state to each ~~radio element~~ menu item (Location is the default option, so that

[2018-08-30 20:50] klemay opened #780 "Add aria lables to share button in client menu"
The `a` element needs `aria-label="Share this page"`

(NB: ideally this would be a button rather than a `<link>` because displaying the Bouncer link is not a linking action, but adding this `aria-label` will at least allow the screenreader to announce what the share icon does.

[2018-08-30 20:55] klemay opened #781 "Add aria-labels to annotation tags"
When a user is reading an annotation using a screenreader, the tags are presented as "links" and it's not obvious that they are meant to be tags associated with the annotation. This could be confusing to non-visual users.

One option would be to add the word "Tags" before the `<ul>` containing the tags.

This issue would require us to have a semantic relationship between tags and the annotation ca

[2018-08-30 21:13] klemay opened #782 "Use aria-describedby to associate errors with the inputs they describe"
Part of: https://github.com/hypothesis/product-backlog/issues/753

Currently,  error messages for login inputs are not read out to assistive tech users because they are not associated with their inputs (screen reader output shown below).

<img width="288" alt="screen shot 2018-08-30 at 5 11 25 pm" src="https://user-images.githubusercontent.com/12087705/44879461-bf937d80-ac77-11e8-9e35-d9ec53642602

[2018-08-30 21:25] klemay opened #783 "Spike: Make sure logout does not pose accessibility issues"
Part of https://github.com/hypothesis/product-backlog/issues/753.

The accessibility report says we fail this WCAG guideline:

or extend the time limit before it is encountered. Before expiry, warn the user and give at least
20 seconds to extend the time limit with a simple action (for example, "press the space bar"),
with the user being allowed to extend the time limit at least ten times.

I have

[2018-08-30 23:06] ajpeddakotla opened #784 "Add a title attribute to describe the Hypothesis iframe"
This issue is part of the larger accessibility epic written up here https://github.com/hypothesis/product-backlog/issues/753

Problem:
We failed in this accessibility check under the `Info and Relationships` section because we don't currently have a title attribute that describes the Hypothesis iframe. Adding this would provide a label for the frame so users can determine which frame to enter and

[2018-08-30 23:12] ajpeddakotla opened #785 "Use something other than color to indicate that a page has been annotated"
This issue is part of the larger accessibility epic written up here #753

Problem:
We failed in this accessibility check under the Use of Color section because we don't currently have a a way other than the highlights on a page to indicate that something has been annotated. Yes, we have a badge, but that only appears for users that have the extension. This feature would address notifying users tha

[2018-08-31 03:20] ajpeddakotla opened #786 "Text vs background should have contrast ratio of at least 4.5:1"
This issue is part of the larger accessibility epic written up here #753

Problem:
We failed in this accessibility check under the Contrast section because of the contrast difference between text and our background. We need to fix this so that we can ensure that users can read text that is presented over a background. For more information on this, read the W3C note on this here: https://www.w3.org

[2018-08-31 08:59] seanh commented on #775
Totally agree that `request.authority` sounds like the authority of the current request and is a super misleading name.

I was going to suggest getting rid of `request.authority` altogether and always accessing it as a deployment setting (`request.registry.settings["h.authority"]`) as that makes it clear that it's a deployment setting rather than "the authority of the current request" and there wo

[2018-08-31 12:56] dwhly commented on #785
What about the bucket bar?

[2018-08-31 13:29] lyzadanger commented on #724
This work was completed by https://github.com/hypothesis/h/pull/5218

[2018-08-31 13:29] #724 closed, assigned to lyzadanger

[2018-08-31 13:45] ajpeddakotla commented on #785
Re: Bucket Bar @dwhly
Currently if you're using a screenreader, it goes through all of the text on the body of the page and then it goes to sidebar. By the time you get to sidebar, you have no idea what the bucket bar #s are referring to, because it will say the # of annotations without giving the precise location of those annotations.

[2018-08-31 13:46] ajpeddakotla commented on #784
| User Engagement | Building Community | Level of Effort |
|---|---|---|
| 3 | 1 | 3 |

[2018-08-31 13:49] ajpeddakotla commented on #786
Scored as 5 based on LOE, Community, User engagement.

[2018-08-31 13:51] ajpeddakotla commented on #782
| User Engagement | Building Community | Level of Effort |
|---|---|---|
| 2 | 1 | 3 |

[2018-08-31 14:00] ajpeddakotla commented on #628
closing this in favor of #753

[2018-08-31 14:00] #628 closed, assigned to dawachan, klemay

[2018-08-31 17:01] klemay commented on #1145
User request: https://hypothesis.zendesk.com/agent/tickets/2926

[2018-08-31 17:52] ajpeddakotla opened #787 "Fix parsing errors detected in the app to meet a11y standards"
This issue is part of the larger accessibility epic written up here #753

Problem:
In content implemented using markup languages, elements must have complete start and end
tags, be nested according to their specifications, not contain duplicate attributes, and have
unique IDs, except where the specifications allow these features. These types of errors can
interfere with the operation of assistive

[2018-08-31 17:57] ajpeddakotla commented on #787
| User Engagement | Building Community | Level of Effort |
|---|---|---|
| 2 | 1 | 3 |

[2018-08-31 17:58] ajpeddakotla commented on #785
| User Engagement | Building Community | Level of Effort |
|---|---|---|
| 3 | 3 | 1 |

[2018-08-31 18:00] ajpeddakotla commented on #198
| User Engagement | Building Community | Level of Effort |
|---|---|---|
| 3 | 2 | 2 |

[2018-08-31 18:15] ajpeddakotla commented on #781
| User Engagement | Building Community | Level of Effort |
|---|---|---|
| 3 | 1 | 3 |

[2018-08-31 18:21] ajpeddakotla commented on #504
| User Engagement | Building Community | Level of Effort |
|---|---|---|
| 3 | 1 | 2 |

[2018-08-31 18:21] ajpeddakotla commented on #772
| User Engagement | Building Community | Level of Effort |
|---|---|---|
| 3 | 1 | 2 |

[2018-08-31 18:52] ajpeddakotla commented on #780
| User Engagement | Building Community | Level of Effort |
|---|---|---|
| 2 | 1 | 3 |

[2018-08-31 18:52] ajpeddakotla commented on #771
| User Engagement | Building Community | Level of Effort |
|---|---|---|
| 2 | 1 | 3 |

[2018-08-31 18:53] ajpeddakotla commented on #773
| User Engagement | Building Community | Level of Effort |
|---|---|---|
| 2 | 1 | 3 |

[2018-08-31 18:53] ajpeddakotla commented on #776
| User Engagement | Building Community | Level of Effort |
|---|---|---|
| 2 | 1 | 3 |

[2018-08-31 18:54] ajpeddakotla commented on #777
| User Engagement | Building Community | Level of Effort |
|---|---|---|
| 2 | 1 | 3 |

[2018-08-31 18:54] ajpeddakotla commented on #778
| User Engagement | Building Community | Level of Effort |
|---|---|---|
| 2 | 1 | 3 |

[2018-08-31 18:54] ajpeddakotla commented on #779
| User Engagement | Building Community | Level of Effort |
|---|---|---|
| 2 | 1 | 3 |

[2018-08-31 19:26] ajpeddakotla opened #788 "Allow users to magnify beyond 200% and maintain function of the app"
This issue is part of the larger accessibility epic written up here #753

1.4.4: Resize text
- [ ] Allow users to magnify beyond 200% and maintain function of the app (A)

Score given: 6

Problem:
Users should be able to increase the size of text to 200% without loss of content or
functionality and without requiring horizontal scrolling. Currently the content resizes well, however when increased t

[2018-08-31 19:26] ajpeddakotla commented on #788
| User Engagement | Building Community | Level of Effort |
|---|---|---|
| 3 | 1 | 1 |

[2018-09-03 10:59] robertknight commented on #775
Looking at how often this property is accessed in app code and tests, I think this would be a bit verbose. I suspect that's why a shortcut was introduced originally.

I get your point. However it doesn't seem to me that there is that much risk of confusing the concepts of _default value_ for the "authority" deployment setting and the _default authority_ for new users and groups created in the syst

[2018-09-03 16:05] klemay commented on #447
Today I learned that Chrome allows for setting custom keyboard shortcuts for extensions, and developers are able to include some defaults:

<img width="702" alt="screen shot 2018-09-03 at 12 03 27 pm" src="https://user-images.githubusercontent.com/12087705/44995545-6f673480-af71-11e8-9878-d8e77698460d.png">

I advised [a user in Zendesk](https://hypothesis.zendesk.com/agent/tickets/2968) on how to

[2018-09-03 16:06] klemay commented on #86
User request: https://hypothesis.zendesk.com/agent/tickets/2967

[2018-09-03 16:07] klemay commented on #1145
User request: https://hypothesis.zendesk.com/agent/tickets/2967

[2018-09-04 15:39] klemay commented on #235
[From Twitter](https://twitter.com/csmoskell/status/1036965316184686592):

[2018-09-05 09:54] ArtFlag opened #862 "[Feature request] Annotation moderation"
First of all, thanks for your hard work, Hypothesis is a really nice tool. I have a feature request for you:

As a group creator, I would like to be able to moderate the annotations:
- delete annotations
- mark annotation as resolved
- edit annotations

I'm using Hypothesis as a feedback tool, and the ability to delete annotations when the feedback has been resolved would be great.

[2018-09-05 13:45] lyzadanger commented on #728
Fixed in https://github.com/hypothesis/lms/pull/191

[2018-09-05 13:45] #728 closed, assigned to nobody

[2018-09-05 14:11] klemay commented on #460
[From Zendesk](https://hypothesis.zendesk.com/agent/tickets/2991):

[2018-09-05 14:28] lyzadanger commented on #730
@seanh has done some preliminary spike work in this PR: https://github.com/hypothesis/lms/pull/194

[2018-09-05 14:33] lyzadanger opened #789 "Make client experience smooth and seamless when in "LMS Mode""
The client in "LMS mode" has a few differences from "normal mode" operation. When using the client in LMS mode, an instructor or student should not encounter elements that don't make sense or don't work.

The following are notes from @seanh :

Client fixups that I know are gonna need to be done when it's in LMS mode...

• Hide leave group buttons on groups menu
• Hide bouncer links wherever they a

[2018-09-05 14:40] lyzadanger opened #790 "Update Via to establish "LMS_MODE" or similar"
Update via environment settings such that an "LMS MODE" or similar may be supported and config may be injected into via documents that indicate that the client should use `postMessage` to obtain a grantToken.

This description needs to be fleshed out, but for now, here is some preliminary prototype work @seanh did: https://github.com/hypothesis/via/pull/135

[2018-09-05 14:40] lyzadanger opened #791 "Update client to allow login from grantToken via postMessage for LMS"
The gist here is that the client should be able to use some config value to alert itself that it should look for a `grantToken` in a parent iFrame, and it should request it via `postMessage`. (This description should be expanded).

@seanh did a spike prototype here: https://github.com/hypothesis/client/pull/764

This work is closely tied with https://github.com/hypothesis/product-backlog/issues/79

[2018-09-05 14:44] lyzadanger opened #792 "Update LMS app to respond to grantToken Requests"
The LMS app should appropriately listen for `postMessage` communication the client and return a generated grantToken as needed for user authentication in the client. (This description should be expanded if possible).

See @seanh 's prototype work on this feature here:

https://github.com/hypothesis/lms/pull/196

[2018-09-05 15:10] robertknight commented on #741
This has been implemented.

[2018-09-05 15:10] #741 closed, assigned to hmstepanek

[2018-09-05 15:11] robertknight commented on #746
https://github.com/hypothesis/h/pull/5219

[2018-09-05 15:11] #746 closed, assigned to hmstepanek

[2018-09-05 15:51] seanh commented on #790
Pasting in a comment from Slack that seems highly relevent here:

[2018-09-05 15:53] seanh commented on #792
I guess this one is pretty intertwingled with the corresponding client issue for the other end of this postMessage request and response: https://github.com/hypothesis/product-backlog/issues/791

[2018-09-05 15:54] seanh commented on #791
Also closely tied with https://github.com/hypothesis/product-backlog/issues/792

[2018-09-05 17:16] ajpeddakotla commented on #748
| Business Viability | User Engagement | Building Community | Level of Effort |
|---|---|---|---|
| 3 | 3 | 3 | 2 |

[2018-09-05 17:18] ajpeddakotla commented on #720
| Business Viability | User Engagement | Building Community | Level of Effort |
|---|---|---|---|
| 2 | 3 | 3 | 2 |

[2018-09-05 17:20] ajpeddakotla commented on #498
| Business Viability | User Engagement | Building Community | Level of Effort |
|---|---|---|---|
| 3 | 3 | 3 | 1 |

[2018-09-05 17:22] ajpeddakotla commented on #431
| Business Viability | User Engagement | Building Community | Level of Effort |
|---|---|---|---|
| 1 | 3 | 3 | 2 |

[2018-09-05 17:24] ajpeddakotla commented on #691
| Business Viability | User Engagement | Building Community | Level of Effort |
|---|---|---|---|
| 2 | 2 | 2 | 3 |

[2018-09-05 17:25] ajpeddakotla commented on #625
| Business Viability | User Engagement | Building Community | Level of Effort |
|---|---|---|---|
| 3 | 3 | 3 | 3 |

[2018-09-05 17:26] ajpeddakotla commented on #532
| Business Viability | User Engagement | Building Community | Level of Effort |
|---|---|---|---|
| 1 | 3 | 1 | 1 |

[2018-09-05 17:28] ajpeddakotla commented on #493
| Business Viability | User Engagement | Building Community | Level of Effort |
|---|---|---|---|
| 3 | 3 | 3 | 3 |

[2018-09-05 17:29] ajpeddakotla commented on #566
| Business Viability | User Engagement | Building Community | Level of Effort |
|---|---|---|---|
| 2 | 3 | 1 | 2 |

[2018-09-05 17:30] ajpeddakotla commented on #201
| Business Viability | User Engagement | Building Community | Level of Effort |
|---|---|---|---|
| 3 | 3 | 3 | 3 |

[2018-09-05 17:30] ajpeddakotla commented on #196
| Business Viability | User Engagement | Building Community | Level of Effort |
|---|---|---|---|
| 3 | 3 | 3 | 2 |

[2018-09-05 17:32] ajpeddakotla commented on #236
| Business Viability | User Engagement | Building Community | Level of Effort |
|---|---|---|---|
| 1 | 3 | 3 | 1 |

[2018-09-05 17:33] ajpeddakotla commented on #234
| Business Viability | User Engagement | Building Community | Level of Effort |
|---|---|---|---|
| 3 | 3 | 3 | 1 |

[2018-09-06 16:56] klemay commented on #690
Another user request: https://hypothesis.zendesk.com/agent/tickets/2999

[2018-09-06 17:17] robertknight commented on #60
CORS headers are set on all API requests, including those for writing to the API. One issue that may have caused confusion is that until today, CORS headers were _not_ set if the request _failed_ with a 4xx or 5xx error.

[code]

[2018-09-06 17:17] #60 closed

[2018-09-06 18:29] judell commented on #60
That was indeed the confusion. Thanks for resolving this!

[2018-09-06 18:58] ajpeddakotla commented on #30
@hmstepanek just to make sure, I've added some acceptance criteria, since this card hasn't been updated in a while:

- [ ] Query should support true paths and wildcards (ex: nytimes.com, nytimes.com/politics, nytimes/politics/*)
- [ ] Should be able to query from the API
- [ ] Should be able to query from activity pages using the same `url:` facet we already use

[2018-09-06 19:02] dwhly opened #793 "Only Me shows when it's not really an option"
## Bug report form
### Steps to reproduce
1. Go to http://care.diabetesjournals.org/content/41/Supplement_1/S55#annotations:wmtWGjwnEeiOWY_FhVG-zA
2.  Click "reply" or just select some text to annotate
3. Try to either reply or to annotate as an "Only Me" annotation

### Expected behaviour
You should either be able to make an Only Me annotation, or a reply, or you should never have been offered th

[2018-09-07 01:21] hmstepanek commented on #30
^ @ajpeddakotla @robertknight I'm nervous about that last point. My concern is any url that currently has a * in it would now not behave the same. I doubt we have many of those but there is that possibility and there's no way to distinguish the difference between a part of the url * and a wildcard *. I'm fine with either decision, I just want to raise this as a potential issue before we merge it w

[2018-09-07 01:35] dwhly commented on #30
Since I was the one that proposed this....

Had to go refresh on [RFC3986](http://www.ietf.org/rfc/rfc3986.txt) to see which chars were qualified as reserved. Surprise.  Chances are probably slim that * gets used much, but we should probably implement best practices, eh?

So is the suggested implementation that all URLs are treated as [partial matches](https://www.elastic.co/guide/en/elasticsearch

[2018-09-07 01:39] hmstepanek commented on #30
The way I imagined it was if you wanted to search for url:nytimes.com it would only return urls that exactly match nytimes.com. If you instead search for url:`*nytimes.com*` it would return as you suggested above, all matches.

[2018-09-07 01:53] dwhly commented on #30
I suppose one approach would be to only interpret "*" at the very end of a URL search as a wildcard (as opposed to URLs with "*" embedded).  Yes, we wouldn't be able to handle wildcards in the middle of strings-- but perhaps an acceptable sacrifice?  We'd find everything with "*" actually at the end of the URL.

[2018-09-07 01:54] dwhly commented on #30
I thought:

Meant that you were concerned about interpreting "*" as a wildcard character vs an actually valid URL char.  The way you've just stated it is what I was expecting.

[2018-09-07 02:08] hmstepanek commented on #30
You interpreted that correctly, I just wanted to clarify what I was thinking for user input as well since it seems like we had different thoughts surrounding that. url:nytimes.com would not trigger a wildcard. A wildcard is only triggered if there's a `*` in the value (at least that was what I had in mind). Sounds like we're on the same page there so sorry for any confusion.

The option of only in

[2018-09-07 10:56] robertknight commented on #744
This is now implemented via the [`search_after` parameter](https://h.readthedocs.io/en/latest/api-reference/#operation/search).

[2018-09-07 10:56] #744 closed, assigned to hmstepanek

[2018-09-07 14:00] seanh opened #794 "Add admin page warning about client credentials auth clients"
Add some sort of clear and hard to miss warning to the https://hypothes.is/admin/oauthclients page when someone creates a client_credentials auth client that warns them that this is a very unusual and powerful auth client that can do all sorts of things with all of the users and groups in its authority.

Client credentials auth clients for the default hypothes.is authority are particularly scary.

[2018-09-07 14:46] dwhly commented on #30
Me too.

Interestingly, the "*" as a wildcard would of course match actual *s in the URLs, so it would return those too presumably.

By sacrifice, I assume you mean it would exclude the potential for searching with *'s inside strings?  For instance, one could imagine searching for all annotations on pdfs at arxiv.org by searching for `url:arxiv.org*pdf`  I can see that this would definitely be use

[2018-09-07 14:52] klemay opened #795 "Hypothesis not working on some ecommerce sites built with Magento2"
[Reported by a user via Zendesk](https://hypothesis.zendesk.com/agent/tickets/3010).

The user provided these two examples:
- https://www.bulgari.cn/en-cn/
- https://www.hpshopping.in/

I cannot get Hypothesis to activate over these sites in Chrome, Firefox, or Safari. When I activate the extension or Bookmarklet, nothing happens.

Both sites throw the same console error when I try to launch Hypot

[2018-09-07 15:20] hmstepanek commented on #30
You have to query with the https or http in front but it will be converted to httpx before searching so it would find both https's and http's.

[2018-09-07 16:24] hmstepanek commented on #30
Did a search of urls with `*` turns out there are unexpectedly a lot of them (~2500). I also discussed with @robertknight  and sounds like the best approach would prob be the one I mentioned above (using different filters on activity pages than on the api). Also @robertknight pointed out there is a performance issue with adding `*` to the front of the urls so if it's ok with everyone I'm going to

[2018-09-07 16:45] dwhly commented on #30
Maybe we can add it if it's not there?

Cool.  Perhaps we can modify the activity pages help text to something like the following:

"url: see all annotations for a given url, path or domain. interior and trailing * wildcards permitted.

(Or do we also support `?`)

[2018-09-07 16:52] hmstepanek commented on #30
I think prepending httpx to the beginning opens up a whole can of worms I don't want to get into but  adding a mention about wildcards on activity pages for users is quite do-able. It does also support ?.

[2018-09-07 17:12] dwhly commented on #30
For activity pages does that mean people will need to know to enter "http://nytimes.com" vs "nytimes.com"?

[2018-09-07 17:13] hmstepanek commented on #30
Yes.

[2018-09-07 17:44] dwhly opened #796 "Handle url queries w/o needing httpx"
## Feature Request Form
### Problem you are trying to address with this feature

As currently implemented, users and devs need to know to enter httpx:// in front of url queries to the API or activity pages.  This likely hasn't been a problem (w activity pages) up until now b/c frankly the utility of querying a single URL is fairly low.

With the wildcard capability in flight at https://github.com/

[2018-09-07 18:02] klemay commented on #691
I created a restricted group scoped to https://www.katelynlemay.com and I am the sole member. The group is in the Hypothesis organization. It only shows in my groups control on the scope origin. I moved it to a different organization and saw no change in this behavior. Is this happening just for 3rd party groups, or am I missing something?

[2018-09-11 15:03] #749 closed, assigned to sheetaluk

[2018-09-11 15:52] klemay commented on #493
another example: https://hypothesis.zendesk.com/agent/tickets/3032

[2018-09-11 20:45] klemay opened #797 "Confusing error message when following Bouncer links to content behind a login"
Surfaced by @dwolfe while he was looking at https://hypothes.is/search.

## Steps to reproduce
1. From activity pages or from https://hypothes.is/search, find an annotation made on a page or document which is hidden behind a paywall/login. For example, these annotations made in the Public channel on a PDF which is hosted behind a login (link provided below):
<img width="961" alt="screen shot 2018-

[2018-09-12 14:27] klemay commented on #234
[Another user request](https://hypothesis.zendesk.com/agent/tickets/3041)

[2018-09-13 13:58] klemay commented on #1145
[Another report from Zendesk. ](https://hypothesis.zendesk.com/agent/tickets/3046)

[2018-09-13 15:59] klemay opened #798 "Allow for private group deletion in h admin interface"
Currently, private groups can only be deleted by developers, and it's a complicated process. As described by Robert:

This is a problem because we cannot delete a user's account if they have created a private group where other users have annotated.

While group deletion for users will be handled by https://github.com/hypothesis/product-backlog/issues/532, we need a way to delete private groups in

[2018-09-13 16:26] ajpeddakotla commented on #447
| User Engagement | Building Community | Level of Effort |
|---|---|---|
| 3 | 3 | 1 |

[2018-09-13 16:36] malcook opened #799 "Feature Request: provide "current tagging context""
## Feature Request Form
### Problem you are trying to address with this feature
improved user experience tagging / facilitate re-using tags / reduce repetitive data entry

### Your solution
 - Implement the idea of a **current tagging context** as the set of tags which will be inserted on all new notes upon creation.
 - Allow (re)setting the **current tagging context** in a few different ways:

[2018-09-13 16:53] judell commented on #799
I've implemented a version of this idea in a custom extension. There's a setting for a current tag that's supplied automatically for every annotation until it's changed or removed.

![image](https://user-images.githubusercontent.com/46509/45502743-9d9b0000-b739-11e8-8af0-5e99f8753608.png)

FWIW, I haven't used it much, because I'm not often enacting an annotation workflow that requires a long sequ

[2018-09-13 16:55] dwhly opened #800 "Annotate 1:1 with another user"
## Feature Request Form
### Problem you are trying to address with this feature

Users in many contexts are asking for the ability to annotate only to another single user, as opposed to within a group or the general public.

- Teachers want to respond privately via annotation on a student's work.
- Researchers want to be able to annotate a private note to the author of a paper (same user story as

[2018-09-13 16:57] dwhly commented on #800
Requested: https://hypothesis.zendesk.com/agent/tickets/3052

[2018-09-13 17:26] klemay commented on #800
We have an issue open for this, and it's been prioritized in our backlog: https://github.com/hypothesis/product-backlog/issues/466.

I initially proposed a slightly different solution, but we probably don't need 2 issues. I'll edit my original one and close this in favor of the 1st one, which is already on the roadmap.

[2018-09-13 17:26] #800 closed, assigned to nobody

[2018-09-13 18:08] malcook commented on #799
Nice!

Much appreciate your usability review of the feature.

If Atom & RSS Feeds for Annotations<https://web.hypothes.is/help/atom-rss-feeds-for-annotations/> supported search “by group”, and/or Allow users to subscribe to activity page feeds<https://github.com/hypothesis/product-backlog/issues/178> + Expanded notifications<https://github.com/hypothesis/product-backlog/issues/235#issuecomment-357

[2018-09-13 18:23] jeremydean commented on #800
@klemay i don't think we should lose your suggested solution. I think there are merits and draw backs to both. The answer will come upon further research/investigation.

[2018-09-13 21:49] dwhly commented on #800
@klemay I hadn't realized you already had one open for this.  Apologies, I've read it-- but wonder if your original idea is still present there.  Would like to understand what you had proposed.

[2018-09-13 23:26] judell commented on #799
Glad it's helpful!

Just a convention.

Nope. However the ClinGen folks have talked about pulling our JSON into a database that can be queried with SPARQL.

That sort of happens already in the Hypothesis client, in that if annotations for MSEQDR and Monarch target the same selection, both annotation cards will display in the sidebar when you click the highlight.

But if it were important, then yes

[2018-09-14 16:54] klemay commented on #800
@dwhly @jeremydean point taken!

My original idea was batch creation of sub-groups within groups. So if I crested a group for English 101 with my 20 students, with the click of a button I could create a 1:1 group for each student who has joined English 101. Similar to what Jon suggested via email the other day.

This is a much less elegant solution than simply being able to annotate 1:1 in a group

[2018-09-14 16:55] klemay commented on #466
Before merging Dan’s issue into this one, I had suggested batch creation of sub-groups within groups. So if I crested a group for English 101 with my 20 students, with the click of a button I could create a 1:1 group for each student who has joined English 101. Similar to what Jon suggested via email the other day.

This is a much less elegant solution than simply being able to annotate 1:1 in a g

[2018-09-14 18:43] dwolfe opened #801 "In Deform, buttons do not support custom attributes needed for WCAG compliance"
The Deform library defines its button class in `form.py` (no other element is defined here), and does not allow for the addition of custom attributes, ex. `aria-label`, which is necessary for full WCAG compliance. (Whether or not we need to be fully WCAG compliant is another discussion, just raising the issue of extending the button component here.)

Two possible solutions: 1) for the `aria-label`

[2018-09-14 18:47] malcook commented on #401
In the absence of progress on this, I'm going recommend that colleagues at my research institute collectively agree to annotate publicly and abide a convention to consistently use at least two tags:

 - TLD:stowers.org - being our top level domain
 - SCI:NNNNNN - being the ID of the research project in which we wish to surface the annotations (drawn from our internal *research project management s

[2018-09-14 18:52] malcook commented on #799
@judell  - thanks for entertaining my notions - I'm trying to drive a solution involving H and have further commented on related aspects [here](https://github.com/hypothesis/product-backlog/issues/401#issuecomment-421450792) where I welcome your further attention.

[2018-09-14 19:25] judell commented on #401
Good news! https://github.com/hypothesis/product-backlog/issues/30 is now, finally, on the front burner:  https://github.com/hypothesis/product-backlog/projects/6

Note that although I expect API-level wildcarding will work for RSS and Atom queries, such queries are unauthenticated and will not work for non-public layers. So if you want to leverage the simplicity and generality of RSS/Atom, which

[2018-09-14 19:58] malcook commented on #401
Yes - I've been watching #30 with interest and expecting that you would settle on stemming searches using % as wildcard as provided by your postgresql backing-store.

I have provided my own RSS feeds thanks to your examples.  I do like that this gives me the ability to reformat them as I see fit, especially since I want each RSS post to aggregate annotations since last (hourly?) crawl on a url bas

[2018-09-14 20:15] malcook commented on #401
Is it likely that you will implement "domain based groups" where membership is implicitly defined based on request coming from behind registered domain?

I'm sure there are issues with details (such as, if I leave my company, do I lose access to content I've written whilst a member of a "domain based group"?

Perhaps all y'all already have a considered opinion on this matter.... ???

Tx

[2018-09-14 21:34] judell commented on #401
Actually the API talks to elasticsearch, and its wildcard is '*'

Tragically.

Yes, this exists now. At https://europepmc.org/abstract/MED/10029393, for example, you'll see annotations in two groups: Public, and Europe PMC. The latter is a *restricted group" -- world-readable, writeable only by members, and visible (in the Hypothesis client) only on europepmc.org.

[2018-09-14 22:01] malcook commented on #401
I think we mean different things by "domain based groups".

My suggestion might be reduced to the following:

  - An H user can create a special "domain based group" (DBG) whose name ends in a TLD (.com, .org,. etc) only if their H account has an associated email validated to come from a domain whose name is that of the proposed group.
 - The creation of a DBG auto-notifies all H member with email

[2018-09-14 22:36] klemay commented on #689
Another user request: https://hypothesis.zendesk.com/agent/tickets/3055

[2018-09-15 22:22] malcook commented on #198
F1000 provides this.

FWIW I use them with a personal set of meanings for a few of the colors:

red - i disagree
orange - key idea
yellow - default
green - i concur
blue
pink

[2018-09-16 09:07] Denubis opened #802 "As a user, I would like to be able to use 2 factor authentication as specified by RFC6238 when logging in."
## Feature Request Form
### Problem you are trying to address with this feature

Considering the danger of password reuse and the general need for security in account management, I would like to request basic opt-in 2 factor authentication using RFC 6238 such that users must present a time-based challenge code when authenticating.

### Your solution

Add to the user table a key as per https://gith

[2018-09-17 16:22] klemay commented on #94
User request: https://groups.google.com/a/list.hypothes.is/forum/?utm_medium=email&utm_source=footer#!msg/dev/0E9GtIU_WBo/_yTox3RyEgAJ

[2018-09-17 16:33] klemay opened #803 "Link to annotation in context from RSS/Atom feed item"
Requested [in our dev forum](https://groups.google.com/a/list.hypothes.is/d/msgid/dev/ff974bad-857e-4e77-a3e8-b7ef9bdfd2ef%40list.hypothes.is?utm_medium=email&utm_source=footer).

In RSS/Atom feed entries, the url provided leads to a view of the annotation in the Hypothesis stream. Instead (or in addition), this user would like for this link to lead to the page/document being annotated with the an

[2018-09-17 17:00] robertknight commented on #564
Our database, search index and backup storage is now encrypted. For any customers who need that particular box ticked, we can now tick it.

[2018-09-17 17:00] #564 closed, assigned to nobody

[2018-09-17 17:05] robertknight commented on #621
This is now done.

[2018-09-17 17:05] #621 closed, assigned to nobody

[2018-09-17 17:06] #644 closed, assigned to nobody

[2018-09-17 17:07] robertknight commented on #619
The old DB instance has deleted. Old backups in S3 / RDS will gradually expire over the next 30 days. We can expedite this if necessary.

[2018-09-17 17:07] #619 closed, assigned to nobody

[2018-09-17 17:09] robertknight commented on #618
Neither of the backups are affected by the change to encrypt the underlying storage. The only change required was to update the endpoint for the pg_dump backup script.

[2018-09-17 17:09] #618 closed, assigned to nobody

[2018-09-17 17:09] #614 closed, assigned to nobody

[2018-09-17 17:52] klemay commented on #493
Another SPA example: https://dashboard.wikiedu.org/training/students/wikipedia-essentials/policies-and-guidelines-basic-overview

[2018-09-17 18:23] malcook opened #804 "RSS/Atom Feed channel title & link should name & link to the search behind the feed"
Currently, the RSS generated from:

```https://hypothes.is/stream.rss?tags=sci:3004```

contains

[code]
but profitably could be returned as below (where I have suggested edits for the title, link, atom:link and description):

[code]

Doing so would be more informative as to the content of the stream when presented in an RSS context, and provide opportunity to see the full stream contents in the h

[2018-09-17 18:39] #780 closed, assigned to dwolfe

[2018-09-17 19:08] malcook commented on #799
@judell - I like your current tag option in your experimental version of the plugin.  I might like even better if H google extension provided a shortcut key to copy down the previous tag, perhaps bound to control-d, as in Excel.  Could that possibly be added to non-experimental?  Advantages:
 - It would allow my workflow or any workflow that repeatedly uses a tag
 - It does not hide the tagging co

[2018-09-18 00:53] hmstepanek commented on #608
@ajpeddakotla @robertknight The last remaining issue (future es upgrade plan) is on the sprint board in to discuss so I think we can probably close this card as it's not tracking anything new?

[2018-09-18 10:42] robertknight opened #805 "Grafana broken after unexpected upgrade"
Yesterday I fixed a problem where login to our Grafana dashboard at https://mon.hypothes.is broke because the OAuth client used for Google SSO got deleted. After a new OAuth client had been provisioned and an updated Grafana config file had been deployed by ansible, we noticed that:

- Grafana looks somewhat different than before. It is now on version 5.2.2. I think we were running an older versio

[2018-09-18 10:47] seanh commented on #805
If Ansible's `configure` playbook did this there may be logs of it in Jenkins.

If fixing the dashboards doesn't look easy I think downgrading Grafana may be fairly easy.

[2018-09-18 10:56] robertknight commented on #608
Agreed. I removed that card from this issue.

[2018-09-18 10:56] #608 closed, assigned to nobody

[2018-09-18 16:59] judell commented on #799
Everything (well almost everything) is possible. It's all about needs and priorities. I'll note that the tag editor isn't a Hypothesis component, it's http://mbenford.github.io/ngTagsInput/ so presumably something like this would be an upstream change.

[2018-09-18 17:18] klemay opened #806 "When linking to a user's annotations, highlight only their annotations"
[From the Hypothesis forum](https://groups.google.com/a/list.hypothes.is/forum/?utm_medium=email&utm_source=footer#!msg/dev/sFH-3xmeK8Y/UmdH04yaEgAJ).

[2018-09-18 19:40] greebie commented on #806
I took a crack at this a little bit back. The method may be outdated, but the logic is available in the following pull request: https://github.com/hypothesis/client/pull/295 in case it is helpful to anyone wishing to implement the feature.

(Sorry for the confusion - the implementation was done by @robertknight after I had a very flawed implementation. And then I included some of the logic from my

[2018-09-18 20:37] klemay commented on #236
User request: https://hypothesis.zendesk.com/agent/tickets/3091

[2018-09-20 21:17] klemay opened #807 "Blog post and KB article for wildcard search"
Would be great if developers could help draft blog post here: https://docs.google.com/document/d/1Mcvntfi8zL-GtuQk3ri_aY5f5fCOgDWTvlfuTXQsQDc/edit

This would help both me AND Nate. :)

[2018-09-21 21:52] ajpeddakotla opened #808 "Investigate issue with DOI queries"
Problem:
A user reported an issue with DOI queries, in that the query via the API wasn't returning results. This is the query the user was trying: https://hypothes.is/api/search?uri=doi:10.16993/bao

After speaking with @hmstepanek, it does appear that something is going with the ability to query for DOIs. This work in this ticket is to investigate what the problem is, and if possible, to resolve

[2018-09-23 07:57] malcook opened #809 "Annotation content gets served as html in RSS/Atom entry content"
## Feature Request Form
### Problem: Annotations composed in markdown fail to be interpreted when rendered by RSS reader.

### Solution: have the RSS/ATOM feed content be "The Markdown-rendered and HTML-sanitized textual body of the annotation" instead of the raw markdown

### Add tags - did you add labels?
If this a customer requested feature, make sure to add that label.

[2018-09-24 10:01] robertknight commented on #739
Can this be closed now that [hypothesis/potemkin](https://github.com/hypothesis/potemkin) is a thing?

[2018-09-24 12:02] robertknight commented on #732
Based on my experiences of the Elasticsearch 1.x to 6.x upgrade in h, these are my current thoughts on how future upgrades can be done much more efficiently:

- Avoid a "write to multiple clusters at once" approach for future upgrades if possible. This took a lot of effort to implement and I'm certain there will be easier paths in future, especially since we are starting from a current version of

[2018-09-24 12:02] #732 closed, assigned to nobody

[2018-09-24 12:59] robertknight commented on #30
@hmstepanek - What is there left that you currently plan to do for this card?

[2018-09-24 13:23] aborruso commented on #30
Hi, is it already possible to test wildcard query?

Thank you

[2018-09-24 13:45] ajpeddakotla commented on #30
@aborruso through the API, yes.
Look here for the documentation: https://h.readthedocs.io/en/latest/api-reference/#operation/search.
<img width="953" alt="screen shot 2018-09-24 at 8 43 16 am" src="https://user-images.githubusercontent.com/7463523/45955651-1752a980-bfd6-11e8-85b2-4ee8d5461e64.png">

Please note that this feature is experimental and is subject to change. If testing goes well on thi

[2018-09-24 16:38] malcook commented on #30
This is great.  Hoping,  I tried wildcard to work with RSS tag search, but found it not to work.  Might this capability find a home there too?

[2018-09-24 18:36] ajpeddakotla opened #810 "Allow "?" inside the domain of uri's for activity pages"
To complete the [uri wildcard work](https://github.com/hypothesis/product-backlog/issues/30), we need to enable the ability to have `?` inside the domain of uri's for this query.

This is so urls that worked previously like https://example.com?foo=bar still work rather than the user having to move the query after the domain like https://example.com/?foo=bar.

Since supporting `*` in the domain is

[2018-09-24 19:25] ajpeddakotla opened #811 "Investigate why fetch_annotations is so slow"
Part of the research is documented here: https://docs.google.com/document/d/1gwcLAUbogRJ95tTW0tbxSonDim7itolqUVnLow-USyw/edit#heading=h.3de8xgxrwmfo

fetch_annotations appeared to be slow but not due to the postgres calls and this requires further investigation into it's implementation.

[2018-09-24 19:27] ajpeddakotla opened #812 "Fix non-performant database queries on activity pages"
See these incident reports for details: https://docs.google.com/document/d/1gwcLAUbogRJ95tTW0tbxSonDim7itolqUVnLow-USyw/edit.

https://docs.google.com/document/d/1gefQl1KBHFc4WMrt1vsWBrKYqRxc5bfU9AFbIbecyRw/edit

[2018-09-24 19:29] judell commented on #812
<s>What are some example of non-performant queries?</s> Never mind, found the incident report.

[2018-09-24 19:32] robertknight commented on #810
Hi Arti,

We've solved the main problem outlined in the linked issue (return all the annotations on my website). It was an explicit decision not to support wildcards in the domain due to concerns about performance [1].

Depending on the reason _why_ someone might want to do wildcard searches in the domain we might prefer to suggest other options.

For example, if the use case is a publisher wantin

[2018-09-24 19:35] hmstepanek commented on #810
@robertknight I asked @ajpeddakotla to add this because without this, it breaks urls that worked before which I think is a problem and as some other people on the team pointed out it's not intuitive without this support. I'm thinking tentatively what I'm going to do is route any queries with ? in the domain to the non-wildcard filter and allow a * in the domain but only at the end.

[2018-09-24 19:37] robertknight commented on #810
Hi Hannah - I think my understanding of what is meant by this issue is different than yours. Can you clarify with some examples? In particular what did you mean by "breaks URLs that worked before"?

[2018-09-24 19:38] hmstepanek commented on #810
I've provided an example in the description-let me know if that's not clear or it needs more explanation.

[2018-09-24 19:47] robertknight commented on #810
Right, that's definitely not what I understood from the initial description. So my understanding is there are two issues:

- URLs containing "?" wildcards are now ambiguous (Does the "?" mean a wildcard or a query string?) and thus interpreted differently than before. _However_ a "?" _will_ match a literal "?", so actually is this a problem? For example, here is a URL that was recently annotated i

[2018-09-24 19:56] hmstepanek commented on #810
This isn't specifically the problem here. It is a problem because all ? are currently treated as wildcards and since wildcards are not allowed in the domain those urls are invalid urls. It's not that the ? will not match correctly, it's that it is not allowed inside the domain and so all urls with queries as part of the domain will be ignored/stripped from the search query.

Yes to the second bull

[2018-09-24 20:18] ajpeddakotla commented on #566
Issue updated - original comment has been updated to add user story and acceptance criteria @dwolfe @dwhly

[2018-09-24 20:28] ajpeddakotla commented on #493
Another SPA example: https://hypothesis.zendesk.com/agent/tickets/3109

[2018-09-24 21:26] judell commented on #810
I think @hmstepanek reported elsewhere, and I just verified for myself, that there are (and will continue to be) a _lot_ more `target_uri` with `?` (300k) than with `*` (7k). That's one reason why I've proposed dropping the single-character wildcard.  `*` is an essential feature. `?` is a nice-to-have that arguably doesn't justify its cognitive overhead relative to a namespace in which `?' is comm

[2018-09-25 09:40] seanh commented on #739
Yeah, I'd say we can close this now. We'll add to Potemkin bit by bit now (and can create cards for those bits if we want) but this card is finished

[2018-09-25 09:40] #739 closed, assigned to seanh

[2018-09-25 10:41] #791 closed, assigned to robertknight

[2018-09-25 10:41] #790 closed, assigned to robertknight

[2018-09-25 10:41] #730 closed, assigned to seanh

[2018-09-25 10:42] #727 closed, assigned to nobody

[2018-09-25 10:42] #726 closed, assigned to nobody

[2018-09-25 10:42] #708 closed, assigned to nobody

[2018-09-25 10:45] #596 closed, assigned to nobody

[2018-09-25 10:45] #595 closed, assigned to nobody

[2018-09-25 13:02] robertknight commented on #762
Assigned to me for the moment to review Sean's notes above and see if we can break this work into smaller steps.

[2018-09-25 14:00] robertknight commented on #758
I removed the "P1" label because Dave and Sheetal were able to successfully do a client release without any input from me last sprint so the problem is not as serious as it might have seemed before.

[2018-09-25 14:12] robertknight commented on #808
Do you have a link to the original report Arti? I tried this query just now and it is returning results.

[2018-09-25 14:35] klemay opened #813 "Treat HTTP and HTTPS as interchangeable when scoping groups"
Currently, if I scope a group to http://www.mywebsite.com it will not show up on https://www.mywebsite.com, and vice versa.

As a workaround, I can scope a group to both the HTTP and HTTPS addresses, but in the future, especially if publisher groups become self-serve, we'll want to treat HTTP and HTTPS as interchangeable.

[2018-09-25 14:45] sheetaluk commented on #635
Problem:
QDR wants the ability to annotate across different webpages but within the same group. They want this group to be sharable with anybody, without having to ask them to join this group. They also want to restrict write access to just group members.

What they seem to be describing is what we are calling restricted groups minus the scoping requirement.

We have 3 parts to this problem:
(1) g

[2018-09-25 14:45] ajpeddakotla commented on #808
Yep @robertknight ticket is here: https://hypothesis.zendesk.com/agent/tickets/3106

[2018-09-25 15:51] klemay commented on #566
To see the questions/requests that have come in before, see https://hypothesis.zendesk.com/agent/admin/tags

Click on "export" and you'll see current & past issues about exporting.

Note: when you follow the link above, you will be prompted to sign in with Google. Use zendesk@hypothes.is for the email address. The password is in Passpack - ask Dan for access if you can’t see it.

[2018-09-25 17:15] klemay opened #814 "Share links not working for APA articles"
This is related to https://github.com/hypothesis/product-backlog/issues/720, but before we solve this issue on a broader level, we need to fix it for APA.

## Summary
The APA has embedded the Hypothesis client on their dev server and will soon embed on production. Currently, share links for annotations on articles do not work properly. What we're seeing is:

- A user is annotating an APA article.

[2018-09-25 17:15] seanh opened #815 "How can we enable deleting user accounts that have created a group that has annotations from other users?"
Spike to decide how can we enable deleting user account that have created a group that has annotations from other users.

Possibilities:

* Delete the groups and any annotations they contain
* Reassign the group creator to another user (possibly a default "Ghost User" account), thus enabling the original group creator user to be deleted

Related:

* https://github.com/hypothesis/private-issues/iss

[2018-09-26 07:41] robertknight commented on #813
We treat HTTP and HTTPS as interchangeable when searching for annotations on a given URL, so I think this makes sense both for consistency and also because in practice I can't imagine a scenario where a publisher would want a group to show up on the site when delivered over HTTPS but not HTTP and vice-versa.

[2018-09-26 09:11] robertknight commented on #814
So to resolve this, somehow Bouncer needs to know that the target site embeds the client. I can think of a few options:

1. Bouncer fetches the target URL before redirecting the user and examines the response. For publicly accessible URLs, it could look for the presence of the embed script in the HTML. In this context however the URL is behind a paywall, so either bouncer would have to be able to

[2018-09-26 09:14] robertknight commented on #814
For the sake of listing the very dumbest and quickest approach we could take here, we could add a text file to the bouncer repo which lists URL prefixes that are assumed to embed the client. The redirect view would check the annotation URL against this list before redirecting the user.

[2018-09-26 09:46] robertknight commented on #812
Based on the details in the incident report and Hannah's comments in Slack, it looks like it is this count which is computed in an expensive and unnecessarily exact way:

<img width="1101" alt="screenshot 2018-09-26 10 40 24" src="https://user-images.githubusercontent.com/2458/46072021-38073480-c179-11e8-9c25-97a88bbe1e11.png">

https://github.com/hypothesis/h/blob/a2ed4eaf27dceaf47870ae4d60afd2fd

[2018-09-26 13:47] dwhly commented on #814
Dumb for now, smart later?

[2018-09-26 17:57] #794 closed, assigned to lyzadanger

[2018-09-26 18:47] judell commented on #378
/cc @dwolfe

Re: http://jonudell.net/h/simple-replies-in-activity-pages.mp4, which links out to the standalone client view, see also http://jonudell.info/h/replies-in-ap-pages.mp4 which activates the client view inline.

Neither is entirely satisfactory. But the former approach, more specifically https://github.com/hypothesis/h/compare/master...robertknight:reply-count-badge, could be a workable i

[2018-09-26 20:18] klemay commented on #814
From APA:

Our developer took a look at Robert’s comments and he said that he believes
option #2 or #3 will work just fine.

We only have one URL prefix that allows their plugin embedding,
"/fulltext", and it doesn't have many URL subsets that do not use your
plugin within that path.

On Wed, Sep 26, 2018 at 9:48 AM Dan Whaley <notifications@github.com> wrote:

--
Katelyn Lemay
Support Engineer @

[2018-09-26 20:28] robertknight commented on #814
OK. I'll suggest that we go with option #2 then. We can extend this to support other methods of determining whether a target URL embeds the client in future.